[2017-11-23 06:08] abhagupta commented on #1788
Sure. You can email me at abha.agupta@gmail.com. We essentially mock the
responses of third party calls with a mocking server. We have in-house
built mocking service but it is similar to products like Wiremock,
MockServer etc . If you are in node world, you can make use of Smocks, nock
etc.
On Wed, Nov 22, 2017 at 7:59 PM Jonathan Lee <notifications@github.com>
wrote:

[2017-11-23 06:52] Algram opened #1819 "Using Sitespeed in Kubernetes"
Hi there,

we are currently setting up sitespeed.io Tests in our Kubernetes Cluster. So far it worked pretty straight forward, but now we hit kind of a deal-breaking problem:
Kubernetes does not support throttling network connections, so we can only run our tests without any throttling. This makes them pretty inconsistent and not reliable.

We cannot use `tc` in Kubernets to set up throttled Netwo

[2017-11-23 07:08] Algram commented on #1688
The basic setup with Grafana, Graphite and the Sitespeed Runners is working in our Kubernetes Cluster here via CronJobs. We ran into issues with network throttling though: https://github.com/sitespeedio/sitespeed.io/issues/1819

[2017-11-23 07:35] soulgalore commented on #1819
Hey @Algram I've heard other people that had problem with throttling So if I understand correctly you cannot use tc inside the container or setting up Docker networks?

You could try https://github.com/WPO-Foundation/tsproxy  - we had it in Browsertime but removing to 2.0 now, since for us it didn't work out so good (it became really slow) but maybe the problem is how we do it (start it in NodeJS

[2017-11-23 07:39] Algram commented on #1819
Yeah, that is exactly the problem.

Okay `tsproxy` looks a little bit more promising. If I understand correctly we would have to create a proxy for every network speed we have, correct?

[2017-11-23 07:43] soulgalore commented on #1819
yep or start/stop/change it between runs, it depends on your setup. This is how we used to run it  with [Chrome](https://github.com/sitespeedio/browsertime/blob/1.x/lib/core/webdriver/chrome.js#L186-L193) and [Firefox](https://github.com/sitespeedio/browsertime/blob/1.x/lib/core/webdriver/firefox.js#L234-L239).

[2017-11-23 08:02] soulgalore commented on #1816
I updated the adb-kit and I got this working in Browsertime in Docker but not sitespeed.io. We don't populate the Browsertime log with the same verbose settings as sitespeed.io so I don't get the log I need, I will look into that first (or something is wrong with the verbose logging).

[2017-11-23 09:24] soulgalore commented on #1816
The problem is that we try to start xvfb even though we don't use it :

[code]

[2017-11-23 09:50] xavier-medioni commented on #1569
Hi Al,

A few additional documentation (even if then code is 2 years old):
[axemclion/chrome-selenium-timeline.js](https://gist.github.com/axemclion/38265a963f5a863f7a53)

[2017-11-23 10:28] soulgalore commented on #1816
This is fixed in master now (by upgrading browsertime), we will release it in one day or so.

[2017-11-23 11:31] Algram commented on #1819
Okay in the code you linked browsertime is setting "localhost" fro the name of the tsproxy. In our case tsproxy is not on localhost though but has a separate hostname. Is there any way in the current implementation to also set that?

[2017-11-23 11:53] soulgalore commented on #1819
That was meant as an exampöe, you shouldn't use the built in TSProxy as it doesn't work but you should try to run it standalone outside of Browsertime and see if it is ok and then you pass on the cli params to Chrome. That's the best way I think.

[2017-11-23 11:54] Algram commented on #1819
Yeah exactly so my question was how do I pass cli params to chrome with the sitespeed runner?

[2017-11-23 12:11] soulgalore commented on #1819
Ah sorry. Every cli parameter you pass on with --browsertime.X will be passed to browsertime, so you can configure the exact same thing using sitespeed.io

In browsertime you pass **----chrome.args** and if you want to do that from sitespeed you just **--browsertime.chrome.args** to set chrome command line arguments.

[2017-11-23 12:14] Algram commented on #1819
Okay thanks a lot! I will try and set that up and inform you if it works or not.

[2017-11-23 13:24] soulgalore opened #1822 "ENV set in Dockerfile is Strings but we treat them as booleans"
This is generic problem we have in both Browsertime and sitespeed.io. We get "false" but treat want to treat it as a boolean.

[2017-11-23 15:07] Algram commented on #1819
So I am passing the proxy option lik that, but it does not seem to work. Any suggestions? `--browsertime.chrome.args='--proxy-server=socks5://123.456.789.1:1080'`

[2017-11-23 16:48] khalmur commented on #1817
@beenanner my docker-compose wasn't running latest, sorry about that. Closing issue.

[2017-11-23 16:48] #1817 closed

[2017-11-23 19:39] soulgalore commented on #1819
hmm, we miss that in the docs, you should leave out -- in the args to Chrome. `--browsertime.chrome.args='proxy-server=socks5://123.456.789.1:1080'` - I tried on my local  machine and it worked.

[2017-11-23 23:18] soulgalore commented on #1793
Lets move the wish list to new issues.

[2017-11-23 23:18] #1793 closed

[2017-11-24 00:15] soulgalore opened #1823 "Budget errors"
Running grunt-sitespeed.io https://github.com/sitespeedio/grunt-sitespeedio/tree/master/test generated the following errors:

[code]

We need to check if the grunt config is old/wrong or if there's an error in the budget plugin.

[2017-11-24 05:12] soulgalore commented on #1823
This was broken/changed in 4.4

[2017-11-24 05:12] #1823 closed

[2017-11-24 07:55] soulgalore commented on #1816
This was released yesterday. Please re-open if you still have the problem!

[2017-11-24 07:55] #1816 closed

[2017-11-24 07:56] soulgalore commented on #1797
released this yesterday, please re-open if you still get the problem

[2017-11-24 07:56] #1797 closed

[2017-11-24 08:04] soulgalore opened #1824 "[Tracking] Browser bugs"
Here are the known bugs that effect running tests in sitespeed.io

## Chrome
 - [ ] Running on emulated mobile sets the window size wrong on Linux and that makes the screen flicker at the end of the run, giving us wrong last visual change. Introduced in Chrome 61. See https://bugs.chromium.org/p/chromium/issues/detail?id=776053 You can probably work around it by setting width/height user agent you

[2017-11-24 08:05] soulgalore commented on #1751
We released a new version yesterday and now everything needs 8.9 and docs are updated.

[2017-11-24 08:05] #1751 closed

[2017-11-24 08:05] soulgalore commented on #1747
Fixed and released.

[2017-11-24 08:05] #1747 closed

[2017-11-24 08:06] soulgalore commented on #1743
Fixed by Jonathans comments.

[2017-11-24 08:06] #1743 closed

[2017-11-24 08:07] soulgalore commented on #1746
Hey @httpways hmm will --outputFolder help? need to check that.

best
Peter

[2017-11-24 08:10] soulgalore commented on #1727
You can get everything in the context now.

[2017-11-24 08:10] #1727 closed

[2017-11-24 08:10] soulgalore commented on #1726
Now they can talk to each other, keep it like that for now.

[2017-11-24 08:10] #1726 closed

[2017-11-24 08:12] soulgalore commented on #1724
@Mr0grog we done some fixes here in the latest release see: https://www.sitespeed.io/documentation/sitespeed.io/plugins/

There's a setup phase now when plugin can talk to each others. Plugins can send JavaScript to browsertime and catch the result.

They will depend on each other but hopefully you can do the most of what you need. Else please re-open or create a new issue.

[2017-11-24 08:12] #1724 closed

[2017-11-24 08:13] soulgalore commented on #1720
Old docs removed.

[2017-11-24 08:13] #1720 closed

[2017-11-24 08:14] soulgalore commented on #1701
Please re-open if this is still an issue for you.

[2017-11-24 08:14] #1701 closed

[2017-11-24 08:15] soulgalore commented on #1718
fixed and release some time ago

[2017-11-24 08:15] #1718 closed

[2017-11-24 08:15] #1737 closed

[2017-11-24 08:15] Algram commented on #1819
We finally got the proxy working in our cluster now! One of the pitfalls was that we needed to specify the cli without the `'`. Otherwise the cli parameter won't be interpreted by kubernetes.
If you have any further questions, feel free to ask :)

[2017-11-24 08:19] soulgalore commented on #1738
Ok I've released some better checks now, but I think the original problem could still be there.

There's a hidden feature where you can increase the time to wait for the video to be ready (default is 5 seconds) **--browsertime.videoParams.androidVideoWaitTime 5000**. If you can try that and increase the time and report back if that helped, that would be super!

[2017-11-24 08:21] soulgalore commented on #1819
Aha thanks. Looking forward to your blog post @Algram ;)

One question: do the timings from the proxy looks ok? I remember when I was trying out https://en.wikipedia.org/wiki/Barack_Obama on cable or was it 3g the total load time was over a minute (but should be seconds).

[2017-11-24 08:23] soulgalore commented on #1681
@siteriaitaliana has started on a plugin at https://github.com/siteriaitaliana/plugin-lighthouse help him out there :)

[2017-11-24 08:23] #1681 closed

[2017-11-24 08:24] soulgalore commented on #1674
I've been running Firefox 57 without HAR support and it works ok, so I wonder if Safari can work fine except there's no way to do automatic testing right? If @tobli and @beenanner approve we could accept PRs for it in Browsertime (and we can help out).

[2017-11-24 08:25] soulgalore commented on #1668
We build everything now with node 8 and hopefully it "just works". Please re-open if you still got the problem.

[2017-11-24 08:25] #1668 closed

[2017-11-24 08:26] soulgalore commented on #1634
In 6.0 you can choose display number (check the docs for Browsertime), I think that fixes the problem, else please re-open.

[2017-11-24 08:26] #1634 closed

[2017-11-24 08:28] soulgalore commented on #1631
Hey @krukru in the latest 6.0 plugins can generate HTML + plugins can talk to each other and your plugin can send JavaScript to Browsertime to execute. This will not solve everything but you can at least add whatever custom metrics you want.

[2017-11-24 08:29] soulgalore commented on #870
released.

[2017-11-24 08:29] #870 closed

[2017-11-24 08:29] soulgalore commented on #1141
WOHO released in 6.0

[2017-11-24 08:29] #1141 closed

[2017-11-24 08:30] Algram commented on #1819
Well it heavily depends on the speeds configured in tspoxy I guess, but the values we get seem to be reasonable for the speeds we set.

`INFO: 85 requests, 1205.25 kb, backEndTime: 6.28s, firstPaint: 12.82s, firstVisualChange: 13.97s, DOMContentLoaded: 13.80s, Load: 43.96s, speedIndex: 20253, visualComplete85: 19.93s, lastVisualChange: 39.97s, rumSpeedIndex: 19712`

These are the load times that w

[2017-11-24 08:34] soulgalore commented on #1819
Thanks again for sharing @Algram !

[2017-11-24 08:35] httpways commented on #1746
Hi @soulgalore , thanks for your reply.

I'm trying to make it work with **--outputFolder** option but I'm struggeling with docker volumes I guess.

I'm actually working in the home dir of root user:
[code]

As you can see, i have all my urls splitted into files as we said earlier.

**Find below the commands I'm trying to run:**
[code]
**_--> DO NOT WORK_**

**_and_**

[code]
**_--> DO WORK but wr

[2017-11-24 08:37] soulgalore commented on #1287
This is not so important right now, lets close it.

[2017-11-24 08:37] #1287 closed

[2017-11-24 08:37] soulgalore commented on #1562
https://www.sitespeed.io/documentation/sitespeed.io/best-practice/

[2017-11-24 08:37] #1562 closed

[2017-11-24 08:44] soulgalore commented on #1543
so @obihill can I close this or?

[2017-11-24 08:49] alexbuldyaev commented on #1471
![image](https://user-images.githubusercontent.com/9670664/33202350-409eb8d2-d10d-11e7-910c-41100a3c750a.png)
Hi @soulgalore , have a problem with DigitalOcean machine.

Info:
Python 3.5
![image](https://user-images.githubusercontent.com/9670664/33202420-8d8ed744-d10d-11e7-9191-e7df67738fc0.png)

[2017-11-24 08:51] soulgalore commented on #1471
@alexbuldyaev this has nothing to do with sitespeed.io, you should ask the Selenium team.

[2017-11-24 08:56] krukru commented on #1631
Thank you Peter for all the good work you are putting into this tool :-)

[2017-11-24 08:56] #1631 closed

[2017-11-24 11:28] soulgalore commented on #1012
We can close this. We should do a major refactoring of the aggregators instead.

[2017-11-24 11:28] #1012 closed

[2017-11-24 11:32] soulgalore commented on #1267
This was pushed in 6.0, it catches if one of the URLs fail. However we still have work 2do to make sure some errors give right exit code.

[2017-11-24 11:32] #1267 closed

[2017-11-24 11:33] soulgalore commented on #1306
Closing this for lack of answer.

[2017-11-24 11:33] #1306 closed

[2017-11-24 11:33] soulgalore commented on #1307
Woho it got looove now.

[2017-11-24 11:33] #1307 closed

[2017-11-24 11:35] soulgalore opened #1825 "Make it possible for plugins to add it metrics to the budget"
As a plugin you can push metrics to the HTML plugin, we should do the same for the budget plugin.

[2017-11-24 11:35] soulgalore commented on #1314
We moved out GPSI to a own plugin in 6.0. That will happen in https://github.com/sitespeedio/sitespeed.io/issues/1825

[2017-11-24 11:35] #1314 closed

[2017-11-24 11:38] soulgalore commented on #1385
This is released since a looong time.

[2017-11-24 11:38] #1385 closed

[2017-11-24 11:41] soulgalore commented on #1400
In 6.0 you can add CSS as a plugin that overrides the current version, checkout https://github.com/sitespeedio/sitespeed.io/pull/1787/files

[2017-11-24 11:41] #1400 closed

[2017-11-24 11:42] soulgalore commented on #1500
Closing this, please re-open if it is still a problem.

[2017-11-24 11:42] #1500 closed

[2017-11-24 11:43] soulgalore commented on #1543
Closing but please re-open or send a PR if this is something you need.

[2017-11-24 11:43] #1543 closed

[2017-11-24 11:43] #1557 closed

[2017-11-24 11:45] soulgalore commented on #1572
Nothing to do with sitespeed.io, closing.

[2017-11-24 11:45] #1572 closed

[2017-11-24 11:47] soulgalore commented on #1582
I think this will not happen, sorry. I want to focus on other things.

[2017-11-24 11:47] #1582 closed

[2017-11-24 11:47] soulgalore commented on #1615
Nothing here 2do.

[2017-11-24 11:47] #1615 closed

[2017-11-24 11:48] soulgalore commented on #1617
I think we can close this, please re-open if you think it's something we need.

[2017-11-24 11:48] #1617 closed

[2017-11-24 11:49] soulgalore commented on #1637
Closing, nothing more 2do here.

[2017-11-24 11:49] #1637 closed

[2017-11-24 11:52] soulgalore commented on #1611
It's there now!

[2017-11-24 11:52] #1611 closed

[2017-11-24 11:52] soulgalore commented on #1641
Closing, @tobli idea should solve it.

[2017-11-24 11:52] #1641 closed

[2017-11-24 11:54] soulgalore commented on #1645
We have p90 and p99,  I'm open for PRs to make it configurable :) Until then I close this issue.

[2017-11-24 11:54] #1645 closed

[2017-11-24 11:55] soulgalore opened #1826 "Use Grafana annotations"
The annotations today use Graphite/InfluxDB. It would be cool to start use the generic Grafana ones (released in 4.6.0) so that we have generic annotations for all Grafana supported storages.

[2017-11-24 11:57] soulgalore commented on #1742
We need more info to help out. Please re-open if you need more help!

[2017-11-24 11:57] #1742 closed

[2017-11-24 12:00] soulgalore commented on #1683
Seems to be fixed now :)

[2017-11-24 12:00] #1683 closed

[2017-11-24 12:24] soulgalore opened #1827 "The big "I want to test multiple pages/upload images/open popups" issue"
Very often we have issues where you as a user want to test a user flow: You want to access one URL, add something to the cart, then go to a new page etc. And then have measurements for everything. Or you maybe want to upload something and measure that. Or you want to click a link and measure it.

What we have today:
Today we have support for running a Selenium NodeJS script before you go to a URL

[2017-11-24 12:26] soulgalore commented on #1796
I created a discussion issue for this and closing all other issues: #1827 Let us do all the talking there :)

[2017-11-24 12:26] #1796 closed

[2017-11-24 12:27] soulgalore commented on #1748
I created a discussion issue for this and closing all other issues: #1827
That will makes it simpler for us since we have many issues something like this one! Let us do all the talking there :)

[2017-11-24 12:27] #1748 closed

[2017-11-24 12:27] soulgalore commented on #1734
I created a discussion issue for this and closing all other issues: #1827 Let us do all the talking there :)

[2017-11-24 12:27] #1734 closed

[2017-11-24 12:28] soulgalore commented on #1686
I created a discussion issue for this and closing all other issues: #1827 Let us do all the talking there :)

[2017-11-24 12:28] #1686 closed

[2017-11-24 12:30] soulgalore commented on #1570
We should be able to do this with a plugin. We should make sure the plugin that stores the screenshots sends a message to the queue when the file is stored, and then this plugin will optimize the image.

[2017-11-24 12:34] soulgalore commented on #1819
@Algram I close this now. Thanks for sharing and what about writing a blog post of how you do it for the Performance Calendar - http://www.phpied.com/performance-calendar-17-call-to-all/ ?

[2017-11-24 12:34] #1819 closed

[2017-11-24 12:35] soulgalore commented on #1696
I think it is ok as long as we link to the right one.

[2017-11-24 12:35] #1696 closed

[2017-11-24 12:37] soulgalore commented on #1684
Hi @kchoi01 this works for me. Please re-open if this is still a problem for you.

[2017-11-24 12:37] #1684 closed

[2017-11-24 12:39] soulgalore commented on #1698
Closing, please re-open if this is still an issue.

[2017-11-24 12:39] #1698 closed

[2017-11-24 12:40] soulgalore commented on #1670
Nothing we can do here on our side right? Else please re-open the issue.

[2017-11-24 12:40] #1670 closed

[2017-11-24 12:42] soulgalore commented on #1664
Nothing more 2do here right? Also this is related to https://github.com/sitespeedio/sitespeed.io/issues/1827

Closing, but please re-open if I missed something.

[2017-11-24 12:42] #1664 closed

[2017-11-24 12:44] soulgalore commented on #1663
PRs are open for this, but nothing we will active work on.

[2017-11-24 12:44] #1663 closed

[2017-11-24 12:45] soulgalore commented on #1354
Closing and moving the discussion to https://github.com/sitespeedio/sitespeed.io/issues/1827

[2017-11-24 12:45] #1354 closed

[2017-11-24 12:46] soulgalore commented on #1719
6.0 is released, let us do the same for 7.0.

[2017-11-24 12:46] #1719 closed

[2017-11-24 12:47] soulgalore commented on #1694
I think this is nothing we will actively work on, but we are open for PRs.

[2017-11-24 12:47] #1694 closed

[2017-11-24 12:48] soulgalore commented on #1384
We will not actively work on this, but we happily accepts PRs :)

[2017-11-24 12:48] #1384 closed

[2017-11-24 12:49] soulgalore commented on #1569
I'm not seeing how we will use this in sitespeed.io, instead I think it's better to help @siteriaitaliana with his Lighthouse plugin.

[2017-11-24 12:49] #1569 closed

[2017-11-24 12:51] soulgalore commented on #1452
I think this is something we are open to PRs but we will not work on it (if not @tobli solution is almost finished).

[2017-11-24 12:51] #1452 closed

[2017-11-24 12:52] soulgalore commented on #1618
I personally think WebPageTest needs the JavaScript part of the coach too, to give better advice. I want to close this but it depends on what you want @JeroenVdb

[2017-11-24 12:53] soulgalore commented on #1788
I've added a part in the docs about the difference, please send PRs if I missed anything: https://www.sitespeed.io/documentation/sitespeed.io/best-practice/#difference-in-metrics-between-webpagetest-and-sitespeedio

Closing, let me know if you need more info!

[2017-11-24 12:53] #1788 closed

[2017-11-24 12:54] #1709 closed

[2017-11-24 12:56] soulgalore commented on #1656
I don't see how this would work? Is it the fully loaded or? I think this can be a nice plugin for someone outside the team to implement :) Closing for now, but please let us know if there's a plugin out there.

[2017-11-24 12:56] #1656 closed

[2017-11-24 12:58] soulgalore commented on #1785
@rschoessler we got 57 running in Docker for https://dashboard.sitespeed.io/dashboard/db/browsers where it works, can you try again with the stable 57 and include --skipHar in your run?

[2017-11-24 13:01] soulgalore commented on #1757
In latest browsertime we added` --firefox.acceptInsecureCerts` for Firefox, if you use it from sitespeed.io use `--browsertime.firefox.acceptInsecureCerts`.

[2017-11-24 13:06] soulgalore commented on #1689
so if I wanna try this, do we know which region? maybe we just need to upgrade the s3 plugin?

[2017-11-24 13:10] soulgalore commented on #1474
This is doable now the the HTML plugin sends a message when it is finished **html.finished**

[2017-11-24 13:13] soulgalore commented on #1655
Please re-open if there's something more to be done in this issue!

[2017-11-24 13:13] #1655 closed

[2017-11-24 13:13] soulgalore commented on #1635
This should be moved to Browsertime.

[2017-11-24 13:14] obihill commented on #1543
Hi @soulgalore. Thanks. Will do.

[2017-11-24 15:01] pborreli commented on #1570
shouldn't JPG a better format to store those captures ?

[2017-11-24 17:48] hunt3r commented on #1747
Cool, I'll pull the latest.

[2017-11-24 22:16] soulgalore commented on #1570
yeah but then you need to have imagemagick or graphicmagick installed to convert it or is there another way?

[2017-11-25 15:15] fbusse commented on #1689
@soulgalore Sorry if you were waiting for a response from me: My test was with eu-central-1.
All new regions use SigV4.

[2017-11-25 21:09] soulgalore commented on #1689
@beenanner started to look at this but not sure why it's not working (removed my branch since it uses v4 per default). let me know if you have any idea.

[2017-11-25 22:47] soulgalore commented on #1689
Seems to be that the s3 module we use hasn't been updated with the latest aws-sdk https://github.com/andrewrk/node-s3-client/issues/175

[2017-11-25 23:26] beenanner commented on #1822
Look like we may need to handle this in the wrapper script to convert from a string to a boolean?

[2017-11-26 01:01] beenanner commented on #1822
It appears process.env stores everything as a string. I think it's also being parsed by yargs in browsertime and converted to a boolean or at least should be?
 https://github.com/sitespeedio/browsertime/blob/master/lib/support/cli.js#L54

https://github.com/sitespeedio/browsertime/blob/master/lib/support/cli.js#L432

[2017-11-26 06:22] soulgalore commented on #1822
yes but I think it's not. I logged the options object and it had 'false'/'true' for the env. Had a problem with turning on/off XVFB fo android.

[2017-11-26 08:22] Nuoky commented on #1827
I implemented some DOM operations through the Chrome plugin, but I can only solve this problem by using the pageCompleteCheck to set the test time.

Sorry, google translate.

* example：
[code]
[code]

[2017-11-27 09:03] soulgalore commented on #1827
@Nuoky thanks for sharing!

[2017-11-27 10:41] xavier-medioni commented on #1569
Hi all,

The main point is to be able to map the network information (from the HAR file) to the visual progress and the execution information (from the trace file). Those data make sense only if extracted from the same page load in order to model the page lifecycle.
According what I have read from the lighthouse plugin from @siteriaitaliana, a second lighthouse page load is performed.

Today, I on

[2017-11-27 10:53] soulgalore commented on #1569
@xavier-medioni I personally think @siteriaitaliana approach is fine. What makes lighthouse good is the rules it has, and to be ables to run those is kind a nice feature.

The VisualMetrics though from Lighthouse can be wrong for slow sites since there's a limit on how many screenshots that can be made (450 frames see https://bugs.chromium.org/p/chromium/issues/detail?id=739759).  If that's fixed

[2017-11-27 11:25] Algram commented on #1570
We could use something like Sharp https://github.com/lovell/sharp. It would still need compiling but has very good cross platform support and is fast. I like the idea of keeping this a plugin.

[2017-11-27 11:32] Nuoky opened #1830 "Using Docker to test android's video functionality does not work"
Hi.

Sitespeed can open the browser normally, but the video can not be working.

run:
[code]

output:
[code]

Thanks!

[2017-11-27 11:59] soulgalore commented on #1830
Hi @Nuoky thanks for reporting. So it seems there's some kind of error with the video file. Which phone are you using? By default, we wait for 5 s before the video is transfered but you can increase that time with `--browsertime.videoParams.androidVideoWaitTime 10000` (the time is in ms) and see if that could be the problem.

Best
Peter

[2017-11-27 12:08] Nuoky commented on #1830
@soulgalore I tried but still the same problem.

[2017-11-27 12:17] soulgalore commented on #1830
What phone are you using? Can you check the recorded video on the phone and download it manually or is it already on your desktop, then if you can share it that would be great!

[2017-11-27 14:35] Nuoky commented on #1830
phone: Nexus 6P(8.0)、Honor V9(7.0)、Honor 7(root 5.0.2)

I tried using a root mobile phone to test, you can find the video in the output directory, but the error was generated when the test report is generated.

Q: Need root mobile phone to run?

[code]

[2017-11-27 14:42] soulgalore commented on #1830
No you don't need root. The video should be on your memory card so you could just copy it to desktop.

Ah thanks that's another error. It cannot find the start of the video (we start with an orange screen and then go to white), it's probably some tuning that depends on the phone,  I will look at it tomorrow.

[2017-11-27 15:29] rschoessler commented on #1785
**TL;DR:**  Status looks to be the same/similar to before.  However, maybe this is related to Firefox and preScript??

..........
Here's my current status:

Created a new clone of sitespeed from github
Run a simple test works fine:
`c:\sitespeed2\sitespeed.io\bin>node sitespeed.js https://my.testsite.com/ -n 1 -b firefox --browsertime.firefox.acceptInsecureCerts --browsertime.skipHar`

Run a test

[2017-11-27 20:44] Mr0grog opened #1831 "Repeating `--plugins.add` or `--plugins.remove` throws exceptions"
I’ve just upgraded to v6 and the configuration documentation says “specify multiple plugin names separated by comma, or repeat the --plugins.add option” for both `--plugins.add` and `--plugins.remove`. However, repeating them doesn’t actually work and in fact throws an exception:

[code]

It looks like the problem is that the [`coerce` function for plugins doesn’t check the type for the `add`/`rem

[2017-11-27 20:58] soulgalore commented on #1831
Thanks @Mr0grog for reporting, let us fix this ASAP.

[2017-11-27 22:04] #1831 closed

[2017-11-27 22:15] soulgalore commented on #1831
thanks again @Mr0grog for reporting, pushed 6.0.1 a couple if minutes ago with the fix.

[2017-11-27 22:56] soulgalore commented on #1570
@Algram yes good idea, that would be great to convert to jpeg + change the size. Let me give it a try.

[2017-11-27 23:02] soulgalore commented on #1785
@rschoessler ah thanks. yes that error you get is from Selenium, I know there's been issues in the past with Firefox (our default test login script on Wikipedia didn't work) but I thought that would be fixed now when we upgraded Geckodriver.

`UnknownCommandError: POST /session/9eba953f-4056-49a3-a3be-70e0a6ddcdd6/element/515628e0-db22-40ce-963f-9ea0c0640d5b/submit did not match a known command`

[2017-11-27 23:18] soulgalore commented on #1570
Did a quick try, this will work great. Think we should include it in the screenshot plugin by default and then make it configurable.

[2017-11-27 23:43] soulgalore commented on #1570
Started in https://github.com/sitespeedio/sitespeed.io/tree/sharp

[2017-11-28 00:53] Mr0grog commented on #1724
This is a huge improvement, thanks!

However, it seems like I need to use the `browsertime.config` message to set up pre/post scripts, and when doing that I run the risk of clobbering ones specified by other plugins or via CLI (because [it just uses `lodash.merge()` on the options](https://github.com/sitespeedio/sitespeed.io/blob/master/lib/plugins/browsertime/index.js#L153-L156), which replaces/m

[2017-11-28 01:15] soulgalore commented on #1724
Hey @Mr0grog there's no way right now to add pre/post scripts from a plugin to Browsertime can you give me an example when you need it so I understand? They are usually site specific?

They have actually never needed to. Browsertime collect for example all the data for the coach: https://github.com/sitespeedio/coach/tree/master/lib/dom/info

Browsertime supports async scripts but we don't have a w

[2017-11-28 03:19] Mr0grog commented on #1724
For one, it’s the only way to provide an asynchronous script right now without skipping Sitespeed.io and using the Browsertime library directly (so far as I can tell). So I don’t have any other options, even though it is completely generic.

My current use case is the one explained earlier in this issue: https://github.com/sitespeedio/sitespeed.io/issues/1724#issuecomment-333162819 — the script fi

[2017-11-28 08:46] Nuoky commented on #1830
I use `find / -name * .mp4` find, but can not find any video on the memory card.

Of the output on the PC, only Honor 7 (root 5.0.2) can generate video files normally, other phones only have 0.mp4 files of size 0 bytes.

[2017-11-28 11:55] Dolphsps opened #1836 "Passing configuration parameters to sitespeed.io running on AWS ECS"
Has anyone tried to run sitespeed on AWS ECS and passed configuration parameters through config.json?

I have bundled up my configuration in to a config.json file and have my URL list in urls.txt.  Both files are passed to /sitespeed.io.

My ECS task command [urls.txt] works fine but I am seemingly unable to find a way of combining the urls.txt with the additional configuration file [--config conf

[2017-11-28 12:03] soulgalore commented on #1724
Lets create an issue the coming days then the coming days to open the Browsertime from sitespeed.io to async a JavaScript, it's a nice feature but no one has focused on opening it up from the outside.

[2017-11-28 12:04] soulgalore opened #1837 "Make it possible to run async JS in Browsertime for sitespeed.io"
Browsertime already have that functionality (we use it to get the HAR in FF < 55). Best case we don't need to do any changes in Browsertime but I need to check to be sure.

[2017-11-28 12:04] soulgalore commented on #1724
https://github.com/sitespeedio/sitespeed.io/issues/1837

[2017-11-28 12:13] soulgalore commented on #1830
I've done a fix in Browsertime yesterday that fixes the problem in the last stacktrace you showed me.

For the videos not created, can it be the hardcoded name/path to the memory card? `screenrecord --bit-rate 8000000 /sdcard/browsertime.mp4`?

[2017-11-28 12:22] soulgalore commented on #1836
Hi @Dolphsps no I haven't tried ECS. @beenanner have you tried?

Running on standard Docker you need to make sure that you mount both urls.txt and config.json and that you inside the container references to where the file actually is (inside the container). If that helps you somehow :)

Best
Peter

[2017-11-28 12:26] Dolphsps commented on #1836
Hi @soulgalore thanks for quick reply.  Both files are in the same volume and I can see the file from the container.  Just can't get the container to launch with the configuration parameters defined within.

[2017-11-28 13:20] soulgalore commented on #1830
Yep that's it, I'll look for a generic way to do it tonight and hopefully we have a fix by the morning :)

[2017-11-28 13:30] soulgalore commented on #1830
Any chance you can try the branch/PR https://github.com/sitespeedio/browsertime/pull/409 @Nuoky ? I can guide you if you need help. It would be great to know that it works for you before we merge (it works on my phone).

[2017-11-28 16:35] Nuoky commented on #1830
@soulgalore Thank you very much, I will try but it may be after 14H.

[2017-11-28 16:47] soulgalore commented on #1830
Cool, I will merge that tonight since it's better than before.

[2017-11-28 19:49] soulgalore commented on #1830
FYI @Nuoky I've pushed the change to sitespeed.io master and will release it after it has run on dashboard.sitespeed.io for a while.

[2017-11-28 21:20] rschoessler commented on #1785
@soulgalore there's actually no line in my prescript that's doing a `POST` per se.  My script is a simple login script.  It dies after it loads the page and doesn't actually enter any data.  (works fine in Chrome).

[code]

[2017-11-28 21:34] soulgalore commented on #1785
Thanks @rschoessler yep the POST is the Webdriver API. I'll test again later this week.

[2017-11-28 23:43] soulgalore commented on #1830
Pushed this in 6.0.3, let me know when you had the time to test it!

[2017-11-29 02:51] Nuoky commented on #1830
Sorry, wait a long time, I tried 6.0.3 or the same problem

phone: Honor V9(7.0)

run:
[code]

output:
[code]

[2017-11-29 03:32] Nuoky commented on #1830
Root mobile test is normal, able to generate normal video and test reports.

phone:Honor 7(root 5.0.2)

run:
[code]

output:
[code]

[2017-11-29 03:38] Nuoky commented on #1830
phone:Nexus 6P(8.0)

run:
[code]

output:
[code]

The test stopped：
[code]

[2017-11-29 20:54] soulgalore commented on #1830
Hey @Nuoky ok so the exact same as before, but in the last example, you see that you get the video on the phone right but it seems that it isn't moved to your computer? I need to go through the code again.

Best
Peter

[2017-11-30 09:26] ganeshmuralidhar opened #1843 "Docker Image for Sitespeed goes missing!!"
Hi,

I started using the docker version on sitespeed and is able to run tests followed by proper reporting.
I started facing a weird issue where on one particular machine, I pull the docker image using

docker pull sitespeedio/sitespeed.io

and i execute a test. So far so good, after few minutes when I execute another test, i get an error saying 'Unable to find image 'sitespeedio/sitespeed.io:late

[2017-11-30 09:41] soulgalore commented on #1843
Hi @ganeshmuralidhar
no you need only to pull it once. But when you do, please use the tags so you use one exact version:
`docker pull sitespeedio/sitespeed.io:6.0.3`
That way you can make sure you are in control when you upgrade to a new version.

There's something on your machine that removes containers, do you run docker prune somewhere? :)

[2017-11-30 10:02] ganeshmuralidhar commented on #1843
Hi Pete,
I did use the version as well when tried for various options. And dont see any docker prune running ever. When all my other images on this host stay, dont know why only sitespeed goes missing !

[2017-11-30 13:41] soulgalore commented on #1506
Ooops I never fix that. If someone else has time that would be great :)

[2017-11-30 13:44] soulgalore commented on #1843
Hmm strange, please let me know if you find the reason. I have a hard time to see this is something todo with our image.

[2017-11-30 14:21] ganeshmuralidhar commented on #1843
I too think the same. Will raise it with docker and see if there is a solution.

[2017-11-30 14:37] zunjooo commented on #1314
Greetings,

I added `gpsi.pageSummary.ruleGroups.SPEED.score` metric inside my budget file but I don't see gpsi result inside report that generates when I execute sitespeed test with gpsi plugin

[2017-11-30 14:39] soulgalore commented on #1314
@zunjooo https://github.com/sitespeedio/sitespeed.io/pull/1828 needs to be merged and released first, when that is done, I'll update the plugin.

[2017-11-30 17:07] ganeshmuralidhar commented on #1843
Hi Pete,

Now that we are not able to find a solution for this, is there a chance you can give me the actual DockerFile and the related files repo so that I can try to build the image by myself on my host and see if that can solve the issue?

Thanks!

[2017-11-30 17:17] soulgalore commented on #1843
I don't think it will help, but the Dockerfile is here: https://github.com/sitespeedio/sitespeed.io/blob/master/Dockerfile

[2017-12-01 00:31] lbod opened #1844 "Feature request - CLI - load file over http for urls"
I'd tried/hacked this a couple of weeks ago and it seemed straightforward but is it worth allowing loading a file of urls over http (as compared to currently only node.Path filesystem)?

I don't actually need this feature now but it seemed useful at the time.
Discussion might be needed on the current command lines options e.g. https://github.com/sitespeedio/sitespeed.io/blob/master/lib/cli/util.js

[2017-12-01 05:08] ganeshmuralidhar commented on #1843
True. This didn't help either :(

[2017-12-01 06:31] ganeshmuralidhar commented on #1843
But, one thing that I observed is that the image stays back of I pull any version 5.2.0 and below. And not beyond that. This is really weird.

[2017-12-01 09:21] ganeshmuralidhar commented on #1843
Now - I am quite surprised to see this but I found a work around for it.

I pulled the latest version of sitespeed and created an additional tag for it, like :

docker tag sitespeedio/sitespeed.io <temp_tag>

Since I did this, i can see the image intact and I am able to use it for multiple tests. I have no idea how it worked, but IT WORKED, is all I can say as of now!

[2017-12-01 14:37] beenanner commented on #1843
@ganeshmuralidhar what's your OS and docker version could you attach the output of the following just out of curiosity?

`uname -a`
`docker -v`
`docker system info`

[2017-12-04 03:35] beenanner commented on #1836
@Dolphsps do you have the exact run command? I haven't dabbled in ECS much but it should be `--config config.json` then `url.txt`. If you are passing an array maybe try ['--config', 'config.json', 'url.txt']?

Here is the docker run command I use to verify locally though that probably isn't much help.

`docker run -v $(pwd):/sitespeed.io sitespeedio/sitespeed.io --config config.json url.txt`

and

[2017-12-04 04:11] beenanner commented on #1836
@Dolphsps ECS Tasks try to use the CMD syntax from the dockerfile instead of supporting individual ARGs like docker run. See: http://docs.aws.amazon.com/AmazonECS/latest/developerguide/task_definition_parameters.html

After running the task can you run `docker inspect` on one of the containers and see if the args are showing up in the json output as an array?

[2017-12-04 04:28] beenanner commented on #1836
[code]
overriding the CMD make it run like so which breaks sitespeed

[code]

[2017-12-04 05:59] ganeshmuralidhar commented on #1843
hello @beenanner ,

If that helps in anyway to get rid of this work around i mentioned above, here it is:

[root@xxxxxxxxx ~]# uname -a
Linux xxxxxxxx.xxxxxxxx.com 3.10.0-327.36.2.el7.x86_64 #1 SMP Mon Oct 10 23:08:37 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

[root@xxxxxxxxx ~]# docker -v
Docker version 1.12.0, build 8eab29e

[root@xxxxxxxxx~]# docker system info
docker: 'system' is not a docker co

[2017-12-04 14:18] beenanner commented on #1843
Cool thanks @ganeshmuralidhar. Do you have the ability to upgrade Docker? Docker 1.12 is fairly old  which is why that 3rd command does not work. ;-) Alternatively for the 3rd command for 1.12 you can run `docker info` instead.

[2017-12-04 19:37] bharat129 opened #1846 "Does sitespeed save resource URL?"
Hi @soulgalore ,

We are trying to identify which resource/image has the largest size?

When sitespeed stores the results, does it save the size of each resource (img, css,js) with the URL?
so that we can query in the graphite DB and show it in dashboard.

Currently, I am not able to query the graphite DB for this info.

PS: we are not looking for the HAR, we are looking for information against ea

[2017-12-04 19:42] soulgalore commented on #1846
Hi @bharat129 ,
it's configurable to send the size of each asset to graphite but it's not recommended since it will not scale in Graphite. For every unique asset URL Graphite will prepare the size depending on your configuration, so if your site has banners with unique resources it will take up space for one resource even though it is only used once. I think we send the largest size and that you c

[2017-12-04 21:14] bharat129 commented on #1846
Thanks @soulgalore . We are creating custom script taking inputs from HAR file.

[2017-12-05 13:12] Algram commented on #1827
Is there any chance of doing this with the current tooling already or does this need changes in browsertime?

[2017-12-05 13:17] soulgalore commented on #1827
@Algram what exactly do you need to do? some parts can be done, some parts not, and some parts we believe is not possible to get stable metrics and there's probably better ways to do it.

[2017-12-06 23:04] Dolphsps commented on #1836
Hi @beenanner and @soulgalore .

I have got this working now and we are building up a nice little setup based on AWS ECS services.
Thanks for your help.

[2017-12-07 02:17] beenanner commented on #1836
That's great news @Dolphsps! Let us know if you run into any other issues. It would be great if you have any generic steps or tips and tricks to show others how to run a similar setup in AWS ECS. I'm sure others would love it. Selfishly if I ever get some time I wouldn't mind trying to set things up myself. ;-) I'll close this issue.

[2017-12-07 02:17] #1836 closed

[2017-12-08 09:08] Dolphsps commented on #1836
Yeah will do.  In the light of the AWS announcements last week on ECS and their new Fargate offering, it could look very different when these features are made generally available.

[2017-12-08 14:20] soulgalore opened #1848 "Make it possible for plugins to have same keys as browsertime etc"
See:
https://github.com/betit/chrometrace-sitespeedio-plugin/blob/master/index.js#L5-L9

It should be doable by sending a message that you need them (influxdb/graphite etc) can take care of it. We need good name etc.

[2017-12-11 15:53] suratovvlad opened #1850 "Metrics listing doesn't work in 6.0.0 - 6.0.3"
Hi,

I've found that "--metrics.list" parameter doesn't work in new release 6.0.x., last working version is 5.6.5.
I'm expecting "data" folder with file metrics.txt in "./sitespeed-result/www.sitespeed.io/*/data/metrics.txt",
however, there is no "data" folder in output. Also `find ./ -iname metrics.txt` diplays nothing.

The command that I'm using to reproduce the bug:
`docker run --shm-size=1g -

[2017-12-11 16:06] soulgalore commented on #1850
Hi @suratovvlad thanks for reporting, it's a bug, us fix that and roll it out tomorrow.

Best
Peter

[2017-12-11 18:31] suratovvlad opened #1851 "Global variables are cached and haven't cleaned between two calls of sitespeed.run()"
Hi,

I'm trying to use sitespeed.io as npm library, and I've faced with strange issue - the first call of `sitespeed.run()` finishes successfully, but the others calls - crahes with error: `ERROR: Error: Multiple summary messages of type aggregateassets.summary and group total`.

[There is a simple example that uses sitespeed.io as library](https://github.com/suratovvlad/testing_sitespeedio_bug).

[2017-12-11 18:36] suratovvlad commented on #1850
Hi @soulgalore! Wow, I'm glad to see how fast you fix the bugs! You are amazing, thank you!

[2017-12-11 19:43] soulgalore commented on #1850
Thanks, well it was me that caused the bug, so I should fix it :) Let me roll it out tomorrow, got one PR that I think we should include.

[2017-12-11 19:46] soulgalore commented on #1851
@suratovvlad yep there's another reported issue, I'll add a reference later. There's multiple places that need to be fixed for this to work across the board, easiest, for now, is to create a new sitespeed.io object and we can take on the main problem later.

[2017-12-11 22:53] wcarle opened #1852 "Metrics list command doesn't work"
The metrics list commands don't seem to work:
--metrics.list
--metrics.filterList
It says a metrics.txt file will be put in the data directory of the results but nothing is there.

I've tried both docker and locally installed instances on the latest version:
<img width="1036" alt="screen shot 2017-12-11 at 2 52 28 pm" src="https://user-images.githubusercontent.com/2293692/33858000-f95b9480-de82-11

[2017-12-11 23:07] wcarle commented on #1852
Interestingly when I pulled the the git project directly it seems to work so I'm guessing the fix just hasn't made it to the official release yet

[2017-12-11 23:07] #1852 closed

[2017-12-11 23:10] soulgalore commented on #1852
@wcarle yes I just pushed the fix, it was reported earlier today: https://github.com/sitespeedio/sitespeed.io/issues/1850 - I'll release it during the day tomorrow.

[2017-12-11 23:11] wcarle commented on #1852
Ah perfect thanks!

[2017-12-12 11:28] soulgalore commented on #1850
released in 6.1

[2017-12-12 11:28] #1850 closed

[2017-12-12 15:25] serputko opened #1855 "Add webpagetest port argument for docker run command"
Hi guys,
i'll try to describe my case and maybe you can help me with some advice.
I have few containers (all of them are in one docker network):
- jenkins
- webpagetest server
- graphite

I run sitespeed.io container from jenkins with:
`docker run --network=graphite ... sitespeedio/sitespeed.io --graphite.host graphite--graphite.port 2003 --graphite.httpPort 80  --webpagetest.host wptserver --webp

[2017-12-12 18:25] bharat129 opened #1856 "Sitespeed.io runs are faster"
Hi @soulgalore ,

We are running sitespeed.io using docker-compose file (Unix VM) inside organization's firewall.
Browser : Chrome
Connectivity Cable

I have not made any changes in default configuration.
I am constantly getting largest pagetiming metric : Last Visual Change around 8 sec.

But when I run the same test on public instance of WPT, it gives 13-15 second of fully loaded time.

Its now

[2017-12-12 18:38] beenanner commented on #1856
Hey @bharat129 it could be possibly related to this?

...

Which would need to also go through your firewall. I'm not sure what specs the public WPT instances run on, but you should also make sure your Unix VM is spec similar if you are trying to compare. Though I wouldn't recommend it. ;-) You could also look into setting up a private WPT instance to compare public WPT vs private WPT.

https://gi

[2017-12-12 19:04] bharat129 commented on #1856
@beenanner , you are correct. That's why there is no time in DNS and other metric SSL, TTFB, Content download are taking less than half from outside.

![image](https://user-images.githubusercontent.com/23472618/33903131-4ef2d8a0-df45-11e7-9d72-e4361e2ab8b1.png)

Can you please share the details for below:
What metric we should trust which will provide time similar to WPT's fully loaded time?

[2017-12-12 20:13] soulgalore commented on #1856
Hey @bharat129 how do you set up your connectivity, using Docker networks?

Best
Peter

[2017-12-12 20:40] bharat129 commented on #1856
@soulgalore , we have not setup any connectivity using Docker networks. How to do it?

[2017-12-12 21:14] webhamm opened #1857 "Please add simple SEO meta and structured data validation feature to Coach"
It would be nice to have a simple Coach section that covered validation of known SEO/Social media metadata and structured data.
 Looking around the web I can't find a good online service that just does simple validation of metadata and some other structured data checks related to SEO and/or Social media. Maybe checking for presence of known items like canonical, title, or description. If there was

[2017-12-12 21:18] cgoldberg commented on #1856
I'd bet network connectivity/location/topology/conditions accounts for much of the observed difference.

[2017-12-12 21:27] bharat129 commented on #1856
@cgoldberg , you mean to say if I change the connectivity, the results will be the same? Since still my sitespeed server is inside the fiewall?

[2017-12-12 21:48] cgoldberg commented on #1856
you can't really make the connectivity identical, so I don't see the point of the comparison.  Consider that WPT and your local container are located in different places and are taking different networks across the internet to the system under test..  If you were doing a comparison on a local (controlled) network under idle conditions with identical test environments, it might be a valid compariso

[2017-12-12 22:41] soulgalore commented on #1856
@bharat129 checkout https://www.sitespeed.io/documentation/sitespeed.io/connectivity/#docker-networks

If you don't setup any connectivity, you will have a hard time finding regressions and it will vary within the tool.

[2017-12-12 22:46] soulgalore commented on #1857
Hi @webhamm there are some simple checks today for page title and meta description (https://github.com/sitespeedio/coach/tree/master/lib/dom/bestpractice) and it would be cool to have more. Would love a PR or if you know exactly what it should be (I have no clue :))

Best
Petre

[2017-12-12 23:09] soulgalore commented on #1855
Hi @serputko  hmm yes the current version just treat the host as URL. Do I understand correctly that everything works (WebPageTest runs the tests, you get the data to Graphite) except that the URLs in the sitespeed.io report is wrong?

I think we actually get that link from the WebPageTest JSON (we don't create it on our side), so I think it is something that needs to be fixed there, but I need to

[2017-12-14 09:05] Nuoky opened #1858 "pageCompleteCheck does not work"
Hi.

After adding the pageCompleteCheck parameter test failed to work properly.

run:
[code]

output:
[code]

Thanks!

[2017-12-14 09:12] soulgalore commented on #1858
Thanks @Nuoky for reporting, let me fix it during the day.

[2017-12-14 09:29] soulgalore commented on #1858
I've pushed a fix now, I tried and it worked for me but would always want to verify that it works for you too @Nuoky before I close the issue.

[2017-12-14 12:21] CaptainJojo commented on #1388
Sorry but I have same problem my graphana haven't WPT data, how to configurure correctly my config.json is

[code]

[2017-12-14 12:30] soulgalore commented on #1388
@CaptainJojo the dashboard run with the default configuration, it should if there'n not a bug in the dashboard. Grafana has had bug saving the dashboards that includes constants but I think it should be fixed. You do run your own WebPageTest instance right?

[2017-12-14 12:43] CaptainJojo commented on #1388
Thank for your response, no I use directly webpagetest.org is not good ?

[2017-12-14 12:49] soulgalore commented on #1388
No that works. As long as you configured sitespeed.io to send the metrics, both Browsertime and WebPageTest metrics goes to Graphite. You get other metrics but no WebPageTest metrics?

If you log into Grafana and check, do you see the metrics in the raw queries? The query looks something like **$base.$path.pageSummary.$domain.$page.webpagetest.$location.$connectivity.data.median.$view.render** ...

[2017-12-14 12:50] CaptainJojo commented on #1388
ok thank :)

[2017-12-14 16:12] lbod commented on #1770
I have the same issue but I did appear to have it working at one point (where it was creating host/date folders for each report) so I presumed it's just my configuration We start with something like:

      /start.sh,urls.txt,--config,config.json,--plugins.disable,screenshot,--firstParty,www.somedomain.com,--html.topListSize,120,--s3.key,***********,--s3.secret,*******,--s3.bucketname,*******,--s3

[2017-12-15 03:32] Nuoky commented on #1858
@soulgalore The problem is solved, thanks!

[2017-12-15 06:15] #1858 closed

[2017-12-19 08:22] orjan commented on #1797
I'm having a similar issue running `6.1.3` with url:s with spaces:
[code]

`docker run --name sitespeed --privileged --shm-size=2g --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io:6.1.3 -c cable -b chrome --video --speedIndex "$@"`

[2017-12-19 09:43] soulgalore commented on #1797
Hi @orjan thanks for reporting, I think the problem isn't a space, I think the Chrome HAR and how we use it in PageXray handled everything after # differently, let us fix that asap.

Best
Peter

[2017-12-19 12:44] soulgalore commented on #1797
@orjan the fix is in master, will release it late tonight or early tomorrow.

[2017-12-20 05:40] soulgalore commented on #1797
@orjan pushed the release now. 6.2.0, it will be available in a couple of minutes.

[2017-12-20 07:17] gijswijs commented on #1827
I've been thinking about extending sitespeed.io with synthetic monitoring, and this is what I came up with. In it's core it should be one selenium script that should be executed.

## Measuring performance
Use a miniprofiler kind of tool (https://miniprofiler.com/) to measure the execution steps of the selenium script
This would result in a browsertime.json kind of file that holds the timings of th

[2017-12-20 11:29] soulgalore commented on #1827
Hi @gijswijs thanks for spending time on thinking on this, let us digest and think about it during the Christmas break.

One thing I've been thinking about is to make it possible to run multiple URLs in Browsertime (as a first step). You could add X URLs and it would test them all one by one with no clearing the cache in between (that would match the "user journey" thing we've been talking about t

[2017-12-20 13:10] gijswijs commented on #1827
Hi @soulgalore,

I'm not sure whether I understand your concept of regression in this particular context.
I'm guessing you are talking about performance regression? And you want to be able to find the smallest, but still significant and relevant, change in performance?

In that case, I think you're right, it would be hard to spot regressions of 1-2%. You could probably find smaller regressions (bu

[2017-12-21 13:43] soulgalore opened #1860 "Default screenshot png/jpg"
I've seen examples where we don't configure screenshot and it sets png as default in the frontend but the image is jpg so we get broken links.

[2017-12-21 19:38] soulgalore commented on #1860
Couldn't reproduce this, lets close it for now and see if it re-appears.

[2017-12-21 19:38] #1860 closed

[2017-12-22 13:27] Pe4enie opened #1861 "Out of memory with sitespeed version > 5.6.5"
Hi there,

was trying to update my configuration to latest major release (tried few different minor ones - 6.2.1, 6.1.3, 6.0.2) from the version I was using before - 5.6.5 and started constantly running into 'FATAL ERROR: CALL_AND_RETRY_LAST Allocation failed - JavaScript heap out of memory'

After googling a little saw that people had similar issue only when they were running a lot of runs on tho

[2017-12-22 19:57] soulgalore commented on #1861
Hey @Pe4enie thanks for the report. The **-e MAX_OLD_SPACE_SIZE** is broken in the current release, so when you tried to increase it, it isn't working. Let me fix that ASAP.

Best
Peter

[2017-12-22 20:33] soulgalore commented on #1861
@Pe4enie released 6.2.2 with the fix, if you set the memory for node, that should at least work. However it seems like something else is wrong, you shouldn't get it with only five runs for one URL so let us keep it open.

We will do very little during the holidays on the project and if you wanna do some investigation, you can follow the instructions https://www.sitespeed.io/documentation/sitespeed

[2017-12-22 21:58] soulgalore commented on #1861
Checked it some more and I think this is a bug in PageXray (I get the same thing with both Chrome & Firefox).

[2017-12-22 22:23] soulgalore commented on #1861
@Pe4enie PageXray gets stuck at the moment of the redirect chain:
<img width="706" alt="screen shot 2017-12-22 at 23 22 13" src="https://user-images.githubusercontent.com/540757/34313891-099038ca-e76f-11e7-9fcc-37169ee26a23.png">
that's the cause.

[2017-12-23 16:27] Pe4enie commented on #1861
Hey @soulgalore. Man it was fast :) Thank you so much for quick answer/investigation. Unfortunately, I won't be able to try the fix until 2nd of January. If there will be any questions, I'll try to provide information needed

[2017-12-25 19:59] soulgalore commented on #1861
@Pe4enie np, it will not work with the current patch so that is good to wait until next year to test it :)  The fix I did only make it possible to increase memory, we need to fix that bug in PageXray for the page to work, I'll roll out a fix the coming days.

[2017-12-25 20:03] soulgalore opened #1862 "Only store result pages/video for metric min/median/max mode"
Today we store all runs and create result pages for all of them. If you test 7/11/15 runs it would be better to only create min/median/max for one metric that you choose because I'll never look at other runs than them.

You would need to configure which metric to use and have two different behaviors how we create HTML (all runs or min/median/max).

[2017-12-27 18:21] loheswaran opened #1863 "How to run sitespeedio/sitespeed.io docker container on Docker Jenkins slave (jenkinsci/jnlp-slave)"
I am trying to run sitespeedio/sitespeed.io inside a jenkins slave agent docker container, but I am not getting any result/error.  Could you please help me in fixing this?

Please find below for the console output :

`docker run --shm-size=1g --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io:6.2.2 https://www.google.com/ --browsertime.proxy.http=test.test.com:8080 --browsertime.proxy.https=t

[2017-12-27 18:26] soulgalore commented on #1863
Hi @loheswaran do you run the Jenkins slave as a Docker container too (like it's Docker in Docker?)? The log output is from the start script in the Docker container where we just run browsers with --version.

If you try to run as simple as possible, do you get the same output then?
`docker run --shm-size=1g --rm sitespeedio/sitespeed.io:6.2.2 https://www.google.com/ `

Best
Peter

[2017-12-27 19:02] loheswaran commented on #1863
Hi @soulgalore, Yes I am running the Jenkins slave as a Docker container.

I am getting the report when I run sitespeed.io as a standalone container. Please find below for the logs

docker run --shm-size=1g --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io:6.2.2 https://www.google.com/ --browsertime.proxy.http=test.test.com:8080 --browsertime.proxy.https=test.test.com:8080 --outputFolder=rep

[2017-12-27 19:13] soulgalore commented on #1863
@loheswaran I haven't tried Jenkins with Docker slaves but could this be what you are looking for (or maybe you already did like this): https://jpetazzo.github.io/2015/09/03/do-not-use-docker-in-docker-for-ci/#the-solution

[2017-12-27 19:28] loheswaran commented on #1863
@soulgalore, Yes I tried that too.

I tried with -vvv --debug=true also but its not showing any debug/error log.  Is there any other option to print the error logs?

[2017-12-27 19:45] soulgalore commented on #1863
Hmm I still think that's there something fishy with running the agent as Docker with another container. You are sure the -v flag was for the agent/master (running on Linux)? Just want to make sure :) I don't think debug level will help for sitespeed.io, there's something in the environment that stops it from starting.

[2017-12-27 19:51] loheswaran commented on #1863
Do you see any issues in using the sitespeed.io node module inside a container? Does the node module has all the feautres of docker image?

[2017-12-27 19:57] soulgalore commented on #1863
everything works the same except that you need to install all the dependencies for yourself (follow the Docker container and all it inherits), but I still hope/think it would be possible to make work in an agent.  If you have a short list on what I need to do to replicate the problem, I could probably have a go the coming days.

[2017-12-27 20:06] loheswaran commented on #1863
This is what I am doing
1. Jenkins master is running as a separate service in Kubernetes ACS cluster
2. I have a job in master which spins up the slave agent dynamically in the same Kubernetes ACS cluster.
3. Execute sitespeed.io in the newly created slave agent and publish the report in the master jenkins

[2017-12-28 05:59] soulgalore commented on #1863
@loheswaran maybe you can find some info from how GitLab runs docker in docker with sitespeed.io: https://docs.gitlab.com/ee/ci/docker/using_docker_build.html#use-docker-in-docker-executor and https://docs.gitlab.com/ee/ci/examples/browser_performance.html

[2017-12-28 11:27] soulgalore commented on #1861
Pushed 6.2.3 today that fixes the problem, so it should be ready when you get back @Pe4enie  :)

[2017-12-28 20:04] loheswaran commented on #1863
@soulgalore, Thanks for sharing the reference links.

I am using sitespeed.io node module to run the performance test in headless chrome but getting the below error. Could you please share the config to run in the headless chrome?

Command :
`sitespeed.io --config=test/performance/sitespeed-io-config.json https://www.sitespeed.io/`

Config :

[code]

[2017-12-28 23:23] soulgalore commented on #1863
To run it you only need to turn on headless (browsertime fix the rest of the configuration for Chrome):
`sitespeed.io --browsertime.headless true https://www.sitespeed.io`

When you run headless, Chrome will not work with browser extensions (you get some error with an extension right). I personally use xvfb instead of Chrome headless (but then you need to run on Linux).

Best
Peter

[2017-12-29 00:13] loheswaran commented on #1863
Does `sitespeed.io --browsertime.headless true https://www.sitespeed.io` work with xvfb?
If not, could please share the document or an example to refer for executing sitespeed.io with xvfb in linux?

[2017-12-29 00:21] soulgalore commented on #1863
If you don't use the Docker container you need to install [xvfb](https://en.wikipedia.org/wiki/Xvfb) on Linux and then you can run it like:
`sitespeed.io --browsertime.xvfb true https://www.sitespeed.io ` and starting and stopping xvfb will happen automatically.

Best
Peter

[2017-12-29 00:22] loheswaran commented on #1863
Thanks for the quick reply.  Will try this option and let you know.

[2017-12-29 17:00] loheswaran commented on #1863
@soulgalore ,

Tried the xvfb option but got the bellow error.

Command :

`bin/sitespeed.js --browsertime.xvfb=true https://www.sitespeed.io/`

Error log :

[code]
Xvfb installation test :

[code]

[2017-12-29 19:40] soulgalore commented on #1863
@loheswaran what Chrome version have you installed, Chromedriver can be picky if you don't use the latest.  If you run on Azure I think you can use the Docker version, it will be less hazzle.

[2018-01-02 08:36] Pe4enie commented on #1861
Hey @soulgalore, first thing in the morning tested if everything okay :) And well, it is, works as a charm, thank you so much!

[2018-01-02 10:01] soulgalore commented on #1861
great, thanks for getting back @Pe4enie

[2018-01-02 10:01] #1861 closed

[2018-01-02 15:30] loheswaran commented on #1863
@soulgalore,
If you run on Azure I think you can use the Docker version, it will be less hazzle
[ANS] As I said earlier, the docker version of sitespeed.io is not working in inside a container so I am trying with node module.

I am trying run sitespeed.io with xvfb in a container.  Could you please share the setup document to refer?

[2018-01-02 21:16] loheswaran commented on #1863
@soulgalore,
It's working now. Thanks.  Could you please let me know if you get chance to make sitespeed.io docker image to work with the jenkins jnlp slave docker image?

[2018-01-03 08:07] soulgalore commented on #1863
Maybe @stephendonner has some practical experience? If you wanna run a Docker container in your Docker Jenkins slave, what do you actually need to do? Is this the way https://jpetazzo.github.io/2015/09/03/do-not-use-docker-in-docker-for-ci/#the-solution or what's best practice ( I have no experience at all).

[2018-01-04 15:57] beenanner commented on #1863
@loheswaran it can get a bit tricky with Docker with Docker on Jenkins agents. The biggest issue is if you use volume mounting for your reports you would need to volume mount the host path to the sitespeed container vs using the path within the Jenkins agent. Unless your Jenkins agents map one to one on the host you won't be able to use Jenkins variables like ${WORKSPACE} etc since those will retu

[2018-01-05 00:22] kkopachev opened #1865 "Resources exhaustion running multiple urls with video"
I am running sitespeed.io version 6.2.3 using docker. I supplied list of urls to check and set repeat 3 times for each url.
After a few firs urls from the list processed, all the sudden job shows that it could not fetch another page. From that moment all following urls are also failing with same output
[code]

At that moment host is overloaded with many ffmpeg processess. Looking at urls at the en

[2018-01-05 05:46] kkopachev commented on #1865
Looks like when sitespeed reports error saying could not fetch url, ffmpeg process still running for that page  and it adds up since each next page request creates another ffmpeg.

[2018-01-05 17:01] soulgalore commented on #1865
Hey @kkopachev thanks for the report. There's kind of a bad implementation that we have at the moment where use the pre/post tasks to jack in FFmpeg, that's why at the moment we can have these scenarios. Let me look at it early next week, think we can fix it with a hack for now and then make better changes to the structure later on.

Best
Peter

[2018-01-05 20:17] soulgalore commented on #1865
BTW do you have more info about the original issue, the URLs that isn't working? Wanna look into that too.

[2018-01-05 21:19] kkopachev commented on #1865
Thanks for your reply, @soulgalore.
Apart from zombie ffmpeg processes, It seem weird that after some time it could not reach the network anymore. Sometimes it could not resolve dns name to report to graphite, sometimes it could not find credentials to upload to s3 (instance profile credentials), sometimes it fails to resolve s3.amazonaws.com.
So it's not that site is down, but more like network s

[2018-01-05 23:40] kkopachev commented on #1865
Original issue about urls not working is not related to sitespeed.io. It's puppet on host machine every once in a while kills iptables rule.

[2018-01-06 10:17] soulgalore commented on #1865
Aha I see. The FFMPEG problem, I'll see if I can do something for the promise flow, it's kind of hard right now. The long term fix is to rewrite Browsertime with more async/await and try to make the code easier to understand and to handle different flows.

[2018-01-06 19:35] chipitsine opened #1866 "404 when running "npm install""
I cloned the repo, after "npm install" ...

[code]

[2018-01-06 19:56] soulgalore commented on #1866
Hi @chipitsine could it be a temporary npm glitch? I tried on a fresh checkout on my Mac and it worked for me.

[code]

Best
Peter

[2018-01-06 21:11] chipitsine commented on #1866
it was something with my local npm.

I could get it working later

[2018-01-06 21:11] #1866 closed

[2018-01-09 07:27] soulgalore opened #1867 "Grafana annotations missing if not using Browsertime."
Today it's hardcoded to use browsertime.pageSummary but then we miss if you "only" run WebPageTest. Let us act on one of those events instead.

[2018-01-09 10:57] mgasiorowski commented on #1785
This is bug in selenium:
https://github.com/SeleniumHQ/selenium/issues/4359

You can click to submit button, this works on chrome and firefox. For example:
[code]

[2018-01-09 10:59] soulgalore commented on #1785
@mgasiorowski ah thanks, let me update the example the coming days. Best Peter

[2018-01-09 10:59] suratovvlad opened #1869 "Reduce (or delete) the output: parameters, influence to metrics collecting"
I couldn't find info in documentation about what's happen if use "--browsertime.skipHar", "--no-browsertime.video" and "--plugins.remove html,screenshot,coach" flags for sitespeed.io.

As I can see, the produced resulting folder has smaller size, but I can't figure out which metrics wouldn't be calculated.

Could you give more information about these parameters, please?

Also, is there any way to

[2018-01-09 13:14] soulgalore commented on #1869
Hi @suratovvlad
let me add a section for that on https://www.sitespeed.io/documentation/sitespeed.io/best-practice/ I hope to do that tonight or tomorrow.

First just so I understand:
You want to collect some metrics and keep the result/memory footprint as small as possible?  Can you tell me a little more about how you plan to run your test and how you want to use the result?
There are configs opt

[2018-01-09 15:43] suratovvlad commented on #1869
Hi @soulgalore
Thank you very much for the quite carefull explanation about these options!

Yes, you understand me right, I want to collect metrics every 5 or 10 minutes and keep the result as small as possible, because the size of resulting folder becomes huge after several days of collection process.

I've set up graphite port and host to store collected metrics inside graphite database and I do

[2018-01-09 16:09] soulgalore commented on #1869
I would just run it as default and then **rm -fR ...** on the result dir when your run is finished, then there is no fuss :)

Do you test the same site, how often do you push releases? :) 5-10 seems really often to test, I usually run ones an hour (with a couple of runs) but I guess it depends on the use case.

[2018-01-11 12:29] mgasiorowski opened #1872 "Incorrectly generated report with multiple urls, and url contains parameters"
When I use multiple urls and urls contain parameters, report is generated incorrectly. All pages in Pages view in report file contains only one analyzed url.

For example, in report I have three pages:
- Inbox
- Contacts
- Message_view
<img width="983" alt="screen shot 2018-01-11 at 13 14 29" src="https://user-images.githubusercontent.com/1914132/34825089-65237258-f6d1-11e7-9cfd-131ccc17f15e.png">

[2018-01-11 12:42] soulgalore commented on #1872
Thank you @mgasiorowski for the report and thanks for attaching the results, that really helps!

It looks like we handle the different URLs on the pages level, but we don't generate them individually. Originally we treated all URLs with hashbangs the same, but then we added the ability to give them simple names (as you used) and it seems to work except that we don't generate single reports for eac

[2018-01-11 13:11] soulgalore commented on #1865
For now I think when your host kills the ip tables, you need to kill ffmpeg too. It kind of sucks but I don't I have time for fix this week and next I'm 100% busy. The long term fix should be to rewrite parts of Browsertime, but that is more work than just a couple of hours.

[2018-01-11 13:42] soulgalore commented on #1872
yep with different parameters on different URLs so that the URL is unique without everything after the #, hmm ok, let me have a look tonight or tomorrow. thanks for trying it out.

Best
Peter

[2018-01-11 14:36] soulgalore commented on #1872
@mgasiorowski I think the hack should work, I just tested.

Not working
[code]
Adding fake parameter, generating the pages
[code]

Don't mean that it is right, but at least then I think you can continue with your testing :)

Best
Peter

[2018-01-11 14:50] mgasiorowski commented on #1872
Yes, that work. I put in it the wrong place.

Correct example
`https://mail.yandex.com/?uid=586653896&login=sitespeedtest?parameter=1#inbox Inbox
https://mail.yandex.com/?uid=586653896&login=sitespeedtest?parameter=2#contacts Contacts
https://mail.yandex.com/?uid=586653896&login=sitespeedtest?parameter=3#message/164381386399023106 Message_view`

Thank you very much ;)

Best,
Maciej

[2018-01-11 18:08] jpvincent opened #1873 "Can't have the mobile performance timeline file even with collectTracingEvents option"
Hi
I'm trying to get the devtools performance timeline JSON file from a test made on an android 5.0. The test itself works fine, it's just that I dont have this file. It would be nice to have it in order to analyze it.

From the latest master, here is my command line :
`$ sitespeed.io --browsertime.chrome.android.package="com.android.chrome"  --video --speedIndex --browsertime.chrome.collectTracin

[2018-01-11 18:42] soulgalore commented on #1873
I think you need to upgrade sitespeed.io (the logs says 4.0.0), use latest 6.

<img width="621" alt="screen shot 2018-01-11 at 19 34 32" src="https://user-images.githubusercontent.com/540757/34841122-7017f9aa-f707-11e7-9b46-11e1edc4145b.png">

<img width="632" alt="screen shot 2018-01-11 at 19 33 01" src="https://user-images.githubusercontent.com/540757/34841123-703850d8-f707-11e7-9ef2-0b10001423e

[2018-01-11 19:29] kkopachev commented on #1865
That's fine. I solved iptables thing, so it works better now.
However, when browser times out (often happens with FF), will it kill FFMpeg process?

[2018-01-11 19:33] soulgalore commented on #1865
I think that could be an issue that we need to solve. So it times out on getting the HAR or do you remember what you could see in the logs?

[2018-01-11 20:01] kkopachev commented on #1865
It's very inconsistent and sometimes happens on Chrome as well.
<details><summary>logs look like this</summary>

[code]

And similar with Chrome
[code]

</details>

Let's keep this issue for ffmpeg process remaining when there is an error. I'll create issue on timeout if it becomes a problem.

[2018-01-11 20:53] jpvincent commented on #1873
I run the CLI from the github project but I was calling an old globally installed version.
I am so sorry for that, thank you for reviewing this

[2018-01-11 20:53] #1873 closed

[2018-01-14 07:59] soulgalore opened #1878 "Requests between WPT and PageXray doesn't match"
WPT:
<img width="1201" alt="screen shot 2018-01-14 at 08 57 29" src="https://user-images.githubusercontent.com/540757/34913926-17bc9d2a-f909-11e7-8f6d-24ccc880a682.png">

PageXray:

<img width="1251" alt="screen shot 2018-01-14 at 08 57 01" src="https://user-images.githubusercontent.com/540757/34913927-1921ed5a-f909-11e7-8e82-24b6cae54ebd.png">

Can there be a missmatch with firstview/repeat view?

[2018-01-14 08:01] soulgalore opened #1879 "Chrome user timings is empty for expressen"
<img width="1219" alt="screen shot 2018-01-14 at 09 00 10" src="https://user-images.githubusercontent.com/540757/34913952-66bdb80a-f909-11e7-828a-f214aae76b81.png">

It works for Aftonbladet, we are probably missing a check somewhere (or the data from the WPT API differs between runs).

[2018-01-14 14:33] soulgalore commented on #1878
Fixed in PageXray 2.0.3

[2018-01-14 14:33] #1878 closed

[2018-01-14 14:36] soulgalore opened #1881 "HTTP version is missing from PageXray in HAR from WebPageTest"
HTTP version is missing from PageXray in HAR from WebPageTest

<img width="1193" alt="screen shot 2018-01-14 at 15 35 03" src="https://user-images.githubusercontent.com/540757/34916989-9e0b4854-f940-11e7-8cc4-d38e0fc1133d.png">

Aftonbladet.se in this case.

[2018-01-14 22:56] DanielRuf opened #1882 "aliased binaries do not work"
With

[code]

`npm run browsertime -- --help` works

`npm run webcoach -- --help` does not work

Windos 10, Node.js 8 with npm 5

[2018-01-14 23:12] DanielRuf opened #1883 "sitespeed-result(s)"
Shouldn't it be `sitespeed-results` instead of `sitespeed-result`?

[2018-01-15 10:55] soulgalore commented on #1869
@suratovvlad I finally got around to update the docs, it will be live in a couple of minutes, look under https://www.sitespeed.io/documentation/sitespeed.io/best-practice/#handling-big-amount-of-data

Let me know if you need more info, else I'll close the issue.

[2018-01-15 15:33] soulgalore commented on #1883
Yeah, if you run more than once :) Let us keep it like it is and maybe maybe change it in the future.

[2018-01-15 15:33] #1883 closed

[2018-01-15 15:37] soulgalore commented on #1882
Hey @DanielRuf yes, maybe you can help us out, we [recommend](https://www.sitespeed.io/documentation/sitespeed.io/installation/#windows-1) using Docker on Windows but if you could find/know what's wrong and fix it, it would be nice.

Thanks
Peter

[2018-01-15 16:10] DanielRuf commented on #1882
I might take a closer look this week or at the weekend.

[2018-01-15 16:13] DanielRuf commented on #1883
Mh, even after running the same command multiple times the directory is still called `sitespeed-result`. So actually this is not how you describe it. Is it in an upcoming release?

[2018-01-16 17:32] soulgalore commented on #1883
@DanielRuf ah sorry, I tried to be ironic that running it once, the name is probably ok. I think we need to keep it **sitespeed-result** for compatibility reasons.

[2018-01-16 17:51] DanielRuf commented on #1883
Right. Because the sitespeed plugins use the plural form `results`.

Ok. Thanks for taking the time.

[2018-01-17 07:59] #1879 closed

[2018-01-18 19:20] LorisWouep opened #1886 "Using sitespeed.io on Raspbian"
Hi ! I am trying to use sitespeed.io on a Raspberry Pi 2 with the Raspbian disto. Is there a solution for running sitespeed.io with an ARM architecture ?

Thanks !

[2018-01-18 21:17] enummela opened #1887 "Process Data from Previous Run"
Is it possible to process data after a run has already been completed? I ask because sometimes a test will end prematurely and no HTML report will have been generated in that case. For tests that take a long time to run this can result in a significant setback.

I noticed that test data for each page is stored on disk during the run. These include `browsertime.har`, `screenshots/` and `videos/`. I

[2018-01-18 21:34] soulgalore commented on #1886
Hi @LorisWouep I the Raspberry Pi will be have too many restrictions (CPU/Memory) for Chrome/FF to work, but I think you could use the Raspberry Pi to drive Android instances? So like you have NodeJS and adbkit on your device with sitespeed.io and collect the metrics using your phone.
Let me know if you try it out :)

Best
Peter

[2018-01-18 21:37] soulgalore commented on #1887
Hi @enummela I think we should try to fix the original issues. If you could create new issues with trace logs when it happens (the test ends prematurely and you don't get the result) that would be super!

We've been trying to make sure we catch most cases so only that URL would be affected but apparently we have some cases we missed.

Thanks
Peter

[2018-01-18 21:57] enummela commented on #1887
Thankfully none of my runs have been disrupted since I pulled the latest Docker image. I was curious about this because I have data from runs using an older image that ended prematurely, but I will just run the tests again.

Thanks for the reply Peter

[2018-01-18 21:57] #1887 closed

[2018-01-19 02:13] anandsourabh opened #1888 "is XVFB mandatory?"
Hi, This is more of a question that an issue.
I have set up sitespeed using npm module in RHEL 7.
However when I execute test on one of the servers, I get the following error:

2018-01-18-12-55-13]$ [2018-01-18 12:57:14] ERROR: https://www.americanexpress.com generated the following error in Browsertime BrowserError: unknown error: Chrome failed to start: exited abnormally
  (Driver info: chromedr

[2018-01-19 04:16] soulgalore commented on #1888
Hi @anandsourabh
so do you run in Chrome headless (—browsertime.headless) or you mean headless with xvfb? I you run Chrome headless you can do it without xvfb but you will miss some functionality as video, speedIndex and running Browser extensions (that enables basic auth, extra request headers etc).

Can you share how you run (the exact parameters)?

Best
Peter

[2018-01-19 06:10] anandsourabh commented on #1888
This is the command:

sitespeed.io $URL --influxdb.host $INFLUX_HOST --influxdb.port $INFLUX_PORT --influxdb.database INFLUX_DB --browsertime.chrome.args headless --browsertime.chrome.args  no-sandbox --connectivity 3g  -n 5

I do not have xvfb server running as of now.

[2018-01-19 07:16] soulgalore commented on #1888
Headless in Browsertime is not only Chrome so you can use the generic version (check the options: https://www.sitespeed.io/documentation/browsertime/configuration/#the-options), then Browsertime will add the extra parameters needed for turning on headless. So change `--browsertime.chrome.args headless
` to `--browsertime.headless ` and I hope it will work.

[2018-01-19 10:16] LorisWouep commented on #1886
Thank you so much @soulgalore for your reply !
Your solution with the phone looks great but before I really like to try with a Raspberry alone (I'm stubborn ...).
I think the problem is just the Chrome driver does not exist under ARM

[code]

I also tried with npm and yarn ... i get the same error.

Best
Loris

[2018-01-19 15:13] ti2m opened #1889 "Testing local site with docker"
Hi,

thanks for the great work! I'm using sitespeed for some time now and it is a great help! I'm having an issue though with testing my local site that I can't resolve on my own.
The documentation states to use 192.168.65.1 to test local sites. As I'm testing a local site (OSX Sierra) with a vhost I used to run docker with `--add-host=mysite.local:192.168.65.1` which worked great in the past. Thi

[2018-01-19 18:08] Algram commented on #1819
@Sly777 You basically need to use a Kubernetes CronJob that creates a normal Job every N minutes. I will soon write a blog post about this on https://blog.rphl.io/ if you are interested.

[2018-01-19 20:06] soulgalore commented on #1889
Thanks @ti2m for making the issue, I've seen that they have changed it in Docker but I didn't know that the old solution stopped working, let see if I or @beenanner can have a go this weekend and see if we understand how it can be done.

Best
Peter

[2018-01-19 20:08] soulgalore commented on #1819
@Algram let us know when you publish it so we can link to it from the docs :)

[2018-01-19 20:12] soulgalore commented on #1886
Ah I see, ok, there's no way to run the official build then except to hack it, but it will be the same way for Geckodriver I guess? Or is the download picking the wrong one? If you have time you can checkout the implementation here https://github.com/tobli/alto-saxophone and help us if you have ideas how to fix it.

Best
Peter

[2018-01-20 01:35] anandsourabh commented on #1888
Thanks a lot @soulgalore. The browsertime.headless option worked for me. Working for all except visual metrics etc.

Getting xvfb enabled on enterprise grade servers is a bit tough at my end. Trying my best to get this enabled soon.

Thanks again!

[2018-01-20 01:36] #1888 closed

[2018-01-20 13:21] soulgalore commented on #1889
Hi @ti2m had a quick test and using http://docker.for.mac.localhost:4000 isn't working for me but if I get the IP with:
[code]
and then test against the ip (without doing any change and my test site is on port 4000):
`docker run --shm-size=1g --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io -n 1 http://192.168.65.2:4000`

it worked for me. Does that work for you? @beenanner do you know a wa

[2018-01-20 13:22] soulgalore commented on #1889
And I'm running: _Version 17.12.0-ce-mac49 (21995)_

[2018-01-21 17:10] ti2m commented on #1889
Hi @soulgalore, thanks for your quick reply!

While looking at it this morning I saw that I was being stupid. I had to change my local setup to move from .dev to another domain to allow http connections in chrome and something went wrong their. Sorry about that, but maybe we can solve the IP issue anyway as it might help others.

Good news is that 192.168.65.2 now works for me as 192.168.65.1 did

[2018-01-22 04:30] beenanner commented on #1889
@ti2m sorry for being late to the party you could run sitespeed.io using the `--net=host` option if you are running some other site not in docker. It should then just you your mac's /etc/hosts file.

`docker run --net=host --shm-size=1g --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io -n 1 http://mysite.local:4000`

[2018-01-22 07:26] soulgalore commented on #1889
@beenanner I don't get the net-host to work for me. I always get a couple of `sudo: unable to resolve host linuxkit-025000000001` errors.

[2018-01-22 08:15] ti2m commented on #1889
@beenanner Also tried the net-host option, but I don't get it to work either.

[2018-01-22 08:17] ti2m commented on #1889
@soulgalore Docs update looks good to me and solves this issue from my point of view. Thanks!

[2018-01-22 09:31] joychester opened #1890 "The test URL with '&' char will be removed from query parameters"
Hi, Peter et al,
we are testing the page URL with serveral query parameters, for example in following:

Test Sample to reproduce the issue:
$ sudo docker run --shm-size=1g --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io:6.2.3 -b chrome -n 2 **https://donate.wikimedia.org/w/index.php?title=Special:LandingPage&country=CN&uselang=en**

The final result for the test url will be https://donate.

[2018-01-22 09:33] soulgalore commented on #1890
Hi @joychester running Linux you need to make sure that & is part of the URL, meaning give it as a String:

`sudo docker run --shm-size=1g --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io:6.2.3 -b chrome -n 2 "https://donate.wikimedia.org/w/index.php?title=Special:LandingPage&country=CN&uselang=en"`

Else it will start a new process.

Best
Peter

[2018-01-22 09:39] joychester commented on #1890
That works!! Thanks Peter for the advice!

[2018-01-22 09:39] #1890 closed

[2018-01-22 09:43] suratovvlad commented on #1869
@soulgalore Hi! Thank you very much, the docs became more helpful, and there is much less output with this configuration! I think I don't need more info!

[2018-01-22 09:52] suratovvlad opened #1891 "Update Ubuntu 17.04 docker image"
Hi!

I've faced with problems, using your image sitespeedio/sitespeed.io:6.2.3 as the base for my image.
I'm using the 'apt update' command and several days ago it fails due to end of limetime ([Re: apt-get update failing on 17.04](https://ubuntuforums.org/showthread.php?t=2382832&p=13731536#post13731536))

Could you change in the next iteration the base image to 17.10 or to the current LTS releas

[2018-01-22 10:14] soulgalore commented on #1891
thanks @suratovvlad let us fix that for the next release.

[2018-01-22 10:18] suratovvlad commented on #1891
@soulgalore Thanks a lot!

[2018-01-22 19:12] beenanner commented on #1889
Are you guys on High Sierra? I tested it over the weekend and it seemed to work for me, but I wasn't using a .local domain. I'll test some more but glad there is a workaround for now.

[2018-01-22 19:17] soulgalore commented on #1889
Could be that I missed to name it .local, let me try that.

[2018-01-22 19:34] beenanner commented on #1889
I'm on High Sierra and using Docker for Mac Edge (18.01) too.

[2018-01-22 19:54] soulgalore commented on #1889
Yep also on High Sierra, ah I see now, yep also used a .local :)

[2018-01-23 16:59] bharat129 opened #1892 "Run Webpagetest basic auth using dockerized sitespeed"
Hi @soulgalore ,

I am running Webpagetest using sitespeed, I am able to do it on a website with no basic auth. But when I am trying to run WPT on site with basic auth, it does not work since I could not find any config how to run webpagetest with basic auth.

**command to run:**

docker-compose -f /www/sitespeed/docker-compose.yml run -v /www/sitespeed:/sitespeed.io sitespeed.io https://xxx.xxx.c

[2018-01-23 19:24] soulgalore commented on #1892
Hi @bharat129 we use the WebPageTest API (read more on how we use it here https://www.sitespeed.io/documentation/sitespeed.io/webpagetest/#configuration) and pass on all configuration. If you check https://github.com/marcelduran/webpagetest-api#test-works-for-test-command-only it looks like _--webpagetest.login_ and _--webpagetest.password_ should do the trick!

All the best
Peter

[2018-01-23 20:24] bharat129 commented on #1892
Thanks @soulgalore , WPT is running now after adding your suggested options.

But the command also trigger sitespeed run. Do we have any configuration available which can disable sitespeed run during webpagetest run?

I have separate command to run sitespeed, don't want extra overhead on the server.

[2018-01-23 20:42] soulgalore commented on #1892
Do you mean to disable getting metrics using Browsertime? https://www.sitespeed.io/documentation/sitespeed.io/webpagetest/#run-webpagetest-without-browsertime

[2018-01-23 20:53] bharat129 commented on #1892
Thanks again @soulgalore , But **--plugins.remove=browsertime** only did not work, I also had to put **--speedIndex=false** in my WPT command

[2018-01-24 03:50] soulgalore commented on #1892
Hm what version of sitespeed.io do you use, are you on 6.x? That's how you should do to disable plugins.

[2018-01-24 04:56] soulgalore commented on #1891
Pushed in 6.3.0

[2018-01-24 04:56] #1891 closed

[2018-01-24 04:56] soulgalore commented on #1881
This is from Chrome in WebPageTest.

[2018-01-24 04:56] #1881 closed

[2018-01-24 04:57] soulgalore commented on #1869
Perfect.

[2018-01-24 04:57] #1869 closed

[2018-01-24 04:57] soulgalore commented on #1867
Pushed in 6.3.0

[2018-01-24 04:57] #1867 closed

[2018-01-24 04:58] soulgalore commented on #1856
Closing this because of inactivity, let me know if you need more help!

[2018-01-24 04:58] #1856 closed

[2018-01-24 04:58] #1846 closed

[2018-01-24 04:59] soulgalore commented on #1843
Closing this since I think upgrade Docker is fixing the issue.

[2018-01-24 04:59] #1843 closed

[2018-01-24 04:59] soulgalore commented on #1837
Released!

[2018-01-24 04:59] #1837 closed

[2018-01-24 04:59] soulgalore commented on #1825
This is fixed.

[2018-01-24 04:59] #1825 closed

[2018-01-24 05:01] soulgalore commented on #1689
This was released a couple of releases ago (by using the aws code directly).

[2018-01-24 05:01] #1689 closed

[2018-01-24 05:01] soulgalore commented on #1618
Released this in 6.3.0, but only if you run WebPageTest in standalone mode.

[2018-01-24 05:02] soulgalore commented on #1570
This was released a couple of releases ago. You can now switch to jpg and set compression level.

[2018-01-24 05:02] #1570 closed

[2018-01-24 05:03] soulgalore commented on #1578
Closing this since we don't support IE.

[2018-01-24 05:03] #1578 closed

[2018-01-24 05:04] soulgalore commented on #1446
Released in 6.3.0 but only in WebPageTest standalone mode.

[2018-01-24 05:04] #1446 closed

[2018-01-24 05:05] soulgalore commented on #1618
Ohh, we only implemented PageXray, I closed the wrong issue :|

[2018-01-24 11:14] siteriaitaliana opened #1894 "WPT plugin to support the medianMetric param"
As from https://sites.google.com/a/webpagetest.org/docs/advanced-features/webpagetest-restful-apis the default metric to use when calculating the median run is the loadTime, which is not very accurate for modern PWA... the SpeedIndex would be much more meaningful there.

We should fetch median run results based on that, possibly by letting users specify the medianMetric strategy.

[2018-01-24 12:23] soulgalore commented on #1894
Hi @siteriaitaliana yes we support all setting the [WebPageTest API](https://github.com/marcelduran/webpagetest-api), it's more up to the user to use it by setting **--webpagetest.median** and **--webpagetest.medianrun**.

Best
Peter

[2018-01-24 12:24] soulgalore commented on #1894
Also see https://www.sitespeed.io/documentation/sitespeed.io/webpagetest/#configuration

[2018-01-25 09:11] SoreGums commented on #1889
this looks like my issue - however following along I can't figure out how to apply it.

I'm combined the https://github.com/wodby/docker4wordpress & sitespeed docker-compose.yml files to have one stack.

So if I want to run the test, I need the host header to be set to wp.docker.localhost and for it to go connect to the traefik container on port 8000. the site is at http://wp.docker.localhost:8000

[2018-01-25 23:10] kkopachev commented on #1826
Hi Peter
Is it possible for short-term soolution is to add new config variable which will switch the endpoint used to submit annotations from current `/events/` to what grafana expects `/api/annotations/graphite`  ?https://github.com/sitespeedio/sitespeed.io/blob/master/lib/plugins/graphite/send-annotation.js#L37
Not ideal, but could be fast and cheap win. We already have `graphite.webHost` and po

[2018-01-26 07:39] soulgalore commented on #1826
Hi @kkopachev I see. Let me have a try during the weekend, thinking maybe a Grafana plugin would be nice, it will add extra config but makes things cleaner in the future.

Best
Peter

[2018-01-26 13:32] soulgalore commented on #1826
@kkopachev I'm thinking like this: If you configure --grafana.host all annotations will be sent to Grafana (if you also add resultBaseURL as before). If you leave out the grafana host, it will be sent to Graphite/InfluxDB.

[2018-01-26 15:18] soulgalore commented on #1826
@kkopachev have a working branch but  I cannot see that Grafana support tags that are templates? Do you know? http://docs.grafana.org/reference/annotations/ if that is right the current version need tag names instead of template variables, meaning it will not work.

[2018-01-26 15:20] soulgalore commented on #1826
Yep we need to wait for https://github.com/grafana/grafana/pull/10163

[2018-01-26 17:58] kkopachev commented on #1826
Oh, okay. Thanks for implementing. Hope templated annotations can make it to grafana 5.0

[2018-01-28 23:27] shrej opened #1895 "Running sitespeed on Heroku (using a Docker container)"
Hello,

I am trying to run sitespeed.io using docker on Heroku. I have a heroku.yml file which looks like this:
`build:
   docker:
    worker: Dockerfile
`
I modified the Docker file to include the following line at the end:
`CMD docker run --shm-size=1g --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io:6.2.3 https://www.google.com`

I however see the following user permission issue:

**Stat

[2018-01-30 14:35] joychester opened #1896 "--browsertime.requestheader (-r) option does not work correctly using Docker cmd"
Hi, Peter
I am trying to add custom request headers to my page tests:

I did not find my custom header in Har file. Please advice if I am using it correctly, or it is an issue here.

Thanks!

[2018-01-30 14:41] soulgalore commented on #1896
Hi @joychester sorry I think we are missing docs (and the CLI is missing it too). Separate the key/value by a :
`--requestheader hepp:hepp`

Best
Peter

[2018-01-30 14:51] soulgalore commented on #1895
Hi @shrej what kind of instance do you run on Heroku? Could it be memory issues? I've never tried on Heroku, think others work can disturb the instance, but I can be wrong. If you got it working, please let us know!

Best
Peter

[2018-01-30 14:52] joychester commented on #1896
Thank you @soulgalore for the tip!! it works well 👍
seems you mentioned here on how to use the -r option : https://github.com/sitespeedio/sitespeed.io/blob/698438863ced48fd04a195e35f3b1a47d7cbbfad/docs/_posts/2017-04-24-sitespeed.io-5.0.md

Hope you can add this to the configuration list as an example for people reference!

[2018-01-30 14:52] #1896 closed

[2018-01-30 14:55] soulgalore commented on #1896
Yep, I've added it to the CLI so it will go out in the next release, sorry that we missed that!

[2018-01-30 14:55] shrej commented on #1895
Hi @soulgalore ! You are right. It is indeed a memory issue. I am currently using a dyno with only 512 MB RAM.

![image](https://user-images.githubusercontent.com/12212922/35572831-82d9bab0-05a3-11e8-964f-5b82cc88a059.png)

Do you have any suggestions to make the process use less memory ?
I will let you know if I can make it to work.

Thanks!

[2018-01-30 14:57] soulgalore commented on #1895
@shrej Chrome and Firefox eats memory. When we run on AWS we use a c4.large instance (3.75GB memory).

Best
Peter

[2018-01-30 15:28] shrej commented on #1895
Thanks @soulgalore ! Closing this issue as it is related to memory usage. I will keep you updated if we still decide to use Heroku.

Best,
Shrey

[2018-01-30 15:28] #1895 closed

[2018-01-31 11:36] serputko opened #1897 "'Incomplete first view data for WPT test' while executing webpagetest scripts with few steps in it"
Hi guys,

i'm trying to setup webpagetest scripts with sitespeedio and facing ERROR: Incomplete first view data for WPT test. It is reproducible both while using --webpagetest.script or --webpagetest.file
webpagetest script is
[code]
So i run sitespeedio container with my wpt script:
`docker run --name sitespeed --volumes-from=jenkins --network=host --privileged=true --shm-size=1g --rm -v /var/lib

[2018-01-31 11:58] serputko commented on #1897
Hi @soulgalore, thanks for your answer.

It's okay if sitespeedio can't handle multiple pages results now. I can find necessary info about script execution in wpt report. But i don't want to see that error, it fails my CI builds :)

[2018-01-31 12:46] soulgalore commented on #1897
Did a quick look and it seems like the WebPageTest result lack breakdown (type/size) and that makes it fails. See if I can do a push tonight/tomorrow but I wonder if WPT should return it?

[2018-01-31 13:30] serputko commented on #1897
Are you talking about this http://prntscr.com/i85n31? It is present in wpt report in test where sitespeed throws error

[2018-01-31 19:58] soulgalore commented on #1897
Yep but it looked like it's missing in the JSON we got, but I'll look more into it, at least catch or prevent the error.

[2018-01-31 20:42] serputko commented on #1897
Thanks in advance

[2018-02-01 05:44] soulgalore commented on #1897
I've pushed a fix and can release it later today. However we have another check that if you configured to get the video and the SpeedIndex is 0 (sometimes WPT isn't working correctly and that the only way to know) and I also got that when I tested it.

[2018-02-01 09:06] UANEMESIS commented on #1471
Guys! I've found solution!

Ubuntu:
yml:
- xvfb-run --server-args="-screen 0 1920x1080x24" <<<< OBLIGATORY! pytest --driver Chrome path_to_script/Your_script.py -v

In script (your test):
@pytest.fixture
def chrome_options(chrome_options):
	chrome_options.add_argument('--no-sandbox')  <<<< OBLIGATORY!
	return chrome_options

def test_example(selenium):
	selenium.set_window_size(1920, 1080) <<<< OB

[2018-02-01 18:57] soulgalore commented on #1897
@serputko released a fix that at release take care of the error. Let me know when you had time to try it out and hope it work as it should!

[2018-02-02 11:16] serputko commented on #1897
@soulgalore Thanks
Now it looks like this:
[2018-02-02 11:06:49] ERROR: Incomplete first view data for WPT test 180202_A8_b2366c1d461578d8b278c9aae5214576, run 1
[2018-02-02 11:06:49] ERROR: Metricsfilter: The breakdown is missing from the metrics breakdown.*.requests
[2018-02-02 11:06:49] ERROR: Metricsfilter: The breakdown is missing from the metrics breakdown.*.requests
[2018-02-02 11:06:49] ER

[2018-02-02 11:43] soulgalore commented on #1897
I think that could be because of the SpeedIndex missing but video was configured. Do you mean it misses at all or for parts of your run?

[2018-02-02 11:55] serputko commented on #1897
Ahh, i found the reason. Link to wpt report in displayed on Page summary, but if select run # summary some required data is missing.

Think this issue should be closed. Thanks 👍

[2018-02-02 17:59] lbod opened #1901 "Does the upgrade to 6.x from 5.x double run times?"
We're in process of moving from a single VM on one cloud platform to using AWS ECS, we also upgraded from 5.x to 6.3.1. What we're seeing is the same jobs we run on the current VM we use take twice as long to run on ECS. Video, html and screenshots are removed/disabled.  Being new to ECS I've tried to alter container memory and cpu settings and it hasn't made much difference.

I downgraded back to

[2018-02-02 18:04] lbod commented on #1844
@beenanner I don't think there's much support for this so I'm fine if it's closed unless you think otherwise. We ended up syncing the files from S3 which probably makes more sense.

[2018-02-02 19:11] soulgalore commented on #1901
Hi @lbod and you run our default Docker containers? Yep only change I can think of is that video is running by default but you can see that in the default log _...speedIndex: 471 (±94.76), visualComplete85: 489ms (±98.40ms), lastVisualChange: 489ms (±98.40ms) ..._ ?

Best
Peter

[2018-02-02 19:26] beenanner commented on #1844
Yep @lbod we do the same at my work and have just started working on using something like Ansible with Jenkins to deploy new changes out to the boxes when needed. I'll close for now. Thanks for reaching out.

[2018-02-02 19:26] #1844 closed

[2018-02-02 19:38] lbod commented on #1901
@soulgalore , yes only the default containers. I need to 100% check the logs again and verbose them but don't have access atm. Would you expect that to double the time?
I had run with and without the `--video,false` args and for the same 10 pages it was a couple of minutes faster when video was removed. I've been taking notes of run times for different configs.
Thanks

[2018-02-02 20:04] soulgalore commented on #1901
Yep, the video is post processed after each run and that takes extra time, I don't know how much but it is slower.

[2018-02-03 18:11] bharat129 opened #1902 "Webpagetest runs using sitespeed throwing timeout errors"
Hello @soulgalore ,

I am getting below time out error while running WPT using sitespeed.

`[2018-02-03 17:27:17] ERROR: Error creating WebPageTest result  {"error":{"code":"TIMEOUT","testId":"<testID>","message":"timeout"}}`

Docker-compose command to run sitespeed:
`/usr/local/bin/docker-compose -f /www/sitespeed/docker-compose.yml run -v /www/sitespeed:/sitespeed.io sitespeed.io URLs.txt  --web

[2018-02-03 18:23] soulgalore commented on #1902
The default timeout is 600 seconds, you can change it with --webpagetest.timeout , if you are using WebPageTest.org you should probably setup your own instance.

Best
Peter

[2018-02-03 18:23] #1902 closed

[2018-02-03 18:24] soulgalore commented on #1902
You can read more about the configuration for WebPageTest at https://www.sitespeed.io/documentation/sitespeed.io/webpagetest/#configuration

[2018-02-04 23:09] #1897 closed

[2018-02-05 03:53] aerwin opened #1904 "preURL option seems broken in 6.3.1"
I've noticed that the preURL option seems broken in 6.3.1. Previously, when I was running with 5.4.0 there was a clear difference running with preURL than without. However, with 6.3.1, the results look the same regardless of the preURL value. This will prevent me from being able to use version 6.3.1 in my production tests. Any help would be greatly appreciated!

## With preURL
<img width="1359" al

[2018-02-05 07:39] soulgalore commented on #1904
Hi @aerwin ah thanks for reporting, the shortcut in the cli seems to have been mystically removed sometimes ago (the base --browsertime.preURL was still working). I didnt have time now to look why, but I added it back and will release it the coming hour.

Best
Peter

[2018-02-05 07:48] soulgalore commented on #1904
6.3.2 is pushed, the Docker container will be there in -1 minute, thanks again for reporting.

One other thing: I think you don't need to run with --privileged anymore. You needed that before to run Chrome but we now default to use --no-sandbox when you run with Docker, so it should just work with lower privs.
Best
Peter

[2018-02-05 10:36] lbod commented on #1901
I eventually saw the documentation re setting **both video and speedIndex to false**, once I did that the timings were more or less the same. We're obviously missing out on visual metrics but I was just concerned I was missing something in comparison, which I was

[2018-02-06 10:29] scabenga commented on #777
@soulgalore, just checking if this was ever resolved.  I have the same setup as @ewe-biwu describes above, however when sending the metrics to statsd, nothing shows in Graphite.

From what i can tell is that the syntax for statsd is slightly different.

Graphite:
`echo "metric_name metric_value `date +%s` | nc -q0 127.0.0.1 2003`

StatsD
`echo "metric_name:metric_value|type_specification" | nc -u

[2018-02-06 10:47] soulgalore commented on #777
@scabenga no it will not, it is as you said. If we want StatsD to work we need PR that makes it configurable.

[2018-02-06 11:27] lbod commented on #1770
Hi @soulgalore and @tobli - just looking at the code now and I'm a bit confused by the expected usage.

So for S3 runs, the baseDir is uploaded to the S3 bucket i.e. `/some/directory/sitespeed-result/www.bbc.co.uk/2018-02-06-11-15-01` which is just the contents of that particular run. We have been using the date and domain folders as some basic search/calendar view to navigate reports but not on s

[2018-02-06 12:17] senthilr2k opened #1905 "Setting graphite namespace not getting all values"
Hi i am using latest docker version of sitespeed. When i gave a namespace while running i am not getting all values in graphite. But getting all values when i am not giving any namespace. Please advise

[2018-02-06 12:19] soulgalore commented on #1905
Hi @senthilr2k what Graphite version are you using? By default there's a really low limit of creating new metrics (MAX_CREATES_PER_MINUTE) see point number 6: https://www.sitespeed.io/documentation/sitespeed.io/performance-dashboard/#setup-important

If it is that that's the problem, you will see that you will get more metrics the next run.

Best
Peter

[2018-02-06 13:12] senthilr2k commented on #1905
hi thanks.  i am getting all values when using default  .

On 06-Feb-2018 5:50 PM, "Peter Hedenskog" <notifications@github.com> wrote:

[2018-02-06 13:22] senthilr2k commented on #1905
hi peter,

   i am using a standalone graphite.  not the one inside docker

thanks
senthil r

On 06-Feb-2018 6:41 PM, "Senthil Retnaswamy" <senthil.retnaswamy@gmail.com>
wrote:

hi thanks.  i am getting all values when using default  .

On 06-Feb-2018 5:50 PM, "Peter Hedenskog" <notifications@github.com> wrote:

[2018-02-06 14:33] senthilr2k commented on #1905
Hi Peter,
  I pulled latest version of sitespeed using docker. I have configure graphite outside of docker.  When i used --graphite.namespace to provide a namespace, i am getting very few property values in graphite. But when i removed --graphite.namespace, I was seeing all the values under sitespeed.io/default in graphite.
  I also tried to pull the metrics list using --metrics.list and added tho

[2018-02-06 14:54] soulgalore commented on #1905
Hi @senthilr2k have you changed the MAX_CREATES_PER_MINUTE on your Graphite instance or is it default (like 50 creates per minutes)? 50 creates means that if we send min/max/median/avg you will get 10 metrics or something like that per run.

Also you have the storage schema for graphite (dependent on key names) checkout https://www.sitespeed.io/documentation/sitespeed.io/performance-dashboard/#con

[2018-02-07 11:24] senthilr2k commented on #1905
Thanks Peter. Worked like charm

[2018-02-07 11:24] #1905 closed

[2018-02-07 11:25] senthilr2k opened #1906 "Frequently getting TypeError: Cannot read property 'response' of undefined"
I am using the latest sitespeed available in docker. I am getting the below error very frequently. Could you please help

[2018-02-07 11:23:24] INFO: 131 requests, 2769.84 kb, backEndTime: 1.14s, firstVisualChange: 5.27s, DOMContentLoaded: 3.73s, Load: 7.49s, speedIndex: 5272, visualComplete85: 5.27s, lastVisualChange: 9.73s, rumSpeedIndex: 3844
[2018-02-07 11:23:24] ERROR: TypeError: Cannot read

[2018-02-07 11:27] senthilr2k opened #1907 "Frequently getting ScriptTimeoutError"
I pulled latest version of sitespeed using docker. I am very frequently getting the below error, could you please help

[2018-02-07 11:25:05] ERROR: ScriptTimeoutError: Timed out
    at Object.throwDecodedError (/usr/src/app/node_modules/selenium-webdriver/lib/error.js:514:15)
    at parseHttpResponse (/usr/src/app/node_modules/selenium-webdriver/lib/http.js:519:13)
    at doSend.then.response (/u

[2018-02-07 11:28] soulgalore commented on #1906
Hi @senthilr2k there's some content on the site that we don't handle, can you provide the URL so we can reproduce?

Thanks
Peter

[2018-02-07 11:29] soulgalore commented on #1907
Hi @senthilr2k we need the browser/URL and how you run so we can try to reproduce.

Thanks
Peter

[2018-02-07 11:33] senthilr2k commented on #1907
[2018-02-07 11:28:38] INFO: Testing url https://www.verizonwireless.com/smartphones/lg run 1

[2018-02-07 11:33] senthilr2k commented on #1906
[2018-02-07 11:26:08] INFO: Testing url https://www.verizonwireless.com/devices run 1

[2018-02-07 11:36] senthilr2k commented on #1907
browser is chrome

[2018-02-07 11:56] senthilr2k commented on #1907
any specific reason we might get this kind of errors

[2018-02-07 12:40] soulgalore commented on #1907
Hmm I cannot reproduce it, I've tested the latest Docker and running standalone on my Mac. Either it's some content that only comes sometimes or could it be that the instance you are using for testing is too small? How much memory do you have on that machine?

Best
Peter

[2018-02-07 12:46] senthilr2k commented on #1907
the machine i'm using is having 32GB Ram

[2018-02-07 13:59] lbod commented on #1901
Sorry I need to reopen again. We've been doing quite a bit of testing on ECS now and trying to size according to needs.
Our longest run is 96 pages but the difference in runtimes between 6.1.3 and 5.4.3 is massive and it appears it's somewhere around the html plugin from the logs I see.
The actual crawl time seems to take the same time now but the time spent between `Render HTML for %s page(s)` an

[2018-02-07 14:32] soulgalore commented on #1907
Hmm, you say it is Chrome but from the trace log it is Firefox that is running, the method that gets the HAR from Firefox. Do you use the HAR/Har metrics? If not you can disable the HAR.

[2018-02-07 14:35] soulgalore commented on #1901
I wonder if we can have lost rendering the pages in parallel? Need to look into to know more.

[2018-02-07 14:36] soulgalore commented on #1901
By the why how much memory do you have on that instance @lbod ?

[2018-02-07 15:11] soulgalore commented on #1901
And how many runs do you do per URL?

[2018-02-07 16:26] lbod commented on #1901
@soulgalore it's 94 pages * 4 runs and we've something like 3.8gb assigned to the ECS container.

We've been watching cpu/memory/throughput etc and we don't think there's anything crazy happening, though we could be wrong

[2018-02-07 18:06] soulgalore commented on #1901
Thanks, we'll look into it the coming days.

[2018-02-08 10:02] soulgalore commented on #1901
Hi @lbod can you build from master (clone the repo, build the docker container, checkout how we do in release.sh) ? I did to things this morning, first I added debug logging so each HTML step is logged (enable by add -v to your run) and then I reduced the number of merges (that was introduced in 6) at least when I tried on pages with a lot of data that reduced the time to generate the HTML. We can

[2018-02-08 11:17] lbod commented on #1901
Thanks @soulgalore I'll give it a try but at work and have to run over very slow wifi. I might have to leave it till later when I'm at home.

[2018-02-08 12:14] soulgalore commented on #1901
Let us merge https://github.com/sitespeedio/sitespeed.io/pull/1910 first, I'm pretty sure it will solve most of the problems.

[2018-02-08 14:57] soulgalore commented on #1901
@lbod pushed 6.3.3 with more fixes, best case it will be faster than 5.x, please let us know when you had time to test it. thanks!

[2018-02-08 14:58] soulgalore commented on #1904
great, closing then.

[2018-02-08 14:58] #1904 closed

[2018-02-08 15:28] lbod commented on #1901
@soulgalore thanks so much, we're testing it now

[2018-02-08 17:01] lbod commented on #1901
Massive thanks @soulgalore and the turnaround impressive.

[code]

Obviously I've left out all the html rendering logs but html rendering is down to seconds now!

[2018-02-08 17:11] soulgalore commented on #1901
Good! When we introduced tabs for plugins (you can let your own plugin have your own tab) we accidentally made it slower without noticing by copying a lot of data.

[2018-02-08 19:14] lbod commented on #1901
Working as expected now so closing

[2018-02-08 19:14] #1901 closed

[2018-02-09 14:11] a-venger commented on #1872
Hello. I have the same problem.
Are there some changes since last reply?

[2018-02-09 16:19] skhilko opened #1911 "visualmetrics.py fails in v6.3.x"
I tried to run `sitespeed.io:6.3.3` docker image and it failed on capturing visual metrics. Then I went down version by version `6.3.2`, `6.3.1`, `6.3.0` and only `6.2.3` worked for me flawlessly.

Below is the verbose output from the `6.3.x`:
[code]

[2018-02-09 17:13] soulgalore commented on #1872
@a-venger no, you need to do as Maciej for a workaround.

[2018-02-09 17:17] soulgalore commented on #1911
Hi @skhilko thanks for the report! There has been no change in visual metrics the last releases so I think it's something else.

What kind of [connectivity](https://www.sitespeed.io/documentation/sitespeed.io/connectivity/) do you set when you test? I've seen that before and I think the reason is that the page changes too fast (the video is recorded with first orange background, then white, and th

[2018-02-09 17:23] skhilko commented on #1911
I leave everything default. Here is the command
`docker run --shm-size=1g --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io:6.3.3 --verbose https://google.com`. It always fails for me on `6.3.x` but runs stable on `6.2.x`.

Please let me know if I can provide more details!

[2018-02-09 19:10] soulgalore commented on #1911
Ah sorry I read 6.3 was working but you actually said it was 6.2.x. There's been a new Chromedriver between those versions but I still think the error is coincidental, I tried latest 6.3.3 and it works for me. I still think the problem is the pace of the connection.

[2018-02-09 20:15] skhilko commented on #1911
Just tried throttling the connection to `3g`. Still getting the same error.

`docker run --shm-size=1g --network=3g --rm sitespeedio/sitespeed.io -c 3g https://www.sitespeed.io/`

[code]

[2018-02-09 20:32] skhilko commented on #1911
OK, I think we're narrowing down the problem. Something got broken **after `browsertime` v2.1.3** release.

v2.1.3 works for me
v2.1.4 and above fails

`docker run --shm-size=1g --rm -v "$(pwd)":/browsertime sitespeedio/browsertime:2.1.4 --video --speedIndex https://www.sitespeed.io/`

[2018-02-09 20:56] soulgalore commented on #1911
Hmm that is that Chromedriver upgrade that can change things but I cannot see how it can have change the loading. Thanks for trying to narrowing down the problem.

[2018-02-10 20:50] soulgalore commented on #1911
I'll try to increase the probesize  (we removed that 4 months ago).  Is it possible for you to share one of the original recordings? You get that by adding *--videoParams.keepOriginalVideo* or in sitespeed.io *--browsertime.videoParams.keepOriginalVideo* then it's easier to try it standalone just with Visual Metrics.

Also what's your host OS (see if I can reproduce, I couldn't on my mac).

[2018-02-11 03:18] skhilko commented on #1911
Here you go https://drive.google.com/file/d/1_XetdgpdK5BuQD5qpfEGUgpVL8hqLmJN/view?usp=sharing

I'm on macOS 10.13.3, docker 17.12.0-ce-mac49 (21995)

[2018-02-11 05:02] aerwin opened #1912 "Advice list metrics no longer sent to Graphite after upgrade to 6.3.2"
I've noticed that after upgrading to 6.3.2 (I had been on 5.4.0) that my Grafana dashboards stopped showing the data that had been going into `coach.pageSummary.advice.performance.adviceList.*.score`. I can reproduce this based on the samples in the sitespeed docs (e.g., https://www-origin.sitespeed.io/documentation/sitespeed.io/metrics/#add-a-metric).

When I run the command below using 6.3.2, th

[2018-02-11 07:30] soulgalore commented on #1911
Thanks! Can you share how you set up the 3g Docker network on Mac, we don't have that in our setup in the docs (https://www.sitespeed.io/documentation/sitespeed.io/connectivity/#docker-networks) only for Linux, would love to also have it for Mac!

[2018-02-11 08:01] soulgalore commented on #1912
Hi @aerwin thanks for the report. Did a quick check and I get it when I run node standalone, something strange is happening with the Docker container. Let me look into that.

Best
Peter

[2018-02-11 08:33] soulgalore commented on #1912
Rolling out  6.3.3 later today with a fix.

[2018-02-11 19:48] skhilko commented on #1911
Oh, sorry, I thought `--network=3g` does the trick. Should've read the docs more carefully...

[2018-02-11 19:54] soulgalore commented on #1911
No but I think you should get an error if you set that and you have no network setup. I haven't had time yet to check the video, I'll do that next week. Master in browsertime now has the fix for probesize (one of the error logs you got) but I'm not sure it will help.

[2018-02-12 08:31] a-venger commented on #1872
@soulgalore ok. Thanks

[2018-02-12 22:33] aerwin commented on #1912
Hi, @soulgalore ... Thanks for getting a fix out so quickly. I've confirmed that the scenario as written is fixed.

However, it seems the fix doesn't work for me when I specify the metrics filter in a config file like so:

[code]

When I run a test using 6.3.4, it fails.

[code]

When I run a test with 5.4.0, it works.

[code]

When I wrote up the problem report, I was trying to make the scenario

[2018-02-13 12:59] soulgalore commented on #1912
Hi @aerwin ok, hmm I did a quick test and it seemed to work for me:

[code]

With a config.json:
[code]

And the log:
[code]

Let me look into it more tonight.

[2018-02-13 14:45] soulgalore commented on #1912
It looks like a bug that happens when you turn on ` "filterList": true` - let me fix that.

[2018-02-13 14:55] soulgalore commented on #1912
Yep the problem was that configuring filterList broke the metrics setup, my mistake when I moved to the new message format, sorry. It is fixed in https://github.com/sitespeedio/sitespeed.io/pull/1915  see when I can get by to release it.

[2018-02-14 13:24] mglauche opened #1916 "Files not corretly uploaded to S3"
Hi,

I'm having issues with the s3 upload engine, it often failes to upload all content from the local directory to the s3 bucket.
For example if i specify "-n 3", i'm seeing 0.html, 1.html, 2.html, but the index.html is missing.
Similar problem exist when using -n 1, here the screenshot directoy is not transfered correctly.
Any idea how to debug these issues?

[2018-02-14 14:20] soulgalore commented on #1916
Hi @mglauche thanks for reporting! Have you been able to verify that it is the upload that fails (the files are created by sitspeed.io)? I think we have the s3 uploading logs disabled even on default because it logs so much, but I'll check if we can turn that on. Also you run version 6.x right or is it a earlier version of sitespeed.io? Also where is your bucket located. There are configurations y

[2018-02-14 14:32] mglauche commented on #1916
yes, the files are correctly generated in the local directory, for example:

-rw-r--r-- 1 root root  939611 Feb 14 14:04 0.html
-rw-r--r-- 1 root root  945784 Feb 14 14:04 1.html
-rw-r--r-- 1 root root  939113 Feb 14 14:04 2.html
drwxr-xr-x 4 root root    6144 Feb 14 14:04 data/
-rw-r--r-- 1 root root 2682246 Feb 14 14:04 index.html

data has:
-rw-r--r-- 1 root root 2603510 Feb 14 14:04 browsertim

[2018-02-14 14:40] mglauche commented on #1916
docker run --privileged --shm-size=1g --rm -v /var/www/html:/sitespeed.io --name sitespeed sitespeedio/sitespeed.io -V
Google Chrome 63.0.3239.132
Mozilla Firefox 54.0.1
6.3.5

[2018-02-14 19:03] soulgalore commented on #1916
Ok. We did a fix a while ago for the signatureVersion: 'v4' (that's needed for Frankfurt and all EU locations) where we override the setup with the aws-sdk (since the node version we use hasn't been updated for years). I think we need to move to another aws lib. Either use the aws-sdk directly or if find another one that is uptodate. @beenanner what do you think?

[2018-02-14 19:30] wolframkriesing commented on #1916
@mglauche as @soulgalore mentioned we also had an issue with uploading to older s3 buckets, like Frankfurt, so we just switched to one that uses v4, and it worked out of a box (i think we use dublin)

[2018-02-15 13:39] soulgalore opened #1918 "Timings summary show wrong metrics (in some cases)"
https://results.sitespeed.io/en.m.wikipedia.org/2018-02-15-09-31-27/pages/en.m.wikipedia.org/wiki/Facebook/index.html

<img width="1084" alt="screen shot 2018-02-15 at 2 37 40 pm" src="https://user-images.githubusercontent.com/540757/36259233-dfd7d596-125d-11e8-8f85-39453301d3df.png">

[2018-02-16 03:00] aerwin commented on #1912
@soulgalore Things seem good now in 6.3.5... thanks for your speedy help!

[2018-02-20 14:27] nicolasbaer commented on #1911
I'm running into the same issue with certain urls. Let me know if I can help in some way to resolve this problem.

[2018-02-20 14:49] soulgalore commented on #1911
Hi @nicolasbaer what connectivity do you run and on which host OS? Can you share how you run, then I can see if I can reproduce it?
Thanks
Peter

[2018-02-20 14:58] soulgalore commented on #1911
@skhilko thanks for the video, I had a go now and in our configuration add **--startwhite** to https://github.com/WPO-Foundation/visualmetrics that fails, let me see if we really needs it or if there's a bug there I can fix.

[2018-02-20 15:04] soulgalore commented on #1911
ok, the problem is that is another variant of https://github.com/WPO-Foundation/visualmetrics/pull/26 I'll fix that later today. I can do a release of Browsertime tomorrow and probably push a new sitespeed.io at the same time.

[2018-02-20 15:09] soulgalore commented on #1911
no sorry that wasn't it, argh I was using an not updated branch. so the video works for me.

@nicolasbaer can you either show how you run or share the original video when it fails:

Thanks

[2018-02-20 15:12] nicolasbaer commented on #1911
Hello @soulgalore. Thanks for the quick reply! We are running sitespeed as part of our CI environment in Docker on a `CentOS Linux release 7.4.1708 (Core)`. Currently, we do not set any connectivity option. I run the following command:
[code]

The urls are internal, so I guess that will not help. Also, not sure if i can share the videos due to NDA.

Let me know if you need further information.

[2018-02-20 15:19] soulgalore commented on #1911
Ok, I think this only happens when you don't set any connectivity settings so one way (if you can test) would be to turn that on,  checkout https://www.sitespeed.io/documentation/sitespeed.io/best-practice/#throttle-or-not-throttle-your-connection
and
https://www.sitespeed.io/documentation/sitespeed.io/connectivity/

[2018-02-20 15:33] nicolasbaer commented on #1911
I don't have permission to use traffic control on the testing system. However, I created a cable network without tc and run the test again with `--network=cable`. Same issue.

[2018-02-20 15:56] soulgalore commented on #1911
Yeah but you need to set some of connectivity, now it is the same as before :) I think the bug is that the page renders too fast (we could add a extra wait before we start to fix that) if we can nail it down if that works.

[2018-02-20 16:00] sergitorralba opened #1920 "Combining prescript and crawl"
I was trying to combine prescript and crawl. But it seems that it tries to crawl before running the prescript.
So if the prescript is to login, when it does the crawl is crawling the login form not the actual page under test.

[2018-02-20 16:08] soulgalore commented on #1920
Hi @sergitorralba the crawl happens before with a standalone tool (simplecrawler). Right now our impl only supports basic auth but simplecrawler has support for adding cookies see https://github.com/simplecrawler/simplecrawler#cookies and adding request headers (**crawler.customHeaders**) so if you have time to do a PR for adding the headers (we have support for request headers in Browsertime) and

[2018-02-20 16:21] sergitorralba commented on #1920
Let see if I have time, but thanks anyway!

[2018-02-20 21:13] soulgalore commented on #1911
@skhilko you got the original video, there we use the orange color to detect when the navigation start, so the orange is perfectly fine.  it works like this: we turn the screen orange, start recording the screen, change the background to white and navigate to the page. then we remove the orange frame for the final result.

The video that you shared, is that from that case when you got the error? i

[2018-02-20 22:06] skhilko commented on #1911
Yes, that's the video from the failed test.

[2018-02-24 07:01] Nuoky commented on #1830
phone：SM-C500
root: no
system: android 7.0

@soulgalore
Hi,

I've tried again, using ADB to successfully copy browsertime.mp4 from my phone to the server. However, the video seems to be damaged.

So I think this may not be the problem of the file can not be copied to the server.

[video.zip](https://github.com/sitespeedio/sitespeed.io/files/1754109/video.zip)

[2018-02-26 09:22] senthilr2k opened #1921 "Core.xxxxx files are getting generated will running sitespeed.io"
Hi ,
Core.xxxxx files are getting generated will running sitespeed.io in docker. These files are of huge size.

Thanks,
Senthil R

[2018-02-26 20:30] soulgalore commented on #1921
Hi @senthilr2k thanks for reporting, can you help me out some more, how do you get them and where and what are those? What OS are you using etc. How do I do to reproduce the issue?

Thanks!
Peter

[2018-02-26 22:13] soulgalore commented on #1920
Closing this, lets add a new issue for adding a cookie to the crawl if there are someone that needs it :)

[2018-02-26 22:13] #1920 closed

[2018-02-26 22:13] soulgalore commented on #1912
Thanks.

[2018-02-26 22:13] #1912 closed

[2018-02-26 22:14] soulgalore commented on #1894
Already supported through the WPT API.

[2018-02-26 22:14] #1894 closed

[2018-02-28 09:20] nicolasbaer commented on #1911
@soulgalore I had the chance to look into this. It might be possible that my issue is not related to the one that @skhilko is having. `visualmetrics.py` fails when there's a space in the url. e.g. if you run the following command:
[code]
If I then rename the folder before passing it to `visualmetrics.py` and remove the encoding for the space (e.g. `/browsertime/browsertime-results/themeforest.net-

[2018-02-28 10:11] nicolasbaer commented on #1911
@soulgalore this here seems to be the special case for my issue: https://en.wikibooks.org/wiki/FFMPEG_An_Intermediate_Guide/image_sequence#Percent_in_filename

Now, how should I go about to fix this one? It seems that the `visualmetrics.py` is copied from https://github.com/WPO-Foundation/visualmetrics, right? So, I should probably open a pull-request there.

[2018-02-28 10:17] soulgalore commented on #1911
I think it’s on our side, we do hack where we do replace some chars and I think that needs to be updated, I can have a look later today or share where it is and maybe you can do a PR!
Best
Peter

[2018-02-28 10:30] nicolasbaer commented on #1911
I created a PR here: https://github.com/WPO-Foundation/visualmetrics/pull/27
Since it's a ffmpeg restriction I think its the right place in the `visualmetrics` script. Maybe you could cherry-pick that one in case it makes sense.

[2018-02-28 12:35] soulgalore commented on #1911
Perfect, thanks.

[2018-02-28 15:16] juniorriau opened #1922 "Cannot find chrome binary"
hi

i install the sitespeed.io by clone git repo. then i try to run without docker
i got error cannot find chrome binary
`[root@server sitespeed.io]# bin/sitespeed.js https://riaucybersolution.net/
[2018-02-28 15:12:09] INFO: Versions OS: linux 3.10.0-229.1.2.el7.x86_64 nodejs: v8.9.4 sitespeed.io: 6.3.5 browsertime: 2.2.2 coach: 1.2.0
[2018-02-28 15:12:09] INFO: Starting chrome for analysing http

[2018-02-28 15:40] soulgalore commented on #1922
Hi @juniorriau just wanted to verify that you have Chrome installed? Can you check where (if that's the case) and report which OS you are using.
Best
Peter

[2018-02-28 21:14] juniorriau commented on #1922
![image](https://user-images.githubusercontent.com/3606652/36813375-ed2109bc-1d06-11e8-8722-c2362078ffa6.png)
chrome driver installed, i use centos 7.4

[2018-02-28 21:55] tobli commented on #1922
Hi @juniorriau,
You don't need to have chromedriver installed (it's comes bundled with sitespeed.io). You do however need to have Chrome, the actual browser, installed.

Best regards,
/Tobias

[2018-02-28 21:55] #1922 closed

[2018-02-28 22:42] passwordleak commented on #1922
Same problem. Ironically I'm viewing this with Chrome. Windows 10

[2018-02-28 22:46] juniorriau commented on #1922
@tobli i got another error
`[root@server sitespeed.io]# bin/sitespeed.js https://riaucybersolution.net/
[2018-02-28 22:40:30] INFO: Versions OS: linux 3.10.0-229.1.2.el7.x86_64 nodejs: v8.9.4 sitespeed.io: 6.3.5 browsertime: 2.2.2 coach: 1.2.0
[2018-02-28 22:40:30] INFO: Starting chrome for analysing https://riaucybersolution.net/ 3 time(s)
[2018-02-28 22:40:30] INFO: Testing url https://riaucyber

[2018-03-01 06:12] soulgalore commented on #1922
@juniorriau first make sure that the user you use can run Chrome (do you have a screen or will you use xvfb?). Then I think you need to add no-sandbox to Chrome as an arg: `--browsertime.chrome.args no-sandbox`. Else use the Docker container it just works :)

[2018-03-01 06:16] juniorriau commented on #1922
Hi

this output when i run as normal user
![image](https://user-images.githubusercontent.com/3606652/36829649-c144885e-1d52-11e8-9fa9-2bf4d31f0bff.png)

[2018-03-01 08:09] soulgalore commented on #1922
yep you don’t have display. You can use xvfb (you need to install it) and start it. Or you can use Docker and it just works :)

[2018-03-01 08:28] juniorriau commented on #1922
ok i'll try, i don't have any experience using docker.

[2018-03-07 09:52] profhase opened #1926 "Error - Cannot read property start for 'undefined'"
As I cannot use docker on my vm, I installed sitespeed manually with
npm 5.6.0 on node 8.9.4

for testing reasons I have installed it locally on /root and run as root
I ve executed:

     Xvfb :99 -shmem -screen 0 1366x768x16
     export DISPLAY=:99
     export $(dbus-launch)

    ./node_modules/.bin/sitespeed.io --browser=firefox https://www.google.de -v

First it takes a long while, then it exit

[2018-03-07 09:59] soulgalore commented on #1926
Hi @profhase which Firefox version are you using? Since Firefox 55 the Har Export Trigger is broken, that's why we use 54 in our Docker container. If you wanna run with newer Firefox (until 60 or 61 is released) you need to skip the HAR file. Add  `--browsertime.skipHar ` to do that.

Best
Peter

[2018-03-07 10:01] profhase commented on #1926
[code]

[2018-03-07 10:01] awildings opened #1927 "Error parsing report"
Hello,
does anyone know about this error?

~ sitespeed.io -b chrome --browsertime.chrome.args no-sandbox http://bukalapak.com
[code]

[2018-03-07 10:03] awildings commented on #1926
I'm also getting this using chrome...
[code]

[2018-03-07 10:05] profhase commented on #1926
Thank you very much, the skipHar option helped, now I can see the three runs:

[code]

Unfortunately there is still the error in the end. Do you have an idea?

[2018-03-07 10:08] soulgalore commented on #1927
Hi @awildings thanks for reporting, hmm let me look into it.

Best
Peter

[2018-03-07 10:17] soulgalore commented on #1926
Yep it's the same as https://github.com/sitespeedio/sitespeed.io/issues/1927, I will look into that today.

[2018-03-07 10:27] mkreidenweis opened #1928 "Z_BUF_ERROR when getting WebPagetest result"
We use sitespeed.io 6.3.5 inside Docker regularly to trigger WebPagetest. Unfortunately we quite often get errors like these, which we cannot really explain:
[code]

It happens for all kinds of different test runs (different URLs). Unfortunately the error gives us very little information on what went wrong, so we cannot really determine for which tests it failed.
Any ideas?

Our configuration for

[2018-03-07 10:49] soulgalore commented on #1928
Hi @mkreidenweis thanks for reporting.
Hmm it comes from the WebPageTest API right: https://github.com/marcelduran/webpagetest-api/blob/master/lib/webpagetest.js#L132 or something there.

Either it's an NodeJS issue (it has been in older versions) or could it be something like missing encoding from the WebPageTest server?

Either if you can create an upstream issue in the WebPageTest API or ping P

[2018-03-07 10:52] koehnlein opened #1929 "Allow to exclude URLs from crawling"
It would be great to have a feature to exclude URL paths from crawling. I would like to analyse `http://www.example.com/path1/*` but not `http://www.example.com/path2/*`

Maybe this can help: <https://github.com/simplecrawler/simplecrawler/wiki/Target-crawling-desired-resources-and-ignore-others>

[2018-03-07 11:02] awildings commented on #1927
@soulgalore do you know why this is happening? is there any quick way to prevent this? should I downgrade?

[2018-03-07 11:12] soulgalore commented on #1927
Hi @awildings can you install latest 6.4.1 (latest)? I upgraded the pug lib that we use to 2.0.0. from 2.0.0-rc4 and now I cannot reproduce. However it happened for me when I installed globally with npm, not installing globally from local, that is strange.

Yeah, we prefer using our Docker version, then we are sure the environment is ok.

Please let me know if the latest version work for you or no

[2018-03-07 11:13] soulgalore commented on #1926
@profhase can you try installing latest 6.4.1, I can at least not reproduce with that version.

[2018-03-07 11:21] awildings commented on #1927
@soulgalore it's working fine after upgrading into 6.4.1. Thanks brother!!

[2018-03-07 11:21] #1927 closed

[2018-03-07 13:50] spham opened #1930 "setup compare"
Hi
just need help documentation for setup compare view
example :
https://dashboard.sitespeed.io/d/000000049/compare-performance?orgId=1

[2018-03-07 17:50] soulgalore commented on #1930
Hi @spham ,
I think this is the one: https://github.com/sitespeedio/grafana-bootstrap-docker/blob/master/dashboards/graphite/CompareBetweenPages.json

Check out if that will help you.
Best
Peter

[2018-03-07 20:50] spham commented on #1930
i dont get where to setup this file ?

[2018-03-07 21:50] soulgalore commented on #1930
You can checkout the Grafana docs on how to import dashboards: http://docs.grafana.org/reference/export_import/

[2018-03-08 04:45] spham opened #1931 "Question about DNS Mapping"
Hi
I would like to know how to manage DNS Mapping

we are user load balancer, and wish to fetch data for same URL but IP is different.
in this new IP, we have add support for http2

[2018-03-08 06:39] soulgalore commented on #1930
If you use our Docker compose file you can find the info here: https://www.sitespeed.io/documentation/sitespeed.io/performance-dashboard/#up-and-running-in-almost-5-minutes

[2018-03-08 06:47] spham commented on #1930
It’s little confusing

[2018-03-08 07:55] soulgalore commented on #1930
Ok. How do you setup Grafana? Do you use it standalone (then check with Grafana.org for default password), else if you start Grafana using our Docker compose file, the password is in the docker compose file: https://raw.githubusercontent.com/sitespeedio/sitespeed.io/master/docker/docker-compose.yml

[2018-03-08 08:50] spham opened #1932 "how to check speed index when have load balancer ?"
i m guess about speed index on load balancer ?

if we fetch data every hour , but it's not the same server.

so , how to consider this ?

[2018-03-08 14:01] soulgalore commented on #1930
Yep there are fields in that template that is hardcoded:"To make this dashboard work for you, you need to reconfigure the constants (template) sitespeed_io and desktop."

[2018-03-08 14:08] spham commented on #1930
I see , but i must replace with ?

[2018-03-08 14:42] profhase opened #1933 "throttling on non-docker throws errors"
On an ubuntu 16.10 server with sitespeed and throttle manually installed with npm:

    node_modules/.bin/throttle --up 330 --down 1000

gives

[code]

[2018-03-08 16:06] soulgalore commented on #1933
Hi @profhase could it be an issue with if you run with cable vs wifi? Let me have a look tonight, I wanna update the lib to use async/await anyway to get rid of promises.

Best
Peter

[2018-03-08 19:22] profhase commented on #1933
Thank you for the quick answer, I guess I figured out the problem: my kernel does not support `tc`(missing module) I suppose this is the reason

[2018-03-08 19:22] #1933 closed

[2018-03-08 19:22] soulgalore commented on #1933
Let us add a check for that in throttle.

[2018-03-08 20:04] soulgalore commented on #1930
Hi @spham so it depends on the configuration when you run? You can configure what Graphite namespace to use with:

`--graphite.namespace           The namespace key added to all captured metrics.                           [default: "sitespeed_io.default"]`

But if you use Grafana and the query editor, you can see what data you have in Graphite and then choose which one you wanna use. You can check

[2018-03-08 20:39] julrich opened #1934 "Allow process to exit with successful exit status when budget fails"
Like described in Slack: It would be nice to have the option to suppress the exit code when running a scan with associated budget, that fails. For some CI setups (we use Bamboo) the test result data (`junit.xml` for us) won't be parsed if the job failed.
In those cases, the job would fail anyway due to the test result parsing.

Maybe adding an option like `--budget.dontFailProcess`, set to `false`

[2018-03-08 21:02] soulgalore commented on #1934
Yep I agree we should fix it. I checked the cli and we still have a hack (since 4.4) for taking care of when we had only --budget as a parameter, that makes it a little more work. We should remove that hack on the next major :)

[2018-03-08 21:59] lbod opened #1935 "Add S3 ACL settings as an option"
I have a fix for this and can submit a PR (we are meant to submit an issue first?).

No canned ACL is set on the S3 objects created and currently by default we have to manually change them in the console if we need to, by default I'm certain they are set to private (at least in our setup, they don't inherit bucket policy). It's a trivial task to add the option i.e. https://docs.aws.amazon.com/Amaz

[2018-03-09 08:06] soulgalore commented on #1932
Hi @spham
but the servers are the same our do mean that one would be slower than the other? It depends on what you want to measure:
* Do you want to find regressions, then maybe you can test earlier on your flow like your stage server?
* If you want to test as it happens for a user, then I guess it is ok since users also will hit different servers?

Best
Peter

[2018-03-09 08:15] spham commented on #1932
i would like measure speedindex, but it will change bellow load of server.

[2018-03-09 08:21] spham commented on #1930
hum, i use default docker + grafana.
but it's not clear.
have you an example with screenshot ?

[2018-03-09 08:43] spham commented on #1930
how to  reconfigure the constants (template) sitespeed_io and desktop when use default docker and graphite

[2018-03-09 10:35] Pe4enie commented on #1907
Hi @soulgalore. I'm currently having the same issue. Exists only for firefox and since quite some time now. You can look up my configuration in the other bug I reported (https://github.com/sitespeedio/sitespeed.io/issues/1861), currently i'm using the version 6.4.1 and getting this error

`[2018-03-09 11:30:10] ERROR: ScriptTimeoutError: Timed out
    at Object.throwDecodedError (/usr/src/app/node

[2018-03-09 11:28] soulgalore commented on #1930
This is Grafana issues, I think you best find them at Grafana. This is how you use templates etc: http://docs.grafana.org/reference/templating/

[2018-03-09 11:35] soulgalore commented on #1907
@Pe4enie if I understand correctly it is the https://github.com/firebug/har-export-trigger that fails (we only run async script when we get the HAR). Quick solution is to `--skipHar` for Firefox, you will miss out on HAR information but you can still get visual metrics.

The HAR plugin broke in FF 55 so I've been running without HAR for a while but I got some good news. Last night a fix landed in

[2018-03-09 12:03] Pe4enie commented on #1907
@soulgalore yap, that's what I also recognized (about --skipHar), that's why I said it exists for quite some time now. Was checking once in a while if it's fixed. Well, great news then. As soon as I can try it out on my setup with ubuntu, I can give some feedback.

Thanks!

[2018-03-09 12:10] spham commented on #1930
i dont think is grafana issue, but it's how to use with sitespeed

[2018-03-09 12:10] spham commented on #1930
ok dont matter :-(

[2018-03-09 12:10] #1930 closed

[2018-03-09 12:10] #1932 closed

[2018-03-09 12:10] #1931 closed

[2018-03-10 03:30] tufandevrim opened #1939 "How to complete a test without waiting load event"
Is there a way to start computing values without waiting load event which might be stuck downloading an asset it beacon. I am looking at a timeout value if load event doesn't fire for example 10 sec

[2018-03-10 08:13] soulgalore commented on #1939
Hi @tufandevrim at the moment we use the default pageLoadStrategies for Selenium/WebDriver meaning that we get back in control after the loadEventEnd has fired. We have an old issue to change that see https://github.com/sitespeedio/browsertime/issues/186 but when I looked at it a year ago (or two) Firefox/Chrome didn't support it.

But now it seems like Geckodriver (for Firefox) has implemented it

[2018-03-10 12:54] soulgalore commented on #1939
It turns out both Chrome and Firefox supports it now! I've made a PR to Browsertime https://github.com/sitespeedio/browsertime/pull/501 but that is for next major version coming later this year (a couple of months maybe).

[2018-03-10 13:09] #1935 closed

[2018-03-11 16:25] spham opened #1940 "is it possible to save data on mysql ?"
i try and not get if it possible

[2018-03-11 18:15] beenanner commented on #1940
Hi @spham,

No it is not possible right now out of the box, but you could write a plugin to do this.
https://www.sitespeed.io/documentation/sitespeed.io/plugins/#how-to-create-your-own-plugin

[2018-03-11 18:50] jchoksi-whitbread commented on #1911
I believe I've encountered the same visualmetrics.py failure as the original poster and found a way to fix it.

My setup's details are:

[code]

When I run the following command:

[code]

I get a similar error to the original poster:

[code]

However, if I replace the **/usr/local/lib/node_modules/browsertime/vendor/visualmetrics.py** file with the latest version from: [https://github.com/WPO-Foun

[2018-03-11 19:47] soulgalore commented on #1911
Hey @jchoksi-whitbread so I think to be sure you need to collect the original video and compare with the different versions. Doing two different runs produces two different videos. However we can upgrade in next release but it's still a bug in the original version that don't Chromes "1/4" orange screen, so need to look at again.

Best
Peter

[2018-03-12 13:45] awildings opened #1941 "Help Headless"
Hello, previously I able to run browsertime headlessly
but for this URL I wasn't able.
I got this error
$ browsertime https://bbm.webcomics.co.id --chrome.args no-sandbox --headless
[code]

[2018-03-12 23:28] abhinavn opened #1943 "Can't pull data into compare performance dashboard"
Hi there

i have setup grafana dashboard with provided docker-compose file. I have been able to get up and running quick, thanks for the great work.

I am trying to understand how I can get compare performance dashboard listed in example dashboard( https://dashboard.sitespeed.io/d/000000049/compare-performance?orgId=1) working in my own setup

I see this line "This is an example dashboard on how y

[2018-03-12 23:53] abhinavn commented on #1943
So the good news is i can get data for SpeedIndex performance compare, but for other metrics i dont get data back. By other metrics I refer to "FirstVisualChange", "Requests", "Total transfer size"

[2018-03-13 00:27] abhinavn commented on #1943
My queries were wrong in the dashboard, i don't know how that happened.

I looked into source and fixed queries, user error.

[2018-03-13 00:27] #1943 closed

[2018-03-13 06:55] soulgalore commented on #1941
Hi @awildings
it's a redirect that it seems like headless mode doesn't handle on that page right?  I think it's a Chrome issue somehow because running Firefox in headless works for me.

(FYI you can skip using **--chrome.args no-sandbox** !).

Best
Peter

[2018-03-13 08:19] awildings commented on #1941
@soulgalore I tried using firefox browser I ended up with this error
[code]

[2018-03-13 08:20] soulgalore commented on #1941
@awildings what Firefox version are you using? Since 55 the HAR Export trigger is broken so you need to run with --skipHar. There are a new version out there that works with Firefox 60, when it's in beta on Linux we can soon release it.

[2018-03-13 08:29] awildings commented on #1941
@soulgalore thanks! it's working fine

[2018-03-13 08:41] awildings commented on #1941
@soulgalore I got an error both my server and my local machine...
sitespeed.io https://google.com -b chrome
[code]

[2018-03-13 08:59] soulgalore commented on #1941
Do you run the latest version (I’ve missed the version number in the report)? There was some pug dependency problems before but I thought that was fixed. Always safest to run the latest Docker container :)

[2018-03-13 09:59] awildings commented on #1941
@soulgalore Yes I have latest version.
```[2018-03-13 16:57:49] INFO: Versions OS: darwin 17.4.0 nodejs: v8.10.0 sitespeed.io: 6.4.1 browsertime: 2.2.2 coach: 1.2.0```

[2018-03-13 10:17] awildings commented on #1941
I solve it by using the repo version. it works well

[2018-03-13 11:04] soulgalore commented on #1941
I think something is still broken in pug, let me open an issue for that.

[2018-03-13 11:06] soulgalore opened #1944 "Pug problem when running npm installed version."
See https://github.com/sitespeedio/sitespeed.io/issues/1941#issuecomment-372588014

[code]

We also get it in latest build in Docker.

[2018-03-13 11:07] soulgalore commented on #1941
Closing this but adding https://github.com/sitespeedio/sitespeed.io/issues/1944 as follow up for problem number two.

[2018-03-13 11:07] #1941 closed

[2018-03-13 11:13] soulgalore commented on #1944
Upgraded to pug 2.0.1.

[2018-03-13 19:56] soulgalore opened #1945 "Error from WebPageTest"
[code]

[2018-03-13 20:44] #1945 closed

[2018-03-15 15:19] rockerdata opened #1947 "Not able to use --requestHeader (-r) option"
Hi,

I am using latest docker version of Sitespeed. I would like to add dynatrace headers in my request. Following is the command that I am using.

sudo docker run \
--privileged \
--shm-size=1g --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io  \
-b chrome  \
--browsertime.proxy.http=http://somproxy.com:8080  \
--browsertime.proxy.https=http://somproxy.com:8080 \
-r x-dynaTrace:HomePage \
-

[2018-03-15 15:45] Pe4enie opened #1948 "Firefox with a pre-script for logging in have issues with redirects"
Hey,

got another issue with firefox. When I run pre-script to login the user, I consistently following error (for Chrome the same setup works just fine):

[code]
Versions used are in the log above on first line. Docker is running on Ubuntu 16.04.3 LTS.

Here is a script, which runs all the stuff (only for firefox, others omitted):
[code]

default.json:
[code]

And finally here's prescript itself:

[2018-03-15 15:54] Pe4enie opened #1949 "Error while recording visual metrics"
Hi again,

here is another issue i'm currently having in my setup. All the configs are the same as in [other issue I just reported](https://github.com/sitespeedio/sitespeed.io/issues/1948).

docker run command is:
[code]

And the error:
[code]

Unfortunately, it's not consistent, but from last runs I did, appears at least once each time.
As you can say from docker run command, I expect browser to

[2018-03-15 16:32] abhagupta opened #1950 "Sitespeed docker container throws error status code 0 even if browser fails to load site"
Hi,
I tried running sitespeed.io docker container with an invalid site. Sitespeed.io source code threw an error which was expected, but the docker container still got a success code. I am trying to capture the error code so that I can handle the error condition outside and fail the process which is running docker container.

Steps to reproduce:
- Run sitespeed.io using this script https://gist.git

[2018-03-15 16:44] abhagupta commented on #1950
NVM about this issue. I think the newest sitespeed.io container is sending correct code.

[2018-03-15 16:44] #1950 closed

[2018-03-15 19:36] soulgalore commented on #1948
Hi @Pe4enie I think you use a Selenium command that actually just work in Chrome and that is not a webdriver standard (I also did the same before). I think the example login script in Browsertime for Wikipedia works for both browsers, check it out!

I’m away a couple of days without my computer so can’t give you the exact link sorry!

Best
Peter

[2018-03-15 19:40] soulgalore commented on #1947
Hi @rockerdata hmm it should work. when I test it I usually try on one of those sites that pront out the headers in the repsonse. I can help you after the weekend when I’m back.
Best
Peter

[2018-03-15 19:45] soulgalore commented on #1949
One hack you could try in your login script is that after the login has finished, empty the body of the HTML document so it’s all white (I don’t think we do that today). We changed that in the coming 3.0 of browsertime so it will be more automagical things, but let me have a look early next week.

Best
Peter

[2018-03-16 07:57] rockerdata commented on #1947
Sure @soulgalore  , will wait till you are back.

[2018-03-16 13:42] Pe4enie commented on #1948
Hi @soulgalore, I'll try that out, but the only difference I see between my script and your documentation (that's the [right link](https://www.sitespeed.io/documentation/sitespeed.io/prepostscript/), right?) is that you no longer submit the form, but just click the button.

Btw, this line in documentation
`const loginForm = driver.findElement(By.name('userlogin'));`
is no longer needed ;)

[2018-03-16 14:39] Pe4enie commented on #1948
Hi @soulgalore, you were totally right, clicking the button instead of submitting the form works in both Chrome and Firefox! You can close the issue then, I guess. Thanks! :)

[2018-03-16 19:05] beenanner opened #1953 "Add totalTime of 3rd party URLs back to allow for tracking in a time-series"
With the changes made in 6.x we split out the URLs timing into individual fields to help with compare.sitesepeed.io. I think it would still be beneficial to keep a sum of those timings and make them available to push to a time-series like graphite for tracking slowest URLs on a page over time. Will look at adding it to the same level as timings.

[2018-03-18 20:55] soulgalore commented on #1947
@rockerdata can you try this:
`docker run --shm-size=1g --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io -n 1 -r x-dynaTrace:HomePage https://httpbin.org/headers`

and check the screenshot if you see the header there (that works for me). And then try with the proxy you are using and see what it looks like.

[2018-03-19 13:24] martijnvanloon opened #1954 "How do i send data between servers?"
I have setup two servers for sitespeed on digitalocean, one for grafana and one to run tests with. I have no idea how to get the resultas from the first server into the other one. I don't see this mentioned anywhere in the docs except for recomendations to run seperate servers. Maybe its best to run both on one server since that works out of the box?

[2018-03-19 13:31] soulgalore commented on #1954
Hey @martijnvanloon let us make cleaner in the docs: https://www.sitespeed.io/documentation/sitespeed.io/performance-dashboard/#configuration-setup

You should set `--graphite.host` to the ip (or hostname) of the server that where you run graphite. Add that extra parameter to sitespeed.io and you should be ready to go.

Best
Peter

[2018-03-19 13:40] martijnvanloon commented on #1954
And it works immediately! Thank you for the help and great project, documentation is a bit hard to understand for a front end developer but I normally don't mess around with servers.

[2018-03-19 13:40] #1954 closed

[2018-03-19 14:19] rockerdata commented on #1947
Peter Thank you for your response. As you suggested I tried hitting 'https://httpbin.org/headers' URL with --browsertime.requestheader parameter. Below is the command which I have used.

sudo docker run \
-e http_proxy=http://someproxy.com:8080 -e https_proxy=http://someproxy.com:8080 \
--privileged \
--shm-size=1g --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io  \
-b chrome  \
--browserti

[2018-03-19 14:21] soulgalore commented on #1947
Hi @rockerdata so they proxy removes the header? Can you run without it or do you need it to be able to access outside of your environment?

Best
Peter

[2018-03-19 14:29] senthilr2k opened #1955 "Using firstparty option"
When i ran sitespeed using docker using the option --firstparty ".*google.*" I am not seeing any difference in output html of sitespeed. In graphite also i am not seeing any new property added. Can you please help

[2018-03-19 14:45] rockerdata commented on #1947
Right I cant access to outside environment without proxy. But is curl also using similar proxy. So as per you who is removing this header, org proxy or browsertime?

[2018-03-19 14:52] soulgalore commented on #1947
Could it be then that Chrome doesn't send the extra header if you are using a proxy? What does it look like if you are using Firefox?

[2018-03-19 15:36] rockerdata commented on #1947
Hey Peter,

I have been using only Chrome browser till now. As I tried to use Firefox but I am getting following error. Please help if you know resolution to this.
We have just used docker-compose.yml file to configure Sitespeed.

[2018-03-19 15:30:08] ERROR: https://requestb.in/127m2h51 generated the following error in Browsertime BrowserError: InvalidArgumentError: Expected [object Null] null to

[2018-03-19 17:25] tufandevrim commented on #1939
Thanks @soulgalore. This is great since I get too many timeouts recently due to some assets stuck and  doesn't load for 2 mins and my tests timeouts. I see following error:

![screen shot 2018-03-16 at 10 34 14 am](https://user-images.githubusercontent.com/1676189/37611415-7efa26be-2b5f-11e8-8624-230ecd883415.png)

So I am assuming this is happening because the onload event didn't fire in 60 sec,

[2018-03-19 19:21] soulgalore commented on #1939
@tufandevrim no that is another error: it is (usually) Chrome that don't start. @vgoncharenko has a fix for that (Chrome leaves some processed behind), I was thinking to push that to Browsertime 3.0 but can add it to the current version (https://github.com/sitespeedio/sitespeed.io/pull/1924/files)

[2018-03-19 20:59] tufandevrim commented on #1939
Yes please add this current version and so I can use the docker version right away to fix the problem we're experiencing

[2018-03-19 22:22] prescottprue commented on #1944
Also seeing this.

[2018-03-20 06:40] soulgalore commented on #1944
Yep let us do a new release tonight, the dependencies is updated in master.

[2018-03-20 12:13] senthilr2k commented on #1955
Thanks i figured it out

[2018-03-20 12:13] #1955 closed

[2018-03-20 13:57] suratovvlad opened #1956 "Firefox: ERROR: ScriptTimeoutError: Timed out"
There is strange issue for [https://lenta.ru/ website](https://lenta.ru/) when sitespeed.io analyzes it with Firefox (Chrome is OK):

[2018-03-20 13:51:10] ERROR: ScriptTimeoutError: Timed out
    at Object.throwDecodedError (/usr/src/app/node_modules/selenium-webdriver/lib/error.js:514:15)
    at parseHttpResponse (/usr/src/app/node_modules/selenium-webdriver/lib/http.js:519:13)
    at doSend.the

[2018-03-20 14:02] soulgalore commented on #1956
Hi @suratovvlad it's is the HAR exporter that fails. Hopefully we will release a new version later today (using the new HAR export trigger https://github.com/devtools-html/har-export-trigger). I'll ping the issue when we release a new version ... but really good that you show the full CLI!  I think --no-browsertime.skipHar isn't working, you should just use `--browsertime.skipHar `to not collect t

[2018-03-20 14:19] suratovvlad commented on #1956
Hi @soulgalore
Thanks for such quick response! Waiting for the new release, I hope it would be fixed)
I actually want to collect HAR, and trying to forse skipHar parameter as false in such strange way to avoid future updates of sitespeed.io, if you make it true by default)

[2018-03-20 17:07] soulgalore commented on #1956
Sorry the new HAR exporter will not reach this release, seeing some unstable metrics that I want to make sure don't go out now. Best way you maybe can increase the timeout with --browsertime.timeouts.script TIME_IN_MS

Best
Peter

[2018-03-21 17:36] JamesHawking opened #1958 "Error: Tried to add null to stats for path firstView,custom,Images"
Hi Guys,

I've been trying to use sitespeed.io to get data from WPT, but it fails.

Here is my command:
`docker-compose run sitespeed.io http://project43.wikia.com/wiki/SyntheticTests/VUAP/ResolvedState --graphite.host=graphite --webpagetest.host www.webpagetest.org --webpagetest.key ABC --webpagetest.location 'Dulles_MotoG4:Moto G4 - Chrome' --webpagetest.connectivity 3GFast --webpagetest.runs 5`

[2018-03-21 17:57] JamesHawking commented on #1958
Okay, in next run it was fine, but data wasn't added to Grafana, any ideas?

[2018-03-21 19:42] soulgalore commented on #1958
Hey @JamesHawking , the first error is probably some metrics that's missing in the JSON from WebPageTest. I can have a try on that the coming days. In the past different browsers/phones etc has had missing values, we need to catch it.

About the data missing in Graphite/Grafana, what setup are you running? Did you get any metrics or none at all?

Best
Peter

[2018-03-21 19:53] JamesHawking commented on #1958
So if i go with:
`docker-compose run sitespeed.io http://project43.wikia.com/wiki/SyntheticTests/VUAP/ResolvedState --graphite.host=graphite`

Data points are added to Gafana dashboard. However if i go with WebPageTest onyly data is not added.

`docker-compose run sitespeed.io http://project43.wikia.com/wiki/SyntheticTests/VUAP/ResolvedState --graphite.host=graphite --webpagetest.host www.webpaget

[2018-03-21 21:14] soulgalore commented on #1958
No it should work out of the box. Hmm I’ll have a look first thing tonorrow, maybe we missed converting the spaces in the location? When I debug, I start the tcp server in the /tools dir in the sitespeed repo and then point sitespeed to that to see the exact keys that are received and then run in trace debug log to see whixh metrics that is sent. But can you try first with Dulles:Chrome (or one lo

[2018-03-22 05:07] soulgalore commented on #1958
Ah I see now: The first errors is miss-match between the WebPageTest and the WebPageTest api, the same as https://github.com/sitespeedio/sitespeed.io/issues/1928 and reported upstream in https://github.com/marcelduran/webpagetest-api/issues/108.

For the metrics not coming into Graphite, the problem is the space in the location. Let me fix that asap.

[2018-03-22 05:22] soulgalore commented on #1958
I've pushed 6.5.1 with a fix for spaces in location. It works for me but please get back an verify that it works.

I remember in the late 90's when I was doing Java on Windows. Java was by default installed in the folder "Program Files" but Java couldn't handle spaces in folders, so as soon as you tried to write to disk in that folder it failed. I guess we should have moved on since that ... sorry

[2018-03-22 06:24] JamesHawking commented on #1958
I confirm that this fixes the problem and issue can be closed.

Thanks a lot for taking care of that asap, it's funny that nobody noticed before, probably most users run on private instances of WPT. :)

[2018-03-22 06:28] soulgalore commented on #1958
Great! It's only some phones that uses spaces in the name I think.

[2018-03-22 06:28] #1958 closed

[2018-03-23 08:43] suratovvlad commented on #1956
@soulgalore It's sad to hear it :(
Thank you for the your great work! And thanks for advice.

I wonder is it possible to send data to Graphite before HAR is started generating?
It would be nice, if different plugins wouldn't influence on each other!

[2018-03-23 13:49] soulgalore commented on #1956
I've just pushed so that in the coming 3.0 of Firefox we catch and continue if the HAR generation fails.

[2018-03-23 14:46] suratovvlad commented on #1956
@soulgalore Oh, thank you!
Waiting the release)

[2018-03-24 17:36] rsiddle opened #1959 "Docker ffprobe Path Using Full URI"
The following URL works on my Mac (6.4.0), but seems to fail on Docker (6.5.0). I've tried variations around Docker on 6.4.X too, with the same issue.

Example URL: http://www.argos.co.uk/browse/technology/ipod-mp3-and-headphones/c:29957/

[code]
[code]

[2018-03-24 19:27] rsiddle opened #1960 "Git Required for Docker build"
Using the current master branch, running the following command:

[code]

Created this error:

[code]

I fixed it by adding the following line to [Dockerfile at line 10](https://github.com/sitespeedio/sitespeed.io/blob/master/Dockerfile#L10)

[code]

[2018-03-27 15:33] mbulfair opened #1962 "S3 - Timeout Error"
After providing the S3 credentials, I notice a issue, where it will say in the log.

![image](https://user-images.githubusercontent.com/5325543/37977732-5f6d5c4a-31b2-11e8-92c6-a6e7c4206511.png)
and
![image](https://user-images.githubusercontent.com/5325543/37977790-802769ee-31b2-11e8-89f4-60391b486675.png)

What's weird is the files DO in fact get uploaded to my bucket. However the plugin doesn't

[2018-03-27 15:50] soulgalore commented on #1962
Hi @mbulfair ,
thanks for the report! I’ve seen we got the same in our logs since a while ago but haven’t spent any time understanding what’s going on. Changes I know we done in our env is that we upload from two different servers to the same bucket and I think a code change was pushed for s3 with the last release (but I don’t think it should cause it). Let me look at it tonight.
Best
Peter

[2018-03-27 15:52] mbulfair commented on #1962
I would also point out that the version of the s3 plugin looks to be out of date, and may not be what the current AWS CLI needs to fully work.

[2018-03-27 18:17] soulgalore commented on #1962
We are using https://github.com/andrewrk/node-s3-client and patch with aws-sdk 2.168.0. I would love to switch to another module, if there is something out there, any recommendations?

Maybe the SDK is better now, when I looked at it the last time it looked it was designed by Java developers ;D

[2018-03-27 22:03] abhagupta opened #1963 "Sitespeed.io is calculating CSS and Javascript size incorrectly"
Hi,

I have a HAR file which is capturing the CSS and JAVASCRIPTs incorrectly.  I see the content size of these content types as 0 in the reports even though I see HAR file has CSS and Javascript files.

I am trying to trace down the code which calculates the CSS and Javascript size in PageXray but may be you can tell me more how this is calculated.

HAR file : https://github.com/abhagupta/sample_

[2018-03-28 07:52] soulgalore commented on #1963
Hi @abhagupta thanks for reporting, hmm, looked at the HAR and the response is 304, so I think it could be that we in PageXray only look for 2XX responses when calculating the total size? Let men check that later on today.

Best
Peter

[2018-03-28 08:18] soulgalore commented on #1960
@rsiddle could see what caused this? I cannot reproduce.
Best
Peter

[2018-03-28 08:36] zunjooo commented on #1825
Hello,

I added gpsi metric to config.json file with all my budget metrics but I still can't see gpsi score in generated HTML result's budget section... I just see gpsi section inside Pages -> Page summary

I'm using sitespeed version 6.5.1.

[2018-03-28 08:44] soulgalore commented on #1825
Hi @zunjooo could it be that I missed added it so the plugin don't register for a budget, let me check that later today.

Best
Peter

[2018-03-28 08:49] soulgalore commented on #1825
It was implemented in sitespeed.io (this issue) but all plugins needs to register for budget, the branch was there in the gpsi plugin but not merged. I merged it now so of you update the gpsi plugin I hope it will work!
Best
Peter

[2018-03-28 10:03] zunjooo commented on #1825
It's working! Thank you for a quick response as always! :)

Best,
Vanja

[2018-03-28 14:19] soulgalore commented on #1963
@abhagupta I've pushed the change in master, hopefully making a release first thing tomorrow.

[2018-03-28 15:36] ammar88 opened #1964 "Deploying my dashboard to Heroku"
Hi,

I'm currently trying to setup a hosted version of the local dashboard I've created using the steps in the performance dashboard docs. Everything works perfectly locally. I'm trying to deploy to Heroku using docker but I'm having trouble understanding how to get docker compose to do it's thing on Heroku.

Any guidance on how to setup the performance dashboard on Heroku?

Thanks,
Ammar

[2018-03-28 16:28] soulgalore commented on #1964
Hi @ammar88 sorry I never tried. I'm not familiar with running Docker on Heroku, can you run a standalone container? Only find [this](https://medium.com/travis-on-docker/how-to-run-dockerized-apps-on-heroku-and-its-pretty-great-76e07e610e22) but maybe it's other examples out there. One of the reasons I haven't invested time in trying to run on Heruko is that I'm not sure about the performance (but

[2018-03-28 16:35] ammar88 commented on #1964
Thanks for the prompt reply Peter. I went with Heroku because I thought, along with docker, it would be the easiest solution to implement. We use AWS also, so I could give that a try.

Ammar

[2018-03-28 16:44] abhagupta commented on #1963
Thanks so much for taking care of this so quickly. I will try it out today.

[2018-03-28 17:29] abhagupta commented on #1963
@soulgalore  On curious note, I am wondering how can we get a 304 anyways. 304 means browser recieved it from cache. But this should not have happened in sitespeed.io / selenium anyway.. am i missing something?

[2018-03-28 17:58] soulgalore commented on #1963
@abhagupta hmm how are you running (I was thinking you where using a preScript or preURL)? Was it Chrome or FF? By default we use Selenium by creating a new profile etc but you can as extra functionality also add --cacheClearRaw (or --browsertime.cacheClearRaw), then instead of trusting Selenium, we use the Browsertime extension (the WebExtension) to fully clear the cache https://github.com/sitesp

[2018-03-28 18:01] abhagupta commented on #1963
Yes we are using a preScript. It does make sense now that it would get 304.   I will use the --cacheClearRaw and try it. Thanks

[2018-03-28 18:27] soulgalore commented on #1963
Ah sorry, I didn't explain it clear enough. The --cacheClearRaw happens before a run (before preScript/preURL). I've seen people in issues trying to disable the cache for Chrome to achieve not caching in pre steps but I haven't fully been able to understand the use case?

[2018-03-28 18:29] soulgalore commented on #1963
Checkout https://github.com/sitespeedio/chrome-har/issues/1

[2018-03-28 21:03] abhagupta commented on #1963
Ah cool.. so its not just me.  And it makes much more sense now. I tried to reproduce this on Chrome Dev tools and I saw a similar behavior what sitespeed was showing..  My preScript creates a cookie on the page and refreshes it. So I am definitely on the same page with same assets when its reloaded after cookie is inserted. When I open my app in chrome and check chrome dev tools, I see I get 304

[2018-03-28 22:03] abhagupta commented on #1963
oops... i guess this option will remove my cookie `--browsertime.cacheClearRaw`
as well.

[2018-03-29 04:16] abhagupta commented on #1963
Yep, confirmed that cookie that I added in the preScript gets deleted becasue of `--browsertime.cacheClearRaw`. So may be we do need to the pagexray change you made. I will wait for the release. thanks again and sorry for spamming this issue .

[2018-03-29 17:10] suratovvlad opened #1965 "Screenshot error (Firefox)"
Hi!
I've found very old and strange site (http://www.arngren.net) for tests and sitespeed.io fails when it tryes to save screenshot (Firefox only) with this logs:

[2018-03-29 17:04:33] INFO: Starting firefox for analysing http://www.arngren.net 1 time(s)
[2018-03-29 17:04:33] INFO: Testing url http://www.arngren.net run 1
[2018-03-29 17:05:27] INFO: 361 requests, 3200.90 kb, backEndTime: 386ms, f

[2018-03-29 18:30] soulgalore commented on #1965
Hi @suratovvlad wow amazing site :)

Ok, hmm, could it be this error https://github.com/lovell/sharp/issues/578

I'll down prio this for now but will look into it later on.

Best
Peter

[2018-03-30 11:30] #1964 closed

[2018-03-30 16:06] abhagupta commented on #1963
@soulgalore  please let me know if the release to pagexray has been made.

[2018-03-30 16:14] soulgalore commented on #1963
@abhagupta it is released but not sitespeed.io yet.

[2018-03-30 18:29] soulgalore commented on #1963
@abhagupta released it just now, the container should be there in 5 min.

[2018-04-02 08:42] knaos commented on #1954
I have issue with sending data to graphite when using config.json file. If I pass the params with --graphite.host=my.ip everything works fine.

This is the config.json

[code]

[2018-04-04 01:29] mitchtech opened #1966 "InfluxDB event annotations overwrite within test session"
When running sitespeed to test multiple URLs with `influxdb` plugin enabled and `resultBaseURL` set,
event annotation are uploaded for each URL tested, but continuously overwrite with the most recently tested URL.

The result is that only the event annotation from the last tested URL per run will persist.

[2018-04-04 02:13] mitchtech commented on #1966
The issue appears to be re-use of the InfluxDB event annotation timestamp. The event annotations are sent to InfluxDB correctly with each tested URL within a test run, but they all reuse the same test session timestamp. This causes InfluxDB to treat each subsequent annotation upload as an update to the previous rather than as new data.

[2018-04-04 03:52] mitchtech commented on #1966
A simple solution is to generate a unique timestamp for each event annotation upload. I submitted a pull request with this fix: https://github.com/sitespeedio/sitespeed.io/pull/1967

[2018-04-05 07:47] knaos opened #1968 "User timing measures are not sent to Graphite"
Hello! I think that user timing measures are not sent to Graphite.
I have sitespeed:5.6.1 container sending data to the docker-compose variant of Graphite and Grafana. I am able to see all kind of data except for user timing **measurements**. I can see user timing marks, but when I edit the query like that:
![image](https://user-images.githubusercontent.com/7912102/38353079-067c5506-38be-11e8-9617

[2018-04-05 08:08] knaos commented on #1968
Turns out I was making a wrong query in Grafana. All the data is trully in Graphite.
I will post the query after I figure it out. Issue can be closed

[2018-04-05 08:08] #1968 closed

[2018-04-05 08:19] knaos commented on #1968
Ok I found how to query them. The problem is that they are not sent with their names. Eveyrthing insude the measures folder is folders named with digits:
![image](https://user-images.githubusercontent.com/7912102/38354652-0587c432-38c3-11e8-93e7-5f18d8b12612.png)

When I move into a folder, all the data that is kept per measurement is startTime and duration. The name is missing.

Am I doing someth

[2018-04-05 08:33] knaos commented on #1968
It is given a number for name, as if the key was given from array position. And the only values stored per measurement entry are startTime and duration.

[2018-04-05 08:37] soulgalore commented on #1968
yeah but what's the name of the measurement in the User Timing API? :)

[2018-04-05 08:42] knaos commented on #1968
They are all named. Here is one of them:
![image](https://user-images.githubusercontent.com/7912102/38355681-52dad3a2-38c6-11e8-818c-51f61ca837b5.png)
I have about 30 well named measurements.

[2018-04-05 08:57] knaos commented on #1968
Could it be in this file: https://github.com/sitespeedio/browsertime/blob/c4440fd93c50288eab0c386c3cd05b89d0299a6a/lib/core/engine/collector.js

In the perIterations script I think you have a typo in the last but one if: userTiming.measure instead of userTiming.measure**s** ?

[2018-04-05 09:10] soulgalore commented on #1968
yes. I can fix it to tonight or can you do a PR to the 2.x branch (that is the current one released)?

[2018-04-05 09:15] knaos commented on #1968
I can try

[2018-04-05 11:37] soulgalore commented on #1968
@knaos I've pushed it now, thanks for finding the exact problem.

[2018-04-05 13:13] knaos commented on #1968
What kind of test could be added for this one? And when will it get
released?

On 5 April 2018 at 14:37, Peter Hedenskog <notifications@github.com> wrote:

[2018-04-05 13:27] soulgalore commented on #1968
hmm tomorrow is better, last time we had some problem with Chrome, something made metrics higher, so need to test that first.

[2018-04-05 14:47] softwareklinic opened #1969 "About - identifying lazy loading images"
Is there a way in sitespeed to find out which images are lazy loaded and not???

[2018-04-05 18:55] tufandevrim commented on #1939
What version of sitespeed.io has this fix right now?

[2018-04-05 19:49] soulgalore commented on #1969
Hi @softwareklinic no not out of the box. I guess you could do something smart with adding your custom JS but it depends on the implementation I guess.

Best
Peter

[2018-04-05 19:52] softwareklinic commented on #1969
Thank you - will close it...

[2018-04-05 19:52] #1969 closed

[2018-04-05 19:53] soulgalore commented on #1939
@tufandevrim haven't pushed this to sitespeed.io yet, it only exists in coming Browsertime 3.0. The fix is easy but it has been so much other things going on with the problems with the HAR for Firefox and the broken Chrome https://github.com/sitespeedio/browsertime/issues/489

[2018-04-10 07:58] knaos commented on #1968
Sorry for asking, but I could not find it - Is this fixed and released now?

[2018-04-10 09:25] soulgalore commented on #1968
Ah sorry I forgot to ping the thread. Upgrade to 6.5.3
 and the fix should be there. https://github.com/sitespeedio/sitespeed.io/blob/master/CHANGELOG.md#653-2018-04-07

[2018-04-12 03:18] Tangyiming opened #1975 "sitespeedio.ERROR: {"cause":{"errno":-13,"code":"EACCES","syscall":"mkdir","path":"/sitespeed.io/sitespeed-result"},"isOperational":true,"errno":-13,"code":"EACCES","syscall":"mkdir","path":"/sitespeed.io/sitespeed-result"}"
![default](https://user-images.githubusercontent.com/18328731/38654672-246f8102-3e43-11e8-969e-65af718cd548.png)

i use root role to do this
please help me ,thank you

[2018-04-12 03:38] soulgalore commented on #1975
Hi @Tangyiming thanks for the report. Can you create a dir and set open privileges for it, and then run inside that dir? Also what host OS are you running?

Best
Peter

[2018-04-12 03:55] Tangyiming commented on #1975
@soulgalore
first ,thank you for your reply.

my OS is CentOS7
i make a dir,and chmod 777,then run the command inside that directory
but the problem still exists
![default](https://user-images.githubusercontent.com/18328731/38655569-0c214fa4-3e48-11e8-9b4c-67e0432f33ca.png)

[2018-04-12 04:47] soulgalore commented on #1975
Maybe this can help you: https://github.com/moby/moby/issues/22348

[2018-04-13 07:38] Tangyiming commented on #1975
@soulgalore thank you !!!!!

[2018-04-13 07:38] #1975 closed

[2018-04-13 12:15] amic81 opened #1977 "Influxdb configuration - docker-compose"
Hi, I tried to configure grafana with influxdb via docker-compose.

I have taken as reference the docker-compose part (under the **tools/influxdb** directory) to replace graphite in the docker-compose (under the **docker** directory)

**influxdb:
        image: tutum/influxdb
        environment:
            - PRE_CREATE_DB="sitespeed"
            - ADMIN_USER="root"
            - INFLUXDB_INIT_PW

[2018-04-13 13:48] soulgalore commented on #1977
Hi @amic81 on dashboard.sitespeed.io we run influxdb with the setup:

[code]

And we create the database:
[code]

[2018-04-15 17:22] DanielRuf opened #1978 "proposal for 7+: puppeteer for headless Chrome out of the box"
We could use puppeteer in upcoming versions or are there reasons why this does not make much sense to implement?

[2018-04-16 18:04] marty90 opened #1979 "Is "Throttle" supported in the docker container?"
Hi!
Thank U for sitespeed.io, it's a great tool!
My question: is the Throttle engine supported in the docker container?

I tried running:

`docker run --shm-size=1g --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io --browsertime.connectivity.engine throttle -c cable https://www.google.com `

but I got several errors!

[2018-04-16 18:17] soulgalore commented on #1979
Hi @marty90 thanks for the kind words. Let me update the docs (https://www.sitespeed.io/documentation/sitespeed.io/connectivity/#throttle) the coming days, it is a little bit unclear.

It works like this: If you run throttle inside your container,  the base OS needs to be Linux and you need to set the right `sudo modprobe ifb numifbs=1` and then also give the container the privileges for the netwo

[2018-04-16 18:29] soulgalore commented on #1978
Hi @DanielRuf yes I like the Puppeteer API, it's simple and easy for people to use. Or do you see also other use cases to use Puppeteer?

Today we use Selenium/WebDriver to drive the browser and what's good with that is that we can reuse the same code to both drive FF and Chrome (with some different configurations) and maybe in the future also use it for Safari and best case Safari on iOS. That he

[2018-04-16 19:31] marty90 commented on #1979
Thank You!
However when I try (on my Ubuntu 16):
[code]
I get this output (containing errors):
[code]

It looks like the `route` command is not found. Would adding the installation of `net-tools` package in the Dockerfile help?

[2018-04-16 19:35] soulgalore commented on #1979
Aha yep it looks like a mistake from me, missed adding route.  Could it be that I missed that for the sitespeed.io container but it's there for Browsertime? Let me fix that for the next release.

Best
Peter

[2018-04-16 19:41] marty90 commented on #1979
I confirm that manually installing `net-tools` in the container, and then running `sitespeed` executes with no error!
Also the image of `Browsertime` does not have `route` installed.

[2018-04-16 20:24] marty90 commented on #1979
Great!

[2018-04-16 20:28] marty90 commented on #1979
Oh just a last question ;) Running multiple docker containers with different throttle settings (on the same machine) may create inconsistent traffic shaping?
I noticed a similar warning in the [WPT agent docker readme ](https://github.com/WPO-Foundation/wptagent/blob/master/docs/docker.md)

[2018-04-16 20:51] soulgalore commented on #1979
@marty90 correct,  that will not work. You can setup different docker networks as in https://www.sitespeed.io/documentation/sitespeed.io/connectivity/#docker-networks but in practice, I haven't seen anyone showing that running multiple browser instances will not affect each other, so I always run one test/URL at a time.

[2018-04-16 20:52] soulgalore commented on #1979
Pushed in 6.5.4

[2018-04-17 08:55] Tangyiming opened #1981 "how can i save all the testing results(data that shows in the html report) into my own influxdb server ,or where can i get that data from sitespeed"
how can i save all the testing results which is the data that shows in the html report into my own influxdb server,or where can i get that data from sitespeed,thank you

[2018-04-17 09:45] soulgalore commented on #1981
Hi @Tangyiming you configure with influxdb so for example configuring the host is `--influxdb.host`. By default we send the metrics we think is important but you can reconfigure what to send, you can read https://www.sitespeed.io/documentation/sitespeed.io/metrics/

Best
Peter

[2018-04-18 01:58] Tangyiming commented on #1981
Hi @soulgalore i have tried to add --influxdb.host xxxxx --influxdb.port xxxxx,but i got some wrong output. maybe i need to configure my influxdb?how to configure it ,i didn't find in Sitespeed Document.

[code]

[2018-04-18 02:06] Tangyiming commented on #1981
Hi @soulgalore i tried to add these configuration behind the command like this:
`[root@localhost src]# docker run --privileged --shm-size=1g --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.ioo:6.5.4 https://www.sitespeed.io/ --influxdb.host 10.xx.xx.xx --influxdb.port 80xx`

but i get some wrong output.
i think maybe i have to configure my influxDB,but i didn't find what i need to do in the D

[2018-04-18 05:13] soulgalore commented on #1981
Hi @Tangyiming I wonder how do run influxdb, is it on another machine? Can you verify that you can reach the machine from where you run sitespeed?

Best
Peter

[2018-04-18 05:33] Tangyiming commented on #1981
Hi @soulgalore,You are right ,it is on on onther machine. I can ping the machine in my Virtual Machine (CentOS 7 where I run Sitespeed)
I'll try to install influxDB in the same machine,and try once again

[2018-04-18 07:02] Tangyiming commented on #1981
@soulgalore hi,
first i installed docker influxdb and creat database:
`docker run -d -p 8083:8083 -p 8086:8086 --expose 8090 --expose 8099 --name influxsrv tutum/influxdb`
`curl -i -XPOST http://localhost:8086/query --data-urlencode "q=CREATE DATABASE sitespeedio"`
then i make this config.json:
[code]
finally run:
`docker run --privileged --shm-size=1g --rm -v "$(pwd)":/sitespeed.io sitespeedio/si

[2018-04-18 07:31] Tangyiming commented on #1981
@soulgalore
not work，but still thank you. what you said above means that there is  influxdb inside the container of sitespeed.io? how cani get the data from influxdb inside the container of sitespeed.io

[2018-04-18 07:47] Tangyiming commented on #1981
@soulgalore thank you,well done

[2018-04-18 07:47] #1981 closed

[2018-04-18 08:12] jzlshitian opened #1983 "How to include multiple testcases?"
Currently I am testing with 6.5.3 and I met some problems with multiple test cases.

[code]

Every path represents a test case. If there is only one test case, everything just works fine. If there are more than one, than errors will occur.

[code]

Anyone have ideas? Thanks

[2018-04-18 09:03] soulgalore commented on #1983
Hi @jzlshitian can you show me how you run, I don't follow the config, do you use something on top of sitespeedio? One problem could be that maybe the query parameter isn't handled correctly if you can show me how you run, it's easier to reproduce.

Best
Peter

[2018-04-18 20:17] Icecold777 opened #1984 "InfluxDB event annotations tags"
Hi there.

I'm trying to visualize report URLs (--resultBaseURL ) on Grafana dashboard. I can see URLs in dashboard table but it's not possible to filter them by page, browser etc.

Looks like send-annotation.js pushing data to InfluxDB not in right format.
Original lib send tags=\"native,chrome,sitespeed_io,_,default\"
I've updated it and tags are pushed this way "connectivity=\"native\",browser=

[2018-04-19 10:47] soulgalore commented on #1984
Hi @Icecold777
at the moment we filter them only on tag so getting the annotations looks like this:
`select title, text, tags from events where $timeFilter AND "tags" =~ /$group/ AND "tags"  =~ /$page/ AND "tags" =~ /$browser/ AND "tags" =~  /$connectivity/ AND "tags" =~  /$category/`

If you can send a PR instead of a zip with the change and then also update the dashboard annotation in https://gi

[2018-04-19 18:15] abhinavn opened #1987 "S3 endpoint URL support"
I am using S3 compliant storage and need to pass endpoint param when pushing reports to S3 because its not default AWS S3, does sitespeed support passing s3 endpoint? I didnt find any such setting in documentation

[2018-04-19 21:35] abhinavn commented on #1987
@soulgalore - happy to help with testing.

[2018-04-20 02:43] jzlshitian commented on #1983
It has been fixed. You are right. Something on top of sitespeedio went wrong. Thank you for your hint. :)

[2018-04-20 02:43] #1983 closed

[2018-04-20 07:38] amic81 commented on #1977
Hi @soulgalore,

thank you for your answer.

[2018-04-20 07:38] #1977 closed

[2018-04-20 07:50] amic81 opened #1989 "Difference Transfer vs content size"
Hi,I tried to do a scan (docker run ... -n 1) and I noticed that the transfer size and content size are different.

Example javascript part

- **Transfer size** : 784.5 Kb
- **Content size** : 1032.7 Kb

How are these 2 values calculated?

Thank you

[2018-04-20 07:57] tobli commented on #1989
🎉 This is awesome, compression is great for web performance! 🎉

Transfer size is the number of bytes sent "over the wire", content size is the size on disk (of the raw js files in this case). If you have compression turned on, the web server will zip the text content before it's sent, and the browser will decompress it.

[2018-04-20 07:57] #1989 closed

[2018-04-24 16:42] Icecold777 commented on #1984
Thank you for your answer. Your way of tagging is less excessive. I close the issue because it's not an issue at all.

[2018-04-24 16:42] #1984 closed

[2018-04-24 16:56] Icecold777 opened #1995 "InfluxDB data and annotations timestamp differs by 15-20 sec"
Hello,

I'm using InfluxDB as statistics data storage.
Looks like timestamp of data bunches and annotations differs by 15-20 sec leading to confusing moments like at picture below.

![image](https://user-images.githubusercontent.com/10085700/39201485-deab93c2-47f7-11e8-8eb7-a1a9247eb59e.png)

I'm pretty sure that annotation timestamps are set correctly especially after #1967 but other data gets ti

[2018-04-24 18:08] soulgalore commented on #1995
Hi @Icecold777 thanks for reporting the issue!

Can you show me how you run? You test the same URL once but every X minutes? Just so I understand the use cases.

Best
Peter

[2018-04-24 19:11] Icecold777 commented on #1995
Hi @soulgalore,

Right, the use case is to touch the same URL in loop just one by one without pause.

Best Regards.

[2018-04-24 23:08] abhinavn opened #1996 "Visual metrics not being generated"
I am on sitespeed.io 6.5.4 version and i see that visual metrics are not being generated for my video files. I ran the videos through visualmetrics.py and i dont metrics available either. I am looking for some help on how to debug this issue

https://www.dropbox.com/s/i7q64nvsfg0rvhc/2.mp4?dl=0

Any idea on what could be happening here? Attached is originalVideo file

[2018-04-25 03:05] soulgalore commented on #1996
Hi @abhinavn thanks for reporting. It seems it picks up something at the beginning of the video, but for me to know what I need to have the original video (not processed), you can get that with **--browsertime.videoParams.keepOriginalVideo**. One of the most common problem is that you run without setting any connectivity and depending on where you test, the orange frame in the beginning is too sho

[2018-04-25 03:07] soulgalore commented on #1995
So how often do you do releases :)

I'm not using influxdb so would love a PR for this but else let us add it to the list and look into it later.

[2018-04-25 19:16] abhinavn commented on #1996
@soulgalore thanks, that was it. I was working fine in the past without connectivity, as in working with "native". I just setup cable connectivity and dont see to have any issues now. I do see visualMetrics being generated

[2018-04-25 19:16] abhinavn commented on #1996
Closing the issues as resolved

[2018-04-25 19:16] #1996 closed

[2018-04-25 19:17] abhinavn commented on #1987
@soulgalore I am doing some major code enhancements and was wondering if you are able to get the merge in.

Also thanks for all the OSS work you are doing, appreciate it

[2018-04-25 19:51] soulgalore commented on #1987
thanks for the kind words @abhinavn !

Yes of course, what do you aim for? I think the cleanest way would be to get rid of s3 and instead only use aws-sdk directly? Or what do you want to enhance? :)

[2018-04-26 09:34] amic81 opened #2000 "coach-results and browsertime-results in json format"
Hi,

Is it possible to extract the **coach** and **browsertime** data in **json** format through sitespeed? (Without going to the coach or browsertime)

There are some options to add to the command:

**docker run --shm - size = 1g --rm - v "$ (pwd)": / sitespeed.io sitespeedio / sitespeed.io: 6.5.4 https://www.sitespeed.io/**

Thanks so much

[2018-04-26 11:26] soulgalore commented on #2000
Hi @amic81 you can run the plugin analysisstorer that will store it to disk. Here's an example: https://www.sitespeed.io/documentation/sitespeed.io/plugins/#add-a-plugin

Best
Peter

[2018-04-26 13:19] soulgalore commented on #2000
Yep you are right, that's the summary of the metrics for all the runs. I don't think there's a way today to store the raw data. So you mean you want the texts, and not the actual metrics? Tell us our use case  so we know why it's important :)

Best
Peter

[2018-04-26 17:55] Icecold777 commented on #1995
That's funny but the easiest way to synchronize annotations and data buckets time is just to remove timestamp field from annotation sender js file.
Works perfect
![image](https://user-images.githubusercontent.com/10085700/39322720-71d57cb6-4993-11e8-8448-55f0be4033fe.png)

but I'm not sure that it will be OK in case of bad network connection between sitespeed and remote influxDB (just as example).

[2018-04-26 18:53] softwareklinic opened #2001 "Additional metrics on summary tab"
Can I customize with sitespeed commandline on what parameters i can have on pages tab - forexample i want to add perceptual speed index here...

![image](https://user-images.githubusercontent.com/7537289/39325923-17dee6c8-4959-11e8-9a8c-8a3f649f8913.png)

[2018-04-26 19:06] soulgalore commented on #2001
Maybe. It will not happen before 7.0 though, at least from me. To make it work, it needs to be refactored, but right now I need focus on Browsertime 3.0 so we can release sitespeed.io 7.0 sometimes after Firefox 61 goes to beta (and broken things in Firefox is fixed), that's the prio the coming months.

[2018-04-26 19:09] softwareklinic commented on #2001
thank you - whenever we can --- if we can...

On Thu, Apr 26, 2018 at 2:06 PM, Peter Hedenskog <notifications@github.com>
wrote:

--
Regards,
Keyur
Cell: 2147845203

[2018-04-26 22:39] livyson opened #2002 "Selected pixel format (yuv420p) is not supported by the input device."
Dear,

I'm trying to add the video in my test run, but I'm getting an error saying that the format is not supported.

Code:
`sitespeed.io --preScript ../prescript/page-landing/script.js --video url_site --browsertime.pageCompleteCheck 'var element = document.querySelector(".table__body tr:nth-of-type(1) td:nth-of-type(5)"); if (element == null) return false; else return element.textContent.trim()

[2018-04-27 05:03] soulgalore commented on #2002
Hi @livyson what OS are you using? Easiest to use the Docker container. Else you need to run on Linux and install what's needed for Visual Metrics see:
https://hub.docker.com/r/sitespeedio/visualmetrics-deps/~/dockerfile/

Best
Peter

[2018-04-27 09:01] amic81 commented on #2000
Hi,
in reality I would have used both the texts and the numerical values in order to have all the information as the coach's launch. :)

Bye
amic81

[2018-04-27 10:21] amic81 opened #2003 "influxdb : discriminate data score"
Hi,

launching 2 scans of sitespeed

the first with the parameter
--metrics.filter *- coach.pageSummary.advice.performance.adviceList.cacheHeaders.score
and the second with the parameter
--metrics.filter *- coach.pageSummary.advice.performance.adviceList.avoidScalingImages.score

and saving the data on influxdb, I noticed that the 2 measurements are both finished on score.
By making a select on in

[2018-04-27 10:57] soulgalore commented on #2003
Ah so it's an miss then that we are missing a tag? It should be a tag for **advice** that in your case should be cacheHeaders or avoidScalingImages.

Best
Peter

[2018-04-27 11:52] amic81 commented on #2003
Yes, I suppose there should be a tag advice to differentiate the cacheHeaders or avoidScalingImages records (or another record ...) otherwise there are two or more identical records as a score.

Can you add this tag to discriminate? What do you think about it?

Thanks
amic81

[2018-04-27 13:27] livyson commented on #2002
My project will migrate to Docker, but we're still using npm. Would it be possible to run in npm?

[2018-04-27 13:48] soulgalore commented on #2002
It will work as long as you are on Linux and install the dependencies needed.

[2018-04-27 13:49] soulgalore commented on #2003
Did you check if the tag was there? It is in the code, but I don't have an instance running that pushed metrics at the moment. The one we have is too small on Digital Ocean and cannot handle the metrics, I'll try to upgrade when I find the time.

[2018-04-27 13:50] soulgalore commented on #2001
yep lets see I'll have a look when I find the time, it shouldn't be too complicated but want to make it cleaner that it is today.

[2018-04-27 16:44] livyson commented on #2002
Thanks!

[2018-04-27 22:49] abhinavn opened #2004 "[Question] Understanding results with --preScript and --preURL parameters"
I am testing URLs which are behind login authentication, i use --prescript.

`docker run --shm-size=2g --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io:6.5.4 --preScript login.js tools/home.txt --preURL https://dc.stage.acrobat.com/ --browsertime.pageCompleteCheck 'return (function() {try { return (Date.now() - window.performance.timing.loadEventEnd) > 5000;} catch(e) {} return true;})()' -

[2018-04-28 15:05] soulgalore commented on #2000
Hepp, I've missed that the data is already stored in the data folder for each individual page. Let us add some documentation for that in the coming release. Go to the data folder for each page and you will find what you need @amic81 !

Best
Peter

[2018-04-29 05:25] abhinavn commented on #2004
@soulgalore  - You rock! Thanks for detailed explanation. It helps.

[2018-04-29 05:25] #2004 closed

[2018-04-30 07:42] amic81 commented on #2000
Hi @soulgalore,

I tried to do a scan:

**docker run --shm-size=1g --rm -v "$ (pwd)"/sitespeed.io sitespeedio/sitespeed.io http://www.sitespeed.it -n 1**

but I did not find the data stored in json format in the directory:

**\sitespeed-result\www.sitespeed.it\2018-04-30-09-24-49\pages\www.sitespeed.it\data**

is the path wrong? Are the data not saved in json format? Or am I wrong with the generat

[2018-04-30 08:03] amic81 commented on #2003
Hi @soulgalore

The tag on influxdb is not present, surely it's in the code but it's probably not saved.

Can you offer an instance in our DataCenter to continue more quickly the debug of sitespeed code for 4 months free?
If you are interested plis contact email alessandro.fustini@host.it

Thanks
amic81

[2018-04-30 09:28] soulgalore commented on #2003
Hmm are you sure, I wonder if it can be some configuration issue?  It's there by default:
<img width="1099" alt="screen shot 2018-04-30 at 11 27 43" src="https://user-images.githubusercontent.com/540757/39421502-a40be05c-4c69-11e8-9557-ab19a4d2245d.png">

[2018-04-30 10:13] amic81 commented on #2003
Hi @soulgalore,

at the command

docker run --shm-size=1g --rm -v ${pwd}:/sitespeed.io sitespeedio/sitespeed.io http://www.sitespeed.io -n 1 --video --influxdb.host=x.x.x.x -metrics.filter *- coach.pageSummary.advice.performance.adviceList.cssPrint.score coach.pageSummary.advice.performance.adviceList.cssSize.score

on influx for the metric score the tag $group is present and is enhanced with "www

[2018-04-30 10:34] soulgalore commented on #2003
Ah I see now how you mean, ok we miss one level then. Yep we don't have that today.

[2018-04-30 11:02] soulgalore commented on #2003
@amic81 I've pushed a branch than adds a tag adviceName to each score, let me know if you have time to test it out!

[2018-05-02 06:00] amic81 opened #2011 "influxdb : character '_' in tag $group"
Hi,

because in influxdb in the $group tag instead of the character '.' did you use the character '_'?

Example

"www_sitespeed_io" instead of "www.sitespeed.io"

Thanks
amic81

[2018-05-02 16:57] softwareklinic opened #2012 "Sitespeed jenkins plugin"
Does it work with latest sitespeed.io version

[2018-05-03 06:14] soulgalore commented on #2012
No you shouldn't use it. Next major we can just remove it to stop the confusing. You should follow https://www.sitespeed.io/documentation/sitespeed.io/continuous-integration/#jenkins to run in Jenkins.

[2018-05-03 06:15] soulgalore commented on #2011
Yep, it's because we use the same way to creating the keys/tags as in Graphite and dots in Graphite means a new part of the key.

Best
Peter

[2018-05-03 20:32] twirlse commented on #1813
Just an update. You can use ${PWD} instead of "($pwd)" when running under windows + powershell to get your current directory.
i.e.
docker run -v ${PWD}:/sitespeed.io sitespeedio/sitespeed.io https://www.sitespeed.io -b firefox

[2018-05-04 21:00] aerwin opened #2016 "Special characters need to be escaped for ffprobe to work"
I believe I have a case similar to https://github.com/sitespeedio/sitespeed.io/issues/1797 where a URL containing `=` was causing `ffprobe` to die. However, in my case, I'm suspecting `:`'s and `/`'s.

The URL I'm testing contains a CRN and looks like the following when encoded:

`https://console.bluemix.net/services/appid/crn%3Av1%3Abluemix%3Apublic%3Aappid%3Aus-south%3Aa%2F2bcf38bc5bb11ca5e41e3f

[2018-05-05 12:08] soulgalore commented on #2016
Hi @aerwin can you help me how I can reproduce it? Tried with `"https://www.sitespeed.io/?test=crn:v1:bluemix:public:appid:us-south:a/2bcf38bc5bb11ca5e41e3fda204a5147:2c392070-bac9-4745-b33a-879163f84315::"` but that works for me.

Do you pick up any more error messages? FFProbe is used to pickup when the orange color switched to white and a common bug sometimes is that the the sites load too fast

[2018-05-06 08:45] loheswaran opened #2018 "Sitespeed.io docker in Jenkins slave docker image - HTML output not generated"
I am trying to run sitespeen.io docker image in jenkins slave docker image, the analysis is working fine but I am not seeing the HTML output in the given output directory.

**OS :** Ubuntu
**Jenkins pipeline stage :**
[code]

[2018-05-06 10:35] soulgalore commented on #2018
Hi @loheswaran
I haven't used Jenkins slaves myself, but I wonder if it couldn't be a problem with relative/absolute path where you point out the working dir? Check what global variables that are defined for your slave (like `${WORKSPACE}` or something) and try to use that.

Best
Peter

[2018-05-06 13:59] loheswaran commented on #2018
Below is the Jenkins console output.
Note : Same works when I run it as node module.

[code]

[2018-05-06 18:41] soulgalore opened #2019 "WebPageReplay container hangs when browser fails to start"
The container on dashboard.sitespeed.io hangs and the log looks like:

[code]

[2018-05-07 08:25] amic81 commented on #2011
ok, I understand.

Thanks
amic81

[2018-05-07 08:42] amic81 opened #2020 "Pre/post scripts - external parameters"
Hi,

In a preScript / postScript would it be possible to pass external parameters?

For example would it be possible to externally pass the **paramValue** parameter value?

[code]

Thanks
amic81