[2020-04-14 10:15] UladzislauCharkouski opened #2957 "The metrics on the video are different from the metrics on the filmstrip and the summary page"
We faced with a problem when the same metrics on the video and on the filmstrip are different.
![2020-04-14_12h17_42](https://user-images.githubusercontent.com/61200221/79213216-76467080-7e51-11ea-9458-61b4b27061a1.png)
![2020-04-14_12h18_35](https://user-images.githubusercontent.com/61200221/79213221-78103400-7e51-11ea-8274-0647cebbdec4.png)
![2020-04-14_12h25_44](https://user-images.githubuserco

[2020-04-14 12:44] Icecold777 commented on #2956
Hi @soulgalore,
VNC connection has showed the issue.
Search form is kind of drop down while mouse pointer hovers it.
When commands.measure.start('Search'); is initiated whole viewport is painted in orange for some milliseconds so form just shuts down.

[2020-04-15 20:54] shanep2300 opened #2958 "Option to have multiple group names when testing different pages"
The group will always use the domain of the url, for example in the SpeedIndex measurement.

www.google.com
www.google.com/test1
www.google.com/test2/foo

Group value for all three will be www_gartner_com

I would like an option to separate the group name if testing multiple pages from the same domain and not want the metrics lumped in one domain. Above urls will now be named as:

www_gartner_com

[2020-04-16 17:35] nevesing opened #2959 "Graphite Annotation message - update"
From the graphite annotation message, clicking on the 'Result' link opens in 'same tab' whereas clicking on the 'screenshot' opens in 'new tab'. Is it possible to update the message for 'Result' link to include this attribute "target='_blank'"

![image](https://user-images.githubusercontent.com/50423486/79487963-04a02b00-7fe7-11ea-84f8-b2d705d81368.png)

![image](https://user-images.githubusercont

[2020-04-16 19:58] nevesing commented on #2959
Also, how do I make this change to my current version 12.x using --graphite.annotationMessage

[2020-04-17 06:48] soulgalore commented on #2959
That is inconsistent. You need to change the source code to fix that.

[2020-04-20 10:24] soulgalore commented on #2958
Hi @shanep2300 no its not possible today. We have prepared for it at the beginning, but not implemented everything so not sure about the status right now (like how much work would be to implement). I think (if everything is correct in the code) the hardest part is to come up with a way of setting the group. Today we can set a alias with `--urlAlias`, we could probably do something similar.

Anothe

[2020-04-20 10:36] soulgalore commented on #2957
Hi @UladzislauCharkouski thanks for creating the issue. Its hard to see in the blurred images but my guess is that the difference are on the summary level (not clicking on a specific run?)?

The metrics are median on the summary level and the filmstrip are a specific run (I think the run that had the median SpeedIndex) so they will probably not be the same there.

But then also the video and the f

[2020-04-20 10:38] soulgalore commented on #2956
Hi @Icecold777 sorry for not getting back earlier. Aha have you been able to work around it? The orange layer is https://github.com/sitespeedio/browsertime/blob/master/lib/video/screenRecording/setOrangeBackground.js#L47-L59 that we use to know when the browser starts to navigate.

[2020-04-20 12:31] erickwilder commented on #2147
This is a follow-up of my previous [message on Slack](https://sitespeedio.slack.com/archives/C03DHTPSA/p1587145043128700) in order to document it here in the original issue.

I have it working but without any flag (as suggested by @soulgalore there) and before I can go further I would like to cover some scenarios and your input is appreciated.

Given that Slack messages are sent on a handful of `x

[2020-04-20 12:34] shanep2300 commented on #2958
Hi @soulgalore I think adding a `--groupAlias` or `--domainAlias` flag would be awesome in terms of control. Here's our current scenario if it'll help make a better decision for you.

We're testing 8 different URLs and comparing them against each other; 2 of which are from the same domain. The thing with the 2 domains that are the same is that they are both different "applications", hence why we d

[2020-04-20 13:39] zefrs opened #2960 "WebGL Supported?"
Hi All,

Please can you confirm if we can get WebGL working inside the sitespeed.io container?

[2020-04-20 18:16] petemyron opened #2961 "[feature request] add commands.wait.bySelector()"
`commands.click.bySelector()` exists, but not `commands.wait.bySelector`. It's inconvenient and less readable to switch between using xpath and css selectors in a multi-page test script. It would be better to be consistent in test scripts.

example (not actually tested):

[code]

This gives a TypeError:
`TypeError: commands.wait.bySelector is not a function`

---
- Exact how you run (the exact par

[2020-04-21 07:27] soulgalore commented on #2961
Hi @petemyron yes I agree, I added a PR for that in https://github.com/sitespeedio/browsertime/pull/1247 but I haven't had time to test it. Have you used Browsertime and could verify that the PR work?

[2020-04-21 07:34] soulgalore commented on #2147
Sounds like a great idea @erickwilder ! If you could split it in multiple PRs thats much appreciated.

[2020-04-21 07:37] soulgalore commented on #2958
I see, and you need the grouping for Graphite/InfluxDB or how do you use it?

[2020-04-21 07:45] soulgalore commented on #2960
I don't know, have you tried? One way to test could be to access https://browserleaks.com/webgl and check the screenshot?

[2020-04-21 09:46] UladzislauCharkouski commented on #2957
Hi @soulgalore, thanks for the answer, first of all I want to say that screenshots from a specific run.
I took a lot more measurements and I seem to have found the reason for this behavior. This happens if one of the measurements fails.
For example, I made a measurement in 50 runs and one of the measurements (the 14th run in my case) failed with an error: "ERROR: Couldn't execute script named CUST

[2020-04-21 10:38] Icecold777 commented on #2956
Hi @soulgalore, thank you for pointing me code part.
I've made PR to browsertime repo. Mouse pointer should stay on the same position keeping focus on element now during orange screen.

also it's possible to execute js in script
[code]

[2020-04-21 11:21] shanep2300 commented on #2958
If possible, for both. Graphite the priority. We’re playing around with the 2 databases.

[2020-04-21 11:26] soulgalore commented on #2958
Yep I will fix it for both. So simplest for me is to add support to set it per test, that means you need to split your testing into a couple of tests, would that work for your use case?

[2020-04-21 11:37] shanep2300 commented on #2958
We're doing continuous run. This is what you mean by separate tests correct? Each location and URL is ran one by one.

[code]

[2020-04-21 17:21] softwareklinic opened #2962 "Can we get the budget metrics reported to graphite?"
E.g. what was the budget and what failed with what values etc....

[2020-04-21 18:28] soulgalore commented on #2958
I meant running it once per group. So start sitespeed.io three times, and group the URLs per group, and that looks like it gonna work for you.

[2020-04-21 19:59] petemyron commented on #2961
Yes, this works for me, thanks!

I tested with:
[code]

and got the result:
[code]

[2020-04-23 11:00] digitalbor opened #2963 "Add LoadEventEnd metric as an option to html report"
Hi guys!

Would you be so kind to add LoadEventEnd metric as an option to sitespeedio
html report? Not as default, but as a configurable option (cli parameter). It will be very useful from my perspective.

Thank you in advance:)

<img width="834" alt="2020-04-23_13h58_18" src="https://user-images.githubusercontent.com/26046834/80092132-eef0af80-856a-11ea-9e0c-8ebeefe6ccd5.png">

[2020-04-23 12:42] soulgalore commented on #2963
Hi @digitalbor checkout https://www.sitespeed.io/documentation/sitespeed.io/configure-html/#configure-page-metrics if that is what you need.

Best
Peter

[2020-04-23 15:34] digitalbor commented on #2963
Hi Peter!
I'm using sitespeedio with official docker container.
I have learned documentation page (
https://www.sitespeed.io/documentation/sitespeed.io/configure-html/#configure-page-metrics).
There are no such option as --html.pageSummaryMetrics timings.loadEventEnd
If I tried to paste  --html.pageSummaryMetrics timings.loadEventEnd or
--html.summaryBoxes
timings.loadEventEnd as a parameter into

[2020-04-24 09:49] karl0ss opened #2965 "Error: Lighthouse returned error: FAILED_DOCUMENT_REQUEST."
Running using the sitespeedio/sitespeed.io:12.6.0-plus1 docker image, on a bamboo slave.

When running I see this in the logs

[code]
The url being passed to lighthouse is correct, and the rest of the report is still working perfecting, and I can see from the filmstrip that the page was useable.

But Lighthouse failed and all the report is empty for that, but I don't understand why it would have f

[2020-04-25 14:22] dekryptic opened #2968 "Google Page Speed Insights Failing with Error"
Having trouble getting GPSI working. It doesn't show up in the html or as json.

[code]

Docker command: `--plugins.add analysisstorer --gpsi.key ${GPSI_KEY} -n 1 --webpagetest.host http://localhost:4000 --webpagetest.location Test --video ${URL}`

Docker Image: `sitespeedio/sitespeed.io:12.6.0-plus1`

Strangely enough if I run it again I get no error but no GPSI data anywhere either.

[2020-04-25 14:39] soulgalore commented on #2968
Hi @dekryptic when I updated the GPSI plugin to use the new endpoint, we also get CruX data for the site, but I've missed to check that the data actually exists, so that's breaks. If you can share the URL you test, I can verify that my fix works when I do it?

[2020-04-25 15:18] dekryptic commented on #2968
It's https://auth.rusookh.com

[2020-04-25 18:56] soulgalore commented on #2963
Ah you are right! I just pushed a branch where I added, any chance you could verify that it works before I merge?

[2020-04-26 00:24] dekryptic opened #2970 "Strange behavior with local webpagetest/agent container"
For some reason I have to run the sitespeed.io container twice to not get any errors when running local webpagetest containers. I've figured out it has something to do with the agent as I when I restart it from scratch the errors pop up again.

My docker-compose.json file:
[code]

I run each command in a separate tab in my terminal, of course waiting for WPT to start until I run sitespeedio:
[code

[2020-04-26 14:16] soulgalore commented on #2970
Hi @dekryptic the errors are not from WebPageTest, its from Browsertime/sitespeed.io. `chrome not reachable` could be a mismatch in Chrome/Chromedriver version but since you run the container it should match. I'm thinking it could be running out of memory error on the machine?

[2020-04-26 14:33] Myvryn commented on #2970
I believe I've seen that error as well when I've run out of disc space on the machine.

Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: Peter Hedenskog <notifications@github.com>
Sent: Sunday, April 26, 2020 7:16:48 AM
To: sitespeedio/sitespeed.io <sitespeed.io@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [sitespeedio/sitespe

[2020-04-26 14:40] dekryptic commented on #2970
But after the first failed run it consistently runs without error. And if I remove the webpagehost config from the command I don't get any errors.

I'll take a look and see if there are any memory or disk space issues.

[2020-04-27 06:32] soulgalore commented on #2963
Releasing this later today, I verified that it works on pages HTML.

[2020-04-27 09:25] hco commented on #2884
If someone ends up on this ticket but is already using node 12 (in my case, I am using the docker image sitespeedio/sitespeed.io:12.6.0, which contains node 12):

For me, the reason was that I did a `return commands.measure.stop();` at the end of my script, which was not needed in my case, because all the calls to `commands.measure.start` received an URL.

[2020-04-27 20:54] erickwilder commented on #2773
Would you elaborate a bit on this issue? I've spent some time with the Slack plugin already and if you could point me in the right direction I might get this to take a look.

Just trying to keep the momentum 💪 😄

[2020-04-27 22:34] soulgalore commented on #2773
Ha that description wasn't very helpful, let me have look tomorrow and see if I remember :) Thanks @erickwilder

[2020-04-28 09:06] #2147 closed

[2020-04-28 11:52] soulgalore commented on #2773
I didn't get time to check this today, I wanted to merge your PR first @erickwilder . Gonna try to find time tomorrow.

[2020-04-28 12:19] erickwilder commented on #2773
Don't worry. Take your time! In the meantime, I will skim thru other issues to see where/if I can help.

[2020-04-29 06:27] soulgalore opened #2972 "Missing group for browsertime.pageSummary"
We have tests that sends messages without a group. The URL tested is: https://en.m.wikipedia.org/speed-tests/Banksy.enwiki.872156204/

`[2020-04-29 05:13:39] ERROR: Error: Page summary message (browsertime.pageSummary) didn't specify a group.`

[2020-04-30 18:45] shanep2300 opened #2975 "Tagdb Errors"
Sitespeed 12.7.1-plus1
CentOS 7
Docker 19.03.2

I'm experiencing the same issue #2383

What are the correct steps to fix it? I have removed `graphite.db`, then did a `docker-compose down`, then did `docker-compose up -d` and a new `graphite.db` was created. But the errors are still there.

[code]

[2020-04-30 19:03] soulgalore commented on #2975
Hi @shanep2300 the old error occurred because of that the Graphite DB was pre 1.0 (or something like that) before Graphite has introduced tagging. Did you try to download a blank db? https://github.com/sitespeedio/sitespeed.io/tree/master/docker/graphite

[2020-04-30 19:16] tobbes4711 commented on #2970
hi, i have the same error.

iam running on t3.large sitespeed.io 12.5.1 (because 12.7.1 had an issue with my aliases)

after the first url is crawled i can see these lines over and over again:
"(Session info: chrome=81.0.4044.92)
    at Object.throwDecodedError (/usr/src/app/node_modules/selenium-webdriver/lib/error.js:550:15)
    at parseHttpResponse (/usr/src/app/node_modules/selenium-webdriver/

[2020-04-30 19:24] shanep2300 commented on #2975
Downloading the file did the trick! Same steps as before but added the blank graphite.db after removing the old one.

[2020-04-30 19:24] #2975 closed

[2020-04-30 20:01] soulgalore commented on #2970
@tobbes4711 could you please file a bug for the alias? 12.7.0 had a bug with alias but that was fixed in 12.7.1 but I guess it isn't fully fixed? I file an issue for that I would really appreciate it so I can have a look!

For the throw decode error, if you increase the memory (https://www.sitespeed.io/documentation/sitespeed.io/docker/#increase-memory) do that help?

[2020-04-30 20:02] soulgalore commented on #2970
@dekryptic did you see anything? Any specific reason you run both WPT and sitespeed.io on the same host?

[2020-04-30 21:21] kmaqsudi opened #2976 "URL alias broken in 12.7.1"
I have single URLs with an Alias (no groups) and the page summary no longer shows the Alias.  In addition, my graphite graphs are broken because the $Page alias is the full URL instead of the Alias.

[2020-05-01 09:29] erickwilder commented on #1065
I'm interested in working on this one and I might spend some time trying out some ideas but before I go down the rabbit hole. Do you guys have any ideas how to go on with this one?

[2020-05-01 09:36] soulgalore commented on #2976
Hi @kmaqsudi let me try to fix that later today, there was bugs introduced in 12.7.0 but it seems its still in 12.7.1 then.

[2020-05-01 13:56] shanep2300 commented on #2958
@soulgalore Thank you so much for the quick response to this! Seems to me that alias is working. I did run into some issues though with graphite.

[code]

These are the queries I'm using to compare the 8 or so urls with each other. Fortunately, SpeedIndex works. Unfortunately, loadTime, fullyLoaded, and TTFB have duplicate key errors in Grafana.

I'm VERY new to graphite so I'm not sure if it's a

[2020-05-01 14:54] shaqb opened #2978 "TSProxy is not working with Sitespeedio 12.7.1"
Hi there,

We've just upgraded Sitespeedio from 12.5.1 to 12.7.1 and our runs are no longer being executed. It bombs out with no errors when we get to the point where Sitespeedio initiates TSProxy.

docker run --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io:12.7.1  https://www.sitespeed.io/ --browsertime.connectivity.engine tsproxy --browsertime.connectivity.profile cable

- Which version

[2020-05-01 15:26] soulgalore commented on #2978
My guess is that this was introduced when we switched from Python 2.7 -> 3 in the Docker container. I'm pretty sure I tried it on my Mac but probably not in the container. Let me have a go tonight and fix it.

[2020-05-01 15:34] soulgalore commented on #2978
No the TSProxy script needs to be updated to 3.0, I guess I've missed it and only focused on VisualMetrics when I did the upgrade.

[2020-05-01 19:27] soulgalore commented on #2976
@kmaqsudi I've just released 12.8.0 where there's a fix, please try it out when you have time.

[2020-05-01 19:29] soulgalore commented on #2978
Yes the problem is Python 3. I created an upstream issue and had a quick go at it myself, but I couldn't get it to work. Lets wait a couple of days and see if we can get help to get it fixed, else I guess we need to install old Python in the container.

[2020-05-01 22:20] mrtypn commented on #667
By using several tricks i have successfully made all major authentication works (Basic , NTLM, Certificate and Negotiate) , I have done this for Chrome only.
1) For NTLM, Basic : we need to write a small browser extension , listen to authentication and and provide the password, to load the extension we use the command option: --browser.args "load-extension=/path_to_your_ext"
2) for Certificate
- w

[2020-05-04 08:27] znerd opened #2979 "Document how to use client certificate in browser"
I'd like to use a client certificate with sitespeed.io (with the Chrome backend). I've searched the documentation, but I could not find any explanation on how to do this.

Note that the Chrome browser does support the use the certificates installed in the host operating system (e.g. Windows or macOS).

Request: Please document how to use client certificates (e.g. P12) in the any browser (or at lea

[2020-05-04 08:45] shaqb commented on #2978
Thanks very much @soulgalore!

[2020-05-05 10:38] soulgalore commented on #2978
Sorry this took a while. I've pushed 12.8.1 where the container use Python 2 instead. Could you please verify that it works for you now @shaqb ?

[2020-05-05 10:38] soulgalore commented on #2972
Fixed and released

[2020-05-05 10:38] #2972 closed

[2020-05-05 10:39] shaqb commented on #2978
Hey @soulgalore - looks good now. I've run 12.8.1 with a few urls and TSProxy is back in business. Thanks for quick turnaround!!!

[2020-05-05 10:39] #2978 closed

[2020-05-05 10:45] soulgalore commented on #2979
Hi @znerd maybe you can help me out if you have some certificates. I think there's a couple of ways to do it:
* For Firefox you can setup your own profile with `--firefox.profileTemplate`, I guess the best is to setup Firefox and then copy that dir and use it.
* For Chrome my guess is to either create your own Docker file where you add the certificates or ignore them with `--ignore-certificate-err

[2020-05-06 04:30] cmarshall3 opened #2983 "ChromeUserTimings on a Webpagetest RepeatView are not saved by name in Graphite"
When running a webpagetest test in sitespeed.io:12.8.0 on Ubuntu 18.04.4 LTS with a webpagetest-secrets config file as follows:

{
  "extends": "/config/secrets.json",
  "webpagetest": {
    "connectivity": "cable",
    "timeout": 4000,
    "timeline": true,
    "first": false,
    "firstViewOnly": false,
    "cached": true,
    "repeatView": true,
    "rvonly": false,
    "includeRepeatView": tru

[2020-05-06 08:39] tobbes4711 commented on #2970
For the throw decode error, if you increase the memory (https://www.sitespeed.io/documentation/sitespeed.io/docker/#increase-memory) do that help?
not really. the load average is still 4-6 and the loop.sh script stops working. i have changed now my t3.large to c5.large as you suggested.

the alias issue is fixed in 12.8.1. just tested some minutes ago.

[2020-05-06 11:30] cambiph commented on #2941
bump :)

[2020-05-07 07:59] soulgalore opened #2985 "WebPageTest errors from jsLibsVulns"
Running WebPageTest against the public version, my guess it is caused by https://github.com/WPO-Foundation/webpagetest/pull/1349

`[2020-05-07 07:49:58] ERROR: Error creating WebPageTest result  Error: Tried to add  to stats for path firstView,custom,jsLibsVulns`

But I guess we could catch that, let me have a look.

[2020-05-07 20:13] soulgalore commented on #2985
It looks like the empty array in the result is something we don't handle. Lets fix that before the next release.

[2020-05-08 13:47] soulgalore commented on #2985
Fixed in next release.

[2020-05-08 13:47] #2985 closed

[2020-05-09 21:20] hellosirandy commented on #2979
@znerd Have you found any way to insert client key/cert with sitespeed.io? For me I'm trying to test mtls endpoints with sitespeed.io so I think I'm looking for the same thing as you do.
Thanks!

[2020-05-11 12:40] TusAuto opened #2987 "Domain change is not working on Firefox"
1.URL Under test [ Can not provide as Company Policy ]
2. First we have sign in button screen and then Email address and password page to submit.
3. We are trying to measure page responsiveness after Sign in page.But some how after Sign in ..script unable to input Email address. Tried lot many times with wait as well . I have checked the same script is working fine with Chrome browser.
4. Even sam

[2020-05-11 13:16] TusAuto commented on #1187
Hey @soulgalore  : Any plan to support Edge in 2020 release ? as we using sitespeed.io for testing Chrome , Firefox. which is working awsome :)  and now  latest requirement is to  perform NFR testing on Edge browser ?

if not may be we need to switch to new tool :(

[2020-05-11 13:18] softwareklinic commented on #1187
I believe Edge and Safari are supported now
https://www.sitespeed.io/documentation/sitespeed.io/browsers/#edge

[2020-05-11 13:48] soulgalore commented on #1187
Yep thanks @softwareklinic !  @TusAuto Edge works for platforms that support it, but you may need to update Edgedriver yourself to match your Edge version.

[2020-05-11 14:13] vishallanke opened #2988 "SiteSpeed domain change not working on Firefox"
Below script is working on Chrome but not on Firefox. User gets navigated to Organizational Entitlement Service web page (domain change from mywebsite.cloud) might be the root cause. I am not sure. Following code is working on Chrome but not on Firefox.

[code]
Error is as below -

`[2020-05-11 14:09:53] ERROR: Error: Could not add text myemail@gmail.com to id 1-email
`
In captured video, I can se

[2020-05-11 14:28] TusAuto commented on #1187
@soulgalore agree but when i pull latest docker container for sitespeed.io [12.9.0 ] while executing docker run command i can see only Chrome and firefox browser support. And i can not see Edge driver available with that container. Please let me know how can i install edge driver or it should be part of docker container to use?  Quick help will be appropriated as need to submit Edge poc for same b

[2020-05-11 15:35] soulgalore commented on #1187
@TusAuto Edge (built on Chromium) hasn't been released on Linux (yet?), so you need to run on  OS X or Windows.

[2020-05-11 16:52] TusAuto commented on #1187
@soulgalore :  ok thanks for update but any tentative plan to release it on Linux ?   and is it possible to generate html report if we execute it on windows without docker image of sitespeed.io ?

[2020-05-11 18:36] soulgalore commented on #1187
Microsoft needs to release it to Linux :)

Yep most things will work on Window, except setting up requirements for Visual Metrics is usually a pain.

[2020-05-11 18:40] soulgalore commented on #2988
Hi @vishallanke here's the steps I use when I try to debug scripts:
https://www.sitespeed.io/documentation/sitespeed.io/scripting/#debug

Easiest is almost always if you can run it on your local machine, without Docker and just look at the browser window and see what happens.

[2020-05-11 18:43] soulgalore commented on #2987
Hi @TusAuto try to increase the memory where you run your tests. Do you run in Docker?

[2020-05-11 18:47] soulgalore commented on #2941
Hi @cambiph sorry for not getting back.

Looks suspicious (that doesn't look right). Do all navigations work (can you see them in the browser?), like do the script do what you want?

[2020-05-12 03:01] TusAuto commented on #2987
hey @soulgalore  yes i am executing in docker and tried to executing it with increase in memory size  2g many times but no luck :(   even  3g memory is also not working.
Please suggest other solution .

[2020-05-12 07:56] cambiph commented on #2941
I run my tests in Docker, so to make it easier to troubleshoot, I ran the test locally and I still get the same error. On each iteration, I can see Chrome opening the page without any problems, so I don't see anything wrong there. This is the logging I get when running locally:

[code]

[2020-05-12 14:06] soulgalore opened #2990 "WebPageReplay with Firefox times out"
Using the Docker container, the recording phase times out. It works for Chrome. Not exactly sure when this started to happened (lets add a Firefox WPR in Travis too).

[2020-05-12 19:08] soulgalore commented on #2990
Aha!

<img width="884" alt="Screenshot 2020-05-12 at 20 51 18" src="https://user-images.githubusercontent.com/540757/81735004-b28ee000-9494-11ea-8fde-ad00349f9db2.png">
<img width="1006" alt="Screenshot 2020-05-12 at 20 48 42" src="https://user-images.githubusercontent.com/540757/81735013-b458a380-9494-11ea-97ce-499d34b4def8.png">

[2020-05-13 09:35] soulgalore commented on #2990
I spent some time getting a new certificate to work but no luck. I created an upstream issue for WebPageReplay to update the certificate.

[code]

https://bugs.chromium.org/p/chromium/issues/detail?id=1082126

[2020-05-13 14:46] shaqb opened #2992 "Coach is showing assets are missing a cache time but they are definitely present"
- Exact how you run (the exact parameters)
_docker run --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io:12.10.0_ https://www.sainsburys.co.uk/shop/gb/groceries/fruit-veg/all-fruit\?fromMegaNav\=1
- Which version you are using
_12.10.0_
- OS (if you use Docker, report the base OS)
_Ubuntu 18.04_

When I'm running the above command and checking the coach output, one of the recommendations it

[2020-05-13 16:41] soulgalore commented on #2992
Hi @shaqb thanks for the report, I wonder maybe it cannot parse that header, I need to look at the spec.

[2020-05-14 07:45] pherrymason opened #2993 "Visual Metrics failed to analyse the video Error: Command failed with exit code 1"
We are having intermittent errors in our tests.
They seem with VisualMetrics not being able to process/generate videos, but I don't fully understand the source.
If you need more information just ask:

[code]

The command we are using is:
[code]

This is our `sitespeed.config.json`:
[code]

[2020-05-14 11:21] edevlin-made commented on #2976
Hi @soulgalore , thanks for working on this brilliant project.  I'm using the latest release 12.10.0 and still see a problem with URL aliases.  My URLs and their aliases are provided through a text file.

I see the aliases in the "page" tag on the metrics going to InfluxDB (great), but they aren't used on the pages.html page of the HTML report - instead I see the full URL in the first column of th

[2020-05-14 17:46] soulgalore commented on #2993
Hi @raulferras hmm it looks like the video wasn't recorded. Do you access one URL or do you use scripting to record multiple steps? If you look at the screenshot, does it look like the browser was able to navigate to the page?

[2020-05-14 17:47] soulgalore commented on #2976
Hi @edevlin-made thanks :) Yes that looks like a regression, let me try to fix it tonight.

[2020-05-14 19:29] soulgalore commented on #2976
@edevlin-made I just released 12.10.1 with a fix for it. Thank you again for reporting!

[2020-05-15 00:40] hellosirandy commented on #2535
Hi @nevesing, I'm having the same problem here, are you able to insert client certificate to Sitespeed io command?

[2020-05-15 01:42] nevesing commented on #2535
Yes. You can either build a custom sitespeed image (or) use something like this in your extra start script:

`docker run -e EXTRA_START_SCRIPT=/sitespeed.io/test.sh --rm -v "$(pwd)":/sitespeed.io ...`.

[code]

[2020-05-15 01:53] hellosirandy commented on #2979
Hi @soulgalore, in our case we are trying to run tests on internal mTLS url with sitespeed.io, in which ```ignore-certificate-errors``` won't work. Do you have any suggestion to inserting the key/cert in the request?
Thanks!

[2020-05-15 02:56] hellosirandy commented on #2535
Well for me I'm working on inserting mTLS key/cert/ca on the request, how can I bind those within the Extra Start Script?

[2020-05-15 11:06] edevlin-made commented on #2976
Brilliant thanks @soulgalore , v12.10.1 works for me, the report looks much better now.

[2020-05-16 10:33] amitmalhotra-cell opened #2998 "Default annotations not sent to Influxdb events table in case of --multi scripts.js"
AIM : To run multiple scripts.js using --multi flag and save result in influxdb and display on Grafana where we can show runs link to Html reports (in S3 bucket)

Docker command used : docker-compose run sitespeed.io /sitespeed.io/login.js /sitespeed.io/cart.js --multi --config /sitespeed.io/influxConfig_file.json

where script1 : login.js measures login journey only
and scripts2 : cart.js measure

[2020-05-16 11:56] amitmalhotra-cell commented on #2998
To summarize above issue : In documentation where mentioned below -
Run your script by passing it to sitespeed.io and adding the parameter --multi. If you have multiple scripts, you can just pass them in as well.

docker run --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io:12.10.2 script.js script2.js script3.js --multi

will result in only script.js to store in influxdb ->events table to s

[2020-05-16 18:24] soulgalore commented on #2998
Hi @amitmalhotra-cell thanks for creating the issue. I wonder if the annotation is sent or if its sent with wrong tags (so that it will not show up). If you set the log level to debug `-v`  you will get a log message (or multiple) that looks like:
`Send annotation to Influx ...`

Can you turn on the logs and share the annotation debug messages, then hopefully we can understand if the messages isn'

[2020-05-17 06:22] amitmalhotra-cell commented on #2998
Hi @soulgalore , Thanks for your quick response. I am attaching verbose logs . You can search with "Send annotation to Influx"

Also i am attaching detailed steps performed so that everything is clear. Please check
[verboselog_SendannotationtoInflux.docx](https://github.com/sitespeedio/sitespeed.io/files/4639750/verboselog_SendannotationtoInflux.docx)
[StepsPerformed.docx](https://github.com/sites

[2020-05-18 05:08] amitmalhotra-cell commented on #2998
hi @soulgalore,
It seems same timestamp is sent to influxdb for annotations as per logs and it must be getting overwritten while inserting in influxdb.
If you agree , please let me know how can we avoid this and help resolve this issue .

[2020-05-18 07:04] amitmalhotra-cell commented on #1966
hi @mitchtech ,
i am facing same issue of same timestamp getting inserted in influxdb for annotations . Can you tell me how to fix this. I am using latest sitespeed docker image.

[2020-05-18 07:17] raulferras commented on #2993
You made me think on something, the site is doing some ajax requests to a protected endpoint (vpn) that might be failing. I will check that and report the result here.

Thanks

[2020-05-20 20:09] soulgalore opened #3006 "Create generic plugin that transform metric structure to tags"
Today the InfluxDB plugin converts the metric structure using tags, We should do this more generic so that the tags could be used for other plugins.

[2020-05-21 09:43] amitmalhotra-cell commented on #2998
hi @soulgalore : Any Update on this issue ?

[2020-05-21 09:47] amitmalhotra-cell opened #3007 "Error: PageIndex out of range"
Error: PageIndex out of range

I saw your comment in #2425 : At the moment you need to either navigate or make one request between start/stop for it to work.

Do you have any solution to it now or this behavior remains same today as well ?

[2020-05-21 13:33] TusAuto commented on #2987
@soulgalore : Please suggest other solution.

[2020-05-21 15:43] andyfrith-rm opened #3008 "Using performance budget to check CSP policy"
I am looking to see if I can use Sitespeed to pass or fail based on the CSP policy (and potentially also HSTS too) since I can see these are output in the Coach report.

We are running this command on Jenkins (running Centos 7):

`docker run -v ${WORKSPACE}:/sitespeed.io:Z sitespeedio/sitespeed.io:12.1.0 --outputFolder /sitespeed.io/output https://www.ourwebsite.com --budget.configPath /sitespeed.

[2020-05-21 17:22] soulgalore commented on #2987
Hi @TusAuto I meant the memory on the server, was it that you increased? Those kind of errors usually is caused by running on a too small instance.

[2020-05-21 17:24] soulgalore commented on #3007
What are you trying to do @amitmalhotra-cell ? Checkout https://www.sitespeed.io/documentation/sitespeed.io/bug-report/ - that helps us to understand and reproduce.

Thanks!

[2020-05-21 17:44] soulgalore commented on #3008
HI @andyfrith-rm and thank you for the good bug report! I could reproduce. The problem was that we do not handle the old budget setup correctly in the HTML and the log output. I've pushed a fix for that, and its going out in the next release.

[2020-05-22 06:03] soulgalore commented on #2998
Hi @amitmalhotra-cell I couldn't fully follow the logs. So you are saying they annotation has different tags but use the same timestamp so its overwritten or can do they have the same tags too? I looked at the code and the timestamp is generated when the annotation is sent (if I understand correctly) but then we set `precision=s` when sending it to InfluxDB.

[2020-05-22 06:15] TusAuto commented on #2987
Hi @soulgalore  I have increased memory on server by 2g. Even tried with 3g as well but no luck.

[2020-05-22 07:06] amitmalhotra-cell commented on #2998
Sorry, can you please tell how to add precision=s in below command when sending to InfluxDB please?

docker-compose run sitespeed.io /sitespeed.io/login.js /sitespeed.io/cart.js --multi --config /sitespeed.io/influxConfig_file.json

Config.json file as below  {
  "browsertime": {
    "iterations": 1,
    "browser": "chrome"
      },
  "influxdb": {
    "host": "influxdb",
    "port": "8086",
    "

[2020-05-22 08:25] soulgalore commented on #2998
I mean the precision is used when you send the annotation by default. Checkout https://github.com/sitespeedio/sitespeed.io/blob/master/lib/plugins/influxdb/send-annotation.js#L63-L74

So are the annotations is your case sent the same second?

[2020-05-22 08:50] amitmalhotra-cell commented on #2998
So are the annotations is your case sent the same second? - YES (see below)

Timestamp in logs:
![image](https://user-images.githubusercontent.com/63041681/82649694-3d12d480-9c37-11ea-8f0a-8ba436e5f5f7.png)

Timestamp inserted in Influxdb Events Table:
![image](https://user-images.githubusercontent.com/63041681/82649632-22d8f680-9c37-11ea-84ea-65e8a148c124.png)

This happens ALWAYS when i use mult

[2020-05-22 10:31] soulgalore commented on #2998
No the precision is only for how InfluxDB stores the annotation. The fix is in the sitespeed.io code that it should use the timestamp from when the page was tested.

[2020-05-22 10:40] soulgalore commented on #2998
To fix this we need to do some code change. At the moment the plugins that get the summaries don't know when the data was collected (only when sitespeed.io was started). Browsertime have that information per run, but I don't think we pass that on in the summary (or maybe we do?). At least we need to store the timestamp in the InfluxDB plugin and use it when the annotation is sent.

[2020-05-22 12:01] soulgalore commented on #2998
I probably need a couple of days to come up with a good fix for this. We pass on the timestamp from browsertime, but we wanna have the same timestamp for other metrics collected at the same time (and that's missing). We have a generic timestamp that is generated when the message is sent (=all data Is collected), that would fix it but it would not be the exact timestamp of when the test was run.

[2020-05-22 12:07] amitmalhotra-cell commented on #2998
Thanks @soulgalore for looking into this issue on priority. I really appreciate if you are able to provide fix in next release.

[2020-05-22 12:36] amitmalhotra-cell commented on #3007
@soulgalore : **Adding more details to issue**

Issue Description : Getting error "PageIndex out of range" when no navigation or request is included between commands.measure.start/stop.

OS : Windows
**Steps Performed :**
**1)Docker command used :**
docker run --rm -v %cd%:/sitespeed.io sitespeedio/sitespeed.io:12.3.1 -n 1 /sitespeed.io/AddToCart.js --multi

**2) Error encountered below :**
![imag

[2020-05-22 12:39] soulgalore commented on #3007
Hi @amitmalhotra-cell yes I think you can measure that by adding a user timing using the User Timing API (start before you do the call, end it after) and then add it to the result with https://www.sitespeed.io/documentation/sitespeed.io/scripting/#add-your-own-metrics

[2020-05-22 12:44] amitmalhotra-cell commented on #3007
@soulgalore : Thanks for your reply. I will try to do this and hope it records video automatically for custom metric. If i found any issue , i will let you know.

[2020-05-22 15:26] soulgalore commented on #3008
The fix was released in 13.0.0, please let me know if it works better now @andyfrith-rm

[2020-05-22 16:57] kmaqsudi opened #3011 "Plus1 throws lighthouse DNS failure error."
[2020-05-22 16:55:31] ERROR: Error: Lighthouse returned error: DNS_FAILURE. DNS servers could not resolve the provided domain.
    at Gaxios.<anonymous> (/gpsi/node_modules/gaxios/build/src/gaxios.js:72:27)
    at Generator.next (<anonymous>)
    at fulfilled (/gpsi/node_modules/gaxios/build/src/gaxios.js:16:58)
    at runMicrotasks (<anonymous>)
    at processTicksAndRejections (internal/process/

[2020-05-25 08:35] amitmalhotra-cell commented on #3007
Thanks @soulgalore . It worked for me. We can close this issue . Thanks for your help!

[2020-05-25 08:35] #3007 closed

[2020-05-26 07:09] raulferras commented on #2993
Hello again, I've checked and I can confirm the site is accessible, so no problems with VPN are occurring.
Is it possible there's no space free in the hard disk? Or a different error would have triggered?

[2020-05-26 08:43] vishallanke commented on #2988
Its not working on local machine, only on Firefox.
Organizational Service Entitlement Page does not get opened. Email id and Password fields are white out.
Note - If I trigger the page manually on Firefox , it works. Entitlement Service has full support on Firefox.
![image](https://user-images.githubusercontent.com/46259109/82879727-fedd2400-9f5a-11ea-9aae-c0f14c86e4df.png)

[2020-05-26 14:41] soulgalore commented on #2988
Does it generate a HAR file, so you can what response that isn't loaded (my guess is that some request/responses is blocked). Also if get in that state in your browser, check the network tab and see if you can see something there (if you're scripting, you can just add a looooong wait so you have time to check the network tabs what's going on.

[2020-05-26 14:46] andyfrith-rm commented on #3008
@soulgalore many thanks for the quick fix - I can confirm it is working correctly within the sitespeed report.

It appears that the junit reporting however still has the same issue (sorry I may not have mentioned this in addition!). Perhaps a similar fix is required in the junit output?

Thanks again

[2020-05-26 14:48] soulgalore commented on #2993
Do this happen every time you run or random ?

[2020-05-27 05:56] amitmalhotra-cell opened #3014 "addObject(extraMetrics) String value not inserted in influxdb"
hi @soulgalore ,

Version info :
Versions OS: linux 4.19.76-linuxkit nodejs: v12.13.0 sitespeed.io: 12.3.1 browsertime: 8.3.1 coach: 5.0.1

Issue detail:
1) screenshot.take(name) is not working. I wish to capture error snapshot and send to grafana but see error.
2) How can i mark test run as Fail and send fail status in Grafana.

Steps (Below are steps i intend to do)
1) Run below to test login fu

[2020-05-27 06:57] amitmalhotra-cell commented on #3014
I mean can you tell me how to use screenshot.take(name) correct way with example ?

[2020-05-27 07:18] soulgalore commented on #3014
If you follow the script syntax with:
[code]

all commands live in the commands name space so:
[code]

For errors you can use https://www.sitespeed.io/documentation/sitespeed.io/scripting/#error

[2020-05-27 07:20] raulferras commented on #2993
It does not happen every time, but I don't see any pattern on when it happens, so it is apparently random.

[2020-05-27 08:43] amitmalhotra-cell commented on #3014
Thanks @soulgalore for reply . I have few questions here:

1) commands.screenshot.take('my-new-screenshot')-->Works fine but save snaphot only in folder . Does is show snapshot in html report as well which we can directly open from grafana ?

2) For errors , i followed  https://www.sitespeed.io/documentation/sitespeed.io/scripting/#error
Error can be seen in HTML report -->This is working fine as

[2020-05-27 10:53] soulgalore commented on #3014
No, that isn't implemented yet in the HTML.

All errors are reported to Graphite/InfluxDB. If you checkout https://dashboard.sitespeed.io/d/000000043/page-summary?orgId=1 and scroll down to "Errors" that is the one that is reported to the data source. So it keep track of number of errors.

That isn't perfect today. Maybe you ca throw an error from the script.

[2020-05-27 12:48] amitmalhotra-cell commented on #3014
@soulgalore : For point 3 : To send Status as Pass or Fail , i tried to use first commands.measure.addObject(extraMetrics) as below :

1) **use commands.measure.addObject(extraMetrics) between start and stop**
module.exports = async function(context, commands) {
    const webdriver = context.selenium.webdriver;
    const driver = context.selenium.driver;
    const extraMetrics = { a: 1, b: 2, c: 3

[2020-05-27 13:12] soulgalore commented on #3014
Hi, the metrics needs to be attached to a page at the moment so add them after your test:

[code]

[2020-05-27 20:36] leathej1 opened #3015 "No host available error returned - metrics are still sent to Influxdb"
Dockerized SS 13.0.3
Command:
`sudo docker run -e MAX_OLD_SPACE_SIZE=4096 --name sitespeed --cap-add=NET_ADMIN --shm-size=4g --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io:13.0.3 n
av-crm.js`

The script execution is throwing dozens of the same error, but the metrics are correctly sent to my Influxdb.

Config:
`  "influxdb": {
    "protocol": "http",
    "host": <my ip>,
    "port": "8086

[2020-05-28 07:10] soulgalore commented on #3015
It comes from the Influx package we use https://github.com/node-influx/node-influx but I couldn't see anything in their issues. Could it be that your host is going up and down?

[2020-05-28 08:39] chenghuangu commented on #1418
hi @soulgalore, i have some problems need ask yo again. recently , i use ''const { run } = require('sitespeed.io');'' and run(options), but i don't know how to write options for my project. and then i copy the options from upstairs。just like this.
![image](https://user-images.githubusercontent.com/47850961/83118687-41d8fc00-a101-11ea-89f9-476ea8fd24b1.png).
but,ihave some trouble with my project:

[2020-05-28 13:41] amitmalhotra-cell commented on #3014
hi @soulgalore ,
Below is **working fine**
await commands.measure.start('LoginProcess');
.....//do login
extraMetrics = { Status: 'Failed'};
await commands.measure.stop();
return commands.measure.addObject(extraMetrics);

and i see in HTML report **but i dont see in Influxdb. i dont see any measurement with name extrametrics or status in influxdb. Can you help** ?
![image](https://user-images.gith

[2020-05-28 14:50] ogarling opened #3016 "GitHub Actions integration documentation example is outdated"
Because of the outdated documentation I tried to create a working example with WebPageReplay and a performance budget included.
The use of WebPageReplay made it for me difficult to use the out-of-the-box "docker container running" because I was not able to provide the required Docker options.
Beneath my working, but probably not optimal code, to get it working. When the performance budget assertio

[2020-05-28 16:18] leathej1 commented on #3015
This seems to be a symptom of the container having trouble with high JS heap usage. Since I do not see this issue in real time, is there a way to root out memory usage problems when a script runs?

[2020-05-28 19:22] soulgalore commented on #3016
Hi @ogarling thank you for creating the issue! I'll try to set it up first thing tomorrow (and update the docs). The first version was pushed when actions was early beta and I haven't put any time in it since then so its time.

Have you seen if setting latency works? When I create the action long time ago, I think running the container in NET_ADMIN mode wasn't supported, but maybe it is now, that

[2020-05-28 21:16] ogarling commented on #3016
@soulgalore Thanks for your quick response and for working with me on this. I was hoping to give something "back to the community" but I am stuck now.
I just tested with a delay of 1000ms and yes, I can confirm that when you use an Ubuntu latest VM (their default I guess) that the delay certainly is working.

[2020-05-29 04:28] soulgalore commented on #3016
Hi @ogarling the reason that it didn't work was because of a  mistake I made. The start script in the Docker container didn't exit with the sitespeed.io exit code when running WebPageReplay. I've fixed that now so if you update to latest 13.1.1 you get the correct a exit code (=budget file works).

Ah great that NET_ADMIN work!!

I'm in the middle of a couple of other things, and if you have time

[2020-05-29 07:29] amitmalhotra-cell commented on #3014
hi @soulgalore , Did you get time to check above issue ?

[2020-05-29 08:02] ogarling commented on #3016
Hi @soulgalore: ridiculously fast fix, thanks! Works like a charm.

About the separate "action" Docker image tag: it is not necessary to build that anymore. Adding the extra Dockerfile LABELs is not required anymore (they were during GH Actions beta). Found this information [here](https://github.community/t/documentation-for-dockerfile-metadata-labels/16333/2).

It will be my pleasure to create a

[2020-05-29 10:18] soulgalore commented on #3014
I think they should be sent automatically, do you send them as numbers? I don't we send true/false metrics.

[2020-05-29 10:20] soulgalore commented on #3014
It could be that we miss adding a specific tag for it in Influx so its hard to find? In Graphite we the key structure with _statistics.extras.*_

[2020-05-29 10:37] amitmalhotra-cell commented on #3014
i see extrametrics in HTML report sent value as Failed below , but since it is not sent to Influxdb , i cannot send 'Failed' status to grafana. Can you fix check if this needs a fix for influxdb. **This part is very important to me.**
![image](https://user-images.githubusercontent.com/63041681/83249454-37cc0180-a1c4-11ea-837c-d3fd3ee63810.png)

**Although , below method sends custom metric to Infl

[2020-05-29 10:46] #3016 closed

[2020-05-29 10:49] soulgalore commented on #3016
Thank you again @ogarling ! Could I ask for one more thing? For CircleCI you can run  `sudo modprobe ifb numifbs=1` before you run your test so you can set connectivity even if you don't run WebPageReplay. My guess is that it maybe works now for GithHub Actions, have you tried? After the weekend I'll try to setup something.

[2020-05-29 12:13] soulgalore commented on #3016
@ogarling I had some time to test and it seems to work, However seems to be really big diff in TTFB so I wonder if it "really" works :) What do you see when you run WebPageReplay?

[2020-05-29 12:23] ogarling commented on #3016
@soulgalore I can image that connection throttling will work, what I've seen so far you can do anything within the VM (ubuntu-latest by default). Inserting kernel modules should be no problem.
To answer your question, when using a delay of 100ms:
[code]

[2020-05-29 12:47] ogarling commented on #3016
when doing 5 repetitions it is also consistent:
[code]

[2020-05-29 13:41] soulgalore commented on #3016
Cool, then it seems to be usable. Just using throttling got a lot of variance for me:
[code]

[2020-05-29 13:48] amitmalhotra-cell commented on #3014
So what i conclude is Current bug is **custom metrics not sent to **_influxdb_** by both below commands :**
_1)commands.measure.add('TestResult', 'Pass'); OR
2)commands.measure.addObject(extraMetrics);_

Please @soulgalore , any scope you can fix this **urgent request**.

[2020-05-29 15:10] soulgalore commented on #3014
I can accept a PR for that :) I think its a lot of work to add support for strings. Change and send a Integer instead. Then we can see if it gets tagged right or need an extra tag.

[2020-05-30 05:12] amitmalhotra-cell commented on #3014
Sending **Integer value works fine** and sent to influxdb successfully and i can see in Grafana as well. This solves my purpose. Thanks @soulgalore . I have changed title of issue for future reference to all. Closing issue.
![image](https://user-images.githubusercontent.com/63041681/83320120-f68a2f00-a261-11ea-927d-079ac48c775b.png)

[2020-05-30 05:12] #3014 closed

[2020-06-01 10:47] zefrs commented on #3015
I seem to be having the exact same issue:

ERROR: [sitespeedio.queuehandler] Error: No host available
    at Pool.stream (/usr/src/app/node_modules/influx/lib/src/pool.js:228:29)
    at /usr/src/app/node_modules/influx/lib/src/pool.js:165:18
    at new Promise (<anonymous>)
    at Pool.discard (/usr/src/app/node_modules/influx/lib/src/pool.js:164:16)
    at InfluxDB.writePoints (/usr/src/app/node_

[2020-06-01 11:45] soulgalore commented on #3015
@leathej1 you can increase the memory for NodeJS: https://www.sitespeed.io/documentation/sitespeed.io/docker/#increase-memory

[2020-06-01 11:46] soulgalore commented on #3015
Hi @zefrs do you know when it started to appear? We run a couple of tests on dashboard.sitespeed.io where we send the data to InfluxDB but I haven't seen anything there (yet).

[2020-06-01 15:57] leathej1 commented on #3015
Oh, yes - I have done that already. It just runs out of heap with higher
memory. I need to determine why it is running out of memory - this happens
after one step in a script.

On Mon, Jun 1, 2020 at 4:45 AM Peter Hedenskog <notifications@github.com>
wrote:

[2020-06-02 07:54] zefrs commented on #3015
Hi @soulgalore , so this may have been an issue on my end (unable to resolve InfluxDB hostname), further investigation are ongoing on my end.

[2020-06-02 12:17] Icecold777 opened #3024 "question: tti with sitespeed.io"
Hello, @soulgalore
I'm just curious why there is no time to interactive and first cpu idle metrics collected with chrome using sitespeed.io?

Best Regards

[2020-06-04 00:27] girishv01 commented on #2963
Hi,

I am referring to https://www.sitespeed.io/documentation/sitespeed.io/configure-html/#configure-page-metrics
How do I avoid using "--html.pageSummaryMetrics" multiple time in command and use a config or json file ?
I created a config json as advised, how do I use it in command to run test.

Thanks.

[2020-06-04 08:01] amitmalhotra-cell commented on #2998
hi @soulgalore , Any update on fix ?
i intend to use --multi flag to run multiple scripts one by one. i can only achieve this is this bug gets fixed. Else i will have to run docker run command 30 times for 30 test scenario for example.

[2020-06-04 08:11] soulgalore commented on #2998
No updates, I'll update the issue when I have time to do a fix.

[2020-06-04 08:13] soulgalore commented on #2963
Hi @girishv01 https://www.sitespeed.io/documentation/sitespeed.io/configuration/#configuration-as-json

[2020-06-04 09:34] amitmalhotra-cell opened #3030 "Questions or Sitespeed Limitations"
hi @soulgalore ,
**Why i ask below questions:**
_I find Sitespeed as amazing tool not only to do performance testing but also i intend to do Functional testing as well. Despite reading documentation few things are unclear though._

### 1) Does Meta works only before start/stop ?
I intend to capture actual result and compare with expected result and display in meta data
_Example : Below code meta d

[2020-06-04 11:41] soulgalore commented on #3024
Hi @Icecold777 I tested out TTI a couple years ago on Wikipedia see https://phabricator.wikimedia.org/T176369 and it was a really unstable metric for us (see the graphs) and I've been really skeptical how people would use it. It was a lot of propaganda for the metric when it was released and I was skeptical (but maybe it works better on other web sites that Wikipedia?). The Chromium team removed T

[2020-06-04 12:03] soulgalore commented on #3030
No I think you can use it whenever or do it not work for you?

There's no good way to do that today since the error you create today will be added to a specific page. You can throw the error and just let the run fail I guess.

I don't think there's a way to disable that today. You can disable the full Browsertime plugin but then you will not get any metrics at all.

Do the login load a new page? C

[2020-06-04 12:13] amitmalhotra-cell commented on #3030
Thanks @soulgalore for your quick response :)
I think i will leave point 2 and 3 as it is for now.

For points 1 and 4 , i will share you my code by tomorrow . I think something i may be doing wrong there or it is a miss :)

[2020-06-04 12:35] girishv01 commented on #2963
Thanks @soulgalore  for pointing toe documentation. I am able to run the command.

I used it to Configure the HTML Report - Page Metrics section. Post successful execution, all metrics mentioned in JSON file appears, however I do see other Metrics including some duplicate one.

Command used:
docker run --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io --config PageSummary.json MyScript_Custo

[2020-06-04 13:20] girishv01 opened #3031 "Unable to find Custom Metrics in Graphite"
Hi,

I am following https://www.sitespeed.io/documentation/sitespeed.io/scripting/#add-your-own-metrics
and using -   commands.measure.add('batteryTemperature', temperature/10);

I am able to find this metric on HTML report. As the documentation mentions that the custom metric is automatically sent to Graphite - where do I find this in Graphite (for further dashboarding in Grafana)
I am able to se

[2020-06-05 06:20] amitmalhotra-cell commented on #3030
hi @soulgalore ,

i retested Points 1 and 4 and below are results :

1) _Does Meta works only before start/stop ?_
This is working fine now. I was doing some silly mistake in my code. 👍

4) _await commands.wait.byPageToComplete()_ - **NOT WORKING**
Do the login load a new page? -->_YES to homepage ._
Please see below code i used :
[code]
### ERROR :
![image](https://user-images.githubusercontent.c

[2020-06-09 17:35] corbett3289 opened #3032 "Unexpected File type output"
Running the example command from the documentation produces an error:

C:\Users\andrew.corbett>sitespeed.io https://www.sitespeed.io/

C:\Users\andrew.corbett>

This file doesn't have an app associated with it. Its a .io file format and when I open it it looks like the below code:

[code]

Is this a bug or a lack of documentation on how to handle file expected file outputs?

[2020-06-11 10:07] Icecold777 opened #3033 "report annotations for each script step"
Hello,
I think it would be super useful to start pushing annotation events for each measured step from scripts.
For current moment I can see annotations for the latest step leading to full HTML report. It's not convenient if you are interested in steps before and also confusing for the people who are not aware of all details.

Best Regards

[2020-06-11 10:14] Icecold777 commented on #3024
Hi @soulgalore. thank you for your answer. I understand that TTI maybe unstable and confusing but at least First CPU Idle will be useful.

[2020-06-11 14:09] shaqb commented on #2992
Hey @soulgalore - did you manage to take a look at this specific issue yet? I imagine you're a busy man at the moment!

[2020-06-11 15:28] katanaBoy opened #3034 "[Question][Documentation] Is there a way to get the runs in the Grafana dashboard from the local file system, or server that I host?"
Hi guys,
First of all thank you for this amazing peace of software!

I'm trying to set up your dashboard and I use the following resources
https://github.com/sitespeedio/dashboard.sitespeed.io https://www.sitespeed.io/documentation/sitespeed.io/continuously-run-your-tests/

I got stuck on the documentation here ...

"resultBaseURL": "https://s3.amazonaws.com/results.sitespeed.io",
  "s3": {
    "k

[2020-06-12 03:29] chenghuangu opened #3035 "Is there a way to run mobile test on Windows"

[2020-06-12 08:20] soulgalore commented on #3033
Hi @Icecold777 you are using InfluxDB right? If that's the case I think this is the same as https://github.com/sitespeedio/sitespeed.io/issues/2998 ?

I wanna fix this, you can help me with one thing: I'm no InfluxDB user but if I understand correctly as reported in #2998 the problem Is that if you send two annotations with the same timestamp (but different tags) only one will be saved in InfluxDB

[2020-06-12 08:25] soulgalore commented on #3035
Hi @chenghuangu I hope so but I haven't tested it, since I don't have Windows. If you run without Docker and install the requirements as in https://github.com/sitespeedio/browsertime/blob/master/.github/workflows/windows.yml -

I can try to guide you if you run into problems, it would be interesting to know if it works or if we can make it work.

[2020-06-12 15:57] AndresContreras96 commented on #2758
Hello,
I would like to work on this issue, is it still available?

[2020-06-12 16:50] matti commented on #2758
yes go ahead

[2020-06-13 20:01] soulgalore commented on #3034
Short answer: yes.

It depends on where/how you wanna do it. Either you mount a dir for a web server that you run locally (then it will probably just work out of the box) or you need to build a plugin that copy the files where you wanna move them. Let me know what you wanna do and I can help out on a high level.

[2020-06-13 20:02] soulgalore commented on #3033
@Icecold777 can you try out 13.3.1, I hope it works there.

[2020-06-13 20:02] soulgalore commented on #2998
Hi @amitmalhotra-cell try 13.3.1 , I hope the fix there work for you.

[2020-06-13 20:05] soulgalore commented on #3031
Hi @girishv01 sorry I missed to answer this.  Let ,me update the docs. The metrics are under the key **...statistics.extras.YOUR_METRIC**

[2020-06-13 20:08] soulgalore commented on #3032
Hi @corbett3289 not sure how that works on Windows? Would be cool to make it work out of the box on Windows too, do you know how? I think most works nowadays on Windows and maybe that's the last thing to fix.

[2020-06-14 06:59] katanaBoy commented on #3034
Hi Peter,
Thank you for the replay.
Let's try first with mounting the directory to the webserver.
What do I was planning to try is to create another container whit some web server in it and share the folder with the results.
If I do this how do I need to change the config in order to make this to work?
Thank you!

[2020-06-15 00:29] girishv01 commented on #3031
Thanks @soulgalore , able to track the metrics.

[2020-06-15 00:29] #3031 closed

[2020-06-15 05:31] Abhi-Anltcs opened #3039 "Alerts"
Grafana Alerts - hiding markers on dashboard panels for Alert status

[2020-06-15 07:12] soulgalore opened #3040 "Support data links in Grafana to link to result pages"
Today we use annotations and I think we should move away from that and try out https://grafana.com/docs/grafana/latest/linking/data-links/ instead. I think the key is to create another file structure on disk, that we can "build" from Grafana with templates and timestamp/metrics values.

[2020-06-15 07:27] amitmalhotra-cell commented on #2998
thanks @soulgalore . I will check it and let you know in case of any issue

[2020-06-15 07:28] amitmalhotra-cell commented on #3030
hi @soulgalore  , Any update on this issue ?

[2020-06-15 12:45] soulgalore commented on #3030
If you check the browser window, what happens? That is usually the easiest way to see what's going on and trying to understand why things isn't working.

[2020-06-15 12:58] soulgalore commented on #3034
Ok. I think the key issue is mounting the directory where you write the result files. If you use Docker the default looks something like `-v "$(pwd)":/sitespeed.io` where pwd is the current dir. Change that to a specific directory on the server, and then make sure that one is also mounted for the container that have the web server. One thing that you will miss is deleting old output (like X days o

[2020-06-15 13:23] soulgalore commented on #3039
Hi @Abhi-Anltcs not actually sure what you mean, can you please try to explain it some more? Thanks.

[2020-06-16 05:57] Prakhar36 opened #3041 "Unable to point to custom chrome driver path"
Hello,
   I had a query. I was trying to use my custom chrome driver and then call this driver while running my selenium script to navigate to a webpage. My intent is to make my javascript file more customizable in terms of web navigation and then using sitespeed extensively for measuring the performance of the webpage. Can anybody give me an example to illustrate this issue. I tried downloading c

[2020-06-16 07:39] soulgalore commented on #2941
Can you walk me through the use case again, like go to one page do that, then so I see that I understand. Usually "Could not add meta data to the HAR, miss page 2" means that the script doesn't load a new page/new navigation. Like for example a user login through a model and then the model Is just closed.

[2020-06-16 07:49] cambiph commented on #2941
The page we are visiting is a single page that has a webcomponent rendered a number of times. This is to check the performance if the webcomponent is used many times on one page.
So in this scenario, we have a single web page that has a button rendered 100 times.

The prescript polls the webpage to see if the components are rendered. This is because we are using docker containers, and it takes som

[2020-06-17 12:59] Arhane opened #3042 "--mobile doesn't set correct userAgent"
First of all, thanks a lot for your great work!

I have found a bug where `--mobile` doesn't set correct userAgent.

I run docker-version sitespeed 13.3.0

I run this script
[code]
with this command ` docker run --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io:13.3.0  nodes/node4/configs/scripts/pdpToPdp.js  -n 1 --spa --multi --mobile`

And I get this user agent `Mozilla/5.0 (X11; Linux x8

[2020-06-17 16:32] logkrish opened #3043 "Error: Unable to find domain in "" when running a simple test"
Hi,

Newbie to sitespeed and trying out some basic tests to get the hang of it. When I tried to reach the login page of our website with the commend:

docker run --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io:13.3.0 https://ops360server-qa/ -b chrome -n 1

the test fails with the exception:

[2020-06-17 15:15:06] INFO: Testing url https://ops360server-qa/ iteration 1
[2020-06-17 15:15:24]

[2020-06-18 20:07] soulgalore commented on #3041
Hi @Prakhar36 can you show me your command? If you run in Docker, then you both need to include the new Chrome and the Chromedriver version in Docker? The Docker container comes with latest Chrome and the matching driver. If you need to update one of them, for example Chromedriver to use it with an older Chrome on Android, you can do that by mounting a volume into the container. If you can show me

[2020-06-18 20:12] soulgalore commented on #3043
Hi, I think this is a bug in how we use https://github.com/patrickhulce/third-party-web. That project do not handle if you use a URL without a domain, I think we have some checks on our side but it looks like it isn't enough. What you can do for now is to change so you use a domain instead of _ops360server-qa_

[2020-06-18 20:18] soulgalore commented on #3042
Hi @Arhane thanks for creating the issue. Yes you are right. I did a quick check (using https://httpbin.org/user-agent) and it looks like when you set the mobile emulation in Chrome, the user agent isn't automatically changed. Let me fix that for the next release.

[2020-06-19 05:33] sowmyasurampalli opened #3047 "Running sitespeed script by taking multiple urls from a text file"
I have a requirement to run Sitespeed script by including text checks and custom conditions. I have to read all the urls from a text file.

I tried the following code but it didn't work:
`const cb = (context, commands) =>
  async function (err, data) {
    if (err) throw err;
    console.log(data.toString().split(',\n'));
    url_arr = data.toString().split(",\n");
    for (url of url_arr) {

[2020-06-21 20:10] soulgalore commented on #3047
Hi @sowmyasurampalli what do you want to do? You want to test multiple URLs? If you just want to test the URLs one by one (using a new browser session) you can do that with https://www.sitespeed.io/documentation/sitespeed.io/configuration/#analyse-by-urls

Or do you want to test the URLs with the same browser session, so that you first hit one page, then another etc? Then you can just add `--multi

[2020-06-21 20:13] soulgalore commented on #2941
@cambiph is the repo public so I can test?

[2020-06-21 20:16] #2976 closed

[2020-06-22 06:25] sowmyasurampalli commented on #3047
Hi Peter,
The requirement is to ensure a particular text is loaded while testing each URL. Please suggest the better approach if not scripting.

[2020-06-22 07:15] cambiph commented on #2941
@soulgalore yes it is: https://github.com/milieuinfo/webcomponent-vl-ui-button/tree/update-util-performantie
Run `npm run test:performance` to start the test. You might need to remove the repository from the docker YAML because we are using artifactory for our Docker images.

[2020-06-23 04:45] soulgalore commented on #2941
I didn't get the repo to work, but I looked at the log again. is this still true:

[2020-06-23 07:45] amitmalhotra-cell opened #3056 "Threshold for Metrics Guide"
hi @soulgalore ,

### Can you tell me what are the threshold values we can set for all performance metrics or can you share any link which shares ideal metrics values ?

_example Threshold for Performance score and all other scores ?
example Threshold for Last visual change etc ?
example Threshold for image size, Css transfer size etc ?_

[2020-06-23 08:24] cambiph commented on #2941
That's true, only one page is used.
I'll put in a dummy page and see if it works.
Thanks for the feedback.

[2020-06-23 13:06] soulgalore commented on #3040
I had a go at this but there's no way today we can make it work until we get more functionality into Grafana or make an incompatible change on our side.

I tried changing the folder structure on disk to:
`https://result.sitespeed.io/${path}/${__value.time}/pages/${group}/${page}/index.html` and then adding it as a data link. The  time is the timestamp we use when we send the metric, but since we (

[2020-06-24 12:17] soulgalore commented on #3056
Hi @amitmalhotra-cell thresholds depends on what connectivity and what computer you use when you run your tests. You can configure the summary boxes thresholds with https://www.sitespeed.io/documentation/sitespeed.io/configure-html/#configure-the-thresholds-for-redyellowgreen-summary-boxes.

[2020-06-24 15:19] amitmalhotra-cell commented on #3056
Thanks @soulgalore for sharing link. i will use it.

### Also , i have 2 questions regarding connectivity and Browser which i was unable to resolve from documentation.

1. **Regarding Browser** : i am running simple docker run command as below and wanted to test on **safari browser** .
GOT BELOW ERROR :
![image](https://user-images.githubusercontent.com/63041681/85580356-48ec1f00-b659-11ea-9f83-07

[2020-06-25 11:02] cambiph commented on #2941
I changed the preScript in such way the sitespeed will navigate to the root of the http-server before starting the tests:
[code]

But I still get the following:

[code]

If the problem with getting the repo working are the dependencies, I can provide them to you via some kind of file transfer. That may be easier for you to troubleshoot @soulgalore

Cheers

[2020-06-25 12:12] muuvmuuv commented on #3043
I have the exact same problem and cannot use a domain because it is a standalone httpd service.

[code]

[2020-06-26 12:34] soulgalore commented on #3056
Safari only work on OS X/iOS: https://www.sitespeed.io/documentation/sitespeed.io/browsers/#safari

Yes.

[2020-06-27 10:09] amitmalhotra-cell commented on #2512
hi @petemyron , @soulgalore ,

_Just to share , i am sending pass,fail status using below:_

extraMetrics = { Pass: 1,Fail: 0}; // for Pass
extraMetrics = { Pass: 0,Fail: 1}; // for Fail
return commands.measure.addObject(extraMetrics);

This way i send it to HTML and influxdb and Grafana displays Pass Fail status based on count stored in influxdb.
HTML
![image](https://user-images.githubuserconten

[2020-06-27 10:21] amitmalhotra-cell commented on #3056
Thanks @soulgalore . We can close this Ticket.

[2020-06-27 10:21] #3056 closed

[2020-06-27 10:39] amitmalhotra-cell opened #3060 "Error while using multiple comma seperated tags --influxdb.tags"
### Issue : Error while using multiple comma seperated tags --influxdb.tags

**Steps :**
 1) using latest sitespeed image on docker hub.
Command run :
docker run --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io /sitespeed.io/Login.js --multi --config /sitespeed.io/Config.json **--influxdb.tags market=xyz,dateTime=2020-06-27-10-15-47** --browsertime.my.env PROD --browsertime.my.usrNm xyz@gma

[2020-06-27 11:36] amitmalhotra-cell commented on #3047
@sowmyasurampalli , i am using sitespeed from past couple of months. I achieved this using selenium scripting and verifying text by fetching using getText (). Link for reference :
https://www.sitespeed.io/documentation/sitespeed.io/scripting/

[2020-06-30 05:10] amitmalhotra-cell commented on #3060
Hi @soulgalore  , Did you get time to check this ?

[2020-07-01 12:57] Skejven opened #3064 "Change the order of preURL and preScript when running the tests"
Hello,
Could you please consider changing the order of executing `preURL` and `preScript`?

## Motivation
I'm currently measuring performance of cached pages and I spotted the problem when using only `preURL` parameter: visual metrics (`FirstVisualChange`, `SpeedIndex` etc.) always show `0ms`. That's caused by the way Chrome works (it does not "reset" the page layout between preUrl and the actual

[2020-07-02 17:53] LukaszTutur opened #3066 "ERROR: You need to start your measurement before you can add any metrics to it (while measurement is started)"
- Description:
Getting `ERROR: You need to start your measurement before you can add any metrics to it` when I try to use it any tother way than the one in the example, even when I start the measurement before (please check attached reproduction code)

- Exact how you run (the exact parameters)
docker run --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io:latest extra_metrics.js --multi

- Wh

[2020-07-02 19:06] soulgalore commented on #3066
Hi @LukaszTutur move addObject to do it after stop.

[code]

Let me update the log messages so it reflects how it works.

[2020-07-02 19:21] soulgalore commented on #3064
Hi @Skejven ,

I think preURL work, as long as you don't test the same page/SPA.

[code]

I've been thinking of implementing a automatic approach like hiding the content: https://www.sitespeed.io/documentation/sitespeed.io/scripting/#getting-correct-visual-metrics but avoided to add too much magic.

For more complicated tests I think its best to run your own script with scripting to make sure you

[2020-07-02 19:32] LukaszTutur commented on #3066
Indeed moving the .addObject after .stop fixed it! Thank you for explanation!

[code]

[2020-07-03 05:46] Skejven commented on #3064
Thanks for the quick response.
I understand and agree with you @soulgalore that adding more magic or additional flags to hide the content between pages in the same iteration could be too much (or even a bit misleading for the users).
On the other hand, it feels more natural to me to warm-up page with `preUrl` first and then give the user a chance to do more with a `preScript`. If that is not inten

[2020-07-04 16:50] pineshmenat commented on #1418
Hi @chenghuangu Follow this steps it will solve your issue:

- make this as let [instead of const](https://github.com/sitespeedio/sitespeed.io/blob/42edc680715e30318c32b8a2544c97f56c9b6236/lib/core/queueHandler.js#L20)
- Inside [Constructor](https://github.com/sitespeedio/sitespeed.io/blob/42edc680715e30318c32b8a2544c97f56c9b6236/lib/core/queueHandler.js#L90) re-initialise it by  `groupsPerSummary

[2020-07-06 07:27] #3066 closed

[2020-07-06 07:28] soulgalore commented on #2987
That's in the Docker container (2g/3g). I think memory on the server?

[2020-07-06 07:37] soulgalore commented on #2979
There's no magic in Browsertime/sitespeed.io so if you can do it with your browser you can do it with Browsertime/sitespeed.io. If you run Docker you can add your own extra start script: https://www.sitespeed.io/documentation/sitespeed.io/docker/#extra-start-script - I think you could use that to install extra certificates?

In our Docker container we install certificates for WebPageReplay, so I t

[2020-07-06 07:40] soulgalore commented on #3035
Closing, let me know if it didn't work out.

[2020-07-06 07:40] #3035 closed

[2020-07-06 07:40] soulgalore commented on #3033
I think this was fixed in 13.3.1, let me know if it didn't work out.

[2020-07-06 07:40] #3033 closed

[2020-07-06 07:42] soulgalore commented on #2970
I would separate WebPageTest and run that on another server. Closing, but let me know if there's still issues.

[2020-07-06 07:42] #2970 closed

[2020-07-06 07:43] soulgalore commented on #2990
We got a new certificate but I didn't get it to work. Disabling certificate check helps out, so lets do that for now.

[2020-07-06 07:44] soulgalore commented on #2988
Think this has nothing to do with browsertime/sitespeed.io, more a Firefox issue.

[2020-07-06 07:57] soulgalore commented on #2126
So many things has changed since 2018, closing but let me know if this is still an issue.

[2020-07-06 07:57] #2126 closed

[2020-07-06 08:00] soulgalore commented on #2250
Closing as it seems to work now.

[2020-07-06 08:00] #2250 closed

[2020-07-06 08:02] soulgalore commented on #2493
Closing since no more feedback.

[2020-07-06 08:02] #2493 closed

[2020-07-06 08:02] soulgalore commented on #2506
Closing since no more feedback.

[2020-07-06 08:02] #2506 closed

[2020-07-06 08:03] soulgalore commented on #2554
Closing since no more feedback.

[2020-07-06 08:03] #2554 closed

[2020-07-06 08:03] soulgalore commented on #2732
Closing since no more feedback.

[2020-07-06 08:03] #2732 closed

[2020-07-06 08:06] soulgalore commented on #2809
Is this still an issue?

[2020-07-06 08:07] soulgalore commented on #2822
We don't support multiple runs in one config.

[2020-07-06 08:07] #2822 closed

[2020-07-06 08:07] #2828 closed

[2020-07-06 08:11] soulgalore commented on #2870
Don't see this as a sitespeed.io issue.

[2020-07-06 08:11] #2870 closed

[2020-07-06 08:11] soulgalore commented on #2877
Closing let me know if you needed more info.

[2020-07-06 08:11] #2877 closed

[2020-07-06 08:12] soulgalore commented on #2933
Seems no one know, sorry.

[2020-07-06 08:12] #2933 closed

[2020-07-06 08:13] soulgalore commented on #2952
This has been fixed.

[2020-07-06 08:13] #2952 closed

[2020-07-06 08:15] soulgalore commented on #2947
https://matrix.org/docs/guides/client-server-api#sending-messages

[2020-07-06 08:55] soulgalore commented on #3060
Can you try with "market=xyz,dateTime=2020-06-27-10-15-47" instead? Maybe yargs (that we use the parse the cli) split the string automatically.

[2020-07-06 09:43] bodtx opened #3068 "setup & teardown inside a script error:urlOrAlias.startsWith is not a function"
Hi when running a perf test separatly with a --preScript for the login it is working fine. But when I try to do one script with a setup method for login, it fails.

- Exact how you run (the exact parameters)
`docker run --rm -v "${PWD}:/sitespeed.io" artifactory.xxx.fr/xxx/sitespeedio/sitespeed.io:13.3.0  -n 1  ./performance/page-orga.js   --multi --browsertime.login="xxx" --browsertime.password="

[2020-07-06 10:14] velocyno commented on #2809
Hi Peter!
Sorry, missed previous emails.
The issue was resolved.

Kind Regards, Bohdan Lesiv.
On 6 Jul 2020, 11:06 +0300, Peter Hedenskog <notifications@github.com>, wrote:

[2020-07-06 11:20] vishallanke commented on #2988
It seems not a Sitespeeed issue.
More to do with behaviors of Corporate Entitlement Service with Firefox when triggered from any automation script

[2020-07-06 14:46] soulgalore commented on #3068
Hi @bodtx thanks for the bug report. I'll have a look tonight and try to fix it (next release coming in a couple of days).

[2020-07-06 14:50] soulgalore commented on #3068
I simplified it and it works directly in Browsertime but not in sitespeed.io:

[code]

I think the problem could be that I've missed making sure exported scripts from one file works in sitespeed.io.

[2020-07-06 14:54] soulgalore commented on #3068
Yep the problem is that the functionality is only implemented in the CLI part of browsertime.

[2020-07-07 10:41] amitmalhotra-cell commented on #3060
Yes , its works fine now. Thanks.
Closing issue.

[2020-07-07 10:41] #3060 closed

[2020-07-07 19:16] mrobbins opened #3070 "HMTL output paints with blank data after script run failure"
When running a Checkout script, an error is thrown when a spinner is present. This error seems to fail in a way that prevents the html output from rendering appropriately.
The file is there but the data output is blank.
![image](https://user-images.githubusercontent.com/4596076/86830190-62cb3000-c063-11ea-93fd-b17db36c3aa2.png)

The output of the log file :
[code]
config file:
[code]

[2020-07-07 19:34] soulgalore commented on #3070
Hi @mrobbins thanks for creating the issue, yeah that error should be caught and at least we should have an error in the HTML output. Let me try to reduce to a simpler use case the later this week.

[2020-07-07 19:41] soulgalore commented on #3070
I added safer check to remove one of the later errors. For the original error, checkout https://www.sitespeed.io/documentation/sitespeed.io/scripting/#error-handling that way you can catch errors in your script and make sure they end up in your output.

[2020-07-07 20:06] jdmchone commented on #3070
Do you know when this fix will merge into the browsertime master branch? I'm assuming once it's there, we just reinstall sitespeed.io?

[2020-07-07 20:30] soulgalore commented on #3070
That fix will fix the secondary failure. I think the best thing is to try/catch the script and if there's a failure etc, and your own error.

[2020-07-07 20:37] jdmchone commented on #3070
Right the second error was the issue I was concerned with. Couldn't figure out why the 'layoutShift' was causing blank HTML pages.

[2020-07-07 23:01] SunnyGurnani opened #3071 "Budget with LargestContentfulPaint dosen't work."

[2020-07-08 08:29] soulgalore commented on #3071
Hi @SunnyGurnani thanks for creating the issue. I see that you already fixed it, can you do a PR and I'll merge ASAP. New release going out tomorrow or Friday.

[2020-07-08 10:50] pan-alexey opened #3072 "video dont work in nodejs"
like this code exept error if video = true

[code]

[code]

[2020-07-08 11:27] soulgalore commented on #3072
Hi @pan-alexey thanks for creating the issue. Let me have a try later today. **windowRecorder** is for Firefox so something looks wrong/broken.

Have you installed the extras needed for video (ffmpeg/imagemagick etc)?

[2020-07-08 11:56] soulgalore commented on #3072
I made a fix in Browsertime but until that is released later this week, you can add **firefox: {}** to your config:

[code]

[2020-07-09 09:58] poornachandraFeb opened #3075 "Issues with Node and Python Packages."
Hi Team,

We tried to use the version sitespeed:13.3.2 and during our twistlock scan found the below issues.

For Python:
CVE-2019-9674
CVE-2017-17522

For Node:
CVE-2020-8172

Can you please help in getting this fixed. We are unable to use any version of the docker image provided by the team, we are facing one or the other vulnerbale issue when we scan it from Twistlock.

[2020-07-09 11:16] IMT-happy opened #3076 "localStorage & cookies"
hi, when i use sitespeed to collect the data from video page, i need do some things. such as : write something which we want into local Storage and cookies ,so i hope you can tell me how to run browser with this ;
 and thank you  very much

[2020-07-09 12:17] rishabh7774 opened #3077 "How To Run various Scenario's in parallel"
`[2020-07-09 11:47:55] DEBUG: [browsertime.video] Stop screen recording
[2020-07-09 11:47:55] ERROR: [browsertime] TypeError: Cannot read property 'stdin' of undefined
    at /usr/src/app/node_modules/browsertime/lib/video/screenRecording/desktop/ffmpegRecorder.js:149:15
[2020-07-09 11:47:55] DEBUG: [browsertime] Kill all processes ffmpeg
[2020-07-09 11:47:55] DEBUG: [browsertime] Closed the brows

[2020-07-09 15:30] mikkeschiren opened #3078 "Graphite in docker compose and running sitespeedio - cant'connect"
I am struggling to get this to work - before I had sitespeed.io in docker-compsoe - now with the recommended way, I have only graphite and grafana in docker-compose (network application_default).

Running:
[code]

Give me
[code]

I am using linux.

These are the settings for graphite in docker-compose:

[code]

[2020-07-09 18:50] soulgalore commented on #3078
Hej @mikkeschiren I'm not super into how different networks with Docker works. It looks like your sitespeed.io container doesn't now about the networks name in the compose file. I usually just use the host, so if you are running on the same machine on Linux, you could set ` --network=host --graphite.host=127.0.01`. Else I need to look into the Docker docs on how it works.

[2020-07-09 18:51] soulgalore commented on #3077
Hi @rishabh7774 do you run it in Docker or plain NodeJS?

[2020-07-09 18:53] soulgalore commented on #3076
Hi @chenghuangu I think its easiest if you use Chrome and the Chrome Devtools Protocol. Checkout the sitespeed.io documentation on how to use CDP https://www.sitespeed.io/documentation/sitespeed.io/scripting/#chrome-devtools-protocol and checkout the devtools docs: https://chromedevtools.github.io/devtools-protocol/

[2020-07-09 18:55] soulgalore commented on #3075
Hi @poornachandraFeb I updated to latest NodeJS in the coming release. I think the safest way for you is to do your own Docker container, so its easy for you to upgrade packages when your scan find things.

[2020-07-09 21:16] mikkeschiren commented on #3078
Ok, after some debugging... This is weird, and I guess a docker bug:

After doing a docker inspect, I can see that the hostname for graphite is `22728b2b4590`

So if I do:
[code]
It works, but if I set the hostname in the docker-compose file to my_graphite, and I am getting that hostname when I inspect the conatiner, it does not work...

[2020-07-10 07:03] poornachandraFeb commented on #3075
I can understand.
But how about the Python vulnerabilities - Any plan to get it addressed ?

[2020-07-10 09:13] deevee opened #3081 "Hidden images affect fully loaded metric"
Hello, consider the following html:
[code]

Serve it and access it with your browser. In the network tab of your devtools you'll see that you only recorded one loaded image file (it's completely normal because the others are in a hidden element).

Now launch sitespeed on the url (no parameters used except `-n 1`) and you can see in the result waterfall that it also recorded the other images being

[2020-07-10 10:56] mikkeschiren commented on #3078
Doh!

You can't use _ in hostnames for docker containers... so if I set it to just graphite - it works - this should be added to the documentation I think - will do a pullrequest on the change later.

[2020-07-10 10:56] #3078 closed

[2020-07-10 11:27] mikkeschiren commented on #3078
#3082

[2020-07-10 14:30] vaibhavvashishtha opened #3084 "Documentation changes | Sitespeed Introduction"
The documentation needs fixing for spelling and grammatical errors. This issue is specific to the introduction page for sitespeed.io, i.e. https://www.sitespeed.io/documentation/sitespeed.io/introduction/

[2020-07-11 19:20] soulgalore commented on #3081
Hi @deevee yes you could be right. I looked at the code for Chrome and we stop the trace log collection before we run all JS metrics to collect data, but the HAR is generated from the "performance" events and maybe they aren't stopped? Can you test and verify that it works for you in Firefox (the handling of the HAR file is different there).

[2020-07-11 19:20] soulgalore commented on #3084
Thanks!

[2020-07-11 19:20] #3084 closed

[2020-07-11 20:35] soulgalore commented on #3081
Ah its probably the same thing in Firefox too.

[2020-07-12 08:21] deevee commented on #3081
Maybe I'm just lucky, but I haven't been able to reproduce the problem with Firefox.

[2020-07-18 23:47] nitsmrinal commented on #1464
Can you try docker run -v //c/Users:/tmp:/tmp -it ubuntu /bin/bash

[2020-07-19 19:22] soulgalore commented on #3042
This has been fix. Try out latest release.

[2020-07-19 19:22] #3042 closed

[2020-07-19 19:24] soulgalore commented on #3068
This is released, @bodtx can you let me know if it works for you?

[2020-07-19 19:25] soulgalore commented on #3072
This should work now without setting an empty Firefox config. I'll close the issue but please let me know if it still don't work for you.

[2020-07-19 19:25] #3072 closed

[2020-07-20 09:46] bodtx commented on #3068
yes working great thx.
But I have maybe missunderstood I have 3 scripts .js, I use --multi to run them
when running the scripts are launched in the same time in the log, the setup login sequence is executed  in multiple browsers:

[2020-07-20 09:32:59] INFO: Navigating to url https://dauth.xxxx iteration 1
[2020-07-20 09:33:08] INFO: Navigating to url https://dauth.xxxx iteration 1
[2020-07-20 09:

[2020-07-20 13:23] soulgalore commented on #3068
Hi @bodtx yes maybe the "multi" name isn't so good. Multi in this way means running multiple script after each other, not at the same time. I'll update the documentation so that is easier to understand.

[2020-07-20 13:27] bodtx commented on #3068
yes but if you look at the times in my previsou log it seems not to be the case, everything seems to be scrambles.
this log is done in the setup script of each .js file, so it should not be executed 3 at the same time, no?

INFO: Navigating to url https://dauth.xxxx iteration 1

[2020-07-20 15:52] soulgalore commented on #3068
I don't know, do you have a simplified use case I can test?

[2020-07-21 12:25] shaqb opened #3093 "No VisualMetrics when setting a ViewPort of 1920x1080 for specific website"
When running a test with the specific viewport (1920x1080), all of the visual metrics come back as 0ms. (see attached report). When I remove the viewport and run with the defaults I get visual metrics back with no issues. I get back lots of other metrics, so I assume it's just the visual metrics from the video that are being impacted.
I have tested with other websites and this doesn't seem to be a

[2020-07-21 14:30] TusAuto commented on #2941
@soulgalore : I am also facing same issue as mentioned above. In my case i have navigated to respective URL  [ able to measure page load time ] but on same page if i try to search in search bar and try to measure search time. Its giving me above error.

Does  "commands.measure.start " measure Page load time matrix only if certain action on UI navigate to new page only?  can we generate matrix once

[2020-07-21 20:22] georgejeffery opened #3094 "Can't connect to graphite host"
Hi there!

I'm trying to get my data into Graphite, and running into some trouble.

I'm running 2 Azure Linux VMs in the same resource group, so they should be able to see each other.

The private ip address for the graphite server is 10.0.0.5. I've tried using that as the host, and i've also tried 10.0.0.5/graphite and 10.0.0.5/[docker name]/graphite as well as the VM name (grafanaserver) and the

[2020-07-21 20:44] soulgalore commented on #3093
Hi @shaqb thanks for the great bug report! I get the same problem. Testing with the viewport for https://www.sitespeed.io then it works. I've had a quick look and it looks like Visual Metrics can't handle the video but there's no errors in the Visual Metric log. If I look at the original video (without cutting the video) everything looks ok. Let me look some more.

[2020-07-21 20:54] soulgalore commented on #3093
I could see that the `--orange ` flag for Visual Metrics seems to remove the frames so there's no left. Testing on the original file:
`./visualmetrics.py -i 1-original.mp4 --orange --force --json` gives only zeroes, removing orange and running  `./visualmetrics.py -i 1-original.mp4 --force --json ` at least gives metrics except that first visual change is wrong since it picks up the orange frame a

[2020-07-21 20:58] soulgalore commented on #2941
@TusAuto the measure command only measures page navigations (going from one page to another). If you want to measure other things, I've seen people adding a timer or using the User Timing API and then report it by adding it like https://www.sitespeed.io/documentation/sitespeed.io/scripting/#add-your-own-metrics

[2020-07-21 21:03] soulgalore commented on #2941
@cambiph can you add ``` --browsertime.chrome.collectPerfLog ``` to your run and share that new log? That is the trace log that is converted to the HAR, then I think I can see why new pages aren't picked up.

[2020-07-21 21:07] soulgalore commented on #3094
Hi @georgejeffery and no errors in the logs from sitespeed.io? You can try send data just by netcat to see that the machines can talk to each other. Checkout https://graphite.readthedocs.io/en/latest/feeding-carbon.html#the-plaintext-protocol . Send the data, log into the Graphite machine and check the file structure and see if the metric is created.

[2020-07-21 21:51] georgejeffery commented on #3094
Hi @soulgalore none that I can see! It renders the html, and then dies with exit code 0. I've tested`echo "test.bash.stats 42 `date +%s`" | nc -u 10.0.0.5 2003` and it's showing up in graphite/graphana.

[2020-07-21 22:02] soulgalore commented on #3094
Ok! Then you can verify that the data is really sent. You can do that by turning on verbose logging. Running on my local machine I tested it with` --graphite.host 127.0.0.1 -vvv --headless https://www.sitespeed.io -n 1` (-vvv is the magic) and then it logs where it will send the data and a lot of verbose entries where each metrics is logged, do you see that too when you try?

[code]

[2020-07-22 05:51] georgejeffery commented on #3094
OK! The last thing it does is render the HTML before dying. I can't see anything in the logs about sending data - before the html rendering is a bunch of json, and then my console runs out of space, so it could be before then?

[2020-07-22 09:23] shaqb commented on #3093
Thanks for the quick turnaround in checking this @soulgalore! Let me know if you need me to run anymore tests.

[2020-07-22 09:50] mploquin opened #3096 "Graphite annotations do not appear"
Hi,

I don't see Graphite annotation in Grafana panel when I run my docker image of sitespeed.

I defined the `resultBaseURL` and `graphite.auth` options but nothing is displayed in Grafana and nothing in the logs about sending annotations in Graphite..

But when I manually add an event annotation in Graphite, it works good and I see it in Grafana.

There is something special to do ?

[2020-07-22 10:12] georgejeffery commented on #3094
Looks like I managed to fix it! Thanks for your help!

[2020-07-22 10:12] #3094 closed

[2020-07-22 10:50] shaqb opened #3097 "How to get --groupAlias and urlAlias in a file to work together"
Hi there, I currently have a file with 3 urls in it that I am testing against my site, of which I am using a urlAlias in the file. This is setup as below (called sitespeedio_urls.txt)

https://www.dae.mn home
https://www.dae.mn/about-us/ about-us
https://www.dae.mn/our-approach/ our-approach

Our domain name is www.dae.mn, but our company name is Daemon. We're using the Grafana boards where the do

[2020-07-22 15:52] grantyoung opened #3098 "Long SSL handshakes in SiteSpeed Docker?"
Hey. I'm seeing really long SSL handshake times with the SiteSpeed docker (`14.1.0`) that I don't think should be happening (around 500ms):

![Screenshot 2020-07-22 at 16 53 46](https://user-images.githubusercontent.com/52497556/88198756-eed08080-cc3b-11ea-8f7d-571ddb0d53a9.png)

[WebPageTest for the same page](https://www.webpagetest.org/result/200722_BG_7aa25a66b9c200d4bf1f54477629776c/1/details

[2020-07-22 19:32] soulgalore commented on #3093
Thanks, no I need to look into it, I have a original video with the full web site and can reproduce with Visual Metrics and need to find the time to look into the problem. I'm away this week but can hopefully fix it next week.

[2020-07-22 19:34] shaqb commented on #3093
Ah no worries! Enjoy your vacation!

[2020-07-22 19:36] soulgalore commented on #3096
Hi @mploquin no I think that should be enough. Can you try adding a annotation using curl (https://graphite.readthedocs.io/en/latest/events.html#adding-events) from the server (or did you already do that or added an annotation through the GUI in Grafana?).

[2020-07-22 19:43] soulgalore commented on #3097
Hi @shaqb I think its unclear in the documentation. At the moment you need to pass on the same amount groupAlias as URLs. The reason is that the first use case was testing like ten different web sites (one URL web site), and giving the all different group alias. I think it would work if you add three --groupAlias (or preferable a config.json file with an array with three group alias). I understand

[2020-07-23 08:23] shaqb commented on #3097
Thanks @soulgalore. That's much appreciated. I did try with the three --groupAlias whilst driving the urls from a file and it still didn't seem to pick up the alias. I'll try pushing them into the json config too.

[2020-07-23 13:03] grantyoung commented on #3098
After some digging this looks to be due to us using [WebPlayReplay](https://www.sitespeed.io/documentation/sitespeed.io/webpagereplay/).

From reading [it's docs](https://github.com/catapult-project/catapult/blob/master/web_page_replay_go/README.md#optional-installing-test-root-ca) it's using a self signed cert for replaying and I wondered if that was slowing down Chrome. Indeed this appears to be

[2020-07-23 13:03] #3098 closed

[2020-07-23 19:27] soulgalore commented on #3097
Ok, hmm then it seems to not work, let me have a look in a couple of days.

[2020-07-24 01:19] lbilhaut opened #3099 "No unit for the slack summary"
This is not a bug, but as a physicist at heart, it makes me sad that the Slack report doesn't have any unit in it. I've made the change to the file on my personal repo, [here is the commit](https://github.com/lbilhaut/sitespeed.io/commit/c3fc35d1b492ecd3a687ea5c83ce329419d23161). Is it ok if I open a PR with it? (I've never made a contribution to an open source project before so I'm walking on egg

[2020-07-24 09:54] georgejeffery opened #3100 "S3 NetworkingError: self signed certificate"
Hi!

So, I'm trying to run sitespeed.io on Azure.

Everything's going great so far, apart from one thing:

I've got an s3 proxy running so I can send the data to an azure blob rather than S3, The proxy routes through https, but without TLS and with a self-signed certificate. The proxy is working great through S3 explorer (meaning I can access the blob as if it's s3), but when I try to send data th

[2020-07-24 14:07] #3100 closed

[2020-07-24 14:11] soulgalore commented on #3099
Hi @lbilhaut looks good! After we added support for Slack we also introduced a way to format metrics in ms see https://github.com/sitespeedio/sitespeed.io/blob/main/lib/support/helpers/time.js#L36-L43 I think we also could use that there, so each metric just have a format function?

But you could do a PR first with what you done (just move the space from " ms" and have that once where you combine

[2020-07-24 14:11] soulgalore commented on #3100
Did you get it to work?

[2020-07-24 14:26] georgejeffery commented on #3100
Yeah - I managed to get it working with an `env` flag. But then I ran into issues with the `region` which the S3 proxy didn't have. Managed to fix that though!

I had to do the following, for reference

Added to `docker run`

`-e "NODE_TLS_REJECT_UNAUTHORIZED=0"` **< disables Certificate checking in Node**

In `config.json`

"s3": {
        "endpoint": "[ip]",
        "key": "[key]",
        "buck

[2020-07-24 14:44] mploquin commented on #3096
Yes it works using curl and with the gui in Grafana..
I think it's a problem with my corporate proxy not at all with sitespeed.
Sorry

[2020-07-24 14:44] #3096 closed

[2020-07-24 17:28] moud97 opened #3103 "Script is failing due to undefined jquery param"
I am currently trying to execute this part of my script

[code]

This returns the following error
[code]
Noting that the third measure statement is measuring clicking a button that lives in the page that the second measure statement is measuring. The button navigates to a different page and the URLs of these pages are different though so I dont believe it has to do with similar URLs. The error is

[2020-07-24 18:41] lbilhaut commented on #3099
@soulgalore  Great, thanks! The latest option sounds definitively the best path!
I've pushed my changes but I'm still having an issue with the build for Linux browsers. This is not my OS so I'm not familiar with it. I'm wondering if it's because the API key is not valid for CruX (in that case, how to fix it?) or if it's because now, it expects a space between the number and the unit.

[2020-07-24 20:21] nadiabodnarchuk opened #3104 "Ajax requests measuring"
Hi @soulgalore,
can you please assist me with the following question?

In my scenario I need to click a link on the page and this click triggers ajax requests sending and as a result pop up appears.
What confuses me is that I don't see opened pop up on the video: script just navigates to Page 1, not openes pop up, and then navigates to Page 2.

Here is my script:
[code]

Here is how I start sitesp

[2020-07-24 20:25] soulgalore commented on #3103
Hi @moud97 thank you for creating the report! I looked at the code in the Coach and it looks like it could be that the page is overriding the window object, could that be the case? If so, can you share the URL and I can try to fix it in the coach.

[2020-07-24 20:44] soulgalore commented on #3104
Hi @nadiabodnarchuk hard to say, with a quick look I think your code look ok, can you share the URLs so I can test? That makes it easier to understand what's going on.

[2020-07-24 21:11] moud97 commented on #3103
I unfortunately am unable to share the URL as it’s within an internal region for my company and requires credentials. Is there any alternative approach that would help you resolve it without having the URL? And I’m not sure, I’ve been stumped for a couple days now.

[2020-07-26 10:52] nadiabodnarchuk commented on #3104
@soulgalore thanks for the answer!
Unfortunately script requires authentication to navigate to tested URLs :( Is there any other way I can help you to understand what's going on?

I thought the problem was that Sitespeed does not measure ajax requests, only navigations. This is very my situation: after click on link to open pop up actual navigation is not happening.

But I thought at least I would

[2020-07-26 12:47] nadiabodnarchuk commented on #3104
The second problem I have faced within this script is that after log in gray page is viewed instead of navigation to the needed page:
![2020-07-26_15-34-31](https://user-images.githubusercontent.com/47209933/88479209-1bdfa480-cf56-11ea-9304-2d1d2fb9ec57.jpg)

To log in I use separate file as preScript:
[code]
Then main script run:
[code]

Really don't know where the problem can lie :(

[2020-07-26 20:21] nadiabodnarchuk commented on #3104
Okay, I solved first problem by using Selenium. This works properly for me:
[code]

[2020-07-27 13:08] Icecold777 opened #3106 "CrUX plugin doesn't send metric name for origin"
Hello,
sitespeed.io version 14.1.0
influxdb 1.7.7

I use InfluxDB as data storage.
As I see CrUX plugin doesn't send metric name tag while fetching data for domain origin.
![image](https://user-images.githubusercontent.com/10085700/88544586-4c8d1000-d022-11ea-9c75-ee9a0b7bec8e.png)

url data seems valid
![image](https://user-images.githubusercontent.com/10085700/88545002-08e6d600-d023-11ea-95cb-ed

[2020-07-27 15:58] bobstrecansky opened #3107 "blockDomainsExcept doesn't appear to apply correctly"
I've attempted to apply the `blockDomainsExcept` flag in my sitespeed executions.  I'm trying to get the result of just loading all the base domain.   I still see all of the other 3rd party results being loaded.

- Exact how you run (the exact parameters)

`docker run --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io:14.1.0 https://homedepot.com '--blockDomainsExcept homedepot.com'`

- Which

[2020-07-27 16:13] nadiabodnarchuk commented on #3104
@soulgalore  After more deep investigation of second issue (gray page is viewed after log in),
I figured out that this connected with necessity to set up local timezone (Europe/Minsk on Sitespeed docker container (we have already faced with this issue when run autotests through Jenkins and bash script with timezone setup helped).

I also figured out that Sitespeed docker container has UTC timezone

[2020-07-27 20:00] shaqb commented on #3097
Nice one @soulgalore - I hope you enjoyed your vacation!

[2020-07-28 01:27] rashnakumar96 opened #3108 "Sitespeed.io's CLI command stopped working"
Sitespeed.io's CLI command stopped working. This command was working a few hours ago but just stopped working. I installed site speed.io on Mac using the command "yarn global add sitespeed.io" and when I run it using the command sitespeed.io https://www.sitespeed.io/. It gives the error:

ERROR: Could not setup the Chrome Devtools Protocol Error: socket hang up
    at connResetException (internal/

[2020-07-28 05:17] soulgalore commented on #3108
Hi @rashnakumar96 strange. Can you try to restart your computer (if something is running on the port that devtools are using)?

[2020-07-28 05:23] soulgalore commented on #3107
Hi @bobstrecansky thanks for creating the issue. I had a go and got the same, I wonder if the flag we are using in Chrome changed or if there's a bug in how we set it up ("it used to work"). I have a look tonight.

[2020-07-28 05:28] soulgalore commented on #3104
Hi @nadiabodnarchuk sorry I don't have Windows, have searched at the forums at Docker? https://forums.docker.com

[2020-07-28 05:41] soulgalore commented on #3107
Hi @bobstrecansky I think the cli conversion to Browsertime doesn't work correctly. If I run like this:

`docker run --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io:14.1.0 https://www.homedepot.com --browsertime.chrome.blockDomainsExcept "*.homedepot.com"
-n 1` (see the extra _browsertime.chrome._ it works for me).

I'll check what's going on.

[2020-07-28 07:06] #3108 closed

[2020-07-28 12:03] bobstrecansky commented on #3107
@soulgalore - sounds good.  Your fix will work fine for my use case in the interim I think!

[2020-07-28 14:14] soulgalore commented on #3107
Ah I checked the docs (https://www.sitespeed.io/documentation/sitespeed.io/thirdparty/#block-all-3rd-parties and tested) the correct way is `--chrome.blockDomainsExcept`. Could it be that there's somewhere else in the documentation that miss out on specifying Chrome?

[2020-07-29 08:58] Icecold777 commented on #3106
Also fetching only ORIGIN has an issue.
![image](https://user-images.githubusercontent.com/10085700/88779625-a3b1f280-d192-11ea-85a7-9004b0014353.png)

[2020-07-29 13:06] bobstrecansky commented on #3107
I definitely copied that from somewhere in the documentation, but I can't remember exactly where.  This issue should suffice if someone comes along the same problem.  I think we can close this?

[2020-07-29 13:08] #3107 closed

[2020-07-29 17:39] soulgalore commented on #3106
Hi @Icecold777 sorry missed to answer this. InfluxDB only takes care of pageSummary messages at the moment (= data for a specific URL and not for a origin). To get this to work on InfluxDb we need to fix/change that.

[2020-07-30 01:38] LuisOsv opened #3110 "Cannot get the metrics when using Google Chrome and added the measure commands start/stop for specific section in the script"
Hi all,

I have the following script, and I want to measure how much time it takes to show the context menu with the desired text.

[code]

And I'm using the following comand to run on docker container:
` docker run --rm -v ${pwd}:/sitespeed.io sitespeedio/sitespeed.io /sitespeed.io/Wikipedia.js -b chrome --multi -n 1`

Then I got the error message:
[code]

However, running for Firefox it works fi

[2020-07-31 09:17] grantyoung opened #3111 "Attempting to configure pageSummaryMetrics results in duplicate entries?"
[While trying to configure what metrics are shown on the Page Metrics page](https://www.sitespeed.io/documentation/sitespeed.io/configure-html/) it resulted in some entries still remaining leading to duplicate entries:

![Screenshot 2020-07-31 at 10 16 29](https://user-images.githubusercontent.com/52497556/89020495-eac8f080-d316-11ea-88fc-dbc0cc0c6b09.png)

Config used (in json, `14.2.1`):

[code]

[2020-07-31 14:14] soulgalore commented on #3111
I can reproduce it with:

`docker run --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io https://www.sitespeed.io/ -n 1 --config config.json`

I think somewhere in the code we add some Visual Metrics independently if the use chose them or not.

[2020-07-31 20:43] soulgalore commented on #3111
I released the fix in 14.2.3, let me know if it works for you now!

[2020-08-01 19:33] soulgalore commented on #3110
Hi @LuisOsv sorry for the late answer and thanks for taking the time to rewrite your problem with a public URL.

I'm does it really work on Firefox or is it just an error for Chrome? I think when you want to measure something else than a navigation, you need choose what metric to focus on. I think in this case, the only visual metric that could pickup when you add things to the page is LastVisualC

[2020-08-05 08:39] bodtx commented on #3068
ok sorry for the delay
the cli:
`docker run --rm -v "${PWD}:/sitespeed.io" xxxxx/sitespeedio/sitespeed.io:14.1.0  -n 1 iteration1.js iteration2.js --multi`

the two files
[performance.zip](https://github.com/sitespeedio/sitespeed.io/files/5027153/performance.zip)

we can see in the log that the execution is not sequential

[2020-08-06 06:49] rashnakumar96 opened #3114 "Configure number of retries in case of failing to load"
There are some urls/resources in my test data that just download a file. When I test those urls with site speed.io, it gives the error:
"failed to load, the browser are still on data:text/html;charset=utf-8,<html><body></body></html> , trying 5 more time(s) but first wait for 10000 ms.
failed to load, the browser are still on data:text/html;charset=utf-8,<html><body></body></html> , trying 4 more

[2020-08-06 07:32] cambiph commented on #2941
Hi @soulgalore , sorry for the late reply. I added `--browsertime.chrome.collectPerfLog` and performed a run.
However, I cannot find the perflog, so maybe that's the problem?
I zipped the complete testrun with verbosity and zipped it so you can hopefully find out what's going wrong.
[result.zip](https://github.com/sitespeedio/sitespeed.io/files/5033238/result.zip)

[2020-08-06 08:33] jonyt opened #3115 "Metrics are incorrect"
When I look at the results of a run for a single page the metrics are incorrect. For example total transfer size is listed as 30.8kb but when I look at Chrome dev tools it's 2.4M, sitespeed says 5 requests, Chrome says 34. I also see the JS/CSS/images transfer size listed as 0 bytes. I'm assuming I missed something in configuring sitespeed but any idea on what it could be?

Here's the command I ru

[2020-08-06 20:55] soulgalore commented on #3115
Hi @jonyt can you help me how I should do to reproduce it, see https://www.sitespeed.io/documentation/sitespeed.io/bug-report/#explain-how-to-reproduce-your-issue ?

[2020-08-07 12:40] soulgalore commented on #3114
Yes you can use  `--browsertime.retries`  to set the number of retries  and `--browsertime.retryWaitTime ` to set the wait time between retries.

[2020-08-07 13:44] shaqb commented on #3093
Hi @soulgalore - did you have a nice vacation? I was wondering if you'd have a chance to look further into this issue? Thanks!

[2020-08-07 14:42] poornachandraFeb opened #3116 "Influx npm package vulnerability identified by NexusIQ - No alternate version available as non vulnerable"
Hi Team,

We are trying to use the npm version of Sitespeed.io package and we notice that one of the dependency - influxdb : 5.5.2 version is vulnerable and there is no alternate version which is safe to use as analysed by the NexusIQ.

Please see the details:
SONATYPE-2020-0509

Explanation
The influx package is vulnerable to SQL Injection. The escape function in escape.js incorrectly sanitizes t

[2020-08-07 19:44] soulgalore commented on #3093
Sorry I haven't get around to check yet.

[2020-08-07 19:58] soulgalore commented on #3116
Hi @poornachandraFeb check with the upstream project.

[2020-08-08 18:41] soulgalore commented on #3093
So I know what's causing this. A long time ago I increased the limit on how many pixels that needs to be the same to be the same color. The web site is partly orange and we use an orange color to know when the browser starts to navigate (we add a orange color on the screen and then remove it when the browser starts to navigate). With the current settings, Visual Metrics thinks the orange never goe

[2020-08-10 06:59] shaqb commented on #3093
That’s an awesome find @soulgalore. Thanks very much for exploring this!

[2020-08-10 14:36] jonyt commented on #3115
It's an internal site, so impossible to reproduce by someone not from my company. But I'm attaching my script (below), log and an example video (attached) from a run. The script is running on Amazon Linux 2 with the latest sitespeed docker-compose.yml and the sitespeed Docker image is sitespeedio/sitespeed.io:13.3.2. As I said I'm almost certain it's a configuration issue because I ran the same co

[2020-08-10 15:56] bkarlson commented on #2993
Had same error message on Ubuntu 20.04 with yarn install of sitespeed.io (no Docker). Culprit was missing python libs, to install:

[code]

Everything runs smooth after that.

[2020-08-10 20:48] LukaszTutur opened #3117 "TypeError: Cannot read property 'name' of undefined"
I am getting 'TypeError: Cannot read property 'name' of undefined' error while testing some intranet pages (running some simple script).

More information:
- The error started to occur in version 14.2.3 for chrome only, if test is ran with --browser firefox, it works OK
- When error occurs there is no log file produced, /logs/ directory is empty, this is why I can not send a log file :(
- The vide

[2020-08-11 00:29] petemyron opened #3118 "[feature request] append User-Agent string, not just replace"
I would like to be able to append a string to the UA string without having to stay in sync with browser versions.

I get that `--browsertime.userAgent`, `--userAgent` allow this to be overridden, but I have site owners that are wanting to ignore my generated traffic from their reporting/metrics (a reasonable request). This would allow them to easily filter my traffic.

I would suggest, `--browsert

[2020-08-12 08:48] poornachandraFeb opened #3119 "Ways to run test using NodeJS"
Hi Team,

Can you assist in the different ways to run the test webpage using sitespeed.io NodeJS  package.
When we install the package using packge.json file we are unable to find the option to run the test.

But when we install through - npm install sitespeed.io we can run through

..sitespeedio\node_modules\sitespeed.io\bin>node sitespeed.js www.google.com

The above option will not be available

[2020-08-12 08:51] poornachandraFeb commented on #3119
[package.txt](https://github.com/sitespeedio/sitespeed.io/files/5061596/package.txt)

This was the package.json used to install the sitespeed.io

[2020-08-12 09:30] grantyoung commented on #3111
Apologies for the delay in getting back to you. The issue is now indeed fixed! Many thanks!

[2020-08-12 09:48] #3111 closed

[2020-08-12 09:49] fxbtr opened #3121 "CPU time by ressource to graphite"
Hi,

Is there a way we can push to graphite the data visible here :
![image](https://user-images.githubusercontent.com/41640867/90001441-ba2b7400-dc91-11ea-950e-0935c1aaba2e.png)

I.e. cpu time spent by .js

I know we can do something similar with pagexray with the following filters :
[code]

Thank you
Best regards

[2020-08-12 10:44] fxbtr opened #3122 "Chrome Emulated Mobile : issues with screenshots, filmstrip visible in the html report"
Hi,

When running the following command :

[code]
It's pretty vanilla, I am not setting a specific aspect ratio or anything.
I get the following output in my html folder : scrollbars in screenshots, and a weird viewport, the website appears to be cropped.

![image](https://user-images.githubusercontent.com/41640867/90004811-93237100-dc96-11ea-82e4-e755cd203ea9.png)
![image](https://user-images.git

[2020-08-12 15:01] apache23 opened #3120 "docker uses root user"
# Docker as non root user #

In most kubernetes cluster, working with docker images that use root user are forbidden and rejected. I tried to create another Dockerfile and create a user, but the sitespeed.io command inside the docker doesn't work properly. Do you have a solution for not running docker as root?

[2020-08-12 17:05] LuisOsv commented on #3110
@soulgalore  Ok thanks for the response, and yes I think is better to have a good example about to include custom metrics, include specific elements in visual elements.

[2020-08-12 18:29] soulgalore commented on #3122
Hi @fxbtr thanks for creating the issue. My guess is that something changed in Chrome between 83 and 84 that I've missed, it looks like emulation fails (with the scroll bars), let me have a look the coming days.

[2020-08-12 18:42] soulgalore commented on #3122
I need to try it out tio see the config needed. I use https://www.sitespeed.io/documentation/sitespeed.io/configure-metrics/#list-configured-metrics to do that.

I try to avoid sending data per asset to Graphite since it will take a lot of disk space if the URLs change see https://www.sitespeed.io/documentation/sitespeed.io/graphite/#configure-graphite. Away to "fix" that is to setup rules to keep

[2020-08-12 18:44] soulgalore commented on #3120
Isn't the current user working? https://github.com/sitespeedio/sitespeed.io/blob/main/docker/scripts/start.sh#L31-L42

[2020-08-12 18:59] soulgalore commented on #3122
It seems like it works on OS X but Chrome 84 in Docker gets the scroll list. I tried with 83 in Docker and could see that it works. I briefly looked in the Chromedriver/Chrome bug tracker but couldn't find anything. I'll create an upstream bug when I looked some more, hopefully early next week.

[2020-08-13 11:11] Icecold777 opened #3123 "JavaScript heap out of memory during script execution"
Hello,
I'm trying to run script with the following command.

docker run --name script --network $net  --rm -v "$(pwd)":/sitespeed.io -p 8980:5900 sitespeedio/sitespeed.io:12.4.0 /sitespeed.io/scripts/$script --multi --resultBaseURL  http://127.0.0.1:8180/ -c $net --html.showAllWaterfallSummary true -n 10 --cpu true --spa true

but execution fails somewhere in the middle of scenario.
Please advise

[2020-08-13 12:51] soulgalore commented on #3123
Hi @Icecold777 checkout https://www.sitespeed.io/documentation/sitespeed.io/docker/#increase-memory

[2020-08-13 21:14] fxbtr commented on #3122
Hi @soulgalore as always thanks for taking the time.

[2020-08-13 21:32] fxbtr commented on #3121
This is @soulgalore's reply from here https://github.com/sitespeedio/sitespeed.io/issues/3122#issuecomment-673044310

I will check again I think I went too far too quickly by trying to insert a wildcard to filter only a few assets.

But even before that, I am not even sure where these CPU metrics by asset are stored in Graphite. If I can send all data from one asset I will be able to compare the v

[2020-08-13 22:10] Icecold777 commented on #3123
Thank you, @soulgalore

[2020-08-13 22:10] #3123 closed

[2020-08-13 22:34] soulgalore commented on #3122
Made a quick check for the coming Chrome 85 and its the same problem there. Let me dig deeper.

[2020-08-14 06:02] Icecold777 commented on #3106
As workaround it's possible to use InfluxDB built-in Graphite Protocol support. https://docs.influxdata.com/influxdb/v1.8/supported_protocols/graphite/

The only thing you need is to enable it in influxdb configs, bind address and define parsing template.

[[graphite]]
   enabled = true
   database = "sitespeedCrUX"
   retention-policy = ""
   bind-address = ":2003"
   protocol = "tcp"
   batch-si

[2020-08-14 08:08] apache23 commented on #3120
Thank you for your answer, the user sitespeedio is created within the groupid 0 and same as root (script start.sh), and then the chroot command is used (that can be executed just by root) to execute sitespeed.js command. I made some simple tests inside the docker:

- As root, I executed /usr/src/app/bin/sitespeed.js https://www.google.com --> Works OK
- As user sitespeedio(created by the script st

[2020-08-16 19:29] soulgalore commented on #3120
Aha I see. I need to test to find out.

[2020-08-17 02:42] #3114 closed

[2020-08-17 08:05] soulgalore opened #3126 "Get Crux data for only origin generate error logs"
Getting metrics for different Wikimedia sites generates errors like this in the log (using `--crux.collect ORIGIN `).

`[2020-08-17 08:01:03] ERROR: Metricsfilter: The loadingExperience is missing from the metrics loadingExperience.*.FIRST_CONTENTFUL_PAINT_MS.*,loadingExperience.*.FIRST_INPUT_DELAY_MS.*,loadingExperience.*.LARGEST_CONTENTFUL_PAINT_MS.*,loadingExperience.*.CUMULATIVE_LAYOUT_SHIFT_S

[2020-08-17 14:13] shaqb opened #3127 "Inconsistencies in the Summary view timings of the test reports"
When running a test against a page we're getting a successful response on the first iteration and we get a 403 on the second and third (which we're in the process of resolving).
However when I look at the summary report page for the report, I can see some of the metrics refer to the 1st run and some refer to the 2nd run.
For example on the summary page, the Total Page Transfer Size is 3.1MB, which

[2020-08-17 14:19] shaqb opened #3128 "Cannot read property 'name' of undefined occurring on Chrome on 14.2.3 but not 14.2.1"
When I'm running a test docker run --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io:14.2.3 https://www.ryanair.com --browsertime.connectivity.engine tsproxy --browsertime.connectivity.profile cable I get the following error:

[code]

However when I roll back to version 14.2.1 I do not see this issue. I also don't see this on Firefox on 14.2.3. Looking at the release notes, it appears there

[2020-08-17 17:26] soulgalore commented on #3128
Hi @shaqb thanks for creating the issue. There was [a fix](https://github.com/sitespeedio/chrome-har/pull/73/files)  in Chrome-HAR that I think solves that issue (introduced a version earlier), I'm gonna push a new sitespeed.io release tomorrow where that's included.

If you have time to try out the unreleased version (use `sitespeedio/sitespeed.io-autobuild`) then you can help me verify that it w

[2020-08-17 17:35] soulgalore commented on #3127
Hi @shaqb I think on the summary page medians per metric is used, that's why you see that. I think we should change the default behaviour and if the main page returns a response code  > 399 then it shouldn't be included in the result.

[2020-08-17 18:43] shaqb commented on #3128
Hi @soulgalore - just gave it a whirl with the unreleased version and it's back to working perfectly. Nice job!

[2020-08-17 18:47] shaqb commented on #3127
Ah that would be a nice feature. We're currently looking for error status codes and stripping those from our reporting.

[2020-08-18 01:58] rashnakumar96 opened #3129 "Run sitespeed.io from a go application running on a docker"
I have been trying to use docker command for sitespeed.io inside a golang
application which I build and run through a dockerfile. The command is : "cmd := exec.Command("docker","run", "--rm", "-v", "$(pwd):/sitespeed.io", "sitespeedio/sitespeed.io", url)" and the dockerfile looks like this:

FROM golang:1.15
ENV PORT=9000
RUN mkdir -p /app
WORKDIR /app
ADD . /app
ENV GOPATH=/app
RUN go generate
CM

[2020-08-18 08:45] soulgalore commented on #3128
Great, thanks for testing! I've just pushed that in 14.3.0.

[2020-08-18 08:49] soulgalore commented on #3129
Hi @rashnakumar96 I think that means that your go application can't find the docker command in the path, checkout out the docs for go how to do that.

[2020-08-18 10:10] soulgalore commented on #3122
I created an issue for Chromedriver, lets see if they can help out: https://bugs.chromium.org/p/chromedriver/issues/detail?id=3576

[2020-08-19 09:48] #3128 closed

[2020-08-19 15:14] flyisland opened #3131 "Is it possible to take a full page screenshot?"
I searched the help but could not find related config to take a full-page screenshot.

I've tried the "--viewPort 1366x13660" but the screenshot covers the screen only.

Is it possible to take a full-page (scroll to the end) screenshot?

[2020-08-20 02:27] flyisland opened #3132 "How to include the "_error" in the HAR file?"
Hi, my targeted website includes some pictures that are blocked by the firewall, so that there some errors like `"_error": "net::ERR_TIMED_OUT"` or `"_error": "net::ERR_CONNECTION_RESET"` in the HAR file generated by the Chrome DevTools.

But I can not find any such errors in the HAR file generated by the sitespeed.io on the same website pages while there is this error:

Is it possible to ask the

[2020-08-20 08:37] dejwid commented on #3117
I have the same problem with some websites on my macos

[code]

[2020-08-20 09:32] soulgalore commented on #3117
@dejwid upgrade to 14.3.0 and I think it will work, checkout https://github.com/sitespeedio/sitespeed.io/issues/3128

[2020-08-20 19:46] LukaszTutur commented on #3117
yeap, tested on 14.3.0 and it looks OK now

[2020-08-20 19:46] #3117 closed

[2020-08-24 02:02] flyisland commented on #3132
Hi @soulgalore, I've created an issue on [chrome-har](https://github.com/sitespeedio/chrome-har/issues/74), please check it, thanks!

[2020-08-24 08:40] soulgalore commented on #3126
Fixed and released.

[2020-08-24 08:40] #3126 closed

[2020-08-24 08:43] soulgalore commented on #3122
This is fixed in Browsertime and I'm releasing it later today. The problem was not upstream, it was a miss on how we set emulation, however it seems to be ok until a Chrome release ago.

[2020-08-27 14:19] Icecold777 opened #3136 "no video recorded during scripted user journey"
Hello,

docker command
sudo docker run --network $net  --rm -v "$(pwd)":/sitespeed.io -p 8980:5900  sitespeedio/sitespeed.io:12.3.1 /sitespeed.io/scripts/$script --multi -c $net --html.showAllWaterfallSummary true -n 1--cpu true --video true

Script has 8 steps. One of them doesn't have recorded video neither in html report nor in results folder.
But all visual metrics are collected.

Debug logs s

[2020-08-28 05:42] soulgalore commented on #3136
Hi @Icecold777 I don't know, I need to be able to reproduce to try to understand.

[2020-08-28 13:36] umeshPathak opened #3137 "Har with Content"
How to create the HAR with Contents ?

[2020-08-28 18:59] soulgalore commented on #3137
For Firefox use `--browsertime.firefox.includeResponseBodies all `and for Chrome `--browsertime.chrome.includeResponseBodies all` see https://www.sitespeed.io/documentation/sitespeed.io/configuration/#the-options

[2020-08-31 07:20] umeshPathak commented on #3137
I tried this for chrome, but response -> content -> text is missing. see the attached screenshot

![btime](https://user-images.githubusercontent.com/17564142/91693365-8ce32f00-eb88-11ea-8eb1-a0437bc09f77.JPG)

[2020-08-31 07:24] umeshPathak commented on #3137
I tried with below command
browsertime --browsertime.chrome.includeResponseBodies choices:all https://www.infosys.com

[2020-08-31 07:28] umeshPathak commented on #3137
It worked :) I tried with browsertime https://www.infosys.com --chrome.includeResponseBodies all

[2020-08-31 07:28] #3137 closed

[2020-09-01 06:11] pan-alexey opened #3138 "Error run with scripts and set aliases in cli"
command for example
```docker run --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io -n 1 --verbose --multi --config app/config.json "scripts/beruPdp.js"```

Code in **config.json**
[code]

code in **beruPdp.js**

[code]

This works without `urlAlias`

[2020-09-02 12:36] zoujuanstefjay opened #3140 "Run 2 pages but only get 1 page browertime.har result for the report"
INFO: Versions OS: darwin 17.7.0 nodejs: v12.18.3 sitespeed.io: 14.4.0 browsertime: 9.4.0 coach: 5.1.1
using chrome version: 85.0.4183.83
postscript as below:
![image](https://user-images.githubusercontent.com/41933556/91981422-69bca900-ed5b-11ea-9c93-2e81517ba1f5.png)

result is good as below:
![image](https://user-images.githubusercontent.com/41933556/91981610-adafae00-ed5b-11ea-89d6-a714163e320

[2020-09-03 12:37] umeshPathak opened #3141 "npm installation error in Linux"
I  have got attached error on the Linux box after I execute npm install browsertime -g command
![npm](https://user-images.githubusercontent.com/17564142/92115639-5e778500-ee10-11ea-9ef1-1ce4ece48f69.JPG)

[2020-09-03 13:10] soulgalore commented on #3141
This looks like a dir owner issue on your machine. Check if your user (that runs the install command) has correct permissions where your global NodeJs code is installed.

[2020-09-04 11:08] umeshPathak commented on #3141
Ok. I overcome this issue. But a new one popped up.   when I executed  **browsertime https://www.infosys.com  --iterations 1 --headless --browser firefox  --firefox.includeResponseBodies all**

 _The specified executable path does not exist: /usr/local/lib/node_modules/browsertime/node_modules/@sitespeed.io/geckodriver/vendor/geckodriver_

How to manually install geckodriver ?

[2020-09-05 15:36] zoujuanstefjay commented on #3140
![image](https://user-images.githubusercontent.com/41933556/92308415-f53e7000-efcf-11ea-8c1a-80635551df03.png)
missing 1 har file in one of the 2 pages

[2020-09-08 14:10] TheDreaMzZ77 opened #3143 "How to access and change storage-schemas.conf & storage-aggregation.conf"
Hello everyone !

I would like to know how to access and change the settings for storage-schemas.conf and storage-aggregation.conf.

I'm trying to change the settings to be able to keep the data for 1 year but I don't know how to change them.

[2020-09-08 18:09] zzhao2010 opened #3144 "Install sitespeed.io along with Grafana & Graphite on Ubuntu"
Hi,
I was trying to install sitespeed.io along with Grafana & Graphite on Ubuntu. However I didn't see data reporting to Grafana.
Below is what I did based on the doc. My Ubuntu VM is running on Azure.

1. curl -O https://raw.githubusercontent.com/sitespeedio/sitespeed.io/main/docker/docker-compose.yml
2. docker-compose up -d

root@sitespeedvm0:~# docker ps
CONTAINER ID        IMAGE

[2020-09-08 19:03] soulgalore commented on #3143
Hi @TheDreaMzZ77 do you run the sitespeedio/graphite Docker container? Then you can checkout https://github.com/sitespeedio/sitespeed.io/blob/main/docker/docker-compose.yml#L30-L41 and the docs https://www.sitespeed.io/documentation/sitespeed.io/graphite/#configure-graphite

Also these docs are good: https://github.com/statsd/statsd/blob/master/docs/graphite.md

[2020-09-08 19:07] soulgalore commented on #3144
Hi @zzhao2010 here's some docs on how to access localhost in Docker:https://www.sitespeed.io/documentation/sitespeed.io/docker/#access-localhost

In your case I think you should use` --network=host  --graphite.host=localhost` (if you run sitespeed.io on the same server as Graphite).

[2020-09-08 19:19] zzhao2010 commented on #3144
Hi @soulgalore,
I see some datapoint in Page Summary dashboard. However I still didn't see data coming in on other dashboards like page timing one.

[2020-09-09 08:52] TheDreaMzZ77 commented on #3143
I didn't see that there were some changes to be made in docker-compose.yml... (https://github.com/sitespeedio/sitespeed.io/blob/main/docker/docker-compose.yml#L30-L41)

Thank you I think my problem is solved!

[2020-09-09 08:52] #3143 closed

[2020-09-09 09:27] TheDreaMzZ77 opened #3145 "How to change the metrics ?"
Hi !

I would like to change the metrics that are displayed in localhost in grafana do I need the dashboard.sitespeed.io folder?
I don't know which command to make or where the document is located and what to put in this document ...
Then I would like to display it in the leaderboard of grafana

[2020-09-09 14:52] TheDreaMzZ77 commented on #3145
For exemple i would like to add the "Cumulative Layout Shift"
https://web.dev/optimize-cls/

[2020-09-09 17:57] soulgalore commented on #3145
Hi @TheDreaMzZ77 https://grafana.com/tutorials/ have tutorials on how to create graphs. If sitespeed.io collects metric but don't send them to Graphite, you can configure it: https://www.sitespeed.io/documentation/sitespeed.io/configure-metrics/

For CLS you can see that in the dashboard https://dashboard.sitespeed.io/d/000000043/page-summary?orgId=1 (for browsers that supports it), scroll down to

[2020-09-10 10:12] TheDreaMzZ77 commented on #3145
How do I know which line corresponds to which metrics?
Let's take my example, I want to add the "Cumulative Layout Shift", let's imagine that I have to add the metrics as said here (https://www.sitespeed.io/documentation/sitespeed.io/configure-metrics/#add-a-metric)
what are the lines to import and paste in the config.json?
And how do I know this for the next data I want to add?

[2020-09-15 09:05] cambiph commented on #2941
@soulgalore your thoughts?

[2020-09-15 14:59] Namac0 opened #3147 "What is the metric of Total Blocking Time (TBT)"
I have a question:
Here as you can see graphite send the TBT but how can i acces it in a grafana query ?
I would like to make a dashboard with this metrics.

![Capture](https://user-images.githubusercontent.com/71318226/93226967-2f4c0680-f774-11ea-894f-933f8b0443e0.PNG)

ConfiguredMetrics.txt :
`largestassets.summary.image.0.transferSize
browsertime.pageSummary.statistics.timings.pageTimings
brows

[2020-09-15 17:17] soulgalore commented on #3147
Hi @Namac0 you have the metric in the https://dashboard.sitespeed.io/d/000000043/page-summary?editPanel=121&orgId=1

<img width="813" alt="Screen Shot 2020-09-15 at 7 16 39 PM" src="https://user-images.githubusercontent.com/540757/93243137-0f264280-f788-11ea-9af4-99725232251c.png">

[2020-09-16 12:57] Namac0 commented on #3147
@soulgalore Here's what worked :

`aliasByNode(sortBy($namespace.$path.pageSummary.$domains.$pages.$browser.$connectivity.browsertime.statistics.cpu.longTasks.totalBlockingTime.$function, 'average'),3, 4)`

Have you a solution for : Max Potential FID ?

[2020-09-16 13:36] Namac0 commented on #3147
I searched for "totalBlockingTime" in configuredmetrics.txt and metrics.txt and I couldn't find it. Why @soulgalore

[2020-09-17 23:10] #3136 closed

[2020-09-18 08:41] #3121 closed

[2020-09-18 10:02] fxbtr opened #3148 "No impact on data collected with CPU throttling --chrome.CPUThrottlingRate"
Hi,
I am running the following command:
`docker run --rm -v $(pwd):/sitespeed.io sitespeedio/sitespeed.io:13.2.0 --outputFolder ss7J20R189K -n 30 https://www.cdiscount.com --graphite.namespace PerformanceTest.ss7J20R189K --config ./config_base.json  --mobile -c 3gslow`

where config_base.json is:
`{
  "browsertime": {
    "cpu": true,
    "video": false
  },
  "chrome": {
   "CPUThrottlingRate": 2

[2020-09-18 17:26] soulgalore commented on #3148
Hi @fxbtr I think this is the same as https://github.com/sitespeedio/browsertime/issues/1380 , I've pushed a fix for that earlier today, hopefully I will release it Sunday night or at least on Monday.

[2020-09-18 17:37] fxbtr commented on #3148
Ho indeed, sorry for the duplicate, thanks for getting back to me.

[2020-09-18 17:37] #3148 closed

[2020-09-19 00:08] vlameiras opened #3149 "Connection refused after adding config files to docker-compose"
Hi,

I tried running the default `docker-compose` to run Grafana with Graphite and it worked perfectly. However, during the production setup it seems that once I uncomment and mount **any** of these files (I'm using the default ones, no changes at all), my remote sitespeed.io node becomes unable to reach Graphite.
[code]

How I test it
[code]

I also tried `tcpdump` and it's clear that I'm able to

[2020-09-19 00:13] vlameiras commented on #3149
So, I've just noticed that after the docker-compose change the docker container no longer has the ports exposed.

[code]

[2020-09-19 00:24] vlameiras commented on #3149
Sorted, the config files were corrupted while downloading. Thanks

[2020-09-19 00:24] #3149 closed

[2020-09-22 20:25] andreshernandezd opened #3150 "orange"

[2020-09-22 20:26] #3150 closed

[2020-09-23 11:07] Ludovic33Fr opened #3151 "Monitor and store Js consumption"
We use the option --cpu to troubleshoot the js consumption per ressources or per domain.
It is very usefull to diagnostic on a snapshoot.

It will be very usefull if we could store on grafana these informations into graphite.
It could be help to track and detect regression on internal or external js.

Do you think that this kind of enhancement could be done ?

Best,
Ludovic

[2020-09-23 11:40] soulgalore commented on #3151
Hi @Ludovic33Fr I think its hard to act on. If you use Chrome then we get that information from the trace log, grouped by domain (in the HTML result) if I remember correctly. So that data could be sent to Graphite just by configuration.

I haven't looked at it for a year or so but before that calculation wasn't  accurate, I think the browser misses time spent and it was really unstable, so it was

[2020-09-23 11:48] soulgalore commented on #3081
Hi @deevee sort for taking so long time to get back. I did quick fix but the problem was fundamental in Browsertime so to fix it better I needed to rewrite how we handle when to stop the tests. I changed it now so direct after the page has finished loading (after the page complete check) we also stop collecting data for the HAR (and stop other traces etc) before we move on to collect data. It's sh

[2020-09-24 09:03] mploquin commented on #2918
Hi @soulgalore, i have the same error :

Google Chrome 85.0.4183.83
Mozilla Firefox 80.0
[2020-09-24 09:43:24] INFO: Versions OS: linux 5.4.0-48-generic nodejs: v12.16.2 sitespeed.io: 14.4.0 browsertime: 9.4.0 coach: 5.1.1
[2020-09-24 09:43:24] INFO: The following plugins are enabled: assets, axe, browsertime, budget, coach, crux, domains, gcs, graphite, harstorer, html, metrics, pagexray, sustain

[2020-09-24 16:14] Ludovic33Fr commented on #3151
Hi @soulgalore , thank you for your reply.
"So that data could be sent to Graphite just by configuration." : could you confirm me that it is already enable to store it by configuration.

About the relevance of these data :
We have many tests run everyday on our website. I checked these values (js consumption per domain / per ressources) on five runs on the same days.

![image](https://user-images.

[2020-09-28 17:39] Icecold777 opened #3153 "Collect resource timing API metrics"
Hello,

sitespeed.io 14.4.0
command: docker run --network 3g -e MAX_OLD_SPACE_SIZE=4096 --name ss_script -p 8980:5900 --rm -v /home/centos/web-perf/sitespeed:/sitespeed.io sitespeedio/sitespeed.io:12.3.1 --multi /sitespeed.io/scripts/sitespeed.js --spa true -n 1 -c 3g --config /sitespeed.io/configs/mobile.json

Please find part of my script

 await commands.measure.start('HomePage');
            a

[2020-09-28 17:56] soulgalore commented on #3153
It seems to work for me:

[code]

[code]

Can you show me how you run so I can see if I can reproduce?

Also try

[code]

[2020-09-28 18:06] Icecold777 commented on #3153
hah, do you use --spa true? looks like that's the reason

[2020-09-29 07:56] soulgalore commented on #3153
No I don't. But you did get it to work?

[2020-09-29 08:28] Icecold777 commented on #3153
Yes, it works with disabled --spa but I need to keep it enable. Is it possible to combine spa true and my custom script?

[2020-09-30 08:02] #2960 closed

[2020-09-30 10:53] aps-ohnmar opened #3154 "How can I get WebPageTest API key?"
I try to get WebPageTest API key.  But I didn't see to proceed.
https://www.webpagetest.org/getkey.php

[2020-09-30 13:13] shaqb opened #3155 "Page timing out after 300000 ms with Browsertime but no issues on Lighthouse or WebPageTest"
Hi there,

I am running the following test:

`docker run --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io:15.2.0 https://www.hollandandbarrett.com/shop/product/dr-organic-skin-clear-deep-pore-face-wash-60014163 --browsertime.connectivity.engine tsproxy --browsertime.connectivity.profile 3gfast --browsertime.chrome.args kiosk --browsertime.requestheader "user-agent: Mozilla/5.0 (iPhone; CPU

[2020-09-30 13:15] shaqb commented on #3093
Hi @soulgalore - I hope you're well! Did you manage to complete your tests to see if this fix can be merged?

[2020-09-30 16:12] soulgalore commented on #3093
No sorry, I haven't focused on that. The fix I did is maybe ok, but I wanna understand the problem better. I think the root cause is that somewhere the code is broken. Let me have a look the coming days and get back after the weekend.

[2020-09-30 16:40] soulgalore commented on #3155
My guess its something to do with TSProxy. If I run on OS X I usually use Throttle before I run docker and then after stop the throttling. Checkout https://www.sitespeed.io/documentation/sitespeed.io/connectivity/#throttle

[2020-09-30 16:42] shaqb commented on #3155
Thanks @soulgalore - we're actually using this in an EKS environment so we have to use TSProxy (as I understand from the documentation?).

[2020-09-30 16:44] soulgalore commented on #3155
Yeah but in the issue you wrote:

:D

Can you try with a faster throttling just to see that it work?

[2020-09-30 16:49] shaqb commented on #3155
😂  fair point!

So I ran with 'cable' --rtt 28 --inkbps 5000 --outkbps 1000, and the same issue I am afraid. I can push it higher?

[2020-09-30 18:25] soulgalore commented on #3155
Historically there's been so many problem with TSProxy so we removed it, but added it back again after the Mozilla team started testing out and filed a couple of fixes upstream. The problem has been that it throttled too much. I tried to turn on the log with --verbose but it seems that we don't get a log file automatically, so I need to look into it. Let me move the issue and rephrase it.

[2020-10-01 05:25] roshan02 opened #3156 "Video Record don't stop even using --video=false during preScript, video recording causes problem running on kubernetes pods"
Hi  @soulgalore, I am trying to run sitespeed in a Kubernetes pod there I am facing issues with video conversion. So i stopped recording video and conversion as well using `--video false  --videoParams.convert false` So it works fine for any normal site where you don't require login. But I am trying to test one site where it requires login, so I am using preScript, so the issue is even when the vi

[2020-10-01 05:34] roshan02 commented on #3156
This is the error I get on running on a pod without turning off the video (There's no preScript here). Because of which I am trying to skip the video recording part.

`root@sitespeed-io-644c878d94-khkbs:/# ./start.sh https://www.sitespeed.io/ -n 1
Google Chrome 85.0.4183.121
Mozilla Firefox 81.0
groupadd: group 'sitespeedio' already exists
useradd: user 'sitespeedio' already exists
[2020-10-01 05:

[2020-10-02 10:09] Aadi-27 commented on #2758
I would like to take this issue if no one is working on it ?

[2020-10-02 10:10] Aadi-27 commented on #2761
Hi,
I would like to take this issue if it isn't fixed yet or noone is still working on it ?

[2020-10-02 10:45] matti commented on #2761
no, go ahead

[2020-10-02 10:45] matti commented on #2758
go ahead

[2020-10-04 11:49] Aadi-27 commented on #2761
sorry, picked other open source and got hands full. Don't mind.

[2020-10-04 11:50] Aadi-27 commented on #2758
sorry, picked other open source and got hands full. Don't mind

[2020-10-04 13:09] matti commented on #2761
never minded

[2020-10-05 11:06] matti commented on #2758
never minded. for all future askers, just do the damn PR.

[2020-10-06 19:33] Icecold777 commented on #3153
@soulgalore, do you have any thoughts?

[2020-10-06 20:23] soulgalore commented on #3153
The SPA check empties the resource timings to know if a new response arrived, sorry I missed that you used --spa in your example.

[2020-10-07 10:57] amitmalhotra-cell commented on #3015
hi @soulgalore

Sorry to jump in between. I am too facing the exact same error from past few days.
I have been running this test since past 3 months and it was working fine. I am using default memory size for NodeJS. Do i need to increase memory or is this issue related to influxdb ?

ERROR
But now i see at first login measurement only , i see first request time out and then No host available.

ER

[2020-10-08 10:42] marithpl opened #3158 "Sitespeed hits session in Google Analytics"
We have a problem with sitespeed.io which make hit sessions to our GA.
The server IP is excluded on GA filters despite this we see pageviews on tested sites.

Do you have any recommendation? Maybe we made a mistake in installation?

[2020-10-08 13:04] campings-jbordereau commented on #3081
I had another try with sitespeed 15.3.0 and I can confirm this is no longer an issue :+1:

[2020-10-08 13:26] soulgalore commented on #3081
Thank you @campings-jbordereau !

[2020-10-08 13:27] soulgalore commented on #3158
Hi @marithpl I don't use Google Analytics. Can you filter in any other way, like add a specific string to the User Agent and remove that traffic?

[2020-10-08 13:48] marithpl commented on #3158
We will try

[2020-10-08 13:57] amitmalhotra-cell commented on #3015
My Bad, i checked in my case, it was because influxdb was not reachable as someone accidently removed vpc.
Its working fine now.

[2020-10-09 21:35] Icecold777 commented on #3158
Hi @marithpl, if you use sitespeed.io docker version it's possible to block host by mapping it to localhost. just add docker flag to stary command --add-host="your_hostname:127.0.0.1". Sitespeed won't send any call to GA.

[2020-10-10 02:09] AdrianoCahete opened #3159 "On PowerShell console, doesn't work"
PC Info:
Microsoft Windows 10 Pro 64 bits (10.0.19041)
Shell: PowerShell 5.1.19041.1

With npm package, when you call the package with `sitespeed.io https://www.google.com/`, the popup to "Open with" appears to open the `.io` filetype. If you open in notepad, this will open the node package or sh file, I think?

[code]

[2020-10-13 12:43] jajo-shubham opened #3160 "Cant run test on real iPhone Device iOS 14"
Hi Guys!
I am unable to run sitespeed with my mac and iPhone. It tells me to turn on remote automation even though it is already on.
It runs on the simulators but not on the real device.
I have tried `safaridriver --enable` as a popular suggestion but that also doesnt work.
OS X: Catalina 10.15.6
Phone: iOS 14.0 for iPhone XR and iPhone 6S

Command Used:
`sitespeed.io -b safari --safari.ios --safa

[2020-10-13 12:52] soulgalore commented on #3160
Hi @jajo-shubham thanks for creating the issue. I think this could be that iOS 14 broke testing, let me try tonight (I haven't tried yet with an updated phone).

[2020-10-13 13:02] jajo-shubham commented on #3160
@soulgalore  thanks for quick reply, FYI It works on the iOS 14 emulator (like iPhone SE second gen)

[2020-10-13 13:56] soulgalore commented on #3160
Yep I get the same. Lets wait for tonights event and see when next OS X is released and then I'll create an upstream bug at  https://bugreport.apple.com/

[2020-10-13 14:20] cablespaghetti commented on #987
In case someone else comes across this. I am using the graphite exporter for prometheus with sitespeed.io and here is my config:

[code]

And sitespeed.io flags:
[code]

[2020-10-13 20:56] soulgalore commented on #3160
I tested again and now it doesn't work. It also looks like `--safari.diagnose` (verbose logging used when filing issues to Apple) has stopped to work. I'll look into it the coming days and file an issue.

[2020-10-14 03:49] roshan02 commented on #3156
Hi @soulgalore, can you please take some time to look into this.

[2020-10-14 06:11] soulgalore commented on #3156
Hi @roshan02 sorry I've missed the issue. If you run using Docker both video and visual metrics is turned by default. The name of the video parameter isn't perfect: in this case it means keep the video (if you have visualMetrics turned on). Can you try with `--video false --visualMetrics false` ?

But then as you say it seems like there's more problems: video shouldn't be turned on when using preS

[2020-10-14 07:09] roshan02 commented on #3156
@soulgalore, so I tried these things (lets first resolve this and we will move to preScript issue, because if this gets resolved might it work for preScript also):
1.) ```root@sitespeed-io-644c878d94-m7wds:/# ./start.sh https://www.sitespeed.io/ -n 1 --video false --videoParams.convert false```
 works perfectly fine without any issue. I didn't find any video getting generated when I grabbed result

[2020-10-14 07:42] soulgalore commented on #3156
The video works when I tried with VLC. When I checked it starts orange (as it should when we calculate visual metrics) but then its white and nothing is generated on the screen. That is strange. Do you get a screenshot and it looks ok?

[2020-10-14 07:54] roshan02 commented on #3156
No actually I didn't find any screenshot in results folder and there's no report as well as run has failed. You can try running this  with my below deployment.yaml file.

[code]

[2020-10-14 14:03] jajo-shubham commented on #3160
Hey @soulgalore  I am also facing similar issues,
On a real device it worked randomly 1 out of 20 times and even then it didn't complete the test, it timed out after opening the URL page.
Also, I tried with an iOS 13 device, getting the following error:

[code]

[2020-10-14 17:40] soulgalore commented on #3160
Yep I think it started with iOS 14. I sent an email earlier today to the web-evangelist mail at Apple hoping they can help us.

[2020-10-14 20:15] soulgalore commented on #3160
Ah sorry I missed that you tried with 13. If so there's a webdriver issue. For me it was stable for 13.

[2020-10-15 06:22] jajo-shubham commented on #3160
Which OS X did you use for successful testing on iOS 13?

[2020-10-16 14:40] deena9291 commented on #3140
I am facing the same issue as well, I get the page level metrics for only the last page in the flow.

[2020-10-16 19:28] soulgalore commented on #3140
Hi @zoujuanstefjay sorry I missed this issue. Do not use post script to collect metrics, its not designed for that. Instead  you can use multiple scripting files (maybe we miss that in the documentation)? You can add them like `--multi script1.js script2.js script3.js` and then they will run after each other (if you wanna re-use functionality between different use cases). The postScript was actual

[2020-10-20 05:09] roshan02 commented on #3156
Hi @soulgalore, can you please try with this above deployment.yaml file, I think this will help you in reproducing the error which I have got. Just try deploying using this deployment.yaml and run this below command.
```root@sitespeed-io-644c878d94-m7wds:/# ./start.sh https://www.sitespeed.io/ -n 1```

[2020-10-20 06:36] DebraBurnett opened #3164 "SiteSpeed 15.0.0 producing TypeError: Cannot read property 'addDeep' of undefined error"
An existing SiteSpeed Test running in 14.4.0 or less, no longer fully runs in SiteSpeed version 15.0.0 onwards.

This is a single script test run 2 times.  Prior to version 15.0.0 it was producing output information to pages.html in the sitespeed results area.

Prior to 11.3.0 - 11.2.0 & earlier, all results were saved to the one video recording & therefore the one hash directory.

From  version 1

[2020-10-20 07:02] soulgalore opened #3165 "Docker-slim generates errors"
[code]

[code]

[2020-10-20 07:49] soulgalore commented on #3165
Fixed in https://github.com/sitespeedio/sitespeed.io/pull/3166

[2020-10-20 07:49] #3165 closed

[2020-10-20 08:06] soulgalore commented on #3164
Hi @DebraBurnett thanks for creating the issue! I think there's been a change where we get the URL (either direct from the script or from the browser). Do any of the pages redirect to another URL? Thinking that we maybe add statistics for the same URL but with two different names.

[2020-10-20 23:32] DebraBurnett commented on #3164
Morning Pete,

Yes I saw the change within the debug log, shown below.  What denotes a
document.URL string is this instance?  The navigation of Url:
*https://athena-test.com/%23/self-service/?identity=home
<https://athena-test.com/%23/self-service/?identity=home>* has a typeof
value of string.  Does the Url automatically injected by the process have a
value that is not string? See further down for

[2020-10-20 23:39] DebraBurnett commented on #3164
NOTE: Had to change the code to use *'await
commands.js.run('performance.mark("start")');'* and *'await
commands.js.run('performance.mark("end")');'* code so that it would only
time the *click of the staff members details* to *displaying the staff
members page*. See attached changed code:

On Wed, 21 Oct 2020 at 10:32, Debra Burnett <debraburnett17@gmail.com>
wrote:

var config = require('./sitesp

[2020-10-20 23:45] DebraBurnett commented on #3164
NOTE: Had to change the code to use *'await
commands.js.run('performance.mark("start")');'* and *'await
commands.js.run('performance.mark("end")');'* code so that it would only
time the *click of the staff members details* to *displaying the staff
members page*. See attached changed code:

On Tue, 20 Oct 2020 at 19:06, Peter Hedenskog <notifications@github.com>
wrote:

var config = require('./site

[2020-10-20 23:46] DebraBurnett commented on #3164
NOTE: Had to change the code to use *'await
commands.js.run('performance.mark("start")');'* and *'await
commands.js.run('performance.mark("end")');'* code so that it would only
time the *click of the staff members details* to *displaying the staff
members page*. See attached changed code:

On Tue, 20 Oct 2020 at 19:06, Peter Hedenskog <notifications@github.com>
wrote:

var config = require('./site

[2020-10-21 03:41] j940927 opened #3168 "Clicks fail when put between multiple measure.start and measure.stop"
When putting actions under one measure.start/stop block, the actions work fine, but if seperate these actions into two measure.start/stop blocks, the actions in second block fails. From Chrome dev tool can see it's returning error in console.

Script that works:
[code]

Script that fails:
[code]
Error in Chrome console:
<img width="559" alt="Screen Shot 2020-10-21 at 11 28 32 AM" src="https://user

[2020-10-21 03:44] j940927 commented on #3168
Note: the click that failed won't direct to another page, but it will send some more requests

[2020-10-21 07:30] soulgalore commented on #3168
Hi @j940927 its super hard for me to guess what's going on, can you follow the instructions in https://www.sitespeed.io/documentation/sitespeed.io/bug-report/#explain-how-to-reproduce-your-issue that will make it easier for me so I can reproduce and understand what you try to do.

Thanks!

[2020-10-21 08:00] j940927 commented on #3168
Hi @soulgalore, thanks for your quick response!
Below is the whole script I use, I execute it with command sitespeed.io test.js --multi -n 1

test.js
[code]
If script contain first measure.stop(), clicking "Get a Quote" will hit error as screenshot I shared in original post, if I delete first measure.stop(), then the script works fine. Can you please help try if you can reproduce this issue on you

[2020-10-22 07:37] soulgalore opened #3169 "sitespeed.io 16.0"
Let us aim for a major release sometime before Christmas. @beenanner and me synced and this is the list of changes:

1. New Coach with updated advice for 2021. There was a long time ago we gave some love for the Coach so let us do that now!
2. Update to NodeJS 14 in Docker container when it becomes LTS.
3. Include Edge in the Docker container or create a new container with Edge so you easily can t

[2020-10-24 00:02] bonesoul commented on #3032
same here

[2020-10-26 20:32] soulgalore commented on #3164
Hi @DebraBurnett I pushed a fix in Browsertime that I think caused the error. I've merged it to sitespeed.io main and will do a new release tomorrow if everything looks good.

[2020-10-27 07:18] j940927 commented on #3168
Hi @soulgalore , I've found the root cause of this issue.

It is due to below code in sitespeed.io\node_modules\coach-core\dist\coach.min.js
`for (var t = window.jQuery; t.fn && t.fn.jquery && (t = window.jQuery.noConflict(!0), window.jQuery && window.jQuery.fn) && t.fn.jquery !== window.jQuery.fn.jquery;)
  e.push(window.jQuery.fn.jquery)`

After `window.jQuery.noConflict(!0)` is executed, $ is n

[2020-10-27 07:36] soulgalore commented on #3164
If you try with 15.6.3 I hope that fixes the problem.

[2020-10-27 08:45] DebraBurnett commented on #3164
Evening Peter,

Just tested version 15.6.3 & unfortunately now getting the below error
instead:

[image: image.png]

Please let me know if you need any other information.....

Debbie.

On Tue, 27 Oct 2020, 7:33 am Peter Hedenskog, <notifications@github.com>
wrote:

[2020-10-27 11:51] soulgalore commented on #3164
Hi @DebraBurnett I don't think the image was included in the issue:

<img width="433" alt="Screen Shot 2020-10-27 at 12 51 14 PM" src="https://user-images.githubusercontent.com/540757/97298037-25c5bc00-1853-11eb-8c23-b5a8bb294099.png">

Best
Peter

[2020-10-27 20:49] DebraBurnett commented on #3164
Morning Peter,

So sorry, pasted directly into email.   This time it has been added as an
attachment.

With work email this is ok but maybe gmail couldn't handle due to size....

Regards,
Debbie.

On Tue, 27 Oct 2020 at 22:52, Peter Hedenskog <notifications@github.com>
wrote:

[2020-10-27 21:29] DebraBurnett commented on #3164
Morning Peter,

The error is now a TypeError: Cannot read property 'replace' of null.

See below for full error:

![Replace Error](https://user-images.githubusercontent.com/42327319/97364102-a0e0ae00-18f7-11eb-9c1e-bbc44b5db0ec.png)

Regards,
Debbie.

[2020-10-28 19:40] soulgalore commented on #3164
Hi @DebraBurnett thanks for reporting, that code path seems strange I need to dig into it to understand what's happening, I hope to roll out a fix tomorrow. However it seems you get an error before that "addErrorForUrl" should only run. Did you see anything before in the log?

[2020-10-28 22:17] DebraBurnett commented on #3164
Morning Peter,

All the information above the error displayed is normal run behaviour....

I wonder if it's the staff details landing page Url???   That changes with a 16 char identity server security code within the actual Url, for each iteration? See the ?identitiy= code value examples shown below:

The first iteration could have a landing Url of:
https://athena-test.com/#/self-service/?identity

[2020-10-30 19:51] soulgalore commented on #3164
Hi @DebraBurnett ah thanks. I've pushed a new version yesterday with a fix for the error you got but I think there's still some issues, let me try with the URL patterns you provided.

[2020-11-02 12:41] TusAuto opened #3176 "Error: EISDIR: illegal operation on a directory , even " respective .js file is present in folder"

[2020-11-02 12:42] TusAuto commented on #3176
Running with gitlab-runner 11.6.1 (8d829975)
  on aws-build-runner-scheduler 8616255e
Using Docker executor with image docker ...
Pulling docker image docker ...
Using docker image sha256:6972c414f322dfa40324df3c503d4b217ccdec6d576e408ed10437f508f4181b for docker ...
Running on runner-8616255e-project-122223-concurrent-0 via ip-10-130-141-188...
00:02
Fetching changes...
00:01
HEAD is now at 0240e

[2020-11-02 18:18] prudloff-insite opened #3177 "Reports are owned by root"
I see that since https://github.com/sitespeedio/sitespeed.io/pull/2710, sitespeed.io should not create reports owned by root.
However, on our CI reports are still owned by root, which causes various problems. (Other non-root CI tasks can't delete them.)

Here is what I am running to reproduce locally:
[code]

I am using Docker 19.03.13 on  Linux Mint 20. `docker` is called by my normal non-root us

[2020-11-02 18:59] soulgalore commented on #3177
Hi @prudloff-insite thanks for creating the issue. @MasonM it should pickup so the files are owned by the owner directory right? @prudloff-insite who owns the dir you mount?

[2020-11-02 19:01] prudloff-insite commented on #3177
The directory I am mounting as a volume is owned by my own user.

[2020-11-02 19:09] soulgalore commented on #3177
I wonder then if something has changes along the line then, I think we upgraded Ubuntu since that fix. i can have a try to reproduce it tomorrow.

[2020-11-02 19:35] soulgalore commented on #3176
Hi @TusAuto this looks like a GitLab issue on mounting volumes. In this threads there seems to be some workarounds https://gitlab.com/gitlab-org/gitlab-runner/-/issues/1482

[2020-11-02 20:19] soulgalore commented on #3177
I tried on Ubuntu 20 and there it worked (I created a new user, that user run Docker and the files was owned by that user). @prudloff-insite is there a easy way for me to try on Linux Mint 20?

[2020-11-02 21:16] MasonM commented on #3177
This appears to be a repeat of https://github.com/sitespeedio/sitespeed.io/issues/2898. The working directory for the Docker image is `/sitespeed.io`, not `/cnf`. Try this command:
[code]

[2020-11-03 09:05] prudloff-insite commented on #3177
Oh right, this makes sense. Mounting `/sitespeed.io/` does indeed work.
Thanks for the help!

[2020-11-03 09:05] #3177 closed

[2020-11-04 14:02] soulgalore commented on #3156
@roshan02 I didn't get it to work on my local machine with Kubernetes, can you guide me (I'm using OS X) in a couple of steps? Or what's the easiest way to reproduce, use. a new linux box with your deploy file? I haven't used Kubernetes.

[2020-11-05 05:50] roshan02 commented on #3156
@soulgalore Hi, so do you have kubernetes installed on your mac, with kubect commad working? So if that is working. You need to follow the following commands.
First lets check if kubectl is installed: ```kubectl version --client ````

If this works we are good to go ahead. Now just copy above deployment.yaml file to your local system and then just use this command:
```kubectl apply -f deployment.y

[2020-11-05 19:03] Icecold777 opened #3186 "scenarios getting failed"
Hello,

I run some checkout scenario which worked perfectly.
There weren't any changes neither from app side nor test script.
but for the last two days it fails with following errors.
Final report looks OK except the last broken transaction.

[2020-11-05 16:14:33] ERROR: Error: PageIndex out of range
    at module.exports.pickAPage (/usr/src/app/node_modules/coach-core/lib/har/harCutter.js:18:11)

[2020-11-06 07:43] amitmalhotra-cell opened #3187 "Use AWS Timestream serverless time series database instead of Influxdb database"
Problem statement :
Is it possible to **Use AWS Timestream serverless time series database instead of Influxdb database**

_Example :_
I am using influxdb as below :

_docker run --rm -v %cd%:/sitespeed.io sitespeedio/sitespeed.io:14.0.0 -n 1 /sitespeed.io/UrlPath.txt -–influxdb.host XXX.XXX.X.XX -–influxdb.port 8086 -–influxdb.database DBNAME  --resultBaseURL S3bucketurl_

**I need to know if the

[2020-11-06 14:58] soulgalore commented on #3186
Hi @Icecold777 usually `Error: PageIndex out of range` means that some navigation didn't happen (the page wasn't loaded). My guess is that the page has changed (someone changed the HTML) so that your script doesn't work anymore.  Can you try the script locally and see that it still works?

[2020-11-06 15:02] soulgalore commented on #3187
Hi @amitmalhotra-cell you need to build a [plugin](https://www.sitespeed.io/documentation/sitespeed.io/plugins/#how-to-create-your-own-plugin) to handle a new database.

[2020-11-06 16:16] Icecold777 commented on #3186
Hah, you are right @soulgalore. Actually script works as expected end-to-end. But the path of one page has been changed and  now there is two pages with /shipping path. I see that browsertime query parameter was added during the measurement but it corrupts html report for some reason. HARs are messed up between transactions.

[2020-11-07 09:51] mploquin opened #3190 "Cannot extends properties with another configuration file"
Hi @soulgalore,

I have a problem with the `extends` properties of a configuration file.

I have two configuration files `desktop.json` and `secrets.json` in a directory `testsitespeedio`

**desktop.json**
[code]
**secrets.json**
[code]

and when i run sitespeed with the command line in the same directory `testsitespeedio`, i have the following error :

[code]

It's the same thing with the docker

[2020-11-07 15:17] soulgalore commented on #3190
Hi @mploquin hmm we use https://github.com/yargs/yargs for the configurations. At work I use absolute paths for finding extended configs to get it to work (but there we have the configs at different locations). I need to try to have them on the same location, it should work, but could it be that extends is relative to where you run sitespeed.io?

[2020-11-07 15:20] soulgalore commented on #3190
Also let me test it more tomorrow, I wonder if something can have changed upstream, I also got some error when I tried.

[2020-11-07 18:18] mploquin commented on #3190
I wanted to create a kubernetes cronjob. But in the jobs, the sitespeed.io configuration files are mounted in a volume with an absolute path and i have the same error...

[2020-11-09 08:50] soulgalore commented on #3190
I tested now and it works for me with your example I created the two JSON files and run:
[code]

The problem I've been seeing at work was my fault, the JSON wasn't correct structured.

The example you added, do that not work for you or is it a simplified example?

[2020-11-09 13:13] mploquin commented on #3190
Hi Peter,

It's a simplified example and I know where the error came from.... :upside_down_face:
I was using a wrong parameter assignment for config, with an equal :

`> sitespeed.io --config=desktop.json https://www.sitespeed.io -n 1`

But actually there isn't, my bad :see_no_evil:

However I find an error that I have already encountered, if you can look at [it](https://github.com/sitespeedio/sit

[2020-11-10 11:27] fabis94 opened #3191 "Can't run Lighthouse tests on pages behind auth"
I'm running the latest version of the plus1 Docker container: sitespeedio/sitespeed.io:15.6.4-plus1
And the command looks something like this:

[code]

I was trying to use a preScript to log in first, and this works for Browsertime, but apparently Lighthouse starts a new Chrome session and it doesn't look like scripts can be used in any way there. Thus I can't log in to prepare the session for tes

[2020-11-10 12:40] soulgalore commented on #2918
Hi @mploquin when you look at the test at your WebPageTest instance, does it work there?

signals that something gone wrong on the WebPageTest side. Easiest if you can access the result URL and have a look, can you see something?

[2020-11-10 19:51] mploquin commented on #2918
I upgraded to sitespeed.io version 15.7.2 and I no longer see this type of error...

[2020-11-11 08:11] soulgalore commented on #3190
Closing since extending works.

[2020-11-11 08:11] #3190 closed

[2020-11-11 08:11] #3187 closed

[2020-11-11 08:12] soulgalore commented on #3186
If you can provide a reproducible example I can have a look!

[2020-11-11 08:13] soulgalore commented on #3176
This is not an issue with sitespeed.io as I understand so closing.

[2020-11-11 08:13] #3176 closed

[2020-11-11 08:15] soulgalore commented on #3168
Thanks @j940927 for looking into this. I'm moving this to the coach and will implement your fix there.

[2020-11-11 08:16] soulgalore commented on #3160
Catalina. Tomorrow is Big Sur released, I will have a go then again. If it still doesn't work I will create an upstream issue.

[2020-11-11 08:18] soulgalore commented on #3164
I couldn't reproduce but maybe I got the patterns wrong. @DebraBurnett are you able to test on the latest release?

[2020-11-11 08:19] soulgalore commented on #3158
Closing since I think its ways to get around this.

[2020-11-11 08:19] #3158 closed

[2020-11-11 08:19] #3154 closed

[2020-11-11 08:19] #3153 closed

[2020-11-11 08:25] soulgalore commented on #3147
configuredmetrics.txt and metrics.txt are generated depending on the CLI input, so for example you need to turn on collect CPU data to get that into the metrics. MAX Potential Fid: In your Grafana instance, follow the same pattern as for total blocking and go key by after the cpu key and have a look.

[2020-11-11 08:27] soulgalore commented on #3145
"Cumulative Layout Shift" is sent by default. Can you give me a concrete example I can guide you. I think the easiest way is to look at the remade dashboards and look there how the queries is created and then redo them on your own dashboard.

[2020-11-11 08:27] soulgalore commented on #3144
Did you get this to work @zzhao2010 ?

[2020-11-11 08:30] soulgalore commented on #3141
Use https://github.com/sitespeedio/geckodriver or download it from https://github.com/mozilla/geckodriver/releases. It should be installed automatically though?

[2020-11-11 08:33] #3140 closed

[2020-11-11 08:34] soulgalore commented on #3132
Thanks for creating it on the right place, closing this for now.

[2020-11-11 08:34] #3132 closed

[2020-11-11 08:35] #3131 closed

[2020-11-11 08:36] soulgalore commented on #3169
I had a go at moving the WPT-plugin but at the moment it is too much work if we wanna keep the same functionality. Lets create a long term issue for it and then add a log message every time you use WebPageTest.

[2020-11-11 08:38] soulgalore commented on #3103
I'm gonna do a new release of the coach in a couple of weeks and hope I fixed it there. Also you can disable the coach for now to get it to work.

[2020-11-11 08:39] soulgalore commented on #1277
It has happened in four years, it will never happen.

[2020-11-11 08:39] #1277 closed

[2020-11-11 08:40] soulgalore commented on #1289
We haven't done anything for four years, I think we will not fix this.

[2020-11-11 08:40] #1289 closed

[2020-11-11 08:42] soulgalore commented on #2061
With the "new" scripting functionality you can use basic auth direct in the script and get away fixing it that way.

[2020-11-11 08:42] #2061 closed

[2020-11-11 08:58] soulgalore commented on #2118
I think we will not do this since its tag or keys not keys and tags.

[2020-11-11 08:58] #2118 closed

[2020-11-11 09:01] #2340 closed

[2020-11-11 11:02] soulgalore commented on #2706
We have this for Matrix and I think we should implement the same functionality for Slack.

[2020-11-11 15:26] fabis94 opened #3192 "Can't get browsertime.chrome.args to work when defined using JSON config"
Tried to disable Chrome cache using the solution outlined in this issue: https://github.com/sitespeedio/chrome-har/issues/1#issuecomment-367370561

But I can't get it to work when using the JSON config. This is how I defined the chrome args there:

[code]

There's not much documentation around this so I'm wondering if I'm passing in the args the correct way. Is there any way to verify that these a

[2020-11-12 15:10] egouraud-claranet opened #3193 "Can't see LCP and CLS in InfluxDB backend"
Hi there

it seems that LCP and CLS are measured but not written into influxdb backend, is it possible to add them ?

[code]
**How to reproduce?**

use latest version of sitespeed docker container and configure an InfluxDB backend
no measurement with those particular names

thx

[2020-11-13 01:32] DebraBurnett commented on #3164
Afternoon Peter,

Just tested with the latest version & all is working well.

We were originally using %23 instead of # in the url name but changing back to # & all is working well.

Thank-you, thank-you.  👍

[2020-11-13 08:44] soulgalore commented on #3160
HI @jajo-shubham  reported this upstream. They say they heard about the problem but they had a hard time to reproduce. I've been able to give them logs. The last time we had issue they where really helpful and fixed it, so I hope for the same thing this time. I'll update the thread when I get more news.

[2020-11-14 11:19] tpynak commented on #3159
Use sitespeed.io.cmd, rather than sitespeed.io
i.e. sitespeed.io.cmd https://www.google.com

[2020-11-18 02:47] deena9291 opened #3195 "Sending data to Graphite not working"
sitespeed image: sitespeedio/sitespeed.io:15.8.0
graphite image:  sitespeedio/graphite:1.1.5-12
grafana image :  grafana/grafana:7.3.1

I am running all 3 images as diff pods in the same node on a K8 cluster. When trying to send the metrics to graphite, I see only respective folders being created but metrics are not updated in graphite. PFB screen shot;
![image](https://user-images.githubuserconte

[2020-11-18 08:51] soulgalore commented on #3195
Hi @deena9291 can you explain a little bit more what you mean by "I see partial metrics being sent to graphite.", I didn't fully get that?

By default the Graphite have a very conservative limit of creating new metrics (checkout MAX_CREATES_PER_MINUTE in carbon.conf). I think default is 50, so it will be overloaded. If you use the sitespeedio/graphite from the beginning it should help (there its s

[2020-11-18 14:40] deena9291 commented on #3195
Hi Peter,

Thanks a lot for the quick response, I tried again with the below;
graphite image: sitespeedio/graphite:1.1.5-12 (recreated the graphite container)

carbon.conf: I used the all the 3 recommended .conf files from here (https://github.com/sitespeedio/docker-graphite-statsd/tree/main/conf/graphite)
![image](https://user-images.githubusercontent.com/62435018/99542911-935f9680-2980-11eb-979c

[2020-11-18 22:37] whichfinder opened #3196 "could not add meta data to the HAR, miss page "X" again"
Hello
At first - thank you for such a good tool.

I am running the latest version : Versions OS: linux 5.4.0-53-generic nodejs: v12.16.2 sitespeed.io: 15.9.0 browsertime: 10.9.0 coach: 5.1.1

My test script is something like:

[code]

I run it inside docker with a command:
`docker run --rm --env EMAIL=my_mail --env PASSWORD=my_password --env HOST=my_host -v "$(pwd):/sitespeed.io" sitespeedio/sites

[2020-11-18 23:27] deena9291 commented on #3195
Worked for me after below fixes in K8's;
1. Create the graphite container with - graphiteapp/graphite-statsd:1.1.7-7
2. Update the conf files from here - https://github.com/sitespeedio/docker-graphite-statsd/tree/main/conf/graphite
3. Add the environment variable to fix the tagging errors in graphite logs - kubectl set env deployment/graphite REDIS_TAGDB=1 -n graphite. This variable has to be adde

[2020-11-19 04:41] soulgalore commented on #3196
Hi @whichfinder `miss page "X"` almost always comes from that the script never navigated to a new page (but the script try to measure one).  Let me make that error messages better in the coming release. When I get a error like that I run the script on my local machine (using NodeJS) and look at the browser to see what's going on. https://www.sitespeed.io/documentation/sitespeed.io/scripting/#debug

[2020-11-19 04:47] soulgalore commented on #3195
Thanks for getting back @deena9291

That's is just a wrapper around the graphiteapp/graphite-statsd but the versions differ so my guess is that we should update it to contain the latest version graphiteapp/graphite-statsd. I'll fix that later this week.

Like the base folder? I didn't fully understand that. You mount where you want to store the data on disk, and then when you run the first sitespe

[2020-11-19 08:41] whichfinder commented on #3196
Hi, @soulgalore, yes I am aware of this. I checked this locally and it works. Also, recorded video shows that navigation happens and even there are metrics present on video for that page [screenshot from video](https://imgur.com/BqkJDAa)

[2020-11-20 19:51] soulgalore commented on #3160
Hi @jajo-shubham if you also can submit a issue for Apple that would be great. Use the Feedback Assistant. Simplest use case to reproduce using pure Selenium for me is https://gist.github.com/soulgalore/a5478a1cc9937b19383f233443c1ce3f  - I tried on two different Mac (Catalina and Big Sur) and one iPhone and iPad and get the same result.

[2020-11-24 08:34] jajo-shubham commented on #3160
@soulgalore  Sure, I'll also submit an issue for the same!

[2020-11-24 15:58] danielloader opened #3197 "Influx Cloud (v2) support"
I've read the documentation and other issues on here, and I've noticed in this [reply](https://github.com/sitespeedio/sitespeed.io/issues/3015#issuecomment-635153227) that sitespeed leverages the [node-influx ](https://github.com/node-influx/node-influx/) package for connectivity with influxDB.

However node-influx aren't advertising compatibility with InfluxDB 2, suggesting to use the official [i

[2020-11-25 11:12] soulgalore commented on #3197
Hi @danielloader ah cool, I'm no InfluxDB user so I haven't noticed there's a new version. I'm busy with work for the rest of the year that has higher prio for me, but I can help out if someone wanna make a PR.

Best
Peter

[2020-11-25 15:39] thanhtoan1196 opened #3198 "Support helm chart for Dashboard"
Please support helm chart for easier installation.
https://helm.sh/

[2020-11-25 18:44] bro-ee opened #3199 "GCS Upload - socket.timeout"
Have a problem uploading data to GCS.

It works well if I analyze 1-2 URLs, but doesn't work for high amount of URLs. For example 15 URLs uploaded well time to time, but usually I get this error (see below)

Information:
- DOCKER_CONTAINER=sitespeedio/sitespeed.io:15.9.0-plus1
- 15 URL's (from 2 different domain)

[code]

[2020-11-25 20:51] soulgalore commented on #3199
Hi @bro-ee do you have anything special in your config for GCS (proxy or something)? I know @beenanner is a GCS user, does it work cleanly for you?

[2020-11-25 21:05] bro-ee commented on #3199
Hi @soulgalore nope. Only required params:
    "projectID": "XXX",
    "key": "/config/XXX.json",
    "bucketname": "XXX",
    "removeLocalResult": true

[2020-11-25 21:12] soulgalore commented on #3198
Hi @thanhtoan1196 that would be cool. I'm not sure though, I usually avoid recommend people running on Kubernetes since there's no good way to throttle the network connection on Kubernetes, I know people been using TSProxy but I'm not 100% sure though how good it works.

[2020-11-25 22:50] IngCesarPerf opened #3200 "Support LocalStorage"
Hi,

I am using the latest version 15.9.0 at the time of the Issue.
When executing through the terminal I am using the parameter --cookie cookieName = cookieValue and it works very well with the analyzes I carry out, however, in addition to the use of the cookie I need to send the name of a localStore and value string, since within navigating the page I'm testing, a flow creates that localstorage

[2020-11-27 00:04] whichfinder commented on #3196
Hi, @soulgalore
I have managed to resolve this issue. Some details: during steps of my tests I was trying to measure actions that were within the same browser URL. Navigate didn't help in this case so I've made a dirty hack that replace url parts during measurement.
So, issue can be closed.

PS: if you want I can show you workaround that I did

[2020-11-27 00:04] #3196 closed

[2020-11-28 20:11] Icecold777 commented on #3196
@whichfinder please show how did you manage to solve the issue

[2020-11-28 20:14] Icecold777 commented on #3186
Issue was solved by itself) close it

[2020-11-28 20:15] #3186 closed

[2020-11-30 23:31] whichfinder commented on #3196
@Icecold777

I am not sure that this is a best way, but for our purposes this works pretty well:

I have this function:

async hackMeasurement(currentUrl) {
        let ts = Date.now()
        let subString = currentUrl.split('#')[0].split('documents')[1]   # here you need to split by needed url part
        let jsString = "history.pushState('','','" + subString + "&ts=" + ts +"')"
        return

[2020-12-01 01:58] JoseNavy commented on #2758
Hello! Is this issue still happening? If so, I want to help! I'm new to Open Source and would be glad to help.

[2020-12-01 04:09] thanhtoan1196 commented on #3198
@soulgalore I think supporting Kubernetes for Dashboard is enough
https://www.sitespeed.io/documentation/sitespeed.io/performance-dashboard/#production-guidelines

[2020-12-01 07:10] soulgalore commented on #2758
Hi @JoseNavy yes that would be great, I can guide you if you need help. Either you can ask here or join the Slack channel: sitespeedio.herokuapp.com

[2020-12-01 17:40] JoseNavy commented on #2758
Thank you @soulgalore! I'll install the project and If I have any questions, I'll drop them here.

[2020-12-03 07:01] soulgalore commented on #3198
Yeah I see. I wonder if someone could contribute an example, I'm have a full list of things I need to do first before Christmas.

[2020-12-07 17:42] AtzeDeVries commented on #987
you can also use the influxdb_exporter, this mimics an influxdb server and can be scraped by prometheus
https://github.com/prometheus/influxdb_exporter

[2020-12-09 06:24] sathishkg901 opened #3206 "In Chrome Browser, Client width error is displayed while executing the scripts via Docker Container"

[2020-12-11 12:01] gummelhummel opened #3209 "config.json and urls.txt not working"
we have an error when using urls file with --config config.json.
We get the message:
[code]
config.json
[code]
urls
[code]
any ideas what we can do?
Thanks! :)

[2020-12-11 13:48] soulgalore commented on #3209
Hi @gummelhummel I need to check the docs, I don't remember if passing multiple URLs in a file works with `--multi`. Let me get back.

[2020-12-14 04:39] soulgalore commented on #3209
I don't think that has ever worked. To test multiple URLs from a file you can use: https://www.sitespeed.io/documentation/sitespeed.io/scripting/#measure-multiple-pages

[2020-12-14 10:18] sathishkg901 commented on #3206
[2020-12-14 10:06:01] ERROR: JavascriptError: javascript error: Cannot read property 'clientWidth' of null
  (Session info: chrome=86.0.4240.75)
  (Session info: chrome=86.0.4240.75)
    at Object.throwDecodedError (/usr/src/app/node_modules/selenium-webdriver/lib/error.js:550:15)
    at parseHttpResponse (/usr/src/app/node_modules/selenium-webdriver/lib/http.js:565:13)
    at Executor.execute (/u

[2020-12-15 09:50] gummelhummel commented on #3209
Thank you very much :+1:

[2020-12-15 09:50] #3209 closed

[2020-12-22 09:06] soulgalore opened #3221 "Bug with alias generates errors for User Journeys using alias for a URL"
I've fixed the root problem with the error, but there's a deeper problem with storing files in the right directory when you use alias.

[2020-12-22 12:36] soulgalore commented on #3221
Fixed

[2020-12-22 12:36] #3221 closed

[2020-12-22 12:46] soulgalore commented on #3221
released in 16.0.1

[2020-12-22 12:47] #3169 closed

[2020-12-22 17:58] soulgalore opened #3224 "Move the rest of the WebPageTest functionality to the WebPageTest plugin"
We still have a some WebPageTest functionality in sitespeed.io that we should move to the plugin, It's some hard work to make things more configurable but that will open for other plugins to also add the same functionality.

[2020-12-28 11:43] jajo-shubham commented on #3160
Hey @soulgalore . I have not received any updates on this from apple, How about you?

[2020-12-28 14:42] soulgalore commented on #3160
@jajo-shubham they got back to me with a workaround that didn't work for me (I'll share it tomorrow see if it could work for you). I'll ping them again when I get back to work in a week or so. I also tried with a new clean phone but no luck.

[2020-12-28 14:54] jajo-shubham commented on #3160
Yeah sure, Let me know whatever is the issue. Also what exactly seems to be the issue?

[2020-12-28 16:08] soulgalore commented on #3160
However as you said it seems to be the same on 13 too. The thing is when I use Xcode I can see that the phone is paired. However WebDriver doesn't seems to know that it is.

[2020-12-30 10:40] deevee opened #3226 "Issue with filmstrip data when using urlAlias on 16.0.2"
Hello, I have a problem when using the urlAlias parameter on 16.0.2:

`docker run -v /home/test:/sitespeed.io/ --rm sitespeedio/sitespeed.io:16.0.2-plus1 -n 1 --urlAlias test https://www.google.com`

output:
[code]

the same one without the urlAlias has no issue:

`docker run -v /home/test:/sitespeed.io/ --rm sitespeedio/sitespeed.io:16.0.2-plus1 -n 1 https://www.google.com`

output:
[code]

[2020-12-30 20:26] soulgalore commented on #3226
Hi @deevee thank you for creating the issue, let me look into it.

[2020-12-30 22:01] soulgalore commented on #3226
@deevee I've fixed it for now and will roll it out tomorrow as 16.0.3 and then do some cleanup early next year., Thanks again filing the issue!

[2020-12-31 09:07] soulgalore commented on #3226
The fix went out in 16.1.0.

[2021-01-04 08:57] deevee commented on #3226
I can confirm that the error is no longer here with the 16.1.0 but there's still one problem with the generated html and the urlAlias.

![image](https://user-images.githubusercontent.com/82388/103517766-f34bc700-4e72-11eb-8ef4-b9e4bcb3c5d6.png)

the `test` link is going to `sitespeed-result/www.google.com/2021-01-04-08-48-29/pages/www_google_com/index.html` but the real link should be `sitespeed-r

[2021-01-04 09:06] roshan02 opened #3232 "Total transfer size in reports not matching with manual data collected for same action using chrome inspect elemment"
Hi, @soulgalore I was doing one test using scripts but the Total transfer size data which I was getting in HTML report was not matching with the manual data collected. So I have created this below reproducible issue on a public website.
I am getting the total transfer size value as 74KB in HTML report whereas the actual data transfer size when I tried manually is 645KB. Make sure you disable cache

[2021-01-05 20:13] soulgalore commented on #3164
Great lets close this then :)

[2021-01-05 20:32] soulgalore commented on #3232
Hi @roshan02 thanks for creating the issue. Do you see the same number of requests in both use cases?

[2021-01-05 20:35] soulgalore commented on #3226
Hi @deevee hmm I thought I tested that but let me fix it, thanks.

[2021-01-05 20:41] soulgalore commented on #3226
Hmm `docker run --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io:16.1.0 -n 1 --urlAlias test https://www.google.com` work for me (the link point to the right location), can you please verify again that it fails, maybe you have more parameters and something else gets it wrong?

[2021-01-06 05:57] roshan02 commented on #3232
Hi, @soulgalore No total number of requests also different in both cases. Manually I can see 55 requests whereas using sitespeed scripts I can see 23 requests. But in the video returned in sitespeed results I can see everything is going as expected.

[2021-01-06 11:24] shaqb opened #3236 "Inconsistent timings between sitespeedio and lighthouse/crux"
Hi there,

I have been running the following test:

[code]

And within that test I can see the first visual change is 27.667s and FCP/LCP are very high. When I run the same test through Lighthouse I get numbers that are 20 times faster. I thought it might be tsproxy causing the issue but even when I remove that, the issue is the same.

I have attached both runs (with and without tsproxy) and they

[2021-01-06 11:36] deevee commented on #3226
I tried again and I no longer have the error, don't know what happened last time :thinking:
I'm sorry about this false issue :bow:

[2021-01-06 14:37] soulgalore commented on #3226
Np, thanks for creating the issue in the first place :)

[2021-01-06 14:37] #3226 closed

[2021-01-06 14:44] soulgalore commented on #3232
I haven't seen that we loose requests before so I think somehow how you are measuring. To debug it I would try different browsers Chrome vs Firefox to see if you see the same in both browsers. And then check in details look at the request and compare what's the different then I hope you can see what's going on.

[2021-01-06 14:47] soulgalore commented on #3236
Hi @shaqb avoid Use TSProxy, I think its broken, it been so many problems with the throttling over the years (see for example https://github.com/WPO-Foundation/tsproxy/issues/18). Please use Throttle to get better/more realistic figures.

[2021-01-06 15:02] shaqb commented on #3236
Hi @soulgalore - ok understood. However even without using an network throttling we are still seeing the same issue. I also included a non-tsproxy run in the archive.

[2021-01-07 05:52] soulgalore opened #3239 "Docs: Switch to 11ty"
Use https://www.11ty.dev instead of Jekyll to generate the documentation.

[2021-01-07 12:19] Vout commented on #3164
I think this one can be opened again.

I'm having a scripted test that looks like this,

[code]
After submit the url has a unique identifier in it like _example.com/referral/transaction/**7acd7cfe-4a56-4f42-91b9-1f5600e30930**_. The last part after transaction/ is unique. When doing one iteration everything is fine but when running 3 i'm getting the following error,

`
[2021-01-07 12:09:38] ERROR:

[2021-01-08 12:29] TusAuto commented on #3176
@soulgalore : i have executed locally with pwd and facing issue again. Please guide me

[2021-01-09 00:31] SunnyGurnani opened #3241 "--chrome.blockDomainsExcept not working with REPLAY=true"
**Without replay 3rd Party Domains get blocked as expected**
`docker run --cap-add=NET_ADMIN --rm -v "$(pwd):/sitespeed.io" sitespeedio/sitespeed.io:16.2.1 -n 1 -b chrome --chrome.blockDomainsExcept www.realtor.com https://www.realtor.com
`
![image](https://user-images.githubusercontent.com/943576/104077513-deeb2f80-51ce-11eb-9eb6-5682affed3cf.png)

**With Replay=true domains are not blocked**
`do

[2021-01-11 19:59] AntoniusGolly opened #3244 "Broken link(s) in results dashbaord when using urls.txt in combination with Aliases"
# Prerequisits:

This is the command I use:
[code]
This is my urls.txt:
[code]
(according to https://www.sitespeed.io/documentation/sitespeed.io/configuration/)

# Issue
When I navigate through the results on Pages, the links to the subpages are broken:
![image](https://user-images.githubusercontent.com/3856505/104231586-7b236980-544f-11eb-88cc-6beec9d69b7e.png)

There is a mismatch between the UR

[2021-01-11 21:53] soulgalore commented on #3244
Hi @AntoniusGolly thanks for creating the bug report, yep I've broke that when changing the how alias work (alias are now also used in the path-name). I'll have a look and try to fix it tomorrow.

[2021-01-12 04:56] soulgalore commented on #3244
I've fixed this and will release it either tonight or early tomorrow.

[2021-01-12 09:00] AntoniusGolly commented on #3244
Absolutely terrific.

[2021-01-12 12:28] AntoniusGolly commented on #2894
Thanks @grantis for posting your solution. It is a bit unfortunate to not get it done by the config.

I have the same problem. I don't get any more errors but also don't receive anything in Grafana Cloud.

May I ask how you generate the report? Where did you put the above posted script? I guess it is a script run inside the docker image. But can you elaborate a bit more? It would be extremely help

[2021-01-12 13:06] soulgalore commented on #2894
Hi, my guess is that first step should be to follow https://grafana.com/docs/grafana-cloud/metrics/graphite/ and install Carbon-Relay-NG and run that. That looks like the easiest way to use Graphite cloud. Else we need to add support for the [HTTP API](https://grafana.com/docs/grafana-cloud/metrics/graphite/http-api/)  it in the Graphite plugin for sitespeed.io.

[2021-01-12 13:30] AntoniusGolly commented on #2894
@soulgalore Alright. I can do that. Any hint how to automize it? When I use the default command like

```docker run --rm -v "$(pwd):/sitespeed.io" sitespeedio/sitespeed.io:16.2.1 --config=config.json urls.txt```

all the results are in that container. I could use a hint or documentation on where to hook in to send the data.

[2021-01-12 13:53] soulgalore commented on #2894
If you use the config for graphite (--graphite.host etc) and point that to the Carbon-Relay-NG instance I think that should do the job?

[2021-01-12 14:27] AntoniusGolly commented on #2894
I think where I'm struggling is how to point that to the Carbon-Relay-NG instance from *within* the sitespeed container. The sidespeed container is a very short-living container as the command above instructs. How could I get started?

[2021-01-12 15:20] soulgalore commented on #2894
Ok, let me try to explain it better. You setup your Carbon-Relay-NG somewhere (preferable not on the same server that you run sitespeed.io because you want to have as little as possible that can disturb your metrics). Use the host name of the server that runs Carbon-Relay-NG  and set that that host name in ` --graphite.host ` or if you use the json config file, set it there. Then sitesitpeed will

[2021-01-12 17:07] AntoniusGolly commented on #2894
That makes total sense. Thanks for the outlined solution.

[2021-01-13 02:53] soulgalore commented on #3244
I just released the fix in 16.3.0, please verify that it works for you @AntoniusGolly when you have time!

[2021-01-13 04:55] roshan02 commented on #3232
Hi @soulgalore I tried with firefox and chrome getting requests count and total transfer size in a similar range but not exactly the same, but they are much different than what sitespeed is returning. Are you getting some different results?

[2021-01-13 07:29] soulgalore opened #3250 "Create example on how to run on the free Grafana Cloud setup"
Lets create documentation on how to setup the free instance of Grafana Cloud:
https://grafana.com/blog/2021/01/12/the-new-grafana-cloud-the-only-composable-observability-stack-for-metrics-logs-and-traces-now-with-free-and-paid-plans-to-suit-every-use-case/

[2021-01-13 07:31] soulgalore commented on #3241
I think the setup where we route the traffic to WebPageReplay from Chrome collide when you try to block third parties, so to make it work we need to change how we do the blocking in this case.

[2021-01-13 09:25] fmacgregor-wt commented on #3244
@soulgalore I had the same issue and have just run with 16.3 the link from the annotation in grafana works OK, but we have a slack hook and the link from slack has the full url in rather than the alias
e.g. grafana link (works)
https://s3.xxxxxxxxxxxxxx/www.theoutnet.com/20210113-08:21:22.116/pages/www_theoutnet_com/pdp/index.html
slack link
https://s3.xxxxxxxxxxxxxx/www.theoutnet.com/20210113-08:

[2021-01-13 09:44] soulgalore commented on #3244
@fmacgregor-wt can you show me how you add the alias? At the moment its three different ways: inside a script, through the cli and using a file. If I know that its easier for me to reproduce and fix. Thanks!

[2021-01-13 10:16] fmacgregor-wt commented on #3244
I use a url file
`# list of URLs and aliases to run sitespeed.io tests on
# for example, to test the theoutnet home page
# http://www.theoutnet.com/ home
#
https://www.theoutnet.com/ home
https://www.theoutnet.com/en-gb/shop/clothing plp
https://www.theoutnet.com/en-gb/shop/designers/valentino dlp
https://www.theoutnet.com/en-gb/shop/search/dresses search
https://www.theoutnet.com/en-gb/shop/produ

[2021-01-13 10:33] soulgalore commented on #3244
Thanks for sharing @fmacgregor-wt let me fix that tonight.

[2021-01-13 11:36] akinv opened #3252 "sitespeedio/sitespeed.io:16.2.1-plus1 lighthouse always run in mobile"
Hi All,
I've been trying many ways to sort it out, I ended up here.
When I locate to "Summary", "Filmstrips", "Video", all look good. I see the screenshots are desktop mode.
But when I locate to Lighthouse tab, I see all thumbnail screenshots under "Performance" are in mobile mode and also"Runtime Settings" in the bottom of the page shows:
"CPU throttling = 4x slowdown (Simulated)"
"User agent (ne

[2021-01-13 14:15] shaqb commented on #3244
Hi @soulgalore - we have another use case where the alias change is causing issues. From within the 'Pages' section of the HTML report, the links are also not referencing the alias correctly.

![image](https://user-images.githubusercontent.com/19668009/104463299-825e8a80-55a9-11eb-9df6-87f4fefaf950.png)

The aliases are there, but the hyperlink for the reports does not use the alias, so the report

[2021-01-13 15:10] soulgalore commented on #3244
Hi @shaqb can you share how you add the alias? See https://github.com/sitespeedio/sitespeed.io/issues/3244#issuecomment-759332093

[2021-01-13 15:12] shaqb commented on #3244
Hi @soulgalore - I use a url file.

https://www.bottegaveneta.com/gb Homepage
https://www.bottegaveneta.com/gb/women/onlineboutique/bags Product_List_Page
https://www.bottegaveneta.com/Search/Index?textsearch=bags&siteCode=BOTTEGAVENETA_GB&season=&department=llmnwmn&gender=D%2CU%2CE Search
https://www.bottegaveneta.com/gb/clutch_cod45459788pd.html Product_Details_Page

[2021-01-13 19:40] soulgalore commented on #3244
@shaqb hmm that is strange that works for me. I made a generic fix, when the Docker container is built you can have a bio and see if fixes it. I'll ping the issue when its done.

[2021-01-14 07:11] soulgalore commented on #3164
See https://github.com/sitespeedio/browsertime/issues/1465 - that needs to be fix to fix this.

[2021-01-14 13:26] akinv opened #3256 "sitespeed doesn't work when I use score in budget"
I'm running this command line

`
docker run --rm \
    -v "${PWD}:/sitespeed.io" \
    sitespeedio/sitespeed.io:16.2.1-plus1 \
    urls.txt \
    -n 1 \
    --outputFolder performance-reports-output \
    --budget.configPath budget.json \
    --budget.output junit \
    --plugins.remove /lighthouse,/gpsi
`
budget.json
`{
  "budget": {
    "score": {
      "accessibility": 100,
      "performance":

[2021-01-14 15:19] soulgalore commented on #2894
@AntoniusGolly did you get it to work? I wanna add a documentation section about setting up Grafana Cloud and wanted to check if you have any gotchas or something I should know.

[2021-01-14 18:39] soulgalore commented on #3244
@shaqb I pushed a new release today, can you check if it works there? @fmacgregor-wt that release also contains a fix for Slack, so if you also can test that would be great! Thanks.

[2021-01-14 18:51] shaqb commented on #3244
Hi @soulgalore - tested and confirmed it’s working now. Thanks for sorting so quickly!

[2021-01-14 19:00] AntoniusGolly commented on #3244
Same here👌
Thanks for the fast response.

[2021-01-14 19:58] soulgalore commented on #3244
Well I broke it so I needed to fix it, isn't that how it works :) Thank you both for testing!

[2021-01-15 08:25] fmacgregor-wt commented on #3244
Hi @soulgalore  yes the slack links are fixed now - thank you

[2021-01-15 11:11] merlwein commented on #3144
At least it helped me. Thank you ver much. I am a Linux and Ubuntu noob and a happy Windows 10 user. I tried a 1.000 times with Ubunutu, root rights, different ports, passwords etc.! With Docker in Windows everything worked extremely well. With Ubuntu I was close to forget about it - till I found this posting here.
Thanls @soulgalore (and thanks @zzhao2010 for asking the same questin.

[2021-01-15 12:05] #3244 closed

[2021-01-16 21:11] soulgalore commented on #3256
Hi @akinv thank you for filing the issue! Either there's a bug or something is wrong in the documentation, let me try to fix it the coming days.

[2021-01-16 21:18] soulgalore commented on #3256
Ah I see now. "accessibility" was [removed from the Coach in 16.0](https://www.sitespeed.io/sitespeed.io-16.0-browsertime-11.0-coach/), its better to use AXE. I'll fix that error message, its really hard to understand.

[2021-01-19 06:58] TusAuto opened #3261 "Unable to execute sitespeed using docker in git repository."
I am unable to execute sitespeed in git pipeline using docker image. Issue is in git $(pwd) is not mounting to local script to docker container. Hence Unable to find overview.js file error message in pipeline.

1. I have added our project hierarchy image. [ Folder structure ].
2.  I have also added .yml file from git.
3.  Also attached Pipeline error message.

Please let me know why $(pwd) in git

[2021-01-22 13:20] ZZsui opened #3262 "Any plan to add sitespeed test status after each execution?"
Hi there,

Is there any people who are using sitespeed that want to add new feature, adding test status for each iteration?

For example, add a global variable called testStatus, initial status is starting, when the sitespeed test started the status changed to pending, after the execution, if there is any error during the run, we use "await commands.error(e);" to print the error and update the sta

[2021-01-22 15:46] AntoniusGolly commented on #2894
I'm at it following your [suggestion](https://github.com/sitespeedio/sitespeed.io/issues/2894#issuecomment-758726821) . How could I provide my findings? Can I create a PR to the docs repo simply?

[2021-01-22 20:28] ahoiroman opened #3263 "Add meta data or tags dynamically to each tested URL"
Hello,

I would like to solve the following problem:

Sitespeed is reporting data to influxdb, which is just working fine.

Now I got a lot of tested websites and Grafana is supposed to display all those results, but I would like to filter access to specific websites by using some kind of website-to-organization-relation.

To archive this, I thought about adding a user-id or organization name as a

[2021-01-23 15:17] soulgalore commented on #3262
Hi @ZZsui can you explain a little more how you wanna use it?

I'm thinking maybe we should add it to the budget, so that for example you can configure budget so that if there's an error, the budget will fail = exit code failure. Or when do you need to know if there's errors or not?