[2022-02-02 08:51] soulgalore commented on #3551
Hi @gregorywolf thank you for taking the time and creating such a good issue :)

I checked the content type of the woff files and I've seen they aren't categorised as a font by PageXray because the content type is _application/octet-stream_
<img width="733" alt="Screenshot 2022-02-02 at 09 47 53" src="https://user-images.githubusercontent.com/540757/152121646-d42e7b8b-2204-47eb-b100-852a99391c6e.p

[2022-02-02 10:12] soulgalore commented on #3551
Hmm that looks like a common problem, let me add a fix for it later this week so it can roll out in the next release.

[2022-02-02 16:00] GabrielDelepine opened #3552 "Apple Silicon: chrome failed to start"
### Have you read the documentation?

- [X] Yes, I've read the [how to make a reproducable bug guide](https://www.sitespeed.io/documentation/sitespeed.io/bug-report/)
- [X] Yes, I've read the [how to debug my script guide](https://www.sitespeed.io/documentation/sitespeed.io/scripting/#debug)

### URL

https://www.sitespeed.io/

### What are you trying to accomplish

Using the docker cmd given in t

[2022-02-02 16:41] soulgalore commented on #3551
I made a hack for it but the original issue is that the server sets the wrong mime type.

[2022-02-02 16:44] soulgalore commented on #3552
There are some work going on in https://github.com/sitespeedio/docker-browsers/issues/2

[2022-02-02 19:47] alexvolk001 commented on #3550
Hi @soulgalore, I have modified the script. I excluded some XPath selectors, since elements are dynamic, and replaced them with ID. Also, I included the wait.Time() function to ensure the page fully loaded. I can see the video files with measurements. But also I'm seeing the same errors. It seems those errors preventing the report generation.

Anyway to fix it?

If you have time I can show you app

[2022-02-02 19:57] GabrielDelepine commented on #3552
Thanks, I will subscribe to this issue

[2022-02-02 19:57] #3552 closed

[2022-02-02 22:05] gregorywolf commented on #3551
@soulgalore I did some further checking across different sites and am noticing a wide range of content-types for fonts:

[code]
Will your "hack" address the variations? Will the fix be released in the form of a new sitespeed image?

[2022-02-03 11:34] soulgalore commented on #3551
As long as the request URL ends with .woff or .woff2 it will be catched. I cannot match on mime types that are incorrect :)
 https://www.rfc-editor.org/rfc/rfc8081#section-4.4.5

It will come in the next sitespeed.io release.

[2022-02-03 11:40] gregorywolf commented on #3551
@soulgalore I understand about matching on .woff and .woff2. Will you also catch .eot and .ttf, which are very popular. Take a look at https://fileinfo.com/filetypes/font as a point of reference.

[2022-02-03 14:43] gregorywolf commented on #3551
@soulgalore  I agree that the proper way is for the site owner to set the correct content-type. My intention was not to add to your already full plate. I appreciate all of your help. The extra check for woff and woff2 is fine.

I have not created a PR in the past. Is the proper process forking the code at https://github.com/sitespeedio/pagexray/blob/main/lib/util.js#L38-L49, add whatever fonts I t

[2022-02-03 14:55] soulgalore commented on #3551
Yes. If you can hold off for a couple of days, I could fix the structure, thinking we could prepare for more checks if the mime type isn't registered.

[2022-02-03 14:58] gregorywolf commented on #3551
I can wait, no rush at all. I would be more than happy to help. Sitespeed has been so helpful, I would be very happy to give something back in any way possible :)

[2022-02-03 15:12] Zapfmeister opened #3566 "Integration with Grafana tempo via opentelemetry"
### Your question

Hi,

i would love to get the waterfall charts shown here: [Compare](https://www.sitespeed.io/examples/#compare)
into Grafana, as shown on the bottom of the page here: https://grafana.com/blog/2021/04/13/how-to-send-traces-to-grafana-clouds-tempo-service-with-opentelemetry-collector/

This would allow to combine all the logs from the infrastructure hosting the page with the actua

[2022-02-03 19:01] alexvolk001 commented on #3550
I have solved the issue.
I'm navigating/measuring all the pages before the target page and target measurement. Then I'm placing the navigation url to target page inside the measurement start/stop.
In this case, the script navigates to the target page and then performs the required action.
The script can measure multiple sites this way.

==Script==

module.exports = async function(context, commands

[2022-02-03 19:01] #3550 closed

[2022-02-03 20:57] soulgalore commented on #3550
Thank you @alexvolk001 for sharing how you solved it!

[2022-02-04 21:13] soulgalore commented on #3553
This weekend I'm gonna push all containers to get all the different levels to work except one thing: I haven't found a way to get Chromium to work. The base container is built upon Ubuntu to be able to run Chrome and Chrome isn't compiled for arm. Chromium is but I can't get pass that it needs snap.

[2022-02-04 21:25] soulgalore commented on #3553
The magic needs to happen https://github.com/sitespeedio/docker-browsers/blob/main/Dockerfile#L61-L65

[2022-02-04 21:27] soulgalore commented on #3291
I've prepared every step but is still missing a way for installing Chromeium.

[2022-02-04 21:31] radum commented on #3291
Ins't `apt install chromium-browser` pulling the right version for ARM?

[2022-02-04 21:40] soulgalore commented on #3291
Yep want chromium but get the same as https://github.com/sitespeedio/sitespeed.io/issues/3291#issuecomment-789751656 that `requires the chromium snap to be installed.`

[2022-02-04 21:56] radum commented on #3291
ppa:saiarcot895 Doesn't need snap and its quite popular. I don't know any other official ppa that has it.

https://launchpad.net/~saiarcot895/+archive/ubuntu/chromium-dev
https://launchpad.net/~saiarcot895/+archive/ubuntu/chromium-beta

And its kept up to date.

[2022-02-05 07:49] soulgalore commented on #3291
Ah thank you @radum !

[2022-02-07 17:15] softwareklinic opened #3558 "Lighthouse giving econnrefused"
Errors
Lighthouse got the following errors: {"errno":-111,"code":"ECONNREFUSED","syscall":"connect","address":"127.0.0.1","port":46735} (lighthouse)

[2022-02-07 18:36] Bhuvnesh875 commented on #2761
i would like to work on it ,if its available.

[2022-02-07 18:45] matti commented on #2761
https://github.com/sitespeedio/sitespeed.io/issues/2761#issuecomment-702661407

[2022-02-08 07:45] soulgalore commented on #3551
@gregorywolf the fix was released in yesterdays release.

[2022-02-08 15:08] soulgalore opened #3561 "Docker slim container with Firefox 97 do not work"
### Have you read the documentation?

- [X] Yes, I've read the [how to make a reproducable bug guide](https://www.sitespeed.io/documentation/sitespeed.io/bug-report/)
- [X] Yes, I've read the [how to debug my script guide](https://www.sitespeed.io/documentation/sitespeed.io/scripting/#debug)

### URL

All URLs

### What are you trying to accomplish

I'm trying to run the Docker slim container (bot

[2022-02-08 15:18] soulgalore commented on #3561
I verified that reverting to 94 worked.

[2022-02-08 15:22] soulgalore commented on #3561
96 also have the same problem.

[2022-02-08 16:07] gregorywolf commented on #3551
@soulgalore Thanks for the updated code. I plan to use the new code today. I am assuming that the "fix" only addresses the override for woff and woff2 that are not being set correctly using content-type. Is that correct?

[2022-02-08 17:32] soulgalore commented on #3551
At the moment it fixes https://github.com/sitespeedio/pagexray/blob/main/lib/util.js#L28-L34

[2022-02-08 18:13] #3561 closed

[2022-02-11 16:59] DadayanSamvel opened #3565 "chromedriver index.js script function binPath with error in return, please fix it"
### Have you read the documentation?

- [X] Yes, I've read the [how to make a reproducable bug guide](https://www.sitespeed.io/documentation/sitespeed.io/bug-report/)
- [X] Yes, I've read the [how to debug my script guide](https://www.sitespeed.io/documentation/sitespeed.io/scripting/#debug)

### URL

I use local url, sorry can not repro

### What are you trying to accomplish

in your code, binPat

[2022-02-12 14:15] soulgalore commented on #3551
Think this works now so closing, please let me know if that's not the issue.

[2022-02-12 14:15] #3551 closed

[2022-02-12 14:15] #3548 closed

[2022-02-12 14:15] #3534 closed

[2022-02-12 14:16] soulgalore commented on #3535
Closing, please let me know if there's any issues.

[2022-02-12 14:16] #3535 closed

[2022-02-12 14:16] soulgalore commented on #3531
Closing since its a Lighthouse/GPSI issue.

[2022-02-12 14:16] #3531 closed

[2022-02-12 14:16] soulgalore commented on #3524
Think this works now so closing, please let me know if that's not the issue.

[2022-02-12 14:16] #3524 closed

[2022-02-12 14:17] soulgalore commented on #3521
Also please report GitLab issues to. ... GitLab :)

[2022-02-12 14:17] #3521 closed

[2022-02-12 14:18] #3511 closed

[2022-02-12 14:18] #3533 closed

[2022-02-12 14:18] #3489 closed

[2022-02-12 14:19] #3487 closed

[2022-02-12 14:19] #3481 closed

[2022-02-12 14:19] #3477 closed

[2022-02-12 14:19] #3475 closed

[2022-02-12 14:20] #3474 closed

[2022-02-12 14:20] #3465 closed

[2022-02-12 14:21] #3415 closed

[2022-02-12 14:21] #3400 closed

[2022-02-12 14:21] #3411 closed

[2022-02-12 14:21] #3414 closed

[2022-02-12 14:21] #3427 closed

[2022-02-12 14:22] soulgalore commented on #3436
Yes you should try some of those other tools.

[2022-02-12 14:22] #3436 closed

[2022-02-12 14:23] #3372 closed

[2022-02-12 14:24] #3365 closed

[2022-02-12 14:25] soulgalore commented on #3379
The HAR data is summarised in PageXray. If you need the timing metrics for each requests, you could either configre sitespeed.io to send that but it will generate so much data, I thunk a better approach is to build your own plugin.

[2022-02-12 14:25] #3379 closed

[2022-02-12 14:26] #3491 closed

[2022-02-12 14:26] #3488 closed

[2022-02-12 14:27] soulgalore commented on #3566
Closing but please let me know if you need any help with the plugin.

[2022-02-12 14:27] #3566 closed

[2022-02-12 14:27] soulgalore commented on #3504
Hope you got this working, please re-open if this is still an issue.

[2022-02-12 14:27] #3504 closed

[2022-02-12 14:28] soulgalore commented on #3492
This was release some time ago, thanks for sharing the idea, I use it all the time now :)

[2022-02-12 14:28] #3492 closed

[2022-02-12 14:29] #3458 closed

[2022-02-12 14:31] #3469 closed

[2022-02-12 14:33] soulgalore commented on #3463
@jsbalasu that is coming form the internal datastructure of metrics in sitespeed.io. You can use https://www.sitespeed.io/documentation/sitespeed.io/configure-metrics/#list-metrics to see all the metrics and structure used by a specific test.

[2022-02-12 14:33] #3463 closed

[2022-02-12 14:33] soulgalore commented on #3450
Closing but please let me know if this is still an issue.

[2022-02-12 14:33] #3450 closed

[2022-02-12 14:34] soulgalore commented on #3459
Ah sorry we do not have any docs for that today, I mainly focus on the Graphite metrics. Here's description of the main metrics we collect https://www.sitespeed.io/documentation/sitespeed.io/metrics/

[2022-02-12 14:34] #3459 closed

[2022-02-12 14:34] #3452 closed

[2022-02-12 14:35] #3447 closed

[2022-02-12 14:36] #3399 closed

[2022-02-12 14:37] #3446 closed

[2022-02-12 14:37] soulgalore commented on #3353
Yes it starts as a new "clean" user.

[2022-02-12 14:37] #3353 closed

[2022-02-12 14:38] soulgalore commented on #3326
This isn't something that is high prio for me so I'm closing.

[2022-02-12 14:38] #3326 closed

[2022-02-12 14:40] soulgalore commented on #3388
@jajo-shubham checkout https://github.com/w3c/resource-timing/issues/90

[2022-02-12 14:40] #3388 closed

[2022-02-12 14:40] soulgalore commented on #3355
This has been fixed.

[2022-02-12 14:40] #3355 closed

[2022-02-12 14:41] #3395 closed

[2022-02-12 14:42] soulgalore commented on #3384
No. The reason is that those metrics are so unstable for Lighthouse so I think no one should use them.

[2022-02-12 14:42] #3384 closed

[2022-02-12 14:43] soulgalore commented on #3336
Hmm this works on our Windows GitHub Action and for Mozillas Windows tests. Closing but please let me know if this is still an issue.

[2022-02-12 14:43] #3336 closed

[2022-02-12 14:44] #3389 closed

[2022-02-12 14:44] #3363 closed

[2022-02-12 14:45] #3232 closed

[2022-02-12 14:45] #3206 closed

[2022-02-12 14:45] #3144 closed

[2022-02-12 14:47] #3291 closed

[2022-02-12 14:47] #3192 closed

[2022-02-12 14:47] #3141 closed

[2022-02-12 14:48] soulgalore commented on #3342
I haven't been able to reproduce this.

[2022-02-12 14:48] #3342 closed

[2022-02-12 14:48] #3119 closed

[2022-02-12 14:49] #2948 closed

[2022-02-12 14:49] #3138 closed

[2022-02-12 14:49] #3265 closed

[2022-02-12 14:50] #2346 closed

[2022-02-12 14:50] soulgalore commented on #2957
I think this has been fixed now.

[2022-02-12 14:50] #2957 closed

[2022-02-12 14:52] #2934 closed

[2022-02-12 14:53] soulgalore commented on #3103
I think this is fixed now.

[2022-02-12 14:53] #3103 closed

[2022-02-12 14:53] #3159 closed

[2022-02-12 14:54] soulgalore commented on #3553
This should work now.

[2022-02-12 14:54] #3553 closed

[2022-02-12 15:29] #3438 closed

[2022-02-12 15:30] soulgalore commented on #3118
This is done for Firefox / Chrome and Edge.

[2022-02-12 15:30] #3118 closed

[2022-02-12 15:30] #3116 closed

[2022-02-12 15:31] #3110 closed

[2022-02-12 15:32] #2815 closed

[2022-02-12 15:34] #3122 closed

[2022-02-12 15:36] #3313 closed

[2022-02-12 15:59] zhouhana commented on #3492
Awesome! 🙂  Thanks for the update!

[2022-02-12 16:13] #3129 closed

[2022-02-12 16:19] soulgalore commented on #3319
Yes but you can use click on links etc without the wait? https://www.sitespeed.io/documentation/sitespeed.io/scripting/#click

[2022-02-12 16:19] #3319 closed

[2022-02-12 16:20] soulgalore commented on #3273
I think this should work.

[2022-02-12 16:20] #3273 closed

[2022-02-12 16:21] soulgalore commented on #3301
Closing since I didn't get any feedback.

[2022-02-12 16:21] #3301 closed

[2022-02-12 16:55] gregorywolf commented on #3551
Hi Peter -

The fonts are getting tracked now. Thank you for the help!

Sent from my iPhone

On Feb 12, 2022, at 9:15 AM, Peter Hedenskog ***@***.***> wrote:

﻿

Closed #3551<https://github.com/sitespeedio/sitespeed.io/issues/3551>.

—
Reply to this email directly, view it on GitHub<https://github.com/sitespeedio/sitespeed.io/issues/3551#event-6057061388>, or unsubscribe<https://github.com/notific

[2022-02-13 17:13] ZazaKumar opened #3567 "Kubernetes runAsNonRoot"
### Your question

Is there a way to run sitespeed.io as non root user in k8s? I got a lot of problems with chroot in start.sh script

[2022-02-13 20:17] soulgalore commented on #3567
Hi @ZazaKumar no I think we need to do some refactoring of the setup for that to work. I haven't focus on getting it to work on k8 since there's no way to set connectivity speed.

[2022-02-17 15:07] rghetu opened #3568 "junit stdOut undefined error"
### Feature/improvement

node_modules\sitespeed.io\lib\plugins\budget\junit.js

We get undefined in the junit xml reports in the standardOutput() section of the results.working / results.failing.

There is a "," that should be deleted

.failure(
              result.metric + ' is ' + result.friendlyValue || result.value,
              +' and limit ' + result.limitType + ' ' + result.friendlyLimit

[2022-02-17 16:19] rghetu commented on #3568
Cool , thanks a lot, the .time thing is a separate improvement and not a real problem , but if you use the generated xml in other places like datadog, jenkins publish junit etc you won't have the duration of the metric - of course in the metrics we can have milliseconds for pageLoadTime for example which need to be converted to seconds (junit has seconds) , but we also may have scores (integers) w

[2022-02-17 19:25] soulgalore commented on #3568
@rghetu I fixed the wrong  ",", if you can send PRs for your improvements that would be great!

[2022-02-17 20:02] rghetu commented on #3568
Sure will send them.

[2022-02-18 13:02] shaqb opened #3570 "sitespeedio - reports - urlAlias in Budget file"
### Feature/improvement

We use aliases for our urls in a url file. For example
https://www.google.com Homepage
https://www.google.com/search?q=hello+world Search_Results_Page

and we have a budget.json file with 10 budgets in it.

When we get the output as json we get something like this for an individual URL:
[code]
We have over 70 urls we are testing and some of the URLs are quite long. Would i

[2022-02-18 13:11] shaqb opened #3571 "urlAlias in budget page in sitespeed.io report"
### Feature/improvement

Currently in the Pages section of the HTML report the table has the URL as the urlAlias if a urlAlias was sent.

However in the Budget section of the HTML report the table has the actual URL instead of the urlAlias, regardless of whether one was provided.

Can the Budget HTML report be updated to use the same format as the Pages HTML?

Thanks,

Shaq

[2022-02-18 14:14] soulgalore commented on #3570
Hi @shaqb yes that should be easy, I added alias support before but I guess then that it's only in the budget HTML, I don't fully remember. I'll check if its easy before the next release sometimes next week.

[2022-02-18 14:15] soulgalore commented on #3571
Aha I though I fixed that but clearly not then. Let me fix that at the same time as #3570

[2022-02-19 13:06] soulgalore commented on #3570
Looked at the code and the easiest way would be to just use alias (when you have an alias) instead of the URL. That's how it works in the most places today. Would that work for you @shaqb ?

[2022-02-19 13:15] soulgalore commented on #3570
No that was a stupid idea, let me have a look for a better fix :)

[2022-02-21 06:37] shaqb commented on #3570
Hi @soulgalore - thanks for looking into this so quickly! We currently specify the urlAlias in our tests but they don't filter through to the budget report.
We have an over-arching budget file like this:

[code]

We want that applied to every url that runs from our url file which has the urlAlias in it. That file can have up to 70 urls.

Does that make sense? If not I can send some more examples o

[2022-02-21 19:33] softwareklinic opened #3576 "What is document complete equivalent in sitespeed?"
### Your question

What is document complete equivalent in sitespeed

[2022-02-22 04:40] soulgalore commented on #3576
Hi @softwareklinic do you mean https://developer.mozilla.org/en-US/docs/Web/API/Window/DOMContentLoaded_event ? https://www.sitespeed.io/documentation/sitespeed.io/metrics/#domcontentloadedtime

[2022-02-23 08:47] PankajKaushik78 opened #3577 "Is sitespeed visualMetrics not supported for windows 11?"
### Your question

Hey, I am trying to run sitespeed with --visualMetrics ` node .\sitespeed.io\bin\sitespeed.js -b firefox --firefox.binaryPath "C:\Program Files (x86)\firefox 93.0\firefox.exe" --visualMetrics -n 1 https://google.com` but it is showing the below error. Every thing works fine without --visualMetrics flag. I have tried similar on windows 10 (with same installation steps, and I have

[2022-02-23 08:50] soulgalore commented on #3577
Hi @PankajKaushik78 have you install the dependencies needed for getting Visual Metrics? You can checkout our Windows GitHub Action where we install them: https://github.com/sitespeedio/browsertime/blob/main/.github/workflows/windows.yml

[2022-02-23 08:54] PankajKaushik78 commented on #3577
Thanks for the quick reply @soulgalore.
Yes I have installed all the dependencies.
` python ./browsertime/visualmetrics.py --check` This test is also working properly. But when i try to run the complete test, it shows the above error. Wondering why this worked in windows 10 and not in 11 with exact same steps.

[2022-02-23 09:00] PankajKaushik78 commented on #3577
Also `npm install` is throwing this error. Is it happednig because of visual studio? @soulgalore
[code]

[2022-02-23 09:05] PankajKaushik78 commented on #3577
Just tried to run it with older sitespeed version (16.2.1) and it is working fine.

[2022-02-23 09:05] #3577 closed

[2022-02-23 20:34] shaqb opened #3578 "Chrome Mobile Device Emulation Not Working with Newer Devices"
### Have you read the documentation?

- [X] Yes, I've read the [how to make a reproducable bug guide](https://www.sitespeed.io/documentation/sitespeed.io/bug-report/)
- [X] Yes, I've read the [how to debug my script guide](https://www.sitespeed.io/documentation/sitespeed.io/scripting/#debug)

### URL

https://www.sitespeed.io

### What are you trying to accomplish

From Chrome 97 onwards there are

[2022-02-23 20:55] soulgalore commented on #3578
Hi @shaqb thanks for creating the issue!

The first part Is that we need to internally have the viewport, so we can set it correct size for the video (if I remember it correctly). Can you help me with which devices you wanna use and I can add them.

The other error comes directly from Chrome, I need to look into that.

[2022-02-23 21:07] soulgalore commented on #3578
Hi again @shaqb it looks like a bug in Chromedriver. You can enable the log with `--browsertime.chrome.enableChromeDriverLog`.

[code]

If you could try latest beta Chromedriver 99 and see if its fixed there: https://chromedriver.storage.googleapis.com/index.html?path=99.0.4844.35/

If that do not work, do you have to create an issue at https://bugs.chromium.org/p/chromedriver/issues/list? Else I

[2022-02-24 10:40] barryperez commented on #3578
Hi @soulgalore @shaqb

Looks like a ChromeDriver bug is indeed required.

Similar to the previous issue here: https://bugs.chromium.org/p/chromedriver/issues/detail?id=3474

The following file contains a list of supported devices - and this hasn't been updated since 08/2020: https://source.chromium.org/chromium/chromium/src/+/master:chrome/test/chromedriver/chrome/mobile_device_list.cc;bpv=1

So,

[2022-02-24 11:24] shaqb commented on #3578
Hi @soulgalore @barryperez - raised https://bugs.chromium.org/p/chromedriver/issues/detail?id=4044. Hopefully they should update to the latest in an upcoming version!

[2022-02-24 11:35] soulgalore commented on #3578
Thank you @shaqb !

[2022-02-24 20:36] soulgalore commented on #3571
Ooops this has been released but I missed adding it to the CHANGELOG.

[2022-02-24 20:39] soulgalore commented on #3570
I see, so instead on matching on the URL, you need to match on the alias but that do not work at the moment. Let me start with it the coming weekend. As it is now the simplest way is that the matching can happen either by URL or alias, but the result JSON can only she URL or ALIAS. Would that work for you @shaqb ?

[2022-02-24 21:10] shaqb commented on #3570
Hey @soulgalore - I think so yeah. So just to be clear, if we supply a budget file with a file full of ALIAS it would be great if the budget output json show the ALIAS instead of the URL

[2022-02-24 21:10] shaqb commented on #3571
Nice one @soulgalore !

[2022-02-24 22:20] soulgalore commented on #3570
Yes then I think I understand :)

[2022-02-25 14:23] shaqb opened #3583 "LCP in Summary not matching LCP in DevTools"
### Have you read the documentation?

- [X] Yes, I've read the [how to make a reproducable bug guide](https://www.sitespeed.io/documentation/sitespeed.io/bug-report/)
- [X] Yes, I've read the [how to debug my script guide](https://www.sitespeed.io/documentation/sitespeed.io/scripting/#debug)

### URL

https://www.emirates.com/ae/english/experience/

### What are you trying to accomplish

I am runn

[2022-02-25 15:09] soulgalore commented on #3583
Hi @shaqb removing the bug for now until I verified, there's so much going on in Chrome so ...

if you look at the filmstrip, is the LCP choosing the correct element at the correct time? We use the https://developer.mozilla.org/en-US/docs/Web/API/LargestContentfulPaint API to get the data from Chrome, but my guess is that the Chrome trace log uses trace events so there's probably some missmatch go

[2022-02-28 06:46] shaqb commented on #3583
Hey @soulgalore - no worries at all.

Looking at the flimstrip I can see it's definitely picking the correct element (an image) but the timing is off. See below:

![image](https://user-images.githubusercontent.com/19668009/155936460-7366658e-90b6-46ef-b1d0-f9c08a49933f.png)

And I can see this correctly matches the LCP from the Metrics tab albeit still with the lower LCP value:

![image](https://u

[2022-02-28 14:23] shaqb commented on #3583
So done a bit of testing with different versions of sitespeed.io (i.e. different versions of the chrome browser for our specific page) and can see the following:

![image](https://user-images.githubusercontent.com/19668009/155999112-51438e6f-2685-414f-8a00-d4cd07f2219d.png)

It looks like we didn't see this issue at all in Chrome 95, limited in Chrome 96 and regularly in Chrome 97.

[2022-03-01 07:14] jakkshay opened #3585 "How to mark test failed when budget fails in git pipeline"
When budget gets fail for test execution test is shown as passed.  How to mark test case as failed inside git pipeline.
Refer below snippet:

`# Image contains Chrome Browser. Sitespeed package contains ChromeDriver
image: circleci/node:14.17-bullseye-browsers-legacy
stages:
  - Build
  - Test
  - Report
`
[code]

output from git pipeline:
$ ./node_modules/sitespeed.io/bin/sitespeed.js  --config c

[2022-03-01 07:48] shaqb commented on #3583
So I did some testing with previous versions of Chrome (10 iterations) and this is the outcome:

![image](https://user-images.githubusercontent.com/19668009/156126895-82dd1fd0-27b1-420a-8741-d178d2259be0.png)

So I think even with the most recent changes in Chrome 97, we were still seeing the LCP being lower than the FCP.

[2022-03-01 13:23] soulgalore commented on #3585
Hi @jakkshay when a budget fails in sitespeed.io you should be able to see that own the return code, if the return code is larger than zero, it fails. I'll add that to the documentation the coming week. Check if something like this https://github.community/t/using-exit-code-of-previous-step/16798 works for you.

[2022-03-01 14:50] soulgalore commented on #3585
Here's an example how to use it as a GitHub Action: https://github.com/sitespeedio/sitespeed.io/pull/3586/files

For CircleCi - I haven't used that, but you should be able to act on the exit code.

[2022-03-01 16:41] papey commented on #3321
Hi @soulgalore, I also have this error when I'm using `analysisstorer` + `sustainable` plugin, should I open a new issue ?

Thanks a lot :pray:

[2022-03-01 16:50] soulgalore commented on #3321
@papey yes please, I will have a look later this week.

[2022-03-02 08:37] papey commented on #3321
That was quick ! Thanks a lot :+1:

[2022-03-02 12:35] myanees284 opened #3588 "click.byXpathAndWait does not take to next page"
### Your question

Hello -
I am completely new to SiteSpeed scripting. My script does below steps:
1) Navigate to URL
2) Search for flight
3) Select the flights
4) Proceed to Passenger page

The first 3 steps works well. And the 4th step - I tried with -
a) click.bySelectorAndWait
b) click.byIdAndWait
c) click.byXpathAndWait

From the result I could see, the expected passenger page does not load;

[2022-03-02 13:19] soulgalore commented on #3585
Hi @jakkshay hmm strange. Hmm I see you use multi, I need to test that, I've only been testing one page. Either its a bug if you use junit or --multi switch, I'll try later this week to see if I can reproduce it.

[2022-03-02 13:24] soulgalore commented on #3588
Hi @myanees284 here's a couple if things I try when I debug a script: https://www.sitespeed.io/documentation/sitespeed.io/scripting/#debug

I try to run without Docker on my local computer and then I run JavaScript to validate that the element is really there. Also a trick that isn't in the debug docs is to run the tests locally on machine, add a long wait before the error happens, open devtools i

[2022-03-02 13:58] shaqb commented on #3583
Hi @soulgalore - looks like it happens all the time with the extra agent but far less frequently without

![image](https://user-images.githubusercontent.com/19668009/156374838-6e56856e-b290-4d65-8f6e-f042bb57c8af.png)

As the append functionality wasn't there in sitespeed.io 20.3.0 (Chrome 95) and 20.6.0 (Chrome 96) I used --browsertime.userAgent instead. So for
Chrome 95 I did the following confi

[2022-03-02 14:19] soulgalore commented on #3583
So is the web site trying to game LCP (since it also happens with headless), I haven't looked at the actual code? Or do you think it's a bug? I'll have a look again this weekend when I'm back.

[2022-03-02 20:43] myanees284 commented on #3588
Hello @soulgalore - Thanks for your input.
I tried both the options:

1) Running the script on my local laptop using sitespeed.io command and monitor the network tab from dev tools ---> I could see from browser that the expected link is getting clicked, however there are no post requests being sent. But when I do the same operation manually - I could see those post requests from network tab.

2) U

[2022-03-02 21:03] soulgalore commented on #3588
And if you try to Run JavaScript to click on the link, what happens then? Like if you manually do the steps in your browser, then as the last step open devtools and run JS to click on the link? And then if that works, use that JavaScript in the script for sitespeed.io?

[2022-03-03 06:13] myanees284 commented on #3588
@soulgalore - Manually, I am able to execute the javaScript from devtools console which does the click on that link and could see the expected page
`document.getElementById('ctl00_c_lnkContinue').click();`

When I add this line as below in the sitespeed script - same old behaviour
`await commands.click.byJsAndWait('document.getElementById(\'ctl00_c_lnkContinue\');')`

[2022-03-03 09:38] myanees284 commented on #3588
@soulgalore -  1 more thing which I found was- When I run the script using sitespeed.io locally and have added longer wait time before clicking the link.Now from the chrome browser(initiated by sitespeed.io)- when I run the JS command manually - same behaviour appears along with error in console:
`VM2275:1 Uncaught ReferenceError: __doPostBack is not defined
    at <anonymous>:1:1`

[2022-03-03 09:49] shaqb commented on #3583
Hi @soulgalore - looks like in the console I am seeing the same. For example:
[code]
That is without the additional header and on Chrome 99, so feels like it could be a Chrome bug?

[2022-03-03 13:54] shaqb commented on #3583
Here's a better example @soulgalore

![image](https://user-images.githubusercontent.com/19668009/156578337-98b3feb3-5f2d-4063-b8ba-e669981daa93.png)

Anyway - enjoy your vacation! Let me know where to raise the bug with Chrome and I will get it raised there.

[2022-03-04 08:45] soulgalore commented on #3588
Could it be that some JavaScript file isn't loaded?

[2022-03-05 11:44] soulgalore commented on #3583
Hi @shaqb thanks, I'm back now. Ok, so do I understand correctly if the trace in devtools is correct but the LCP API gives the wrong number? Arr you in the webperformance.slack.com Slack channel? If not, join and as Yoav directly, I think he implemented it and is interested if there are some edge cases + understands that better than me :)

I can change so we get the LCP number from the trace log f

[2022-03-05 11:49] soulgalore commented on #3583
Ok, the experience report uses the Chrome built in so let me fix so we pickup LCP from the trace.

[2022-03-05 13:51] soulgalore commented on #3583
I did some test with https://chromedevtools.github.io/devtools-protocol/tot/PerformanceTimeline/ (instead of parsing the log) and that works fine, but for the use case when using --headless it seems that only an event for the image is fired and not the cookie banner. The image event has only loading (and not rendered) and I'm thinking maybe that's the case for you too? In your example in https://g

[2022-03-05 15:11] soulgalore commented on #3583
I get the same thing as you. Checked the LCP API:
<img width="790" alt="Screenshot 2022-03-05 at 16 10 46" src="https://user-images.githubusercontent.com/540757/156889215-8193e28a-5d07-44e2-b5f2-9e71d632fa37.png">

But the banner is not reported.

[2022-03-07 09:37] shaqb commented on #3583
Thanks @soulgalore - I can't seem to join - are you able to send an invite link?

[2022-03-07 10:13] shaqb commented on #3583
Hi @soulgalore - this is what I get:

![image](https://user-images.githubusercontent.com/19668009/157011627-069ec5ef-0b84-4979-8c38-6b7ecb83cf31.png)

[2022-03-09 07:56] shaqb commented on #3583
Hey @soulgalore - I hope you had a nice break! Let me know if you need some support in testing this!

[2022-03-09 09:27] soulgalore commented on #3583
@shaqb I'll can send an invite, send me your email address peter AT souldgalore.com.

I haven't tested anymore. The case when I reproduced running headless then there where no LCP event in the trace log for the banner but I could verify in the screenshot that it was there. I can try with running in Docker too the way you do in some time.

[2022-03-11 14:38] soulgalore opened #3598 "Create a tutorial section"
### Feature/improvement

We should be inspired by https://grafana.com/tutorials/ and see if we can rework the documentation and follow some of the structure for Grafana documentation.

[2022-03-11 16:03] soulgalore commented on #3583
Let me do a summary after talking to @shaqb on Slack: The problem in this case is that the LCP API only deliver a loading time for the image and not the render time, and that gives the wrong metrics (and the reason is probably because its served from another domain that do not have [Timing-Allow-Origin](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Timing-Allow-Origin). I did some trie

[2022-03-12 17:13] soulgalore commented on #3578
This is fixed in Browsertime now, waiting on Chromedriver.

[2022-03-14 20:24] shaqb commented on #3583
Hi @soulgalore - what's your view? To get the detail from the trace as with this particular use case (separate domain for static content) the API is only reporting the load time and not the render time?

[2022-03-16 12:49] shasaks opened #3600 "ERROR: VisualMetrics failed to run Error: Command failed with exit code 1: python"
### Have you read the documentation?

- [X] Yes, I've read the [how to make a reproducable bug guide](https://www.sitespeed.io/documentation/sitespeed.io/bug-report/)
- [X] Yes, I've read the [how to debug my script guide](https://www.sitespeed.io/documentation/sitespeed.io/scripting/#debug)

### URL

https://www.chegg.com/books

### What are you trying to accomplish

Running browser performance t

[2022-03-16 16:58] shasaks commented on #3600
@soulgalore Yes, if I use only 4-5 pages then it's working fine.

[2022-03-17 08:13] soulgalore commented on #3600
Thanks for sharing the videos! I tried manually with the one that do not get any visual metrics and it worked, so that is strange. You don't get a error message in your log that starts with "Log from VisualMetrics"? If visual metrics fails, it should read the specific visual metrics log and log it to the standard log, but it seems to be case where it do not work.

In your output folder, do the vis

[2022-03-21 14:03] rohitputhanveetil opened #3601 "SitespeedIO Issue - Getting "ERROR: Caught error from Browsertime error: Page Index out of range”"
I have created a Client side script in Site speed IO  for one of our applications. Reports are getting generated correctly when I run for 1 iteration, but facing the following error during report generation when running for multiple iterations - “ERROR: Caught error from Browsertime error: Page Index out of range” but navigation is happening fine for all the iterations in the UI.

Any pointers/sug

[2022-03-21 17:31] soulgalore commented on #3601
Hi @rohitputhanveetil the “Page index out of range” usually means that a navigation didn’t happen. Do your URLs differ between runs? If the URLs change, you can try giving them an alias (=telling
sitespeed.io they are the same).  There’s been bugs and fixes for that but maybe there’s a case that do not work. If you help me reproduce it I can have a look: https://www.sitespeed.io/documentation/site

[2022-03-22 14:16] shaqb opened #3602 "usr/src/app/Gemfile.lock has packages that contain critical security vulnerabilities"
### Have you read the documentation?

- [X] Yes, I've read the [how to make a reproducable bug guide](https://www.sitespeed.io/documentation/sitespeed.io/bug-report/)
- [X] Yes, I've read the [how to debug my script guide](https://www.sitespeed.io/documentation/sitespeed.io/scripting/#debug)

### URL

n/a

### What are you trying to accomplish

As part of our organisation we run Trivy scans on pub

[2022-03-22 14:32] shaqb opened #3603 "Current version of Ubuntu contains a number of HIGH security issues"
### Have you read the documentation?

- [X] Yes, I've read the [how to make a reproducable bug guide](https://www.sitespeed.io/documentation/sitespeed.io/bug-report/)
- [X] Yes, I've read the [how to debug my script guide](https://www.sitespeed.io/documentation/sitespeed.io/scripting/#debug)

### URL

n/a

### What are you trying to accomplish

When running a trivy scan on the 23.5.0 container, I

[2022-03-22 19:17] shaqb commented on #3603
No worries @soulgalore, and yes that's a good shout on creating our own!

[2022-03-22 21:20] soulgalore commented on #3602
This should be fixed in 23.5.2.

[2022-03-22 21:20] soulgalore commented on #3603
This should be fixed in 23.5.2

[2022-03-23 05:53] shaqb commented on #3603
You are amazing @soulgalore !

[2022-03-23 05:54] shaqb commented on #3602
Thanks so much @soulgalore !

[2022-03-23 19:23] spencercarr opened #3608 "Add the URL alias to the budget tab"
### Feature/improvement

Currently in the Sitespeed reports the Budget tab tables have two columns - URL & Result. It would be great if we could add the URL Alias as the first column on the table, similar to the table on the Pages tab.

[2022-03-23 19:42] spencercarr commented on #3608
Oops, looks like this is a duplicate, apologies. https://github.com/sitespeedio/sitespeed.io/issues/3571

[2022-03-23 19:42] #3608 closed

[2022-03-24 12:24] shasaks commented on #3600
@soulgalore No visual metric log exists in the output folder.

[2022-03-26 10:13] pedrolgon opened #3612 "Different lighthouse performance score executing with browser chrome or node in the same machine"
### Your question

I Alll

I put this question in the plugin-litgthouse section

https://github.com/sitespeedio/plugin-lighthouse/issues/102#issue-1181038853

anyone can help me?

Regards,

[2022-03-26 18:32] soulgalore commented on #3612
I added a comment in the original issue. For others please see the Lighthouse docs https://github.com/GoogleChrome/lighthouse/issues/10657

[2022-03-26 18:32] #3612 closed

[2022-03-26 18:32] #3603 closed

[2022-03-26 18:32] #3602 closed

[2022-03-28 10:03] pedrolgon commented on #3612
Hi,
Thanks so much
I read the issue but my problem is not the same
The score between different executions in node or docker is the same
but when I execute the lighthouse in the browser the score is always higher and this is a problem for us.
is this an usual behavior?
Regards,
Pedro

[2022-03-28 15:43] soulgalore commented on #3612
Hi Pedro I think you should ask in https://github.com/GoogleChrome/lighthouse - I think they know better what's the difference between running directly in Chrome vs from NodeJS

[2022-03-29 09:48] soulgalore opened #3613 "Add documentation for how to interpret the waterfall chart"
### Feature/improvement

We are missing documentation how to understand the waterfall chart. We should explain what the different colors mean, what you can see by clicking on the difference parts etc.

[2022-03-30 05:33] shaqb opened #3614 "Block specific url"
### Feature/improvement

Hi @soulgalore - in WebPageTest there is the ability to block a url (or any url containing a specific substring).
Sitespeedio currently allows blocking by domain which is great, but would it be possible to also add blocking by url (or url containing substring)?

[2022-03-30 08:25] soulgalore commented on #3614
Hi @shaqb the good news is that the functionality is already there for Chrome/Edge but I think the documentation could be better.

This example block the two JavaScript files that sitespeed.io uses:
`sitespeed.io https://www.sitespeed.io -n 1 -o --browsertime.block "https://www.sitespeed.io/js/clipboard-2.0.4.min.js" --browsertime.block "https://www.sitespeed.io/js/prism-1.15.js"`

[2022-03-30 09:32] shaqb commented on #3614
Ah nice one @soulgalore !

[2022-03-31 11:43] shasaks opened #3616 "ERROR: Could not find the right index 3 for har for url"
### Have you read the documentation?

- [X] Yes, I've read the [how to make a reproducable bug guide](https://www.sitespeed.io/documentation/sitespeed.io/bug-report/)
- [X] Yes, I've read the [how to debug my script guide](https://www.sitespeed.io/documentation/sitespeed.io/scripting/#debug)

### URL

https://www.chegg.com/study/qa

### What are you trying to accomplish

Running below script for t

[2022-03-31 17:43] moulaligithub commented on #3465
Is there any new workaround to handle multiple windows/tabs for report generation.

[2022-04-01 09:20] soulgalore commented on #3614
@shaqb have you been able to test? Wanna make sure it works for you before I close it :)

[2022-04-01 09:23] soulgalore commented on #3616
Is this the same as #3600 ? I run into the verification page https://github.com/sitespeedio/sitespeed.io/issues/3600#issuecomment-1069178228 when I try to reproduce. Could you please show me exact how you run also?  Thanks!

[2022-04-01 10:59] shaqb commented on #3614
Hi @soulgalore - I just took your comment as confirmation that it all works! Let me test it now though :)

[2022-04-01 11:07] shaqb commented on #3614
Works a treat @soulgalore - I was able to block an individual js from our site and use wildcard to block all js. It's amazing how fast it loads without any js 😂
Feel free to close!

[2022-04-01 11:35] #3614 closed

[2022-04-01 13:52] wiibe opened #3617 "ERROR: TypeError: Cannot read properties of null (reading 'replace')"
Hi guys i am walking in to a problem when i am outputting budget to a junit xml file.

### What are you trying to accomplish

I'm trying to output the performance budget to an junit file and i am getting the following error:

[code]

### Complete output

[code]

### Specs

- Docker Desktop 4.6.1 (76265)
- macOs Monterey 12.3.1
- MacBook Pro 16-inch 2021
- Chip Apple M1 Pro

- Also tested on a iInt

[2022-04-05 17:08] soulgalore opened #3618 "Page where visual metrics fails get this error when trying to pick a page."
[code]

[2022-04-05 17:09] soulgalore commented on #3617
Hi @wiibe thanks for creating the issue, I'll have a look ASAP.

[2022-04-05 17:32] soulgalore commented on #3617
Thank you @wiibe for taking the time and make a really good bug report! I caused the bug when I implemented some better support for alias in the budget file. It's fixed in #3620 and I hope to release the later today.

[2022-04-05 17:45] soulgalore commented on #3617
The release will be tomorrow then I can push a couple of other changes.

[2022-04-06 18:30] #3618 closed

[2022-04-06 18:31] soulgalore commented on #3617
Released in 24.0m @wiibe please let me know when you have tested it!

[2022-04-06 19:15] LAlejandro8 opened #3622 "I can't close file explorer window when I try to upload a file with sitespeed io docker image 16.8.0"
### Your question

Hey guys, I'm using the following line to upload a file:

'''await commonUtils.driver.findElement(commonUtils.webdriver.By.xpath(xpath)).sendKeys(file_path);'''

This actually works but when I run it, the file explorer window shows up and doesn't close. :(

![image](https://user-images.githubusercontent.com/10155073/162051416-dfe38724-f8ae-4800-89df-62d7fddb896b.png)

Help!!!

[2022-04-06 19:52] soulgalore commented on #3622
Hi @LAlejandro8 I haven't had a use case where I upload a file. Have you searched how people usually do it in Selenium? Maybe send the escape key?

[2022-04-07 07:41] wiibe commented on #3617
@soulgalore Thanks for the quick response and quick fix.

I have tested it in 2 of my projects and it is working as expected now!

Thanks again, and thanks for this great project !

[2022-04-07 17:26] LAlejandro8 commented on #3622
Hi @soulgalore, the escape key didn't work, I tried with other keys like ALT + F4 but no results. I'm searching with the Selenium community. Thanks for your reply.

[2022-04-08 12:39] #3617 closed

[2022-04-10 20:18] i-marchenko opened #3624 "Allow to define sendAnnotation from options"
### Feature/improvement

We use graphite-exporter for prometheus instead of graphite itself.
In case when resultBaseURL is defined there is an error due to exporter does not support graphite api:
` ERROR: Got error from Graphite when sending annotation Error: connect ETIMEDOUT <host>:8080
at TCPConnectWrap.afterConnect [as oncomplete] (node:net:1161:16)
ERROR: Error: connect ETIMEDOUT <host>:8080`

[2022-04-11 06:16] soulgalore commented on #3624
Thank you @i-marchenko for the report, I see, that's something I've missed, let me add a fix for that in the next release.

[2022-04-12 22:11] vs-odessa opened #3626 "Change Grafana auth. settings to allow using of a Basic auth. header"
### Feature/improvement

 Existing configuration of grafana authentication restricts for using API key only, because "Bearer" auth type is hardcoded:

[code]

I propose 2 options to resolve the issue:
1. Preferrable (but breaks compatibility):
To remove Bearer type and set
      `postOptions.headers.Authorization = options.grafana.auth;`
It will allow using both auth: types by setting grafana.auth

[2022-04-12 22:16] vs-odessa commented on #3626
PR for the first option:
https://github.com/sitespeedio/sitespeed.io/pull/3627

[2022-04-13 18:06] soulgalore commented on #3626
Hi again @vs-odessa thanks for creating the issue (and the PR)! I added a comment in the PR, maybe there's a way to do your fix and make it backward compatible.

Best
Peter

[2022-04-14 14:07] vs-odessa commented on #3626
https://github.com/sitespeedio/sitespeed.io/pull/3627 is updated according to @soulgalore 's comment.

[2022-04-18 18:52] zzhao2010 opened #3632 "Issue with running multiple scripts"
### Your question

I was trying to run multiple scripts. It worked as expected when I was testing using the wikipedia example. Below is my scripts that worked for wikipedia page.
docker run --rm -v "$(pwd):/sitespeed.io" sitespeedio/sitespeed.io:24.0.0 --multi login.js wikipedia.js
login.js
[code]
wikipedia.js.. **Note: I added extra navigate and click steps below, and it still worked as expected.

[2022-04-18 18:57] zzhao2010 commented on #3632
Note:
I tried to combine this 2 scripts into 1 to test my salesforce page again, and it worked just fine. So I don't understand why the same steps worked for wikipedia, but not for salesforce.

[2022-04-19 01:26] soulgalore commented on #3632
Hi @zzhao2010 it looks like you tried to click on an element that do not exist. There are some guidelines https://www.sitespeed.io/documentation/sitespeed.io/scripting/#debug on how you can debug your script.

[2022-04-19 15:01] vs-odessa commented on #3626
Merged

[2022-04-19 15:01] #3626 closed

[2022-04-20 17:56] #3632 closed

[2022-04-29 11:43] gregorywolf opened #3642 "First vs Third Party is Missing"
### Have you read the documentation?

- [X] Yes, I've read the [how to make a reproducable bug guide](https://www.sitespeed.io/documentation/sitespeed.io/bug-report/)
- [X] Yes, I've read the [how to debug my script guide](https://www.sitespeed.io/documentation/sitespeed.io/scripting/#debug)

### URL

https://www.att.com

### What are you trying to accomplish

I have been running sitespeed v 24.0.

[2022-04-29 12:08] soulgalore commented on #3642
Hi @gregorywolf thanks for creating the issue! Can you show me exact what value you use for the firstParty switch _(\.(coachoutlet)|.)_ seems to be for another site?) When I run:

`docker run --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io:24.3.0 https://www.att.com -n 1`

I get the first party data:
<img width="1223" alt="Screenshot 2022-04-29 at 14 04 59" src="https://user-images.githubu

[2022-04-30 07:31] soulgalore commented on #3642
Hmm strange if I run with:
`docker run --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io:24.3.0 https://www.att.com -n 1 --firstParty "\.(att)\.(com)"`

I get that data:
<img width="1257" alt="Screenshot 2022-04-30 at 09 25 47" src="https://user-images.githubusercontent.com/540757/166096287-2021526a-9d42-47e8-8712-f790efe4d3a0.png">

By default if you do not set a firstParty reg it uses the

[2022-05-01 12:06] gregorywolf commented on #3642
@soulgalore I seem to have hit an issue that I cannot figure out. I have read your comments and can see clearly that you are successfully using the `firstParty` . Unfortunately I am not having the same success. On my system (CentOS 7) regardless of the syntax the First Party information is being ignored. I have now confirmed this is happening on any version of Sitespeed being executed. I have just

[2022-05-01 13:08] soulgalore commented on #3642
I think the reason is that the regex you are using isn't matching any requests? Have you tried it with for example https://regexr.com to verify? I checked the sitespeed.io code and if there's no matching requests, that's the current behaviour. I will change so if there's no matching requests we will see that in the HTML.

[2022-05-02 17:47] zzhao2010 opened #3644 "switch to iframe by xpath"
### Your question

I was trying to use the switch function to switch to different iframes in the page. However it didn't work as expected.
I had to use xpath because there is no id attribute defined for the iframe that I wanna switch to. As the example shows below, I had to switch to a child iframe inside a frame. It didn't throw out exception but it didn't work because the iframe and targetIframe

[2022-05-03 13:17] soulgalore commented on #3644
Hi @zzhao2010 thanks for creating the issue!

For the thing were you can't switch using `commands.switch.toFrame` what's the easiest way I can reproduce that?

Can you share your full script, its hard to guess what is happening? Can you share more what you are trying to accomplish?

[2022-05-03 22:31] gregorywolf commented on #3642
@soulgalore I have had a chance to do some extensive testing. I am successfully able to use `--firstParty` but there seems to be some nuances that perhaps you can comment on. The way I got it to work was to use a single `--firstParty` line such as the following:
![Screen Shot 2022-05-03 at 6 05 30 PM](https://user-images.githubusercontent.com/8494683/166576396-ee3b5f12-7ee6-4400-8789-a031d0eeee31.

[2022-05-04 14:06] soulgalore commented on #3642
Hi @gregorywolf there's two different technologies used here and I think that is confusing and maybe we could change that but I need to look into the code how it works. However I don't think that is the reason for the first issue?

First there's the regular expression that defines the firstParty. That is used to categorise each request as first/third party. If you test multiple URLs it will automa

[2022-05-04 14:46] gregorywolf commented on #3642
@soulgalore Wow Not sure what happened but something just clicked. I now realize that the easiest thing to do is DO NOT use `--firstParty` at all. I just tested not using it with a list of URLs with diverse and different TLDs and everything was match correctly. I think any additional wording to help clarify things would be helpful.

The one thing that is still not totally clear is this what is the

[2022-05-04 19:10] soulgalore commented on #3642
Great, I added that do the `--help` just now so you can actually understand what's used if you do not set --firstParty.

Today you can only do that by a big regular expression. I understand the need but right now I don't have a good pattern for the implementation, but if you could create a separate issue for that, that's a good start and I think how we could do it!

[2022-05-05 20:30] zzhao2010 commented on #3644
@soulgalore Any updates for this issue?

[2022-05-06 16:37] soulgalore opened #3646 "Firefox in ARM container stopped working"
There's something that happened to the Firefox install on ARM, the container do not work. It's the same in the Browsertime container.

[2022-05-11 07:06] soulgalore commented on #3646
This was fixed by reverting to Ubuntu 20 as base container.

[2022-05-11 07:06] #3646 closed

[2022-05-11 07:14] soulgalore commented on #3644
@soulgalore sorry I didn't look since there wasn't an easy way to reproduce.

Looking at the Selenium docs, it looks like the id is "A number that specifies a (zero-based) index into window frames and not the id of an element"?  https://www.selenium.dev/selenium/docs/api/javascript/module/selenium-webdriver/lib/webdriver_exports_TargetLocator.html - do that work if you try?

For the code in your e

[2022-05-11 11:25] grantyoung opened #3649 "Cannot read properties of undefined (reading 'cumulativeLayoutShift')?"
### Your question

We're getting the following error today on our daily test pipeline:

[code]

Bizarrely this didn't happen yesterday on the same new SiteSpeed version (24.6.0) but it happens each time today and I can't recreate it locally.

Any guidance on what could cause this error to help investigate? Thanks.

[2022-05-11 11:44] soulgalore commented on #3649
Hi @grantyoung it looks like that the JavaScript that runs in the browser to collect the layout shift data (and other page info data) didn't collect anything, I can add one extra check there but I wonder if you don't get any errors earlier than that?

[2022-05-11 11:49] grantyoung commented on #3649
Funny enough I did have an earlier on second look sorry:

[code]

[2022-05-11 11:56] soulgalore commented on #3649
I see now I recently added automatic supports for getting largest contentful paint from the video but my guess is that its a use case that I missed where Chrome have data in the LCP API but do not have the element, let me fix that ASAP.

[2022-05-11 12:54] soulgalore commented on #3649
@grantyoung I just pushed  24.7.0 that I hope fixes your problem. I must have been sloppy when I read the LCP API spec and missed that it sometimes do not deliver an element (or its a bug in Chrome, I'll check that later). It will be on the Docker hub when https://github.com/sitespeedio/sitespeed.io/actions/runs/2307148688 is finished.

[2022-05-11 12:59] grantyoung commented on #3649
Many thanks, I'll try to get this checked ASAP.

[2022-05-12 11:48] gregorywolf opened #3651 "Extending FirstParty Configuration"
### Feature/improvement

I am creating a new feature request as an extension of #3642. Currently the `--firstParty` directive can be used to include every possible first party call that may be encountered. This is not too difficult to do if a single TLD is tested. The best approach is to not use the `--firstParty` attribute initially and then add specific TLDs after reviewing the results.

However

[2022-05-12 11:49] gregorywolf commented on #3642
Hi @soulgalore. I have just created a new issue for a feature request that extends this conversation for first parties.

https://github.com/sitespeedio/sitespeed.io/issues/3651

[2022-05-12 16:47] soulgalore commented on #3651
Hi @gregorywolf , what I'm struggling with is to find a good pattern for the configuration?

[2022-05-12 17:31] gregorywolf commented on #3651
Hi @soulgalore, I don't follow. Please provide some more context for your question. Are we talking about RegEx specially or just in general how something like this capability would come into play?

[2022-05-13 09:12] soulgalore commented on #3651
I'll try explain after the weekend!

[2022-05-17 17:02] ceddlyburge opened #3653 "Error: "One or multiple URLs or scripts" when using config.json"
### Have you read the documentation?

- [X] Yes, I've read the [how to make a reproducable bug guide](https://www.sitespeed.io/documentation/sitespeed.io/bug-report/)
- [X] Yes, I've read the [how to debug my script guide](https://www.sitespeed.io/documentation/sitespeed.io/scripting/#debug)

### URL

https://www.peter-emery.com/

### What are you trying to accomplish

I am trying to run sitespeed

[2022-05-19 05:54] shaqb commented on #3653
Hi @ceddlyburge - you will need to pass your urls in a different file and add that to the command line.

For example you could have a urls.txt that looks like this:

[code]
Note, I have added a page label ('Homepage', 'Work') to your urls so they're easier to see in the report, but these can be omitted.

Then to call this on the command line you can run `sitespeed.io --config config.json urls.txt`

[2022-05-19 07:08] ceddlyburge commented on #3653
Thanks Shaqb :)

[2022-05-19 09:02] shaqb opened #3654 "Budgets for group of Pages"
### Feature/improvement

Currently there is way to define a budget.json in the following format for a particular url/alias:

{
 "budget": {
   "myAlias": {
      "timings": {
        "SpeedIndex": 3000
      }
    },
    "timings": {
      "SpeedIndex":1000
    }
 }

We're rolling out sitespeed.io across our entire organisation and the common request coming back is it is possible to have the budge

[2022-05-19 20:13] soulgalore commented on #3654
Hi @shaqb thanks for creating the issue. Hmm, I need to think about how this can be done, let me come back about it after the weekend.

[2022-05-20 06:57] shaqb commented on #3654
Thanks @soulgalore!

[2022-05-20 14:54] soulgalore opened #3659 "Missmatch between latestStorer plugin and "path" in Grafana"
Today we do use the "path" type in Graphite/Grafana in the latestStorer plugin, which means we could have two tests with different data but we display the same video/screenshot.

[2022-05-22 09:42] soulgalore commented on #3651
Today we do not have a way of providing extra information per URL that you test that are specific to that URL. You can build that yourself in a script, but there's no way with command line parameters as I understands it. I think what could work would be to add that first party configuration with a new JSON configuration, something like:

1st parties:
[code]

[2022-05-22 09:44] soulgalore commented on #3653
Thank you @shaqb !

Today we do not support having the URLs in the config, I think it's a use case that I missed.

[2022-05-23 13:57] soulgalore commented on #3624
This was pushed in a couple of releases ago.

[2022-05-23 13:57] #3624 closed

[2022-05-23 14:48] monika-pietrosian opened #3662 "When trying to run a function that is imported from a class from a separate file, a browser session cannot be succesfully initiated"
### Have you read the documentation?

- [X] Yes, I've read the [how to make a reproducable bug guide](https://www.sitespeed.io/documentation/sitespeed.io/bug-report/)
- [X] Yes, I've read the [how to debug my script guide](https://www.sitespeed.io/documentation/sitespeed.io/scripting/#debug)

### URL

www.google.com

### What are you trying to accomplish

When trying to run a function that is impo

[2022-05-23 15:38] soulgalore commented on #3662
Hi @monika-pietrosian thanks for taking the time to write a so detailed bug description that helps a lot!

In your first script change:
`User.loginWithPerformanceAccount();` to `return User.loginWithPerformanceAccount();` (return a promise that will be a success when the navigation finish)  or if you will run some other commands after that use `await User.loginWithPerformanceAccount();`.

What hap

[2022-05-23 16:06] monika-pietrosian commented on #3662
Ouuu yes, it helped a lot :). I wouldn't call it a bug anymore then, but if someone else would struggle with it maybe they can find it here in the closed issues :). Thank you!

[2022-05-23 16:06] #3662 closed

[2022-05-23 16:20] soulgalore commented on #3662
I'm gonna update the documentation so we have a section explaining when to use awaity/return etc.

[2022-05-24 06:09] JosueMal opened #3663 "Configure https grafana docker-compose"
### Your question

Hi,
I would kike to know if are there a tutorial or docker-compose file version, with the configuration for HTTPS in grafana?

Regards,
Josue

[2022-05-24 06:32] soulgalore commented on #3663
Hi @JosueMal I think the easiest is to use a reverse proxy as in https://grafana.com/tutorials/run-grafana-behind-a-proxy/

Best
Peter

[2022-05-24 06:41] JosueMal commented on #3663
Hi @soulgalore thanks for the advice, let me check into the documentation.

I forgot to mention, that I am using your sitespeed docker-compose file, and also I am collecting some data for some pages, I just would like access thru HTTPS to grafana. But let me check into the documentation

Regards,
Josue M

[2022-05-24 06:56] soulgalore commented on #3663
Ok! For https://dashboard.sitespeed.io we use the reverse proxy setup with nginx described in the Grafana docs.

[2022-05-24 10:12] gregorywolf opened #3664 "Ability for --outputFolder and --copyLatestFilesToBase to Co-exist"
### Feature/improvement

Hello - I use `--slug` for all of my tests which works great. When doing so it uses this value as part of the sitespeed-result output folder. In my use case `--slug` will always stay the same. However, the underlying test names will always change. Consequently all of the results get "lumped" into a common sitespeed-result/slugname folder structure only differentiated by ti

[2022-05-24 15:18] soulgalore commented on #3664
Hi @gregorywolf I think there's maybe an option that is missing? `--outputFolder` creates the new folder and put the result flat directly under that folder (that's nice if you are running in a CI and want to have a easy way to know where the result ends up), where the hack `--copyLatestFilesToBase` copy some of the files (that is used in Grafana) to the sitespeed-result dir.

A new option could be

[2022-05-24 19:31] gregorywolf commented on #3664
@soulgalore I use the `--copyLatestFiles` to ensure that i can view the result images from Grafana dashboards. In the current output scenario, I actually `mv` the images to a desired location, which is why I am not showing them in the current output scenario.  I also use `--slug "US-East"` which is why US-East is under the `sitespeed-result`.  I need to continue using the slug option since US-East

[2022-05-25 10:27] gregorywolf commented on #3664
@soulgalore Was the information I provided sufficient? Any idea on the complexity and/or whether this is feasible in the near term?

[2022-05-26 17:40] JosueMal opened #3666 "Video and Screenshot is not working with docker"
### Your question

Hi,

I have a ubuntu server and I am running the sitespeed docker-compose version, and all the metrics are collecting well, except the screenshot and the video does not show it in the Grafana dashboard (Page metrics desktop), should I run the docker command with a specific option? or should I install something?

Regards
Josue M

[2022-05-27 06:13] soulgalore commented on #3666
Hi @JosueMal here are the documentation for that: https://www.sitespeed.io/documentation/sitespeed.io/performance-dashboard/#how-to-get-the-latest-videoscreenshot-visible-in-grafana

Please let me know how that works out for you so I can improve the documentation!

Best
Peter

[2022-05-27 06:46] JosueMal commented on #3666
Hi @soulgalore,

In fact, I was checking that documentation, and I would like an example of how should I set the variable --resultBaseURL
I can understand that it should match with the variable resulturl, but the same question, what is the value of this variable?

I see the screenshot and video (mp4) files generated on the sitespeed-result folder, but seems is not painting in Grafana dashboard

Th

[2022-05-27 09:18] vs-odessa commented on #1267
@soulgalore Can't find another similar issue, maybe there are some updates here
1) Is it possible to set a non-0 exit code on any error that occurred in the Sitespeed test without budget config?
2) If exit code can be managed only with budget config - is it possible to configure it or errors number or percentage?

[2022-05-27 10:10] vs-odessa opened #3667 "Set exit code status according to sitespeed test command errors criteria"
Currently, by default sitespeed test always has the successful exit status code 0 despite any errors that occurred during commands execution (navigate, click, wait by, etc.).
So, if something went wrong (for example, some web element can't be found or clicked) - eventually we get a successful test run anyway.
As I see, the exit status code can be managed by different criteria using budget configur

[2022-05-27 11:54] soulgalore commented on #3667
Hi @vs-odessa if you create an error in your scripting https://www.sitespeed.io/documentation/sitespeed.io/scripting/#error-handling sitespeed.io will exit with an error (I need to update the documentation), is that something that works for you?

[2022-05-27 12:37] soulgalore commented on #3666
Ah I see. For example on https://dashboard.sitespeed.io when we run our tests, we upload all the result files to S3, so then we set `--resultBaseURL` to the URL for the S3 bucket. If you run your test on a server and serve the result yourself using a webserver (that is not setup automatically in the docker compose file) you need to set the URL to that web server. I see that the example is missing

[2022-05-27 16:41] vs-odessa commented on #3667
Hi @soulgalore Hmm, it works, but somehow it was suppressed by the following code and turned again to 0, will investigate it...
What is the expected behavior after setting a custom error - should it  continue next steps in iteration, start a new iteration, or completely stop the test run?

[2022-05-27 17:01] soulgalore commented on #3667
Aha I see. It actually continues on with the next iteration, maybe we should make that configurable.

[2022-05-27 17:03] soulgalore commented on #3666
Ok how do you access the VM instance by https? You need to set that to the full URL in Grafana for that to work.

[2022-05-27 17:50] JosueMal commented on #3666
it's http for now, should include any port? and how/where set the URL in grafana?

[2022-05-27 18:44] soulgalore commented on #3666
There are pre-made variables in Grafana for the dashboard, there are some examples here (look for the resulturl): https://www.sitespeed.io/documentation/sitespeed.io/performance-dashboard/#setup-your-own-user-journey-dashboard

If it's something else that port 80, include it! So your `--resultBaseURL` value need to match the Grafana variable `resulturl` exactly.

[2022-05-27 20:08] JosueMal commented on #3666
Hi, sorry to bother you too many times :-(

but the files (screenshot and video) are stored locally on my laptop (C:/sistespeed/mytestpage/), and the access to grafana is  http://localhost:3000

so, my resulturl variable should be: **http://localhost:3000/C:/sistespeed/mytestpage/** ?

[2022-05-28 05:38] soulgalore commented on #3666
No problem, I need to update the instructions so they are better, I'll try do do that. I'm not sure on Windows locally but maybe [C:/sistespeed/mytestpage/](C:/sistespeed/mytestpage) works? Else you need to have another http server that serves that data (that how it works when you set it up on a server). I'll try to update the documentation later tonight.

[2022-05-30 16:01] JosueMal commented on #3666
Hi @soulgalore

thanks to clarify my concern, if you could upload some instructions about how to configure the Bucket (in GCP/AWS) and how to configure it in grafana that would be great, and also with an example.

I will create a google cloud storage to store the files and then configure grafana to reach this bucket.

Regards

[2022-05-30 18:55] soulgalore commented on #3666
There are some documentation here: https://www.sitespeed.io/documentation/sitespeed.io/gcs/ and https://www.sitespeed.io/documentation/sitespeed.io/s3/

[2022-05-31 16:12] kmaqsudi opened #3668 "sitespeed 24.9.0-plus1 throwing the following error for resultsbaseURL"
### Have you read the documentation?

- [X] Yes, I've read the [how to make a reproducable bug guide](https://www.sitespeed.io/documentation/sitespeed.io/bug-report/)
- [X] Yes, I've read the [how to debug my script guide](https://www.sitespeed.io/documentation/sitespeed.io/scripting/#debug)

### URL

https://www.bedbathandbeyond.com/store/s/toaster-oven?ta=typeahead&bx=off&wmSkipPwa

### What are

[2022-05-31 17:42] soulgalore commented on #3668
Hi @kmaqsudi thanks for creating the issue! Hmm I don't recall any changes lately for resultBaseURL so I wonder what it could be. Can you run it at your side with `--verbose`  and then look in the log for **DEBUG: [sitespeedio] Running with options:**  - then all options are logged, can you check that the resultBaseURL is picked up correctly by the cli (check that resultBaseURL has the right value

[2022-06-01 06:26] soulgalore commented on #3666
Hi @JosueMal this seems to be a bug in Ubuntu with OpenSSL, there's seems to be a workaround by adding  `OPENSSL_CONF=/dev/null`, I can do that for the next release but if you can try that first that would be great.  I think you could try that by adding `--env OPENSSL_CONF=/dev/null` so in your example it should be `docker run --rm -v "$(pwd):/sitespeed.io" --network=host  --env OPENSSL_CONF=/dev/

[2022-06-01 17:26] soulgalore commented on #3664
Sorry I haven't had time look at it yet to see how much work it is, I could probably estimate it later this week.

[2022-06-01 17:32] soulgalore commented on #3666
@JosueMal I think it easiest if you open devtools in Grafana and then check what's the URL for the video/image in the network tab and see if it actually matches where the data ends up.

[2022-06-02 02:14] JosueMal commented on #3666
@soulgalore thank you very much for all your support, finally, I can see the printscreen and the video on the dashboard

[2022-06-03 09:18] soulgalore commented on #3666
Sorry @JosueMal that it didn't work out of the box. I'll keep the issue open until I have added documentation so its easier for the next person.

[2022-06-03 12:07] ankur762 opened #3669 "ERROR: Caught error from Browsertime TypeError: Cannot read properties of null (reading 'split')"
### Have you read the documentation?

- [X] Yes, I've read the [how to make a reproducable bug guide](https://www.sitespeed.io/documentation/sitespeed.io/bug-report/)
- [X] Yes, I've read the [how to debug my script guide](https://www.sitespeed.io/documentation/sitespeed.io/scripting/#debug)

### URL

abc

### What are you trying to accomplish

Create a sitespeed script to for UI performance, Scri

[2022-06-03 12:10] ankur762 opened #3670 "ERROR: Caught error from Browsertime Error: PageIndex out of range"
### Have you read the documentation?

- [X] Yes, I've read the [how to make a reproducable bug guide](https://www.sitespeed.io/documentation/sitespeed.io/bug-report/)
- [X] Yes, I've read the [how to debug my script guide](https://www.sitespeed.io/documentation/sitespeed.io/scripting/#debug)

### URL

abc

### What are you trying to accomplish

Create a sitespeed script to for UI performance, Scri

[2022-06-03 12:42] soulgalore commented on #3670
Hi @ankur762 thanks for the detailed report!

One thing I noticed is that when you run `commands.measure.start` that is suppose to measure a new page view., navigating to a new page. If you use it in SPA application, you need to at least have one request that happens, so sitespeed.io internally can create a new "page" for that data. In  you code` await commands.measure.start('Enter Details');` I'm

[2022-06-03 19:20] JosueMal commented on #3666
ok, please let me know if I can help you to improve your process.

[2022-06-04 05:03] prashantgautam96 opened #3671 "getaddrinfo ETIMEDOUT locahost"
### Your question

i am getting the error--
 getaddrinfo ETIMEDOUT locahost
while doing a post request can anybody help me here is the data
`router.put("/:id", async (req, res) => {
  if (req.body.userId === req.params.id) {
    if (req.body.password) {
      const salt = await bcrypt.genSalt(10);
      req.body.password = await bcrypt.hash(req.body.password, salt);
    }
    try {
      const upd

[2022-06-07 06:48] soulgalore commented on #3664
I haven't forgot this.

[2022-06-07 09:17] ankur762 commented on #3670
Hi @soulgalore , I tried above thing but still getting the same error,
**const stopWatch = commands.stopWatch.get('EnterDetails');
    // await commands.measure.start('Enter Details');
    stopWatch.start();**
    await commands.mouse.clickAndHold.byXpath("//div[@class='flex-auto-grow-shrink full-width full-width formFocusable serviceAdvisor undefined css-2b097c-container']/div[1]/div[1]/div[2]/di

[2022-06-07 11:59] shawneenc opened #3674 "Error returned when running sitespeed from node modules : ERROR: Could not setup the Chrome Devtools Protocol Error: connect ECONNREFUSED ::1:9222"
### Have you read the documentation?

- [X] Yes, I've read the [how to make a reproducable bug guide](https://www.sitespeed.io/documentation/sitespeed.io/bug-report/)
- [X] Yes, I've read the [how to debug my script guide](https://www.sitespeed.io/documentation/sitespeed.io/scripting/#debug)

### URL

https://shawneentest-org.front.release.squads-dev.com

### What are you trying to accomplish

Run

[2022-06-07 14:49] gregorywolf commented on #3664
All good. I know you are very busy. Much appreciated for the update. Thank you.

[2022-06-08 06:23] soulgalore commented on #3674
Hi @shawneenc I think it could be a running Chrome instance that occupies that port. Can you try kill them all with `pkill Chrome` ?

[2022-06-08 08:28] soulgalore commented on #3674
Ok! Does it work if you test just one page?

Can you check if something else is using that port?

`sudo lsof -PiTCP -sTCP:LISTEN`

Then when I get some output like:
`Google    66227 peter   20u  IPv4 0x5eef6f28e6657525      0t0  TCP localhost:9222 (LISTEN)`

[2022-06-08 09:57] shawneenc commented on #3674
Hi @soulgalore,

There is nothing else using that port:
COMMAND     PID     USER   FD   TYPE             DEVICE SIZE/OFF NODE NAME
launchd       1     root    7u  IPv6 0xac39ff5cb7ce862f      0t0  TCP *:22 (LISTEN)
launchd       1     root    8u  IPv4 0xac39ff5cb7cf2cbf      0t0  TCP *:22 (LISTEN)
launchd       1     root   10u  IPv6 0xac39ff5cb7ce862f      0t0  TCP *:22 (LISTEN)
launchd       1

[2022-06-08 10:07] shawneenc opened #3676 "How can I measure something on a separate page without measuring the actual page load as well"
### Your question

Hi @soulgalore,

I have a script where I need to do 2 measurements :
1. Load page and measure
2. Expand a dropdown on the page and measure this in a separate start/stop method

Currently sitespeed.io does not allow me to navigate to the URL for the page before I start the measurement.  I.e. the navigation has to go before the start command, like so :

[code]

[code]

For the 2nd

[2022-06-09 07:40] shawneenc commented on #3676
Hi @soulgalore ,

Any update on this?  This is impacting my tests and I cannot find a work around.  Currently when I want to take the measurement for the dropdown expansion, I have to include loading the page beforehand and I really do not want to do this, as its not a valid measurement/test

[2022-06-09 08:51] soulgalore commented on #3676
Hi @shawneenc have you tried https://www.sitespeed.io/documentation/sitespeed.io/scripting/#stop-watch that measures things that are not a navigation? That measurement are then added to the result of the page that you tested just before the stop watch.

[2022-06-09 08:57] shaqb commented on #3654
Hey @soulgalore - sorry for the delay - was on a long holiday with my family!
If you need a beta tester for your online version of sitespeed.io, I'll happily volunteer!

[2022-06-09 09:34] shawneenc commented on #3676
Hi @soulgalore,  This solution gives me the same results as I am getting, as I only have the option to  navigate to a page and then take the 2nd measurement.  Result is that both tests are measured and bundled as 1 in 1 page

The second measurement I want to take needs to be on its own

[2022-06-09 13:39] soulgalore commented on #3671
Closing, I don't see how this has anything to do with sitespeed.io.

[2022-06-09 13:39] #3671 closed

[2022-06-09 13:42] soulgalore commented on #3676
I don't full understand that part, you mean you do not want to measure any navigation at all, you only want to measure a dropdown expansion?

[2022-06-09 14:06] shawneenc commented on #3676
Hi @soulgalore,

I want to only measure the expansion on the page, so I want to have navigated to the page before starting the measurement, like so:
[code]

Sitespeed will not allow me to do this, as when I start the measurement, I am not navigating to / loading a new page.

Is there a work around i can use here?  I DO NOT want the loading of the page and the expansion of the dropdown (which is 10

[2022-06-09 22:18] Icecold777 commented on #3676
Hi, @shawneenc that's well known for SPA pages issue (or actions made using JS without page URL change).

there is a pretty straightforward workaround - force update page URL using selenium just after measure.start.

this piece of code should do the trick

`
const webdriver = context.selenium.webdriver;
const driver = context.selenium.driver;

const updateURL = async () => {
	const currentURL = aw

[2022-06-09 22:31] Icecold777 commented on #3670
Hey @ankur762 actually that's not a bug but a feature)

Looks like you are trying to measure 3 actions that do not change the page URL (some JS action or SPA navigation). Examine your e2e manually, I'm pretty sure you'll find out such cases.
Sitespeed tracks and saves HARs if see that the page URL was changed.

Please take a look at a piece of code that I provided here https://github.com/sitespeed

[2022-06-10 12:27] soulgalore commented on #3676
@Icecold777 thanks for the tips! So I would like to add a SPA site to the automatic tests that we run as a GitHub actions as a first step (that first fails until we implement the fix). We have a simple website here https://github.com/sitespeedio/sitespeed.io/tree/main/test/data/html and we should add a SPA example. Could we be lucky that you could provide a small example site? :)

[2022-06-11 20:24] soulgalore commented on #3674
Ok looks like nothing runs on the port, can you share the script so I can try to reproduce?

[2022-06-13 09:16] shawneenc commented on #3674
Hi @soulgalore,

The same error occurs when I try to run any script.  The problem is with launching the chrome browser - this did work up until approx a month agoe when running from node modules.

 I have no issues when running lany of the same scripts locally using the docker command, like:
`docker run --shm-size=2g -v `pwd`:/sitespeed.io sitespeedio/sitespeed.io:11.0.0 --outputFolder assignment_

[2022-06-14 12:57] soulgalore commented on #3664
The problem here is that there are some magic going on between the paths and the variables in Graphite that makes it possible to show videos/screenshot/text depending on which dropdown you choose in Grafana and changing that isn't trivial + uploading to S3/GCS isn't working correctly depending on how you set the output folder. I wanna do one bug take to fix them all but it will mean a lot of work

[2022-06-14 13:26] ankur762 commented on #3670
Hi @soulgalore @Icecold777  thanks for your help, I am able to generate html report for entire transaction.

[2022-06-15 14:06] shawneenc opened #3677 "Major difference in time metrics between different versions of sitespeed"
Hi @soulgalore,

We are currently on version 11.0.0 of sitespeed and looking to upgrade to a newer version.  We have attempted this before, but have constantly come up against many issues with the newer versions.  I.e. major differences in how sitespeed is measuring the rendering and major differences in the metrics produced.

Example when testing with version 24.0.0 vs 11.0.0.  First visual and L

[2022-06-15 21:04] soulgalore commented on #3677
Hi @shawneenc I think you should try to update more often. In the Docker container 11.0.0 Chrome 78 is used (and Firefox 70) and a lot of things changed in the browser since then. For the projects I test I try to be update with the current stable browser version so it matches most of what my users use.

If you want to check what's changed in sitespeed.io since 11.0.0 you can do that in the changel

[2022-06-16 07:28] shawneenc commented on #3674
any update on this @soulgalore - the issue is that node modules is failing to launch the actual browser - it has nothing to do with the script.  The same thing happens when I try to run with all of our scripts

[2022-06-16 13:01] soulgalore commented on #3674
I'm having a hard time to reproduce it? I can make the port configurable in the future (I don't think it is right now) but my guess is that there's something running on your computer? I would make sure to install latest sitespeed.io, latest Chrome, restart the computer and then try to run the tests again.

[2022-06-16 13:08] soulgalore commented on #3677
You need to build the container yourself then.  You can base that container on https://hub.docker.com/r/sitespeedio/webbrowsers/tags (the tags says which browser version that exist in the container).

In your metrics, the first visual change of 167 ms seems really fast, I think that maybe been broken, if you look at the video/screenshot do that metric look correct? You can check the same and see i

[2022-06-20 06:00] ankur762 commented on #3670
@Icecold777 @soulgalore are we going to implement this functionality by default, if yes can you please provide the ETA.

[2022-06-20 11:14] shawneenc commented on #3674
Hi @soulgalore - have tried these things and they didnt work.  Same issues happening for my colleagues also.  Please make the port configurable

[2022-06-20 11:18] shawneenc commented on #3677
Hi @soulgalore,

Can you please explain why sitespeed sometimes takes the last visual change metric at a later point?  I.e. in some instances it is taking it along with the visual completeness metrics and other times it takes it at a later stage.  The screenshots have been included above.  Do you know why sitespeed does this?  Have you encountered any issues like this before?

[2022-06-20 11:40] shawneenc commented on #3676
Thank you @Icecold777,

This worked for me!  :-)

[2022-06-20 20:04] soulgalore commented on #3677
Last Visual Change comes from the Visual Metrics script that analyses the video. Easiest is to check the video and filmstrip and see what that last change actually is. Sometimes it can be hard, we have tuned the number of pixels through the years of how many that needs to be changed to be counted last change. If you find something that doesn’t match, it would be great if you can create an issue fo

[2022-06-20 20:08] soulgalore commented on #3674
Can you please try with `--browsertime.chrome.enableChromeDriverLog` and take the content of that log (it will be named chromedriver.log or something like that) and add it to a gist? See if we can get some more useful info of what goes wrong?

[2022-06-20 20:14] soulgalore commented on #3670
I think a first step is to add an SPA example in https://github.com/sitespeedio/sitespeed.io/tree/main/test/data/html (I think I mentioned that in another issue). If someone could contribute that, it would be great. When we have that, then we can sync with the work Chrome has done in https://chromestatus.com/feature/6232287446302720 (I haven't paid so close attention to it) and then see what's the

[2022-06-21 04:40] soulgalore commented on #3674
Also wanted to check is theer any special reason you don't install the package globally?

[2022-06-21 14:00] shawneenc commented on #3677
Hi @soulgalore,

On further investigation, it looks like with the newer version of sitespeed (24.0.0), the viewport size passed in within the docker command is getting ignored and is waiting for the full page to render/load, as opposed to the viewport screen only..  See filmstrips below:

version 24.0.0:
![image](https://user-images.githubusercontent.com/55998417/174817393-4815824c-682b-4920-b15b-

[2022-06-21 16:50] soulgalore commented on #3677
Ah I see now, thanks. In your example you use` --browsertime.viewPort 1366X768` the correct way according to the docs is to use a lower case x ` --browsertime.viewPort 1366x768` - it seems like a couple of years ago (four?) the capital X also worked but I don't have any memory of that it should, I wonder if that was just by accident. Running `--help` in 11.0.0 also shows a lower case x, right?

[2022-06-21 17:05] shawneenc commented on #3677
Hi @soulgalore when we run from docker - this is the command we use, which has the lower case 'x':
`docker run --shm-size=2g -v /home/ubuntu/workspace/rowser-rendering_shawneen_branch:/sitespeed.io sitespeedio/sitespeed.io:24.0.0 --outputFolder output --speedIndex true --video false --config ./config.json --multi ./tests/lp-multi-v3_cp.js --browsertime.url https://use1-stage-loadtest.stage.percipi

[2022-06-22 09:14] soulgalore commented on #3677
Sorry I'm slow, I don't follow what you show me here? So using lower case x you get the correct view port right?

[2022-06-22 12:36] soulgalore commented on #3677
Yeah but I don't see any difference in the images? Easiest is to try with something small like `--browsertime.viewPort 200x200` and see what it looks like. When I tried yesterday it worked, when I tried with X on 11.0.0 it surprisingly worked too.

When tests ends depends on JavaScript that runs in the browser checkout https://www.sitespeed.io/documentation/sitespeed.io/browsers/#choose-when-to-en

[2022-06-22 12:38] shawneenc commented on #3677
We run these scripts against 3 separate environments.  Within 1 of the environments it worked last week, this week however the exact same script, ran with the exact same parameters is showing the behaviour outlined above.

Looks like the later versions of sitspeed are very flaky

[2022-06-22 12:51] soulgalore commented on #3677
Do I understand correct that you are seeing that the last visual change do not end when something is painted on the screen instead it picks up the scrollbar? If that's the case could you please run with  `--browsertime.videoParams.keepOriginalVideo` and then instead of attach the screenshots, attach the video, then I can try to reproduce it. If you look in the video folder you will have a file nam

[2022-06-22 13:12] shawneenc commented on #3677
Hi @soulgalore,

Both videos attached - the first is the actual incorrect results and the 2nd is the orignal video

1st:
https://user-images.githubusercontent.com/55998417/175037247-9429dec0-2465-421e-aa19-03cd07718db2.mp4

2nd - original video:
https://user-images.githubusercontent.com/55998417/175037319-ffe664b0-2bea-4e96-b23a-5d1ac0dbcd27.mp4

[2022-06-22 13:47] soulgalore commented on #3677
Are you sure that's the original video, that should always start with some orange frames and do not include any timing metrics? Checkout https://github.com/sitespeedio/sitespeed.io/issues/3677#issuecomment-1163058795 on how to get that.

[2022-06-22 14:07] soulgalore commented on #3677
Great, I'll have a look tonight.

[2022-06-22 14:44] shawneenc commented on #3677
with the last set of videos sent from the local run - these are all original videos.

The comment before that - which had 2 videos - the first video is displaying incorrect last visual change

[2022-06-22 21:28] soulgalore commented on #3677
I need to have the original video from the run that gets incorrect visual change, if I have that I can try to reproduce it.

[2022-06-23 07:02] soulgalore commented on #3677
@shawneenc one thing you could try is to use the latest version of visual metrics, we have a version that @gmierz has been working on that we gonna make default later this year, maybe that will pick up the latest change better. If you use the Docker container you can enable that with ` --browsertime.visualMetricsPortable true`.

Else I need the original video from the run that fails, that's the on

[2022-06-23 07:45] shawneenc commented on #3677
Hi @soulgalore the link to download the original video does not work from the results produced from the local run.  I can send you the original video from a run within jenkins.  However this will not be the exact same run the videos above came from.  Jenkins also does not produce the exact set of videos you needed above (i.e. no orange strip an beginning of run) .....  It is still the same page an

[2022-06-23 08:22] soulgalore commented on #3677
Yes there's no need to HTML link to the original video, so you need to copy it from the Jenkins or from where you upload the result. I need the original video, it works like this:
* we record a video of the screen from the browser (original video)
* The video is analysed using visual metrics
* We remove the orange frames, convert the video and add the timer and metrics on top of the video.

To be

[2022-06-23 09:03] shawneenc commented on #3677
@soulgalore from the local run - there is no link to download the original video

[2022-06-23 09:16] soulgalore commented on #3677
Yes you need to supply the original (named original video) from the run where you see that something is wrong. See my comment in https://github.com/sitespeedio/sitespeed.io/issues/3677#issuecomment-1163058795 and the actual screenshot of which video.

[2022-06-23 09:25] shawneenc commented on #3677
@soulgalore I know what you are asking for.  Can you understand what I am trying to explain?

There are issues producing what your are asking for running both locally and from jenkins - a different issue with each one:  - From jenkins the 'original' videos from this: browsertime.videoParams.keepOriginalVideo with the orange strip are not produced
- From the local run - the original video is not pr

[2022-06-23 10:48] soulgalore commented on #3677
I'll try :)

You mean it's not created so there's a bug? Or how do you mean not produced? Or you cannot change the configuration?

Can't you add `--browsertime.videoParams.keepOriginalVideo`? Or how do you run it locally?

[2022-06-23 11:41] shawneenc commented on #3677
video from this is produced in both jenkins and when run locally (I have sent this).  You are also looking for another video though right?

[2022-06-23 11:47] soulgalore commented on #3677
I need the original video where the orange frame is still there and there's no text added from where you test and you see that the last visual change is wrong.  I can see two videos that is attached that has the orange frames but they do not have any late last visual change. Including videos that do not have the issue with late visual change will not help, screenshots will not help. Original video

[2022-06-23 11:49] shawneenc commented on #3677
Video with incorrect last visual change:
https://user-images.githubusercontent.com/55998417/175290929-3c6354d2-8578-494a-b3e6-f9d4dceb0a44.mp4

Video generated from : --browsertime.videoParams.keepOriginalVideo
https://user-images.githubusercontent.com/55998417/175291969-459b4863-65e9-407d-8cbb-9dee825ee039.mp4

[2022-06-23 11:55] shawneenc commented on #3677
@soulgalore

Video generated from --browsertime.videoParams.keepOriginalVideo:
https://user-images.githubusercontent.com/55998417/175292737-0c34e1ac-02ea-47c3-a0cc-18588788cb10.mp4

[2022-06-23 12:02] soulgalore commented on #3677
In that video it doesn't look like the ones you explained as in https://github.com/sitespeedio/sitespeed.io/issues/3677#issuecomment-1161788448 ? If you look at the video, at the end "What would you like to learn today" is changed by a "loading" and that is the last visual change. Or what do you mean is the last visual change?

[2022-06-23 12:20] shawneenc commented on #3677
@soulgalore the problem is that the newer version of sitespeed is taking the last visual change at a place where and when it should not.  I.e. it waits for the while page to load (a page that is out of range of what is displayed on the screen and for what has been set as the viewport).  You can see this from the filmstrips supplied - the scrollbar gets shorter and shorter with every later screensh

[2022-06-23 12:28] soulgalore commented on #3677
Yes there is if you can please please supply the original video from when that is happening, I don't see that in the videos you add. If you can add that video where that happens, then I can probably help. If you add other videos that do not have that symptom its hard to use.

I don't think that is the problem because that's the way it has always worked? It waits until onloadEventEnd fires + 5 seco

[2022-06-23 13:57] shawneenc commented on #3677
@soulgalore

**_"You can see this from the filmstrips supplied - the scrollbar gets shorter and shorter with every later screenshot until the page is fully loaded. Is there nothing else you can do here to fix this? Is there nothing else you can do here to fix this?

Yes there is if you can please please supply the original video from when that is happening, I don't see that in the videos you add.

[2022-06-24 05:37] erickwilder opened #3680 "Broken “Code repository” link in the Open Collective page"
In the open collective page there’s a link with a label “code repository” with incorrectly navigates to the following url

https://github.com/itespeedio

This button can be seen at the top, near the social media icons

[2022-06-24 06:51] soulgalore commented on #3680
Thank you @erickwilder  I've fixed that now.

[2022-06-24 06:56] soulgalore commented on #3677
The screenshots are too small so its hard for me to see exactly what's going on. Either it could be that the scrollbar is picked up, some late content appear on the screen or just a couple of pixel change happens. If I have the original video or a way to reproduce I can have a look. If I can reproduce the same, I can also try to fix it and then verify that it works.

We have instructions on how to

[2022-06-24 11:02] shaqb commented on #3677
Could it be worth removing the scrollbar to see if that's what's being picked up? There's a Chrome switch for that:

`docker run --rm -v "$(pwd):/sitespeed.io" sitespeedio/sitespeed.io:25.2.1 --chrome.args "enable-features=OverlayScrollbar" https://www.sitespeed.io -n 1`

[2022-06-24 13:23] soulgalore commented on #3677
@shaqb cool! To be able to reproduce and verify that a fix works, reproducing/video is really helping.

[2022-06-24 16:35] shawneenc commented on #3677
Thanks @shaqb - needed to be passed in as: `--chrome.args 'enable-features'='OverlayScrollbar' ${url} -n 1 `

This did produce results without the scroll bar, however sitespeed continues to wait for the whole page to load

cc @soulgalore

[2022-06-24 20:25] soulgalore commented on #3677
Where you able to try https://github.com/sitespeedio/sitespeed.io/issues/3677#issuecomment-1164030274 ? Add `--browsertime.visualMetricsPortable true` add run the rest as the same, then it use the coming version of visual metrics.

For the screenshots, it's hard for me if there's some change between 6.2 (fully loaded) and 6.7 (last visual change). Depending on which font websites uses, I've seen t

[2022-06-24 20:41] soulgalore commented on #3674
I can see you use an old version of Chromdriver (97) so I think you use an old version of sitespeed.io, can you try to upgrade to latest?

The reason I asked about why not running globally was if there's any restrictions at your company to do so? Maybe also port restrictions etc and that could be the reason why it not work for you and your collegues.

I'll check if there's something to do about th

[2022-06-26 21:03] soulgalore commented on #3674
I added a check if the port is used, you can try it by:
[code]

[2022-06-27 11:12] shawneenc commented on #3677
Hi @soulgalore - yes the run above was run with `--browsertime.visualMetricsPortable true`.  Included individual screenshots below:

Fully loaded @ 6.2 seconds:
![Screenshot 2022-06-27 at 12 08 47](https://user-images.githubusercontent.com/55998417/175928385-e52c6b60-bcc1-4fe5-abec-0e23f94c0c20.png)

Last visual change @ 6.7 seconds:
![Screenshot 2022-06-27 at 12 08 52](https://user-images.githubu

[2022-06-27 20:29] soulgalore commented on #3677
Ok cool.

1. Please include the original video that you can capture using `--browsertime.videoParams.keepOriginalVideo `, so I can reproduce and potentially fix the problem + see what's going on.

[2022-06-28 08:31] lgxFree opened #3681 "Wait one of selectors ready to stop measure"
### Your question

Hello, Dear author.
I want to measure a scene that is a list or table.
it maybe has two final states.
state 1:  Existing data
<img width="1030" alt="image" src="https://user-images.githubusercontent.com/90895136/176127300-e8972705-9027-4462-98a5-3a40f0b7f5b5.png">
state 2: No data
<img width="1023" alt="image" src="https://user-images.githubusercontent.com/90895136/176128117-d7a

[2022-06-28 09:43] soulgalore commented on #3681
Hi @lgxFree hmm it looks like stop is never called, could you share the full script or is that the full script?

One thing I've seen that you can change is:
`return await Promise.race(...` you don't need to wait on the race when you return it so you can change to `return Promise.race(...`

[2022-06-29 09:29] lgxFree commented on #3681
My scenario is to perform two page measurements at once.
I further found the problem was WebSocket closed before `await commands.measure.stop()`. I don't understand why when i measure the second page webSocket Early exit with error.
I try to add some debug script.
![image](https://user-images.githubusercontent.com/90895136/176401716-24e32d8e-1ede-429c-8899-1f922a51816d.png)
![image](https://user-i

[2022-06-29 10:50] juckerf opened #3682 "preWarmServer fails to start browser"
### Have you read the documentation?

- [X] Yes, I've read the [how to make a reproducable bug guide](https://www.sitespeed.io/documentation/sitespeed.io/bug-report/)
- [x] Yes, I've read the [how to debug my script guide](https://www.sitespeed.io/documentation/sitespeed.io/scripting/#debug)

### URL

https://www.google.com

### What are you trying to accomplish

I tried to instruct sitespeed to c

[2022-06-29 11:39] soulgalore commented on #3682
Hi @juckerf ah I see, thanks for creating the issue. I only been using that for Android and together with WebPageReplay. It works running without Docker, but of course it should work in Docker too, let me have a look at it tonight.

[2022-06-29 14:27] soulgalore commented on #3681
Hi @lgxFree sorry I don't follow, any change you could share the full scripts so I could try?

[2022-06-29 21:13] soulgalore commented on #3682
Hi @juckerf I just pushed 25.3.1  that I hope fixes the problem, please let me know if it works for you now.

[2022-06-29 21:40] soulgalore commented on #3674
This has been releases so you can test it by installing the latest release.

[2022-06-30 06:45] juckerf commented on #3682
Hi @soulgalore
Thanks a lot for your efforts.
Unfortunately the `docker` option does not seem to get picked up by the `preWarmServer` function (which is strange because your code seems legit).

Output:
[code]

[2022-06-30 06:49] juckerf commented on #3682
it seems to get picked up when I run browsertime directly (vs. when running through sitespeed):
[code]

[2022-06-30 07:08] juckerf commented on #3682
oh, I see, sitespeed has it's own version of `preWarmServer` in the browsertime plugin (https://github.com/sitespeedio/sitespeed.io/blob/4b9b8f9b4e3d89287872baf33173c068eede35aa/lib/plugins/browsertime/analyzer.js) so your fix to `browsertime` has no effect when running sitespeed

[2022-06-30 09:31] shawneenc commented on #3677
@soulgalore the video is included in this comment: https://github.com/sitespeedio/sitespeed.io/issues/3677#issuecomment-1165742311

[2022-06-30 20:26] soulgalore commented on #3677
When I run with `--browsertime.visualMetricsPortable true` with that video I get FirstVisualChange  233 ms and LastVisualChange  2266 ms, that do not match your screenshots. Are you sure you use a rather new version of sitespeed.io when you did that test? Latest release is 25.3.1.

Chrome do not support that you give Chrome a specific version and then it will download that version. You need to bui

[2022-06-30 20:40] soulgalore commented on #3682
@juckerf ah thanks! I'll did the fix now, hope it works this time :)

[2022-07-01 02:37] linqunhe opened #3684 "--multi params , Redirection problem start measure throw error"
### environment
docker: sitespeed v25.3.0
site router mode : hash
site runtime : spa

config.json
[code]

### Your question

The problem is roughly as follows：

If several files are run together, it will be reported that the element can not be found, and they will all be redirected to the starting bit, and then query the element and simulate the click.
<img width="1503" alt="image" src="https://us

[2022-07-01 09:25] soulgalore commented on #3684
Hi @linqunhe
I didn't fully get:

Can you please share a little more on how you run?

For debugging you can try the `--debug` switch, checkout https://www.sitespeed.io/documentation/sitespeed.io/scripting/#debug

[2022-07-01 09:42] linqunhe opened #3685 "performance budget expect file url or preview"
### Your question

<img width="1318" alt="wecom-temp-205480-9d7d6474e13ccca324d17ab02f47d7fa" src="https://user-images.githubusercontent.com/80025623/176869466-7819d318-5b79-4e2e-a3b2-09c71c1c6d6b.png">

There is no corresponding warning resource for toplist version.
<img width="1171" alt="image" src="https://user-images.githubusercontent.com/80025623/176869624-76ed4bc6-cddc-44dd-bd98-1001743ac361

[2022-07-01 11:40] soulgalore commented on #3685
Hi @linqunhe the warning in the budget is for the total page, so if you add all JavaScript files together.

[2022-07-01 16:35] shawneenc commented on #3677
@soulgalore what is the full docker command you are using to run?  I used 24.0.0 for that test

[2022-07-04 03:22] linqunhe commented on #3685
@soulgalore
I'm sorry, maybe I didn't make myself clear. I hope I can perceive this traditional file list for further analysis, such as

<img width="1872" alt="image" src="https://user-images.githubusercontent.com/80025623/177076000-23959468-4f2d-4143-8267-8c7fb4661542.png">

There is another problem, that is, budget will output duplicate text information, which in theory should not be collected.

[2022-07-04 07:15] dev9492 opened #3688 "--block is blocking all the requests in that domain and not just the targeted request"
### Have you read the documentation?

- [X] Yes, I've read the [how to make a reproducable bug guide](https://www.sitespeed.io/documentation/sitespeed.io/bug-report/)
- [X] Yes, I've read the [how to debug my script guide](https://www.sitespeed.io/documentation/sitespeed.io/scripting/#debug)

### URL

https://www.t-mobile.com/

### What are you trying to accomplish

My requirement is to block a ce

[2022-07-04 08:01] juckerf commented on #3682
@soulgalore Thanks a lot, seems to work now (sitespeed 25.3.2)!

[2022-07-04 08:02] soulgalore commented on #3688
Hi @dev9492 the JavaScript in https://tags.tiqcdn.com/utag/tmobile/rainier/prod/utag.js is the one that initiate the load of the rest, so if you block that all will be blocked. You can see that in the waterfall (_Initiator loaded by_):

<img width="1238" alt="Screenshot 2022-07-04 at 09 58 13" src="https://user-images.githubusercontent.com/540757/177109434-824828d3-cf3f-4321-b4a7-5743bd6df026.png"

[2022-07-04 09:03] #3682 closed

[2022-07-05 19:22] #3688 closed

[2022-07-05 19:27] soulgalore commented on #3685
Ah I see.

Yes that looks weird, is there a way for me to reproduce that? Do you test the same page multiple times or how do you get that output?

Good idea! At the moment the budget plugin do not know about the different requests but let me think a while about it, maybe there's a way to fix that.

[2022-07-06 13:42] prithivi96 opened #3689 "ERROR: TypeError: commands.select.selectByIdValue is not a function"
Hi,
We were trying to select option from dropdown using Select command in SiteSpeed tool but received error like **"ERROR: TypeError: commands.select.selectByIdValue is not a function"** at that particular step during execution. Kindly someone help us to resolve this issue.
Thanks in advance.

[2022-07-06 13:52] soulgalore commented on #3689
Hi @prithivi96 I think that is type in the documentation, let me have a look later today. The correct is: `selectByIdAndValue`

[2022-07-07 07:01] prithivi96 commented on #3689
@soulgalore  Thank You. It is working now after replacing with correct method name (selectByIdAndValue).

[2022-07-07 07:02] prithivi96 commented on #3689
@soulgalore  Thank You. It is working now after replacing with correct method name (selectByIdAndValue).

[2022-07-07 07:02] #3689 closed

[2022-07-07 12:38] prithivi96 opened #3690 "How to use Selenium Explicit Wait Condition in Sitespeed.io ?"
### Your question

Dear Author,
I have been trying to use some of the selenium wait and expected conditions in Sitespeed script using context. But I am facing issues in using Explicit wait methods of selenium eg. driver.wait(ExpectedConditions.invisibilityOfElementLocated(locator)) in sitespeed script. I looking through the methods of the driver instance and found wait is one of the method. When I

[2022-07-07 12:52] soulgalore commented on #3690
Hi @prithivi96 in your example you haven't defined until, I think that is exposed by the webdriver (you can check https://www.selenium.dev/selenium/docs/api/javascript/index.html and search)

I think it would work like this:
[code]

[2022-07-11 12:08] prithivi96 opened #3692 "How to handle File Upload scenario using Sitespeed.io tool in Linux Ubuntu OS where file needed to be browsed from file explorer and uploaded ?"

[2022-07-11 12:22] prithivi96 commented on #3692
In my Scenario, we need to select the file from file explorer which will be opened by clicking browse button and upload the file. I couldn't find any methods in documentation for this scenario. Kindly help to script this scenario.

[2022-07-11 12:57] prithivi96 commented on #3692
Problem Statement: We are running Sitespeed tool in Linux Ubuntu OS. We have a application developed in Un-Qork where we need to browse and upload a file. When we clicked on the browse button, local file explorer should open which is not happening currently. The Application is not OS dependent and now when we click Browse button web element there is no action is triggered.
We are using the below c

[2022-07-11 14:51] soulgalore commented on #3692
Hi @prithivi96 easies if you run locally on your machine and do not use Docker and use the `--debug` feature. Then you can check the browser console log for errors and try manually to find the correct element. Checkout https://www.sitespeed.io/documentation/sitespeed.io/scripting/#debug

[2022-07-12 10:07] prithivi96 commented on #3692
Hi @soulgalore, as suggested  I tried to run sitespeed using npm to debug the issue. But when ran the sitespeed command, a shell script is getting opened in chrome browser instead of executing the url in browser. Kindly guide on how to proceed further. Please find the below snapshots for reference.
Command Used:
![image](https://user-images.githubusercontent.com/87566060/178466151-4bd858e1-b998-47

[2022-07-13 12:21] Rarst opened #3695 "Fails to use bundled ChromeDriver with Windows/npm install"
### Have you read the documentation?

- [X] Yes, I've read the [how to make a reproducable bug guide](https://www.sitespeed.io/documentation/sitespeed.io/bug-report/)
- [X] Yes, I've read the [how to debug my script guide](https://www.sitespeed.io/documentation/sitespeed.io/scripting/#debug)

### URL

localhost

### What are you trying to accomplish

Use sitespeed, installed with npm in Windows (e

[2022-07-13 15:27] Rarst commented on #3695
Doesn't look like it, here is a complete log from a clean install:
<details>
<pre>

npm WARN config global `--global`, `--local` are deprecated. Use `--location=global` instead.
npm WARN deprecated har-validator@5.1.5: this library is no longer supported
npm WARN deprecated debug@4.1.1: Debug versions >=3.2.0 <3.2.7 || >=4 <4.3.1 have a low-severity
ReDos regression when used in a Node.js environm

[2022-07-14 05:26] Rarst commented on #3695
Yes, as above, it works if I provide explicit `--chrome.chromedriverPath` to it in there. :) Just not finding it out of the box.

[2022-07-14 07:00] prithivi96 commented on #3692
Hi @soulgalore, We were able to run our scripts using npm in debug mode in our machine. When we analyzed in console log, we observed after clicking the browse button web element, file chooser dialog is not opening and  a warning message was thrown in console log ( **File chooser dialog can only be shown with a user activation** ). Please find the below snapshot for reference. Kindly guide on findi

[2022-07-14 07:14] Rarst commented on #3695
I looked through the code, starting at `at SeleniumRunner.start(C:\Users\Rarst\AppData\Roaming\npm\node_modules\sitespeed.io\node_modules\browsertime\lib\core\seleniumRunner.js:91:13)` that it reports as where error happens and it seems to happen around here where path is generated _but not returned_ in Windows case https://github.com/sitespeedio/chromedriver/blob/df3c01d9c90ce1b31d35740c0155c96ce

[2022-07-14 07:19] soulgalore commented on #3695
Thanks @Rarst for the investigation, I'll fix that tonight then and do a new release.

[2022-07-14 12:27] vasuganesan commented on #987
@cablespaghetti we have usecase of sending metrics to prometheus. but when I use graphite exporter , getting connection refused error.  any help on this.

[code]
But if i do sample message to 9109 using this command, it is displayed on the /metrics path
echo "test_tcp 1234 $(date +%s)" | nc localhost 9109
echo "test_udp 1234 $(date +%s)" | nc -u -w1 localhost 9109

[2022-07-14 13:37] soulgalore commented on #3695
That was my fault. In 25.5.0 (just released) it should be fixed. Sorry!

[2022-07-14 13:43] #3695 closed

[2022-07-14 15:19] prithivi96 opened #3696 "Sitespeed Test HTML Report is getting crashed when the test run got failed intermittently"
Hi Team,

We were trying to execute a complex test script which has many transactions. During the run, if the test fails intermittently, entire HTML report is getting crashed and we were not able to retrieve the results of completed transactions. If there is any workaround to retrieve the completed transaction results in HTML report, it will help us analyze and debug client side metrics for those

[2022-07-14 20:15] soulgalore commented on #3696
Hi @prithivi96 I think the best way is to use try/catch in your script so you can catch when your script fails and do an alternate route.

[2022-07-16 08:56] mfontani opened #3698 "no docker image for latest 25.5.0"
### Your question

Hi,

There doesn't seem to be a docker image available for the latest tag, `25.5.0`. It gets usually automatically generated and pushed. Something went wrong?

[code]

[2022-07-16 09:34] mfontani commented on #3698
The "build container on new tag" step indeed seems to have failed: https://github.com/sitespeedio/sitespeed.io/runs/7340970831?check_suite_focus=true

[2022-07-16 10:50] soulgalore commented on #3698
Hi @mfontani thanks for reporting, it looks like Docker got a 503 error. I'll push a new release in a couple of minutes.

[2022-07-16 11:08] soulgalore commented on #3698
The 25.5.1 is there now. Thanks again for reporting!

[2022-07-16 17:14] mfontani commented on #3698
Thanks, closing!

[2022-07-16 17:14] #3698 closed

[2022-07-19 13:02] josephcy95 opened #3699 "Sending Metrics to Grafana Cloud Graphite"
### Feature/improvement

I've finally able to send metrics to the free Grafana Cloud Graphite after a few attempt, and this is a short walkthrough of the how to do it.

### 1. Install [carbon-relay-ng](https://packagecloud.io/app/raintank/raintank/search?q=carbon-relay-ng&filter=all&dist=) based on your distribution, this doesn't work with ARM arch, unfortunately I couldn't find ARM compatible nor

[2022-07-21 05:09] prithivi96 commented on #3696
Hi @soulgalore  As suggested, I handled using try/catch and now report is getting generated even when script fails. But during one of final execution, few errors we are not able to capture using the try/catch and report is getting crashed though all the transaction got completed successfully.

Kindly help to resolve this issue.

**Tool Configuration:**
Executed using npm module
![image](https://us

[2022-07-21 08:53] prithivi96 commented on #3690
As mentioned, I have defined until method from selenium webdriver package and now explicit wait is working fine. Hence closing this issue. Thanks for the support!

[2022-07-21 08:53] #3690 closed

[2022-07-25 06:31] shaqb opened #3700 "Sending Request Header by Domain"
### Your question

**Background**
In our organisation we're rolling out sitespeed.io to the majority of our feature teams. As part of our observability approach we have an APM (application performance monitoring) tool instrumenting our backend applications so we can deep dive into performance issues.

When we run sitespeed.io tests and we see a very long TTFB from our main domain, this is highly i

[2022-07-27 06:16] dawsze opened #3701 "Lighthouse problem when using axe"
### Have you read the documentation?

- [X] Yes, I've read the [how to make a reproducable bug guide](https://www.sitespeed.io/documentation/sitespeed.io/bug-report/)
- [X] Yes, I've read the [how to debug my script guide](https://www.sitespeed.io/documentation/sitespeed.io/scripting/#debug)

### URL

https://google.com

### What are you trying to accomplish

When I run sitespeed tests with --axe.

[2022-07-27 10:22] Rexikon opened #3702 "Connecting to 2003 port issue"
### Have you read the documentation?

- [X] Yes, I've read the [how to make a reproducable bug guide](https://www.sitespeed.io/documentation/sitespeed.io/bug-report/)
- [X] Yes, I've read the [how to debug my script guide](https://www.sitespeed.io/documentation/sitespeed.io/scripting/#debug)

### URL

https://www.sitespeed.io/

### What are you trying to accomplish

I wanted to start with grafana

[2022-07-29 20:05] soulgalore commented on #3700
Hi @shaqb no I don't think that is doable today. For Chrome we use https://chromedevtools.github.io/devtools-protocol/tot/Network/#method-setExtraHTTPHeaders and there's no way there to set that info specific for one domain.

[2022-07-29 20:07] soulgalore commented on #3701
HI @dawsze thanks for creating the issue. I'll have a look this weekend and check what's going on.

[2022-07-30 16:19] soulgalore commented on #3702
Hi @Rexikon thanks for creating the issue. Not 100% sure, I never run graphite/grafana on the same host as sitespeed.io, but I think  `--network=host` need to be before the container? So in your case try:
docker run --rm -v "$(pwd):/sitespeed.io" --network=host  sitespeedio/sitespeed.io:25.5.1 --graphite.host localhost --graphite.port 2003 https://www.sitespeed.io/ --slug yourTestName --graphite.a

[2022-07-30 18:11] soulgalore commented on #3701
This will be fixed with the next release, I think on Monday the coming week.

[2022-07-31 06:01] soulgalore commented on #3699
Thank you @josephcy95 !

[2022-08-01 15:46] harinsai opened #3704 "How to add ChromeOptions and DesiredCapabilities in sitespeed?"
### Your question

Hi,

We have a desktop application developed in electron app framework. The framework is designed to create desktop applications using web technologies which are rendered using a flavor of the Chromium browser engine, and a backend using the Node.js runtime environment. We are opening the application by executing an exe file and the window will open up.

We are able to invoke th

[2022-08-01 20:39] soulgalore commented on #3704
Hi @harinsai they should just work, but they are in the chrome name space so if you add them to a config file it needs to look like this:
[code]

Or by command-line (using your example):
`node sitespeed.js --browsertime.chrome.binaryPath:"completepath\sample.exe" -n 1 sample.js --multi`

Best
Peter

[2022-08-02 08:56] andrelaguerre opened #3705 "Whisper mapping outside of container, no data displayed on Grafana"
### Your question

Hi,
I followed the documentation "Performance Dashboard", downloaded all files for the configuration and the docker compose file.
I made some correction to match with my environment (Ubuntu on AWS with EFS storage).
When the whisper mapping is configured with the default configuration in the docker compose file, data are displayed on the Grafana dashboard.
When whisper storage i

[2022-08-02 13:50] soulgalore commented on #3705
Hi @andrelaguerre can you check the timespan, if the dropdown shows data, it should be there but maybe the timespan is too small?
<img width="588" alt="Screenshot 2022-08-02 at 15 49 43" src="https://user-images.githubusercontent.com/540757/182391089-229ea1e3-5caf-45bb-85b9-73b96692a9af.png">

[2022-08-02 14:36] andrelaguerre commented on #3705
Hi @soulgalore , I've checked if the correct time range is selected to show data.

I also check the config of storage-shema.conf

[sitespeed]
pattern = ^sitespeed_io\.
retentions = 1h:1d,6h:90d

[2022-08-03 08:36] andrelaguerre commented on #3705
Not sure to understand what can I see in the container by inspecting it.

In Portainer I can see the mapping :
![image](https://user-images.githubusercontent.com/69193041/182561417-b6be3934-2ecd-4414-82a9-c9e453159d69.png)

I've set the same right on the directory as found in the container.
![image](https://user-images.githubusercontent.com/69193041/182561810-1a88ba96-4dba-4c11-b81d-a11692a915d1.p

[2022-08-03 09:20] andrelaguerre commented on #3705
Just ran the same test with Whisper inside the container
![image](https://user-images.githubusercontent.com/69193041/182572683-008776c6-73e2-46da-b2cd-243d14549aae.png)

![image](https://user-images.githubusercontent.com/69193041/182572880-cd11f3d4-59fa-40dc-b013-5ac71dc5f341.png)

Results are in Grafana
![image](https://user-images.githubusercontent.com/69193041/182572539-f249103d-91da-4f50-a5ba-

[2022-08-03 14:50] harinsai commented on #3704
Hi @soulgalore Thanks for the response.

I have tried both your suggestion. In first method (config.json) the application got invoked for a second and closed immediately with an error : " ERROR: BrowserError: unknown error: unhandled inspector error: {"code":-32601,"message":"'Browser.getWindowForTarget' wasn't found"}" .

Second method is not working. Its didn't show any error. It simply opened t

[2022-08-03 15:03] harinsai commented on #3704
Hi @soulgalore ,

We are facing some issue while measuring the metrics. The above mentioned code is working and all the navigations flows are performing. But when we tried to measure the metrics ( adding commands.measure.start() and stop() between the workflows) we are getting the following error.

**[2022-08-03 09:58:15] ERROR: Missing most active frame. Number of threads 0, Number of TraceEvents

[2022-08-10 17:44] soulgalore commented on #3700
@shaqb https://bugs.chromium.org/p/chromium/issues/detail?id=1229598

[2022-08-10 20:23] Rexikon commented on #3702
It is same:
`[2022-08-10 20:23:09] ERROR: Error: connect ECONNREFUSED 127.0.0.1:2003
    at TCPConnectWrap.afterConnect [as oncomplete] (node:net:1187:16)
[2022-08-10 20:23:09] ERROR: Error: connect ECONNREFUSED 127.0.0.1:2003
    at TCPConnectWrap.afterConnect [as oncomplete] (node:net:1187:16)
[2022-08-10 20:23:09] ERROR: Error: connect ECONNREFUSED 127.0.0.1:2003
    at TCPConnectWrap.afterConn

[2022-08-10 21:55] soulgalore commented on #3702
Are you sure you put it in the right place? I created a new droplet at Digital Ocean on Ubuntu 20 with Docker pre installed just to make it easy:
[code]
And then it just works. If I remove the  `--network=host` I get the same error as you.

[2022-08-11 07:46] Rexikon commented on #3702
Okay, did recreation of current containers (docker-compose up -d), then it works. Thank you for your time.

[2022-08-11 14:38] jorge-prieto commented on #3704
Hi @soulgalore,

I am facing this same issue from above. Instead, I am working in a flow with vanilla JS and an iFrame, after couple views it changes into Angular and when i start again the test, this is the output.

**[2022-08-11 09:23:33] ERROR: Missing most active frame. Number of threads 0, Number of TraceEvents 44 and Threads []
[2022-08-11 09:23:33] ERROR: TypeError: Cannot read property 'fr

[2022-08-14 10:30] frank-embleton opened #3708 "ERROR: Could not generate crux, Cannot convert undefined or null to object on line 21"
### Have you read the documentation?

- [X] Yes, I've read the [how to make a reproducable bug guide](https://www.sitespeed.io/documentation/sitespeed.io/bug-report/)
- [ ] Yes, I've read the [how to debug my script guide](https://www.sitespeed.io/documentation/sitespeed.io/scripting/#debug)

### URL

https://glitch.com/

### What are you trying to accomplish

When trying to collect the CrUX repor

[2022-08-14 16:40] soulgalore commented on #3708
Hi @frank-embleton thanks for reporting the bug! There was a bug in the frontend that didn't handle if you only get origin data. Pushed a PR and hope to release that tomorrow.

[2022-08-14 17:19] frank-embleton commented on #3708
@soulgalore thanks!

[2022-08-14 17:19] #3708 closed

[2022-08-15 07:13] linqunhe opened #3710 "excute error collect extra metrics"
### Feature/improvement

- now [error]

<img width="914" alt="image" src="https://user-images.githubusercontent.com/80025623/184591349-b8635b66-9a28-4fa2-9e1e-c0bc2430b519.png">
<img width="1056" alt="image" src="https://user-images.githubusercontent.com/80025623/184591366-fdf0e85d-7eb7-49ca-abdf-ccb770a83bce.png">
<img width="564" alt="image" src="https://user-images.githubusercontent.com/8002562

[2022-08-15 07:24] linqunhe commented on #3710
Transition posture, first finish the measurement, and then return, but at this time the error can no longer be captured from the outside, thus output to html

<img width="748" alt="image" src="https://user-images.githubusercontent.com/80025623/184593396-6ae8ca25-a0dd-4dfb-859b-ad0a5f7370a0.png">

[2022-08-15 11:31] gregorywolf commented on #3664
@soulgalore Hello. Any updates on this issue?

[2022-08-15 20:18] soulgalore commented on #3664
No.

[2022-08-15 20:20] soulgalore commented on #3710
Hi @linqunhe I didn't fully understand, what do you want me to do? :)

[2022-08-16 06:20] shaqb commented on #3700
Hey @soulgalore - sorry for the delay. I was on vacation and I'm under strict instructions not to work!

Thanks for the chromium link. I'll keep an eye on that!

[2022-08-25 03:27] JosueMal opened #3713 "Pa11y in Sitespeed"
### Your question

Hi,
I see sitespeed is using AXE to scan accessibility web pages.
But, could you let me know if it is possible to run the Pa11y tool and if graphing the results?

Regards,
Josue M.

[2022-08-25 08:41] soulgalore commented on #3713
Hi Josue, there's no pre made plugin that I know of for getting pa11y metrics, so you need to build that yourself. I could help out if you need. When I looked at it many years ago there was no way to run pa11y tests in the current browser session (like first we run the performance tests and the pa11y), instead it will open a new browser and run the tests, but maybe that has changed since then, I h

[2022-08-25 15:42] JosueMal commented on #3713
Hi @soulgalore
Thanks for the advice.
Pa11y use a ci and also a dashboard that probably could help to attach the numbers in the dashboard, could you help me a guidance about how to create this new plugin?

Also, regarding AXE, I checked the documentation page[https://www.sitespeed.io/documentation/sitespeed.io/axe/](Axe) and I would like to run axe with the option wcag2aa, but the command "**--axe

[2022-08-26 14:23] MeghaDarsh opened #3714 "In coach getting "jquery": "window.jQuery.fn is undefined" error"
I am testing , the landing screen and the search screen have same url and I am giving different  start and stop. I am getting the results but with Coach error,
 ERROR: URL generated the following errors in the coach {
  "performance": {
    "jquery": "window.jQuery.fn is undefined"
  }
}

**Code:**
await commands.measure.start('03_landing screen');
await commands.click.byXpathAndWait('//*[@id="bia

[2022-08-30 10:01] soulgalore commented on #3713
Hi Josue, sorry for the late answer.

There are some documentation on how to build a plugin in https://www.sitespeed.io/documentation/sitespeed.io/plugins/#how-to-create-your-own-plugin

Then since my guess is Pa11y will use there own browser to run the test, that needs to wait until browser time has finished. That's how the Lighthouse plugin to do run their tests. There's hack there that waits on

[2022-08-30 13:47] JosueMal commented on #3713
Thanks for the answer @soulgalore

About the AXE, could you give me an example to run it with the wcag2aa standard? I suppose AXE could help me if I got the same numbers as Pa11y.

I just need to figure out how to indicate to AXE run under the standard wcag2aa, the command I am using is:
**--axe.enable --axe.checks wcag2aa**
but it is not working, could you advise please?

Regards
Josue M.

[2022-08-31 07:06] soulgalore commented on #3713
It's complicated using the cli so it's better to use a configuration JSON.

However I think there's a bug in the code where not everything is passed on to AXE when we try to configure it and it's also confusion in the sitespeed.io code when to use the configuration object versus the option object when you AXE (https://github.com/dequelabs/axe-core/blob/develop/doc/API.md#api-name-axeconfigure).

I

[2022-09-01 22:55] JosueMal commented on #3713
Thanks for the update @soulgalore
Please let me know if I need to run a new release of sitespeed (in docker) or if I just to modify my command

Regards
Josue Maldonado

[2022-09-02 14:05] soulgalore commented on #3713
I need to do a new release for it to work, I'll do that this weekend and I'll ping the thread when its done.

[2022-09-04 08:27] soulgalore commented on #3713
@JosueMal try out 25.11.0 and then use a runOnly section see https://www.sitespeed.io/documentation/sitespeed.io/axe/#configure-axe. We pass on everything to AXE  but in two steps. AXE documentation is here: https://github.com/dequelabs/axe-core/blob/develop/doc/API.md#api-name-axeconfigure

I'm gonna update our docs, it's not super clear at the moment but I added one example with the thing you tr

[2022-09-06 05:21] JosueMal commented on #3713
Hi @soulgalore
thanks for the update.
the fix works perfectly!!, but still I cannot see the same numbers in AXE, as I got in Pa11y, but it is probably some extra command or value.

Thanks for the help, and we can close the issue if you want

Regards
Josue Maldonado

[2022-09-07 07:20] ceddlyburge commented on #3669
I see this as well, the exact same error, but only sporadically. I'll see if I can find out why it happens.

[2022-09-08 07:22] soulgalore commented on #3713
Ok closing, let me know if you still get different values, it would be interesting to understand the difference.

[2022-09-08 07:22] #3713 closed

[2022-09-10 15:33] Vaibhavi-jasolia opened #3722 "Chrome is not able to start"
### Your question

<img width="765" alt="Screenshot 2022-09-10 at 16 31 37" src="https://user-images.githubusercontent.com/113252013/189490436-b5511b03-df46-4563-a9b7-9a78e19af86e.png">
I am using latest sitespeed image then also chrome is not able ton start.

<img width="647" alt="Screenshot 2022-09-10 at 16 33 16" src="https://user-images.githubusercontent.com/113252013/189490565-0150312c-b819-4

[2022-09-12 12:08] soulgalore commented on #3722
Hi @patel20162009 if you run without modifying the container do that work?

`docker run --rm -v "$(pwd):/sitespeed.io" sitespeedio/sitespeed.io:25.11.0 https://www.sitespeed.io/`

A way to see what's going on is enabling the Chromedriver log (the Chromdriver is the code that drives Chrome). You can enable that logs by adding `--browsertime.chrome.enableChromeDriverLog true` then in your result fol

[2022-09-13 16:18] UladzislauCharkouski opened #3723 "Lighthouse could not test page - LHError: PROTOCOL_TIMEOUT"
### Your question

Hi
I'm trying to test pages with sitespeedio/sitespeed.io:25.11.0-plus1
But receiving the error:
ERROR: Lighthouse could not test http://localhost:3000/testPage please create an upstream issue: https://github.com/GoogleChrome/lighthouse/issues/new?assignees=&labels=bug&template=bug-report.yml LHError: PROTOCOL_TIMEOUT
at /lighthouse/node_modules/lighthouse/lighthouse-core/gather

[2022-09-14 14:18] patel20162009 commented on #3722
Thanks for the reply.
If I use this docker file then it will work
https://github.com/sitespeedio/sitespeed.io/blob/main/docker/Dockerfile-plus1
?
..

On Mon, 12 Sept 2022 at 13:08, Peter Hedenskog ***@***.***>
wrote:

[2022-09-15 09:01] UladzislauCharkouski commented on #3723
@soulgalore thanks for the quick response
Yes, I use this flag and sitespeed has access and measures correctly.
The container runs in Kubernetes in the same pod as the application.
here are my options: -v ${WORKSPACE}:/sitespeed.io --network=host --cap-add=NET_ADMIN --entrypoint='' -u root --outputFolder output -n 5 --mobile --browsertime.connectivity.engine=throttle --browsertime.connectivity.pro

[2022-09-19 04:32] manjunathpremkumar opened #3725 "x-axis value disappearing in waterfall model representation of page load"
Hi,

We noticed that in our one of scripted journey test, x-axis values (in seconds) are not appearing for waterfall model representation of page load. We are able to reproduce this issue multiple times. Attached the HAR file for the page loaded and screenshot of the issue.

Note: This is happening for this particular user journey and not for other journeys.
[IBE_Guest_PassengerDetails_Page_Load-c

[2022-09-19 12:46] soulgalore commented on #3725
Thank you @manjunathpremkumar for creating the issue (and attaching the HAR, very helpful!). I tested and I could see the same on https://micmro.github.io/PerfCascade/ (that's the thing we use to display the HAR). Do you have time to create an issue in [that repo](https://github.com/micmro/PerfCascade)? Else I can do it later this week.

[2022-09-19 18:18] zzhao2010 opened #3727 "Profiling bug -- not able to to load the Salesforce page properly"
### Have you read the documentation?

- [X] Yes, I've read the [how to make a reproducable bug guide](https://www.sitespeed.io/documentation/sitespeed.io/bug-report/)
- [X] Yes, I've read the [how to debug my script guide](https://www.sitespeed.io/documentation/sitespeed.io/scripting/#debug)

### URL

https://test.salesforce.com

### What are you trying to accomplish

I was trying to profile a pag

[2022-09-20 06:40] manjunathpremkumar commented on #3725
@soulgalore  - I have raised the issue as suggested  and issue number #288

[2022-09-20 07:48] soulgalore commented on #3727
Hi @zzhao2010 thanks for creating the issue and testing in both Chrome and Firefox. In sitespeed.io we have a little different configurations for Selenium than the default one, I wonder if that could be the issue? Using WebDriver you can choose when a page finished loading and when your script will get back control. In Selenium by default it waits for the unload to happen. However using that confi

[2022-09-20 21:01] Vaibhavi-jasolia opened #3728 "Grafana Dashboard Alert Query"
### Your question

Using sitespeed.io I am collecting the metrics for webpage. I have Grafite as a datasource. Grafana as visualisation tool. I have build the dashboard using variable.
While alerting I have different url but same query.. E.G. I want to setup alerting on pageLoadTime, TBT,TTFB FOR all the urls..
How I can do that?
Do I have to setup alerting for each url and each panel?
New Upcomin

[2022-09-21 04:02] soulgalore commented on #3728
Hi @patel20162009 if you use Grafana for alerting you should checkout https://grafana.com/docs/grafana/latest/alerting/ and ask in https://community.grafana.com, I think they can help you better there.

[2022-09-22 20:20] nagarajulrpt opened #3731 "is it possible to find element in shadow dom?"
Hello Team,

Is it possible to find elements in shadow dom using Sitespeed commands and perform user actions like, Click...?
If this can't be done using Sitespeed commands, is there any other way using Selenium JS?

Thanks

[2022-09-23 08:16] linqunhe opened #3732 "Bug? Vedio read LastVisualChange 0 !!"
### Your question

video total time 1s!
https://user-images.githubusercontent.com/80025623/191918832-e5fa035c-2184-4d0c-b0af-cdb64b2fe724.mp4

store data read zero !
<img width="1382" alt="image" src="https://user-images.githubusercontent.com/80025623/191919223-ee258c15-705c-4cbe-8816-6b7dde1304c8.png">
<img width="889" alt="image" src="https://user-images.githubusercontent.com/80025623/191918762-

[2022-09-23 08:27] ettenjerome opened #3733 "Render blocking says blocking but in fact not"
### Have you read the documentation?

- [X] Yes, I've read the [how to make a reproducable bug guide](https://www.sitespeed.io/documentation/sitespeed.io/bug-report/)
- [X] Yes, I've read the [how to debug my script guide](https://www.sitespeed.io/documentation/sitespeed.io/scripting/#debug)

### URL

internal-url

### What are you trying to accomplish

Hi, when I see the waterfall I have two reso

[2022-09-23 09:24] soulgalore commented on #3733
Hi @ettenjerome that info comes directly from Chrome, so it should be the same in devtools. Can you show me how you see that in Chrome devtools, I haven't used that in a while.

[2022-09-23 09:43] ettenjerome commented on #3733
You case use Performance insights in chrome devtools.

I just double-checked with chrome devtools the resources are effectively  blocking rendering.

There are no problem, @soulgalore thank you for your response.

[2022-09-23 09:43] #3733 closed

[2022-09-28 15:03] mrchrisadams opened #3735 "Consume an updated model for the sustainable web design features in sitespeed"
### Feature/improvement

Hi folks.

The org I work for, the Green Web Foundation did some work a while back with some of the sitespeed team, to add Sustainable Web Calculations into sitespeed. You can read about it below here:

https://www.thegreenwebfoundation.org/news/how-to-build-a-more-sustainable-web-with-a-little-help-from-sitespeed-io/

We have a new version of the underlying library, CO2.j

[2022-09-28 18:40] soulgalore commented on #3735
Hey @mrchrisadams I can start with the update next week, thanks for reaching out. I've been following the project but haven't fully understood when there was good time to upgrade but I guess then that the time is now. I'll ping you in the PR so I can get your input if something is missing.

[2022-10-09 04:06] lilei1122 opened #3738 "Grafana : Error: getaddrinfo ENOTFOUND host.docker.internal"
### Your question

Follow document to install docker grafana and sitespeed.io.  Executed the docker commond of below:

-bash-4.2$ docker run --rm -v "$(pwd):/sitespeed.io" sitespeedio/sitespeed.io:26.0.1 --graphite.host=host.docker.internal https://www.sitespeed.io/ --slug yourTestName --graphite.addSlugToKey true

I got error message when commond executed finished.
[2022-10-09 03:50:59] ERROR: Er

[2022-10-09 06:31] soulgalore commented on #3738
Hi @lilei1122 what's localhost inside the container depends on your OS, it seems that is handled differently on different platforms. Here's some tips: https://www.sitespeed.io/documentation/sitespeed.io/docker/#access-localhost

[2022-10-11 06:37] soulgalore commented on #3735
HI @mrchrisadams I tried this morning upgrading to 0.11.1 (from 0.10.4) and it seems that something changed I couldn't find in the changelog, I get that loadJSON function is removed? `TypeError: tgwf.hosting.loadJSON is not a function` and when I checked I could only see the hosting.check method? What do I need to change on my side?

I also wanted to update the url2green.json file, but I don't rem

[2022-10-11 08:57] shaqb commented on #3654
Thanks Peter!

On Thu, 19 May 2022 at 21:14, Peter Hedenskog ***@***.***>
wrote:

[2022-10-12 13:28] soulgalore commented on #3654
Haven't been able to do anything about this yet.

[2022-10-12 13:46] soulgalore commented on #3735
Hi @mrchrisadams I don't think at the moment hosting-node.js isn't exported, so you cannot get gold of it outside the project? I can make PR for the change you proposed.

[2022-10-12 13:48] mrchrisadams commented on #3735
Ah, nuts, I think you're right Peter. thanks for checking.

I'd really appreciate the PR, thanks 👍

[2022-10-13 22:40] inderpartap opened #3742 "Using FID metric in the budget"
### Your question

We tested the FID using scripts for our URLs, and the metric is visible under the page summary in the metrics section. So far so good.

My question is if this can be used in the budget configuration. We do calculate and store it in [webdriver/chromium.js](https://github.com/sitespeedio/browsertime/blob/main/lib/chrome/webdriver/chromium.js#L377). Can we make it so that if this m

[2022-10-15 04:16] soulgalore commented on #3742
Hi @inderpartap no I haven't added FID to the list of metrics available for the budget. The reason is that I think it's hard to get right and it easier to keep track of total blocking time. Do you get a FID metric that you feel is correct and the same over time? Then I can make sure its there for the next release!

[2022-10-19 07:24] linqunhe opened #3744 "config.json plugin add field no work"
### Have you read the documentation?

- [X] Yes, I've read the [how to make a reproducable bug guide](https://www.sitespeed.io/documentation/sitespeed.io/bug-report/)
- [X] Yes, I've read the [how to debug my script guide](https://www.sitespeed.io/documentation/sitespeed.io/scripting/#debug)

### URL

https://glitch.com/

### What are you trying to accomplish

use json config:

<img width="324" al

[2022-10-19 11:09] soulgalore commented on #3744
If I use add it seems to work for me:

config.json

[code]

[code]

[2022-10-20 19:32] inderpartap commented on #3742
Ah yes, it varies, but the variance wasn't too much for the script I was running. I agree that we should estimate FID issues using TBT, but our TBT values are all over the place for some reason.

The way we run SiteSpeed is one URL per test and is run 15 times. However, when multiple tests (multiple containers) run on the same EC2 instance, the std dev is quite high. We do this because we built a

[2022-10-20 19:47] inderpartap commented on #3742
Though I think you answered my question in #2430. We have used an ECS cluster of c5.2xlarge instances but ran ~6-7 containers on each instance. Each container had a config of 1 URL and 15 runs.
I'll try setting up 1 container per instance and check if that resolves the variance issues

[2022-10-21 12:40] soulgalore commented on #3742
@inderpartap I think the problem is not variance from multiple containers, I think the FID depends very much on when Selenium do things compared to when the browser is handling it's JavaScript. That's why I was thinking using total blocking time would be easier to use if you need a budget.

[2022-10-25 12:05] max-perepelov commented on #3723
Getting the same issue but not for localhost. All configs are pretty much default. I tried to add the param that @UladzislauCharkouski suggested but no luck.
[code]

Is that should be considered as Lighthouse issue?

[2022-10-25 14:15] UladzislauCharkouski commented on #3723
@max-perepelov
"--shm-size=1g"  flag resolved my issue
example: docker run --shm-size=1g --rm -v "$(pwd):/sitespeed.io" sitespeedio/sitespeed.io:26.1.0-plus1 https://www.sitespeed.io/

[2022-10-25 17:07] soulgalore commented on #3723
@max-perepelov that will disable dev-shm for Browsertime, not Lighthouse (it starts there own version of Chrome). I think the easiest is if I add that disable-dev-shm-usage by default for Lighthouse and see if it helps.

[2022-10-25 17:08] inderpartap commented on #3742
I meant the FID was fairly consistent for us, but TBT had a huge std dev (of about 800ms). I tested with one container per instance, bringing down the std dev to ~70ms.

[2022-10-25 17:17] soulgalore commented on #3742
Yeah but how do you know that you are measuring FID the way users get it?  I think we are depending on when Selenium runs the commands at the exact same time the browser do JavaScript. What I like about TBT or using long tasks, then at least in theory it should me more constant as long as you deliver the same JS.

[2022-10-26 17:00] jzatarain opened #3746 "Running sitespeed.io https://www.sitespeed.io/ opens a bashfile?"
### Have you read the documentation?

- [X] Yes, I've read the [how to make a reproducable bug guide](https://www.sitespeed.io/documentation/sitespeed.io/bug-report/)
- [X] Yes, I've read the [how to debug my script guide](https://www.sitespeed.io/documentation/sitespeed.io/scripting/#debug)

### URL

https://www.sitespeed.io/

### What are you trying to accomplish

Test sitespeed.io and got this:

[2022-10-31 23:33] inderpartap commented on #3742
Oh yes, totally agreed. I know what we were measuring was only one case of interaction. Many variables depend on the user - where they click, and when they click, which cannot be accurately reproduced in the lab. I only tried looking at FID because TBT had a high std dev for our tests. But running a single container per instance has solved that problem to a large extent.

I'll be closing this issu

[2022-10-31 23:33] #3742 closed

[2022-11-04 10:55] andrelaguerre commented on #3705
Hi,
Sorry to not come back to this issue earlier, I had lot of work on other projects.

The "outside" folder of whisper is set on an NFS (EFS)

Graphite image : sitespeedio/graphite:1.1.7-9

`      volumes:
        - /home/site-speed/graphite/whisper:/opt/graphite/storage/whisper
        - /home/site-speed/graphite/graphite.db:/opt/graphite/storage/graphite.db
        - /home/site-speed/graphite/c

[2022-11-04 23:15] joychester opened #3748 "Issue with visualMetrics and Video running w/o docker"
Hi, Team,
I am trying to setup my local env(Macbook Pro) to do visualMetrics and video w/o running docker, everything installed:

[code]
but during the test with "--video=true", **the browser hanging there with orange screen**. From debug logs I got following message which seems "**0: Input/output error**" from AVFoundation. Did i miss something to enable/configure on my device? :

[code]

Please

[2022-11-05 19:57] soulgalore commented on #3748
Hi @joychester  :)

Hmm I'm not sure, is the _Start FFMPEG with ..._ the log message you get?

If you run it manually, what do you get (-i 1 capture screen 0) ?
`ffmpeg -f avfoundation -i 1 -r 30 -filter:v crop=2732:1416:0:0 -codec:v libx264rgb -threads 0 -crf 0 -preset ultrafast test.mp4`

Best
Peter

[2022-11-05 21:18] joychester commented on #3748
Hello Peter @soulgalore , Nice to talk to you, Again!! it has been a while :)

By executing the command you provided, i got following output(looks like there is some error messages and hanging there)
[code]
Hope the message helps..

Thank you!!
Cheng Chi (joychester)

[2022-11-07 08:25] soulgalore commented on #3748
I get the same error ouput but the video continues to record what happens after that for you, do ffmpeg continue and record the video? And then if stop it (ctrl+c) and you look at the video, it ok?

[2022-11-07 17:41] joychester commented on #3748
Hello Peter @soulgalore ,
it seems not recording , and screen hanging there, no output file generated after stop the command(ctrl+c):

<img width="560" alt="Screen Shot 2022-11-07 at 9 38 02 AM" src="https://user-images.githubusercontent.com/235618/200377665-8445cbe0-b949-4ca9-879a-84fc54b72895.png">

I am using "ffmpeg version 5.1.2-tessus" , what is the version are you using from your side? mayb

[2022-11-07 18:26] soulgalore commented on #3748
Hi @joychester I use:
[code]

Installed using brew as in:
https://www.sitespeed.io/documentation/sitespeed.io/installation/#mac

[2022-11-07 19:49] joychester commented on #3748
Hello Peter @soulgalore ,
hmmm, seems still get no luck with reinstalling ffmpeg with brew :
[code]

[2022-11-07 20:10] soulgalore commented on #3748
Hi @joychester can you try with other browsers (firefox/safari)? I'm thinking that it hangs on the orange screen, maybe I'd something with the navigation. Hmm, gonna look at the code tomorrow and see if I can see something suspicious. If you run on info level for the logs, what is the last log message you get?

[2022-11-07 20:26] joychester commented on #3748
Hi, Peter @soulgalore ,
all browsers(Chrome/Safari/Firefox) are hangs on the orange screen, here is the INFO logs it shows when browser is hanging there:
[code]
Thank you very much!!

[2022-11-07 21:31] soulgalore commented on #3748
I tried running on my machine again (on my machine my desktop is number 2, you can list all devices with` ffmpeg -hide_banner -f avfoundation -list_devices true -i "`):

[code]

If you try as simple as possible to record your screen, what happens? Try (change 2 to your "Capture screen 0" id):
`ffmpeg -f avfoundation -i 2 test.mkv`

[2022-11-07 21:46] joychester commented on #3748
Hello, Peter @soulgalore ,
I tried from my side, the video input index for me is always on [1]:
[code]

not sure how to change this id, but if i make -i with 2, it will complain I am using the wrong index:
[code]
By simply run the video recoridng, it will hang on the screenshot i was shared before:
[code]
never saw this line from my side :(
[code]

[2022-11-07 22:48] soulgalore commented on #3748
Sorry I was unclear, what I meant was use your "Capture screen 0" as you did with `ffmpeg -f avfoundation -i 1 test.mkv`.

Hmm, so no video is created then. That is from the ffmpeg documentation  on how to record a video on Mac https://trac.ffmpeg.org/wiki/Capture/Desktop#macOS

[2022-11-07 23:23] joychester commented on #3748
Appreciate your help, Peter! I can understand what you mean :) also i read the same documentation as you mentioned, even the simple recording does not work from my side... I should switch to a different MacBook Pro then ,lol

[2022-11-08 04:21] soulgalore commented on #3748
Actually I think you should check if there's any recent bug with your behaviour at https://trac.ffmpeg.org/ and if not, report one at https://ffmpeg.org/bugreports.html - that would be great :)

[2022-11-08 05:47] joychester commented on #3748
Thank you Peter @soulgalore for your inputs!! Will give it a try, Have a great day!!

[2022-11-08 08:37] joychester commented on #3748
I think I figure out the reason why it hanging up during ffmpeg recording...
it due to I ignored to enable the "Screen Recording" for the "Terminal" App, My fault...
hope it helps to remind other people who will make the same "mistake" how to fix it by their own :)

To enable "Screen Recording" for the App on MacOS where you run the ffmpeg CLI:
<img width="477" alt="Screenshot 2022-11-08 at 12 26

[2022-11-08 08:37] #3748 closed

[2022-11-08 09:47] abedarkar opened #3750 "Chrome browser fails to start with sitespeedio/webbrowsers:chrome-104.0-firefox-103.0-edge-103.0 image"
Docker Image - sitespeedio/webbrowsers:chrome-104.0-firefox-103.0-edge-103.0
Package.json - "sitespeed.io": "25.11.0"

When below command is executed in pipeline.
./node_modules/sitespeed.io/bin/sitespeed.js  --config config.json   script/apiPortal_Public/pp_apiServices_Page.js --multi -n 1   --cpu --budget.friendlyName pp_apiServices_Page

I am observing below error

[32;1m$ ./node_modules/sitesp

[2022-11-08 09:58] soulgalore commented on #3750
Hi @abedarkar so you go into the docker container and start sitespeed.io manually? Can you try add `--xvfb ` to your parameters, that way the xvfb will be used as your screen, just want to make sure it's used.

Else our start script has some extra hacks: https://github.com/sitespeedio/sitespeed.io/blob/main/docker/scripts/start.sh

[2022-11-08 10:12] lynomet opened #3751 "disable output data to sitespeed-result"
We are only using Graphite and Grafana
is there a way to disable metrics data going to "sitespeed-result" folder after each test?

[2022-11-08 10:52] soulgalore commented on #3751
Hi @lynomet you can do that by disable the HTML plugin: `--plugins.remove html`

[2022-11-09 13:30] abedarkar commented on #3750
Hi @soulgalore , no our pipelines setup is such , we can't go into the docker container and start sitespeed.io manually nor we can do any manipulation with docker.
We are fetching the image and executing the tests using above mentioned command.

[2022-11-09 13:41] soulgalore commented on #3750
Hmm I don't fully understand, so you run like this:
`./node_modules/sitespeed.io/bin/sitespeed.js --config ...`

That looks like installed sitespeed.io using npm, so you run your own container? Then check that you follow our start script and included what's needs to be included. Where you able to try add -`-xvfb`?

[2022-11-21 14:21] pedrolgon opened #3752 "Interaction to Next Paint not appear in GPSI plugin report"
### Your question

Hi All,

When I launch the GPSI plugin included in 26.1.0 version
I don't get the "Interaciont to Next Paint (INP)" Metric in the report

how can I get this metric?

![image](https://user-images.githubusercontent.com/90193566/203078176-063219a1-ff3d-4fbe-a332-038f7d61f0f6.png)
![image](https://user-images.githubusercontent.com/90193566/203078325-2967f77e-1994-4b85-b879-6fe270938

[2022-11-25 09:30] manjunathpremkumar opened #3753 "Filmstrip images are shrunk/displayed as tiny images - reproducible"
Hi,
We have noticed this issue for couple of scripted journeys and reproducible, where the filmstrip images are shrunk/displayed as tiny images.

Have tried with below settings along Broswertime but results were still same. Attached the HAR file and config file and screenshot

     "videoParams.filmstripFullSize": true,
    "videoParams.filmstripQuality": 100,

Thanks,
Manju

[MYB_Lounge_URP_Page_

[2022-11-25 09:31] manjunathpremkumar commented on #3753
@soulgalore - your help and feedback please

[2022-11-25 12:28] soulgalore commented on #3753
Hi @manjunathpremkumar thanks for creating the issue, I will have a look this weekend and see if I can understand what's going on.

[2022-11-25 13:24] soulgalore commented on #3753
@manjunathpremkumar I need a way to reproduce it, can you share the user journey? Or how I can reproduce it? Adding the same config for video and kiosk mode just accessing one URL works for me. What do the video look like, is it correct or also tiny?

[2022-11-25 13:46] manjunathpremkumar commented on #3753
@soulgalore - it says video is not available to download kind of corrupted. I will check with my team if I can get the user journey script

[2022-11-25 14:23] soulgalore commented on #3753
Do you keep the logs, I wonder if there's error log somewhere?

[2022-11-25 14:33] soulgalore commented on #3452
Hi @deena9291 I haven't followed along, do Playwright work with iOS/Android now?

[2022-11-29 10:24] tprocter1984 commented on #3450
For anyone coming across this error, it's due to putting `--network host` in the wrong place.

The command should be as follows:
`docker run --rm -v "$(pwd):/sitespeed.io" --network host sitespeedio/sitespeed.io:26.1.0 --graphite.host localhost https://www.sitespeed.io/ --slug yourTestName --graphite.addSlugToKey true`

@soulgalore I would strongly recommend adding this to the docs as it would sav

[2022-11-29 11:41] soulgalore commented on #3450
Hi @tprocter1984 cool, can you help which doc you were looking at so I can fix it? In the Docker section to access localhost it seems to look correct: https://www.sitespeed.io/documentation/sitespeed.io/docker/#access-localhost

[2022-11-29 11:55] tprocter1984 commented on #3450
@soulgalore yeah, you're quite right. It is correct there, however it's not clear that you have to put `--network host` before `sitespeedio/sitespeed.io:26.1.0`

I would suggest simply adding the example I provided instead of: "(running on Linux? [Check how to access localhost])" on step 3 here: https://www.sitespeed.io/documentation/sitespeed.io/performance-dashboard/#up-and-running-in-almost-5-m

[2022-11-29 18:17] deena9291 commented on #3452
Seems like they support on an experimental basis, please have a look here;
https://github.com/microsoft/playwright/issues/6906

[2022-11-30 04:53] manjunathpremkumar commented on #3753
@soulgalore - I am sorry for late reply, I was down with flu. Attached the user journey script and error log.
[ErrorLog_3753.txt](https://github.com/sitespeedio/sitespeed.io/files/10119567/ErrorLog_3753.txt)
[user_journey_script_3753.txt](https://github.com/sitespeedio/sitespeed.io/files/10119568/user_journey_script_3753.txt)

[2022-11-30 10:04] tprocter1984 opened #3754 "Has anyone set up alerting?"
### Your question

I'm trying to configure alerting so that I push to the likes of Slack. When I go to create an Alert rule, I am unable to:
![image](https://user-images.githubusercontent.com/6536117/204766987-6ceda21b-7c7f-4367-bd55-80df77c88b1e.png)

This is the button that is not available:
![image](https://user-images.githubusercontent.com/6536117/204767795-1f556d06-0541-41b6-9856-0abac442b3d5

[2022-11-30 10:27] tprocter1984 commented on #3699
Thanks @josephcy95 - This could be the way forward instead of setting up local alerting. I am going to try this today

[2022-11-30 22:29] Vlad-Kliucharov opened #3755 "How to configure CI/CD from GitHub actions to influxdb"
### Your question

After my test is finished I want to send the result from the docker container to influxDB, when I try to do it like in an example in the documentation I receive code 1.

There is a launch string below:

docker run --shm-size=1g --rm -v "$(pwd):/sitespeed.io" sitespeedio/sitespeed.io:latest Demo.js network=my-net --influxdb.host 192.xxx.xxx.xxx --influxdb.port 8086 --influxdb.dat