[2019-04-10 15:10] jyoprakashJP opened #2418 "Error reporting/dashboarding & Transaction/Alias pass/fail"
I have a question on error dashboarding, in case DOM elements are not found.

1.  Is there way to fail the login transaction/Alias (sample), same get reflected in the dashboard?
2. Alerting for those type of errors, where your response code is not >399?

**Sample:**
await commands.measure.start('login');
await commands.click.byIdAndWait('wpLoginAttempt');
await commands.wait.byId(**'1pt-userpage**

[2019-04-10 18:18] soulgalore commented on #2418
Hi @jyoprakashJP thanks for creating the issue. No there's no clean way today. In plugins we can send error messages (that then ends up in the HTML and should (but I need to verify) be able to get into the dashboards.

But running your own script we don't support that ... however that seems to be something we should, let me think for a couple of days of how can support that In a good way, I'm thin

[2019-04-10 18:19] soulgalore commented on #2364
Ah good. Let me know if you remember if you saw the faulty ones in the documentation somewhere (so I can change that), could be that we missed it somewhere.

Best
Peter

[2019-04-10 18:19] #2364 closed

[2019-04-10 20:47] jyoprakashJP commented on #2418
Sure,
Also, In my multistep script I would be validating each call with certain valid DOM/IDs,
if they are not found, I would rather fail it as my next step would result in error as well. example- if My login fails I should not be running remaining steps as it would generate errors and skewed response times for failed transaction

[2019-04-11 02:53] washingon commented on #2416
I just created new AWS ec2 c4.large with Ubuntu Server 18.04 LTS (HVM), SSD Volume Type 64-bit (x86).

sudo snap install docker
sudo docker run --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io:8.11.1 -b chrome https://sitespeed.io -n 1

same errors

Status: Downloaded newer image for sitespeedio/sitespeed.io:8.11.1
Google Chrome 73.0.3683.75
Mozilla Firefox 66.0
[2019-04-11 02:47:35] INFO:

[2019-04-11 03:04] gidztech commented on #2416
I'm also getting this error when I run in CI with EC2 Ubuntu instances. My logs look much the same. It has worked previously.

[2019-04-11 07:08] soulgalore commented on #2416
Hi @washingon thanks for sharing how you did, I could reproduce that way too. Installing Docker with snap also makes it fails for me. Looking at the chromedriver log I see:

[code]

However installing Docker as in https://docs.docker.com/install/linux/docker-ce/ubuntu/ then it works for me.

Using snap I get:
`Doccker version 18.06.1-ce, build e68fc7a`

Using raw install I get version:
`Docker ver

[2019-04-11 11:46] soulgalore commented on #2416
There's another user that reported that upgrading to the same version that worked for me, didn't help them. I've built a new image with Chrome 74 and Chromedriver and that works for me when I install `sudo snap install docker`

`sudo docker run --rm -v "$(pwd)":/browsertime sitespeedio/browsertime-autobuild:chrome-74-beta -n 1 https://www.sitespeed.io`

I can upgrade the current containers tonight

[2019-04-11 12:22] washingon commented on #2416
success.

success - on ubuntu 18.04 t2.small ec2 snap install docker  (same t2.small that was failing with 8.11.1.  no change to docker):
sudo docker run --rm -v "$(pwd)":/browsertime sitespeedio/browsertime-autobuild:chrome-74-beta -n 1 https://www.sitespeed.io
Google Chrome 74.0.3729.75 beta
Mozilla Firefox 66.0
[2019-04-11 12:16:18] INFO: Running tests using Chrome - 1 iteration(s)
[2019-04-11

[2019-04-11 12:51] soulgalore commented on #2416
Thank you @washingon for trying it out, I'll let it run on dashboard,sitespeed.io for a while to make sure it doesn't cause other problems, and will push a new release if everything looks ok later tonight.

[2019-04-11 15:18] soulgalore commented on #2416
I couldn't see any change in metrics with 74 (good!) but Chrome has added some new event that we pickup as "other" as time spent, so I need to look into that and check what it is. After that I can do a new release where the container includes 74.

[2019-04-11 19:26] soulgalore commented on #2416
I've pushed 8.12.0 with the latest beta of 74 that hopefully solves this.

[2019-04-11 20:21] washingon commented on #2416
8.12.0 resolves bug #2416

success - ubuntu 16.04 with docker-ce installed per ubuntu instructions (not an aws ec2 instance)
sudo docker run --rm -v "$(pwd)":/browsertime sitespeedio/sitespeed.io:8.12.0 -n 1 https://www.sitespeed.io

success - ubuntu 18.04 (not aws ec2) that failed previously with 8.11.0 (not an aws ec2 instance)
sudo docker run --rm -v "$(pwd)":/browsertime sitespeedio/sitespeed.

[2019-04-11 20:46] gidztech commented on #2416
I can also confirm that the problem is resolved from me using `8.12.0-plus1`. It would probably be ideal to have a stable Chrome instead normally, but for now this should be fine. Thanks for that.

[2019-04-12 03:00] #2352 closed

[2019-04-12 05:11] soulgalore commented on #2416
I'm not too worried over running beta, we have been doing that a couple of times already over the years when the eco-system has been broken. I think this is the third time there's been issues between Chromedriver/Chrome and I think we almost run Firefox one year in the old version since 57 broke getting a HAR file. I'll update to stable ASAP it is released.

[2019-04-12 05:11] #2416 closed

[2019-04-12 18:19] soulgalore commented on #2418
The current version of Browsertime is kind of broken for reporting errors per URL. I'll try to fix that tomorrow. I think it will work like this:
In your script, you can try/catch whatever you want. If you want to report an error, you can do that by adding it to context.errors array (or something like that), then you can report whatever meaningful error you want, and then I'll make sure sitespeed.

[2019-04-12 20:03] washingon commented on #2403
@parag85 check out 8.12.0.  Look like you may be getting a similar error to https://github.com/sitespeedio/sitespeed.io/issues/2416

See if it works with -b firefox and fails with -b chome:
docker run --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io:8.9.0 https://staging.ntp.net.in/ -b firefox
docker run --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io:8.9.0 https://staging.ntp.net.i

[2019-04-12 20:13] jyoprakashJP opened #2420 "How to View the result htmls when we have multiple execution"
How do you setup GCS to view multiple results.
Currently my test is storing them as with given Path- scriptname/timestamp.
How can I atleast have page when I can see the all the runs and link to individual index.html rather than manually find the timestamp values and constructing my complete URL.

http://www.sendmyresult.com/**testcopy_js/2019-04-12-15-24-55**/index.html
http://www.sendmyresult.co

[2019-04-13 11:48] soulgalore commented on #2420
I use the annotations https://www.sitespeed.io/documentation/sitespeed.io/graphite/#annotations in Grafana for finding the right run.

I'm no GSC user but maybe someone has a solution?

[2019-04-13 13:48] soulgalore opened #2421 "Show median run PageXray/ThirdParty data instead of median metric"
On the summary level we today show metrics from Browsertime from the median run. But for PageXray and Third Party we show the median metrics, meaning we miss out of specific information like console.log data for Chrome and Third Party specific tools as we show them on specific run pages.

[2019-04-14 16:48] OlgaMiniukovich opened #2423 "test localhost on linux"
Hello. I have issue testing app (which is deployed locally). My app is inside another docker container and it is accessible in browser (localhost:8080). I work on Linux (ubuntu). I know the solution for MAC (http://host.docker.internal) but it doesn't help me.
I try sudo docker run --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io:8.12.0 http://host.docker.internal:8080.
The error is { "brow

[2019-04-14 17:32] soulgalore commented on #2423
Hi @OlgaMiniukovich it looks like `--network="host"` should work according to https://stackoverflow.com/questions/24319662/from-inside-of-a-docker-container-how-do-i-connect-to-the-localhost-of-the-mach - please let us know if it worked for you so I can update the documentation.

Best
Peter

[2019-04-15 14:18] Staicul opened #2424 "ERROR: Could not get the HAR from Firefox"
This script:
[code]
when run with the command:
[code]
gives the following log:
[code]

I am running on MacOS Mojave 10.14.4.

[2019-04-15 17:06] soulgalore commented on #2424
Hi @Staicul if the HAR is undefined, it looks like the https://github.com/firefox-devtools/har-export-trigger didn't work. It's plugin we run in Firefox to be able to get the HAR file. Any change you can install it in Firefox and try that page, it looks like it could be a upstream thing, and if you can reproduce just with the plugin, it will be easier to create a upstream issue.

Thanks
Peter

[2019-04-15 20:33] OlgaMiniukovich commented on #2423
Hello @soulgalore
The solution helped. The command that worked for me is  sudo docker run --rm --network=host -v "$(pwd)":/sitespeed. sitespeedio/sitespeed.io:8.12.0 http://localhost:8080/
Thanks a lot for your help!!!

[2019-04-15 21:08] leathej1 commented on #2409
Looks good - sorry for the delay.

[2019-04-15 21:52] junktest7 commented on #2348
I'm getting the same error while trying to track load time for page refresh where url stay the same throughout the whole ordering process. This requires several refresh of the page within same url, and I can't seem to be able to track more than one action at a time otherwise, it will complain: "has been tested before within the same run, it will get an extra query parameter named browsertime_run.

[2019-04-15 22:38] #2423 closed

[2019-04-15 22:47] soulgalore commented on #2348
Hi @junktest7 ,
I think it is several issues: The warning is fixed, but then it seems to be a bug somewhere then if it doesn't work for you.

The "cannot set property _meta" ... can mean many things so if you could create a new bug that would be super. Also if you could share how you run so I can reproduce that would be great: peter [at] soulgalore [dot] com.

Best
Peter

[2019-04-15 23:24] washingon opened #2425 "Firefox visualmetrics are not recorded for long URL, even with alias - [sitespeedio.queuehandler] Error: PageIndex out of range"
docker:  sitespeedio/sitespeed.io:8.12.0
  browsers:  firefox and chrome
  script.js
  ubuntu 16.04

When the URL is long (in my case more than 245 characters), visual metrics are not recorded for browser firefox but are recorded for chrome.  Even when alias is used.

In chrome, the visual metrics (first visual change, speed index, last visual change) are shown in the HTML and sent to the graphite

[2019-04-16 05:22] soulgalore commented on #2425
Hi @washingon thanks for creating the issue. So it must be some kind of filename issue then for the video, let me try and see if I can reproduce.

Best
Peter

[2019-04-16 13:02] soulgalore opened #2426 "Better error handling"
Error handling has been the same for many versions and with latest fixes in Browsertime [#811](https://github.com/sitespeedio/browsertime/pull/811) and [#812](https://github.com/sitespeedio/browsertime/pull/812) things are coming together. What's missing now is:
* sitespeed.io frontend only handles one error per URL, if you run 3 iterations and one fail, that all will be marked as failed.
* errors

[2019-04-17 02:27] MasonM commented on #2415
@soulgalore There's a couple use cases I have in mind:

* I'm running sitespeed.io with Jenkins, and would like to add a link to the Jenkins build in the header.
* In the `template/pages.pug` template, I want to add links to https://compare.sitespeed.io as a table column for each page.

#1400 mentioned a couple more use cases (branding and translations)

You're right, and the existing functionalit

[2019-04-17 03:02] MasonM commented on #2385
I also discovered this while using sitespeed.io to benchmark several unrelated sites at the same time. The "Summary" page is showing median statistics (e.g. "Performance score") across every URL being analyzed, which isn't meaningful in my case. Example: analyzing my site and several competitor websites at the same time to see how my site compares.

A possible solution would be to add a drop-down

[2019-04-17 04:43] jyoprakashJP commented on #2420
I was able to use annotation, only problem was that it works for single URL. In case of multi step test , it would appear when you select the last step(page). however I was able to open the result HTML.

[2019-04-17 04:45] jyoprakashJP commented on #2418
do you have any sample?

[2019-04-17 07:53] soulgalore commented on #2420
Ah I see. Can you share an example where it don't work for you? We have a couple of multi steps running on dashboard.sitespeed.io and the annotations looks ok there?

[2019-04-17 07:57] soulgalore commented on #2385
I would say it depends what you test, media for multiple sites is good if you wanna compare how you are doing against the median of all of them :) It's not ideal the way it is now, in 4.x (I think) we used to have one extra layer, so you could compare groups of URLs agains each other, that would probably solve it but needs some extra work to get done.

[2019-04-17 07:59] soulgalore commented on #2415
Ok, yeah I'm thinking a way of doing small overrides, passing the new pug with messages is the way to go. I can help out sometimes after the 9th of May, got a really tight schedule until then.

[2019-04-17 08:27] soulgalore commented on #2418
I've pushed 8.13.0 and here are the small docs: https://www.sitespeed.io/documentation/sitespeed.io/scripting/#error-handling

[2019-04-17 13:11] jyoprakashJP commented on #2420
eg- I have 2 Steps in the script, 1-LoginPage, 2-Login.
Scenario1- I run both transaction, and when I apply annotation, I see that it works for 1st step. when I select the 2nd Step from page drop down, annotation goes away.

Scenario2- I comment out 2nd step, and run again. I see that annotation is working for 1st step.

[2019-04-17 13:58] jyoprakashJP commented on #2418
Sure.
How I plan to run my script, I need to have validation for each step, if validation failes, I should fail that step, capture the failure, add it to dashboard for alert..

module.exports = async function(context, commands)
   {
  try{
  await commands.measure.start('loginPage');
  await commands.navigate('https://en.wikipedia.org/w/index.php?title=Special:UserLogin');
  await commands.wait.by

[2019-04-17 14:32] jyoprakashJP commented on #2418
Tried process.exit(1) and it stops the execution on error, but also, no test metrics/report htmls are generated.
If I can get html report for failed transaction, would be easy to troubleshoot in production (but I still don't want execute next step if 1st Step fails)

[2019-04-17 18:09] soulgalore commented on #2420
Ok then I think there's a bug or some kind of scenario that I missed.

If everything works, the dropdown for the page, matches the tags in the annotation:
<img width="515" alt="Screen Shot 2019-04-17 at 20 06 47" src="https://user-images.githubusercontent.com/540757/56310530-6caa0000-614c-11e9-9400-646efca2080c.png">

Any change you can share your exact example so I can try to reproduce? You can e

[2019-04-17 18:13] soulgalore commented on #2418
Yeah process.exit(1) will exit the node process = sitespeed.io will just stop. You can just throw the error and everything will be generated. However the error will not end up Graphite/InfluxDB at the moment. I had a quick look the other day and it needs some work to fix. I also wanna have something like commands.error(url, errorText) so you can add your own errors when things are missing/failing

[2019-04-18 14:31] jyoprakashJP commented on #2418
I tried something like below where next step would not execute if previous failed. Also, I am able to gather all metrics/result html for failed step. Only thing pending is capturing the error and sending to DB/dashboard as annotation or metrics.

catch (e)
       {
      return commands.measure.stop();
       process.exit(1);
       }

[2019-04-18 14:34] soulgalore commented on #2418
If you use process.exit you will end sitespeed.io, instead try to rethrow the error:

[code]

[2019-04-18 15:21] junktest7 commented on #2348
Hi @soulgalore, thanks a lot for your answer. I ended up writing my own code to get page load time, and I can't just share my script since I'm working on a site I can't give you the password for. I will write a script for you on a demo site as soon as I am done with my current project and will share that with you then. Thanks a lot!

[2019-04-18 17:31] MasonM commented on #2267
FYI: With Sitespeed.io 8.11.0, it's now possible to enable Chrome throttling using the DevTools protocol in a script. Example:
[code]

[2019-04-19 05:53] soulgalore commented on #2267
Thank you @MasonM for adding the example!

[2019-04-19 05:57] soulgalore opened #2430 "Question about setup"
We got this question on our Slack channel:

I would like a recommendation from you. I have read the following documentation (https://www.sitespeed.io/documentation/sitespeed.io/performance-dashboard/#setup-important), It mentions to use sitespeed stand-alone (we understand as one container) . However, given our scenario, we don't know if the architecture, we decided matchs the recommendation.

Our

[2019-04-19 06:27] soulgalore commented on #2430
Getting stable metrics can be hard. We've been testing different cloud providers at work and with sitespeed.io  running different setups, and we have always got the most stable metrics with AWS. However one AWS instance (for example c5.large) cab differ from another instance of the same type. So if you run the same test on the same type of instance on two different instances, you can get different

[2019-04-19 12:39] bkarlson opened #2431 "storageManager.writeData in custom plugin does nothing?"
Hello,
I'm trying to make https://gitlab.com/gitlab-org/gl-performance/raw/master/index.js work, and while everything looks fine (i.e. plugin loads, starts, collects data etc -- I checked everything via logging), the final step `storageManager.writeData` does nothing: no files are written and no errors are returned. I played with permissions, tried to point it to another dir:

[code]

nothing is h

[2019-04-19 12:55] bkarlson commented on #2431
I ended up using default `fs.writeFileSync`. No idea why async write does no work in such case.

To whoever stumbles here via google:

[code]

[2019-04-19 14:39] soulgalore commented on #2431
Hi @bkarlson just want to check that you returned the promise or awaited it when you tried storageManager.writeData? Any chance you could share your example?

Best
Peter

[2019-04-20 17:16] vivitc commented on #2430
Thanks Peter,
We will make more test with scripting feature.
As well, we would like to give you more context: We are trying to use sitespeed as frontend monitoring tool using lab data (https://developers.google.com/web/fundamentals/performance/speed-tools/), there are service, infra changes that affect the normal behaviour. We are trying to get some basic metrics: availability(we created using the

[2019-04-20 19:15] soulgalore commented on #2430
Ah I see. What I meant there where not running different scenarios, more that if you test many pages after each other (either with a long URL list or crawling) you will hit the default NodeJS default memory limit. So you need to increase it, else you will run out or memory,

Either multiple containers on the same (big) server with correct config (you need to setup xvfb to use different ports if yo

[2019-04-21 16:22] bkarlson commented on #2431
Yes, the `close()` function returns promise in the original script:

[code]

I realise it's got smth to do with async-nature of `writeData`, but i'm not strong enough in JS to make it work in original https://gitlab.com/gitlab-org/gl-performance/raw/master/index.js. What puzzles me that it does not work out of the box, yet the plugin is supplied and extensively documented on GItLab website. I'd as

[2019-04-21 19:09] washingon commented on #2425
@soulgalore are you able to reproduce ?

[2019-04-21 19:41] soulgalore commented on #2425
I haven't tried, do you have a URL I can use to test @washingon ?

[2019-04-22 11:38] washingon commented on #2425
I just ran several sequences and think that the issue for firefox occurs when the page with long url has been visited previously.  chrome handles the sequence.

I don't have a public url that I can share to demonstrate for you.

[2019-04-22 14:18] naomijub commented on #2430
@shakey2k2 I believe we could run frequently browsertime with less metrics. So instead of running all sitespeed metrics, we could run just a couple metrics we consider best. Is that possible? Also, could we integrate with a separated selenium machine for performance gain?

[2019-04-23 08:44] soulgalore commented on #2430
Yep you could use Browsertime. We do it at work and then cherry pick some metrics from the result json file (using the official Docker container).

You mean using a Selenium grid or? To be able to get Visual Metrics you need to run on the local machine.

[2019-04-23 14:27] matheusfig90 opened #2433 "Close method not working in 8.13.0"
Hi everyone,

My team is developing a plugin to expose sitespeed metrics in Prometheus.

An example of code:

[code]

Now, we are using a version `7.7.3` and works very well! But, on upgrade to `8.13.0` doesn't work :(

Anyone has this problem?

We are running in MacOS Mojave (Docker version 18.09.2, build 6247962).

Best Regards,
Matheus

[2019-04-23 14:43] soulgalore commented on #2433
Hi @matheusfig90 thanks for creating the report, I think it's bug somewhere, let me have a look later tonight. There was another issue just a couple of days ago with almost the same problem so my guess is that I somehow introduced it unintentionally ... however it should be easy to fix when I find it :)

I'll update the issue ASAP when I have time to have a look.

Best
Peter

[2019-04-23 17:23] soulgalore commented on #2433
Hi again @matheusfig90 so there was a bug introduced in 8.x (probably 8.0= where we didn't wait on all close methods to finished before moving on. I've fixed that and will release it later tonight (in about 4-5 hours). The reason we haven't noticed is that we moved on to act on message instead of using open close. You can read more about the messages in https://www.sitespeed.io/documentation/sites

[2019-04-23 17:24] soulgalore commented on #2431
There was a bug in 8.x that didn't make sure we waited on all promises from close methods until it moved on. It's fixed in https://github.com/sitespeedio/sitespeed.io/commit/6b954528e3c36ce825e97672ef2ab83e4ccd52d9 and I plan to release it later today.

[2019-04-23 17:35] soulgalore commented on #2433
Lets keep it open until its verified.

[2019-04-23 18:55] jyoprakashJP opened #2435 "command.addText.byXpath not working for me"
Am I doing any thing wrong?
Script runs good until 2nd Try block and when I try to key word search using Xpath, it fails, I dont see any error thrown, but I see that catch block is executed.
**await command.addText.byXpath('gloves','//*[@id="searchBarForm"]/div/div/input');**

1. Please note that I don't have id in search field so have to use xpath or css selector to add text.
2. Addtext.byId work

[2019-04-23 19:27] jyoprakashJP commented on #2435
I tried wiki login script with xpath, did not work for me, and no error thrown as well.

 module.exports = async function(context, commands)
   {
  await commands.measure.start('loginPage');
  await commands.navigate('https://en.wikipedia.org/w/index.php?title=Special:UserLogin');
  await commands.measure.stop();
   try {
  //       await commands.addText.byId('myusername','wpName1');
  //       a

[2019-04-23 20:38] soulgalore commented on #2433
8.14.0 is there now, let me know @matheusfig90 when you had time to test it out!

[2019-04-23 20:43] matheusfig90 commented on #2433
@soulgalore man, you are the best!

it's working now!
thank you very much!

[2019-04-23 20:43] #2433 closed

[2019-04-23 21:36] soulgalore commented on #2435
Hi @jyoprakashJP are you sure your xpath expression is correct? When I add scripts I usually do it without Docker just so I can see the browser window and visually verify what happens. If you upgrade to 8.14.0 the error you get will have a better error message (before we just wrapped the Chromedriver error and that rarely said something interesting), hopefully that can help you.

Best
Peter

[2019-04-23 21:56] soulgalore commented on #2433
Great! Well, it was me that introduced the bug so I should fix that :)

[2019-04-23 22:21] jyoprakashJP commented on #2435
I believe so, I tried the wiki login example, and just replaced addtext with xpath version. I will try to run local with 8.14.

module.exports = async function(context, commands)
{
await commands.measure.start('loginPage');
await commands.navigate('https://en.wikipedia.org/w/index.php?title=Special:UserLogin');
await commands.measure.stop();
try {
// await commands.addText.byId('myusername','wpNam

[2019-04-24 16:13] jyoprakashJP commented on #2435
Xpath is not working for me even with latest 8.14, I don't see any error message thrown but I do see that catch block is executed.

await command.addText.byXpath('myusername','//[@id="wpName1"]');
await command.addText.byXpath('mypassword','//[@id="wpPassword1"]');

[2019-04-24 16:58] soulgalore commented on #2435
But do you log the error so you can see what happens?

[code]

[2019-04-25 14:09] jyoprakashJP commented on #2435
Seems some syntax error. Its working now. Other issue while running with 8.14 is that I am getting "Could not Parse trace log from Chrome Error: No ThreadId found for ThreadID ...."

[2019-04-25 14:12] soulgalore commented on #2435
Ok!

That is Chrome issue, the implementations have changed over time. This started to happen on some URLs two versions ago but I haven't been able to nail it. If you can share the URL so I can reproduce that would be great, or if you could the chrome trace log (is it produced?) from the failing run, that would also help!

Best
Peter

[2019-04-25 14:23] softwareklinic opened #2437 "Unable to find identical content"
Does sitespeed support identifying duplicate content served from different urls on the same page - e.g. on gtmetrix

![image](https://user-images.githubusercontent.com/7537289/56743219-cbb6d880-673b-11e9-9be4-291b9ea40a2d.png)

[2019-04-25 14:40] soulgalore commented on #2437
No it does not. Its a use case I haven't thought of.

The coach checks for multiple JQuerys but nothing more than that.

[2019-04-27 14:25] soulgalore opened #2439 "Fetch URL/scrips from ... a URL :)"
One thing that we are missing today is a way to feed sitespeed.io with an endpoint where it can fetch which URLs/scripts to run. We have a user that wanted to build that on the side but I think we could do it with some small changes.

It would work something like this: You add a parameter with a URL where we will find the job/URLS/scripts is needed.

I think we could just squeeze it in the current

[2019-04-28 10:15] daviddarke commented on #2439
Hi @soulgalore . Thanks for looking into this. After a quick bit of thinking, two ways of handling this came to mind.

## Option 1
Sitespeed.io define the required format of how a custom API should present a list of urls to test.

So running something like:

`docker run --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io:8.15.0 https://randomsite.com/queue --api`

… you would expect `https://r

[2019-04-29 06:16] soulgalore commented on #2439
Hi @daviddarke thanks for taking the time to think about! If it's possible I wanna use the same structure/functionality as we have already today, just to minimising different ways of input and making it easier to test.

I'm not sure yet but I'm thinking something like this. We could change so that `--config` also reads a config file from a URL.

`docker run --rm -v "$(pwd)":/sitespeed.io sitespeed

[2019-04-29 10:03] daviddarke commented on #2439
Hi there again, yes that does sound great. Everything is on the part of the "external API" to then produce the config AND the required URLs for testing. That could be really powerful because you can also manipulate the rest of the config options at the same time via the external API.

Also from an auth point of view, the scheduler that spins up the sitespeed container can pass an API key at the sa

[2019-04-29 13:14] soulgalore commented on #2439
Great! To do it we need to upgrade yargs that we use for the CLI handling, we missed out doing for years and we should make sure we use the latest and then extend it to get the config. The last time I tried it was breaking change that broke how we instantiate plugins ... it was something like the reset() function was deprecated ... or it is deprecated now but I think also included some change, bec

[2019-04-29 14:13] daviddarke commented on #2439
Interesting, let me know if you need anything from me.

[2019-04-29 19:26] soulgalore commented on #2439
@daviddarke if you are a NodeJs user, feel free to try to upgrade yargs to the latest version and checkout what happens and see if you can make it run.  I can do that but busy until the 9th of May, after that I can do the fixes needed, but if you have time to try to fix that upgrade that would help a lot :)

[2019-04-30 09:29] daviddarke commented on #2439
Great, I'll try and have a go in the next couple of days.

[2019-04-30 09:53] soulgalore commented on #2439
Cool, no pressure though :) If I remember correctly we run 6.x version of yargs and we use the reset method get the explicit parameters in https://github.com/sitespeedio/sitespeed.io/blob/master/lib/cli/cli.js#L1119 but that somehow changed.

Later on in the code, we use those params to know which plugins to start. For example, say that you want to use Graphite and you add --graphite.host ... then

[2019-05-01 20:53] daviddarke commented on #2439
@soulgalore Yeah, with Yargs `13.2.2` I'm getting this on initial run:

[code]

Full output:

[code]

Line 74 of `lib/cli/cli.js` does seem to be causing issues. https://github.com/sitespeedio/sitespeed.io/blob/master/lib/cli/cli.js#L74

I switched this to `.version( packageInfo.version )` but it all starts unravelling there lol.

This is at the limit of my experience with node, so I may have to l

[2019-05-04 11:53] ceckoslab opened #2443 "Accent on Dashboard documentation [proposal]"
I decided to try sitespeed.io about 2 days ago. I wanted to run some smoke tests and as a new comer I wanted to have dashboard like: https://dashboard.sitespeed.io/

And to make my suggestion valid: Is there a Google Analytics data how often visitors go to Dashboard documentation page?

I come with the mindset as somebody who wants to give a try of sitespeed.io and avoid digging too early in to th

[2019-05-04 12:09] ceckoslab opened #2444 "Grafana IP for Mac - proposal [documentation]"
looks like minor but and person that does not has experience with Docker on Mac may run it to this problem but I would like to mention it.

I tested the Dashboard on my Mac machine and followed the documentation from this page: https://www.sitespeed.io/documentation/sitespeed.io/performance-dashboard/

At point 4 it says: "Access the dashboard: http://127.0.0.1:3000" but we for Mac we need to use

[2019-05-04 14:21] soulgalore commented on #2444
Hi @ceckoslab ah ok, hmm it works for me on my Mac. What version are you using?

[code]

Best
Peter

[2019-05-04 14:25] soulgalore commented on #2443
Hi @ceckoslab yeah I agree we should make it easier to find. Easiest to move it up to the "Start" but I think it should be more advanced. Let me think how we can best do it.

No we don't use GA since we believe in [privacy for our users](https://www.sitespeed.io/privacy-policy/).

Best
Peter

[2019-05-04 14:27] ceckoslab commented on #2444
Hi @soulgalore

That is interesting:

[code]

Obviously I am behind you ... do you use Docker Machine on Mac?

Looks like minor problem but I will try to find you what could be different in my setup and I will upgrade docker and docker compose.

[2019-05-04 14:29] soulgalore commented on #2439
Np @daviddarke ... if I don't find the time to do the update, I can just add the functionality for getting the config file, I think the current version will support it. I'll get back on Friday when I have had some time to try it out.

[2019-05-04 21:06] soulgalore commented on #2439
Added #2445 for the upgrade, but wanna wait on the Firefox extensions issues.

[2019-05-05 20:09] ceckoslab commented on #2444
Hello @soulgalore

I did a research and I believe that you are using Docker for Mac but not Docker Machine because I've never seen Docker Machine to run on 127.0.0.1

I never used Docker for Mac but I refer to this link that provides me with some cues: https://stackoverflow.com/a/50356519

[2019-05-06 05:01] soulgalore commented on #2444
Aha thanks @ceckoslab I'll update the docs then!

Best
Peter

[2019-05-06 10:08] Staicul commented on #2424
Hi @soulgalore , this is still giving me trouble. It seems to work with the plugin:

![Screenshot 2019-05-06 at 12 03 37](https://user-images.githubusercontent.com/23332674/57219066-406cfb00-6ff7-11e9-8a01-92abc3793cbe.png)

Do you have any other suggestions? Thanks!

[2019-05-06 10:37] soulgalore commented on #2424
Hi @Staicul jus wanted to verify that you use the latest container pushed yesterday, since Firefox broke all extensions if you don't upgrade to 66.0.4?

[2019-05-06 12:07] Staicul commented on #2424
I've just tried with sitespeed.io:8.15.2 and I get the same error.
I also updated the script in the first comment to accommodate some locator changes that took place, so it will work for you.

[2019-05-08 02:23] xanderstephens125 opened #2447 "Find the conditional formatting for index.html numbers"
I am looking for the conditional formatting for the summaryBox colors on the index.html page.

I have looked through: https://github.com/sitespeedio/sitespeed.io/blob/master/lib/support/helpers/scoreLabel.js

I was not able to find it here. Is there any straight forward conditionals, or are they all derived from elsewhere?

Thank you!

[2019-05-08 05:55] soulgalore commented on #2447
Hi @xanderstephens125 when it is a score (not a metric), the score is calculated in the coach, and then the file you showed is the one that sets the limits. They are straight forward (hard coded :)).

Best
Peter

[2019-05-08 05:58] soulgalore commented on #2439
@daviddarke one question: who needs to add new tests in your case, is it developers (that can use git) or is it users? Is it one off runs or do you wanna continuously measure each URL? For the use case where the user can use git and you continuously wanna measure a URL I have better solution :)

[2019-05-08 08:22] daviddarke commented on #2439
Hi @soulgalore it will be users.

Users, I'm building the interface for it now

continuously, nightly runs.

Many thanks.

[2019-05-08 09:23] soulgalore commented on #2439
Ok! I'll implement a simple way to add URLs using Git, hopefully I can start this weekend and use dashboard.sitespeed.io as an example. Thinking maybe tweaking your code could use that solution too.

It will work something like this: You need to create a git repo (I'm gonna use Github so everything is open), that repo will have a structure like this:

[code]

Then on the server that runs the tests

[2019-05-08 09:40] daviddarke commented on #2439
Hi there @soulgalore yeah that all makes sense. It's kind of away from what I was originally talking about because there will never be a test server, it will all be running in k8s and you get into the docker in docker problem.

I could do this now already (with no changes and not on K8) with a bash script that talks to the queue API and then literally runs the docker command and passes the url at

[2019-05-09 11:23] scabenga opened #2448 "BrowserTime pageCompleteCheck"
Hi Guys,

Just a quick query, i could not find the answer.

What is the interval on the pageCompleteCheck and is there a delay in loading this?
The question stems from the fact that i have some JS which is looking for an element being removed to stop the test, however the test is only stopping some time (4 seconds or so) after said element is removed (i'm also using the flag --browsertime.pageComp

[2019-05-09 18:39] soulgalore commented on #2448
Hi @scabenga I don't have it in my head, we use the driver.wait method in Selenium and need to check the source code there (https://seleniumhq.github.io/selenium/docs/api/javascript/module/selenium-webdriver/index_exports_WebDriver.html) to see how often it runs. Any chance you can check?

Best
Peter

[2019-05-09 18:42] soulgalore commented on #2439
I see, let me add the functionality to read the config json from HTTP the weekend (that will solve the problem for you right?).

[2019-05-10 09:05] daviddarke commented on #2439
Sounds amazing, thank you.

[2019-05-13 09:27] fakerName opened #2451 "EGL driver error ;if no GPU;can sitespeed run?"
![309FA592-8C2F-469e-917C-95144396BC4D](https://user-images.githubusercontent.com/17928352/57610870-31142180-75a4-11e9-91e8-a35ed764bc76.png)
Chrome in  74.0;In windows;

[2019-05-13 11:41] soulgalore commented on #2451
Hi @fakerName officially we don't support Windows through NodeJS, you need to use Docker.

Best
Peter

[2019-05-13 13:27] fakerName commented on #2451
OK,thank you

[2019-05-14 09:41] jomyjo opened #2458 "How to hide/delete domain's data"
Hi, quick question. Is there a way to hide or delete domains that were added?

For example, I've added http://abc.com, http://xyz.com and http://foobar.com. Now on the dashboard, I only want to show dropdown for domain abc.com and xyz.com hence, only the data of both the mentioned domains should be available.

Another case would be deleting domains that I permanently don't need already.

Are there

[2019-05-14 10:28] soulgalore commented on #2458
HI @jomyjo there's two ways of doing it:
* You remove the raw data. If you are using Graphite, the data is file based so each domain will be a folder on disk. Depending on you setup (you can mount volumes) you need to find it and then you can just go through it (folder/files follow  the same structure as the key in Graphite. When you find the right place you can just `rm -fR xyz_com`.
* Or you can

[2019-05-15 02:20] jomyjo commented on #2458
Thanks for the quick reply @soulgalore !

Can option 2 be achieved by using the pre made dashboard from sitespeed.io or do I have to create an account in Grafana for that - I was thinking how will I able to access the page as the screenshot above?

Seems like both options are for **delete** - How about if I just want to hide some domains from showing in the dashboard but I still want it to remain

[2019-05-15 07:21] fakerName commented on #2451
I turn to use Docker, but there is the same error. any reason on gpu?

[2019-05-15 07:38] fakerName commented on #2451
![image](https://user-images.githubusercontent.com/17928352/57757202-862c7080-7727-11e9-9907-82a608981685.png)

[2019-05-15 15:59] atiro commented on #2377
Hi Peter, sorry for slow follow up. That seems to stop any videos being created, but all the images for it are still created (data/video/images/(1,2,3)). The screenshots are also still there in (data/screenshots)

[2019-05-15 18:31] soulgalore commented on #2458
Hi @jomyjo the second option is hiding, not deleting. How do you run Grafana? If you host your own instance (using our docker-compose file) or your own setup, you can just login to Grafana and change the template. If you use a hosted Grafana version you can change that there too. The default dashboard that we shipped are made to be an example that you can change whatever way you need. If you are n

[2019-05-15 18:35] soulgalore commented on #2451
Seems like people had that error with Chrome/Chromedriver. Any chance you could try something else than Windows 7?

[2019-05-15 18:38] soulgalore commented on #2377
Tried it with latest release and yes it doesn't seems to work as it should. Let me look into when I find the time!

[2019-05-16 01:02] fakerName commented on #2451
I made it on mac already.win7 chrome may have some error.

[2019-05-16 07:31] #2451 closed

[2019-05-16 11:57] Staicul commented on #2424
Hi @soulgalore , I'm still getting this error and it really slows down the execution and also seems to alter the metrics. Could you take a look or give me some suggestions? Might there be a workaround?

[2019-05-16 18:05] soulgalore commented on #2424
Hi @Staicul sorry for not getting back, I haven't tried it before. What are you trying to measure? Measure will measure a navigation to a new URL (see https://www.sitespeed.io/documentation/sitespeed.io/scripting/#measure). If you wanna measure something inside a page, I think you could use a timer in the scrip (start/stop) or a user timing. To report that back ... I think you need to take care if

[2019-05-17 09:39] Staicul commented on #2424
It's my bad then. I understand it better now, thanks. But I'm still a bit confused since I'm getting the metrics for a spa with no change in the url. I'm trying to measure the homepage (the page after login). It goes like this:
[code]
Could the metrics I'm getting be reliable since there is no new url?

[2019-05-17 13:41] softwareklinic opened #2461 "About Duplicate items in 1 category of coach"
How do we differentiate which resources are violating which recommendation from coach... check below screenshot

EG... below recommendation has everything in one row... and shows multiple resources multiple times...

There are 32 response(s) that sets a p3p header. There are 66 response(s) that sets both a max-age and expires header. There are 20 response(s) that sets a pragma no-cache header (tha

[2019-05-17 18:01] leathej1 commented on #2346
Yes, please.

[2019-05-18 17:24] soulgalore commented on #2461
Hi @softwareklinic at the moment you need to check the HAR for each individual request.

Best
Peter

[2019-05-18 17:25] soulgalore commented on #2346
Hoping for a PR for that, since I'm no Jenkins user.

[2019-05-18 17:29] softwareklinic commented on #2461
Ty

Regards
Keyur

On May 18, 2019, at 12:24 PM, Peter Hedenskog <notifications@github.com>
wrote:

Hi @softwareklinic
<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_softwareklinic&d=DwMCaQ&c=udBTRvFvXC5Dhqg7UHpJlPps3mZ3LRxpb6__0PomBTQ&r=QdU9ynK_Pna3a4TlNm0IqSkTvAoOvgSYGNrfxhJcJgM&m=E2vJwm5VZm8Zb1tmfL3FQekMyMkXWEPPVzmW1ETzxS4&s=Vl9Fwj7IFdI1j0JJWKmEpBv6kZcHrXxjW9JON6vCPtY&e=>
at t

[2019-05-20 15:21] geoffrey-brier opened #2463 "Undefined value found at path 'thirdParty.cookieStats' for 'pagexray.pageSummary' message (url = undefined)"
Hi there,

First of all, thanks for the wonderful tool ;)

I'm running sitespeed on my Ubuntu 18.04 (bionic) via Docker and I have this error :

[code]

Here is the full output along with the command line I'm using :

[code]

Hope this is gonna help.

[2019-05-21 05:05] soulgalore commented on #2463
Hi @geoffrey-brier thanks for the kind words :)

It's a warning and I need to dig into the reason (it's something with that page that we don't handle correctly). I'll look into it after I've pushed the new release later today/tomorrow (since it's not a breaking thing).

Best
Peter

[2019-05-21 05:40] manojs1978 opened #2464 "sitespeed time out error"
i have installed sitespeed.io 8.15.2 and facing below issue while running below command
previously it was working fine but after upgrading to 8.15.2 , i am facing time out error . browser is opening but not nevigating to sitespeed.io website.

 Versions OS: win32 10.0.16299 nodejs: v10.15.3 sitespeed.io: 8.15.2 browsertime: 4.9.1 coach: 3.4.0

sitespeed.io https://www.sitespeed.io

ERROR: TimeoutE

[2019-05-21 12:56] Uporaba1 opened #2466 "ERROR: UrlLoadError: Failed to load/verify"
Hi,I run the container with command:
`docker run --name speedtest --rm -v /home/speedtest/urls.txt:/sitespeed.io/urls.txt sitespeedio/sitespeed.io:8.15.2 urls.txt --graphite.host=host.of.graphite -n 1 --speedIndex false --video false -c 3g --graphite.namespace sitespeed_io.xxx`
And when i look in the logs i see it:
`[2019-05-21 12:48:21] INFO: Running tests using Chrome - 1 iteration(s)
[2019-05-2

[2019-05-21 15:06] jbrawley opened #2467 "Instructions on how to fail a deployment in CI if performance budget fails(preferably after retrying)"
This is less of a bug, and more of a question on how to use the tool.  I asked on Twitter, and it was suggested to open up an issue to discuss there.

"Are there any instructions for how to fail a deployment in CI if a performance budget fails, or any best practice around this?  Maybe a way to repeat the test if it fails x times, before failing the deployment?"

Our config is a work in progress, w

[2019-05-21 15:07] jbrawley commented on #2467
{
  "browsertime": {
    "iterations": 5,
    "browser": "chrome",
    "headless": true,
    "outputFolder": "output",
    "cacheClearRaw": true
  },
  "chrome": {
    "timeline": true,
    "args": "no-sandbox"
  },
  "graphite": {
    "host": "redacted",
    "port": "redacted",
    "includeQueryParams": true
  },
  "metrics": {
    "filter": [
      "coach.pageSummary.advice.performance.adviceLis

[2019-05-21 18:19] soulgalore commented on #2467
Hi @jbrawley thanks for creating the issue. We try to answer as much as possible in issues (or the docs) so it searchable. The docs is missing this part so let me answer it here first and then update the docs.

If you run using a budget file, the exit code will be an error if the budget fails. So run sitespeed.io and then check `$?` . If it's a 0 the budget was ok, if it's a 1 it failed.

There's

[2019-05-21 18:24] soulgalore commented on #2466
Hi @Uporaba1 when I tried the URL it seems lika a lot of redirects is going on, I wonder if thats the problem? Can you test the final URL and see if it works for you?

Best
Peter

[2019-05-22 04:22] manojs1978 commented on #2464
hi , i have updated sitespeed.io to new version 9.0.0 still i am facing timeout error. is it machine specific issue or what ?
could you please help me here , i totally stuck here.

scenario:
after installing sitespeed to 9.0.0 on window 10 machine , i am just running below command , still it time outs.
sitespeed.io https://www.sitespeed.io

actual result:
[2019-05-22 09:49:36] ERROR: TimeoutError:

[2019-05-22 06:43] soulgalore commented on #2464
Hi @manojs1978 we officially doesn't support running node version directly on Windows (but it would be cool if it worked). Can you try with Docker?

Best
Peter

[2019-05-23 11:06] Uporaba1 commented on #2466
@soulgalore This problem is not due to redirection. On some sites that are not in my company's network, the exact same problem occurs.

[2019-05-23 11:07] Uporaba1 commented on #2466
@soulgalore I cited this site only as an example.

[2019-05-23 11:38] manojs1978 commented on #2464
Hi @soulgalore
previously it was working well with windows but from last some update it is not working.

i have installed sitespeed with docker ,
it is working with external urls but not working with testing URLs behind proxy servers. i set proxy server as well but failing
command i run:

 docker run  --privileged --shm-size=1g --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io  https://****.

[2019-05-23 12:12] Uporaba1 commented on #2466
@soulgalore I also noticed that metrics are coming, but randomly. I have a server on my server, a cron task that runs the container every hour. But metrics for some reason come randomly.
![image](https://user-images.githubusercontent.com/32709525/58251753-d8037500-7d7d-11e9-9fef-4065f7a2a004.png)
![image](https://user-images.githubusercontent.com/32709525/58251772-e5206400-7d7d-11e9-8e33-468ec1627

[2019-05-24 09:19] Uporaba1 commented on #2466
@soulgalore What information do you need to help solve my problem?

[2019-05-24 11:49] soulgalore commented on #2466
Hi @Uporaba1 here's the docs on how you can help us: https://www.sitespeed.io/documentation/sitespeed.io/bug-report/

For your sites not working, do you run inside of your network at work or a machine somewhere outside?

Is it your Graphite or? By default Graphite have a low limit of new metrics that can be created per minute, could it be that? Or do you mean random as it doesn't match your cron?

[2019-05-24 16:53] leathej1 opened #2473 "Bad HTML on Waterfall page"
Docker image - 9.0.0

Looks something like this:

Waterfall
Run 1

\n \n \n\n\n\n\n\n\n \n \n \n \n\n\n
\n\n
\n\n
\n
\n \n  \"\"\n \n

\n
\n\n
\n \n \n \n \n \n \n \n \n
\n\n
\n

You can contact me for the full repro script and report.

[2019-05-24 16:53] leathej1 commented on #2473
<img width="1280" alt="Screen Shot 2019-05-24 at 9 48 58 AM" src="https://user-images.githubusercontent.com/24658347/58344146-c798dc00-7e09-11e9-9d25-7533cacd598a.png">

[2019-05-24 17:15] soulgalore commented on #2473
Hi @leathej1 wow :) And you don't get any errors in the log? If you could share the HAR file that would be great!

Best
Peter

[2019-05-27 14:02] Uporaba1 commented on #2466
@soulgalore at work

[2019-05-28 03:28] soulgalore commented on #2473
There's a couple of bugs here, hopefully I can include a fix for the release coming on Thursday!

[2019-05-28 12:58] prashanth-sams opened #2482 "[unable to attach budget] ENOENT: no such file or directory, open 'file.json'"
### steps to reproduce
- I used the `docker-compose.yml` file to spin up `grafana`, `graphite`, and `sitespeed.io` containers
- Created `budget.json` file
[code]

![image](https://user-images.githubusercontent.com/2948696/58478170-71f46480-8166-11e9-8386-31276ee32c7f.png)

### run command
[code]

### output error in terminal
[code]
**Note:** Am not sure if this is the way to attach budget file

it

[2019-05-28 13:01] soulgalore commented on #2482
Hi @prashanth-sams you need to map the volume so it exists inside of the Docker container. Here are one example when you run docker run: https://www.sitespeed.io/documentation/sitespeed.io/docker/#more-about-volumes

It's better to Dcoker run (I'll update the docs) since it's simpler and will work out of the box when you run on different machines (sorry for that example in the docs).

Best
Peter

[2019-05-28 13:37] prashanth-sams commented on #2482
thank you @soulgalore I get it; let me try that. I will close this issue tomorrow.

[2019-05-28 22:12] maherAbuyounes commented on #2088
Hi all I am facing same issue and I have installed lastest node JS veriosn 10.15.3

SyntaxError: Invalid or unexpected token
    at new Script (vm.js:80:7)
    at createScript (vm.js:274:10)
    at Object.runInThisContext (vm.js:326:10)
    at Module._compile (internal/modules/cjs/loader.js:664:28)
    at Object.Module._extensions..js (internal/modules/cjs/loader.js:712:10)
    at Module.load (int

[2019-05-28 22:23] soulgalore commented on #2088
Hi @maherAbuyounes  I think that means that the script isn't valid, can you lint it and check that it is correct?

Best
Peter

[2019-05-28 22:28] maherAbuyounes commented on #2088
Hi @soulgalore I checked by using this websit and it valid
http://esprima.org/demo/validate.html

module.exports = async function(context, commands) {
 await commands.measure.start('*******');
 try {
await commands.addText.byid('******','username');
await commands.wait.byTime(1000);
await commands.addText.byid('********','password');
await commands.click.byid('validateLogin');
await commands.click

[2019-05-28 22:34] maherAbuyounes commented on #2088
@soulgalore Am I using right command to run ?
bin/sitespeed.js viewPagecopy.js --multi

Could you please share valid JS file and command with me

[2019-05-29 04:45] soulgalore commented on #2088
Try one of the simpler ones like: https://www.sitespeed.io/documentation/sitespeed.io/scripting/#measure-multiple-pages

[2019-05-29 09:15] MaksSieve opened #2483 "npm error while installing"
I tried to install sitespeed to Mircosoft Ubuntu but has thi problem

[code]

[2019-05-29 13:57] Xebi4i opened #2484 "--multi flag cannot be used with urls.txt"
Hello. I am trying to verify static pages and scripted scenarios in one test:
`docker-compose run sitespeed.io --config config.json urls.txt auth.js --multi`
But if I use --multi flag, my command is falling down with error.
Without this flag, my script is not executed.

All files are mapped in compose file.
I am using the latest version of sitespeed: 9.0.0
MacOS machine
Chrome browser

Can someone

[2019-05-29 14:17] soulgalore commented on #2484
Hi @Xebi4i the multi flag is used signal that all files that you feed is a script file, testing "multiple" pages within the same browser session. If you have a text file with URLs, each URL is in a new browser session.

Is your use case like this: auth.js logs in the user and then you want to teat one URL as a logged in the user? Then you can use `--preScript auth.js urls.txt` then for each URL a

[2019-05-30 08:51] Xebi4i commented on #2484
That makes sense. Thank you for explaining. Indeed I tried to use multi as preScript flag.
Close the ticket.

[2019-05-30 08:51] #2484 closed

[2019-05-30 09:12] Xebi4i opened #2485 "headless, visualMetrics and video parameters in config file are ignored."
Hello.
_headless=true_ parameter in config.json file raises error, that make me include 2 other parameters (_visualMetrics=false_ and _video=false_) into the same config. But it does not help.
I see the same error.
`docker-compose run sitespeed.io --config config.json https://google.com/`

But if I use _visualMetrics_ and _video_ parameters explicitly in command line, this error does not happen.
`

[2019-05-30 11:40] soulgalore commented on #2485
Hi @Xebi4i yeah that isn't optimal. I haven't verified but I think the reason that in our Docker file we automatically [turn on video and visual metrics by default](https://github.com/sitespeedio/sitespeed.io/blob/master/Dockerfile#L3-L6) and I think they override what you configured in your configuration file. So it looks something like this:

`config.json -> docker config -> cli config`

We coul

[2019-05-30 11:42] soulgalore commented on #2483
Hi @MaksSieve thanks for creating the issue. It seems to fail with the unpack. I think this shouldn't be a specific issue but need to look into it. Any help appreciated since I don't have a Windows machine.

Best
Peter

[2019-05-30 11:45] soulgalore commented on #2310
In 9.0 we replaced both how we get the trace log (before we use Chromedriver but that was broken since we are not guaranteed to get the full log) to use CDP and change how we parse the trace log (we use Tracium now). Hopefully that works better. I'm closing but please let me know if you see any issues.

[2019-05-30 11:45] #2310 closed

[2019-05-30 11:47] soulgalore commented on #2406
Closing, let me know if you need more help!

[2019-05-30 11:47] #2406 closed

[2019-05-30 11:49] soulgalore commented on #1069
@softwareklinic you should checkout the new leaderboard https://www.sitespeed.io/documentation/sitespeed.io/leaderboard/ - that's the better solution (at least for me hehe) since it doesn't complicate the code + make things configurable for you as user.

[2019-05-30 11:49] #1069 closed

[2019-05-30 11:52] soulgalore commented on #1277
With the new 3rd party functionality in late 8 and 9 I think the CPU time spent for 3rd parties is the way to go. What we could do is and total time spent downloaded per 3rd party (today we only have CPU). Let me have a go at that.

[2019-05-30 12:06] paveltsybenka commented on #1681
@soulgalore  Peter, is there a chance to output metric values into log.
We use sitespeed in gitlab CI and we want VC99, Full load, Lighthouse TTI (BTW thanks for 9.0plus!).
Whether it is possible?
Ideally would be exporting (*all) metrics available in HTML report to JSON file. Current performance.json is not quite detailed. ;)
![sitespeed](https://user-images.githubusercontent.com/51198854/5863187

[2019-05-30 12:09] soulgalore commented on #1277
Made a PR, coming in next release.

[2019-05-30 12:12] soulgalore commented on #2329
Released earlier this year, thank you @mliljedahl !

[2019-05-30 12:12] #2329 closed

[2019-05-30 12:12] soulgalore commented on #2337
Closing this since we didn't get more, but please let us know if you still need help!

[2019-05-30 12:12] #2337 closed

[2019-05-30 12:13] soulgalore commented on #2421
This is done for Third Party data, I think that is enough for now.

[2019-05-30 12:13] #2421 closed

[2019-05-30 12:14] soulgalore commented on #2426
Woho this is much better now!

[2019-05-30 12:14] #2426 closed

[2019-05-30 12:15] soulgalore commented on #2430
Think the question was answered :)

[2019-05-30 12:15] #2430 closed

[2019-05-30 12:16] soulgalore commented on #2431
This was released a couple of months ago, please let me know if it is still a problem and we can re-open.

[2019-05-30 12:16] #2431 closed

[2019-05-30 12:16] soulgalore commented on #2435
In 9.0 we changed tools to get the trace log and hopefully this works better for you know. If not, please let us know.

[2019-05-30 12:16] #2435 closed

[2019-05-30 12:17] soulgalore commented on #2437
Closing because I don't see this is gonna be implemented.

[2019-05-30 12:17] #2437 closed

[2019-05-30 12:18] soulgalore commented on #2439
When we released 9.0 we updated yargs but I haven't implemented the fix to get the config. Before I do I just wanted verify (again) that you need it @daviddarke  :)

[2019-05-30 12:19] soulgalore commented on #2447
Closing but let me know if you need more help.

[2019-05-30 12:19] #2447 closed

[2019-05-30 12:19] soulgalore commented on #2448
Closing but please let me know if you need to know exact how it works!

[2019-05-30 12:19] #2448 closed

[2019-05-30 12:20] #2461 closed

[2019-05-30 12:23] soulgalore commented on #2473
The fix was released in 9.1 earlier today, I could verify the issue and see that it works for me, but please let me know if it still fails for you. The issue was originally for pages that has inline JavaScript in the HTML and that broke the rendering on our side.

[2019-05-30 12:23] soulgalore commented on #2458
Let me know if you need more help!

[2019-05-30 12:23] #2458 closed

[2019-05-30 12:30] daviddarke commented on #2439
Hi there @soulgalore I will 100% use this feature, but please don't think you have to do this on just my behalf.

If you feel it's outside of the feature set you currently want to supply, or the docker inside docker aspect is an edge case then I'll find another workaround some other way, no problem 👍

[2019-05-30 13:54] soulgalore commented on #2439
I was thinking there is a workaround :) Sorry I'm lazy, I think maybe there are some functionality that we can use already, but I'm 100% since I'm no Kubernetes user.

There's way today to add your own bash script that runs before sitespeed.io starts:
https://www.sitespeed.io/documentation/sitespeed.io/docker/#extra-start-script

Is that possible to use Kubernetes? That could be a one liner using

[2019-05-30 14:00] soulgalore commented on #1778
Let us create a new issue when this is needed. I think now when we both support s3 and the google version have what we need.

[2019-05-30 14:00] #1778 closed

[2019-05-30 14:02] soulgalore commented on #2074
In 9.0 we implemented `--blockDomainsExcept` that doesn't use the extension to block, so hopefully it will work better see https://www.sitespeed.io/documentation/sitespeed.io/thirdparty/#block-all-3rd-parties

Best
Peter

[2019-05-30 14:02] #2074 closed

[2019-05-30 14:03] soulgalore commented on #1965
Closing since I don't see that Mozilla gonna fix it.

[2019-05-30 14:03] #1965 closed

[2019-05-30 14:04] #2341 closed

[2019-05-30 14:05] #2327 closed

[2019-05-30 14:10] soulgalore commented on #2340
Hi @leathej1 can you explain more how you would use that? I'm just wanna avoid storing extra data :)

Best
Peter

[2019-05-30 14:15] soulgalore commented on #1928
Closing this since I don't see that I can do something here.

[2019-05-30 14:15] #1928 closed

[2019-05-30 14:20] soulgalore commented on #1812
The way to fix this is to grep the file log, but since we have gotten so far without doing it, I think we can skip it for now.

[2019-05-30 14:20] #1812 closed

[2019-05-30 14:21] soulgalore commented on #2347
Anything more needed from us here?

[2019-05-30 14:23] soulgalore commented on #2464
Do you remember which version you where using (can you rollback an verify that it works with that version). We haven't changed navigating in 9 if I remember correctly, maybe in 6/7 or something like that.

[2019-05-30 14:23] #2366 closed

[2019-05-30 14:25] soulgalore commented on #2369
You can also set cookies with scripting nowadays. Closing.

[2019-05-30 14:25] #2369 closed

[2019-05-30 14:27] soulgalore commented on #2375
I'm closing now since I don't think there's anything we can do about it.

[2019-05-30 14:27] #2375 closed

[2019-05-30 14:27] soulgalore commented on #2376
Does this work for you now @leathej1 ?

[2019-05-30 14:28] #2396 closed

[2019-05-30 14:29] #2403 closed

[2019-05-30 14:29] #2407 closed

[2019-05-30 14:33] soulgalore commented on #2467
Closing but please let me know if you need more help!

[2019-05-30 14:33] #2467 closed

[2019-05-30 14:46] soulgalore commented on #2443
I've moved the links to the start section and added a new section on the first page, thanks for your input!

[2019-05-30 14:46] #2443 closed

[2019-05-30 14:50] soulgalore commented on #2444
Updated the docs, thanks @ceckoslab !

[2019-05-30 14:50] #2444 closed

[2019-05-30 15:00] soulgalore commented on #2466
And still looks the same? For missing metrics they appear when you been running for a while. For the failing runs I think there's something in your network at work that makes fail, please try on a cloud provider or a server outside of your work.

[2019-05-30 15:11] softwareklinic commented on #1069
Awesome

[2019-05-30 15:30] soulgalore commented on #2424
Hey @Staicul sorry for not getting back. I explained it bad. It works like this: If you run sitespeed.io by default it will wait for the pageCompleteCheck to complete (wait for the onLoadEvent to happen). If you add --spa it will wait for silence in the resource timing API meaning as long as you do one request in your spa and that one is updating the layout of the page, the video metrics like visu

[2019-05-30 15:45] leathej1 commented on #2473
Looks great - thank you!

[2019-05-30 15:50] leathej1 commented on #2340
It would be a way to trace a deviation in performance back to a specific build.  This is similar to marking deployments in an APM like New Relic https://docs.newrelic.com/docs/apm/new-relic-apm/maintenance/record-deployments

[2019-05-30 15:52] leathej1 commented on #2376
Yes, this is working fine for me.

[2019-05-30 15:52] #2376 closed

[2019-05-30 16:15] #2473 closed

[2019-05-30 16:17] soulgalore commented on #2340
The way I do it at work and for sitespeed.io I go into Grafana and create a annotation manually where I write in the description about the update from which version and to. That way I have one annotation that shows when it happens, instead of storing the version per every tag. You could also automate it by using curl etc. Would that do for you?

[2019-05-30 16:32] soulgalore commented on #2348
Cool.

[2019-05-30 16:32] #2348 closed

[2019-05-30 16:43] daviddarke commented on #2439
I did look at that, but there were issues about where the script actually existed before booting the sitespeed instance. No worries, it's sounding like you are going to need quite a few changes from your side so don't worry, I'll find a workaround from this side 👍 thanks for your time!

[2019-05-30 23:06] suratovvlad commented on #1965
I'm wondering, what was the reason? ;)

[2019-05-31 06:21] hash0307 commented on #2098
I was sort of facing similar issue, where I am unable to access https URL from within the Docker container.
Could you please share/update if we found any solution for this ? @soulgalore @sureshkrishnaselvam

[2019-05-31 09:52] drptbl commented on #2483
Same issue here, inside official node docker image based on debian: `node:10.16.0-stretch` (`yarn 1.16.0)

[code]

[2019-05-31 10:19] soulgalore commented on #2483
Hi @drptbl ah thanks for sharing, let me try reproduce then. Not sure right now though why it started to happen in 9.1.

Best
Peter

[2019-05-31 10:43] soulgalore commented on #2483
Did some searching it seems like a problem that pops up for Yarn now and then, see https://github.com/yarnpkg/yarn/issues/1834

The original problem why we have a hacked version of Selenium could be fixed: The NodeJS version released the alpha of Selenium 4 2018-01-13. That version is broken, I've made an upstream issue because it was broken when refactoring and I think the maintainer that broke i

[2019-05-31 10:53] drptbl commented on #2483
@soulgalore thanks a lot for looking in to this and for explanation.

Best Regards,
Jakub.

[2019-05-31 11:02] soulgalore commented on #2483
I had a quick look, if everything works out, I'll release a fix on Saturday morning :)

[2019-05-31 13:08] Xebi4i commented on #2485
sounds good

[2019-05-31 14:58] gety9 commented on #2347
@soulgalore

we've managed to solve it,
problem was OS version on instance server

[2019-05-31 14:58] #2347 closed

[2019-05-31 15:48] gety9 opened #2489 "Js detecting script does not detect cookie passed with sitespeed"
Guys hi,

I am running the following command:

`docker run --shm-size=1g --network=cable --rm     -e TZ=America/New_York     -v /usr/share/zoneinfo/America/New_York:/etc/localtime:ro     -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io:8.2.2-plus1 --browsertime.iterations 1  --browsertime.cookie trafficType=testing  --grafana.host XX.XXX.XX.XXX  --grafana.port 80  --grafana.auth XXXXXXX  --graph

[2019-05-31 16:13] MaksSieve commented on #2483
@soulgalore thanks a lot for fast fix! everything works on Mircosoft Ubuntu!

[2019-05-31 16:46] MaksSieve commented on #2483
@soulgalore but is there any way to run sitespeed on OS without gui?

[2019-05-31 16:48] soulgalore commented on #2483
@MaksSieve not sure exactly how you mean? You mean headless? If you use the npm version you can add --headless and it will work. However then you will not get any video or video metrics. If you setup XVFB you can run "headless". The Docker version do that automatically.

[2019-05-31 16:51] soulgalore commented on #2489
Hi @gety9 I'm not sure. First I thought it could be something wrong with how we add a cookie today. We use web extension to do it (both for Chrome and Firefox). But for Chrome we could use the ChromeDevtoolsProtol instead.

What about trying to create a really simple test case and we can work from that? Any change you could help me with that?

Best
Peter

[2019-06-01 00:38] gety9 commented on #2489
@soulgalore

Hi there, we've created 3 cookie detections pages (js inline, js in header, js in footer) all of them detected sitespeed cookie. So seems like the problem either with GTM or with somethings else on our side...

I will close it for now, will reopen if something.

If you need detection pages i can share them, but the problem is not in sitespeed.

[2019-06-01 14:47] skhilko opened #2491 "Multi page script fails in single page app"
I may be doing something wrong, but from what I read in the [docs on SPA](https://www.sitespeed.io/documentation/sitespeed.io/spa/), the following is supposed to work.

### Script (voicerecordpro.js)
[code]
### Command
[code]
### Result (Error)
[code]

Am I doing this right? I appreciate your help!

[2019-06-01 15:00] soulgalore commented on #2483
I just released 9.2.1 that should fix this.

[2019-06-01 15:09] soulgalore commented on #2491
Hi @skhilko ! Wow thank you for the great bug report, I really appreciate when you show exactly how you do so I can recreate the issue. It's really valuable and I'll always push issues to the top of my 2do list :)

I got the same when I tried. If I remove the last URL (#favorites) it works for me. At the moment we only support navigation that do a request or rather I think that's needed for the HA

[2019-06-03 03:39] wkhatri commented on #2343
Turning off full-resolution screenshot capture within settings.ini of webpagetest server config seems to have fixed the issue.
[code]

[2019-06-03 09:56] drptbl commented on #2483
@soulgalore Just tested, everything works as expected in 9.2.1. Thanks for fast fix :).

I think this issue can be closed now (OP also verified that it's fixed).

Best Regards,
Jakub.

[2019-06-03 13:53] soulgalore commented on #2483
Great!

[2019-06-03 13:53] #2483 closed

[2019-06-04 12:06] Icecold777 opened #2493 "Video converting issue"
docker image sitespeed.io:9.0.0-plus1

I see following error from time to time while running Gitlab job
First of all I've checked hardware and Gitlab monitoring shows that's everything is ok (but I don't really trust it actually).
What may be the reason of this error?

ERROR: Converting the video failed. Converting from /tmp/browsertime-EMPUJu/x11.mp4 to /sitespeed.io/sitespeed-results/desktop/cab

[2019-06-04 13:07] soulgalore commented on #2493
Hi @Icecold777 not sure. Can you run with `--videoParams.keepOriginalVideo ` and copy the original video and share it? That way I can probably reproduce on my local machine to understand what's going on. Do you get it all the time?

Best
Peter

[2019-06-04 16:47] soulgalore opened #2494 "WebPageTest script should be able to run without giving it a URL"
Running WebPageTest script standalone without browsertime, still need you to give a URL to work:

`bin/sitespeed.js --plugins.remove browsertime --webpagetest.file webpagetest.txt --webpagetest.key KEY https://www.example.com`

If you use a webpagetest.file you shouldn't need to give a URL.

[2019-06-04 17:26] Manigunner opened #2495 "Unable to run npm browsertest in RHEL7"
Command Used:

npm install browsertime -g

Versions:
Node: v6.0.0
npm: v3.8.6
OS: RHEL7

Expected result: browsertime should get installed

Actual result:
/test/user/jenkins/.nvm/versions/node/v6.0.0/bin/browsertime -> /test/user/jenkins/.nvm/versions/node/v6.0.0/lib/node_modules/browsertime/bin/browsertime.js

/test/user/jenkins/.nvm/versions/node/v6.0.0/lib/node_modules/browsertime/node_modules/

[2019-06-04 17:28] soulgalore commented on #2495
Hi @Manigunner you need to upgrade NodeJs to use latest LTS https://nodejs.org/en/. Async/await didn't exist in node 6.

Best
Peter

[2019-06-05 11:18] Icecold777 commented on #2493
Hi @soulgalore, I'll try to get the video but it's not an easy task because Gitlab do not post job artifacts when it fails. Need some time to find a workaround. As I wrote before it reproduces from time to time. I don't see any correlation.

[2019-06-05 11:23] Icecold777 opened #2496 "Lighthouse perf budget"
Is it possible to extend basic Lighthouse performance budget with more in-depth metrics?
I mean this budget which may be applied to different URLs in one test run.
{
"budget": {
  "lighthouse": {
      "performance": 90,
      "accessibility": 90,
      "best-practices": 90,
      "seo": 90,
      "pwa": 90
    }
  }
}

It would be great to see Time to Interactive, FirstCPUIdle and FirstContentful

[2019-06-05 13:06] soulgalore commented on #2493
I wonder if it can have something 2do with what kind of instance running the tests (CPU etc). I don't know how Gitlab is handling the job is do.

[2019-06-05 16:53] abecker4 commented on #2250
@balajir2016 I was able to get this to work by following the documentation and leaving off the -storepasswd argument from the 'Visualize your test in XVFB' section in the link above.

[2019-06-07 16:47] Manigunner commented on #2495
Hi @soulgalore, Thanks your suggestion worked by upgrading Node LTS. I used yarn setup and installation was successful
Now am using the set of commands inside the Docker file and struck up at installation command

Dockerfile:
Step 22/22 : RUN sudo http_proxy='http://prod-proxy-out.ttv.com:8080' https_proxy='http://prod-proxy-out.ttv.com' yarn global add sitespeed.io
 ---> Running in 301490da7897
/

[2019-06-08 10:09] aceey opened #2497 "ERROR: Incomplete first view data for WPT test while executing scripted test"
Hi guys!

I'm trying to run a site speed test with sitespeed.io with scripting and using --webpagetest.file function. I'm having error like this ("ERROR: Incomplete first view data for WPT test 190608_BC_a81596dd43c28ac392d4ace4525030bf, run 1")

**Here is my script:**
[code]

[2019-06-08 18:34] soulgalore commented on #2497
Hi @aceey when you look at the result at your WebPageTest instance, does it look ok there?

We had issued like this before check the comments:
https://github.com/sitespeedio/sitespeed.io/blob/master/lib/plugins/webpagetest/aggregator.js#L35-L37

So it looks like the SpeedIndex is not valid, what does it looks like in WebPageTest?

Best
Peter

[2019-06-08 19:24] andyfrancis opened #2499 "Result HTML not uploaded to S3: ERROR: TypeError: Cannot read property 'numberResources' of undefined"
We regularly see results not being uploaded to S3 for a test - we run multiple servers launched on demand in AWS each writing to their own S3 bucket.  The annotation appears in Grafana, but the results are not actually available in S3.

When this fails we see the following error in the logs just prior to the S3 upload - I can post the rest of our logs if you need;

[2019-06-08 19:25:15] ERROR: Typ

[2019-06-09 08:41] prashanth-sams commented on #2482
I attached the volume through `docker-compose.yml`; and it works like charm

[code]

[2019-06-09 08:41] #2482 closed

[2019-06-09 11:29] prashanth-sams opened #2500 "Unable to test multiple urls in sitespeed through .txt file"
### `budget.json`
[code]
### `txt`
[code]
### `cmd`
[code]
### `Output error`
[code]

Note: The txt file is mounted inside containers as shown in this image
![image](https://user-images.githubusercontent.com/2948696/59158443-36915880-8acb-11e9-9bc5-ea3d75a5e9a1.png)

[2019-06-09 11:45] prashanth-sams commented on #1347
I am getting the same issue now; so, I run like this
[code]

But, doing this is not a good idea; is there a workaround for this? or how this was solved?

[2019-06-09 15:14] soulgalore commented on #2499
Hi @andyfrancis thanks for the report. Gonna do a release early next week with newest Chrome, I'll make sure I'll have a look before that release.

Best
Peter

[2019-06-09 15:17] soulgalore commented on #2500
Hi @prashanth-sams thank for the report. I think the problem is that `--sites` is a non valid option, so since it isn't configured, the cli will take the next param after --sites.  If you skip --sites it should work. Could it be that we have some old docs somewhere that we need to change, do you know where you got that parameter?

Best
Peter

[2019-06-09 15:18] soulgalore commented on #1347
Hi @prashanth-sams he used https://github.com/sitespeedio/sitespeed.io/issues/1347#issuecomment-262646954 where he configured the result folders from the outside.

Best
Peter

[2019-06-09 18:00] andyfrancis commented on #2499
If you need any further details, or someone to test I'm happy to contribute.

[2019-06-10 04:12] manojs1978 commented on #2464
hi @soulgalore
i am able resolve above issue.
RCA:

on windws machine after deleting chrome.dll and reinstallig chrome, everything is working fine now with latest release as well.

[2019-06-10 04:12] #2464 closed

[2019-06-10 18:41] soulgalore commented on #2499
@andyfrancis I've pushed a new release that at least catches the error. However if I understood correctly, the problem is that GPSI doesn't return any statistics for the page you test, so it seems to be something more that is wrong.

[2019-06-10 21:27] andyfrancis commented on #2499
I've updated to the new build and now see the following error at the same point;

at eval (eval at wrap (/usr/src/app/node_modules/pug-runtime/wrap.js:6:10), <anonymous>:170:80)
at template (eval at wrap (/usr/src/app/node_modules/pug-runtime/wrap.js:6:10), <anonymous>:266:72)
at Object.renderTemplate (/usr/src/app/lib/plugins/html/renderer.js:27:37)
at HTMLBuilder.render (/usr/src/app/lib/plugins

[2019-06-11 01:12] aceey commented on #2497
Hi @soulgalore thank you for the response, when I do manual run in my webpagetest instance, running the same script it looks okay there and metrics are just totally fine.

Reviewing the screenshots and it looks like these:
![image](https://user-images.githubusercontent.com/42996872/59236429-b97bf580-8c28-11e9-9224-aeb119360290.png)
See the screenshot it shows "Error:Navigation Error" in step 1 and

[2019-06-11 07:10] prashanth-sams commented on #2500
@soulgalore thanks for the prompt reply; I did removed the --sites option and it works. I believe I saw this somewhere in one of the existing github issues when I searched for it.

[2019-06-11 07:10] #2500 closed

[2019-06-11 07:29] prashanth-sams commented on #1347
@soulgalore it worked! Thank you :)

[2019-06-11 12:00] soulgalore commented on #2499
Yeah I guess we don't handle if you don't get anything or an error from GPSI.

[2019-06-11 21:01] andyfrancis commented on #2499
Yes, it looks that way.  With the request limit resolved, there are no further issues for that error.

[2019-06-12 04:25] soulgalore commented on #2499
Cool, I'll fixed so that in the next release it at least do not break if that happens.

[2019-06-12 16:38] gety9 commented on #2489
@soulgalore

We are still trying to solve the issue.

Upon investigation we realized that

1 All Desktop Tests with cookie is correctly identified as testing (GA ID is changing to testing)
Mobile Tests Apple iPhone is correctly identified as testing (GA ID is changing to testing)
2 Only Mobile Tests Google Nexus 5 is not identified as testing (GA ID is NOT changing to testing)

Here are Jun 1 - Ju

[2019-06-12 18:01] soulgalore commented on #2489
Hi @gety9 ok I see, the reason is that WebExtension (that we use to set the cookie) doesn't work on mobile phones (Chrome doesn't support it). What you can do right now is to use https://www.sitespeed.io/documentation/sitespeed.io/scripting/ and [run Chrome Devtools Protocol commands](https://www.sitespeed.io/documentation/sitespeed.io/scripting/#cdpsendcommand-args).

Checkout https://chromedevto

[2019-06-12 18:01] soulgalore commented on #2489
In the long term I planned to add a short cut for setting the cookie that way, but I haven't had the time to focus on that yet, sorry!

[2019-06-12 19:04] gety9 commented on #2489
@soulgalore

"the reason is that WebExtension (that we use to set the cookie) doesn't work on mobile phones (Chrome doesn't support it)"
-could you explain why it works sometimes ?
it's not all (~650) mobile visits which are landed in real GA, but only ~250.
Just trying to understand how things work.

"Have you used CDP before? If not let me know if you need any help."
-Nope, but it will be simila

[2019-06-12 20:17] soulgalore commented on #2489
Ah sorry I miss read your comment. I was of the impression that it works for you on desktop and running emulated mobile, but when testing on a real Android phone, it never works?

[2019-06-13 07:43] soulgalore commented on #2489
@gety9 how do you run your tests? I've found one bug now when I was fixing another bug: If you run a script and don't navigate by a URL, (command.measure.start('alias'), the Browser Extension doesn't run (so no cookie is set). I'll try to fix that asap.

[2019-06-13 07:53] soulgalore commented on #2489
Hmm that isn't super easy to fix, I'll created a bug for it here: https://github.com/sitespeedio/browsertime/issues/859

[2019-06-13 08:33] aceey commented on #2497
Hi @soulgalore I think this issue should be close. I just fixed the issue on my side. It seems like the logData 1 function must be set right before the cart page after hitting the log in thing. Maybe the reason why incomplete metrics is return is because I navigated to other page since capturing metrics is not yet done on homepage view.

[2019-06-13 08:33] #2497 closed

[2019-06-13 09:03] gety9 commented on #2489
@soulgalore

the run for tests is always the same:

`docker run --shm-size=1g --network=3g --rm     -e TZ=America/New_York     -v /usr/share/zoneinfo/America/New_York:/etc/localtime:ro     -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io:8.2.2-plus1 --browsertime.iterations 5  --browsertime.cookie trafficType=testing  --grafana.host XX.XXX.XX.XXX  --grafana.port 80  --grafana.auth XXXXXXXXXXXXXX

[2019-06-13 23:08] soulgalore commented on #2489
Ok, then I understand. Hmm, so somehow then when running on 3g the cookie aren't set correctly?

[2019-06-13 23:46] gety9 commented on #2489
@soulgalore

yes, the problem is either `--mobile true` OR `--connectivity 3g`
seems like the cookie is set (cause the traffic is landing in testing GA too), but either it's set too slow (which is not possible i think) or there 2 visits.

What i mean if we do 100 mobile tests,
it's not that 60 go to test GA and 40 go to real GA
it's that 100 go test GA, but 40 go to real GA.
So i am trying to unde

[2019-06-13 23:48] gety9 commented on #2489
@soulgalore

could you explain me how `--mobile true` and `--connectivity 3g` work ?
I will ask javascript guys maybe there is some explanation for it.

[2019-06-14 04:03] soulgalore commented on #2489
Turn on Chrome in emulated mobile. Checkout https://github.com/sitespeedio/sitespeed.io/blob/021426058ad43ad73c4084d5120f81616d97c9f1/lib/plugins/browsertime/analyzer.js#L75-L90

Add the string 3g as the name of the connectivity. Nothing else is set if you use Docker networks. If you use Throttle as connectivity engine, then it sets up the correct tc config for the network.

[2019-06-14 13:40] mzl-ki opened #2506 "TypeError: Cannot set property '_meta' of undefined"
Hi,

I get the error **TypeError: Cannot set property '_meta' of undefined** running the following example:

[code]

navigateToGoogle.js
[code]

testMetaMissing.js
[code]

As soon as I add the navigate line to _testMetaMissing.js_ everything is fine.

[2019-06-14 14:47] gety9 commented on #2489
@soulgalore

Managed to get userAgent for this "double serving" visit for which cookie does not work, it is:
`Mozilla/5.0 (Linux; Android 6.0.1; Nexus 5 Build/MRA58N) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/71.0.3559.0 Mobile Safari/537.36`

Doing google search i came to
https://github.com/GoogleChrome/lighthouse/issues/6814
https://github.com/GoogleChrome/lighthouse/issues/7009#issuecomment

[2019-06-14 16:49] soulgalore commented on #2506
Hi @ppi-mzl thanks for creating the issue, I think the docs is unclear:

`--preScript` is a way to run something before you test a URL. For example, say that you want to test 10 pages of your site as a logged in user. Then create a preScript that logs in the user and feed sitespeed.io with ten URLs. Then for each URL the browser will open, your user will be logged in and then you will measure each

[2019-06-14 16:51] soulgalore commented on #2489
Aha I see. If you set a cookie for browsertime we don't automatically set that for Lighthouse/GPSI/WebPageTest or whatever other tool you use. Sorry I missed that you are using the plus1 container.

[2019-06-14 18:17] gety9 commented on #2489
@soulgalore

ok, understood

How can i set the cookie to Lighthouse ? Is there a parameter so something i can add to the run that we use now ?

`docker run --shm-size=1g --network=3g --rm -e TZ=America/New_York -v /usr/share/zoneinfo/America/New_York:/etc/localtime:ro -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io:8.2.2-plus1 --browsertime.iterations 5 --browsertime.cookie trafficType=testing

[2019-06-14 19:01] soulgalore commented on #2489
I think you can set headers with Lighthouse, check their docs. Parameters in the namespace --lighthouse.settings.* is passed on to Lighthouse, check https://github.com/sitespeedio/plugin-lighthouse#configuration

[2019-06-15 00:11] gety9 commented on #2489
@soulgalore

i see, thank you

I've added this to json config file

[code]

which added this to run command

`--lighthouse.settings.extra-headers {"Cookie":"trafficType=testing"}`

let's see if it will fix it.

[2019-06-15 10:33] soulgalore commented on #2489
Yeah try something like that. It could also be **extraHeaders** think the doc isnät clear. You can test on httpbin just to get it right: https://httpbin.org/#/Request_inspection/get_headers

[2019-06-17 07:18] ppi-mzl commented on #2506
Hey,

thanks for the kind explanation. The code above is just an example for how to reproduce the error and has no actual meaning.

I want to test some components excluding the page load time so I thought navigating to the url in the preScript and using measure.start() in the actual script was the way to go.

In any case the error code should be more descriptive.

Regards
Martin

[2019-06-18 06:34] soulgalore commented on #2506
If you can provide a real example following our guide: https://www.sitespeed.io/documentation/sitespeed.io/bug-report/ we can see if we can fix the original problem. I've seen this pattern before, simplifying use cases sometimes misses the real error, so with real with real examples we can probably fix it or at least add it to the list of things that should be fixed :)

Best
Peter

[2019-06-18 14:00] softwareklinic opened #2508 "Need Help -- Request Header to pass LINK PREFETCH"
Before I make a change to the page to add prefetch/preload etc... i wanted to test using sitespeed by injecting or altering the header to add the LINK e.g. below for http header

HTTP Header: Link: </uploads/images/pic.png>; rel=prefetch

I looked at the sitespeed documentation --- how do I specify or use the --requestheader where it says key=value

would it look something like

**_--requestheader

[2019-06-18 14:09] soulgalore commented on #2508
Hi @softwareklinic the request header is the header you can configure that sitespeed.io will add to Chrome/Firefox when it access your site.

If you wanna add a **response** header, I guess you can do that with a proxy.

If you need to manipulate a page you can use `--browsertime.injectJs` - Inject JavaScript into the current page (only Firefox at the moment) at document_start. More info: https://

[2019-06-18 15:15] Icecold777 opened #2509 "docker --shm-size=1g start parameter question"
Hello,
Recently I've found that --shm-size=1g docker parameter disappeared from all sitespeed.io documentation. Is it not useful anymore?

[2019-06-18 16:56] kmaqsudi opened #2510 "Ability to edit fields sent to slack with --slack.hookURL"
Hello,

I would like to be able to edit the fields that are reported via the slack webhook integration.  My Sitespeed runs currently with the --slack.hookURL.   It would be quite useful if I can edit it to display my budget items such as 1st party JS transferred size, etc.

[2019-06-18 21:23] soulgalore commented on #2509
Hi @Icecold777 early 2019 https://github.com/sitespeedio/browsertime/blob/master/CHANGELOG.md#400---2019-01-21 we disabled the use of dev-shm in Chrome by default, so that config doesn't add any value (for Chrome). For Firefox I'm not sure.

Best
Peter

[2019-06-19 12:16] Icecold777 commented on #2509
Cool, is --disable-dev-shm-usage flag already  applied in sitespeed.io code? or I should add it manually
?

[2019-06-19 12:56] soulgalore commented on #2509
Aha ok, its already there so you do not need to add it.

[2019-06-19 15:26] ppi-mzl commented on #2506
The real error is that in my test there is no navigation in between the measure.start() and measure.stop() call. I wanted to measure performance of a react component performing state changes which didn't involve any page loads.
As I understand it now, sitespeed requires a navigation to apply its metrics. Since I found no way to measure actions without measuring a page load as well, I guess sitespe

[2019-06-21 00:09] petemyron opened #2512 "[Feature request] Add tags to InfluxDB upload dynamically"
I'd like to be able to add tags to the influxdb results at runtime, not in `config.json`. Is this possible already?

Essentially, using `--multi`, I check for certain html resources on some page, but the page can can fail. I want to add a tag to that test run that specifies that it failed.

I've tried creating some new fake measurement if/when it fails to find an element and it does work, but it c

[2019-06-21 06:32] soulgalore commented on #2512
Hi @petemyron aha I see. Today you can only add tags when you start the test with `--influxdb.tags`.

Let me think for a while of how we could implement something like that.

I wonder if it could be possible by adding your own JS metrics? `--script` - _"Add custom Javascript that collect metrics and run after the page has  finished loading. Note that --script  can be passed multiple times if you w

[2019-06-21 20:26] petemyron commented on #2512
Thanks @soulgalore! I'm having a hard time finding any examples of this switch actually being used. Are there any that you know of? What objects are available?

[2019-06-21 21:27] petemyron commented on #2512
I finally found https://www.sitespeed.io/documentation/sitespeed.io/scripting/, which I've seen a bunch before, but I think I'm in the same position. I think my only option is to do as above (which creates a separate measurement in influx--not ideal), or possibly directly write to influx explicitly from javascript, which also smells bad. I'll keep poking.

Just for people searching later, the temp

[2019-06-24 20:36] leathej1 opened #2513 "Node.js error when testing more than ten steps"
Dockerized 9.3.4

```(node:18) MaxListenersExceededWarning: Possible EventEmitter memory leak detected. 11 Tracing.dataCollected listeners added. Use emitter.setMaxListeners() to increase limit```

This error appears after the tenth measured step in a script.

Example script:
[code]

[2019-06-24 22:39] leathej1 opened #2514 "[Feature request] Add CDP metrics JSHeapUsedSize and JSHeapTotalSize to db"
I would like to trend JS heap over time as we optimize our product.

[2019-06-25 02:39] aceey opened #2515 "Local Test Location missing after error (TIMEOUT) encountered"
Hi guys. I'm having this kind of issues lately and I have no idea what's going on.

I am regularly running my sitespeed runs daily. Well maintained and checked everyday. Since last week, I got this issue:

![image](https://user-images.githubusercontent.com/42996872/60064367-c1f92380-9732-11e9-88c9-8e881d6c61e9.png)

Everytime I encounter that issue, my WebPageTest Local Test Location is always mis

[2019-06-25 16:03] kmaqsudi opened #2516 "Not able to write to Google bucket"
$ docker-compose run sitespeed.io --urlAlias Honda_home https://www.honda.com --cookie emailsignupapifeo=10 --gcs.proje
ctId=sitespeed-setup --gcs.bucketname=kmaqsudi-bucket --gcs.key='sitespeed-setup-cdbc0e238d3b.json' --resultBaseURL=https://console.cloud.google.com/storage/browser/kmaqsudi-
bucket/ --graphite.host=graphite -n 1

Google Chrome 75.0.3770.80
Mozilla Firefox 67.0.1
[2019-06-25 15:3

[2019-06-25 17:42] skhilko commented on #2506
The error trace looks the same as in https://github.com/sitespeedio/browsertime/issues/847

[2019-06-25 17:42] skhilko commented on #2425
The error trace looks the same as in https://github.com/sitespeedio/browsertime/issues/847

[2019-06-26 13:08] mbulfair opened #2517 "Advice on running the docker image in concourse ci"
This is more a question,
I am using [concourse CI](https://concourse-ci.org) and I set up a job with the docker image as shown

[code]

While the job get's the image, what command do I run inside the image to trigger the tests. I am not sure if this is even the right way.

Thank you.

[2019-06-26 18:40] #2517 closed

[2019-06-26 22:13] KimberlyGT opened #2518 "TTFB metrics in sitespeed.io"
What is the equivalent metrics in sitespeed for time to 1st byte?

[2019-06-26 22:18] KimberlyGT commented on #1595
Where is the TTFB metric?

[2019-06-27 05:37] Nanthakumar-Gunasekaran opened #2519 "Can we display the average page loading time in the pages.html table ?"
In the pages.html, we display a table with page URL,Total size, Total requests, etc.

It would be helpful if we display the average Page loading time as well.

[2019-06-28 10:36] tufandevrim opened #2520 "setting cookie via request header"
I was able to set `cookie` request header via `--browsertime.requestheader` in ssio 5.x but not anymore in 9.x.

For example, following command line option was working in 5.x
`--browsertime.requestheader "cookie: 'foo=bar'"` but does not work in 9.x

Interestingly following command works fine though
`--browsertime.requestheader "foo: 'foo=bar'`

It appears `cookie` key in request headers is being

[2019-06-28 12:17] soulgalore commented on #2513
Hi @leathej1 thanks for filing the issue. Either we missed out on removing the listeners for Chrome when we get the trace log, or else it's and upstream bug in the CDP lib we are using, I'll have a look and see if I can fix it this weekend.

[2019-06-28 12:21] soulgalore commented on #2515
Hi @aceey I think you should create an issue upstream in https://github.com/WPO-Foundation/wptagent/ . We run a WPT agent at work and I have't got any problem like that there. Make sure your instance is large enough (we use c5.large on AWS).

Best
Peter

[2019-06-28 12:21] #2515 closed

[2019-06-28 12:30] soulgalore commented on #2516
Hi @kmaqsudi I try to avoid running using docker-compose since it makes it harder to understand paths etc. Did you map a volume (the file that lives on you machine needs to be mapped into the container)? Checkout https://www.sitespeed.io/documentation/sitespeed.io/docker/#more-about-volumes
Best
Peter

[2019-06-28 12:31] soulgalore commented on #2506
At the moment you need to either navigate or make one request between start/stop for it to work.

Best
Peter

[2019-06-28 12:32] soulgalore commented on #2425
At the moment you need to either navigate or make one request between start/stop for it to work.

Best
Peter

[2019-06-28 12:33] soulgalore commented on #2517
Hi @mbulfair I was away and missed this. Did you solve that? Would be great if you could write a comment of what you did so it can help others in the future!

Thanks
Peter

[2019-06-28 12:42] soulgalore commented on #2518
Hi @KimberlyGT checkout ServerResponseTime.

Best
Peter

[2019-06-28 12:43] soulgalore commented on #1595
It's called backEndTime but maybe we should make it easier to understand.

[2019-06-28 12:45] soulgalore commented on #2519
That will be fixed with https://github.com/sitespeedio/sitespeed.io/issues/2001 ... but i haven't started yet. FYI all metrics we show is the median not average!

[2019-06-28 12:48] soulgalore commented on #2520
Hi @tufandevrim I don't remember that we changed anything, but let me have a look tonight to reproduce and understand whats wrong.

Using Chrome you can use https://chromedevtools.github.io/devtools-protocol/ and scripting but that is some extra work.

I'll look into it and in the long run we should move out the request header functionality for Chrome to use CDP instead of the extension that we us

[2019-06-28 13:34] soulgalore commented on #2520
This was strange: It works in Firefox but not for Chrome. I made a PR to use CDP instead (meaning it will also work for Android Chrome users) so will push that in the next release (today or tomorrow, I wanna try to fix another bug before the release).

[2019-06-28 14:32] KimberlyGT commented on #1595
Ok Thanks!!! :)

[2019-06-28 16:41] gregorywolf opened #2521 "Leaderboard Dashboard Failing - HTTP 500"
Hello -
I am unable to use the Leaderboard dashboard successfully. I am using 2 separate runs of sitespeed using a different set of URLs, each using a unique namespace. I know that the data exists in Graphite when I manually access the metrics. However, as soon as I open the Leaderboard dashboard I get an HTTP internal server error (500). I have attached all of the files that i am using to stand u

[2019-06-28 20:01] soulgalore commented on #2521
Hi @gregorywolf

The latest tag in Docker is three years old so that is probably the problem that Graphite at that point didn't support the sortBy question specific for that dashboard.

<img width="631" alt="Screen Shot 2019-06-28 at 21 54 56" src="https://user-images.githubusercontent.com/540757/60367968-efbec080-99ef-11e9-84a7-f554ae87e521.png">

If our container isn't working, you could use the

[2019-06-28 22:44] hassankaz opened #2522 "using script through docker-compose, it can't find my script file"
Hi,

This is very similar to #2304 but since it's closed, I am creating a new issue.

I'm trying to run script through docker-compose (as I want to use the quick feature for building dashboard), but it keeps telling me it can't find the file. So after that I ran this command below, but it still doesn't work. It tells me "Run a one-off command on a service."  login.js file is located at the current

[2019-06-29 00:07] hassankaz opened #2523 "Is it possible to have addText.byName, or addText.byClassName?"
Due to the limitation of our site, I can't use byId, nor bySelector, byXPath, is it possible to add
addText.byClassName?

Thank you!
Kazue

[2019-06-29 05:17] soulgalore commented on #2522
Hi @hassankaz
I think if you use docker-compose you need to do the mapping in the docker compose file, something like:

[code]

Best
Peter

[2019-06-29 05:20] soulgalore commented on #2523
Hi @hassankaz we need to some code to add that shortcut, we can do that. But it will take some time, so in the mean time you could do it by running your own JavaScript, checkout https://www.sitespeed.io/documentation/sitespeed.io/scripting/#jsrunjavascript (not a perfect example but I think you get the idea).

Best
Peter

[2019-06-29 11:15] soulgalore commented on #2520
Pushed a new Browsertime with the new version, pushing sitespeed.io tonight.

[2019-06-29 19:51] soulgalore commented on #2514
Released 9.4.0 earlier today where this is included!

[2019-06-29 19:51] #2514 closed

[2019-06-29 19:55] soulgalore commented on #2520
I release 9.4.0 earlier today with a fix, please let me know that it works for you @tufandevrim !

[2019-06-29 20:39] leathej1 commented on #2514
I am getting an error with this new version:
[code]

[2019-06-29 21:13] soulgalore commented on #2514
@leathej1 it looks like it comes from when sitespeed.io tries to parse your config.json, are you sure you haven't changed something there and it isn't a valid JSON?

[2019-06-30 04:29] leathej1 commented on #2514
Ah - you are right, of course. I took out a key value pair without removing the comma.

[2019-06-30 04:36] leathej1 commented on #2514
Hmm. But this one just started:
[code]

[2019-06-30 05:01] soulgalore commented on #2514
Hi @leathej1 did you update from the version released before 9.4? No changes with the tracing in 9.4.

Upstream Tracium has been patched (it seems it started with one of the latest Chrome versions), I can update our version too tomorrow and see if it goes away.

Best
Peter

P.S If you get new errors please create new issues, that makes it easier for me to keep track of things, thanks!

[2019-06-30 05:15] leathej1 commented on #2514
Understood - sorry, I got lazy. Yes, I upgraded from 9.3.4,

[2019-06-30 05:59] soulgalore commented on #2514
Ok, I,ve pushed one fix in master but not 100% sure it will solve it. Can make a new release tomorrow.

[2019-06-30 22:00] gregorywolf commented on #2521
Peter - Thank you for the guidance. I used the new graphite repository and things are looking much better. The Leaderboard dashboard finally was successful. I was also able to switch back and forth between 2 different namespaces.

I would like to bring something up. Not sure if this is the right place or whether I should open up another Github issue. On the default dashboards (page summary, site s

[2019-07-01 04:44] Nanthakumar-Gunasekaran commented on #2519
Awesome.! Thanks

[2019-07-01 06:54] soulgalore commented on #2521
Hi @gregorywolf ah ok, great!

About the other namespace. How do you add your dashboards? Do you inject them using https://github.com/sitespeedio/grafana-bootstrap-docker ? If so, I think that's something that we haven't thought of, that way it will always be inserted with sitespeed_io as the base. We haven't moved to the "new" way of provisioning dashboards as in https://grafana.com/docs/administ

[2019-07-01 09:26] Deep-Xbyte opened #2526 "Is there any way to receive response directly into script, instead of going to readpage manually ?"
Hello,
I would like to use the site speed service with my scrapy script, for the testing purpose.

Is that anything by which I can send a request to the docker, and it directly response back, instead of writing a page.

Currently, I am doing it manually and have to wait until the page process finished and then Have to read the page manually, which is becoming the very time-consuming process.

[2019-07-01 10:55] soulgalore commented on #2526
Hi @Deep-Xbyte not 100% sure I follow. You can  either [create your own plugin](https://www.sitespeed.io/documentation/sitespeed.io/plugins/#how-to-create-your-own-plugin) that has full access to  and get the result or you could use JSON output (use the analysisstorer plugin https://www.sitespeed.io/documentation/sitespeed.io/plugins/#add-a-plugin) to get the result as JSON.

Best
Peter

[2019-07-01 17:28] gregorywolf commented on #2521
Hi @soulgalore -
Since I do not use grafana bootstrap, I am forced to import my dashboards individually. Not a problem. As you pointed out when I do the import the last input box allows me the alter the namespace from the default of sitespeed_io to whatever I used to collect data. The following is a screen shot of what I am referring to just to make sure we are on the same page.

![image](https://

[2019-07-01 19:18] soulgalore commented on #2521
Ok, I wonder if there's bug in the dashboards or how I export them to not make them work when you change the namespace. Everything you do looks correct. Let me setup a different namespace tomorrow and reproduce.

[2019-07-01 20:19] gregorywolf commented on #2521
Hi @soulgalore - Let me provide some more details and screen shots. I want to make sure you have all of data I am using.
I am using the dashboards from https://github.com/sitespeedio/grafana-bootstrap-docker/tree/master/dashboards/graphite

The following screen shot displays the result of an imported dashboard that does not yield any panel data even after the dashboard is imported using the unique

[2019-07-01 20:53] nevesing opened #2530 "Docker Desktop for Windows/Docker Compose/urls.txt throwing error"
I am using docker desktop for windows (win 10) and trying to run sitespeed using below command:

docker-compose run sitespeed.io urls.txt

**My YML file:**

version: '3'
services:
    sitespeed.io:
      image: sitespeedio/sitespeed.io:9.3.4
      command: -V
      shm_size: 1g
      volumes:
            - ./sitespeed-result/:/sitespeed.io/sitespeed-result
            - ./urls.txt:/sitespeed.io/ur

[2019-07-02 07:18] soulgalore commented on #2530
Hi @nevesing I think you need to have a absolute path when mapping to Docker, something like

`- /my/full/path/sitespeed-result/:/sitespeed.io/sitespeed-result`

Best
Peter

[2019-07-02 07:23] soulgalore commented on #2521
Hi @gregorywolf to collect data when Largest Images and other visual elements appear you need to turn it on with `--visualElements `. It's not on by default because it will add some extra video/image work. For the other, let me have a look.

Best
Peter

[2019-07-02 07:54] soulgalore commented on #2521
The problem with the site summary was my fault, somehow there where hardcoded names instead of the constant. I've updated it now. Let me know if there are other dashboards that doesn't work!

[2019-07-02 09:30] geoffrey-brier commented on #2463
Hi @soulgalore ,

Did you had time to investigate ?

FYI, I just upgraded to the latest version and I still have the same problem.

[2019-07-02 10:19] gregorywolf commented on #2521
Thank you for all the help!! I will implement everything once I get into the office. I have a question in regards to dashboards and multiple namespaces. Your suggestion is that when a dashboard is imported use the namespace of interest in the import process. This will result in multiple dashboards, each configured with its own namespace. My goal is to import a dashboard once and then modify either

[2019-07-02 13:44] soulgalore commented on #2521
Hi @gregorywolf I usually use the same $base for all my tests. So for example if I use a Graphite instance that collects data from multiple data sources (where sitespeed.io is one of them) I just use sitespeed_io as the first and the change the next part. I use namespaces like `sitespeed_io.desktop` and `sitespeed_io.emulatedMobile` or `sitespeed_io.desktopUS`. Then all dashboards work. Ideally yo

[2019-07-02 13:45] soulgalore commented on #2521
And doing that way, the second part of the namespace is always in the dropdown and you can choose whatever data you need.

[2019-07-02 13:46] soulgalore commented on #2463
No I haven't spent any time on it since its a warning meaning (I think) its some dirty data on that site that we don't handle.

[2019-07-02 14:22] gregorywolf commented on #2521
@soulgalore Peter - Your approach is much better. Thank you. Have a great holiday!!!

[2019-07-02 14:50] nevesing commented on #2530
Same error. I tried like below:

[code]

Also i tried to execute docker cmd instead of docker-compose and i am getting same error

`PS C:\Users\my\user\name> docker run -e TZ=America/New_York --rm -v C:/Users/my/user/name:/sitespeed.io sitespeedio/sitespeed.io:9.4.0 C:/Users/my/user/name/urls.txt`

Output:

`C:/Users/my/user/name/urls.txt does not exist, is the path to the file correct?`

[2019-07-02 16:18] #2521 closed

[2019-07-02 16:19] soulgalore commented on #2521
I'll update the docs tomorrow so this approach is included.

[2019-07-02 16:22] soulgalore commented on #2530
Hi @nevesing I tried just with docker run and then it worked. In your example you are using your host  path instead of your docker path (C:/Users/my/user/name/urls.txt should be /sitespeed.io/urls.txt or just urls.txt because /sitespeed.io/ is the working dir if I remember correctly.

[2019-07-02 18:16] tufandevrim commented on #2520
yeah I see header cookie is being set in 9.4.0. Thanks for fixing it @soulgalore

[2019-07-02 18:20] tufandevrim opened #2531 "Error: Could not stop Xvfb"
We just found out a failed test with following logs:
[code]
Just reporting it if this is something we can gracefully handle it like retries etc. The test ran via docker cmd.

[2019-07-02 19:22] soulgalore commented on #2531
Hi @tufandevrim I haven't seen that error before, its from https://github.com/cypress-io/xvfb/blob/605d95236a63516737c0483ae6e8a5cf559cf1cc/index.js

I wonder, could it be something else running on the same machine where you run sitespeed.io that can interfere?

Best
Peter

[2019-07-03 04:21] tufandevrim commented on #2531
I don't think anything else would work on my dedicated vm to run only ssio docker one at a time. To be frank I've just seen this once. I'd keep monitoring this issue and let know again if I run into it with some details. I just wanted to know if you have experienced this before or not. Closing it.

[2019-07-03 04:21] #2531 closed

[2019-07-03 04:26] tufandevrim commented on #2520
My issue is being resolved with 9.4.0. Thanks a lot again

[2019-07-03 04:26] #2520 closed

[2019-07-03 22:11] petemyron commented on #2512
is there a way to access the raw results/objects from the test script? That'd be pretty easy to just inject it in there.

The best way I've come up with getting pass/fail results is to use a custom userTiming metric (shows on Page Summary):
![image](https://user-images.githubusercontent.com/627937/60626837-ea22fb00-9da0-11e9-880b-7420829cc102.png)

I've also tried creating a plugin, but I either c

[2019-07-03 23:16] petemyron opened #2532 "multiple try/catch statements in spa/multi script tests throws error"
I'm trying to handle scenarios in SPA/multi tests where it's possible for a page to not load correctly for whatever reason and I want it to continue to the next test. So, I put a couple try/catch statements in the test script. However, things go smoothly until I (purposely, for now) can't find an element on a page and I get `Error: ENOENT: no such file or directory, open '/sitespeed.io/sitespeed-r

[2019-07-03 23:20] petemyron commented on #2532
I should also say that running each try/catch individually works as expected (commenting out the other).

[2019-07-04 05:56] soulgalore commented on #2532
Hi @petemyron first for the pass/fail test: Is it possible to just [run JS and use the result](https://www.sitespeed.io/documentation/sitespeed.io/scripting/#jsrunjavascript) in the script instead of catching/throwing? This is a simplified version but maybe something you can use, I think the scripting code will be easier to follow/use:

[code]

The error with the net log looks like a bug, let me h

[2019-07-04 08:16] soulgalore commented on #2532
@petemyron I've pushed new version of Browsertime that at least fixes the problem when I tried. I'm gonna let it run for a day and release a sitespeed.io release tomorrow (or late today) with the fix.

[2019-07-04 10:13] Rahe opened #2533 "No data to collect with 9.4.0"
Hello,

I have errors on the new version of sitespeed, the 9.0.0 is working fine.

There is the error :

This is applying on every run.

- Exact how you run (the exact parameters)
docker run --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io:9.4.0 --thirdParty.cpu --cpu -run 10  https://portail.free.fr

- Which version you are using
9.4.0
- OS (if you use Docker, report the base OS)
MacOS and

[2019-07-04 11:39] soulgalore commented on #2533
Hi @Rahe thanks for reporting the issue!

You can fix it yourself by changing `-run 10` to `--iterations 10` (or `-n 10`). We don't validate the cli parameters (so that we can pass on whatever we got to plugins etc) and `-run` doesn't exist (but `-r `do for setting up request headers). In 9.4 we added a change for setting the request headers via CDP and then it started to fail. So I guess in earli

[2019-07-04 19:51] soulgalore commented on #2533
Hi @Rahe just release 9.5.0, let me know if it works for you now.

Best
Peter

[2019-07-04 19:51] soulgalore commented on #2532
@petemyron try out 9.5.0 hopefully that works for you!

[2019-07-04 19:53] soulgalore commented on #2523
Hi @hassankaz try out 9.5.0:
https://www.sitespeed.io/documentation/sitespeed.io/scripting/#addtextbynametext-name
https://www.sitespeed.io/documentation/sitespeed.io/scripting/#addtextbyclassnametext-classname

Best
Peter

[2019-07-04 20:26] Rahe commented on #2533
Hello,

With -n 10 and the new version this is working great !
Thank you :)

Nicolas

[2019-07-04 20:26] #2533 closed

[2019-07-04 20:28] andyfrancis opened #2534 "Unable to view lighthouse data by connection dimension"
When running lighthouse tests as part of a test run, and shaping the connection to simulate 3g, 4g or wifi for example, you are unable to create a dashboard that filters using that dimension.

The detailed HTML reports contain the correct results for each run but you are unable to plot any results in a dashboard.

I am including the following custom metrics, which are visible in the graphite data.

[2019-07-05 06:00] soulgalore commented on #2534
Hi @andyfrancis if you run Lighthouse standalone without Browsertime, you can use the connectivity profile (`-c`) that will become a key in Graphite. Else you need to set different namespaces like `--graphite.namespace sitespeed_io.cable ` or `--graphite.namespace sitespeed_io.3g`. If you do your own dashboard, you can add as many key parts as you want in the name space like `--graphite.namespace

[2019-07-05 21:43] petemyron commented on #2532
trying it out now, thanks!

With regards to js.run, even doing `const element = await commands.js.run('document.getElementById(barf)'); // fail` will throw an error, so you can't compare `element` to `null` or whatever.

The error: `ERROR: Could not run JavaScript document.getElementById(resultStatsbarf)`

Here's what I tried:
[code]

[2019-07-05 21:49] petemyron commented on #2532
regarding 9.5.0, that same multiple_tasks.js in the original post throws a different error:
[code]

and the results do not upload to influx.

[2019-07-06 06:15] soulgalore commented on #2532
Hi @petemyron you need to add a return, else you just run the js, not returning the result to your script.

[code]

For the new error, I need to test it.

Best
Peter

[2019-07-07 20:55] andyfrancis commented on #2534
HI @soulgalore thanks for getting back to me - appreciate it.  I've tried the following configuration and still cannot see a dimension.  I'm trying to retain the same namespace as other tests so that I can combine in the same dashboard.

`{
	"graphite": {
		"namespace": "sitespeed_io.mobileFirstView",
		"host": "graphite",
		"port": 2003,
    "auth": "guest:guest",
    "annotationScreenshot": true

[2019-07-08 06:59] soulgalore commented on #2534
Hi @andyfrancis you need to run multiple runs to get different connectivity settings, its one per run. So make one run `"profile": "3g",` one` "profile": "4g"`, or something like that. Or do you mean Lighthouse guesstimate different profiles per one run, so you do actually one run and it produces metrics for other settings? I haven't used it so I'm not sure.

FYI: At the moment it looks like you a

[2019-07-08 14:01] #2530 closed

[2019-07-08 14:02] nevesing opened #2535 "VirtualBox/Ubuntu VM/Docker/Client Certificate"
I am using Sitespeedio using Docker for Ubuntu (VirtualBox). I am trying to prepare a test script for single-signon page. It uses SSL certificate and gets authenticated using Azure AD. I need your help to pass my client certificate inside the test script. I could not find any relevant documentation in website.

[2019-07-08 16:03] vhryhorchuk-amplify opened #2536 "Provide a reference to the valid Selenium JS documentation."
Hello.
It seems to me, that provided link to the Selenium JS documentation is not valid:
From https://www.sitespeed.io/documentation/sitespeed.io/scripting/#use-selenium-directly
[code]
I.e.:
Documentation refer to the `this.getRect()` method of `WebElement` to find a location.
But when we print `await context.log.info(context.webdriver.WebElement);` we find the `getLocation()` as a proper method.

[2019-07-08 17:24] soulgalore commented on #2536
Hi @vhryhorchuk-amplify which version of sitespeed.io are you using? In 9.5.0 we updated to latest Selenium and that should match the documentation (I hope, I'm not sure how they release updated versions of the docs).

Best
Peter

[2019-07-08 17:26] soulgalore commented on #2535
Hi @nevesing I think you should dig into to configuring Chrome/Firefox. For Chrome https://peter.sh/experiments/chromium-command-line-switches/ is a good page for checking different switches (use them with `--chrome.args`

Best
Peter

[2019-07-08 20:43] petemyron commented on #2532
Thanks @soulgalore, adding the `return` possibly fixed the specific `ERROR: Could not run JavaScript document.getElementById(resultStatsbarf)`, though I can't be sure. Results are still not uploaded to influx.

That other error (`ERROR: TypeError: Cannot set property 'screenshot' of undefined`) might still be causing these other issues:

![image](https://user-images.githubusercontent.com/627937/60

[2019-07-08 21:22] #2535 closed

[2019-07-08 21:33] nevesing opened #2537 "Scripting: commands.switch.toWindow() not working"
**Env: Ubuntu/Docker/Sitespeedio:9.5.0**

I am trying to prepare test script for an application where it opens another window  (firefox/chrome) to enter user name/pwd. I am using commands.switch.toWindow(name) but I am getting this error:

Command:   await commands.switch.toWindow('Sign In');

**Error:**

[code]

[2019-07-08 23:58] hassankaz commented on #2523
Thank you so much @soulgalore !! This saves my life!

[2019-07-09 07:46] soulgalore commented on #2523
Great!

[2019-07-09 07:46] #2523 closed

[2019-07-09 08:00] soulgalore commented on #2537
Hi @nevesing here are some docs on how you can debug your scripts:
https://www.sitespeed.io/documentation/sitespeed.io/scripting/#debug

Best
Peter

[2019-07-09 08:10] soulgalore commented on #2532
Hi @petemyron you mean the long name of the URL? If you test the same URL twice during a script it will get a new name so they don't collide. You can avoid that by giving each URL an alias (then its easier to understand what you test). Checkout https://www.sitespeed.io/documentation/sitespeed.io/scripting/#measurestartalias (I think we need more docs about alias).

For the screenshot thing I haven

[2019-07-09 09:08] ogarling opened #2538 "[Feature request] Performance Leaderboard for InfluxDB as datasource"
A brilliant Performance Leaderboard has been created as a Grafana dashboard which uses Graphite as datasource.
Would be very nice to be able to use InfluxDB as datasource which requires rewriting panel queries though.
Personally just migrated from Graphite to InfluxDB as TSDB like many in the community I presume.

[2019-07-09 09:33] vhryhorchuk-amplify commented on #2536
My bad, I was using version 9.3.5.
Thanks for a quick response

[2019-07-09 14:57] soulgalore commented on #2538
Hi @ogarling yes I agree. I'm no InfluxDB user, so if someone one could help out and donate that dashboard, that would be great!

Best
Peter

[2019-07-09 14:58] soulgalore commented on #2536
Cool ok I think the docs been wrong then for almost a year (since we just upgraded to the alpha of Selenium 4). Versioning docs are hard :(

[2019-07-09 14:58] #2536 closed

[2019-07-09 21:00] andyfrancis commented on #2534
@soulgalore, I have a number of runs at different connection speeds across desktop and mobile.  I've tried setting the -connectivity parameter as a override on the command line but still experience the same issue.

When the results from lighthouse are submitted, they do not include 3G or 4G as a filter option when I browse the metrics.

Do I need to set that as part of the metric filter?

[2019-07-09 23:30] leathej1 opened #2539 "Unable to send annotations to Graphite"
Dockerized Sitespeed 9.5.0 on .213
Dockerized Sitespeedio/graphite 1.1.5-12 on .231

Command: ```docker run --shm-size=1g --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io navigate-admin.js --config config-prod.json --preScript login-platform.js --browsertime.tenant "performance2.myco.com" -b chrome -n 1```

Everything works and logs to InfluxDB (on .213) But when we get to Graphite, I get:

[2019-07-09 23:31] leathej1 commented on #2539
Graphite container on .231 is started with:
[code]

[2019-07-10 07:09] soulgalore commented on #2539
Hi @leathej1 if you check on the Graphite side what do you see there? Check what for your instance name `docker ps` and then `docker logs INSTANCENAME`.

Try to [send annotations manually using curl](https://www.hostedgraphite.com/docs/api/annotations-and-events.html#creating-an-annotation-for-the-impatient) and check the log, to see if you get some hint of whats wrong.

Best
Peter

[2019-07-10 16:49] leathej1 commented on #2539
Hmm. These instructions are for Hosted Graphite. When I try to send it with my IP and a --user, I get a 401.

In any case, the logs are like this:
[code]

[2019-07-10 17:01] soulgalore commented on #2539
Ooops, sorry I'm on a very slow connection and that was the first thing I found on how to send an annotation using curl.

Was the configuration for how you start Graphite the one you use `sitespeedio/graphite`?  Then you use the dreadful **latest** Docker tag. Checkout https://www.sitespeed.io/documentation/sitespeed.io/docker/#tags-and-version

Try start it with `sitespeedio/graphite:1.1.5-12`.

[2019-07-10 17:13] leathej1 commented on #2539
Well, I tend to `docker system prune -a` so that I can control my versions and save space. So the string I use do start sitespeedio/graphite shouldn't need a version, since I have only one.

[2019-07-10 19:30] soulgalore commented on #2539
Hi @leathej1 the Docker tag is usually the tag of the software in the container. The **latest** tag of sitespeedio/graphite was created 3 years ago see:
<img width="332" alt="Screen Shot 2019-07-10 at 21 24 02" src="https://user-images.githubusercontent.com/540757/60998389-21714900-a359-11e9-90e2-1457354aa8d6.png">

Meaning that container hasn't been updated since then and it runs an old version o

[2019-07-10 20:38] leathej1 commented on #2539
Ah yes, you are right. I was depending on the `docker pull sitespeedio/graphite:1.1.5-12` to limit the `docker run` to that version, but it still fetches latest.

With the 1.1.5-12 version, everything works now! Thanks for your patience while I learn stuff.

[2019-07-10 20:38] #2539 closed

[2019-07-11 23:50] petemyron commented on #2532
Yep, that was the problem: using the same alias between two try/catch blocks 🤦‍♂. This works correctly in 9.5.0, but does not work in 9.3.4. My latest test script now looks like so:

[code]

and you can then do some really ugly stuff in grafana to show these data points, and further add alerting on the explicit pass/fail results:
![image](https://user-images.githubusercontent.com/627937/61092408-f

[2019-07-11 23:51] #2532 closed

[2019-07-12 06:01] abhinaba1080 opened #2542 "Need integration with protractor"
Hi Team,

first of all a big thumbs up for the work you are delivering to us.

1. Just wanted to check if we have sitespeed integration with protractor.  Any example/guide/documentation will be highly appreciated.

2. On the same context, if i need to run sitespeed with selenium/protractor without cli, what needs to be done.  I want to start protractor tests in same way i use to run by invoking "p

[2019-07-12 17:28] leathej1 opened #2543 "[Feature request] Show resources loaded by service worker"
Currently, it is difficult to visualize why certain resources are being blocked because the prefetches being instantiated by the service worker are not visualized. It would be nice to have a parameter that would enable plotting service worker requests in the waterfall.

<img width="1493" alt="Screen Shot 2019-07-12 at 10 09 09 AM" src="https://user-images.githubusercontent.com/24658347/61146779-b0

[2019-07-13 06:28] soulgalore commented on #2543
Hi @leathej1 I wonder if we pick up that info already doesn't show It? If you use Chrome and check a resource that you know is loaded by a service worker, do you see that as "initiated by"? Or do you have a URL that I can test and use so we can add that?

Best
Peter

[2019-07-13 15:17] leathej1 commented on #2543
Sure - let me send you the creds.

[2019-07-18 17:02] naomijub opened #2546 "Performance drop when upgrading from sitespeed 8.15 to 9.6"
Hi Team
My team and I use sitespeed regularly to measure our frontends and determine Golden Signals. When we were using version 8.15 we ran 32 scenarios paralleled in ~360 seconds. When we upgrade to version 9.6 the time to run all 32 scenarios increase to ~1800 seconds. Same configuration and same scenarios. Our config file is:
[code]

Also we observed that no metrics were caught when log `INFO`

[2019-07-18 17:40] soulgalore commented on #2546
Hi @naomijub ,
do you use Docker? I’ve checked the changelog and there’s two things that I noticed: We upgraded from Chrome 74 to 75 and we changed lib for parsing Chromes tracelog from our own to Tracium.

I think you can see where the time is spent by adding
[code]

[2019-07-18 18:04] soulgalore commented on #2546
Easiest for you is to either on verbose and dig into the log.

Or guess that I’m right and turn off the timeline log (checking again I could see that we added a couple of trace categories for Chrome = could mean slower performance) and check the time. And also build your own container roll back to Chrome 74.

Best
Peter

[2019-07-18 19:44] naomijub commented on #2546
Yes, we use docker.
We rolled back to 8.15 and everything went back to normal. Don't you think it is weird the whole process going from 360 s to 1800 s? Also, other people in slack reported seeing this effect also, but I guess they don't run as much scenarios at the same time as us.

[2019-07-18 22:47] gregorywolf opened #2547 "Graphite Not Recording All Requested Data from SITESPEEDIO"
Hello -

I am running  Sitespeed in a Docker image and sending data to a Graphite database. I have created TWO Graphite databases, one using Docker and one using a native installation. My intention is to use the native installation once I get past my current issue. I am testing the sitespeed run using the following settings and it is working great when directing the data to Graphite on Docker. How

[2019-07-19 05:06] soulgalore commented on #2547
Hi @gregorywolf
checkout number 3: https://www.sitespeed.io/documentation/sitespeed.io/graphite/#graphite-for-production-important

The max create is low on default Graphite (to make sure it isnt overloaded). That means you can either increase it or just wait until metrics are cteated.

Best
Peter

[2019-07-19 05:45] soulgalore commented on #2546
If you check the logs I think you can see what takes more time. The upgraded I could see was new Chrome version (but in that case you should see that change in the metriics too) or the switch to Tracium (but please check the changelog to see if you can find something else).

On Slack people said WebPageTest took longer + other things. Easiest way for me or someone else is to try to create reproduc

[2019-07-19 15:10] jdmchone commented on #2376
I have tried throttling, and it still breaks. I've used --verbose, and here is the output from visualmetrics:
[2019-07-19 14:48:47] DEBUG: [browsertime.video] Running visualMetrics
[2019-07-19 14:48:47] DEBUG: [browsertime.video] Running visualmetrics.py --dir /sitespeed.io/sitespeed-result/sitespeed.io/2019-07-19-14-48-25/pages/sitespeed.io/data/video/images/1 --video /sitespeed.io/sitespeed-resu

[2019-07-19 15:16] soulgalore commented on #2376
@jdmchone looks like a bug then, what OS are you using? Any more info so I can try to reproduce?

Best
Peter

[2019-07-19 15:19] jdmchone commented on #2376
I am using centos 7 (that was a fun installation, let me tell you ;) ), but i'm running it in a docker container on a mac, at the moment. sitepseed version 9.6.0, chrome 75, firefox 68. I installed throttle, since i'm using a mac, in order to throttle the connection, because mac/docker combo.

[2019-07-19 17:21] soulgalore commented on #2376
@jdmchone ok so you created your own container with centos? Any chance you can share it so I can have a go? The coming weeks I’m on a pretty bad internet connection but have a go after that. Any reason you don’t use our pre-made container? :)

[2019-07-19 17:25] jdmchone commented on #2376
Sure. If you want, I'll send you my dockerfile, so you can build your own. We did centos7 because our company does not support ubuntu, even in pre-made docker containers. Everything works, with the exception of that visualmetrics error. Do you want me to attach, here, or just email it to you (need your email)?

[2019-07-19 17:41] maikschneider opened #2548 "[FEATURE] Docker Swarm Rocks integration"
It would be nice to be able to deploy sitespeed.io to a docker swarm. [Swarmprom](https://dockerswarm.rocks/swarmprom/) from the project [Docker Swarm Rocks](https://dockerswarm.rocks) is a very nice way to bootstrap a cluster with monitoring system.

Swarmprom already comes with grafana and traefik as reverse proxy. I wrote a docker compose file that integrates sitespeed.io into Swarmproms grafan

[2019-07-19 19:39] gregorywolf commented on #2547
@soulgalore Peter - Thank so much!!! I changed the default value from 50 to inf and it works like a charm. When i move to production I will have to make sure my server is robust enough to handle the increased I/O.

Again thank so much!!

[2019-07-19 19:39] #2547 closed

[2019-07-19 22:16] gregorywolf opened #2550 "Dashboards NOT Working When Pointing to Graphite Native Installation"
Hello -
I currently have 3 VM instances, each running a Docker image with graphite, grafana, and sitespeed respectively. This configuration works great. I can create custom namespaces and all of the default dashboards works very nicely.

However, my goal is set up grafana and graphite using native installations. I have set them up and they work fine. My plan is to continue running sitespeed in a d

[2019-07-19 22:51] soulgalore commented on #2550
Hi @gregorywolf - I think your problem could be that your native Graphite version is old, do you know which version you are using? Did you install it from source?

The Docker version is the latest (or almost latest version) released a couple of weeks ago. I doesn’t need to be so new but at I think version 1 something should do.

Best
Peter

[2019-07-20 00:58] gregorywolf commented on #2550
Hi @soulgalore - I was thinking the same thing. When I run Docker I am using graphite 1.1.5-12. However installing from source (https://launchpad.net/graphite/0.9/0.9.10/+download/graphite-web-0.9.10.tar.gz) appears to be a very old version.....like REALLY old. I have been digging around and cannot seem to locate the latest code for a native install. Could you point me to the latest release for a

[2019-07-20 01:16] jdmchone commented on #2376
I found the issue! After a LOT of digging, turns out the default version of python-Pillow that is installed in CentOS7 is extremely outdated. I did an upgrade (from 2.0 - 6.1) and that did the trick! Thanks for helping out!

[2019-07-20 15:49] soulgalore commented on #2550
Great, please let me know if it works for you.

[2019-07-21 21:57] gregorywolf commented on #2550
Hi @soulgalore - UGH. I have been going round and round for days and am still no where!! I realize that this community is focused on sitespeed.io but you are incredibly knowledgeable and helpful So I am hoping you could lend me a hand once again.

My goal is to run graphite natively, not using Docker. The problem is that I have not been able to download the correct installation files. I have tried

[2019-07-22 05:58] soulgalore commented on #2550
Hi @gregorywolf I never installed Graphite from scratch. that's the beauty of using Docker.

I'm thinking maybe there are some help out there: If you follow the [official Docker container setup ](https://github.com/graphite-project/docker-graphite-statsd/blob/master/Dockerfile) with how they do with the installation of carbon (and all the other req). Following those exact step "should" work for yo

[2019-07-22 19:34] leathej1 opened #2551 "Response bodies not displayed in Waterfall html"
Dockerized Sitespeed 9.6.0

Config:
[code]

[code]

Response bodies are not listed in the waterfall html even with this enabled.

[2019-07-22 19:40] soulgalore commented on #2551
It looks like its some bug in how we use CDP, it seems to work for some URLs but not for all.

[2019-07-22 19:42] leathej1 commented on #2551
Sorry - the Firefox part was an error on my part. Mine was actually set for 'true' instead of 'html.

[2019-07-22 20:23] soulgalore commented on #2551
Yep its broken in Chrome. To fix it we need to do a new Chrome HAR release and a small fix. The good thing is that we also can add JS/CSS, the bad is that it will take some time to fix it.

[2019-07-22 22:33] hassankaz commented on #2522
I updated the compose file with

 volumes:
            - ./sitespeed-result/:/sitespeed.io/sitespeed-result
            - ./login.js/:/sitespeed.io/login.js

and it worked!  Thank you!
Kazue

[2019-07-22 22:34] #2522 closed

[2019-07-23 09:55] anhptn87 commented on #2178
I have the same error when running the test with Firefox: Timeout loading page after 300000ms
Firefox quantum 68.0.1 (64bit); selenium 2; Running test under a proxy

This issue not always happens. It only happens with some URL and the occurrence rate is about 1/5

[2019-07-23 17:53] gregorywolf commented on #2550
Thanks @soulgalore I am making good progress now using github code.

[2019-07-23 17:53] #2550 closed

[2019-07-24 21:28] joychester opened #2552 "[Feature] Add the FMP (first meaningful paint) metrics from CDP performance metrics"
Currently, sitespeed.io has first-contentful-paint and first-paint reported in "Browser Metrics", shall we add **first-meaningful-paint** metric too from CDP performance metrics?
https://developers.google.com/web/fundamentals/performance/user-centric-performance-metrics#user-centric_performance_metrics

[2019-07-25 08:23] soulgalore commented on #2552
Hi @joychester I think itsn't included in the CDP performance metrics yet? I did a quick check and couldn't see it. I know there are trace events like FMP candidates but then you need to choose.

Best
Peter

[2019-07-25 16:45] joychester commented on #2552
HI, @soulgalore ,

The FMP(FirstMeaningfulPaint) has been exposed by puppeteer, i am using the puppeteer to grab FMP metrics from my synthetic page tests,  the following detail metrics can be returned from CDP client:

[code]
Following is some code sample i took from one of blog post, For the reference:
https://michaljanaszek.com/blog/test-website-performance-with-puppeteer#firstMeaningfulPaint
ho

[2019-07-25 17:17] soulgalore commented on #2552
Hi @joychester you are right! We actually strip it out today as in https://github.com/sitespeedio/browsertime/blob/master/lib/chrome/webdriver/chromeDelegate.js#L302-L309 let me try to fix that when I'm back from vacation.

Best
Peter

[2019-07-25 17:55] joychester commented on #2552
Sure, Have a great vacation @soulgalore !!

[2019-07-26 09:19] Karalina763 opened #2554 "Scripting click does not work after measure.stop()"
Hello,

I have a part of script
`await commands.measure.start('Choose plan');
await commands.click.byXpathAndWait('//*[@aria-label="Choose Essential Plan"]');
await commands.measure.stop();
await commands.wait.byTime(2000);
await commands.click.byXpath('//*[@id="main"]/div/div/div[1]/div/section[2]/div[3]/div[1]/div[1]/div/div[2]/div[2]/div/label/div[2]/span');`
 and the following error
"ERROR: Ja

[2019-07-26 13:46] soulgalore commented on #2554
Hi @Karalina763 what version of sitespeed.io are you using? The error log looks like an older than the current stable version. If the element doesn't exist on the page it should log that so its easier to understand.

I think the problem is that the element doesn't exist. Here's the documentation with some tips on how you can debug:: https://www.sitespeed.io/documentation/sitespeed.io/scripting/#de

[2019-07-26 14:08] Karalina763 commented on #2554
Еhanks for the reply
I've tried on 9.6.0-plus1 sidespeed version.
Element exists. I saw on video, that item appeared and Xpath for it works in devtools.
What else it can be?

[2019-07-26 16:17] soulgalore commented on #2554
Did you get another error message? Try on your lical machine without Docker, that makes it easier to see.

[2019-07-26 22:06] hassankaz opened #2555 "leaderboard"

[2019-07-26 22:06] #2555 closed

[2019-07-26 23:52] hassankaz opened #2556 "how to get leaderboard working"
Hi,
I'm trying to get leaderboard working without success.
I put the urls I want to test in a .txt file as in the following, but all I get is just a separate page result for each URL. Could you please let me know what I'm missing, and if I need to update anything on grafana.

docker-compose run sitespeed.io competitors.txt --browsertime.cacheClearRaw --slack.hookUrl https://hooks.slack.com/service

[2019-07-27 07:25] soulgalore commented on #2556
Hi @hassankaz you need to have the leaderboard dashboard and view that. You can get the dashboard https://github.com/sitespeedio/grafana-bootstrap-docker/blob/master/dashboards/graphite/Leaderboard.json.

And then make sure you choose the leaderboard dashboard in the dropdown in Grafana:
![AwesomeScreenshot-Leaderboard-Grafana-2019-07-27-09-07-34](https://user-images.githubusercontent.com/540757/6

[2019-07-29 10:24] parag85 commented on #2087
Hello @soulgalore ,

I am facing issues with pre-defined script.
Latest docker installed before running the script, device already attached and all pre mentioned steps performed successfully.

 On your phone #

    Install Chrome
    Enable developer USB access to your phone: Go to About device (or About phone) in your settings, tap it, scroll down to the Build number, tap it seven (7) times.

[2019-07-29 12:54] soulgalore commented on #2087
Hi @parag85 what OS are you using? Only Docker on Linux support mounting phones to Docker.

Best
Peter

[2019-07-29 15:38] Karalina763 commented on #2554
I've tried locally without docker:
`module.exports = async function(context, commands) {
 try {
    await commands.measure.start('https://XXX', 'Homepage');
    await commands.click.byXpath("//*[@role='dialog']//*[@class='cookie-banner__link-cont']/button");
    await commands.measure.start('Pay monthly');
    await commands.click.byPartialLinkTextAndWait('Pay monthly phones');
    return commands

[2019-07-29 19:29] leathej1 opened #2557 "Unexpected results when reloading page"
Dockerized sitespeed.io:9.6.0

I am attempting to test an uncached SPA and then the cached version in the next step. However, the results of the hit to the cached page do not show API endpoints, and the timings are too quick.

[code]
I have tried a few versions of this script, but the results are the same. I can supply the scripts and config separately if you need them.

[2019-07-29 20:48] soulgalore commented on #2554
Hi @Karalina763 so if I understand correctly you can get the element you want when navigating but when navigating and measuring it isn't there? They should both use the same pageCompleteCheck (=check when the page has finished loading) ... I wonder if there's a bug there. Can you see something more?

Best
Peter

[2019-07-29 20:57] soulgalore commented on #2557
Hi @leathej1 I think that is a little bit too simple? What kind of cache do you have on your app and how does your app work? Like what is cached.

I would measure it in two different scripts. When you access URLs after each other with a wait, it depends on how long time the browser keeps the HTTP connection open to the server. So if the connection is still open, the second hit will be much faster.

[2019-07-29 21:38] hassankaz commented on #2556
Thank you Peter,

I imported the leaderboard.json to grafana, then ran the job, I see the pages under domains, but no data show up:

![image](https://user-images.githubusercontent.com/1616330/62084569-7abcf180-b20e-11e9-8fe5-ff5eb1d088db.png)

Is there any other hookup I need to do for the UI to show up on the dashboard?

Thank you again,
Kazue

[2019-07-30 00:37] hassankaz commented on #2556
My grafana is 5.4.3(default installed by docker-compose). does it require newer version of grafana?

[2019-07-30 06:34] soulgalore commented on #2556
Hi @hassankaz yes you are right, it needs Grafana 6.2 or later (https://www.sitespeed.io/documentation/sitespeed.io/leaderboard/). 6.2 added that new look and feel. We constantly update the docker compose file with newer versions.

Best
Peter

[2019-07-30 08:29] Karalina763 commented on #2554
Hello @soulgalore it looks like "commands.click.by.." and "commands.wait.by.." don't work after measure.start(url), measure.start(url, alias) and measure.stop(). It's strange, because I saw during running script locally that my Xpath looked like be found, but then there was an error in output `"javascript error: Cannot read property 'click' of null\n`

[2019-07-30 08:40] soulgalore commented on #2554
That means that the element you try to click on doesn't exist.

[2019-07-30 08:44] Karalina763 commented on #2554
@soulgalore but after measure.start() and navigate(url) it works fine. What the difference?

[2019-07-30 13:26] parag85 commented on #2087
My host machine OS: Linux 18 and latest docker installed on the host machine and following same steps as mentioned above to connect the actual device but didn't get attached device details while running below command:

docker run --privileged -v /dev/bus/usb:/dev/bus/usb -e START_ADB_SERVER=true --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io:9.6.0 -n 1 --browsertime.chrome.android.package

[2019-07-30 14:49] soulgalore commented on #2554
I don't know, what do you try to do? :) I don't see that there's bug there, I think its how you try to get things on your page. Easiest way for you is to test on your local machine, watch the browser and see what happens. Try to log from your script, validate that element exists before you try to click on them etc.

[2019-07-30 14:54] soulgalore commented on #2087
Ok, hmm. Somehow the mount between your USB port and the Docker container doesn't work (can see on your output that where it would log the phone info it's just empty). Can you stop the adb-server on your host, so that that one doesn't take your connection to the phone?

You can also try by mounting per device (see https://www.sitespeed.io/documentation/sitespeed.io/mobile-phones/#driving-multiple-

[2019-07-30 15:58] leathej1 commented on #2557
OK, I see. I can work around this by navigating away from this page and then hitting it again in the same session.

[2019-07-30 15:58] #2557 closed

[2019-07-30 18:53] hassankaz commented on #2556
Thanks. I updated docker-compose.yml to the latest. However, when i run `docker-compose up -d`, i get this error

![image](https://user-images.githubusercontent.com/1616330/62156799-8f59c200-b2c0-11e9-9d87-b1d6ce5b5f74.png)

I made sure to run `docker-compose down` so no other container running on the port..
What should I do to fix the error above?

Thank you again!
Kazue

[2019-07-30 19:44] soulgalore commented on #2556
It looks like you have something running on port 8080. Maybe something like https://github.com/docker/for-win/issues/573#issuecomment-301513210 ?

[2019-07-30 21:53] hassankaz commented on #2556
I just had to disable  - "8080:80" for ports in docker-compose.yml file.  The dashboard looks so nice! thank you so much!!

Kazue

[2019-07-31 00:49] #2556 closed

[2019-07-31 09:22] parag85 commented on #2087
![connect_issue](https://user-images.githubusercontent.com/8840359/62200329-ca342680-b3a2-11e9-878b-94e74440fd70.png)

/sys/bus/usb/devices/usb3/3-1/dev

Above is my connected device details, getting same issue

[2019-07-31 09:24] soulgalore commented on #2087
Did you stop adb on your host before starting the container?

[2019-07-31 09:38] parag85 commented on #2087
Yes executed adb kill-server command and tried but same issue

[2019-07-31 09:43] parag85 commented on #2087
Thanks dear, you are a gem:)

[2019-08-01 21:35] joychester opened #2558 "[Enhancement] Add Transferred size to the Largest javascript files report"
In toplist.html report --> "Largest JavaScript files" table, it shows the original size without compression, instead of real the transfer size on the network, shall we add one column => "Transfered size" to indicate how much size we transferred through network with compression enabled?

[2019-08-02 06:06] soulgalore commented on #2558
Hi @joychester good idea, I did a PR but need to test it out some more.

[2019-08-02 14:45] patoperpe commented on #2346
Hi! I modified the entry point of the image **sitespeedio/sitespeed.io** to be able to use it as a docker agent for a stage.
`docker
FROM sitespeedio/sitespeed.io
ENTRYPOINT [ "/bin/sh", "-c" ]
`
My jenkinsfile is the following, it generates the report and the save it as an artifact for that stage.
`pipeline {
  agent {
    docker {
      image 'registry.gitlab.com/singletonsd/docker/sitespeed.io'

[2019-08-02 17:01] joychester commented on #2558
Thanks peter :)

[2019-08-02 18:47] soulgalore commented on #2346
Hi @patoperpe aha cool.

One thing, I wonder if it Is possible to use `--entrypoint` for Docker run to override the default one instead of needing to create your own image? I'm not familiar with the Jenkins syntax for running Docker.

There's no way for you do do it with just configuring Graphite (`--graphite.host` etc) when you run? If you don't do it like that, its a lot of extra work. You can s

[2019-08-02 19:45] patoperpe commented on #2346
I tried several times to change the entry point inside jenkina agent without success. So my only way to make it work was modifying the entry point to default so that it can be used for an stage.

The problem of configuring the graphite's host is that when you run Jenkins inside a jekins container, each stage of pipeline is ran inside a container isolated for everything but the Jenkins container (t

[2019-08-03 19:17] kmaqsudi opened #2561 "set cookie error when using 9.8.0"
Not getting this error when I switch back to 9.6.

ERROR: TypeError: cookie.split is not a function
    at ChromeDevtoolsProtocol.setCookies (/usr/src/app/node_modules/browsertime/lib/chrome/webdriver/chromeDevtoolsProtocol.js:131:26)
    at ChromeDelegate.beforeEachURL (/usr/src/app/node_modules/browsertime/lib/chrome/webdriver/chromeDelegate.js:130:28)
    at Measure.start (/usr/src/app/node_mod

[2019-08-03 19:24] soulgalore commented on #2346
Thanks @patoperpe for the explanation. I see. Let me think a while if that's fixable in an easy way.

In. what stage would it be possible for you to send the metrics?

Best
Peter

[2019-08-03 19:32] soulgalore commented on #2561
Hi @kmaqsudi can you show me how you run (I don't need the URL you are testing just the parameters) so I can reproduce and fix it?

Best
Peter

[2019-08-03 19:34] soulgalore commented on #2561
Ah I tested now, I've missed adding support for multiple cookies, let me fix that.

[2019-08-03 19:48] kmaqsudi commented on #2561
docker run \
--rm \
--name=sitespeed-bbby \
-v "$(pwd)":/sitespeed.io \
sitespeedio/sitespeed.io:9.6.0-plus1 \
--cookie emailsignupapifeo=10 \
--cookie SDDUZ=07083 \
--cookie SDDCZ=07083 \
--slack.hookUrl https://hooks.slack.com/services/\
--webpagetest.host www.webpagetest.org \
--webpagetest.key A.testtesttest \
--webpagetest.location Dulles:Chrome \
--webpagetest.file wpt.txt \
--webpagetest.ti

[2019-08-03 19:50] soulgalore commented on #2561
I've fixed this in Browsertime 5.7.3 just now. It was introduced in 5.6.0 when we switched to using Chrome Devtools Protocol to set cookies for Chrome (it happens if you try to set 2 or more cookies). I'll push a new release of sitespeed.io tomorrow with that fix.

[2019-08-03 19:57] kmaqsudi commented on #2561
Thank you.

[2019-08-03 20:12] soulgalore commented on #2561
I've had some time and just pushed 9.8.1 with the fix, it will be at the Docker hub in a couple of minutes.

[2019-08-04 14:44] kmaqsudi commented on #2561
This is now resolved.  Thanks for the quick response.

[2019-08-04 14:44] #2561 closed

[2019-08-04 18:06] Uladik opened #2567 "Sending metrics to influxdb"
I am new to sitespeed, but it will definitely be very useful for my project. And I have a couple of questions to which I could not find answers, could you please help me?
1) Is it possible to send metrics to influx in real time, for example, my script consists of opening 3 pages, is it possible to send metrics for each page immediately after it loads? Now it sends metrics of all pages after the la

[2019-08-04 18:19] soulgalore commented on #2567
Hi @Uladik I mostly use Graphite but I think I can answer your questions:
'

The metrics are sent after all runs are done. For example if you have a script that test three pages, and you test them three times, the metrics are sent when all the runs have finished.

Nothing we have implemented but maybe something that is possible, I haven't tested. What kind of error messages are you thinking about?

[2019-08-04 18:29] Uladik commented on #2567
@soulgalore For example:
[2019-08-04 20:40:37] ERROR: Could not find element by xpath //*[@id="passwordNext"]/spanspan
[2019-08-04 20:40:37] ERROR: Error: Could not find element by xpath //*[@id="passwordNext"]/spanspan

[2019-08-04 18:59] soulgalore commented on #2567
For that I would create my own error https://www.sitespeed.io/documentation/sitespeed.io/scripting/#error and then when I see the error in Grafana, click on annotation and see the error. One more step, but that's work today.

[2019-08-05 08:20] patoperpetua commented on #2346
Hi! At the end of the pipeline, I have a task which runs always when the test finishes as you see here:
bash```post {
always { archiveArtifacts artifacts: 'audit-runtime/sitespeed-result/**', fingerprint: true
SEND_REPORTS_HERE
}
}
} `

Best
Pato

[2019-08-05 12:03] soulgalore commented on #2346
Hi @patoperpetua ok thanks. I will try to setup Jenkins with an agent when I get some time (probably in September), maybe we could simplify parts on our side so its easier to just use in Jenkins. I'll ask you for help when I get there if thats ok :)

Best
Peter

[2019-08-05 12:07] patoperpetua commented on #2346
Cool! Yes, of course. Whatever you need send me a message.

Thanks!

[2019-08-09 07:43] manojs1978 opened #2568 "ERROR: Error: Tracing is not started issue"
Hi All,
getting below error while creating user journey ie end to end flow.

[2019-08-09 12:42:17] INFO: http://**********:40102/**/****** has been tested before within the same run, it will get an extra query parameter named browsertime_run. Make sure to use alias to keep track of the URLs
[2019-08-09 12:42:18] INFO: Injecting navigationStart event in the trace log since we could not find any for

[2019-08-09 07:59] soulgalore commented on #2568
Hi @manojs1978 thanks for creating the issue! Please have a look at https://www.sitespeed.io/documentation/sitespeed.io/bug-report/ to make a reproducable bug, it makes it so much easier for us to fix things!

Best
Peter

[2019-08-09 08:16] manojs1978 commented on #2568
steps :

create user journey using commands.measure.start /commands.measure.stop.
create multiple user journey steps more than 10.
in last step of user journey we are facing above issue.
and we are not getting page wise result. we are getting only one page ie last page results.
command:
sitespeed.io -n 1 http://**/**/ --preScript **.js  --chrome.timeline

OS/sitespeed/browsertime  version
Versions

[2019-08-12 08:47] manojs1978 commented on #2568
require('events').EventEmitter.prototype._maxListeners = 15;
module.exports = async function(context, commands) {
  context.log.info('Info logging from your script');
  context.log.error('Error logging from your script');

var rn = require('random-number');

var gen = rn.generator({
  min:  1
, max:  10000000
, integer: true
})

var rnumber = require('random-number');
var gen1 = rnumber.generator(

[2019-08-14 07:25] manojs1978 commented on #2568
i beg you pardon closing this issue , i was facing this issue due to extra line "await commands.measure.stop();" in my code.
now its working fine,

[2019-08-14 07:25] manojs1978 commented on #2568
i beg you pardon closing this issue , i was facing this issue due to extra line "await commands.measure.stop();" in my code.
now its working fine,

[2019-08-14 07:25] manojs1978 commented on #2568
i beg you pardon closing this issue , i was facing this issue due to extra line "await commands.measure.stop();" in my code.
now its working fine,

[2019-08-14 07:25] #2568 closed

[2019-08-15 07:39] Uporaba1 opened #2573 "There is no data in the table"
![image](https://user-images.githubusercontent.com/32709525/63079959-40b35580-bf59-11e9-9624-b7f429051f2a.png)
Hello. Why some data is not displayed? How can I can debug this?

[2019-08-15 08:54] soulgalore commented on #2573
HI @Uporaba1 can you please share a little more about your setup? That helps us a lot to track down the problem! See https://www.sitespeed.io/documentation/sitespeed.io/bug-report/

Best
Peter

[2019-08-16 08:13] Uporaba1 commented on #2573
Everything is configured through the docker. On 1st server, grafana + graphite is deployed, on 2nd, container sitespeed with this settings: `docker run --name speedtest --rm -v /home/speedtest/urls.txt:/sitespeed.io/urls.txt sitespeedio/sitespeed.io:9.8.1 urls.txt --graphite.host=IP -n 1 --speedIndex false --video false -c 3g --graphite.namespace sitespeed_io.test` which start on cron. In urls.txt

[2019-08-16 12:58] soulgalore commented on #2573
Is it default Graphite or our version with pre-made config? Checkout point number 3 in https://www.sitespeed.io/documentation/sitespeed.io/graphite/#graphite-for-production-important

Best
Peter

[2019-08-16 19:37] gremjua commented on #2506
Hi @soulgalore I have a problem similar to @ppi-mzl.
I want to measure the time it takes for a react component to change state.
There are no new page loads, but I know there are requests that are made when I click the component.
Still, I get the Cannot set property '_meta' of undefined problem.
Is sitespeed supposedly able to measure times if there is a request between start and stop? (The URL of

[2019-08-16 19:42] soulgalore commented on #2506
Hi @gremjua can you measure it with a [User Timing](https://developer.mozilla.org/en-US/docs/Web/API/User_Timing_API)? That is automatically picked up by sitespeed.io:

* start measure
* navigate to that page
* do what you need to change the state
* stop measuring

Best
Peter

[2019-08-19 19:30] leathej1 opened #2581 "Not seeing response bodies in waterfall even though chrome.includeResponseBodies is set to "all""
Dockerized sitespeed.io v 9.8.1

Config:
  "chrome": {
    "cdp.performance": "true",
    "collectConsoleLog": "true",
    "collectLongTasks": "true",
    "includeResponseBodies": "all",
    "timeline": "true"
  }

I have tried both "html" and "all", but neither have the desired result. Firefox exhibits the same result with firefox.includeResponseBodies set to either of those values.

[2019-08-19 19:44] srijondas opened #2582 "data on time boundaries"
how is the data so precisely aligned to the time boundaries on grafana ... 10:10 AM, followed by 10.20 AM... 10.30.. 10.40 and so on, while my test has been running all the time.

Also is there a configuration that can be changed to report the actual time when the transaction happened rather than report all the results on 10 minute intervals.

[2019-08-19 21:21] soulgalore commented on #2581
And you don't get any errors in the log? If Chrome can't match the request it should log an error.

The 'html' works in our continuous tests here: https://s3.amazonaws.com/results.sitespeed.io/en.m.wikipedia.org/2019-08-19-20-55-05/pages/en.m.wikipedia.org/wiki/Barack_Obama/index.html#waterfall so I wonder what it can be.

Best
Peter

[2019-08-19 21:27] soulgalore commented on #2582
It is reported when its finished. You can configure Graphite how to store values, checkout Etsys write down how storage/retention in Graphite works: https://github.com/statsd/statsd/blob/master/docs/graphite.md

[2019-08-19 21:29] leathej1 commented on #2581
Sorry - I didn't realize this was the associated error:
[code]

[2019-08-20 14:14] scabenga opened #2585 "Not using visual metrics"
Hi Guys,

Not an issue, just a question :)

Are we able to not use visual metrics and just record the time in which you requested the test to stop when using --browsertime.pageCompleteCheck ??

Regards,
scabenga

[2019-08-20 14:23] soulgalore commented on #2585
Hi @scabenga yeah it should work. If you use Docker you need to disable both video and visual metrics (they are turned on by default in Docker). If you add `--visualMetrics false --video false` I think it would work.

Just to be clear, the tests always stops with ` --browsertime.pageCompleteCheck` but running Visual Metrics there are some extra work done, analysing the video etc.

Best
Peter

[2019-08-20 20:40] nevesing opened #2586 "Grafana-PageTimingMetrics (domain/page dropdown menu)"
Environment - VIrtualBox-Ubuntu/Docker-Compose (sitespeedio version)

I am trying to execute below sample script using docker-compose and send the metrics to localhost graphite. Note that the list of domains are different but the grafana dashboard (page summary for example) shows all page names (page dropdown-domain1,2,3) for any domain name (domain dropdown) i select which is very confusing. Expe

[2019-08-21 06:51] soulgalore commented on #2586
Hi @nevesing I've checked the dashboard and it looks like the page section (that dropdown) is populated depending on the domain you are using.

Could it be dirty data? You can check that in Grapite or Grafana if you edit the query.

Best
Peter

[2019-08-21 13:54] scabenga commented on #2585
Thanks @soulgalore !  All sorted.

[2019-08-21 13:54] #2585 closed

[2019-08-21 18:42] #2582 closed

[2019-08-21 18:52] soulgalore commented on #2582
Let me update our docs too so it clearer to see why and how!

[2019-08-21 18:59] srijondas opened #2590 "same url on page with multiple transactions"
The below transactions in the code snippet happen in one single page - view the pdp page, click on buy, click on buy confirm. All of the transactions occur on the same pdp url with ajax calls to the backend.

Does the numbers appearing on Grafana represent the sum of all transactions, or just one of these transactions.

If I add additional command.measure.start commands to the snippet, then the sc

[2019-08-21 19:13] soulgalore commented on #2590
Hi @srijondas it depends on the metrics. The visual metrics like first visual change, last visual change will represent the full flow. So in your example, last visual change would be a metric that would work. For the performance metrics in JS are mostly for first view. If you add [user timings](https://developer.mozilla.org/en-US/docs/Web/API/User_Timing_API) and measure each step, they will then

[2019-08-21 20:28] nevesing commented on #2586
Thanks for your reply. It is not dirty data. I double checked again using below script and docker command.

**Docker command:**

`docker run --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io:9.8.1 interneturls.js --multi -n 1 graphite.host=mygraphitehostname`

**Script:**

[code]
**Grafana screenshot:** Selecting 'google' still shows all page names

![Grafana](https://user-images.githubuserc

[2019-08-21 20:37] soulgalore commented on #2586
Hi @nevesing yeah that looks strange, let me have a look tomorrow and check if I understand why.

Best
Peter

[2019-08-21 20:42] nevesing commented on #2586
Thanks. Below is the output for docker command in case you need it.

[code]

[2019-08-22 06:54] soulgalore commented on #2586
Thanks. Thinking about yesterday I understood what's going. The current versions map the alias against the page part of the URL (not the domain) so for example if you test multiple pages at / with different aliases, / is assigned all of those.

Let me think if there's an easy solution.

[2019-08-22 13:16] Ruprect opened #2591 "Removing files after upload to AWS S3, fails on windows"
On Windows, when I select to delete local files after upload to AWS S3, I get an error:

[code]
So directory cannot be deleted. If I elect to keep files on local machine, no problem.

This is the command used to run:

[code]
And the versions used:

[code]

[2019-08-23 10:52] soulgalore commented on #2586
Had a quick look and I was wrong. I could see that PageXray and the third party plugin send message with wrong group/domain and that messages thing up. I'll try to fix it this weekend.

[2019-08-23 22:09] leathej1 commented on #2581
I believe the issue is that we have a valid vendor specific mime type ('application/vnd.myco.authn-v1.0+json'), and you are looking for a specific pattern in the browsertime code. Maybe a bit of regex would help those of us in this situation.

[2019-08-24 16:55] soulgalore commented on #2586
I've just merged https://github.com/sitespeedio/sitespeed.io/pull/2592 that is going out in the next alpha release. If you need to use stable, you need to skip aliases for different domains for now. The new stable is going out in the middle of September.

Best
Peter

[2019-08-24 17:07] soulgalore commented on #2581
Hi @leathej1 sorry for being slow on this. Yes we have the same problem in PageXray when we are identifying mime types. If you have time to do a more intelligent solution that would be great (I can then port it to the other project).

Best
Peter

[2019-08-25 02:48] harshavarma opened #2595 "Duplicate slack message when testing single url"
Hi Team,

I added a webhook for a slack channel and passed the required parameters when running sitespeed. I'm running it using the official docker image on Ubuntu.

`--slack.hookUrl https://hooks.slack.com/services/************ --slack.type all \
--slack.limitMetric firstVisualChange --slack.limitWarning 1300 -n 1`

I'm only running it on a single url with a single iteration. The slack messages a

[2019-08-25 20:31] nevesing commented on #2586
Thanks Peter. I will wait for the next stable version.

[2019-08-26 06:55] chregu opened #2596 "Retina support?"
Would it be possible to add support for retina screens, resp. screens with a higher device-to-pixel ratio? Since most screens are like this nowadays, it would be useful to have that. Especially for image sizes as lots of pages use `srcset` to load different images depending on the dpr of the screen.

There's an old report for that already at #317, but maybe lots has changed in the meantime.

[2019-08-26 18:01] soulgalore commented on #2596
Hi @chregu if you use Chrome you can set the pixel ratio when you emulate a device, would that do?

`--browsrertime.chrome.mobileEmulation.pixelRatio` -  Pixel ratio of emulated mobile screen (e.g. 2.0)

I haven't tested it myself, I usually just set the deviceName when emulating so not 100% sure how/if it works.

Best
Peter

[2019-08-26 21:50] leathej1 opened #2598 "Unable to publish HTML report from local Jenkins"
Sitespeed.io dockerized: 9.8.1

I know this question has been asked several times, but I have yet to see a documented resolution in the issue notes. So here goes:

I am using the jenkins/blueocean docker container locally as documented at https://jenkins.io/doc/book/installing:

[code]

I followed the instructions at https://www.sitespeed.io/documentation/sitespeed.io/continuous-integration/#jenki

[2019-08-27 02:53] harshavarma commented on #2595
Just to add to this, error notifications are showing a green border instead of red. The example in the documentation clearly shows proper styling, so I'm think I haven't configured Slack properly. Any ideas?

![chrome_2019-08-27_12-50-31](https://user-images.githubusercontent.com/788876/63737398-a85a9080-c8c9-11e9-940d-c9c565d5abe3.png)

[2019-08-27 05:49] soulgalore commented on #2595
Hi @harshavarma yes the double posting seems like a bug, let me look into it. We have the alerts running in our continuous test but I cannot see the same there, but we test multiple URLs there, I wonder if there's a bug when you use just one URL.

About the unstyled content, I didn't fully get that part?

The green colouring when there's an error also looks like a bug.

For the limit, I need look

[2019-08-27 06:32] harshavarma commented on #2595
Hi @soulgalore , please ignore the part about styling.

[2019-08-27 14:30] patoperpetua commented on #2346
Hello! I had an idea and I got sitespeed working along with grafana and jenkins. The trick is to connect to graphite throw container gateway.
The following script gets the gateway of the running container:
`def target_host = '''$(printf "%d.%d.%d.%d" $(awk '$2 == 00000000 && $7 == 00000000 { for (i = 8; i >= 2; i=i-2) { print "0x" substr($3, i-1, 2) } }' /proc/net/route))'''`

And then you pass th

[2019-08-27 19:57] soulgalore commented on #2346
Hi @patoperpetua ah cool! I've haven't had time yet to try out anything on Jenkins. If you feel like it, it would be great if you could do a PR for the docs to share your findings.

Best
Peter

[2019-08-27 19:59] soulgalore commented on #2598
Hi @leathej1 yeah I agree. When I added the docs I just a Dockerized version and at that time it worked (I'm 99,9% sure hehe) and I guess things have changed. When I pushed the next stable I'll spend some time on Jenkins. But I think most Jenkins setup is generic Jenkins stuff so not much should need to be sitespeed.io specific.

Also checkout https://github.com/sitespeedio/sitespeed.io/issues/234

[2019-08-28 08:21] soulgalore opened #2599 "Annotation running WebPageTest standalone is broken"
If you disable Browsertime and run WebPageTest standalone, annotations are sent to Graphite but the tags are Browsertime tags and not the correct one for WebPageTest matching the templates, so they will not be shown in Grafana.

It also looks like we only send the link to the WebPageTest result and not the link to the result uploaded to S3, need to investigate that too.

[2019-08-28 08:22] patoperpetua commented on #2346
Yes, sure. Where do you want to put in?

[2019-08-28 08:28] soulgalore commented on #2346
Great! Somewhere in the Jenkins settings where you think ut works: https://github.com/sitespeedio/sitespeed.io/blob/master/docs/documentation/sitespeed.io/continuous-integration/index.md

[2019-08-28 08:35] soulgalore opened #2600 "Video and filmstrip tab should not show when you run WebPageTest standalone."
<img width="1024" alt="Screen Shot 2019-08-28 at 10 34 35 AM" src="https://user-images.githubusercontent.com/540757/63839411-8cb1c180-c97f-11e9-918a-9fcf253aa4e6.png">

[2019-08-28 09:14] chregu commented on #2596
Thanks for your help.

That doesn't seem to have any effect. Even if setting `--browsertime.chrome.mobileEmulation.pixelRatio` to 1.0, it still downloads images in retina quality (set by srcset) in the mobile profile (or if set to 2.0, it downloads them in not-retina quality for non mobile profile)

[2019-08-28 10:17] patoperpetua commented on #2346
Done! [PR 2601](https://github.com/sitespeedio/sitespeed.io/pull/2601)

[2019-08-28 11:37] soulgalore commented on #2599
Fixed in https://github.com/sitespeedio/sitespeed.io/pull/2602 but we also need to update the dashboards for WebPageTest for the next release since the annotation there is broken.

[2019-08-28 13:52] soulgalore commented on #2343
I've hit the same problem today setting up a new server, and disabling the full-resolution screenshot did the trick for me too, I'll create an upstream issue.

[2019-08-28 15:37] soulgalore commented on #2343
This is fixed upstream now.

[2019-08-28 18:40] leathej1 opened #2604 "Unable to send influxdb tags"
Dockerized Sitespeed 9.8.1

Using something like `--influxdb.tags "build=1.0"` in your docker run command will prevent sending annotations to InfluxDB.

[2019-08-29 04:14] soulgalore commented on #2604
I wonder if it could be fixed in master with https://github.com/sitespeedio/sitespeed.io/pull/2587 ? I did a quick try and it looked ok for me. Did you get any error message?

[2019-08-29 04:31] leathej1 commented on #2604
No error that I noticed.

[2019-08-29 05:05] soulgalore opened #2608 "Download HAR link in annotations is wrong when using only WebPageTest"

[2019-08-30 06:06] soulgalore commented on #2608
Fixed, coming in next stable.

[2019-08-30 06:06] #2608 closed

[2019-08-30 06:06] soulgalore commented on #2600
This was a configuration issue, since JSON configuration doesn't merge extends.

[2019-08-30 06:06] #2600 closed

[2019-09-03 06:25] soulgalore opened #2614 "Refactor: Tags and message handling for annotations"
Today we have almost duplicated code for creating the annotation message/tags for InfluxDB/Graphite and Grafana. We have special handling if we run on WebPageTest (specific tags), that logic lives in all three plugins today, I think we can do that smarter so most of the annotation is created in a couple of utility functions instead.

[2019-09-03 06:27] soulgalore commented on #2595
Hi @harshavarma I think fixed the most of those problems for the coming the release, but I haven't been able to get those duplicate messages?

Best
Peter

[2019-09-03 06:32] soulgalore commented on #2596
Hi @chregu ok, hmm, could you see that mobile emulation really was kicked in for Chrome? Another way could be to test one of the Chrome pre made profiles `--chrome.mobileEmulation.deviceName`

See https://github.com/sitespeedio/browsertime/blob/5769b5ebfed219987f9d48f4e13b4e8c047447e6/lib/support/getViewPort.js#L11-L25

`--chrome.mobileEmulation.deviceName "iPhone X"` should fix that I hope.

Best

[2019-09-03 06:35] soulgalore opened #2615 "Make sitespeed.io commitizen friendly"
We should make sitespeed.io  commitizen friendly see https://github.com/commitizen/cz-cli.

We should set it up with https://github.com/leonardoanalista/cz-customizable so we can configure names etc.

[2019-09-03 06:36] soulgalore commented on #2558
Coming in next major!

[2019-09-03 06:36] #2558 closed

[2019-09-03 06:36] soulgalore commented on #2552
Coming in next major!

[2019-09-03 06:36] #2552 closed

[2019-09-03 06:38] soulgalore commented on #2534
Hi @andyfrancis I think you need to run them with different namespaces. `--graphite.namespace sitespeed.3g --graphite.namespace sitespeed.4g ` or something lika that.

Best
Peter

[2019-09-03 06:38] #2518 closed

[2019-09-03 07:15] harshavarma commented on #2595
Thanks @soulgalore . I'll try to find the root cause for the duplicate messages but it is not a big deal.

[2019-09-03 18:45] leathej1 commented on #2604
I'm curious how anyone is using this in a CI pipeline, since tagging a build number is pretty important. Maybe this is only affecting InfluxDB.

[2019-09-04 13:05] soulgalore opened #2616 "Add axe violations to summary and detailed summary"
Today we only collect it per page, but we should also do it per site, that way it will be much easier in the HTML to see if we have any violations (instead of visit each and every page).

[2019-09-04 14:33] fxbtr opened #2617 "Incomplete first view data for WPT test with webpagetest multi steps script"
_INFO: Versions OS: linux 4.9.184-linuxkit nodejs: v10.13.0 sitespeed.io: 9.8.1 browsertime: 5.7.3 coach: 3.6.0_

Hello,

I have an issue that already popped up a few times [here and there](https://github.com/sitespeedio/sitespeed.io/issues/1897) but I could not find help in the comments.

I am running a 3 steps script on webpagetest and getting the following error:

[2019-09-04 12:41:47] INFO: Go

[2019-09-04 19:13] soulgalore commented on #2617
Hi @fxbtr I think either our implementation is broken or the WebPageTest API. Let me have a look the coming the days and try to understand what's going wrong. We are pushing a new release next week and it would be great to fix it before that.

Thanks for sharing the script, that makes it so much easier for me to reproduce.

Best
Peter

[2019-09-05 11:52] Zujiry opened #2618 "Proxy configuration does not work through corporate proxy"
I am trying to get sitespeed.io running in a docker container running through a corporate proxy. The docker container is started with docker-compose.

**Using:** Docker via docker-compose
**Sitespeed-version:** 9.8.1
**Base OS:** Linux 4.9.0-9-amd64 #1 SMP Debian 4.9.168-1+deb9u4 (2019-07-19) x86_64 GNU/Linux

**Command:**
docker-compose run sitespeed.io https://sitespeed.io --graphite.host=graphi

[2019-09-05 19:02] soulgalore opened #2620 "Support multi step WebPageTest scripts"
Today we do not support multi step WebPageTest scripts. I had a look a quick look and I didn't fully understand the JSON we get back from the WPT API, maybe we do something wrong. I think I need help (or time) to fix it.

[2019-09-05 19:06] soulgalore commented on #2617
Had a quick look and you are right, it doesn't work. We haven't prepared our code for it + I didn't understand the JSON the API returns for multi step. I need to have some time to implement it or if someone else can ship in.  Let us track that work in https://github.com/sitespeedio/sitespeed.io/issues/2620

[2019-09-06 06:15] banuady opened #2624 "Cannot set cookie when using a .js script"
Hi guys,

I have an issue setting up a new cookie when I use **--cookie** parameter and a .js script. For simplicity here is an example:

`docker run --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io:9.8.1 test.js --multi --cookie name=value  -n 1 `

My test.js scripts is provided below:

`module.exports = async function(context, commands) {
    await commands.measure.start("SiteSpeed.io");

[2019-09-06 17:07] sumeetrohra commented on #2591
@Ruprect @soulgalore This is an issue with the fs-extra library. below are the issues I found in their repo:
https://github.com/jprichardson/node-fs-extra/issues/590
https://github.com/jprichardson/node-fs-extra/issues/532
so we can either wait for them to resolve this issue or we might have to find some other way to do this.

[2019-09-06 18:43] soulgalore commented on #2591
Ah thanks @sumeetrohra !

@Ruprect if you don't mount any volume (like` -v D:\git\repos\dock...`) does it work then? Thinking that if you send the files to S3, you may not need them outside of the container, and then there may not be any permission issues deleting it?

[2019-09-07 22:25] fxbtr commented on #2617
Sorry, it took me time to reply but I noticed your swift replies, thank you.

[2019-09-09 10:25] fxbtr commented on #2624
Hello, I do have the same message but the cookie is in fact correctly set.

I use a config.json file instead of the parameter, it also works in your script.js with context.options.cookie = "name=value", despite the error message in both case.

[2019-09-09 14:41] vitorarins opened #2627 "Failed to wait WebDriverError: Failed to decode response from marionette"
Hi,

I am trying to run the example with a website and I am getting an error about webdriver.
Here is the command I am using:
[code]

Unfortunately I think it didn't pickup the `--debug` flag, but the log I got was this:
[code]

This happened to me in other occasions as well, but intermittently (sometimes would work, sometimes not), so I think this could be a generic error, but I don't know how ca

[2019-09-09 16:25] soulgalore commented on #2627
Hi @vitorarins ok, this looks like an upstream issue then, but I wonder if it should be reported in Geckodriver/Marionette or Selenium?

About --debug, yeah in the current released version that means "debugging the queue", not super easy to understand :) I've fixed it to the next major though. You can use `--verbose` but at the moment we don't add any logging from Geckodriver (at least before ther

[2019-09-10 06:48] banuady commented on #2624
Hi @fxbtr ,

Thanks for your suggestions. I tried both ones but unfortunately, none of them worked for me.

Regards,
Adrian

[2019-09-10 09:18] soulgalore commented on #2624
Hi, if you use Chrome you can use CDP to set the cookie in your script. Checkout https://www.sitespeed.io/documentation/sitespeed.io/scripting/#chrome-devtools-protocol and https://chromedevtools.github.io/devtools-protocol/tot/Network#method-setCookie

Best
Peter

[2019-09-10 11:29] obihill opened #2628 "FFMPEG recording page indefinitely"
Hey, how is it going?

I'm on Mac OS X 10.13.4. Chrome version is 76.0.3809.87. Docker version is 18.03.1-ce.

I have a problem with a sitespeed test not terminating i.e. running endlessly. I have a specific local site I'm testing that has no timed carousels or anything like that. It's just a simple webapp with a loader that waits until the content is retrieved from a remote data store before post

[2019-09-10 11:49] vitorarins commented on #2627
Hey @soulgalore , thank you for the quick response.
I am trying to dig deeper and find any errors on the driver itself. I already found some similar issues https://stackoverflow.com/questions/49734915/failed-to-decode-response-from-marionette-message-in-python-firefox-headless-s

If you have any tips on how to isolate the error I would appreciate.
Thanks

[2019-09-10 11:50] soulgalore commented on #2628
Hi @obihill by default the test ends + 2 after the load event end. Checkout https://www.sitespeed.io/documentation/sitespeed.io/browsers/#choose-when-to-end-your-test

You can choose when you want to end your test by adding the JavaScript that will decide when to end. Its all there in the link to the docs, please let me know something is unclear.

There's a bug in the current version when you run

[2019-09-10 15:47] fxbtr opened #2629 "Metrics from GPSI plugin seem to be outdated? DOM Content Loaded instead of First Input Delay"
Hello,

I tried to use the Lighthouse and GPSI plugin thanks to the _plus1_ docker image in order to retrieve the CrUX data for First Contentful Paint and First Input Delay.

When I add the metrics.list parameter, I notice that the FCP is available and everything is working perfectly: `gpsi.pageSummary.loadingExperience.metrics.FIRST_CONTENTFUL_PAINT_MS.median`

The DCL is also available: `gpsi.pa

[2019-09-10 17:27] soulgalore commented on #2629
Hi @fxbtr I'm not sure. The plugin uses gpagespeed model see https://github.com/sitespeedio/plugin-gpsi/blob/master/package.json and not sure how to know which API its using, do you know?

Feel free to do a PR if you wanna add more metrics!

Best
Peter

[2019-09-11 07:17] soulgalore opened #2630 "Show meta data for a run"
In https://github.com/sitespeedio/sitespeed.io/pull/2613 we make it possible to collect meta data of a run (time spent per plugin and total time spent). But we don't show it. We should make a new HTML page that is generated when collect meta data is configured.

This is a good way to understand how the HTML output is generated.

[2019-09-11 08:54] banuady commented on #2624
Hi Peter,

Thanks for this. I tried this and it worked:

`await commands.cdp.send('Network.setCookie',{name:'cookie_name', value:'cookie_value',domain:'my_domain'});`

regards,
Adrian

[2019-09-11 08:54] #2624 closed

[2019-09-11 13:19] obihill commented on #2628
Hi Peter,

Thanks for the response.

I tried the following:

[code]

However, the video recording kept running. I have to `Ctrl+C` to terminate. I'm not sure why it's not triggering to end the test. Any ideas what else I could try?

[2019-09-11 13:50] evgenij495 opened #2631 "jquery undefined after navigation"
When trying run a custom script jquery is not defined:

## code (./index.js):
[code]
## console output:
[code]

**notice above:** undefined

## script:
[code]

## version:
[code]

but using chrome console window.$ returns jquery function on that website

[2019-09-11 18:05] soulgalore commented on #2631
It seems to work for me? I added one await before measure.stop() and run it like this:

` docker run --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io:10.0.0 test.js --multi -n 1`

[code]

Best
Peter

[2019-09-11 18:14] soulgalore commented on #2628
Hi @obihill hmm ok. And your test just waits then I guess? Could it be that the loadEventEnd is never fired on that page? By default the Webdriver waits until the event is fired and then gives back control (=we run the JavaScript). But you can change that with `--pageLoadStrategy none`

[code]

Can you try that?

Best
Peter

[2019-09-12 10:35] radum opened #2633 "Node 12 install issue because of node-fast-crc32c dependency of sse4_crc32"
Installing this on node 12 fails with native add-on compile failure.

[code]

This happens because there is a dependency on node-fast-crc32c that in its own turn uses  sse4_crc32 where the fail happens.

@grimen detailed the issue here also https://github.com/ashi009/node-fast-crc32c/issues/14

Not sure what is the best approach here, either starting to fork the repos and use the updated ones or f

[2019-09-12 17:02] #2633 closed, assigned to nobody

[2019-09-13 00:03] srijondas opened #2635 "sitespeed graphite disc issue"
I have stated using dockerized sitespeed/graphite extensively (more than 10 use cases automated using selenium) on Redhat linux boxes but its running out of 10G disc space quickly. I have a backup storage but I cannot use that for storage gives "could not use snapshotter btrfs " error.

Can someone outline the steps to increase disc size. If there are instructions to install graphite on Redhat tha

[2019-09-13 13:52] nevesing opened #2637 "Feature request - Kerberos Authetication"
We have few applications which uses Kerberos/sigle sign on authetication for which we need to install "Kerberos Linux Client" inside the docker container (sitespeed.io)

Package to be installed - sudo apt install krb5-user libpam-krb5 libpam-ccreds auth-client-config

Refer this link - https://help.ubuntu.com/lts/serverguide/kerberos.html

We tested in our local by passing the EXTRA_START_SCRIPT a

[2019-09-13 13:55] soulgalore commented on #2637
Hi @nevesing I think easiest way for you is to wrap our container, create your own that extends our official and then installs that package. At least for now and then we can look into adding the package.

Best
Peter

[2019-09-13 15:09] nevesing commented on #2637
I am new to building own containers. Should I use the dockerfile in below link and append it with
`RUN sudo apt install krb5-user libpam-krb5 libpam-ccreds auth-client-config`

[https://github.com/sitespeedio/sitespeed.io/blob/master/docker/Dockerfile-plus1](url)

[2019-09-13 15:37] sumeetrohra opened #2638 "Refactor: duplicate function calls in gcs"

[2019-09-13 16:19] sumeetrohra opened #2640 "Refactor: duplicate code in resultUrls"

[2019-09-13 16:50] soulgalore commented on #2637
You could do something like this: Create a new Dockerfile

[code]

`docker build -t your/name .`

I think :)

[2019-09-13 16:54] #2638 closed

[2019-09-13 17:58] soulgalore commented on #2635
Hi @srijondas not exactly sure what you mean with the 10G disc?

Usually its so much easier to run Graphite in a container and mount a volume from the outside, then you get rid of all the hassle of installing Graphite.

Best
Peter

[2019-09-13 18:36] #2640 closed

[2019-09-13 18:37] soulgalore commented on #2630
This is actually not doable since it happens after all HTML is generated. Lets keep the data in the data storage/logs for now.

[2019-09-13 18:37] #2630 closed

[2019-09-13 18:39] soulgalore commented on #2631
Hi @evgenij495 right now you need to navigate (or at least do a request) for measure start/stop to work. Maybe we can change that in the future but I don't see that happening soonish.

Best
Peter

[2019-09-13 18:39] soulgalore commented on #2616
Released in 10.0

[2019-09-13 18:39] #2616 closed

[2019-09-13 18:42] soulgalore commented on #2627
Hi @vitorarins sorry I don't know. What I think is needed, is Geckodriver to fix so you through Selenium could turn on Gecko/Marionett log (I don't that's doable today or at least it wasn't before).

Best
Peter

[2019-09-13 18:56] soulgalore commented on #2618
HI @Zujiry sorry for the late answer, I missed your issue. For Firefox it looks like bug in the code let me have a look. For Chrome ... need to look more.

Best
Peter

[2019-09-13 19:13] soulgalore commented on #2618
I've fixed it in Browsertime and I can roll out a release on Sunday (I wanna squeeze in.a couple of more bug fixes during the weekend).

Best
Peter

P.S Sorry again that I missed your issue!

[2019-09-13 19:14] soulgalore commented on #2546
Ping @naomijub did you find any more info from the logs?

[2019-09-13 19:49] naomijub commented on #2546
Hi @soulgalore
We stopped having problems by fixing our version to 8.x.x. We will only be able to evaluate migration to further versions in November.

Our logs just showed that multiple containers were concurrently accessing all our instance and due to this they were queued.
Sorry

[2019-09-14 19:58] nevesing commented on #2637
Thanks. I have to execute a shell script while building the image so I copied sitespeeed start.sh and appended extra lines of code in first few lines. Please see if it is okay (or) is there a way to run extra shell scripts during the build?

[code]

[2019-09-14 20:01] soulgalore commented on #2637
At build time, you need to extend the start script. If you want to add a extra script at start-up you can do it with https://www.sitespeed.io/documentation/sitespeed.io/docker/#extra-start-script

Best
Peter

[2019-09-14 20:03] nevesing commented on #2637
Yes "extra-start-script" works fine (thanks for that). I thought to move the code to my custom image build itself.

[2019-09-15 17:52] bkarlson opened #2642 "webpagetest runs successfully, but won't collect metrics: Error creating WebPageTest result TypeError: filterForType[type].push is not a function"
All tests run fine, and I can see WPT results on their webiste, but SS is unable to ingest the results, see error below. I tried to figure out what's up, my only thought is some   `"metrics": {
    "filter": [` issue in sitespeed.json, but adding `      "webpagetest.*",` did not help.

Log:

[code]

[2019-09-15 17:54] bkarlson commented on #2642
sitespeed.json:

[code]

[2019-09-16 08:56] #2631 closed

[2019-09-16 12:11] obihill commented on #2628
Hi Peter,

Sorry for the delayed response.

I created a test page with the following HTML:

[code]

then I run the following command:

[code]

The test ends after a few seconds, but no results are generated, and no video is created.

I then run it without `--pageLoadStrategy none` and the earlier problem with the video recording not terminating persists.

When you say I should try running it witho

[2019-09-16 20:23] soulgalore commented on #2618
This was pushed this weekend in a new release, let me know @Zujiry if you have time to test again.

Best
Peter

[2019-09-17 18:56] soulgalore opened #2643 "Tags missing for annotations in InfluxDB"

[2019-09-18 06:55] soulgalore commented on #2643
Introduced by https://github.com/sitespeedio/sitespeed.io/commit/85c4056328660717e7468cc442d2a920ec7eeddd#diff-42c474164d73644c410be7d596539370

[2019-09-18 12:14] abdohafez opened #2645 "TypeError: Cannot read property 'content' of undefined - chrome-har"
Greetings,

I'm getting the following error when running sitespeed

`[2019-09-18 12:03:41] ERROR: [browsertime] TypeError: Cannot read property 'content' of undefined
    at Object.harFromMessages (/usr/src/app/node_modules/chrome-har/index.js:345:28)
    at ChromeDelegate.onCollect (/usr/src/app/node_modules/browsertime/lib/chrome/webdriver/chromeDelegate.js:380:31)
    at process._tickCallback (

[2019-09-18 13:41] nevesing opened #2646 "Graphite: How to send 'average' time only for some metrics"
We usually execute 1 iteration only for most of the URLs that we test. So there is no need to send min, max, avg, etc.. for each metric to graphite; instead we would like to restrict only the 'average' time. Is there any configuration parameter available in the current version?

[2019-09-19 01:32] nevesing commented on #2646
I saw this option under browsertime configuration (--userTimingWhitelist) but it does not have an example so I am not sure how to use it. Is this relevant to the question I asked above?

[2019-09-19 01:33] nevesing commented on #2646
Also graphite has something called blacklist.conf which can solve this problem

[2019-09-19 03:24] jyoprakashJP opened #2647 "help needed on running sitespeed on kubernetes PODs"
I am trying to run sitespeed on kubernetes, it works well with single url testing,however I am not able to pass the script to the POD at run time, any idea as how I can pass/copy the script to the POD right after container starts ?

apiVersion: v1
kind: Pod
metadata:
  name: sitespeed-pods
  labels:
    app: sitespeed
spec:
      restartPolicy: Never
      containers:
        - name: sitespeed-dem

[2019-09-19 04:56] soulgalore commented on #2647
Checkout https://github.com/prashanth-sams/kube-sitespeedio

Best
Peter

[2019-09-19 12:05] Zujiry commented on #2618
Hey, sorry for the late answer and thank you :)!
We just tried it out and it asks for a user and password but we are not sure how to give said things in the proxy.http syntax?

[2019-09-19 14:36] Naverin89 opened #2648 "Mark response codes as tags in influxDB."
Hi guys!
I really love to use **sitespeed**! It's really helpful tool. But today I bumped into a problem.
Site that I tested went down  with _(503)_ and my performance score _(I use lighthouse plugin)_ hit 100 _(was 40-50)_. I've tried to separate results with code 200 and other.
I wasn't able to make a query with two measurements _(score and 200)_.
This would be very nice if you help me with this

[2019-09-19 15:12] soulgalore commented on #2648
Hi @Naverin89 I think this is an upstream issue in Lighthouse, so that they don't report 100 on errors? Do you also run Browsertime tests? I wonder if we have missed sending some data to InfluxDB, to Graphite we send errors (failures) https://dashboard.sitespeed.io/d/YrbijEumk/alerts?orgId=1 (scroll down to Testing Errors) or ... could it be that we don't check the HTTP code? Let me look into that

[2019-09-20 08:20] Naverin89 commented on #2648
Thanks for your fast response.
Its more like page return (**503 Service Unavailable**) error. And it has only 1 request and response as blank page with plain html, so all of the metrics are the best (100, green, etc).
But it appears in influx as "503" measure. Actually all of the response codes becomes separate measurements.
I think more convenient would be, if they become just tags (also it'll sa

[2019-09-20 15:13] soulgalore commented on #2628
Hi @obihill sorry for the late answer. Thanks for the example. So the HTML is deployed on a server not locally on your machine?

Yes. Doing it that way it's sometimes easier to see what's going on.

Best
Peter

[2019-09-20 15:19] soulgalore commented on #2645
Hi @abdohafez,
it looks like there are some content that we don't handle or rather Chrome-har handles correctly. Any chance you can share the URL? Or even better if you can do a run and add `--browsertime.chrome.collectPerfLog ` - that will produce the Chrome log we use to create the HAR. If you can share that file with me, I can reproduce the issue and fix the problem.

Best
Peter

[2019-09-20 15:24] soulgalore commented on #2646
Hi @nevesing sorry for the late answer. `userTimingWhitelist` is for data from the User Timing API. I think one way to solve it could be https://github.com/sitespeedio/sitespeed.io/pull/1925 or make a new PR. This isn't super high prior's for me, but if you can explain/show me more of what you will gain without, I can have a look :)

Best
Peter

[2019-09-20 15:24] soulgalore commented on #2647
Did that help you @jyoprakashJP ?

Best
Peter

[2019-09-20 15:29] soulgalore commented on #2618
Aha, I wonder if that's doable with Selenium (that we use), I tried to search but couldn't find anything. I usually recommend running without a proxy (since the proxy could mess with the performance). Any chance you could run your tests outside of the office?

Best
Peter

[2019-09-20 15:33] soulgalore commented on #2648
Aha then I see. Thanks for the explanation. The numbers you are seeing are numbers of response codes right? The page had X 404 and so on? At the moment we don't handle a response code of a main page in a specific way.

[2019-09-20 19:54] jyoprakashJP commented on #2647
I had tried that deployment approach and that works. I was thinking like, using the Yml. Say I have 10 scripts to run every 15 min on 10 PODs, I can configures the Yml for each script, create POD, run the test, kill the POD.after 15 min repeat. Need to think how to queue the script on PODs. Not sure which approach would be better.

[2019-09-22 17:23] sumeetrohra commented on #1755
@soulgalore using script with folder works now, you can check once and close the issue.

[2019-09-22 19:35] soulgalore commented on #1755
@sumeetrohra I didn't follow, did you do a fix or does it just works? :)

[2019-09-22 20:48] sumeetrohra commented on #1755
@soulgalore it just works :)

[2019-09-23 06:40] Naverin89 commented on #2648
Thanks!

[2019-09-23 06:40] #2648 closed

[2019-09-23 10:38] abdohafez commented on #2645
Thank you for your prompt response.

Here is a link to the chromePerflog files [https://drive.google.com/file/d/1-mindN5mLAfu178jpchrT5HvDGeVKeRW/view?usp=sharing](url)

I'm also getting the following error also from chrome-har

`ERROR: [browsertime] TypeError: Cannot set property 'receive' of undefined
    at Object.harFromMessages (/usr/src/app/node_modules/chrome-har/index.js:373:29)
    at Chr

[2019-09-23 10:39] soulgalore commented on #1755
@sumeetrohra can you test one more time? I did a quick test and couldn't see that it works, I think maybe we talk about different things,

I created a new directory and put two JavasScript files in it as simple as possible:

dir/metric1.js
[code]

and
dir/metric2.js
[code]

And if I add `--script dir/` I don't get the metrics but if I run  `--script dir/metric1.js` I get it.

When it works you sho

[2019-09-23 11:08] sumeetrohra commented on #1755
@soulgalore I checked and it's not working, it was working on my system before :sweat: , sorry for the wrong info, I might have made some changes, I'll look into it this week and make sure it works...

[2019-09-23 12:05] sumeetrohra commented on #1755
@soulgalore I figured out the problem. sitespeed reads all the scripts and keeps them in an object with key `custom`, if we pass the scripts individually it gives a new object as
[code]
But if we pass a directory it gives the output as
[code]
So I'm making a small check for the key name, it should make things work.
P.S. : this is the behaviour of `browsertime.browserScripts.findAndParseScripts`

[2019-09-23 12:16] soulgalore commented on #1755
Aha I see, good find @sumeetrohra !

[2019-09-23 13:57] aurelijusjaneliunas opened #2652 "How to get full information about testing page not only index"
Hello, team,

In previous versions (up to 7.7.2) of the sitespeed application was not an issue get the URL of the running test, by calling context.url or get the alias - context.alias, but from the 8.0.0+ version is not possible anymore. According documentation you only could get context.index which is not sufficient if you want to test multiple sites in the same run and you need to apply differen

[2019-09-23 17:57] soulgalore commented on #2652
Hi @aurelijusjaneliunas when we released scripting we removed the URL from the context since now you aren't sure what the URL is until you have reached that page (clicking on a submit button etc). But you should be able to get the URL anyway can you show me a little more indeed example so I can check how it can be done?

Best
Peter

[2019-09-23 18:20] soulgalore opened #2653 "Recording step with WPR doesn't care about emulated mobile mode"
I think I've seen cases where we record with desktop size and then replying with emulated mobile, where some requests hasn't been recorded.

[2019-09-23 18:53] soulgalore commented on #2653
I have a fix for this but https://github.com/lovell/sharp/issues/1882 is stopping me from test it.

[2019-09-23 18:59] #1755 closed

[2019-09-23 19:07] soulgalore commented on #2645
Thank you @abdohafez I've did a fix this weekend, tested earlier today and it works with your traces, gonna do a release hopefully tomorrow.

For the other error I need the user journey so I can reproduce.

Best
Peter

[2019-09-24 08:02] aurelijusjaneliunas commented on #2652
`module.exports = async function(context, commands) {

   const actionCenterLogin = async function(loginContext){

        const loginUrl = loginContext.loginUrl;
        const loginUser = loginContext.loginUser;
        const loginPwd = loginContext.loginPassword;
        const commands = loginContext.commands;

        await commands.navigate(
            loginUrl
        );
        // Add text

[2019-09-24 08:32] soulgalore commented on #2652
Hi @aurelijusjaneliunas thanks, I didn't fully get the flow :) So you run this as preScript and then to be able to know how to fix the auth, you need to know the URL that you gonna test in the next step,  does I understand the problem correct then?

Best
Peter

[2019-09-24 08:43] soulgalore commented on #2653
Fixed by https://github.com/sitespeedio/sitespeed.io/pull/2654 (after upstream issues been fixed in https://github.com/isaacs/minipass

[2019-09-24 08:43] #2653 closed

[2019-09-24 10:54] aurelijusjaneliunas commented on #2652
Yes, you do understand correct @soulgalore. The URL is helping what type of the auth method should be used.

[2019-09-24 11:02] soulgalore commented on #2652
Ok, is that per domain or per URL? Do you test multiple domains per setup, or do you do multiple runs (there are different solutions I think)?

[2019-09-24 11:14] aurelijusjaneliunas commented on #2652
We are testing multiple pages per domain and we have several domains in the url list we are passing to the sitespeed docker image. We would love to have single probe setup to test all the endpoints in the url list.

[2019-09-24 11:16] aurelijusjaneliunas commented on #2652
`
https://support.xxx.xxx.com/browse/PQA-3458 Issue_View
https://support.xxx.xxx.com/servicedesk/customer/portal/19 Portal
https://support.xxx.xxx.com/servicedesk/customer/portal/19/create/263 Portal_Create_Customer_Request
https://info.xxx.xxx.com Landing_Page
https://info.xxx.xxx.com/display/ANON/Secure+Development+Guidelines Secure_Development_Guidelines
https://info.xxx.xxx.com/display/ANON/GI

[2019-09-24 12:19] shubh1212 opened #2655 "Data not populating in grafana"
Below is my code that i am executing, even the job is succeeding successfully and reports are getting generated, but the grafana results are not updating through graphite.
please help:

docker run --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io:10.0.2 $f  --multi --outputFolder results/$f --graphite.host graphite.webdriver-timings --graphite.port 2003  --connectivity cable --visualMetrics

[2019-09-24 15:54] aurelijusjaneliunas commented on #2652
Pre/Post scripts are executing before running the target page to test. I would love to get that target page information (URL, alias, index) in the pre/post script.

[2019-09-25 05:57] prateeksingh opened #2657 "Unable to run the script - No page that could be associated with the error"
Dear Sitespeed.io,

Greetings!

I am trying to develop script for performance testing purpose. I could write the script using sitespeed.io "commands" option. But Selenium script would be more appropriate for us. Using documentation I had just followed and written the script. It throws me this error -
-------------------- Error -----------------
[2019-09-25 11:18:14] INFO: [browsertime] Running tes

[2019-09-25 06:12] soulgalore commented on #2657
Hi @prateeksingh
yes you can use Selenium script as you do but you need to add command.measure to actually measure the speed of the page (so you get some metrics).

In your example you just use Selenium without measuring anything. See https://www.sitespeed.io/documentation/sitespeed.io/scripting/#measurestart

Best
Peter

[2019-09-25 07:09] prateeksingh commented on #2657
Hi Peter,
Thank you for quick reply. I added them, still same error. Here is the modified script -
module.exports = {
    run(context) {
        return context.runWithDriver((driver) => {
            return driver.get('https://abc.com/')
                .then(() => {

                    const webdriver = context.webdriver;
                    const until = webdriver.until;
                    con

[2019-09-25 07:16] soulgalore commented on #2657
Hi again,
the stop command (and most commands) are async, so you need to wait for them to finish.
`await commands.measure.stop();`

There are a couple of examples of different user flows here:
https://www.sitespeed.io/documentation/sitespeed.io/scripting/#examples

Best
Peter

[2019-09-25 07:44] juca2 opened #2658 "Multiple Request Parameters - Unclear Documentation, Possible Bug"
The test case is the following: adding multiple request headers to a sitespeed run.

First of all, documentation around `--browsertime.requestheader, -r, --requestheader` is unclear:

Multiple instances of what? is it `-r key1:value1 -r key2:value2` or `-r ''key1:value1, key2:value2"` or is it something else altogether?
There should be a concrete example showing how multiple key:value pairs are to