[2018-11-08 08:09] soulgalore commented on #2202
Hi @SowmyaMastaiah thanks for reporting, can you show me a URL and how you run? I think if I remember correctly it should work in Chrome but it could be that Firefox misses the favicon. If you can provide an example I can have a look.

Thanks
Peter

[2018-11-08 08:12] soulgalore commented on #2193
Ah ok, I think I understand. So you want it to work like this:
1. You run the pre-script (login etc)
2. Open a new tab and access the URL you want to measure there?

Best
Peter

[2018-11-08 09:47] soulgalore commented on #1827
@donwalling We got a branch now in Browsertime that you can try out if you have time: https://github.com/sitespeedio/browsertime/tree/navigationScript#script-navigation

[2018-11-08 11:09] zunjooo commented on #2201
Hi @soulgalore
yea sure, I had this same error messages for all HAR files that I got from sitespeed.io HTML results.
Particular one for this commend above is this one:
[sitespeed.har.zip](https://github.com/sitespeedio/sitespeed.io/files/2561407/sitespeed.har.zip)

I got this HAR file with this instructions:
1. Open Google Chrome and go to the page - HTML result from sitespeed.io scan.
2. From the

[2018-11-08 11:34] soulgalore commented on #2201
Ah I see @zunjooo , You need to download the actual HAR from the sitespeed.io run (you try to get the HAR from accessing the HTML page and get it from devtools).

1. Go to your result page, to the URL you tested.
2. Scroll down and click the "Download HAR" button.
![download](https://user-images.githubusercontent.com/540757/48196299-8439bd00-e352-11e8-9cc8-87e3118a1fe2.png)

Then you will get the

[2018-11-08 15:51] SowmyaMastaiah commented on #2202
Hi Peter,

docker run sitespeedio/coach:2.0.6 https://www.zoro.com -f json
I have tried different URLS like nytimes,cnn and also tried sample site provided by sitespeed.io all had same issue.

http://antistatique.github.io/performance-metrics/sitespeed-result/letemps.ch/2016-05-26-10-59-50/pages/www_letemps_ch-theme-sante.html

URL - http://www.letemps.ch/theme/sante

Thanks,
Sowmya

[2018-11-08 17:40] donwalling commented on #1827
@soulgalore great, thanks for the update. I should be able to take a look within the next few days.

[2018-11-08 17:54] donwalling commented on #1827
@soulgalore  I just read through the docs (I haven't actually tried to do anything yet, so I apologize if I haven't fully understood the approach). How is the script specified to browsertime - is it still a preScript? For our use case, we'd want something very similar to the "Testing a page after you have logged in:" case where after login we'd make a call similar to help.startAndNavigate(context.

[2018-11-08 21:06] soulgalore commented on #1827
Oops, sorry I missed adding that to the docs (only in the cli help). Use `--scriptNavigation`. That is a Selenium script following the same structure as before + an extra helper object for starting to measure/navigate. In your case it would then be:

[code]

Maybe that will work :)

[2018-11-09 09:22] Tangyiming commented on #2138
update to the new version,and it's solved

[2018-11-09 09:22] #2138 closed

[2018-11-09 12:07] zunjooo commented on #2201
Oh sorry, thank you, yes I see now, I didn't know that I can do it in that way.

Thank you so much for quick responses!

Cheers and all the best,
Vanja

[2018-11-09 12:07] #2201 closed

[2018-11-09 14:08] george-haddad commented on #1813
This should be the correct translation of the command to windows Powershell

`docker run --rm -v "${pwd}:/sitespeed.io" sitespeedio/sitespeed.io https://www.sitespeed.io -b firefox`

That a `${pwd}` instead of `$(pwd)` . With that the command works and you can see the output.

[2018-11-09 14:46] george-haddad commented on #1818
I opened a PR #2203 that resolves this issue

[2018-11-09 15:15] beenanner commented on #987
Definitely try the graphite exporter for a quick solution. The pushgateway I agree with Brian is the better more native longterm integration, but we will need to create a plugin to support pushing to it. Either of those will require you run a separate process as prometheus is designed to pull metrics and not be pushed to.

[2018-11-09 15:17] beenanner commented on #987
Def join us on our slack channel and we can maybe collaborate if you are interested in diving into plugin creation for pushgateway support that would be neat to have as an option on top of the influxdb and graphite options.

[2018-11-13 09:01] chrischjh opened #2204 "selenium.url doesn't work"
Hi, I'm trying out the sitespeed.io with Docker in my Windows 10 PC, I'm using version 7.7.2 pulled from dockerhub, as I need to run the browser in Windows env thus bring up a selenium standalone server in my local, and configured with "selenium.url", but got error when try to run a test, Here's my config.json:

[code]

Error message:

[code]

[2018-11-13 11:50] soulgalore commented on #2204
Hi @chrischjh
could it be a miss match between Firefox and Geckodriver? What version of Firefox are you using on the hub?

If you use a Selenium hub you need to turn off the video. FFMPEG runs on the local computer, so that will not work.

Best
Peter

[2018-11-13 16:52] donwalling commented on #1827
Hi @soulgalore,  a colleague @Siwach16 has made great progress moving a couple of our tests to use this approach. It's working well. We have no issues or concerns to report so far, and are planning on adopting it fully when released.

One thing we noticed on the pull request https://github.com/sitespeedio/browsertime/pull/666 is a comment that preScript/postScript should be deprecated. We're plann

[2018-11-14 02:19] chrischjh commented on #2204
hi @soulgalore , thanks for your reply. I further digged more, here are some findings:

1. It donesn't look like a Geckodriver and Firefox mismatch issue since it works when I direcitly run webdriver tests with the same Selenium hub
2. The same sitespeed setting can drive Chrome behind the Selenium hub without problem
3. In the error message output by sitespeed, it prompts that "Failed to start br

[2018-11-14 07:38] soulgalore commented on #2204
Aha ok lets see then. I've checked the code and Chrome and Firefox setup the webdriver URL on the same place, so if it works for Chrome it should be the same for Firefox.

For Firefox we set the binary here:
https://github.com/sitespeedio/browsertime/blob/master/lib/firefox/webdriver/index.js#L102-L117

I wonder if it could wrong there or if we shouldn't set the binary at all if we use a selenium.

[2018-11-14 08:01] chrischjh commented on #1897
Hi @serputko , can you share more detail on how to make it correct? I got the same error. thanks a lot

[2018-11-14 08:02] soulgalore commented on #1827
Ok cool, lets keep it like that then! Thanks for the feedback!

[2018-11-14 09:04] chrischjh commented on #2204
@soulgalore I overwrite the binary path in config and works now

[code]
But got another error, I'm using Firefox `60.2.0esr (32-bit)`
[code]

[2018-11-14 10:00] soulgalore opened #2206 "New budget"
Since there has been a lot of buzz about performance budgets again, I think it's time to revisit the budget functionality in sitespeed.io and make it better. There are three things that I want to do in coming 8.0:
* Make the budget.json simpler. Today you need to have insights into our internal structure to create a budget file that sucks. It goods that it is completely open, so we should keep the

[2018-11-14 10:06] #2179 closed

[2018-11-15 07:33] sluthra-globallogic opened #2207 "Getting error while running browsertime 3.12 latest version on GCP"

[2018-11-15 13:21] Dineshm90 opened #2208 "Error with pre/post scripts even though files are available - Couldn't run pre/post script file: /sitespeed.io/login2.js Error: Cannot find module '/sitespeed.io/login2.js"
Scenario:
On running the below command am getting below error message even though files exists in the run location
"Couldn't run pre/post script file: /sitespeed.io/login2.js Error: Cannot find module '/sitespeed.io/login2.js' "

docker run --shm-size=1g --rm -v "%CD%":/sitespeed.io sitespeedio/sitespeed.io:7.7.0 --video --speedIndex -c cable --preScript /sitespeed.io/login2.js https://xxxxxx.xxxx

[2018-11-16 05:20] Dineshm90 commented on #2208
Hi @soulgalore , i could figure out and resolve the issue.

Problem was with docker shared drive path access credentials, file was not accessible with credentials. I have reset them and is working fine. Thank you.

[2018-11-16 05:20] #2208 closed

[2018-11-16 16:53] petemyron commented on #1966
This can be closed now.

[2018-11-18 15:02] soulgalore commented on #1742
Hi @rohitsethitcs it's better if you create a new issue since your problem doesn't seems related to the problem in the original issue. That's makes it easier for people searching for the same problem etc.

If you mount S3 to your server, you don't need to configure the upload, that should just work. If you mount, you don't need to upload the files in sitespeed.io. If you share how you run, it's ea

[2018-11-18 18:46] rohitsethitcs opened #2209 "Can't stores sitespeed results in S3 storage"
Hi ,

I have setup sitespeed and grafana using this link :

https://www.sitespeed.io/documentation/sitespeed.io/performance-dashboard/#up-and-running-in-almost-5-minutes

I have setup everything on my AWS server .

When i go to http://my-ipaddress:3000 , i can see the dashboards.

However , since it's a public ip address , i do not want anyone else to view it, so i would like to have some form of

[2018-11-18 19:16] soulgalore commented on #2209
Hi @rohitsethitcs one way to do it is to use nginx as a reverse proxy in front of Grafana see http://docs.grafana.org/installation/behind_proxy/ and then add the basic auth in nginx.

Best
Peter

[2018-11-18 22:11] rohitsethitcs opened #2211 "Docker Mac Error"
Hi ,

I am having the below error , when i run sitespeed using docker via this command

/usr/local/bin/docker-compose run sitespeed.io https://www.xxxxxx.com/ --graphite.host=graphite

Error

Error response from daemon: Mounts denied: { errno = [EACCES]; call = getattrlist; label = /private/var/root/sitespeed-result }

Can anyone tell me , how to get rid of this ?

[2018-11-19 07:33] qqdqy opened #2214 "Where are the values of metrics stored?"
Where are the values of metrics stored? I only see them in the html file, but I want to save them to database, what should I do？

[2018-11-19 07:48] soulgalore commented on #2214
Hi @qqdqy you can default choose to store metrics in Graphite or InfluxDB (read through https://www.sitespeed.io/documentation/sitespeed.io/graphite/).

If you want store it in a database. you need create your own plugin: https://www.sitespeed.io/documentation/sitespeed.io/plugins/#how-to-create-your-own-plugin

Best
Peter

[2018-11-19 08:15] qqdqy commented on #2214
@soulgalore Thanks for your reply! I will try it according to your suggestion.

[2018-11-19 08:22] george-haddad opened #2216 "Json output format support"
It would be great to have `json` format as an option for the budget output. Currently there is only `tap` and `junit xml` which are great when integrating with tools that read those. Having `json` format makes it easier to integrate with `nodejs`. A good use case would be as follows:

- Run site speed docker with budget config file
- Set output format to `json`
- Set output folder to a directory y

[2018-11-19 10:36] soulgalore commented on #1827
Hey @PieterVO do you mean sitespeedio/browsertime#666 ? It will come in next major of sitespeed.io. If wanna try it out in Docker with Browsertime you can try out our autobuild: sitespeedio/browsertime-autobuild:navigationScript.

The schedule will look like this: Coach 3.0 (maybe this week), Browsertime 4 and then sitespeed.io 8. I plan to release sitespeed.io before Christmas but exact date is h

[2018-11-19 10:43] PieterVO commented on #1827
Thanks for your fast reply @soulgalore. Do I get the full sitespeed.io image when i use _sitespeedio/browsertime-autobuild:navigationScript_?

[2018-11-19 10:49] soulgalore commented on #1827
No only Browsertime, so either you need build it yourself or wait until we merge and release Browsertime, sorry.

[2018-11-20 16:23] lucasafranio77 opened #2218 "Include in the documentation on how to integrate with Gitlab CI"
In the gitlab site there is a material talking about how to work Gitlab CI with sitespeed.io. It would be good to include this on the project site as well. Follow the link:

https://docs.gitlab.com/ee/ci/examples/browser_performance.html

Congratulations to the work.

[2018-11-20 17:13] soulgalore commented on #2218
Hi @lucasafranio77 good idea, let me fix that tonight!

Best
Peter

[2018-11-20 18:18] soulgalore commented on #2218
Added the links to the docs. Thanks again @lucasafranio77 !

[2018-11-20 18:18] #2218 closed

[2018-11-21 14:39] vernontab commented on #1033
It would be wonderful if you have a command here! I'm currently trying to figure out how to pass preScript multiple times. This thread seemed to get close to the answer then...

[2018-11-21 21:21] soulgalore commented on #1033
Hey @vernontab I'm not 100% follow what you mean, could you please try to explain some more? You can ad multiple preScript by passing the parameter multiple times.

Best
Peter

[2018-11-22 09:34] vernontab commented on #1033
Hi @soulgalore. What I'm trying to do is get past a login screen but it doesn't do this for each run it works for the first but not the subsequent ones). How do I use preScript multiple times? Do you have an example I could take a look at?

[2018-11-22 09:38] soulgalore commented on #1033
Hi @vernontab ok, what do you mean by not work? :)

Checkout https://www.sitespeed.io/documentation/sitespeed.io/browsers/#how-does-it-work-behind-the-scene that's the flow. The prescript runs every time. Could it be some limit setup for site?

And here's how to debug (add logging etc): https://www.sitespeed.io/documentation/sitespeed.io/prepostscript/#debuglog-from-your-script

Best
Peter

[2018-11-26 19:39] taytus opened #2221 "Adding PageLoadTime to Summary"
Hello everyone!

I can get PageLoadTime (and other metrics) https://www.dropbox.com/s/pdxjvtcdkeu0v86/Screenshot%202018-11-26%2013.34.26.png?dl=0 but I would like to add it to the main Summary page like these other metrics: https://www.dropbox.com/s/hwkirln5htbnf6g/Screenshot%202018-11-26%2013.37.46.png?dl=0

Any help would be greatly appreciated because I've read the documentation and I couldn't

[2018-11-26 19:49] soulgalore commented on #2221
Hi @taytus yeah we use to have that first page configurable in older versions but don't have it now, since it added some extra overhead. But we could surely add it to the next release. What other metrics are you missing there?

Best
Peter

[2018-11-26 20:00] taytus commented on #2221
It would be awesome to also have domContentLoadedTime and serverResponseTime in the summary section.

I know this is a particular case, that's why I asked if it was a way to configure the summary page.

If not, I can re-write the HTML and add it myself ^_^

But since you guys are so awesome I thought I'd ask 🙌🏼

[2018-11-26 20:06] soulgalore commented on #2221
That's not so much, let us add it. It will take some time until next release though (before Christmas) so if you need it now, you should hack it yourself (and preferable make a PR :))

Best
Peter

[2018-11-26 20:09] taytus commented on #2221
I would love to help and contribute to the project. For my personal usage, I know how to hack it but I have to learn more about how these tools integrate each other to be able to help the community.

Thank you Peter!

[2018-11-26 20:17] soulgalore commented on #2221
Cool, let me know if you need any help. The summary boxes is created in https://github.com/sitespeedio/sitespeed.io/blob/master/lib/plugins/html/setup/summaryBoxes.js.

Best
Peter

[2018-11-27 14:20] ckhampus opened #2222 "Need help with querying metrics in Influx"
Hi! This might just be inexperience with Influx on my part but I'm having a hard time querying certain metrics.

For example I'm trying to get CPU metrics but I have no clue how the query should look like? 🤔

Another example would be Lighthouse scores.

With the following query I manage to get a value:

[code]
But what does that value mean? Is it the perfomance score, the PWA score, ore something

[2018-11-27 15:28] mporras17 opened #2223 "Can I test a website with multiple connectivities at the same time? (using Docker)"

[2018-11-27 19:50] soulgalore commented on #2223
Hi @mporras17 I think it would be possible to setup multiple docker networks and then use them for different containers. However I never run more than one test at a time, since I want to avoid disturbance and unstable metrics.

Best
Peter

[2018-11-27 19:58] soulgalore commented on #2222
Hi @ckhampus thank you for the kind words :)

I'm no InfluxDb user either (we use Graphite). If everything is right in the code, most key paths in Graphite should be converted to tags when using InfluxDB. Let me turn on CPU for our tests that stores the data to Influx and have a look (I looked now and it seems the tests are down, so I will fix that first).

For Lighthouse they should also have tag

[2018-11-27 20:00] mporras17 commented on #2223
The idea is testing a webpage using sitespeed docker container but I would like to know if I have the possibility to add different networks (2g, 3g, cable...) in the config.json
![config](https://user-images.githubusercontent.com/45072185/49108004-b56c2580-f24c-11e8-9bc6-5047787bb007.PNG)

[2018-11-27 20:30] soulgalore commented on #2222
Did a quick check for CPU. At the moment we don't tag per type (which makes it harder). I will create a follow up issue for that. Right now they are all at the same level (see "Scripting"):
<img width="1446" alt="screen shot 2018-11-27 at 21 23 45" src="https://user-images.githubusercontent.com/540757/49109417-ea976880-f28a-11e8-9724-7f9f872af5ad.png">

That works to make a graph for the high leve

[2018-11-27 20:33] soulgalore commented on #2223
That is just the name. All setup of connectivity happens on the outside of the container, check the docs here: https://www.sitespeed.io/documentation/sitespeed.io/connectivity/

Hope that makes it more easier to understand!
Best
Peter

[2018-11-28 08:12] ckhampus commented on #2222
Hi @soulgalore!

Thanks for your answer and the example. This will get me started, but I just realized that I may not have activated the CPU timings correctly and that's why I don't see the data 😛 What's the correct way of enabling the CPU timings?

I don't need the data right now so don't stress it 👍 Was just playing around in Grafana and needed a little help.

-Cristian

[2018-11-28 08:46] soulgalore opened #2224 "Add missing tags for InfluxDB for CPU and Lighthouse"
At the moment it's not easy to use the CPU data in InfluxDb since there's no tag (the high level and each event is on the same level). Let us fix that.

And Lighthouse metrics should have a tag "Lighthouse" + the score needs to pickup what score it is (SEO etc).

See #2222

[2018-11-28 08:46] soulgalore commented on #2222
Let me fix that for the next major then, it's kind of annoying the way it is now.

Adding `--chrome.timeline` will pickup the metrics.

[2018-11-28 08:53] soulgalore commented on #2222
And yes it only works in Chrome at the moment, Firefox doesn't expose that kind of metrics at the moment (there are some upstream tasks for it though).

[2018-11-28 10:32] ckhampus commented on #2222
Thanks! Got it working now 👍 I'll close this now as I got the help I needed 😄

[2018-11-28 10:32] #2222 closed

[2018-11-28 10:37] soulgalore commented on #2222
Cool! I've merged the fixes in master, so next release it will be easier to pickup the CPU metrics + you can actually use the Lighthouse ones.

[2018-11-28 11:22] soulgalore commented on #2224
Coming in next release.

[2018-11-28 11:22] #2224 closed

[2018-12-05 02:55] chrischjh opened #2227 "How to filter dirty data"
During my monitoring, the application under test got down for a while and some dirty sampling data were captured, is there a way to exlude or filter them? I'm new to Grafana or Graphite, but seems there are not efficient way to do that from searching around? I'm using WebPagetest to collect metrics.

[2018-12-05 10:40] soulgalore commented on #2227
HI @chrischjh
no, there's not an easy way. Either remove those metrics from Graphite but since the metrics is file based you need to go through everyone and remove the ones between certain time span. You could do it in  bash-script but it would be work. Or you need to change all the queries in Grafana to exclude metrics under a threshold but that means changing all dashboards.

I would create an [

[2018-12-06 01:30] chrischjh commented on #2227
Hi @soulgalore , thanks for the tips, I've added filters in the charts to exclude the metrics under a threshhold, also added annotations. Is there really a way to remove the metrics between certain time span? I went through Graphite documents, but no finding how to do that, do you have an example? much appreciated!

[2018-12-06 02:36] chrischjh commented on #2227
Thanks anyway! I figure that in my context we may have to do it from time to time in future, thus possibly try to port the data source to MySQL :)

[2018-12-06 05:19] #2227 closed

[2018-12-06 09:28] rijuchatterjee opened #2229 "Need to install sightspeed with no internet"
Hello,

I have npm and nodejs installed in my system but the server does not have any internet connection hence neither docker nor npm or yarn works. Is there any other way to install sightspeed.io in this server?

Thanks!
Riju Chatterjee

[2018-12-13 10:43] prashan9775 opened #2230 "Webpage test response issue"
Hi,

I ran below sitespeed command with following parameters to generate webpage test summary

`docker-compose run sitespeed.io site_urls.txt --graphite.host=graphite --mobile --firstParty .fabhotels.com --network=3gslow -c 3gslow --webpagetest.key=<Webpagetest API Key> --webpagetest.runs=1 --webpagetest.useragent="Mozilla/5.0 (Linux; Android 5.0; SM-G900P Build/LRX21T) AppleWebKit/537.36 (KHTML,

[2018-12-13 11:08] soulgalore commented on #2230
Yeah it seems like the WebPageTest response is broken and we don't handle that. We check for an ok status code https://github.com/sitespeedio/sitespeed.io/blob/master/lib/plugins/webpagetest/analyzer.js#L42-L51 but I guess the API returns 200 then? If you check at the WebPageTest server, can find your run, what does it look like? I think you should file an upstream issue to check what's wrong.

Be

[2018-12-13 12:21] balajir2016 opened #2231 "docker-compose run vs docker run"
I followed the steps on your website to setup docker and configure sitespeed, graphite and grafana. The base setup works like a charm.

The below command works and I see relevant grafana dashboard:
docker-compose run sitespeed.io https://www.botanics.co.uk/-n=15 --graphite.host=graphite

But when I try to run the command using docker run it does not work.

docker run --shm-size=1g --rm -v "$(pwd)"

[2018-12-13 12:58] soulgalore commented on #2231
Hi @balajir2016 if you wanna run to collect metrics for usage where the metrics is important, you should separate sitespeed.io and Graphite/Grafana https://www.sitespeed.io/documentation/sitespeed.io/performance-dashboard/#setup-important

Meaning you need to use _docker run_ and then use host/ip when you send the metrics. On your local for testing you can use compose. Else if you wanna use the ru

[2018-12-13 15:49] balajir2016 commented on #2231
Awesome, your solution worked. Thanks Peter for swift reply.

[2018-12-13 15:49] #2231 closed

[2018-12-13 16:05] prashan9775 commented on #2230
Hi @soulgalore thanks for the reply.

I found the problem, it is in the params that we are sending in request.The requirement we are having is that location server should be mumbai and n/w connection value to be slow3G so we assigned
--webpagetest.location=ap-south-1:Chrome.3GSlow which is not the correct way to do.

[2018-12-14 12:21] balajir2016 opened #2232 "Output folder syntax is not clear. I am getting exceptions."
Hi Peter,

Good Day !! Thanks for addressing my issue yesterday very swiftly. I am running into another issue today with regards to output folder. I am getting an exception when I follow the syntax mentioned in the documentation. I am getting a "Couldn't find url file at ${filePath}". Please see below. I am not sure what URL path is being sought here ? Please help.

CHMB105416:~ balaji_rama$ cd ss

[2018-12-14 16:14] balajir2016 commented on #2232
Thanks for patiently explaining Peter. Totally appreciate your support.

[2018-12-14 16:14] #2232 closed

[2018-12-19 16:54] johnnyxh commented on #1851
Have there been any updates on this? I'm trying to do something similar using version 7.6.3 and getting the same results. Deleting the entry in the require.cache and re-importing it is also giving me the same result.

[2018-12-19 20:09] soulgalore commented on #1851
Nothing done there, the way to do it right now is to instantiate a new object.

[2018-12-21 13:41] csvn opened #2234 "Video recording throws error when using Firefox"
Yesterday, our performance job in the CI was working. Today when we merged to `master`, the performance test in Firefox threw an error that made the job fail. No changes since yesterday that should affect this job, and as far as I can see the docker `latest` image for sitespeed.io has not been updated in two months.

The commands below were ran on my local machine (Windows 10). If I add `--video f

[2018-12-21 15:15] soulgalore commented on #2234
Hi @csvn thanks for filing the issue. I could reproduce with (I always try with a specific tagged version):

`docker run --shm-size=2g --rm -v ${pwd}:/sitespeed.io sitespeedio/sitespeed.io:7.7.2 --debug -b firefox --outputFolder performance-firefox https://sitespeed.io`

Trying with master works for me but then it's a later version of Firefox. Something goes wrong when using VisualMetrics to analy

[2018-12-21 15:22] soulgalore commented on #2234
<img width="484" alt="screen shot 2018-12-21 at 16 20 36" src="https://user-images.githubusercontent.com/540757/50349524-6ad48500-053c-11e9-9489-648c9fa6d59b.png">

Hmm I thought we had config that removed every popup. Let me check with someone at Mozilla if I've missed something and then I can rollforward a release tonight with a browser update for FF.

[2018-12-21 16:04] soulgalore commented on #2234
@csvn I've just pushed 7.7.3 with latest version of Firefox (also updated latest tag). That works for me. I'll do the same for Browsertime the coming hour. Also contacted a friend at Mozilla but no luck yet. https://twitter.com/soulislove/status/1076136969741189121

[2018-12-21 19:46] soulgalore commented on #2234
I've pushed Browsertime to and added more preferences for disabling update but will need to get info from Mozilla if there are more disabling that needs to be done.

[2018-12-21 19:46] #2234 closed

[2018-12-28 14:21] kazazor opened #2235 "Set cookie on a different domain than the tested one"
Hi everyone, first of all, AMAZING tool!!

I would like to test my website which is protected by a login page.
This website is part of multiple websites which `share the login between them`.

For example:
Website A: `a.hello.com`
Website B: `b.hello.com`
Login page: `hello.com`

The cookie that we're storing is registered under the domain: `.hello.com`

Let's assume I would like to test `a.hello.c

[2018-12-28 20:50] soulgalore commented on #2235
Hi @kazazor thanks for the kind words!

Yep that is probably the problem. Let me make that configurable in coming releases (the cookie is set from a WebExtension https://github.com/sitespeedio/browsertime-extension). It will take some time before it is released though, working on getting things to work as I want for the coming major release.

In the mean time I think you could use a preScript to l

[2018-12-28 20:55] kazazor commented on #2235
Thanks @soulgalore ! That sounds like a plan.
Can you share a bit if you have any schedule of releases? Or from your experience maintaining the project how often major releases are being released?

I'll find a solution in the meanwhile (pre-scripting is an option), I'm also currently using https://gtmetrix.com which can probably continue on doing for a bit more until I'll switch to your great tool

[2018-12-28 22:11] soulgalore commented on #2235
The next major will come early next year, alpha/beta in January.

The cache is cleared between each run by that there's a new session (Selenium way). Using `--cacheClearRaw true` removes everything from the browser cache using the browser web extension API. Let me update the docs to make it easier to understand!

[2018-12-28 23:07] kazazor commented on #2235
That is great news!
Thanks for all the help! Looking forward to truly start leveraging your tools 😄

[2018-12-29 21:31] kazazor commented on #2235
@soulgalore  I'm afraid not.
I tried doing that using request header, but it just considered it to be 2 different headers and the cookie isn't being set to be sent upon requests the main domain as well (just being sent on the test URL domain (in this case it's being sent only for `a.sub.hello.com` and not also for `sub.hello.com` & `hello.com`:
[code]

The result is:
[code]

[2018-12-30 12:06] senz79 opened #2237 "UrlLoadError for sitespeed docker execution"
Hello
I am getting the below error, although I am new to docker, please help me to find the root cause.

Error log with Firefox Browser
=======================
Google Chrome 71.0.3578.80
Mozilla Firefox 64.0
[2018-12-30 12:10:49] INFO: Versions OS: linux 3.10.0-957.1.3.el7.x86_64 nodejs: v10.13.0 sitespeed.io: 7.7.3 browsertime: 3.11.1 coach: 2.4.0
[2018-12-30 12:10:49] INFO: Starting firefox for

[2018-12-30 12:19] soulgalore commented on #2237
Hi @senz79 thanks for reporting! And you get the same with other URLs (so that there wasn't a problem with our domain at the moment (we use netlify and there has been some problems the last weeks)? I tested locally on my Mac and it worked there for me, hmm. What's your base OS?

Best
Peter

[2018-12-30 12:33] soulgalore commented on #2237
And you get the same for all URLs you test? Can you reach the URL with wget/curl? :)

[2018-12-30 12:34] senz79 commented on #2237
Yes i get the same issue for all the urls. I am able to get the sitespeed.io page while i do the wget.

[2018-12-30 12:38] senz79 commented on #2237
![image](https://user-images.githubusercontent.com/12895992/50547324-e5e51c00-0c5d-11e9-8909-3d99f59a1247.png)

[2018-12-30 19:36] soulgalore commented on #2237
My guess is that there's some problem with the DNS between your host and your container, checkout https://forums.docker.com/t/dns-resolution-not-working-in-containers/36246 and look more in the Docker forums see if you can find a workaround.

[2018-12-31 10:52] djusv opened #2238 "Use alias or hash of url to store page data"
Hello,

first I would like to say sitespeed.io is a wonderful collection of tools.
I have been trying to setup some tests for our own SPA and so far I got it all up and running.
But I would like to suggest an enhancement for the storage of the data per page.

I use the urls textfile and also defined an alias for these urls and also they have a '**#**' inside of them.
I already use the **--useHash*

[2019-01-01 18:05] soulgalore commented on #2238
I've checked the implementation and when not using hash it works as it should: it creates a short path using a SHA. Let me fix so it works the same with #-urls before the first alpha.

[2019-01-07 09:51] csvn commented on #2234
Thanks for looking into it @soulgalore! I'll try the latest version

[2019-01-07 11:51] senz79 commented on #2237
The issue was with the proxy setting. I added --browsertime.proxy.http and --browsertime.proxy.https keys and the issue was resolved. Thanks a lot for the direction.

[2019-01-07 11:51] #2237 closed

[2019-01-07 12:02] senz79 opened #2243 "URL not reachable when sitespeed.io command executed with webpagetest parameters"
Hello
I am getting issue to run the sitespeed.io command with webpagetest parameters. I get the below error

[2019-01-07 11:54:36] INFO: Versions OS: linux 3.10.0-957.1.3.el7.x86_64 nodejs: v10.13.0 sitespeed.io: 7.7.3 browsertime: 3.11.1 coach: 2.4.0
[2019-01-07 11:54:37] INFO: Sending url http://w3schools.com to test on http://xxxxxx
[2019-01-07 11:54:37] INFO: Starting chrome for analysing http

[2019-01-07 20:15] soulgalore commented on #2243
Hi @senz79 thanks for reporting!

I think this is more a WebPageTest error than sitespeed.io, but I can have a go: `--webpagetest.location Local-WPTDriver` doesn't look right, what is expected there or what do you want to happen?

Best
Peter

[2019-01-08 04:12] senz79 commented on #2243
This is how my location.inin files looks like in WebPageTest Private Instance Installation
=========================================================
[locations]

1=Local

default=Local

[Local]

1=Local-URLBlast

2=Local-WPTDriver

label="Local"

default=Local-WPTDriver

[Local-URLBlast]

browser=IE 9

latency=0

label="Local - IE 9"

[Local-WPTDriver]

browser=Chrome,IE

label="Local-wptdriver"

[2019-01-08 11:40] Siwach16 commented on #1827
@soulgalore Can this(cli) change be included as an upcoming patch in the current sitespeed version? This is because the required version of browsertime is already bundled and we just need a way to invoke it using the "scriptNavigation" parameter. We would then not need to wait for the 8.0 release.
Also, w.r.t to ur reply above, I am not quite clear about what test runs of "Travis config files" mea

[2019-01-08 12:47] P6rguVyrst commented on #987
I ended up here because someone in my office wanted to make use of this projects capabilities.

Can you tell me why you think why Prometheus integration is perfect use-case for an external plugin?
I haven't dwelt into the code base of this project yet, but wouldn't it be better to try and abstract specific implementations of TSDB's away and let the end user choose whether they choose to use Graphi

[2019-01-08 15:36] soulgalore commented on #2243
Ok. So if I understand correctly: Your instance work fine if you it with the GUI, but when. you use site speed.io and choose Local-WPTDriver it fails? I don't think we do anything with the location before sending it to WebPageTest (through the WPT-API but I need to verify. If you run with` --verbose` it will log log how the configuration is interpreted and I think also what we send to WebPageTest.

[2019-01-08 15:47] soulgalore commented on #987
What @beenanner mean is that we don't want have too big codebase in the main project. We have Graphite because it was the first implementation (and the one we mainly use) and influx so we can make sure we have an alternative. Also including one/two is nice since it easier for people to start to use it.

Elasticsearch would be nice for some data that we collect (that doesn't work so good for TSDBs)

[2019-01-08 17:18] donwalling commented on #1827
Hi @soulgalore  I'm not following how the multi.js referenced at https://github.com/sitespeedio/sitespeed.io/blob/master/.travis.yml#L37 is equivalent to the scriptNavigation option that was previously here https://github.com/sitespeedio/browsertime/pull/666 ? Will --scriptNavigation be re-added at some point? it looked very promising for our use case.
Thanks,
Don

[2019-01-08 19:45] soulgalore commented on #1827
As a Browsertime user you can run a script from the command line or give It a URL, so instead of adding a extra parameter like `--navigationScript script.js` you just pass on `script.js` (or multiple scripts or scripts and then a URL if you want that). But if you just give me some time to add documentation and do a stable release, it will be easier to understand how to use it :)

[2019-01-08 21:55] jdunc commented on #2098
just wondering what was the solution to this? @sureshkrishnaselvam

[2019-01-09 03:59] senz79 commented on #2243
Thanks for the reply Peter, and sorry for the delayed response due to different timezone. below is the verbose log

Log
===========================
docker run --shm-size=1g --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io:7.7.3 http://w3schools.com  --graphite.host xxxxxxxx --graphite.auth graphite:password -n 1 --browsertime.proxy.http xxxxxxxx --browsertime.proxy.https xxxxxxxxx --browser

[2019-01-09 07:59] soulgalore commented on #2243
And off you go to the result page at your WebPageTest server ( 190109_FS_ef7729c14903ad5ffe2724c209f54e5b)? Can you see something there? I think the original problem is there but it seems we need to catch the case better.

Best
Peter

[2019-01-09 08:45] soulgalore commented on #2243
I mean if you go to that result page on your WebPageTest server with id 190109_FS_ef7729c14903ad5ffe2724c209f54e5b ? Or do you mean you cannot find the run?

[2019-01-09 09:48] senz79 commented on #2243
Peter - I cannot find the run, the same is not created.

[2019-01-09 09:52] senz79 commented on #2243
Screenshot of the same folder
![image](https://user-images.githubusercontent.com/12895992/50891494-66580980-1422-11e9-838e-9837f2436f06.png)

[2019-01-09 09:54] soulgalore commented on #2243
Please ask at https://github.com/WPO-Foundation/webpagetest I think Pat has more knowledge of what's wrong.

Best
Peter

[2019-01-09 09:56] senz79 commented on #2243
According to https://github.com/WPO-Foundation/webpag...ch?q=12029 this error code can mean ERR_ADDRESS_UNREACHABLE, ERR_CONNECTION_REFUSED, or ERR_CONNECTION_TIMED_OUT.

[2019-01-09 14:30] beenanner commented on #987
I believe that's the idea around plugins. Abstracting away the TSDB implementation to make it generic for all TSDB will just result in losing any features for that specific TSDB that a user would want to leverage?

https://tsdbbench.github.io/Ultimate-TSDB-Comparison/

[2019-01-09 15:50] pmeenan commented on #2243
12029 is the error for a connect fail from the agent. When you go to the test result page for the test ID on your private WebPageTest instance, what does it show for the URL, browser, location and connectivity (a screenshot of the WebPageTest result page might help)?

If you test the same URL through the WebPageTest UI of the private instance does it work (and what does the screen shot look like)?

[2019-01-10 23:03] gety9 opened #2246 "Several Questions - Cost, Back Ups, Missing Data"
Guys hi,

First of all thank you for sitespeed.io! Was playing with it all day today - great product!

I have couple of newbie questions:
1 (COST)
I read your comment on cost and recommendation of AWS instance C4.large, but you do 119 runs per hour.
If we have just 1 site (~5 urls) to test, and want to run it once a day, can we use smaller server? Like digital ocean smallest droplet (1 GB / 1 CPU

[2019-01-11 06:21] soulgalore commented on #2246
It all depends on what you wanna do. What good about the AWS servers is that they are comparable stable (the metrics will not differ depending on the server), but the CPU Optimized Droplets are from DO should also be fine. And you could run it in other providers too, it's just that what we have seen is that AWS is the most stable over time (even though they can also introduce instability). I think

[2019-01-11 14:15] gety9 commented on #2246
@soulgalore

Thank you for prompt reply,

So in case if we will need to move data to another server/graphite instance we will need to copy `graphite.db` and all files in  `storage\whisper`, did i understand it right?

CPU data is working, however still don't see visual data -> [screenshot ](https://puu.sh/Cv1XB/2c0a2cbdfd.png)

Using following command:
`docker-compose run sitespeed.io https://en.w

[2019-01-12 01:01] gety9 commented on #2246
@soulgalore

All points are clear to me, except "MAX_CREATES_PER_MINUTE is usually quite low in carbon.conf. That means you will not get all the metrics created for the first run, so you can increase it."

Currently it's set to inf, (infinity as i understand) so it's already adjusted by you and it does not need to be increased, correct?

CPU is coming, but Heading and LargestImage are not, [screen

[2019-01-12 14:36] soulgalore commented on #2246
Yes that is correct. That comment is if you already run your own Graphite instance. We have had issues before from users where users got some metrics but not all, and the reason was that configuration.

Do you get those metrics in the HTML files, so you can see that they are ok?

It is two different systems: Whisper is the one that store all the metrics in Graphite see https://graphite.readthedocs

[2019-01-15 22:51] kazazor commented on #2235
Hi @soulgalore , how are you?
I wanted to see if you still believe this will land on the January release?
Looking forward to seeing the results on our websites :-)

[2019-01-16 07:18] soulgalore commented on #2235
I can fix so you can choose domain for the cookie, but will that do it?

About the request headers, that should work, is that _exactly_ how you run (meaning requestHeader instead of requestheader) ? If I test with `--requestheader "Cookie:session=<token>;domain=.hello.com"` I can see that the request header looks exactly like that?

[2019-01-16 07:20] soulgalore commented on #2243
@senz79 sorry I got caught up in other things. Yeah I'm also a little confused. Could you show me exact how I can reproduce as in https://www.sitespeed.io/documentation/sitespeed.io/bug-report/#explain-how-to-reproduce-your-issue and when it works and when not, so I can look into it?

[2019-01-16 10:21] balajir2016 opened #2250 "Unable to connect to Xvfb"
Hi Peter,

I have followed the steps mentioned https://www.sitespeed.io/documentation/sitespeed.io/docker/#more-about-volumes and tried to connect to VNC via using 0.0.0.0:7600, I get "connection closed unexpectedly" error when I try to connect from realvnc client.

Please help.

Thanks,
Balaji R

Please see stack trace:

**Docker command**
cd; docker run --shm-size=1g --rm -v "$(pwd)":/sitespeed.

[2019-01-16 12:33] balajir2016 commented on #2250
After I do the configurations mentioned in documentation and I connect to 0.0.0.0:7600 from real VNC client, I get "connection closed unexpectedly".

I followed documentation from https://www.sitespeed.io/documentation/sitespeed.io/docker/#more-about-volumes

[2019-01-16 14:09] kazazor commented on #2235
When I use `--requestheader "Cookie:session=<token>;domain=.hello.com"` (exactly like that) it's sending 2 different cookies 1 named `session` and the other `domain`. So it doesn't do what we hope it will do.

However, I did manage to bypass our login by just specyfying to send this cookie on all domains. So it doesn't mimic 100% the real situation, but still better than nothing.

I did see now so

[2019-01-16 14:21] kazazor commented on #2235
You can also see from the waterfall it doesn't make sense because the onLoad only started wayy after the visual change ended (and a lot of UI was loaded after that..)

<img width="267" alt="screen shot 2019-01-16 at 16 20 27" src="https://user-images.githubusercontent.com/1577655/51254899-c1ea4000-19aa-11e9-8043-9db11247814e.png">

[2019-01-16 16:40] kazazor commented on #2235
OK I believe I've got it. I needed to indeed set up this: https://www.sitespeed.io/documentation/sitespeed.io/browsers/#choose-when-to-end-your-test

I did notice that `--browsertime.pageCompleteCheckInactivity` did not do the trick and the video / test was stopped wayy before the last API requests were made.. Only when setting `--browsertime.pageCompleteCheck 'return (function() {try { return (Da

[2019-01-16 21:00] soulgalore commented on #2235
Let me get back tomorrow, one thing though: Is it possible to share a full example (with cookie and URLs) to me privately? peter [AT] soulgalore [DOT] com

That would make it so much easier so I can verify that the change works before I push it.

[2019-01-16 22:34] kazazor commented on #2235
I've shared the needed information with you. Please respond back so I'll know you got it 😎

[2019-01-17 07:39] soulgalore commented on #2235
Thanks @kazazor I got the email will try it out tonight!

[2019-01-17 18:56] soulgalore commented on #2235
Ok, about  **pageCompleteCheckInactivity**: It works like this: It looks for activity in the Resource Timing APi. If there's a couple of seconds of inactivity (no responses) the check ends. The problem with that is that the Resource Timing API only register responses, so if you have slow setup where it takes to to get the response back from the server, there is nothing in the Resource Timing API a

[2019-01-18 08:18] quicoto commented on #1897
Hello,

I'm getting the same error using 7.7.3

[2019-01-18 08:20] soulgalore commented on #1897
Hi @quicoto could you please share what we can do to reproduce, see https://www.sitespeed.io/documentation/sitespeed.io/bug-report/.

Thanks!
Peter

[2019-01-18 09:51] quicoto commented on #1897
@soulgalore thanks for the prompt reply. Do let me know if you want me to open a new issue, since this one is closed.

Using with CLI

"sitespeed.io": "^7.7.3"

Command

[code]

The pre-script simply logs me in into the application.

It works fine without the webpagetest plugin. Now, when I add the key, I get:

[code]

Thank you in advance.

[2019-01-18 10:23] soulgalore commented on #1897
Hi @quicoto if you look at the webpagetest server, does it look ok there? If you turn on —verbose you can see the json back from webpagetest and see whats missing. It’s hard for me to guess :)

Best
Peter

[2019-01-18 10:32] chrischjh commented on #1897
In my case, it was due to ffmpeg not the latest version, thus SpeedIndex was not generated. I followed the wpt agent installation advise, replaced with latest version, fixed.

“ImageMagick includes ffmpeg in the path automatically but not the latest version. It is usually easiest to just copy the static ffmpeg build over the one installed by ImageMagick”

https://github.com/WPO-Foundation/wptagent

[2019-01-21 16:27] marimeireles opened #2256 "Strange results while using the mobile testing tool"
I'm using sitespeed.io to test https://staging.webcompat.com
The tests run fine and make sense if I'm running on docker. When I try to use the tool to run tests using mobile I get some strange results. I'm using Chrome v 71.0, sitespeed 7.7.3, a Nexus five mobile and a MacBook Mojave to run the tests. Here are some examples of measurements I made:

Time to first paint on docker using chrome: 2372

[2019-01-21 21:33] kazazor opened #2257 "Allow uploading to different sub folder in S3"
I would like to suggest a feature request.
Currently, there is no option to specify the high-level subfolder within an S3 bucket to upload the files to.
Meaning, given bucket X, all files will be uploaded to S3 in the form:
x
|_url1
|_url2

I would like to be able to specify the high-level folder in which the URLs will be stored.

## The need

I'm using the tool to test our URLs `from different re

[2019-01-21 21:37] kazazor opened #2258 "GPSI and Lighthouse are not working on version 8.0.0 when using scripting"
I would like to report a bug in the new version 8.0.0

It seems that GPSI and Lighthouse have stopped working in the new version.

I'm running this command:
[code]

[2019-01-21 21:40] kazazor commented on #2235
The new option `--spa` is working great instead of `pageCompleteCheck`/`pageCompleteCheckInactivity`.

As for the cookie, using `--multi` got me to bypass the login problems between iterations, but it also means there is now cache in each iteration and I cannot fully test the path of no cache to the user.
Meaning a solution for setting the cookie's domain is still required to make it work for sing

[2019-01-21 22:09] soulgalore commented on #2256
Hi @marimeireles thanks for the report. So in your login script, do that page also load the same assets (css/js/images) etc that you test and they populate the browser cache before you do the tes? Are you testing the exact same way when you run on desktop?

Best
Peter

[2019-01-21 22:15] soulgalore commented on #2257
Hi @kazazor yes that sounds like a good idea. It would work right if we just add another cli param something like `--s3.folder `? And then just add it here: https://github.com/sitespeedio/sitespeed.io/blob/master/lib/plugins/s3/index.js#L57

Do you have time to make a PR? I can help out testing it?

Best
Peter

[2019-01-21 22:19] kazazor commented on #2257
Sure thing, I'll find the time for it :)

[2019-01-21 22:31] soulgalore commented on #2258
Ah sorry I see now, you run a script in your example. Maybe that is not clear in the documentation but scripting is only supported in sitespeed.io. The rest of the tools need a URL. Let me update the plugins so they can log that when they know we are running a script.

[2019-01-21 22:33] kazazor commented on #2258
Ohh got it, yeah I probably missed that somewhere.
So if I would like to bypass a login using a script there is no way for me to make it work?
Or I will need to do something like:
[code]
?

[2019-01-21 23:42] soulgalore commented on #1827
Released 8.0.0 today that should solve most of these use cases, please try it out and read the docs: https://www.sitespeed.io/documentation/sitespeed.io/scripting/

[2019-01-21 23:42] #1827 closed

[2019-01-22 00:33] marimeireles commented on #2256
Ooohhh, you're right.
That's where the cache comes from. It loads the front page once it finishes loading my script. The. it starts loading the page I'm interested in, but it already have a lot of stuff cached.

Do you know how can I fix it? I didn't find anything to control cache.

Thanks a lot for your answer & sorry for the silly issue 🙈

[2019-01-22 06:56] kazazor opened #2259 "--multi recording network (maybe even more..?) calls prior to measure.start"
I've noticed that in the waterfall of my --multi script results, there are lines `before` the URL that is being measured in `measure.start`.

That could also mean that maybe other things are being recorded and maybe even the results take into account the steps before `measure.start`, which of course means wrong results.

Here is a waterfall example with the URL being measured highlighted:
<img wid

[2019-01-22 08:48] soulgalore commented on #2259
Hi @kazazor this seems like a bug. Do you use Chrome? Do you get the same behavior in both browsers?

Best
Peter

[2019-01-22 08:53] soulgalore commented on #2256
@marimeireles glad I could help! There are no silly issues they will help others that gets here :)

Best
Peter

[2019-01-22 08:53] #2256 closed

[2019-01-22 11:03] kazazor commented on #2259
Does that also influence the measurement results? Meaning visual % loading time is wrong? Or just the waterfall gets affected but the results are still correct?

And yes, I use Chrome and haven't tested Firefox yet.

[2019-01-22 11:04] soulgalore commented on #2259
Only the HAR.

I'll do a release later today with a fix but if you also can do a run with `--browsertime.chrome.collectPerfLog true `once  and send the chromePerflog-1.json.gz to me, then I can try it out in https://github.com/sitespeedio/chrome-har that generates the HAR.

[2019-01-22 11:56] kazazor commented on #2259
The video looked OK, but a bit hard to say since both the pages (the login and the redirect one) starts the same way.. So could have been that the first page loaded and then it moved to the second one which starts the same.

Which by the way got me thinking that I would really love it if the URL could be printed on the video when it changes so we could know things like that..
This is very useful I

[2019-01-22 12:11] soulgalore commented on #2259
Thanks for the log!

In your script, what about changing `await commands.wait.byTime(loadTimeout);` to wait on some really late element that appears on the page? I'm just thinking that the redirect/page load isn't finished? You could also try changing `await commands.click.byId('btnSubmit');` to `await commands.click.byIdAndWait('btnSubmit');` so that the normal page complete check runs before the

[2019-01-22 12:45] kazazor commented on #2259
I can see why that may be true for a lot of websites, but in my case when I do want to have a cache (loadTimeout === 6000) I only need about 2-4 seconds to load the things I wish to have in my cache that matters to me.. So only having 6000 ms for my cache to load makes sense in my case.

If I go with the approach of waitiing for some really late element / use `byIdAndWait` it will take me longer t

[2019-01-22 14:43] ckhampus commented on #2258
Hi! I also have some issues with Lighthouse and GPSI not appearing in the generated HTML report.

I run the following command:
[code]

Which prints out the following:
[code]

But when I look at the generated report I can't see the Lighthouse or GPSI tab anymore (see attached picture) 🤔

![skarmavbild 2019-01-22 kl 15 39 38](https://user-images.githubusercontent.com/173021/51542662-0dde2e80-1e5c-11

[2019-01-22 14:48] ckhampus opened #2260 "URL appear twice in pages"
Hi!

I think this might be a similar issue as #265.

When running:

[code]

I get the following:
![skarmavbild 2019-01-22 kl 15 41 19](https://user-images.githubusercontent.com/173021/51543103-171bcb00-1e5d-11e9-9b25-83b224e001f6.png)

The difference is the `/` at the end of the url.

[2019-01-22 15:18] soulgalore commented on #2260
Hi @ckhampus thanks for reporting. Yeah, it work like this: Browsertime uses the URL from the browser, so that for example when dn.se gets redirected to dn.se/ the last URL is used, and it seems like the plugins don't. For now I think you get round the problem by testing https://www.dn.se/ and then I'll check for a fix later today (or tomorrow).

Best
Peter

[2019-01-22 15:24] ckhampus commented on #2260
Ok, that might explain why don't see the Lighthouse and GPSI tabs in the generated reports. Tested again with the slash at the end and now I can see the again.

Thanks!

[2019-01-22 15:26] ckhampus commented on #2258
Ok, so my issue above seems to be related #2260.

[2019-01-22 16:19] cuixilong opened #2261 "ERROR: TypeError: result.browserScripts is not iterable"
hi，I run v7.7.3 on Ubuntu18，but it can not work and have some errors like this：

[code]
Do you seen this error before，thank you！

[2019-01-22 18:09] soulgalore commented on #2261
Hi @cuixilong no not that I remember. I did a quick test on master (later version than you) on my local machine and there it works. Any change you can update or try run our Docker version?

Best
Peter

[2019-01-22 18:11] soulgalore commented on #2259
Yeah I think you should wait for the page to finish loading before you start loading the next one :D

[2019-01-22 19:45] kazazor commented on #2259
Maybe after we'll improve some performance since 30 runs takes me about 30 minutes to run currently ;)
For now, it's ok and I do not need to wait for the other page to load in order to achieve a true user experience (in our case, might not be right for others..).

We'll improve it and then we could wait longer in between :)

[2019-01-22 20:05] kazazor commented on #2259
@soulgalore I can confirm that version 8.0.2 fixed the problem!

Thanks :)

[2019-01-22 20:15] kazazor opened #2263 "Coach says my requests on a domain are HTTP 1, but it's HTTP 2"
I would like to report a bug.

[code]

For sure `hello.com` is h2 and not h1. We use CloudFront which is h2 by default and also verified it in Chrome dev tools and in the waterfall response in the sitespeed.io output website.

## More info
Version: 8.0.2 (but noticed also on 8.0.0)

[2019-01-22 21:53] kazazor commented on #2259
Sorry for closing that too fast. I do see now that the video is a bit wrong. It starts from the previously loaded page before the `measure.start`. Is that intended?

I converted the video to git so I could share it here.
You could see a full page before it goes white again.
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/1577655/51567832-dfcf0d80-1ea0-11e9-8c8a-6d89f4f62858.gif

[2019-01-22 22:36] soulgalore commented on #2259
Yeah but that's how Chrome works? It will not remove anything between page load, so if you visit multiple pages each video will start with the content of the page that you visited before that.

Depending on how you navigate, you can run JavaScript that removes the body, so that the screen is cleared with https://www.sitespeed.io/documentation/sitespeed.io/scripting/#jsrunjavascript - I'll add an e

[2019-01-22 22:47] kazazor commented on #2259
Yep, makes sense.

So I'll close this issue now and wait for the js example to give it a go :)

[2019-01-22 22:50] soulgalore commented on #2259
@kazazor run `document.body.innerHTML = ""` bot if you click on a link you need to do it after that so ... maybe it doesn't work. I've only used it when I use measure to navigate.

[2019-01-22 23:11] soulgalore commented on #2260
I've just pushed 8.0.3 that should fix this.

[2019-01-22 23:25] kazazor opened #2264 "--chrome.timeline should provide more insightful information"
I'm not sure if it's a feature or a bug.

When testing using Chrome, I also use the option `--chrome.timeline` to [add more information](https://www.sitespeed.io/documentation/sitespeed.io/spa/#cpu-metrics).

The places I saw it make a difference in the report are:

Coach
<img width="1149" alt="screen shot 2019-01-23 at 1 21 08" src="https://user-images.githubusercontent.com/1577655/51572160-317d9

[2019-01-22 23:54] soulgalore commented on #2264
Hi @kazazor I think you should think about it like this:

Use the categories and events to draw graphs like in https://dashboard.sitespeed.io/d/000000044/page-timing-metrics?panelId=6&fullscreen&orgId=1 - that way you can keep track of changes and find regressions. You keep track of the performance on a high level.

When you have a regression you need to use the the collected trace log and drag an

[2019-01-23 10:31] ckhampus opened #2265 "ERROR: Error: Tried to add NaN to stats for path score"
I get an error when I run the following command:
[code]

With the following config:
[code]

Output:
[code]

The issue seems to be the `firstParty` property. Because if I run the command again but test against a different domain it works:
[code]

[2019-01-23 11:05] ckhampus commented on #2260
Thanks for fixing this! 👍

[2019-01-23 11:05] #2260 closed

[2019-01-23 13:22] soulgalore commented on #2265
Hi @ckhampus thanks for filing the issue! I think there's a bug in the Coach when it tries to calculate privacy rules and the first party regex is not matching any domains at all. I'll fix that later on and I think you should fine-tune the the expression so matches some requests.

Best
Peter

[2019-01-23 13:35] kazazor commented on #2259
Here is the updated script I use per your feedback:
[code]

And after tha finishes I call immidiately to:
[code]

[2019-01-23 13:39] soulgalore commented on #2259
Hey @kazazor
yeah but I think your hack of not waiting for the page load to finish is the thing that makes it break right? The other use case works for you?
Best
Peter

[2019-01-23 13:51] kazazor commented on #2259
The hack was never on the measured page. It was always on the page `before` the measurement started.

But even with that, please note I shared the new script which doesn't do it anymore and uses your advice by using `await commands.click.byIdAndWait('btnSubmit');` before the `measure.start` command (nocache === false).

[2019-01-23 14:12] kazazor commented on #2259
And here is the video for example:
![ezgif com-video-to-gif 1](https://user-images.githubusercontent.com/1577655/51612233-b0181800-1f29-11e9-86ae-f509afdb93c6.gif)

[2019-01-23 14:17] kazazor commented on #2264
Thanks @soulgalore , good point there. Sounds good to me as I forgot this data could be used in chrome dev tools.

I'll close the issue now.

[2019-01-23 14:17] #2264 closed

[2019-01-23 14:40] soulgalore commented on #2265
This is in master and will go out in the next release.

[2019-01-23 15:02] ckhampus commented on #2265
Awesome! Thanks again for the quick work 👍

[2019-01-23 15:26] soulgalore commented on #2259
Yeah I see, it looks strange, it doesn't look like 85% ready.

I'll check the code if there's a bug.  I also need the original file (the file with orange frames before the start) so I can run it through Visual Metrics standalone and see what's going on. Keep the original file with `--browsertime.videoParams.keepOriginalVideo`.

Also if you go to the result page in the HTML and click "Metrics" tab

[2019-01-23 16:05] kazazor commented on #2259
<img width="1172" alt="screen shot 2019-01-23 at 18 00 08" src="https://user-images.githubusercontent.com/1577655/51619459-0771b480-1f39-11e9-940d-91d8dde97dd9.png">

And the original video as GIF (also sent it to you via email is the case you need it and not GIF) :
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/1577655/51619523-312adb80-1f39-11e9-8b90-554fbb2d768a.gif)

Can y

[2019-01-23 16:44] soulgalore commented on #2259
Thanks for sharing, I'll test it tonight.

The orange fram is used to know when navigation starts, you can read little about how it all works: https://www.sitespeed.io/documentation/sitespeed.io/video/#the-stack-easy-with-docker

[2019-01-23 16:51] soulgalore commented on #2259
Ok one bug is that we pick the first time it reaches 85% but when I run it locally it actually looks like this:

`0=0%, 500=99%, 900=99%, 1034=66%, 1234=66%, 1300=66%, 1367=66%, 1400=66%, 1434=66%, 1467=66%, 1500=66%, 1534=66%, 1567=66%, 1600=66%, 1634=66%, 1667=66%, 1700=66%, 1734=66%, 1767=66%, 1800=66%, 1834=66%, 1867=66%, 1900=66%, 1934=66%, 1967=66%, 2000=66%, 2034=66%, 2067=66%, 2100=66%, 21

[2019-01-23 16:55] soulgalore commented on #2259
Actually it seems to be a bug in our version of Visual Metric could be that I've missed to upgrade to latest version, I'll have a look.

[2019-01-23 18:01] tcope25 opened #2266 "Server terminated early with status 127"
Versions OS: linux 4.15.0-36-generic nodejs: v8.10.0 sitespeed.io: 8.0.3 browsertime: 4.0.2 coach: 3.1.1

Installed sitespeedio using `npm i -g sitespeed.io` on Ubuntu 18. Installed fine.

When I try to run `sitespeed.io example.com` I get the status 127 error:

[2019-01-23 17:51:00] INFO: Running tests using Chrome - 3 iteration(s)
(node:2325) UnhandledPromiseRejectionWarning: Error: Server termi

[2019-01-23 18:30] soulgalore commented on #2266
Hi @tcope25 have you installed Chrome on the machine? Do you use xvfb or do you have a monitor? These errors are usually either missing installing Chrome or running without xvfb without a monitor.

Best
Peter

[2019-01-23 18:37] tcope25 commented on #2266
I thought Chrome is installed via the sitespeed.io npm. Is that only if I run the Docker container? I'm running this via command line.

[2019-01-23 19:50] soulgalore commented on #2266
Yes you are correct: If you install via npm you need to install Chrome/Firefox yourself and if you run on a system without a screen, you need to use XVFB. If you use the Docker container it's bundled with Chrome/Firefox/XVFB + ffmpeg that's needed to record the video. If you can use Docker that should make things easier.

Best
Peter

[2019-01-23 20:21] soulgalore commented on #2259
I've updated Visual Metrics but I need to do some more testing before I release it. Thanks for sharing  the video @kazazor without it I couldn't have understood the problem :)

[2019-01-24 07:33] Rarst opened #2267 "Revisit Chrome throttling support"
I've been looking if there is a way to run SiteSpeed with Chrome's network/CPU throttling.

I found a mention in #895 that network wasn't possible at the time, but from some looking around that had been added to Selenium since, see [this SO answer](https://stackoverflow.com/a/46672769/886380) (not sure if that extends to CPU).

So could possibly be revisited? Thank you for considering. :)

[2019-01-24 07:49] soulgalore commented on #2267
Hey @Rarst there two things I think: When Selenium 4 is released (the current alpha is broken) we can start to use the devtools protocol and that opens up to a lot of new things. But maybe the throttling is already implemented I haven't checked. :)

About the Chrome throttling: doing it in the browser doesn't work so good. I mean doing once when you are using Chrome is perfectly fine but using it

[2019-01-24 08:09] Rarst commented on #2267
I am on Windows so my throttling options seem a little more limited.

For the current task I am working on Lighthouse metrics, which uses Chrome throttling when run locally. So it would be useful if I could produce SiteSpeed profile with _same_ limitations.

I get the downside is less realistic simulated environment, but the upside is easy of use and consistency.

[2019-01-24 08:21] soulgalore commented on #2267
Yeah but Lighthouse uses guesstimates as first alternative right? If you don't use it the metrics are consistent right?

Patrick Meenan has written about winshaper that you can use on Windows: https://calendar.perfplanet.com/2016/testing-with-realistic-networking-conditions/

Best
Peter

[2019-01-24 08:37] Rarst commented on #2267
I am not sure what do you mean by guesstimate/alternative.

If I run Lighthouse from command line, this is the defaults I see in generated report:

[code]

I don't think online version (PageSpeed Insights) reports these, but I would guess similar settings.

I could achieve consistency by telling it _not_ to use throttling, but I am specifically interested in using it _with_ at the moment.

[2019-01-24 09:02] cuixilong commented on #2261
@soulgalore Hi，thank you ,I use a later version and it works very well

[2019-01-24 09:03] soulgalore commented on #2267
Ah sorry for being unclear:

When you run **Simulated** there's no throttling going on, it is done after the test manipulating the trace log from Chrome if I understand https://github.com/GoogleChrome/lighthouse/blob/master/docs/throttling.md correctly. So they guess what performance would be IF you use throttling.

I think the outcome is that you shouldn't compare metrics between tools. Compare m

[2019-01-24 09:54] kazazor commented on #2259
Thanks @soulgalore ! I'll give it a go to the new version and wait for your confirmation regarding if it's stable or not.

[2019-01-24 12:13] hamza88 opened #2268 "Error running browsertime TypeError: Cannot read property 'timings' of undefined"
`browsertime --version`
4.0.3

`sitespeed.io --version`
8.0.3

`browsertime https://www.dorothyperkins.com/ -d 2`

Mac OS moJave 10.14.1

`ERROR: Error running browsertime TypeError: Cannot read property 'timings' of undefined
    at addExtraFieldsToHar (/Users/hamzarazzak/.nvm/versions/node/v8.9.4/lib/node_modules/browsertime/lib/core/engine/index.js:46:25)
    at Engine.runByScript (/Users/hamza

[2019-01-24 13:08] soulgalore commented on #2259
@kazazor there's new version out now that you should use when you have time!

[2019-01-24 18:01] gety9 commented on #2246
@soulgalore

i see, thank you for explanation.

What speed do you recommend to throttle too?

Did you test c5.large? I was recommended to use it over c4.large:

[2019-01-24 18:10] soulgalore commented on #2246
It depends. The important thing is to throttle so that you are sure you use the same all the time. At work we use cable for desktop and 3g for mobile.

At work we upgraded to c5, but we use c5.xlarge, that works better for us with Firefox. I should update the recommendation, c5 wasn't there when I wrote that.

[2019-01-24 19:50] kazazor commented on #2259
Thanks @soulgalore , I just tried it.
Unfortunately, I see the problem remains the same in version `8.0.4`:

<img width="1159" alt="screen shot 2019-01-24 at 21 49 36" src="https://user-images.githubusercontent.com/1577655/51704581-1718f800-2022-11e9-9100-4c00a9c3f818.png">

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/1577655/51704564-0cf6f980-2022-11e9-9cd7-a2b85ce19082.gi

[2019-01-24 20:43] kazazor commented on #2259
I don't know if it's related or not, but I started getting almost 90% of the times this error:
[code]

Here is the script:
[code]

[2019-01-24 21:10] soulgalore commented on #2259
hmm it looks like the change didn't rolled out as it should, let me have a look.

For the page timeout: There's no change that should have anything to do with it. How long time does it take before it happens? There's a config for that `--browsertime.timeouts.pageCompleteCheck` (in ms)  but that is 5 minutes so it looks like it doesn't work.

[2019-01-25 06:12] soulgalore commented on #2259
I tested now, your page has changed. There a 2f step popup that comes up and then the script will not work.

[2019-01-25 06:18] soulgalore commented on #2259
Also are you really sure you tested with the latest version? When I don't hit the 2f it seems to me that it works better than before:

<img width="1431" alt="screen shot 2019-01-25 at 07 15 51" src="https://user-images.githubusercontent.com/540757/51728598-34c17e00-2071-11e9-8e99-ea8f1e682492.png">

[2019-01-25 07:54] soulgalore commented on #2265
Released this yesterday.

[2019-01-25 07:54] #2265 closed

[2019-01-25 07:55] #2261 closed

[2019-01-25 07:55] soulgalore commented on #2238
This is fixed in 8.

[2019-01-25 07:55] #2238 closed

[2019-01-25 07:57] soulgalore commented on #2211
Hi @rohitsethitcs sorry I missed this issue, have you found the solution? It looks like a Docker mount issue.

Best
Peter

[2019-01-25 12:05] kazazor commented on #2259
Yep, I tested with 8.0.4

You're right that there was a pop up of the marketing team, I've disabled it now.

However, I still see the same problem:
<img width="1175" alt="screen shot 2019-01-25 at 14 03 17" src="https://user-images.githubusercontent.com/1577655/51744911-feecbb80-20a9-11e9-8a08-ca546777de45.png">

This was on our Dev env.

On our production env (which is identical) I can't get it t

[2019-01-25 12:37] soulgalore commented on #2259
First on your dev environment: Did you check your video? So the problem (at least for me) when I do 3 runs on your dev different things are displayed, sometimes I get "Something went wrong on our end, our development team has automatically been notified" or something like that and then the visual progress looks as your example, but that's right because first screen and the last is the same? I see

[2019-01-25 13:31] soulgalore commented on #1690
I haven't seen this for our tests at work so I guess this has been fixed in Chrome/Chromdriver some time ago. Please re-open if there still is an issue.

[2019-01-25 13:31] #1690 closed

[2019-01-25 13:34] soulgalore commented on #1746
This was a really long time ago hope it works now, else please ask for it to be re-open.

[2019-01-25 13:34] #1746 closed

[2019-01-25 19:31] #2266 closed

[2019-01-26 13:33] soulgalore commented on #2259
One more thing, I see one thing that we should change, and that is if the URL doesn't change (it should but who knows ...) there will be no navigation. The log there logs the same as if other things fail, so I'll change that first and if you got a trace log when you run on your prod, please share so I can check.

Best
Peter

[2019-01-26 13:38] soulgalore commented on #2184
Closing this and will create a new one when Selenium 4 is released (and works).

[2019-01-26 13:38] #2184 closed

[2019-01-26 13:38] soulgalore commented on #2183
This worked so let us close it.

[2019-01-26 13:38] #2183 closed

[2019-01-26 13:41] soulgalore commented on #2181
This has been changed now with scripting in 8.0, let us know if you still has issues.

[2019-01-26 13:41] #2181 closed

[2019-01-26 13:41] soulgalore commented on #2172
Let us know if this is still a problem and we can re-open.

[2019-01-26 13:41] #2172 closed

[2019-01-26 13:42] soulgalore commented on #2158
With the new scripting in 8.0 this is doable as long as you web app refresh the URL in the browser see https://www.sitespeed.io/documentation/sitespeed.io/scripting/

[2019-01-26 13:42] #2158 closed

[2019-01-26 13:44] soulgalore commented on #2186
You should try out scripting in 8: https://www.sitespeed.io/documentation/sitespeed.io/scripting/ that should cover most if the use cases.

[2019-01-26 13:44] #2186 closed

[2019-01-26 13:44] #2197 closed

[2019-01-26 13:46] soulgalore commented on #1757
If you have problems testing within your network, I think it's easiest just to deploy sitespeed.io outside of your network.

[2019-01-26 13:46] #1757 closed

[2019-01-26 13:46] #2124 closed

[2019-01-26 13:47] soulgalore commented on #2103
You can also use the new --spa that should fix most problems since it waits on responses in the resource timing api.

[2019-01-26 13:47] #2103 closed

[2019-01-26 14:07] soulgalore commented on #1886
I've spent a lot of time trying to get Browsertime to work on Raspberry PI in Docker but at the moment the miss match in ADB/ Chromedriver/Chrome on ARM was really annoying. When Chrome starts to ship again on ARM, we can create a new issue.

[2019-01-26 14:07] #1886 closed

[2019-01-26 14:08] soulgalore commented on #1862
I think it's not worth implementing this. Instead make sure to remove old runs.

[2019-01-26 14:08] #1862 closed

[2019-01-26 14:09] #2136 closed

[2019-01-26 14:09] soulgalore commented on #2122
Docs updated.

[2019-01-26 14:09] #2122 closed

[2019-01-26 14:10] soulgalore commented on #2126
Missing info. And for 8.0 there's a new structure for preScript to follow the new scripting structure.

[2019-01-26 14:12] soulgalore commented on #2119
Running the NodeJs version of Selenium is the way to go.

[2019-01-26 14:12] #2119 closed

[2019-01-26 14:12] soulgalore commented on #2139
This is implemented in 8.0 checkout https://www.sitespeed.io/documentation/sitespeed.io/performance-budget/#override-per-url

[2019-01-26 14:12] #2139 closed

[2019-01-26 14:13] soulgalore commented on #2092
In 8.0 this is fixed and we always use fully loaded from the HAR.

[2019-01-26 14:13] #2092 closed

[2019-01-26 14:13] #2085 closed

[2019-01-26 14:14] soulgalore commented on #2085
nothing more here to do.

[2019-01-26 14:15] soulgalore commented on #1826
This was released I late 7.x versions.

[2019-01-26 14:15] #1826 closed

[2019-01-26 14:17] soulgalore commented on #2087
Using the new `--spa` should make this works out of the box.

[2019-01-26 14:17] #2087 closed

[2019-01-26 14:17] soulgalore commented on #2082
This is answered lets close.

[2019-01-26 14:17] #2082 closed

[2019-01-26 14:19] soulgalore commented on #2246
I'm closing this, and please create a new issue if you need something more.

[2019-01-26 14:19] #2246 closed

[2019-01-26 14:19] #2214 closed

[2019-01-26 14:25] #2064 closed, assigned to nobody

[2019-01-26 17:57] soulgalore commented on #2153
Hey @tomthedude with 8.0 you can use https://www.sitespeed.io/documentation/sitespeed.io/scripting/ to collect metrics from multiple URLs in one run/step.

Best
Peter

[2019-01-26 17:57] #2153 closed

[2019-01-26 17:58] soulgalore commented on #2130
I think my last comment was the solution, please let me know if its still an issue.

[2019-01-26 17:58] #2130 closed

[2019-01-26 17:59] soulgalore commented on #2102
This should work now.

[2019-01-26 17:59] #2102 closed

[2019-01-26 18:00] soulgalore commented on #2094
This was fixed in 8.0.

[2019-01-26 18:00] #2094 closed

[2019-01-26 19:24] #2223 closed, assigned to nobody

[2019-01-26 19:30] soulgalore commented on #2003
This was fixed some time ago.

[2019-01-26 19:30] #2003 closed

[2019-01-26 19:32] soulgalore commented on #1613
I think the mosquitoes important ones work, let us create.a new issue if we need more.

[2019-01-26 19:32] #1613 closed

[2019-01-26 19:33] soulgalore commented on #2230
Ok, so I guess we don't need to do anything, closing.

[2019-01-26 19:33] #2230 closed

[2019-01-26 19:34] soulgalore commented on #2229
Missed to close this.

[2019-01-26 19:34] #2229 closed

[2019-01-26 19:38] soulgalore commented on #2204
Closing but please let us know if latest Firefox doesn't work.

[2019-01-26 19:38] #2204 closed

[2019-01-26 19:43] soulgalore commented on #1960
This works on all environments I've tested so closing, but please let us know and explain if you still get this message.

[2019-01-26 19:43] #1960 closed

[2019-01-26 19:43] #1949 closed

[2019-01-26 19:44] soulgalore commented on #1918
Think this is fixed in 8.0

[2019-01-26 19:44] #1918 closed

[2019-01-26 19:47] soulgalore commented on #1872
This should work out of the box if you add `--spa`.

[2019-01-26 19:47] #1872 closed

[2019-01-26 19:52] soulgalore commented on #1423
This is perfect as a plugin outside of sitespeed.io

[2019-01-26 19:52] #1423 closed

[2019-01-26 19:54] soulgalore commented on #2258
No I think right now if you use --multi you will only be able to use Browsertime.

[2019-01-26 19:54] #2258 closed

[2019-01-26 19:55] soulgalore commented on #2193
At the moment there is no way of clearing the cache between URLs (in scripting).

[2019-01-26 19:56] soulgalore commented on #2041
Closing since we didn't get any feedback on how to reproduce.

[2019-01-26 19:56] #2041 closed

[2019-01-26 19:57] soulgalore commented on #2072
Ping @beenanner :)

[2019-01-26 19:58] soulgalore commented on #1995
sorry for the late response.

How do you mean?

[2019-01-26 19:59] #1966 closed

[2019-01-26 20:04] soulgalore commented on #1965
This Is still a issue with Firefox, works in Chrome.

[2019-01-26 22:21] softwareklinic commented on #2074
Will try again and let u know

Regards
Keyur

On Jan 26, 2019, at 1:27 PM, Peter Hedenskog <notifications@github.com>
wrote:

So was this a problem running with a proxy and try block? Then it's a
upstream issue for both browsers.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_sit

[2019-01-26 22:54] beenanner commented on #2072
Let me test this out next week and get the docs updated if everything works. :-)

[2019-01-27 18:13] soulgalore commented on #2259
Yeah but you are comparing the same page right so the visual progress is correct? At least it looks like that in the gif: the start of the video and the end of the video looks the same. Or how is it wrong? :)

If I understand correctly:
- you login the user
- the user gets redirected to page X
- you start to measure
- you go to page x

And the original problem is that the cookie doesn't work, sinc

[2019-01-27 19:37] soulgalore commented on #987
I'm pretty sure this should be done as a plugin outside of sitespeed.io, so I'm closing this for now.

[2019-01-27 19:37] #987 closed

[2019-01-27 19:38] soulgalore commented on #1062
Nothing happened here, I will close and if people want/needs it we should start implement it as a standalone plugin outside of sitespeed.io

[2019-01-27 19:38] #1062 closed

[2019-01-27 19:45] soulgalore commented on #1824
I think these have been fixed upstream! :)

[2019-01-27 19:45] #1824 closed

[2019-01-28 04:48] soulgalore commented on #2195
I think we can skip this since the new updated look.

[2019-01-28 07:59] kazazor commented on #2259
This is not related to the cookie problem IMO.

What I'm trying to do is measure a page which has been cached already, what we previously did by using `--preURL` option.

How would you recommend doing that properly with version `8.x.x` which has the new scripting options?

The way I'm trying to do it is doing as you mentioned:
1. Login by `commands.click.byIdAndWait('btnSubmit')`
2. The users go t

[2019-01-28 09:21] kazazor commented on #2259
By the way, just tried the option of adding `await commands.navigate('http://blank.org/');` in between and it works perfectly and measures things as expected.

I still wonder if that is the way to go (and still there may be a bug in the tools as I mentioned).

[2019-01-28 18:33] donwalling opened #2270 "Error: Unknown connectivity profile true ?"
With sitespeed 8.0.6 we're getting an error on a config.json that works with 7.7.2:

$ docker run --shm-size=1g --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io:8.0.6 -config config.json https://<myurlhere.com>

[2019-01-28 18:28:02] INFO: Versions OS: linux 4.9.125-linuxkit nodejs: v10.13.0 sitespeed.io: 8.0.6 browsertime: 4.0.5 coach: 3.1.2
[2019-01-28 18:28:02] ERROR: Error: Unknown conn

[2019-01-28 20:02] donwalling commented on #2270
nevermind. this was user error

[2019-01-28 20:02] #2270 closed

[2019-01-28 21:26] soulgalore opened #2271 "Make a copy of scripts to the results folder"
One thing that is missing today is that you don't know what a script actually looked at runtime. Since the script can hold passwords etc we need to make it configurable.

[2019-01-29 22:27] soulgalore opened #2272 "Fully loaded not calculated correctly"
<img width="754" alt="screen shot 2019-01-29 at 23 25 12" src="https://user-images.githubusercontent.com/540757/51944881-6776c800-241d-11e9-8b74-fd7948a9760a.png">

[2019-01-30 20:53] soulgalore commented on #2259
I think what you are describing is https://github.com/sitespeedio/sitespeed.io/issues/2259#issuecomment-456590267 ?

In --preURL we used to remove the HTML before navigation (the screen becomes white).

Chrome keeps the layout of the "old" page when it starts to load the new page. You can fix that by either remove the HTML/hide the body. In the next Browsertime release I can add a couple of help c

[2019-01-31 18:00] leathej1 opened #2280 "Scripting - TypeError: Cannot read property 'replace' of null"
I am running a blank scrtipt against the 8.0.6 version of the Docker image on MacOS Mojave. My Docker images and my files are located in the same directory:
`docker run --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io:8.0.6 blank.js`

The script consists of only:
`module.exports = async function(context, commands) {
  // add your own code here
}`

I am getting the following error:

[code]

[2019-01-31 18:00] leathej1 opened #2287 "Scripting - TypeError: Cannot read property 'replace' of null"
I am running a blank scrtipt against the 8.0.6 version of the Docker image on MacOS Mojave. My Docker images and my files are located in the same directory:
`docker run --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io:8.0.6 blank.js`

The script consists of only:
`module.exports = async function(context, commands) {
  // add your own code here
}`

I am getting the following error:

[code]

[2019-01-31 18:38] soulgalore commented on #2280
Hi @leathej1 thanks for filing the issue, yes we should handle that.

Best
Peter

[2019-01-31 20:31] kazazor commented on #2259
I think that would be good to add help commands to do that. I believe that even people do not know that, this is probably a VERY common use case.

For now, I'll use my `await commands.navigate('http://blank.org/');` solution since it works perfectly. When these helper commands will be added I'll switch to that since the current solution adds about 7 seconds to each test iteration, and that's a lot

[2019-01-31 20:31] #2259 closed

[2019-01-31 21:09] soulgalore opened #2281 "Redirect problem"
`docker run --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io https://www.1177.se -n 1
Google Chrome 72.0.3626.81
Mozilla Firefox 65.0
[2019-01-31 21:02:12] INFO: Versions OS: linux 4.9.125-linuxkit nodejs: v10.13.0 sitespeed.io: 8.0.6 browsertime: 4.1.0 coach: 3.1.2
[2019-01-31 21:02:12] INFO: Running tests using Chrome - 1 iteration(s)
[2019-01-31 21:02:13] INFO: Testing url https://www.11

[2019-02-01 05:03] soulgalore commented on #2281
I think this is what's happening: If we use a script/--multi we always use the URL from the browser, but not if we just supply one URL (to keep other plugins work https://github.com/sitespeedio/sitespeed.io/issues/2258#issuecomment-456424034).

[2019-02-01 05:04] soulgalore commented on #2272
Fixed in next release

[2019-02-01 05:04] #2272 closed

[2019-02-01 05:05] soulgalore commented on #1555
This will be released today or tomorrow!

[2019-02-01 05:05] #1555 closed

[2019-02-02 08:57] soulgalore commented on #1464
Hi @ChenLong2014 sorry I don't have Windows instance. @beenanner do you see what's wrong?

Best
Peter

[2019-02-02 09:35] beenanner commented on #1464
If you are using docker for windows I believe you have to give docker permission to share the drive or something like that or it only allows the home directory. I'll check later today.

[2019-02-02 19:18] beenanner commented on #1953
Can be sum'd via the individuals so going to close this for now.

[2019-02-02 19:18] #1953 closed

[2019-02-02 19:22] idristarwala opened #2283 "Lighthouse plugin in scripted flows"
While trying to run a scripted flow the lighthouse plugin enabled, I came across the console error which said not supported yet in scripted flows.
do you have an ETA on this feature or when this will be supported ?

[2019-02-02 20:04] marimeireles opened #2284 "ERROR: UrlLoadError: Failed to load/verify when trying to test something on localhost"
Hi
I'm getting the following error if I try to run speedtest.io to test a local site:

[code]

I ran speedtest with the following command: `docker run --shm-size=1g --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io:7.7.3 --config config.json http://localhost:5000/issues/44`

My config.json file has the following configs:
[code]

If I try to test a website like google.com or anything else in

[2019-02-02 20:07] soulgalore commented on #2283
Hi @idristarwala

Ask the Lighthouse team :)

I don't know when they will support it. WebPageTest has [there own scripting](https://sites.google.com/a/webpagetest.org/docs/using-webpagetest/scripting) and you need to run it separately so I guess it will be the same with Lighthouse.

Best
Peter

[2019-02-02 20:07] #2283 closed

[2019-02-02 20:12] soulgalore commented on #2284
Hi @marimeireles ! When you use **localhost**  inside the Docker container,  it will mean localhost inside the container (and not localhost on your computer).

On Mac there is an easy way to access localhost using Docker if you are running a later version of Docker: https://www.sitespeed.io/documentation/sitespeed.io/docker/#access-localhost

Best
Peter

[2019-02-02 20:42] marimeireles commented on #2284
Oops.
That works.
Thanks @soulgalore! :)

[2019-02-02 20:42] #2284 closed

[2019-02-03 19:47] #2072 closed

[2019-02-04 21:48] soulgalore commented on #2287
Transferred back since the issue is the --multi parameter, lets see if we can make it smarter and either just work without it (we need to keep the diff between testing multiple URLs for one run vs testing multiple URLs within one run).

[2019-02-04 21:53] leathej1 commented on #2287
Much better.

[code]

[2019-02-05 13:33] soulgalore commented on #2287
Perfect! Just released a new version that warns if you try run without --multi.

[2019-02-05 13:33] #2287 closed

[2019-02-05 15:28] donwalling opened #2289 "Cannot read property 'replace' of null"
We're trying to measure button-click navigation on an SPA, but getting an exception similar to issue 2287, but not fixed in 8.2.2. I'm able to reproduce on a modified version of the sitespeed example:

$ docker run --shm-size=1g --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io:8.2.2 --multi --spa -n 2 script.js

where script.js is:

[code]

produces:
Google Chrome 72.0.3626.81
Mozilla Firef

[2019-02-05 15:52] soulgalore commented on #2289
Hi @donwalling ah sorry maybe the documentation isn't clear, I'll update it tonight: If you start a measurement you also need to stop it:

[code]

Best
Peter

[2019-02-05 15:54] soulgalore commented on #2289
Start without giving it a URL I mean.

[2019-02-05 16:24] donwalling commented on #2289
@soulgalore I'll give it a try today. I thought the ...AndWait() methods did the stop automatically.

[2019-02-05 16:45] donwalling commented on #2289
@soulgalore yes, this is solved. Thank you for the info, and quick response. Our actual test script is now getting a different exception that happens only when n>1. But its probably a different issue. I'll close this and see if I can isolate the new issue

[2019-02-05 16:43:36] INFO: VisualMetrics FirstVisualChange: 100 SpeedIndex: 10510 PerceptualSpeedIndex: 2327 LastVisualChange: 15533
[2019-02-

[2019-02-05 16:45] #2289 closed

[2019-02-05 18:30] donwalling opened #2290 "Cannot read property 'timings' of undefined"
We're getting an error on a complicated script only when -n is greater than 1. With -n 1 the script appears to work and the output html reports look good.

2019-02-05 18:21:53] ERROR: [sitespeedio.queuehandler] TypeError: Cannot read property 'timings' of undefined
    at addExtraFieldsToHar (/usr/src/app/node_modules/browsertime/lib/core/engine/index.js:70:27)
    at Engine.runByScript (/usr/src/

[2019-02-05 19:57] soulgalore commented on #2290
Hi Don, the code looks good. Can you see that the script works (the click works etc) either by running it locally without Docker or using `--browsertime.videoParams.debug` to get the full video of the run?

It looks like it could be a bug with runs/pages tested, if you test -n 1 does it work? I'll look into the Browsertime code that gets the error and try to figure out whats going in.

Best
Peter

[2019-02-05 20:59] soulgalore commented on #2290
I could see that one [fix](https://github.com/sitespeedio/browsertime/commit/a6153a64d8354bf03ac10291c5ed252c77d132f2) unintentionally changed how we add metrics. I'll fix that ASAP but it has nothing do with that error you get.

When you login, does it generate a new page load?

[2019-02-05 21:40] soulgalore commented on #2290
Ok, I've fixed what I found was wrong in https://github.com/sitespeedio/browsertime/pull/760 but need to test it some more before I push it, I'll do that first thing tomorrow. I'll add a guard also before the next release so at least we don't get that un catched error, its better to catch it where it happens.

[2019-02-05 22:10] donwalling commented on #2290
@soulgalore  actually, yes, that's a good point. Clicking the sign_in will cause a redirect, which a new page load. We'd like for sitespeed to capture the activity from button click through the redirect if possible. Is there a different approach we should be taking?

[2019-02-06 01:13] donwalling commented on #2290
@soulgalore I have a test case that I can share outside the company, but can't post publicly. Is there a way to send you a file?

I did some really crude console debugging
[code]
with n = 1
[code]

with n = 2
[code]

seems like the indexing isn't quite right, but i haven't figure out the flaw
Happy to help debug further if you have a pointer
Don

[2019-02-06 07:59] soulgalore commented on #2290
Yeah that's wrong, you are right, I fixed it in https://github.com/sitespeedio/browsertime/pull/760 merge and push forward today.

You can email me: peter [AT] soul galore [dot] com

Best
Peter

[2019-02-06 08:00] soulgalore commented on #2290
No that should work just fine.

[2019-02-06 08:08] soulgalore commented on #2290
FYI: I've pushed the change to the tests for dashboard.sitespeed.io, if it works fine I'll push it in a couple of hours.

[2019-02-06 11:06] soulgalore commented on #2290
Release  8.2.3. If it doesn't work for you, please email the use case and I'll fix it!

[2019-02-06 15:26] donwalling commented on #2290
@soulgalore  unfortunately
[code]
still produces
[code]
I'll email you the test case in a few minutes
Thanks,
Don

[2019-02-06 18:36] soulgalore commented on #2290
Yep cool, I'll have a look asap.

[2019-02-06 23:26] leathej1 opened #2293 "When running Sitespeed script or WPT script scandir fails"
I am running with the 8.2.3 version of the Docker image on MacOS Mojave.

When running a multi-step test with either sitespeed scripting or wpt scripting, I always run into the same error when the results are being processed:

`ERROR: Error: ENOENT: no such file or directory, scandir '/sitespeed.io/sitespeed-result/rc.rc.nextiva.xyz/<date>/pages/rc.rc.nextiva.xyz/data/video/images/1'`

I believe t

[2019-02-06 23:35] leathej1 commented on #2293
When running --debug, this is the last message before the failure:

[code]

[2019-02-07 03:30] banuady opened #2295 "Testing the same page page multiple times within the same session"
Sitespeed.io docker image is throwing an error if, during the same session, I need to return to a page already visited / tested.

I tested using MacOS (10.14.2) and Sitespeed - Docker version 8.2.3. I executed the following command:

```docker run --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io:8.2.3 -n 1 --multi script_03c.js```

The script "script_03c.js" is provided below:

[code]
For s

[2019-02-07 03:38] banuady opened #2296 "URL / Alias Suggestion"
This is a suggestion, not necessarily an issue:

Inside the report, the full URLs are provided in sections like Pages (table) or Page Summary. In case of a very large URL, it will look better to have the "Alias" provided in the script instead of the full URL.
Another advantage would be to easily match the generated report with Grafana Dashboard.

[2019-02-07 06:16] soulgalore commented on #2296
Yeah I totally agree, I didn't had the time to add it before the first release but I totally agree, let me fix that for the next release.

[2019-02-07 06:18] soulgalore commented on #2296
I've fixed it for the page summary and individual page, need to do it for the "Pages" table before releasing it.

[2019-02-07 06:33] soulgalore commented on #2295
Hi @banuady yeah I think there's use case that we don't handle a potentially it's quite much work.

[2019-02-07 06:34] soulgalore commented on #2293
Hi @leathej1 can you show me how you run so [I can reproduce](https://www.sitespeed.io/documentation/sitespeed.io/bug-report/#explain-how-to-reproduce-your-issue)?

Best
Peter

[2019-02-07 06:39] soulgalore commented on #2290
@donwalling let me know when you sent it :)

[2019-02-07 08:43] arifkhanaj commented on #1757
I am also seeing an error while executing sitespeed test behind firewall.

I execute this simple command:
docker run -v ${WORKSPACE}:/sitespeed.io sitespeedio/sitespeed.io --outputFolder output url -n 1 -d 1

And this is the error I get:

[2019-02-07 08:22:59] ERROR: Failed to wait BrowserError: Running page complete check
return (function(waitTime) {
    try {
        var end = window.performance

[2019-02-07 09:57] soulgalore commented on #1757
@arifkhanaj I think that's the error you get if the URL is unreachable. If you have a proxy setting when use your browser on your desktop, try that, else the best way is to run the tests outside of your network.

[2019-02-07 10:15] arifkhanaj commented on #1757
@soulgalore I can see Linux VM can curl the application & also can ping the host. But when run Sitespeed command from same, it throws this error.

[2019-02-07 10:23] soulgalore commented on #1757
Chrome/Firefox run their own settings for DNS etc than curl, so it's not the same. Check what you do on your laptop to access outside of your firewall and try mimic that.

[2019-02-07 10:30] arifkhanaj commented on #1757
Thanks for your prompt response. I connect to VPN and then execute Sitespeed commands and they run successfully from my machine.
Now the Linux VM reside within the same network so it doesn't need any connectivity with VPN etc. and have access to the web I am trying to execute Sitespeed commands on. But the Sitespeed command still doesn't work.

[2019-02-07 11:22] soulgalore commented on #1757
So you say that you docker container don't need to use the VPN and the server is on the same network that the URL that you try to test? Am I right? And the test server and the server it tries to reach are not behind the firewall? What does your URL look like?

[2019-02-07 11:27] arifkhanaj commented on #1757
Yes! Exactly, you are right.

It's a simple http url just like any other web url.

[2019-02-07 11:30] soulgalore commented on #1757
Ok! Then please create a new issue (since this has nothing to do with being behind a firewall) and follow https://www.sitespeed.io/documentation/sitespeed.io/bug-report/#explain-how-to-reproduce-your-issue !

Thanks
Peter

[2019-02-07 12:50] soulgalore commented on #2296
Merged and will release in 8.3.0.

[2019-02-07 13:16] leathej1 commented on #2293
Unfortunately, you would have to be inside our firewall. Are there any other debug logs that I can produce?

[2019-02-07 13:20] soulgalore commented on #2293
If you don't show me how you run it super hard to guess what's wrong :)

[2019-02-07 14:02] leathej1 commented on #2293
I can show you the structure of the scripts, but you won't be able to run it. Is there something else that might help, like the .har?

[2019-02-07 14:45] donwalling commented on #2290
Hi @soulgalore  I sent it from my company's email yesterday Wed 2/6/2019 7:35 AM PST (UTC-8). If you don't yet have it, I'll try gmail or linked in

[2019-02-07 14:56] donwalling commented on #2290
Hi @soulgalore  I've sent it from linkedin and gmail. I suspect that the js attachment caused the emails to be blocked, so the message i sent from gmail has the info all in-line. Please let me know if you receive it

[2019-02-07 15:17] soulgalore commented on #2290
Got it now, thanks @donwalling , will have a look asap later today.

[2019-02-07 15:19] soulgalore commented on #2293
Does it produce the HAR? If you can show me exact how you run from the command line and blanking out if you have any sensitive information, that would be great!

[2019-02-07 16:39] leathej1 commented on #2293
This is the wpt script:

[code]

And this is how it runs on my local wpt: https://www.webpagetest.org/results.php?test=190207_PN_862daa34381f27bb3c889b39d14d69ab

But the issue is that the directory that is being referenced in this error does not exist:

[code]

![image](https://user-images.githubusercontent.com/24658347/52426126-9db9e480-2aba-11e9-9026-b1183c80934f.png)

But it *does* exist here:

[2019-02-07 18:31] allangood commented on #2281
Hi @soulgalore this problem happens to me for any website that redirects to a subfolder, like https://www.walmart.ca that redirects to https://www.walmart.ca/en or https://www.walmart.ca/fr. This is a big issue in Canada where almost all websites offer English and French content based on the browser language. :)

My run:
(On Ubuntu Xenial 16.04)
[code]
Folder structure created:
[code]
The problem

[2019-02-07 21:26] soulgalore commented on #2290
@donwalling so I have happy news and I have ... happy news :) I've fixed the problem I Browsertime, but it's a hack so I need some more time to polish it before I push it.

First the problem:
* When the user got logged in, you got different redirect URLs each time (one of the parameter values changes) and collecting the metrics used the full URL as a key, so for each login there was a new page cre

[2019-02-07 21:50] soulgalore commented on #2281
Hi @allangood thanks for adding the extra info! It's annoying. It actually worked in the first release (we used redirected URL as default then by default) but then it was problems with other plugins (WebPageTest/GPSI and Lighthouse see https://github.com/sitespeedio/sitespeed.io/issues/2258), so I've changed the default behaviour (and it bite back now).

I've looked into change the default behavio

[2019-02-07 23:06] soulgalore commented on #2290
I was a bit optimistic with pushing it to sitespeed.io tomorrow. I've got a branch now where it works in Browsertime but integrating it with sitespeed.io will mean some work so I need to do that this weekend. Since we today only use the URL when storing data, adding alias will need some extra work and testing (and I don't know the best way forward so need some time to think).

[2019-02-07 23:40] donwalling commented on #2290
@soulgalore Thanks for the update - it is great news that you can reproduce the problem and are thinking about how to fix. We'll watch for updates, and if I can help in some way just let me know.

[2019-02-08 11:08] soulgalore commented on #2295
I had a go at this yesterday but the way I wanted to fix it is to complicated, that needs to happen in the next major.

What you could do is this:

[code]
That will work when we release 8.3.0 I think since then the alias will be used in the HTML. So it's a bit ugly and may not work for your real use case, for example if you are not in control of changing the URL (with redirects)?

Best
Peter

[2019-02-08 11:12] soulgalore commented on #2293
I wonder if it gets confused with https://rc.rc.nextiva.xyz vs https://rc.rc.nextiva.xyz/apps/agent so that if you change how you run:

`docker run --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io:8.2.3 --graphite.host 10.11.161.113 --webpagetest.file login-crm.txt --webpagetest.host 10.11.161.113:4000 --webpagetest.location Test --webpagetest.runs 1  https://rc.rc.nextiva.xyz/apps/agent -n

[2019-02-08 12:05] soulgalore commented on #2290
@donwalling if you have time to try it our before I do the new release it would be great:
`sitespeedio / sitespeed.io-autobuild:latest` have the latest change.

It was annoying: I spent hours yesterday trying to fix it all by changing so we also use the alias when we store files ... it was to much work and need to come in next major if we wanna do it. Instead I spent 15 min today to make sure that

[2019-02-08 14:58] donwalling commented on #2290
Hi @soulgalore I just did a quick test from my laptop at home and got a different exception:
[2019-02-08 14:54:49] ERROR: TypeError: Cannot read property 'time' of undefined
    at Object.getFilmstrip (/usr/src/app/lib/plugins/html/filmstrip.js:133:43)

The command I'm using is
docker run --shm-size=1g --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io-autobuild:latest --browsertime.videoPara

[2019-02-08 15:00] soulgalore commented on #2290
Let me fix that. When you run with `--browsertime.videoParams.debug` you are actually disabling visual metrics and it looks like there's some code in the filmstrip that doesn't handle that too well. Try without that setting first.

Best
Peter

[2019-02-08 15:11] soulgalore commented on #2290
I've pushed a change but there's a couple of more things to fix there. But to be clear:` --browsertime.videoParams.debug` is meant to be used to collect the full video of the full flow so you don't need to connect vnc etc to the container to see what happens. Metrics will not work when you run like that. I'll update the docs later on.

[2019-02-08 15:30] donwalling commented on #2290
@soulgalore ah, right, I sortof knew that but it's too early in the morning :-) Yes, running without video debug works fine, and the reports look reasonable. I'll dig into a further review when I get to the office, but as far as I can tell it is working well now.

[2019-02-08 16:56] leathej1 commented on #2293
Yes, adding the /apps/agent did the trick - thanks!

[2019-02-11 16:24] donwalling commented on #2290
@soulgalore  8.3.0 is working well for us.  I think this can be closed - WDYT?

[2019-02-11 16:24] #2290 closed

[2019-02-11 17:02] MaximSergeichik opened #2300 "ERROR: LHError: PROTOCOL_TIMEOUT"
I'm trying to run sitespeed with the following command:
`docker run --shm-size=1g --rm -v "$(pwd)":/sitespeed.io -v "/disk2/result":/sitespeed.io/sitespeed-result sitespeedio/sitespeed.io:8.3.0-plus1 -b chrome https://www.schneider-electric.com/ww/en/`

OS: centos7

The output log is following:
Google Chrome 72.0.3626.81
Mozilla Firefox 65.0
[2019-02-11 16:56:41] INFO: Versions OS: linux 3.10.0-95

[2019-02-11 18:28] soulgalore commented on #2300
Hi @MaximSergeichik thanks for creating the issue. It seems to be two errors here: 1st it's the redirect (tracked in #2281), I've had time to fix that yet. If you add --multi to your run it will work for now. The other thing is an error for Lighthouse. We should at least catch that better. I'll do that in this issue, and then that URL should be reported to Lighthouse (an upstream issue for us).

B

[2019-02-11 19:13] leathej1 opened #2301 "Need to be able to set HTML report title"
Currently, the HTML report title defaults to the path to the the script. It would be good to be able to be able to set the report title with a flag.

[2019-02-11 23:47] banuady commented on #2296
Thanks, Peter. This looks fine in 8.3.0

[2019-02-12 00:31] karthikamirapu opened #2304 "login.js does not exist, is the path to the file correct?"
So when I am running scripts through docker compose, I am getting this error "login.js does not exist, is the path to the file correct? I am pretty sure I am running this command from the correct directory, so not able to figure out why the error is displayed.

[2019-02-12 01:04] donwalling opened #2305 "--plugins.add analysisstorer triggers ERROR: TypeError: Cannot read property 'replace' of null"
create script.js to contain:
[code]
then the command
[code]
will produce an exception
[code]

[2019-02-12 03:36] donwalling commented on #2304
@karthikamirapu This error means the login.js file isn't available in the expected location inside the docker image. If you can't find the issue, please post enough info for someone else to reproduce the problem

[2019-02-12 07:05] soulgalore commented on #2305
Thanks for filing the issue @donwalling and taking the time to create a reproducible test case! I just fixed this and released it in 8.4.0. I'm pretty sure it works now (I tested it) but please let me know if you still see the issue.

Best
Peter

[2019-02-12 07:05] #2305 closed

[2019-02-12 07:06] soulgalore commented on #2301
@leathej1 you can use --name "Test name" since 8.4.0. It's only used in the HTML for now, let us implement on other places later on (slack etc).

[2019-02-12 07:06] #2301 closed

[2019-02-12 07:08] soulgalore commented on #2300
@MaximSergeichik I've pushed 8.4.0 that fixes the redirect problem + so we catch Lighthouse errors within the Lighthouse plugin. I'm gonna close this, but please let me know if you still have the issue. If there's an issue with testing the URL in Lighthouse, create a upstream issue at https://github.com/GoogleChrome/lighthouse/issues/new/choose

Best
Peter

[2019-02-12 07:08] #2300 closed

[2019-02-12 07:08] soulgalore commented on #2296
Great, I will update the docs later today.

[2019-02-12 07:08] #2296 closed

[2019-02-12 07:09] soulgalore commented on #2281
This is fixed in 8.4.0.

[2019-02-12 07:09] #2281 closed

[2019-02-12 07:09] soulgalore commented on #2293
Great!

[2019-02-12 07:09] #2293 closed

[2019-02-12 07:09] soulgalore commented on #2271
released in 8.3.0

[2019-02-12 07:09] #2271 closed

[2019-02-12 07:10] soulgalore commented on #2295
I'll update the docs with this example so that at least there's one way to do it.

[2019-02-12 07:29] soulgalore commented on #2304
@karthikamirapu yeah can you show me? You need to make sure that you map the file from outside of the container to the container, so that it can be used. I think something like this would work (though I'm usually using docker run instead of the full compose file):

`docker-compose run -v $(pwd):/sitespeed.io --rm sitespeed.io /sitespeed.io/login.js --multi`

Best
Peter

[2019-02-12 11:41] gidztech opened #2307 "Performance budgets are erroring in 8.4.0-plus1"
I'm trying to use the `sitespeedio/sitespeed.io:8.4.0-plus1` image, which includes the Lighthouse plugin. However, when adding budget configuration, I get the following error:

[code]

I'm running the following command (in Windows):

[code]

If I use the default image, i.e. remove the `8.4.0-plus1` tag, there are no errors and I see the junit report.

[2019-02-12 11:51] soulgalore commented on #2307
Hi @gidztech thanks for filing the issue. GPSI and Lighthouse (or WebPageTest) doesn't support the new budget format (yet) (however it shouldn't give an error in the log + we should document it). The old one works: https://www.sitespeed.io/documentation/sitespeed.io/performance-budget/#budget-configuration-using-the-internal-data-structrure

I'll fix the error, document and then we need to do foll

[2019-02-12 11:54] gidztech commented on #2307
@soulgalore Thanks Peter for the super fast response and for looking into it!

[2019-02-12 13:49] soulgalore commented on #2307
@gidztech don't spend so much time out, I can make a push tonight or early tomorrow where I can include the most important metrics for Lighthouse/GPSI/WebPageTest, I had it on the list but had other things I wanted to do first.

[2019-02-12 20:19] karthikamirapu commented on #2304
Peter - that worked..Thanks.

[2019-02-12 20:19] #2304 closed

[2019-02-13 10:33] gidztech commented on #2307
@soulgalore I'm having another problem with the budgets here. I'm now using the standard version without Lighthouse, using the new budget format. Just playing around I used the example from the docs:

[code]

However, in the junit.xml output, I'm getting some results where the limit min is `undefined`. For example, "bestpractice is 68 and limit min undefined". I'm not sure what "limit min" is mean

[2019-02-13 11:46] gidztech opened #2310 "HTML report erroring out frequently with --chrome.timeline flag"
I'm noticing that the HTML reports errors out frequently with the following error:

[code]

I'm running this command (modified the path and website for example):

[code]

I've not figured out why. It could be a memory issue or some race condition.

[2019-02-13 11:57] gidztech commented on #2310
I think it's related to the usage of the `--chrome.timeline` flag.

The `cpu.pug` file is only imported when that flag exists: https://github.com/sitespeedio/sitespeed.io/blob/383e7dc69d598c5359572449f0d8e51f1be0e85d/lib/plugins/html/templates/url/metrics/index.pug#L125

I'm not getting the error when I omit the flag. Looks like `browsertime.cpu` is `undefined`.

[2019-02-13 18:42] soulgalore commented on #2307
Hi @gidztech sorry for the late reply, been home with a sick child today and always stay away from the computer when I do that.

There was a typeo in JunitXML introduced when I added the JSON output format, I've pushed a fix and will roll it out later tonight.

Best
Peter

[2019-02-13 18:51] soulgalore commented on #2310
Hi @gidztech I'll push just a guard to make sure it doesn't fail but it is something else that's the root of the problem.

I run the same for the setup used here: https://dashboard.sitespeed.io/d/000000044/page-timing-metrics?orgId=1&var-base=sitespeed_io&var-path=desktopLoggedIn&var-group=en_wikipedia_org&var-page=_wiki_Barack_Obama&var-browser=chrome&var-connectivity=cable&var-function=median wh

[2019-02-13 19:48] soulgalore commented on #2307
The JUnit fix and using WebPageTest/Lighthouse/GPSI has been fixed in 8.5.0, checkout which budget metrics you can use: https://www.sitespeed.io/documentation/sitespeed.io/performance-budget/#full-example

[2019-02-14 13:14] ponyo877 opened #2313 "Can not run script on Docker for Windows"
I have a container for sitespeed in Docker for Winodws
I can do the following,
[code]

But It can not be specified by specifying a file as follows.
[code]
Javascript files can not be executed in the same way.
[code]
Is there a solution?

[2019-02-14 13:24] soulgalore commented on #2313
Hi @ponyo877 question: Your file is located in `c:/Users/urls.txt`? If so it looks exactly as the example in https://docs.docker.com/docker-for-windows/.

@beenanner can you see if something is wrong?

Best
Peter

[2019-02-15 13:21] beenanner commented on #2313
Let me try this and see if i can get it to work.

[2019-02-16 08:05] #871 closed

[2019-02-16 18:50] soulgalore opened #2318 "Add budget for console.errors/HTTP errors"
It would be cool to include console errors/warning and HTTP > 399 in the budget file.

[2019-02-17 01:55] fholzer commented on #1459
`docker run` supports a [`--user` flag](https://docs.docker.com/engine/reference/run/#user). But at the moment this causes some issues because some components used in the docker image don't like to be run as a user that technically doesn't exist inside the container. Generally this is not an issue, that is if you don't run any programs that insist the user exists.

For testing I used `docker run -

[2019-02-17 16:35] soulgalore commented on #1459
Hi @fholzer I've missed to add a comment here before that's also relevant: at the moment Github Actions only support root user support to the file system, so for example if we want to feed a budget file like in https://www.sitespeed.io/documentation/sitespeed.io/continuous-integration/#github-actions that only works as long as we keep running as root. I guess one way to fix it is to create a user

[2019-02-17 16:38] #1929 closed

[2019-02-17 17:11] soulgalore commented on #2243
Closing this since we never heard back, but please ping the issue again if you still have the issue so we can help you!

[2019-02-17 17:11] #2243 closed

[2019-02-17 17:11] soulgalore commented on #2216
Released a couple of releases ago :)

[2019-02-17 17:11] #2216 closed

[2019-02-17 17:11] soulgalore commented on #2211
Closing this since we never heard back, but please ping the issue again if you still have the issue so we can help you!

[2019-02-17 17:11] #2211 closed

[2019-02-17 17:12] soulgalore commented on #2178
Closing this since we never heard back, but please ping the issue again if you still have the issue so we can help you!

[2019-02-17 17:12] #2178 closed

[2019-02-17 17:12] soulgalore commented on #2141
Closing this since we never heard back, but please ping the issue again if you still have the issue so we can help you!

[2019-02-17 17:12] #2141 closed

[2019-02-17 17:13] soulgalore commented on #2140
Closing this since we never heard back, but please ping the issue again if you still have the issue so we can help you!

[2019-02-17 17:13] #2140 closed

[2019-02-17 17:13] soulgalore commented on #2018
Closing this since we never heard back, but please ping the issue again if you still have the issue so we can help you!

[2019-02-17 17:13] #2018 closed

[2019-02-17 17:14] soulgalore commented on #1995
Closing this since we never heard back, but please ping the issue again if you still have the issue so we can help you!

[2019-02-17 17:14] #1995 closed

[2019-02-17 17:14] soulgalore commented on #1855
Closing this since we never heard back, but please ping the issue again if you still have the issue so we can help you!

[2019-02-17 17:14] #1855 closed

[2019-02-17 20:50] fholzer opened #2320 "Store html result/report assets separate from reports"
Hi,

first off, thank you for this great project!

We store a large number of html reports in our setup (tens of thousands, planning to increase that soon) and are thinking about ways to reduce storage requirements. One approach is to store all html report assets in a shared location. So instead of writing all js, css, image files to each report directory, we store them centrally (e.g. under "exam

[2019-02-17 21:12] fholzer commented on #1459
Hi,

I wasn't aware this was about Github Actions. Either way, if you want to use a feature that requires root (not sure if running tests on actual mobiles requires root) then you won't be able to use `docker run`'s `--user` flag.
Regarding `start.sh`'s `chromeSetup` function I mentioned in my previous port: seems that may no longer be necessary since Chrome 60, as it [contains a fix](https://chro

[2019-02-17 21:26] soulgalore commented on #2320
Hi @fholzer ! First thank you for the PRs :)

Yes, please do a PR, I think we had that functionality a long time ago, maybe v3 or something like that, but then skipped it (don't remember the reason, but I remember implementing it). Could be we focused on compressing the HARs and now lately trying to make the video as small as possible (but I guess you run without keeping the video?).

Best
Peter

[2019-02-18 06:33] soulgalore commented on #1459
Ah cool, yeah it was added ages ago. Let me try to remove it also, I can just push it to our test server.

Let me know how it works out for you!
Best
Peter

[2019-02-19 04:44] banuady opened #2323 "Using pageCompleteCheck for a single page inside the script"
Using the docker image 8.6.0, I tried to apply the --browsertime.pageCompleteCheck for a script. Here is my command:

docker run --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io:8.6.0 --multi script.js --browsertime.pageCompleteCheck 'return (function() {try { return (Date.now() - window.performance.timing.loadEventEnd) > 20000;} catch(e) {} return true;})()'

The script will contain multip

[2019-02-19 10:15] soulgalore commented on #2323
Hi @banuady ! Ah see. I think I have a way of doing it, let me know it works out for you and then we can add a section in the docs:

[code]

Best
Peter

[2019-02-19 18:05] leathej1 opened #2324 "Waterfall labels not shown completely"
Sitespeed 8.6.0 (and prior versions)

I was not able to determine how this style flowed from the css, but I noticed that I can fix this if I set svg:not(:root) overflow to 'visible'.

![image](https://user-images.githubusercontent.com/24658347/53036830-e1570b80-3435-11e9-88a9-f17a12aca34d.png)

[2019-02-20 05:12] banuady commented on #2323
Thanks Peter,

This is quite a nice solution. It works for me.

Best regards,
Adrian

[2019-02-20 06:25] soulgalore commented on #2323
Perfect, I've updated the documentation with that example.

[2019-02-20 06:25] #2323 closed

[2019-02-20 06:27] soulgalore commented on #2324
Hi @leathej1 ah thanks for reporting!

Best
Peter

[2019-02-20 10:32] rockmax-rajat opened #2325 "[Ubuntu] ERROR: BrowserError: unknown error: failed to change window state to normal, current state is maximized"
While running this command from terminal, we are getting below mentioned error very frequently:
Command: $ sitespeed.io https://www.adobe.com

[2019-02-20 15:56:48] INFO: Versions OS: linux 4.15.0-43-generic nodejs: v10.6.0 sitespeed.io: 8.6.2 browsertime: 4.4.6 coach: 3.2.1
[2019-02-20 15:56:49] INFO: Running tests using Chrome - 3 iteration(s)
[2019-02-20 15:56:49] ERROR: BrowserError: unknown e

[2019-02-20 10:34] rockmax-rajat commented on #2325
This issue do not depends upon what url we are passing. It is reproducible for all urls. However, it works fine without any error around once or twice out of 10 times.

[2019-02-20 10:42] soulgalore commented on #2325
Hi @rockmax-rajat this looks like a Chrome/Chromedriver problem? If you use latest Chrome no difference? I've seen we haven't updated to latest Chromedriver, but I couldn't see anything related in the release notes there when briefly looked.

And you run it exactly as you say, no extra parameters like running headless etc (just checking)?

Best
Peter

[2019-02-20 11:02] rockmax-rajat commented on #2325
@soulgalore I have latest Chrome on my system - Version 71.0.3578.80 (Official Build) (64-bit).
Since this issue is with browser size/state, it is not reproducible when we run with --headless param.

Can you help me as how to run it with latest chrome driver?

[2019-02-20 11:09] soulgalore commented on #2325
Yeah but there's 72 on Ubuntu right? We got it installed in our Docker containers.  The reason I asked about headless is that when I searched for that error there are others that try to run headless that get that error.

If you just open Chrome on that machine, does the the window start maximized? I wonder if there's a user preferences that kicks in?

If you wanna try latest driver with latest Chr

[2019-02-20 11:31] rockmax-rajat commented on #2325
@soulgalore I tried with latest chromedriver version but the problem persists.

I checked Chrome browser as well and found my browser as latest with no more updates available. Version mentioned in previous comment.

Also, just checked, when I opened Chrome new window, it is being opened as maximized.

[2019-02-20 11:56] rockmax-rajat opened #2326 "[SPA] ERROR: Could not find the right index 3 for har"
Command: sitespeed.io script.js --spa --multi

For script.js and steps to reproduce, please do this:
1.  Copy paste the code mentioned at https://www.sitespeed.io/documentation/sitespeed.io/spa/#example-performance-test-grafana in script.js file
2. Now run the command mentioned above
3. Result: No error occured and html report has been created successfully. This is because after hitting 'commands.

[2019-02-20 11:57] soulgalore commented on #2325
Have a look at the [Docker file](https://hub.docker.com/r/sitespeedio/webbrowsers/dockerfile) how we install Chrome if you wanna try out 72 on Ubuntu.

To get moving I think you should try running with Docker instead. Then I can try out on Ubuntu later on if I can reproduce, and if I cannot I think you should create an upstream issue with Chromedriver.

Best
Peter

[2019-02-20 12:03] soulgalore commented on #2326
Hmm what do you plan to measure? With your example you just open up another layer, you need to click on that new layer and actually choose something to trigger a new view in Grafana.

Best
Peter

[2019-02-20 12:30] rockmax-rajat commented on #2326
I have given this script example so as to provide the steps for reproduction.

My use case is to measure metrics of specific user workflows of single page application
i.e. after opening any url, I wants to measure metrics between some start and end points. Between these start and end points, I will do some SPA operations which sends request and receives response without adding anything in the url.

[2019-02-20 12:44] soulgalore commented on #2326
Yeah but in your example you just open a layer, you don't actually render a new view or do any requests.

[2019-02-20 12:48] rockmax-rajat commented on #2326
Right, but this error is reproducible in my private app even when I rendered a new view with req/resp to server. What I meant to say is that this error is not because of rendering any new view or not, but it is just because the url remains constant even if we render new view(when we do not use routes).

[2019-02-20 13:00] soulgalore commented on #2326
Ah I see. If the the URL is constant that will break because we store the data per URL so then you need to manually add something in the URL so that different views  (see https://www.sitespeed.io/documentation/sitespeed.io/scripting/#test-the-same-page-multiple-times-within-the-same-run). If it's possible to share your exact example its much easier to help :)

Best
Peter

[2019-02-20 14:21] rockmax-rajat commented on #2326
I already tried that hack but it leads me to another error - ERROR: TypeError: Cannot set property '_meta' of undefined.

Script.js:
`module.exports = async function(context, commands) {
 await commands.navigate('https://dashboard.sitespeed.io/d/000000044/page-timing-metrics?orgId=1');
 try {
 await commands.wait.byTime(1000);
 await commands.measure.start('spa_workflow');
 //Any internal SPA work

[2019-02-20 19:53] soulgalore commented on #2326
I don't see in your example that you change the URL? So internally it works like this: if the URL in the browser window is the same, we will treat it as the same content.

If you can share a real example so I can understand or if you can find another site with the same problem, I can try to help. See https://www.sitespeed.io/documentation/sitespeed.io/bug-report/#explain-how-to-reproduce-your-issu

[2019-02-21 06:00] LionOnTheChase opened #2327 "Integrating with existing performance testing scripts?"
Hi,

Sitespeed.io is a great tool. I have used and benefitted from it while profiling an slow web application.

I want to take it's usage to the next level by adopting it in my org's pipeline. Use it to detect performance degradations and prevent them. However, for accomplishing this, I see that I need to write selenium scripts from scratch and cannot re-use what I already have.

What does it take

[2019-02-21 07:40] rockmax-rajat commented on #2326
Yes, that was what my question as if we can track metrics between start() and stop() in a SPA where URL don't change (not even routes or url params).

Actually there is no use of sharing my code because url/endpoints are internal and you won't be able to access them. My script is same as mentioned on https://www.sitespeed.io/documentation/sitespeed.io/spa/#example-performance-test-grafana assuming

[2019-02-21 07:43] soulgalore commented on #2327
Hi @LionOnTheChase great that things has worked good for you :)

No I don't see a way for that to work. There's three ways of doing the scripting: Either our commands (that's wrapped Selenium/raw JavaScript), pure Selenium (with our commands to actually do the measurement) or pure JavaScript (executed through our JavaScript command) together with our measurement command. Docs here: https://www.sit

[2019-02-21 11:00] mliljedahl opened #2329 "Google Cloud storage bucket"
I just wrote a plugin for storing the results in a Google Cloud storage bucket. But before I make a pull request of it I would like to align it to the S3 plugin that already exists. Then I came across a few questions.

When trying to implement the `path` option that exists in S3 and also sending annotations to Graphite the resultUrls is completely ignoring the `path` option giving me:

```INFO: [s

[2019-02-21 11:07] soulgalore commented on #2329
Hi @mliljedahl aha cool!

Hmm yeah that sounds like a bug and something we missed then. I haven't used that part for a long time and I'm not 100% sure how it would work, need to look into it.

Best
Peter

[2019-02-21 11:10] soulgalore commented on #2329
Yes that would be cool, good idea, let us add that as separate issue!

[2019-02-21 11:25] soulgalore commented on #2329
Ping @beenanner since I guess you are also interested in this :)

[2019-02-21 11:45] soulgalore opened #2330 "S3 path doesn't work with annotations"
As reported in #2329

When trying to implement the `path` option that exists in S3 and also sending annotations to Graphite the resultUrls is completely ignoring the `path` option giving me:

`INFO: [sitespeedio] Find the result at https://storage.googleapis.com/bucketname/www.my-domain.com/2019-02-21-10-49-01`

Instead of (setting path to `my-sub-folder/test1`):

`INFO: [sitespeedio] Find the res

[2019-02-21 11:46] soulgalore opened #2331 "Default S3 result URLs"
See #2329 proposed by @mliljedahl

As a bonus it would be nice to not having to specify a `--resultBaseURL` when using S3 (or any other storage) where it would be possible to default to an url connected to the storage provider; `https://storage.googleapis.com` in the GCS case if it is not set.

[2019-02-21 13:15] beenanner commented on #2329
Very much so let me take a look at this!

[2019-02-21 13:55] soulgalore commented on #2329
@beenanner cool! Do you mean you help @mliljedahl if he needs any help or do you mean you fix the bug #2330 he found? Or implement #2331? :)

[2019-02-21 14:14] juanluisbaptiste opened #2335 "About webpagetest integration"
Hi,

I'm testing out webpagetest and sitespeed.io integration with a private instance. When running sitespeed.io it seems wpt is called with no issues, but I'm confused on what should I see on sitespeed.io results regarding wpt. On the documentation it says this:

Reading that I supposed I was going to see another tab at the top of the page (where detailed summary, pages, etc links are), with wpt

[2019-02-21 14:18] soulgalore commented on #2335
Hi @juanluisbaptiste yep you should see a tab with the specific WebPageTest metrics:

![summary for 5 runs https www nytimes com at 2019 02 21 10 42 06](https://user-images.githubusercontent.com/540757/53175260-e1007100-35eb-11e9-9f69-cf816f9bfd68.png)

And checkout this example:
https://s3.amazonaws.com/results.sitespeed.io/www.nytimes.com/2019-02-21-10-42-06/pages/www.nytimes.com/index.html#webp

[2019-02-21 14:23] juanluisbaptiste commented on #2335
sure:

![screenshot_20190221_092317](https://user-images.githubusercontent.com/2113585/53175610-53f0f400-35ba-11e9-9a7e-1230cc4657ab.png)

[2019-02-21 14:25] soulgalore commented on #2326
At the moment the sad truth is that if the URL doesn't change when you change view, it will not work.

[2019-02-21 14:32] soulgalore commented on #2335
Seems to be a bug then. You see in the log that the message is sent to WebPageTest and that you receive the result (there should be a message like "sent to webpagetest" and a new message when the result is received.

[2019-02-21 14:40] juanluisbaptiste commented on #2335
Yes, I see both messages, here's the complete output:

[code]

[2019-02-21 14:43] soulgalore commented on #2335
Aha thanks, I guess the bug then somehow happens when you run your own instance, it works with the public version of WPT.

[2019-02-21 14:44] juanluisbaptiste commented on #2335
No problem, and thanks for thanks for this awesome software !

[2019-02-21 14:55] soulgalore commented on #2335
Thanks :)

If you got a chance, can you run with ` --debug`  then all internal messages are also logged, and then put it in a gist?

[2019-02-21 15:58] juanluisbaptiste commented on #2335
sure:

https://pastebin.com/pXFGWsXm

[2019-02-21 16:02] KimberlyGT opened #2337 "frontend_report issue"
Hi i have this problem...i don't know the reason , please help me

cp: 'frontend_report/assets.html' and '/var/jenkins_home/workspace/FrontendJob/frontend_report/assets.html' are the same file
cp: 'frontend_report/css' and '/var/jenkins_home/workspace/FrontendJob/frontend_report/css' are the same file
cp: 'frontend_report/detailed.html' and '/var/jenkins_home/workspace/FrontendJob/frontend_report/

[2019-02-21 16:38] juanluisbaptiste commented on #2335
I just noticed that I was not using the latest version (you guys work FAST !!), and with the latest version 8.6.3 it is working !!

[2019-02-21 18:07] soulgalore commented on #2335
Ah I see now, you where running 8.0.2 in [8.0.3](https://github.com/sitespeedio/sitespeed.io/blob/master/CHANGELOG.md#803---2019-01-23) we released a fix for different plugins.

Great that it works then :)

[2019-02-21 18:07] #2335 closed

[2019-02-21 18:09] soulgalore commented on #2337
Hi @KimberlyGT it looks like a problem in Jenkins when trying to move the report? Are you using the latest version of sitespeed.io and can you help us by describing how you run? See
https://www.sitespeed.io/documentation/sitespeed.io/bug-report/

Thanks
Peter

[2019-02-22 06:27] rockmax-rajat commented on #2326
Thanks a lot @soulgalore for the clarification and looking into the issue.
Anyways, is it planned in future to support this feature in Sitespeed?

[2019-02-22 06:33] soulgalore commented on #2326
I looked into it briefly a week ago and it will be much work to fix (to change so that everything can be stored by alias instead of the actual URL) so that need to happen in a new major release (9/10/11 etc), so no plans for that right now.

[2019-02-22 08:42] lukaszmorawski opened #2338 "Budget files with scripting does not work"
Hi,
It seems that when using scripting, the budget files does not work. junit.xml file is generated and produce output like this:
`advice.performance.score is undefined and limit min undefined`

Budget file:
`{
  "browsertime.pageSummary": [{
    "metric": "statistics.timings.pageTimings.pageLoadTime.mean",
    "max": 5000
    }],
	"coach.pageSummary": [{
    "metric": "advice.performance.score",

[2019-02-22 09:55] soulgalore commented on #2338
Hi @lukaszmorawski thanks for your report. Which sitespeed.io version are you using? 8.5.0 fixed a bug introduced in 8.3.0 for JUnit budget output. Latest version is 8.6.3. We also introduced a simpler budget format in 8.0 if you haven't seen it https://www.sitespeed.io/documentation/sitespeed.io/performance-budget/#the-budget-file

Internally it "should" not be any difference how you run. Budget

[2019-02-22 10:45] lukaszmorawski commented on #2338
Hi @soulgalore,

I use: `nodejs: v10.15.1 sitespeed.io: 8.6.3 browsertime: 4.4.7 coach: 3.2.1`.
Using new budget:
`{
 "budget": {
    "timings": {
      "SpeedIndex":1000
    }
 }
}`

I get an empty.junit.xml:
`<?xml version="1.0" encoding="UTF-8"?>
<testsuites/>`

And budget.html  says:
`The result of the performance budget. We got 0 failing and 0 working`

best regards,
Łukasz Morawski

[2019-02-22 10:50] soulgalore commented on #2338
Ok and you run with Docker with video/visual metrics turned on (default if you use Docker)? Just want to be 100% sure :) If you run with NodeJs as in your first example you need to turn on video recording (and installing FFMPEG/Imagemagick etc).

If you don't use Docker change the SpeedIndex to firstPaint instead (that is always collected direct from the browser):
`{ "budget": { "timings": { "firs

[2019-02-22 11:05] lukaszmorawski commented on #2338
On node.js when switched to `{ "budget": { "timings": { "firstPaint":1000 } } }` it works fine.

On docker I run:
`docker run --rm -v ${WORKSPACE}:/sitespeed.io sitespeedio/sitespeed.io:8.6.2 --influxdb.host myhost --influxdb.username myuser --influxdb.password mypass --influxdb.database sitespeed --config config.json --outputFolder output script.js --multi --budget.configPath budget.json --budget

[2019-02-22 11:15] soulgalore commented on #2338
Ok, for the visual metrics failure:

1. Can you try setting some connectivity when you test (https://www.sitespeed.io/documentation/sitespeed.io/connectivity/) if you haven't already.
2. To debug what's going I need to have the exact URL and script, any chance you can email me:? peter [AT] soulgalore [dot] com and I will have a look tonight.

Best
Peter

[2019-02-22 16:36] juanluisbaptiste opened #2339 "GPSI not replacing all template variables"
Hi,

I'm testing sitespeed.io:8.6.3-plus1 docker image to test the lighthouse plugin, and noticed that the GPSI plugin is not replacing the template variables in the results, please see this screenshot:

![sitespeedio-gpsi_bug](https://user-images.githubusercontent.com/2113585/53256292-80c60980-3695-11e9-8b02-290f4982a989.png)

I'm running sitespeed.io like this:

docker run --shm-size=1g --name s

[2019-02-22 19:33] leathej1 opened #2340 "Automatically add annotation tag with current version of Sitespeed"
In the same way that tags are automatically created for script steps, site, browser, etc., it would be very useful to automatically add the Sitespeed version number as a tag as well.

[2019-02-22 19:57] leathej1 opened #2341 "Spurious pages are listed in Grafana"
All 8.x versions of Sitespeed.io thus far have been experiencing this issue.

For some reason, I am seeing extra pages listed in Grafana.

Script:
[code]

And I am calling it by `docker run --shm-size=1g --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io login-voice-rc.js --config config-rc.json`

What I see in Grafana is that 'Open CRM' is listed, but also '_apps_agent_', which is reflective

[2019-02-22 20:33] soulgalore commented on #2341
Hi @leathej1 thanks for creating the issue. I've seen part of this too but I haven't been able to recreate on my local machine. I think it's a bug in how we convert the Chrome trace log to a HAR but I will look into it this weekend and hopefully fix it.

Best
Peter

[2019-02-22 22:44] ghost opened #2343 "Webpagetest screenshots are not reported back"
Hello,

I am experiencing an issue with getting back screenshots from webpagetest runs. I can see waterfall being retrieved and shown in html report. However, screenshots don't seem to be there. It looks like both are retrieved similarly on your end: https://github.com/sitespeedio/sitespeed.io/blob/7cc556220458748f5737325c8df86bea1193d6b4/lib/plugins/webpagetest/analyzer.js#L27

Thus, I was wonder

[2019-02-23 03:23] beenanner commented on #2329
@mliljedahl feel free to take a stab at the fixes if you have time. Lots of stuff going on at my day job for the next few months, but I will try to help when I find time here and there.

[2019-02-23 13:04] soulgalore commented on #2341
Hi @leathej1 one thing that seems to be unclear in the documentation, the difference between `commands.js.runAndWait`  and `commands.js.run`. I'll try to explain it better in the documentation but will start here first: All commands that ends with ...andWait means that it will wait for page to finish loading using the pageCompleteCheck see https://www.sitespeed.io/documentation/sitespeed.io/browse

[2019-02-23 13:12] soulgalore commented on #2343
Hi @vladmgy thanks for your report! Ok so you don't see them?

We have a continuously WebPageTest test running where we test NY Times checkout https://s3.amazonaws.com/results.sitespeed.io/www.nytimes.com/2019-02-23-11-06-20/pages/www.nytimes.com/index.html#webpagetest

And there we have the screenshot downloaded:
<img width="721" alt="screen shot 2019-02-23 at 14 09 49" src="https://user-images.g

[2019-02-24 18:58] soulgalore opened #2346 "Update Jenkins documentation"
We need to document how you run Docker from your Jenkins instances (that runs Docker). When we started that was not a thing but I think now there's a best practice.

We also should add examples of how to run Jenkins agents running sitespeed.io

[2019-02-25 01:48] gety9 opened #2347 "Frequency of tests"
Guys hi,

Not an issue, but more of a question

What is recommended frequency of tests?

If we'd like to test only 3 times a day should it be during peak load (when most visitors visit the website) or or least load periods?

[2019-02-25 03:59] beenanner commented on #2347
Depends on your visitors traffic patterns, caching, and how much your budget is willing to afford. I would try to have more than 1 run say 3 to 5 runs to get an avg for any single test and at a minimum you probably want 3 to 5  tests a day to get an idea of site impact throughout any one day. Remember the more you can the test the more you can potentially learn about your user's experience and imp

[2019-02-25 09:16] soulgalore commented on #2347
@beenanner I think in general we are missing out on documentation on a high level, I've started "performance testing in practice" docs that aims to be tool independent, I'll share the branch in a couple of weeks when I had time to get further. @gety9 question is perfect for that.

I also would like to start to try out organising parts of the documentation as run books https://en.wikipedia.org/wiki

[2019-02-25 09:19] soulgalore commented on #2341
@leathej1 You got mail :) If you could try to remove the faulty ones so we are sure that they are recreated and wasn't created with a run without the alias, that would be great :)

[2019-02-25 09:24] soulgalore commented on #2326
I'm closing this one, the fix for the future is the same as in #2295 and that is storing test based on alias instead of URL, however that is much work and need to come in a major release (even though I think we can do it backwards compatible).

[2019-02-25 09:24] #2326 closed

[2019-02-25 09:25] soulgalore commented on #2310
@gidztech have you had time to test out the new version, and do you still get the error?

[2019-02-25 09:26] soulgalore commented on #2250
So anyone wants to try this and see what's wrong? Maybe the documentation is outdated.

[2019-02-25 10:54] lukaszmorawski commented on #2338
So, it seems that it helped. Despite the error, metrics are sent to Influx and new budget works. Last thing for me hard to figure out is how to refer PageLoadTime in budget file.
Something like this:
`{
"budget": {
    "timings": {
      "Load": 5000,
      "PageLoadTime": 5000
    },
    "score": {
      "performance": 50
    }
  }
}`

seems not working (only "Score" is evaluated).

best,
Łukasz

[2019-02-25 11:52] gety9 commented on #2347
@beenanner

thanks for reply, for now i made 3 tests a day 5 runs each.
The reason i asked the question cause when looking at dashboard.sitespeed.io
i see that wikipidia.com stats vary greatly by time of the day so for this kind of site hourly might be needed, but for ryanair it's pretty stable.

@soulgalore
it would be great!

One more question not related to this one.
What is the difference betw

[2019-02-25 12:59] beenanner commented on #2347
Transfer would take in account gzipping

[2019-02-25 13:57] soulgalore commented on #2338
Hi,  pageLoadTime hasn’t been added yet, check here which one you can use at the moment:
https://www.sitespeed.io/documentation/sitespeed.io/performance-budget/#full-example

We can add more timings like pageLoadTime later on.
Best
Peter

[2019-02-25 15:05] Staicul opened #2348 "ERROR: TypeError: Cannot set property '_meta' of undefined"
Hi,

Starting today, I am getting the following error:
[code]

The issue can be reproduced using the following script:
[code]

I am using sitespeed.io v 8.6.4 locally (Windows 10), the latest Chrome version: 72.0.3626.109 (Official Build) (64-bit). The script is run via the following command:
[code]

The log file is also attached.
[sitespeed.io.log](https://github.com/sitespeedio/sitespeed.io/file

[2019-02-25 16:57] leathej1 commented on #2341
I'd like to, but I am having a really hard time following the instructions
for moving grafana.db to a host directory, and keep docker-compose.yml in
sync.

On Mon, Feb 25, 2019 at 2:19 AM Peter Hedenskog <notifications@github.com>
wrote:

[2019-02-25 17:25] vladmgy commented on #2343
I don't see the screenshots folder under data in my results. I only see waterfall. Thus, waterfalls are displayed properly on my HTML results.

I get Failed to load resource error in my log.

[2019-02-25 19:26] soulgalore commented on #2343
Do you run your own WebPageTest instance? Can you share your config so I can try to reproduce?
Best
Peter

[2019-02-25 19:29] soulgalore commented on #2341
Ok, the Grafana db is only for annotations. Have you mounted the whisper file for Graphite (as in the running Graphite in prod instructions) or do you run everything in the container? I’m on vacation this week but can help out later this week with better instructions when I’m back online.
Best
Peter

[2019-02-25 19:30] soulgalore commented on #2348
I wonder if the content change om the site and we don’t take of the change. I’m on vacation this week but will have a look later this week when I’m back online.

Best
Peter

[2019-02-25 19:35] soulgalore commented on #2347
The variation usually depends on either the server you use to run the test and the content that is served. For most sites First Visual Change is a ok metric to focus on since best case ads etc will not change that metrics (if it do you need to check your inplementetion).

Best
Peter

[2019-02-25 19:43] leathej1 commented on #2341
Oh! Don't worry - I'll try some things and follow up next week if I get
stuck again.

Have a great holiday!

On Mon, Feb 25, 2019 at 12:29 PM Peter Hedenskog <notifications@github.com>
wrote:

[2019-02-25 20:42] vladmgy commented on #2343
This is what my config looks like:
`{
    "gzipHAR": true,
    "browsertime":{
        "connectivity":{
            "profile":"cable"
        },
        "video": false
    },
    "html": {
        "fetchHARFiles": true
    },
    "graphite": {
        "host": "GRAPHITEHOST",
        "httpPort":80,
        "auth":"USER:PASS"
    },
    "slack": {
        "hookUrl": "SLACKHOOK",
        "userName":

[2019-02-25 20:57] soulgalore commented on #2343
Do the screenshots exist on the WebPageTest server if you check the result page there?

Best
Peter

[2019-02-25 21:00] vladmgy commented on #2343
This is what on the WPT server inside of the results directory for any run. So yeah, it seems that those exist there.

<img width="1232" alt="screen shot 2019-02-25 at 12 59 26 pm" src="https://user-images.githubusercontent.com/47903966/53368300-38a92000-38fd-11e9-8f26-3b2d16984219.png">

[2019-02-26 07:18] lukaszmorawski commented on #2338
Hi,

That would be great to have that, since the old way gave a lot of freedom and flexibility in term of budgets.
Thanks, I guess we can close this one.

best regards,
Łukasz Morawski

[2019-02-26 09:21] gidztech commented on #2310
Hi @soulgalore. Just got around to looking at this again. Been a busy few weeks.

Thanks for adding the guard. It no longer errors out. However, when I download the Timeline, the data inside the file is not valid JSON. It's a load of random encodings by the looks of it.

![Timeline](https://i.imgur.com/X2dqfjxl.png)

The rest of the report looks fine. I can see the page rendered correctly, the vid

[2019-02-26 10:48] rockmax-rajat opened #2349 "[Info needed] CPU Metrics support in Firefox browser"
As far as I can make out, we are supporting CPU metrics like scripting, painting, rendering etc only in Chrome.
Are we supporting these in Firefox as well?

If not, are there any plans to add this in future sitespeed releases?

[2019-02-26 14:29] Staicul commented on #2348
Wow, that was responsive. Nice! 👍
Additional info: if the measure.start() command is moved before the navigation, the error is not thrown.

Thanks!
Andrei

[2019-02-26 14:45] dhAlcojor opened #2350 "Error trying to install using npm on Windows 10"
Hi, I was trying to install sitespeed.io using npm on Windows 10 with the following command:

`npm install -g sitespeed.io`

After installing python (first error I got) I'm getting this one:
![image](https://user-images.githubusercontent.com/567687/53421059-3f0ec900-39dd-11e9-8e0c-ddc462445de4.png)

[2019-02-26 17:56] soulgalore commented on #2350
Hi @dhAlcojor
we only support Docker on Windows see https://www.sitespeed.io/documentation/sitespeed.io/installation/#windows-1

Best
Peter

[2019-02-26 18:03] soulgalore commented on #2348
I wonder if the Google check is part of the problem:

<img width="473" alt="screen shot 2019-02-26 at 19 00 29" src="https://user-images.githubusercontent.com/540757/53435350-e5b49300-39f8-11e9-91d8-2a9810852e25.png">

Do you know if this was turned on before when it used to work? If you watch the screen when you run your test, do you see that everything looks ok or do can you see something specia

[2019-02-26 19:36] soulgalore commented on #2349
Yes when Firefox add supports for it. There's an upstream tracking bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1250290

Best
Peter

[2019-02-26 19:36] soulgalore commented on #2349
Closing until FF supports it.

[2019-02-26 19:36] #2349 closed

[2019-02-26 19:39] soulgalore commented on #2310
Aha, interesting, looks like an upstream bug then, either in Chrome or Chromedriver. I've seen that we sometimes on dashboard.sitespeed.io also gets problems getting the trace log but I haven't actually looked into the actual log. I've check next time it happens and if it is the same I'll create an Chromedriver bug and ask for help.

[2019-02-26 19:44] soulgalore commented on #2338
I added pageLoadTime that I'll merge when we release next minor release, maybe the coming weekend.

Best
Peter

[2019-02-26 19:44] #2338 closed

[2019-02-26 19:47] soulgalore commented on #2343
Ok, then I think it's either a WebPageTest API or server issue? I've missed, is it your own WPT instance or WebPageTest.org? If it's your own instance you could check the error logs if you can see the failing requests? Right now we send all the requests at the same time, maybe the WPT server can't handle that and we should add some delay.

[2019-02-27 07:21] dhAlcojor commented on #2350
I see. Thank you!

[2019-02-27 07:21] #2350 closed

[2019-02-27 09:02] Staicul commented on #2348
I never get the captcha now, but I don't think it's part of the problem, as it happened for it to pop up in the past and I was still able to get the report.
Nothing special happening in any of the steps, things are working as expected.

[2019-02-27 11:43] gidztech opened #2352 "Add ability to run additional start script in Docker container"
**Background**
There's an existing issue where the Lighthouse plugin doesn't work when you run it against a web app that has self-signed/invalid certificates. See https://github.com/sitespeedio/plugin-lighthouse/issues/3 for details.

It looks like it's down to the Lighthouse team to add the ability to ignore certificate errors at the DevTools protocol level. The ignore `--ignore-certificate-error

[2019-02-27 12:46] gidztech commented on #2307
I can confirm that the budgets are working for me using the new version. Thanks for fixing that! 👍

[2019-02-27 12:47] #2307 closed

[2019-02-27 18:12] vldslvmgy commented on #2343
It's my own instance. I don't really see any failing requests there.

So, there is nothing on sitespeed side that can cause this issue? I just find it weird that waterfalls are getting retrieved properly, but not the screenshots. There are no additional flags I need to enable to retrieve WPT screenshots?

[2019-02-27 19:03] soulgalore commented on #2343
Getting screenshots works without any extra config on WebPageTest.org as in https://github.com/sitespeedio/sitespeed.io/issues/2343#issuecomment-466647562  - Do you have an [API key](https://www.webpagetest.org/getkey.php) so you can try your page there? I think what we maybe could do is to not send all the request to the WebPageTest API at once if the problem is that the server can't handle the r

[2019-02-27 22:19] leathej1 commented on #2341
I added a new test and experienced the same behavior, if that helps. I'm
still struggling to manage the mounting of graphite.db, so I haven't
checked to see if I can clear those columns out and try again.

James

On Mon, Feb 25, 2019 at 12:43 PM James Leatherman <
james.leatherman@gmail.com> wrote:

[2019-02-28 02:35] gety9 commented on #2347
@beenanner @soulgalore

got it

got it

When recording site speed it must be exactly same website that users see (including all tags - like GTM, Google Analytic, FB pixel, Mouseflow, etc) - correct?

We have interal cookie that disables all tags, and that's what we were planning to use not to litter analytics/stats with sitespeed tester visits, but this way i guess results will not be 100% accurat

[2019-02-28 07:23] soulgalore commented on #2347
Aha, I think you should test both then, because then you can more easily keep track of how much the tags impact performance. It's easier then to see if some of your own code changes impact the performance vs the tags.

Best
Peter

[2019-02-28 07:32] soulgalore commented on #2341
Ok, I couldn't reproduce locally it when I tried last week but let me set up the use case on another server where more logs to collect so I can see what happens.

[2019-02-28 09:12] luisxiaomai commented on #2348
I also met this issue using `click.byXpathAndWait`

[2019-02-28 12:07] soulgalore commented on #2348
Hi @luisxiaomai could you create a separate issue showing how you run so we can reproduce, that would help us a lot!
Thanks
Peter

[2019-03-01 08:00] luisxiaomai commented on #2348
@soulgalore my issue is due to the login submit click was not really triggered, I have fixed it. Thanks for your tools and ecosystem.

[2019-03-01 11:46] LionOnTheChase commented on #2327
Thanks Peter for your detailed explanation. Yes, I will start with one important user journey to begin with.

[2019-03-01 12:25] gety9 commented on #2347
@soulgalore

1

looked more into it, and tools (GA, FB pixel, etc) do not have option to exclude by cookie, so the only way is to attach static IP to testing instances and exclude by IP. But than you have to pay for unused IPs when instances are stopped. i guess we will just test with tags disabled for now (will disable all tags in GTM which has option to filter by cookie).

2
Also in your experie

[2019-03-01 12:45] soulgalore commented on #2347
Yeah that seems strange, look into the HAR/waterfall and verify that everything looks right (look at the ttfb/download times to see that the throttling/connectivity really works). Adding latency should make things slower so the longer from the source, the slower load.

[2019-03-01 14:20] gety9 commented on #2347
@soulgalore

Do you mean to look at "receive"? For page itself and first css file london's receive is much much faster than for ohio https://puu.sh/CTwCr/554f40b012.png

that's what i expect too

[2019-03-01 14:43] soulgalore commented on #2347
Sorry I missed how did you setup https://www.sitespeed.io/documentation/sitespeed.io/connectivity/ ?

[2019-03-04 01:32] gety9 commented on #2347
@soulgalore

Seems like problem was with how docker resolves DNS on different Ubuntu versions.
https://github.com/docker/libnetwork/issues/2187

After Ubuntu update on london instance results look more trustworthy:
https://puu.sh/CUJHT/97e0b119eb.png
Could you please confirm that now everything looks right?

Also do i understand it correctly that when comparing 3g ohio and 3g london that "receive"

[2019-03-04 05:54] luisxiaomai opened #2356 "Annotations help"
I followed annotation section from https://www.sitespeed.io/documentation/sitespeed.io/performance-dashboard/.

When I run command with `--graphite.host=127.0.0.1 --graphite.auth guest:guest --resultBaseURL=http://127.0.0.1:9900 --graphite.annotationScreenshot` parameters, I got bellow error:
[code]

What's wrong here? Tanks for any help...

[2019-03-04 06:42] soulgalore commented on #2347
So what kind of connectivity are you using, you didn't answer that? If you don't set a connectivity it will run on the current internet connection on the host.

[2019-03-04 06:49] soulgalore commented on #2356
Hi @luisxiaomai The error is that it cannot send the metrics to Graphite, how do you run sitespeed.io? If you run inside of a Docker container it will map 127.0.0.1 to that container not localhost on your server.

Best
Peter

[2019-03-04 08:09] luisxiaomai commented on #2356
@soulgalore , I run graphite , grafana, sitespeed.io in one server. Run sitespeed.ios like  `docker run --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io:8.6.4 -n 1 script.js --multi --graphite.host=127.0.0.1 --graphite.auth guest:guest --resultBaseURL=http://127.0.0.1:9900 --graphite.annotationScreenshot`. Run graphite, grafana use docker-compose followed https://www.sitespeed.io/documentat

[2019-03-04 09:53] luisxiaomai opened #2357 "'document.body.style.display = "none" can not make background white"
Use below code from https://www.sitespeed.io/documentation/sitespeed.io/scripting/#pass-your-own-options-to-your-script. If you want to click a link and make sure the background is white, you can hide the HTML and then click the link.

But from the result video, it can not make sure the background is white.
[code]
![Uploading 企业微信截图_d6205aaf-f39a-484c-abf3-6bf0318bae26.png…]()

[2019-03-04 11:21] gety9 commented on #2347
@soulgalore

we are using docker network
https://www.sitespeed.io/documentation/sitespeed.io/connectivity/#docker-networks

[2019-03-05 21:27] leathej1 opened #2358 "InfluxDB - groupSeparator is only applied to one summaryType"
Sitespeed.io 8.6.5

```"influxdb": {  ...  "groupSeparator": ".",```

When this config option is set, only the Summary type is formatted correctly, as I query the data in InfluxDB.

[code]

[2019-03-06 03:25] luisxiaomai commented on #2356
@soulgalore , I solved annotation based on your comments and enabled it in grafana. Thanks again.

[2019-03-06 03:25] #2356 closed

[2019-03-06 04:41] soulgalore commented on #2356
Ah great, I've missed getting back, sorry.

[2019-03-06 04:50] soulgalore commented on #2358
Checked the code, we don't change it for pageSummary (and miss turning it into a safe key) ... let think a while of the best solution to fix it so we are backward compatible.

[2019-03-06 15:15] MaximSergeichik opened #2364 "Unable to run few containers of sitespeed.io"
Hi,

I faced an issue with the run of the sitespeed.io through docker containers.
When I try to run test while previous one is not finished I receive following error:
`[2019-03-06 14:53:17] ERROR: [sitespeedio.queuehandler] Error: _XSERVTransSocketUNIXCreateListener: ...SocketCreateListener() failed
_XSERVTransMakeAllCOTSServerListeners: server already running
(EE)
Fatal server error:
(EE) Cannot

[2019-03-06 15:24] soulgalore commented on #2364
Hi @MaximSergeichik  I never tried running multiple containers since the metrics probably will be affected. Checking duckduckgo it seems to be CentOs? What you can do is run headless. (--headless) but then you also need to disable xvfb (--browsertime.xvfb false) and disable video (--browsertime.video false and --browsertime.visualMetrics false). I think thats's the right parameters.

Best
Peter

[2019-03-06 15:29] MaximSergeichik commented on #2364
Hi @soulgalore,

Yes, I use Centos.
As far as I know there shouldn't be any affect on the metrics if there is enough hardware resources on the machine. Maybe you can look for some solution for this situation since run headless is not suitable for my purpose.

Best Regards,
Maksim

[2019-03-06 15:51] soulgalore commented on #2364
Try it first on Ubuntu/Debian and see if it is an CentOS issue. Also if you haven't read checkout the Lighthouse docs for throttling https://github.com/GoogleChrome/lighthouse/blob/9ba7199409c6142b9e64892eb4f33d446e7072a5/docs/throttling.md to get stable metrics.

Best
Peter

[2019-03-07 02:48] xxyuk opened #2365 "Day.js official UTC plugin"
In dayjs v1.8.9 there is a packed UTC plugin, you could simply `import UTC from 'dayjs/plugin/utc'`, to set Day.js in UTC mode.

We might could give it a try, to keep update with the original package.

This is also referenced in #2233

[2019-03-07 05:30] soulgalore commented on #2365
Hi @xxyuk aha cool, yes let us try that.

Best
Peter

[2019-03-07 07:24] iamkun commented on #2365
Great, I'm glad to help if needed. 😁

Cheers!

[2019-03-07 07:25] soulgalore commented on #2365
@iamkun great, if you have time please do a PR :)

Thanks
Peter

[2019-03-07 14:20] conraid opened #2366 "lib/plugins/html/assets not present in npm package"
There isn't _lib/plugins/html/assets_ directory in the _https://registry.npmjs.org/sitespeed.io/-/sitespeed.io-8.7.1.tgz_ and 8.7.0 packages.
And the command ends with...
`[2019-03-07 15:06:12] ERROR: Error: ENOENT: no such file or directory, stat '/usr/lib64/node_modules/sitespeed.io/lib/plugins/html/assets'`

[2019-03-07 14:21] soulgalore commented on #2366
Hi @conraid can you show me how you run?
Best
Peter

[2019-03-07 14:24] conraid commented on #2366
`$ sitespeed.io -b firefox https://conraid.net`

If you look in package on registry.npmjs.org see that the dir is missing, which instead is presented in the repository and in the tar.gz file downloadable from github.

I'm sorry for my bad english.

[2019-03-07 14:30] soulgalore commented on #2366
Thanks, I made a mistake in the .gitignore file. It should work now when npm updates to 8.7.2. Thanks for reporting the issue!

[2019-03-07 14:35] soulgalore commented on #2366
And running the Docker container it worked, however Travis should (or we should make sure) Travis fails if this happens again.

[2019-03-08 20:26] aravindhan87 opened #2369 "How to set cookies for preURL"
Hi ,

I am trying to warmup the static assets for the page which are yet to be live in production.

To do so I am setting up the preURL and corresponding cookie followed by the real page.

Looks like preScript is not honoring the cookie and taking me to the old page.

Can you please help me here.

Command I am using.

docker run --shm-size=1g --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io

[2019-03-09 14:09] soulgalore commented on #2369
Hi @aravindhan87
hmm that part is poorly documented. When I look in the code, the preURL happens before we set any cookies. That should probably change.

For you to get it to work, you can try out doing [a script](https://www.sitespeed.io/documentation/sitespeed.io/scripting/): Set the cookie, navigate to the first URL and then measure the second. If you use the navigate command, the cookie will b

[2019-03-11 06:07] soulgalore commented on #2365
Fixed, going out in the next release.

[2019-03-11 06:07] #2365 closed

[2019-03-11 06:08] xxyuk commented on #2365
Cool

[2019-03-11 11:03] PedroMSantosD opened #2371 "Add favicon transferSize to budget file"
Hi, current Budget suport ignores favicon tranfer size;

this is my budget file
[code]
This is my test report:
[code]

Could you kindly have it addded to validation list on budget processing ?
it is not on this request:
https://github.com/sitespeedio/sitespeed.io/pull/2253/files

![Screen Shot 2019-03-11 at 11 59 46](https://user-images.githubusercontent.com/17711131/54119418-90fc1980-43f5-11e9-9a

[2019-03-11 11:33] PedroMSantosD commented on #2371
Btw: old format works like a swarm.
config:
[code]

outcome:
[code]

[2019-03-11 13:52] soulgalore commented on #2371
Yep you are right, currently we only have support for these ones in the new budget format: https://www.sitespeed.io/documentation/sitespeed.io/performance-budget/#full-example

Any chance you can do a PR for adding it? I'm pretty busy this week but can do it the next week.

Best
Peter

[2019-03-11 15:05] georgsh opened #2372 "Cannot read property 'replace' of null"
Hello. I also faced this unclear error message, like many others, spent alot of time with it.
[2289](https://github.com/sitespeedio/sitespeed.io/issues/2287)
[2287](https://github.com/sitespeedio/sitespeed.io/issues/2289)

Is it possible to check all measure.stop() is called for every measure.start() explicitly and display error message like "You should call measure.stop(), check this docs -> ....

[2019-03-11 16:00] soulgalore commented on #2372
Yeah it isn't optimal the way it is now. I've been thinking of adding an automatically stop after a navigation (and keep it backward compatible) but I'm not 100% sure.

I'll look into how to add it lo the log, but sure need to look. The things is that you need top read the docs on how to implement the scripting and somehow it's super hard to read the stop() stuff :) But its seems to be a use case

[2019-03-12 05:14] soulgalore commented on #2341
Adding some extra info here: I got reproducible test case from @leathej1 and it helps so much to get reproducible test case. The problem was that alias of the URL is sent on the queue, but in some cases the alias was sent after other messages with metrics, so those metrics used the URL instead of the alias. Fix coming up soon.

[2019-03-12 10:31] PedroMSantosD commented on #2371
Hi, I have added this pull request:
https://github.com/sitespeedio/sitespeed.io/pull/2374

Best Regards,

[2019-03-12 16:53] leathej1 commented on #2341
👍

[2019-03-13 08:39] soulgalore commented on #2372
Hi @georgsh I've just pushed 8.7.5 that catches if you miss calling stop and also log it, so hopefully (if it works 100%) it will make it a lot easier to run scripts.

Thanks for creating the issue!

Best
Peter

[2019-03-13 09:22] georgsh commented on #2372
@soulgalore awesome!

[2019-03-13 09:33] #2372 closed

[2019-03-13 15:29] Icecold777 opened #2375 "VisualMetrics degradation after update"
Hello,

I've been using sitespeed.io 7.7.2 for a long time just to have valid metrics which I can compare from release to release excluding measuring tool influence.
Recently I've updated to 8.7.5 and now see high VisualMetrics (85,95,99) degradation up to 3 times at 3g connectivity network profile (cable looks the same).
I tried different older images and found out that it started from 8.0.0 Site

[2019-03-13 20:57] soulgalore commented on #2375
Hi @Icecold777 there has been changes in Visual Metric on how to know when a there are no difference in pixels see https://github.com/sitespeedio/browsertime/blob/master/CHANGELOG.md#447---2019-02-21 but that should mean that LastVisualChange happens earlier in newer release. When each screenshot are compared (to find if a screenshot looks the same as other = no change) Visual Metrics use a fuzz f

[2019-03-13 23:05] vldslvmgy commented on #2343
Sorry for a break. I checked the resource usage of my WPT instance. It seems fine even when running tests my usage is not exceeding limit.

[2019-03-15 22:34] leathej1 opened #2376 "Video recording fails when multiple 'await commands.measure.start' used"
Docker, current version (8.7.5) but I have noticed this for two months

I am noticing that a script with one 'await commands.measure.start' will process video correctly, but a script with more than one will throw 'ERROR: The video recording start is zero, either no orange is there in the video or VisualMetrics failed.'

I have tried using 'await commands.js.run('document.body.innerHTML = ""; docum

[2019-03-15 22:57] leathej1 commented on #2376
One correction: This is an SPA, but the --spa flag has always resulted in timeouts for me. So I use urls to change routes, and it is when I have two 'await commands.measure.start' commands that are within the same SPA that I see this happen. However, if the second 'await commands.measure.start' is a different page (the logout page, for example), then I do not see this error.

[2019-03-18 07:38] soulgalore commented on #2376
Hi @leathej1 sorry the late answer. Most of the cases there are two things that could fix this:
1 Are you running with any connectivity limitations as in https://www.sitespeed.io/documentation/sitespeed.io/connectivity/ ? If you run without any I've seen this too.
2.  What kind of instance do you use when you run your tests, I've seen these errors on Travis, so I think at the moment if you run on

[2019-03-18 07:41] soulgalore commented on #2343
Ok, so if I understand: It looks fine own WebPageTets instance, and if you test to use WebPageTest.org using your API key, it also looks ok, but you get the same error from sitespeed.io that you don't see any screenshots, is that correct?

[2019-03-18 10:43] atiro opened #2377 "Disabling saving of report/video"
I'm trying to disable the screenshots/videos being saved to disc for some runs to save space. I'm passing the options '--plugins.remove screenshot --plugins.remove html --video=false' but it seems to have no effect. Are there any other flags I should/can set ? I don't want to disable visualMetrics being generated or the HAR data being saved, but I don't want the large image/video files retained af

[2019-03-18 10:58] soulgalore commented on #2377
Hi @atiro thanks for creating the issue! Hmm I think it's bug for disabling the screenshot. First the documentation isn't reflecting the latest version(s) and it should work with --browsertime.screenshot false or something like that, but it doesn't. Let me have a look at it tonight.

Disable video works for me if I run like this:
`docker run --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io

[2019-03-18 11:14] atiro commented on #2377
Hi Peter,

Thanks for the speedy reply. I'm running:

docker run --network sitespeed_default --rm -v [PATH]:/sitespeed.io sitespeedio/sitespeed.io -d 1 -r /tmp/ --graphite.host=graphite --plugins.remove screenshot --plugins.remove html --video=false [URL]

which retains both screenshots and videos.

If I use --visualMetrics=false as well, videos are not kept but screenshots still are:

docker run

[2019-03-18 13:50] leathej1 commented on #2376
1. Native connectivity - no throttling.
2. This is a pretty beefy EC2 instance with plenty of overhead.

[2019-03-18 17:32] soulgalore commented on #2376
Ok, then turn on throttling, else your metrics will vary depending on what connectivity your instance have at the moment see https://www.sitespeed.io/documentation/sitespeed.io/best-practice/#throttle-or-not-throttle-your-connection

Best
Peter

[2019-03-18 18:19] leathej1 commented on #2376
Cable should be sufficient, correct? I have tried that profile and still
see the same result.

On Mon, Mar 18, 2019 at 10:33 AM Peter Hedenskog <notifications@github.com>
wrote:

[2019-03-18 19:59] soulgalore commented on #2377
Hi @atiro I've pushed a fix for screenshots (but not merged yet). I cannot reproduce the video though.

Can you try:
`docker run --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io:8.7.5 --video=false --plugins.remove screenshot --plugins.remove html https://www.sitespeed.io/ -n 1`

and see how that works for you?

Best
Peter

[2019-03-18 20:11] soulgalore commented on #2376
Yep should do so then there's something else.

[2019-03-18 23:03] r-s-sandbox opened #2380 "local sitespeed.io and webpagetest in separate docker containers"
I am struggling to get a local instance of sitespeed.io to play nicely with local wepagetest running in a separate container. Here is my setup:

- webpagetest server running on localhost:4000
- webpagetest agent running on localhost:4001
- sitespeed.io setup using docker-compose with instructions from "Up and running"

Here is what I've tried so far:

1. tried using --graphite.host=graphite and --

[2019-03-18 23:22] soulgalore commented on #2380
Hi @r-s-sandbox ok lets see. Localhost will not work inside of Docker because inside of the Docker container of sitespeed.io, localhost will be that container and not WebPageTest. If you are on a Mac and use a newer version of Docker you can use `host.docker.internal` to reach your local computer (see https://www.sitespeed.io/documentation/sitespeed.io/docker/#access-localhost) with any extra host

[2019-03-19 10:03] PedroMSantosD commented on #2371
closing as PR has been merged

[2019-03-19 10:03] #2371 closed

[2019-03-19 14:40] primehaxor opened #2381 "ERROR: Could not upload to Google Cloud Storage"
Hello!

During the page tests, I had some problems during the GCS upload part, I've got two different problems ( I've suppressed the message since it prints my SA key... )

1 -
[code]

2 -
[code]
Every 4 to 6 request I get into this error...

**docker command:**
[code]

Isn't it possible to retry or add some option to set the number of retries?

[2019-03-19 14:49] soulgalore commented on #2381
Hi @primehaxor it looks like a DNS problem when I looked for the error. Maybe you can try setting up multiple DNS servers as in https://development.robinwinslow.uk/2016/06/23/fix-docker-networking-dns/.

I remember in the early days of Docker it sometimes helped to restart the Docker daemon.

Best
Peter

[2019-03-19 15:54] jasondewitt opened #2383 "downloaded graphite.db missing Tag tables"
I'm working on getting the sitespeed.io performance dashboard set up for a production deployment, I am working with the provided docker-compose file (converting it to an ansible playbook) on a server running Centos 7.

 I have noticed a problem with the blank graphite.db I download from the github repo at https://github.com/sitespeedio/sitespeed.io/blob/master/docker/graphite/graphite.db
This down

[2019-03-19 15:57] soulgalore commented on #2383
Hi @jasondewitt thanks for creating the issue! I think you are right, it needs to be updated. I think I created it before tags was introduced in Graphite (tags for metrics). Tags for annotations should work out of the box. Any change you can contribute a clean updated version?

Best
Peter

[2019-03-19 15:59] jasondewitt commented on #2383
@soulgalore yeah, that is possible. I just spun up a fresh copy of the graphite container and copied graphite.db out of there. Im looking it over to make sure it is actually blank. If it looks good I will submit a PR

[2019-03-19 20:23] #2383 closed

[2019-03-19 20:46] bryanspears opened #2385 "Reports over multiple domains merge/muddle results"
Running on Ubuntu 18.04 on a Jenkins slave headlessly.

[code]

[2019-03-19 20:51] soulgalore commented on #2385
I see that as a feature so that you actually can compare diff between two sites :) For me its not a biggie but maybe it is because I'm so used to it.

[2019-03-19 21:09] bryanspears commented on #2385
That does sound like a good feature. However, the view displayed above shows "for google.com" but shows all domains (for all URLs processed) in the table. I don't see that as a comparison.

[2019-03-20 09:06] primehaxor commented on #2381
Hello @soulgalore you were right, looks better now!

thx for you help!

[2019-03-20 19:34] soulgalore commented on #2381
Great!

[2019-03-20 19:34] #2381 closed

[2019-03-20 19:55] soulgalore commented on #2385
Yeah the name in the header isn't perfect ... lets see if there's a way to fix that. At the moment you can give a name to your test with --name but it would be better if not only used the first URL you add.

[2019-03-21 16:15] richardmcsong opened #2389 "Missing 8.8.0-plus1"
Hi! I tried pulling 8.8.0-plus1 from docker, but the manifest didn't exist:
```Error response from daemon: manifest for sitespeedio/sitespeed.io:8.8.0-plus1 not found```
Tried looking on dockerhub itself, and it doesn't seem to be there either.

[2019-03-21 17:59] soulgalore commented on #2389
Thanks @richardmcsong for creating the issue. Something went wrong with the built and I pushed the version to the Docker hub now: https://cloud.docker.com/u/sitespeedio/repository/docker/sitespeedio/sitespeed.io

Best
Peter

[2019-03-21 20:22] richardmcsong commented on #2389
Looks like you pushed 8.0.0 instead of 8.8.0.
![Screen Shot 2019-03-21 at 4 21 28 PM](https://user-images.githubusercontent.com/9144514/54782495-6da34c80-4bf5-11e9-9a44-92f154378196.png)

[2019-03-21 20:24] soulgalore commented on #2389
Ooops, you are right. 8.8.0 is there now.

[2019-03-22 09:56] Staicul commented on #2348
Any updates on this one, @soulgalore ?

[2019-03-22 10:09] soulgalore commented on #2348
I never tried it after the captcha was gone, sorry I missed that.

[2019-03-22 10:51] soulgalore commented on #2348
I get the captcha on every try, I don't get the error. What does it look like for you?

[2019-03-22 10:55] guruannapantula opened #2390 "Browser navigates back to initial state on starting the measurement"
Im trying to run on android mobile (chrome) from a VM (ubuntu).
Below is the command Im running on VM terminal
`docker run --privileged -v /dev/bus/usb:/dev/bus/usb -e START_ADB_SERVER=true --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io:8.8.0  -n 1 --browsertime.chrome.android.package com.android.chrome --browsertime.xvfb false flows/login.js --multi`

The test starts fine on the mobile d

[2019-03-22 11:05] soulgalore commented on #2390
On Android Browsertime uses a data:text/html; URL to set the background to orange before it navigates ... ah I see and you click a button right? We should probably change that when you run in multi mode. We use the data:text URL because it introduces less lag on the metrics. Yep we should change, let me do that tonight and do a fix release.

Best
Peter

[2019-03-22 15:12] richardmcsong commented on #2389
Verified. Closing.

[2019-03-22 15:12] #2389 closed

[2019-03-22 16:50] Staicul commented on #2348
I still get the same error:

[code]

I tried running from an external network and indeed the error is not there when you get captcha. I will talk to the team responsible for this and see whether they can deactivate the verification for that particular account. Will get back to you. Thanks!

[2019-03-22 19:08] soulgalore commented on #2348
Hmm strange, I should still have got it right? Its the script in https://github.com/sitespeedio/sitespeed.io/issues/2348#issue-414149852 ? I'll try again later today/tomorrow.

[2019-03-22 19:49] soulgalore commented on #2376
Hi @leathej1 I've pushed a new release 8.8.2 that adds some logging so it logs the full output from Visual Metrics. If you can upgrade to 8.8.2 and then add `--verbose` and then look for the log row containing: `visualmetrics.py output` ... that row will help us (for the case when you get **The video recording start is zero,**

Best
Peter

[2019-03-22 20:38] guruannapantula commented on #2348
Flow which works
- loading https://www.kolikkopelit.com
- *start the measurement*
- click on login button --> *a modal appears*
- enter credentials and click login
- stop the measurement ( url is the same )
- scroll down
- Start another measurement
- click logout
- stop measurement (same url)

Flow which doesn't work
- loading https://www.kolikkopelit.com
- click on login button --> *a modal appea

[2019-03-23 19:39] soulgalore commented on #2348
Hi @guruannapantula the `Cannot set property '_meta' of undefined` seems to happen If there's a missing page ... so I wonder when you login the page, does it generate a request? To be able to measure something it needs to generate a request. One way you could help me try, is to run with Firefox (since the HAR is generated in different ways).

Best
Peter

[2019-03-23 19:45] soulgalore commented on #2348
@Staicul can you guide me so I'm sure I run the same way as you do?

I use the exact script as in: https://github.com/sitespeedio/sitespeed.io/issues/2348#issue-414149852

And then run: `docker run --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io:8.8.1 script.js --multi`

Best
Peter

[2019-03-25 08:23] guruannapantula commented on #2348
checked on firefox and it works fine on Firefox! Only on chrome we get the Cannot set property '_meta' of undefined error

[2019-03-25 12:50] Staicul commented on #2348
Hi @soulgalore, since you would always get captcha after login (due to accessing the site from an external network), I was able to find another scenario that produces the error and does not require authentication. The script is the following:

[code]

I run it locally with
[code]
but I was able to get the error in the dockerized run as well. Please let me know if I can be of further assistance.

[2019-03-26 19:00] soulgalore opened #2392 "--useHash not working?"
I did a quick test and it seems like --useHash isn't working (got alot of errors for videos not being found) but --spa works on #-urls. Need to investigate if something is broken.

[2019-03-26 22:20] soulgalore commented on #2392
fixed for next release

[2019-03-26 22:20] #2392 closed

[2019-03-27 16:44] leathej1 opened #2395 "Waterfall - Request Details - Tab buttons not aligned with button text"
Sitespeed 8.8.3

<img width="646" alt="Screen Shot 2019-03-27 at 9 41 53 AM" src="https://user-images.githubusercontent.com/24658347/55095164-e7fc2280-5074-11e9-8991-ab509ecf6b5c.png">

[2019-03-27 17:19] soulgalore commented on #2395
Hi @leathej1
can you give the exact browser version? This is should probably be an upstream issue in https://github.com/micmro/PerfCascade

If you have time and can try the HAR file in https://micmro.github.io/PerfCascade/ then we know if it's the sitespeed.io version or upstream,

Thanks!
Peter

[2019-03-27 17:21] leathej1 commented on #2395
Sorry - Chrome 73.0.3683.86.

It does align correctly in Firefox.

[2019-03-27 20:20] soulgalore commented on #2395
Ok thanks @leathej1 ! Are you on Windows? Tried 73 on Mac on https://s3.amazonaws.com/results.sitespeed.io/en.wikipedia.org/2019-03-27-18-59-04/pages/en.wikipedia.org/wiki/Barack_Obama/index.html#waterfall and there it works (at least for me) or could it be depending on content?

[2019-03-27 20:30] leathej1 commented on #2395
Oh, weird. The results you provided do not show the issue. Let me find some
local results to send you.

On Wed, Mar 27, 2019 at 1:20 PM Peter Hedenskog <notifications@github.com>
wrote:

[2019-03-28 13:02] Icecold777 opened #2396 "multiple request headers in config file"
Hello, is it possible to provide multiple request headers in config json file? Or command line parameter -r is the only option?

[2019-03-28 13:06] soulgalore commented on #2396
Hi @Icecold777 yes it should be, we need to find a better to document that. You can use an array in your configuration: `['key:value', 'key2:value2']` should work.

Best
Peter

[2019-03-28 14:37] Icecold777 commented on #2396
@soulgalore, thank you, will try this)

[2019-03-28 23:28] morty29 opened #2399 "Issue with daylight saving time"
Hi, I have an issue with daylight saving time, which I believe is either a dayjs issue or of the usage of dayjs.format in sitespeed.
The issue that despite its EDT in new york now - sitespeed is still using EST.
In time in container is working properly, to test that i used `$ docker run --rm -v /usr/share/zoneinfo/America/New_York:/etc/localtime busybox date`

`docker run --shm-size=1g --network=3

[2019-03-29 02:38] xxyuk commented on #2399
According to their change-log, Day.js supports DST since v1.7.7. What's your version, please?

[2019-03-29 07:38] soulgalore commented on #2399
Hi @morty29 and @xxyuk

We [use](https://github.com/sitespeedio/sitespeed.io/blob/master/package.json#L77) DayJs 1.8.9

The log timestamp is from https://www.npmjs.com/package/intel but the file dir (that last dir) should be generated using dayjs. Maybe we create the dayjs object the wrong way?

Best
Peter

[2019-03-29 08:29] xxyuk commented on #2399
I'd like to check if it's a Day.js problem.
And is there a simple code that could reproduce this issue?

[2019-03-29 08:40] soulgalore commented on #2399
Thanks @xxyuk .

This is how we dayjs is used: https://github.com/sitespeedio/sitespeed.io/blob/8bd8c670336888b797fc3b95aa27c95d4ec928e4/lib/sitespeed.js#L49

[2019-03-29 08:43] xxyuk commented on #2399
That's the exact correct usage. However it can't explain the bug in this issue. 😢

[2019-03-29 12:10] soulgalore commented on #2399
@morty29 does it work if you pass on `-e TZ= America/New_York ` to the container?

`docker run  -e TZ=America/New_York --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io -n 1 https://www.sitespeed.io `

Best
Peter

[2019-03-29 14:55] morty29 commented on #2399
Yes, it helped, thank you. Closing.

[2019-03-29 14:55] #2399 closed

[2019-03-29 18:53] leathej1 commented on #2395
New detail: Local results will not display this problem. Only results uploaded to S3 will show this behavior.

[2019-03-29 19:23] soulgalore commented on #2395
Aha, then I would guess it could be that all requests aren't coming through. If you check the network tab of your browser, do you get any 404?

Best
Peter

[2019-03-29 19:25] leathej1 commented on #2395
I thought of that, and no. Everything is there.

On Fri, Mar 29, 2019 at 12:23 PM Peter Hedenskog <notifications@github.com>
wrote:

[2019-03-29 20:49] leathej1 opened #2400 "Annotation URLs missing hash for SPA pages"
8.8.3, Dockerized

Grafana with InfluxDB

When I run a multi step script with several pages in my SPA, the annotations that are created during the run do not have the correct urls for the report pages. This seems to be an issue with only the URLs with hash marks.

For example, the annotation has a URL of:
`http://sitespeed.blahblah.io.s3-website-us-west-2.amazonaws.com/prod-crm_js/2019-03-29-20-00

[2019-03-29 21:04] soulgalore commented on #2400
Thanks @leathej1 for the report, let me try to fix that before the release that goes out tomorrow.
Best
Peter

[2019-03-30 11:20] soulgalore commented on #2400
I made a PR and will merge ASAP. I think I missed implementing using the hash-configuration in one place. Release going today or tomorrow, need to do a blog post first :)

Best
Peter

[2019-03-31 17:59] fholzer commented on #2320
closing, as PR has been merged.
cheers,f

[2019-03-31 17:59] #2320 closed

[2019-04-01 05:52] parag85 opened #2403 "ERROR: UrlLoadError: Failed to load/verify when trying to test https://xxx.xxxx.net.in/ domain"
Hi

Facing following error when tried to run https://staging.ntp.net.in/ domain

docker run --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io:8.9.0 https://staging.ntp.net.in/

Google Chrome 73.0.3683.75
Mozilla Firefox 66.0
[2019-04-01 05:25:53] INFO: Versions OS: linux 4.15.0-44-generic nodejs: v10.13.0 sitespeed.io: 8.9.0 browsertime: 4.5.3 coach: 3.3.0
[2019-04-01 05:25:54] INFO: Running

[2019-04-01 07:21] soulgalore commented on #2403
Hi @parag85 checkout https://docs.docker.com/v17.09/engine/userguide/networking/default_network/configure-dns/ I think that can help.

Best
Peter

[2019-04-01 09:46] Stegozaurus commented on #2348
Hello @soulgalore! I get same error. It to happen if front-end implement "skeleton screens" pattern (that is page not loading but rendering new web-elements). Can sitespeed.io do measuring for skeleton screens? Or can in future?
I reproduce it on Google Chrome 72.0.3626.81 (it works fine on Firefox)

My script (i changed real domen and some personal data):

[code]

My run command:

`docker run --p

[2019-04-01 10:28] soulgalore commented on #2348
Hi @Stegozaurus any chance you can share the full script with me peter [AT] soulgalore [dot] com, then I can have a look tonight. There's something wrong when [converting the Chrome trace log to the HAR file](https://github.com/sitespeedio/chrome-har) and it much easier to try to fix that if I have a concrete example.

Thanks!
Peter

[2019-04-01 13:27] Staicul commented on #2348
@soulgalore Weren't you able to reproduce with the script I provided?

[2019-04-01 16:57] hubchau opened #2406 "How to get metrics from console.log messages?"
Hi,

Not exactly an issue, I just need some help...

I'm trying to gather values that are displayed in `console.log` messages and (hopefully) have them shown in the Sitespeed metrics (back-end rendering time in ms).

Do you think it's doable? Do I have to create my own plugin? Or parse them afterward using a Shell script?

A huge thanks for any tip!

Regards

[2019-04-01 19:01] soulgalore commented on #2406
Hi @hubchau not out of the box. You could [build a plugin](https://www.sitespeed.io/documentation/sitespeed.io/plugins/#how-to-create-your-own-plugin) that catches the **browsertime.console** message type (if you use Chrome and collect the console log that's the message that is passed in the queue), and then get the actual metrics, but it would be some work to do it.

Best
Peter

Best
Peter

[2019-04-01 19:25] soulgalore commented on #2348
@Staicul ah sorry I missed that, but on your script you try to measure closing a modal right, there's no new page load there?

[2019-04-01 19:27] leathej1 commented on #2400
I am still not seeing the hash values reflected in the annotation URL.

[2019-04-01 19:30] soulgalore commented on #2400
Let me have a look tonight.

[2019-04-02 04:15] LeXuanKhanh commented on #2284
how about window ? is there a way to access local host ?

[2019-04-02 04:30] soulgalore commented on #2284
I think windows for Docker implemented the same @LeXuanKhanh else check the Docker documentation.

[2019-04-02 07:52] mliljedahl commented on #1819
@Algram Hi, are you still running this kind of setup with tsproxy? I have tried to set this up with cronjobs  but after a few runs the proxy gets really slow and still I am running it on preemtibles that "restarts" the machine after ~24h. Would be really interesting to know how you manage to do this.

[2019-04-02 18:49] prsriniv opened #2407 "performance.measure() duration"
Firstly,
Thanks so much for such an awesome program. I am using sitespeed.io to actually see if I can get some userTimings off of the site I am testing. I am using sitespeed 8.10.0 (the Npm package) as I am testing a local debug build of mine. I am able to see the performance mark and measure time stamp. Is it possible to get the duration of the performance measure?

As in:
`performance.getEntries

[2019-04-03 10:42] Staicul commented on #2348
That's right, no new page load. But it should still work, right? The dockerized run with firefox is working.

[2019-04-03 19:22] soulgalore commented on #2348
Ah I see, you are looking it record a video and then get like lastVisualChange when the modal is closed? Right now it doesn't work as long as it generates a new page.

When you say it works in Firefox, do you mean you don't get an error or do you get the metric you are looking for?

[2019-04-03 20:01] leathej1 commented on #2400
Hmm. It started magically working in the same version.
"Aliens"

[2019-04-03 20:01] #2400 closed

[2019-04-04 06:48] kabilan-ravi opened #2408 "Chrome generates broken HAR [was Waterfall is not loading in sitespeed report]"
I updated sitespeed to 8.9.0 docker image. Our setup has been connected with graphite db as illustrated in the documentation. Before upgrade the waterfall reports was working good. After upgrade its not displaying properly. The timelines are missing.

Old version: 7.7.2
New version: 8.9.0

Docker image is running in cent os 7
<img width="541" alt="Screenshot 2019-04-04 at 11 26 50 AM" src="https:/

[2019-04-04 06:53] soulgalore commented on #2408
Hi @kabilan-ravi thanks for creating the issue. Only thing I know about is that we changed the font size but it shouldn't be that.  If you check you console when you visit the waterfall page, do you see any error there?

Best
Peter

[2019-04-04 06:56] kabilan-ravi commented on #2408
Hi @soulgalore, yes there are errors in console. Please refer the screenshot. Errors are from perf.cascade.min.js

<img width="1436" alt="Screenshot 2019-04-04 at 12 25 06 PM" src="https://user-images.githubusercontent.com/8100164/55535425-d1894300-56d4-11e9-85bc-75b283138489.png">

[2019-04-04 07:00] kabilan-ravi commented on #2408
I think it happens when one of the timeline data has "NaN ms".

[2019-04-04 07:07] soulgalore commented on #2408
Ok thanks @kabilan-ravi, looks like an upstream issue, if you have time can you create a issue in https://github.com/micmro/PerfCascade/issues (I cannot transfer issues there) and then also include the HAR file is a gist so that it is reproducible.

Thanks!
Peter

[2019-04-04 07:11] soulgalore commented on #2408
Hmm I wonder if the HAR is broken too? Do you use Chrome or Firefox @kabilan-ravi ? Thinking it could be multiple issues, if its something wrong with the HAR for Chrome it something we should try fix on our side.

[2019-04-04 07:44] kabilan-ravi commented on #2408
I am using chrome. I checked the har using har viewer. Seems like its not broken. Please find the har below.
[AllTickets-chrome-2019-04-03075521.har.gz](https://github.com/sitespeedio/sitespeed.io/files/3042232/AllTickets-chrome-2019-04-03075521.har.gz)

[2019-04-04 07:46] kabilan-ravi commented on #2408
@soulgalore Please confirm once you reviewed the HAR. If the issue is with perfcascade i will raise the issue there

[2019-04-04 08:45] soulgalore commented on #2408
Hi @kabilan-ravi yep got It thanks, there are couple of fields that are broken, I use http://www.softwareishard.com/har/viewer/ to verify, so let us keep this task for fixing that and then also if you can create issue in PerfCascade maybe we can catch the errors better there.

[2019-04-04 09:15] kabilan-ravi commented on #2408
@soulgalore Sure. i will add a bug in perfcascade. Any timeline for the fix?

[2019-04-04 13:48] Staicul commented on #2348
When I said it works on Firefox, I meant that I'm not getting the error and it outputs the regular report, video included.
I wasn't looking for any metric with this script that closes the modal. I was just trying to provide you with a way to reproduce the error without authenticating, since you can't use the login script because of captcha. Hope it makes sense.

[2019-04-05 03:47] soulgalore commented on #2348
Ah I see @Staicul sorry I didn't get that. But is it really the same use case? It works like this in the background: We use the Chrome devtools protocol data to generate the HAR file (see https://github.com/sitespeedio/chrome-har), so even though the error looks the same in the error log (there's one page missing) the original error for you is probably caused that we are missing something in the d

[2019-04-05 03:54] soulgalore commented on #2408
Hi @kabilan-ravi can you share exactly how you run so I can reproduce? Tried hitting that URL in the HAR but didn't get the same error.

Best
Peter

[2019-04-05 20:04] leathej1 opened #2409 "Wrong request count when using Firefox browser"
Sitespeed.io 8.10.0 (Docker container)

The requests count on the Summary results page is inaccurate when a test is run in Firefox. The same test in Chrome logs the correct requests count.

Firefox (incorrect):
Run 1: 308
Run 2: 1
Run 3: 1

Firefox (actual):
Run 1: 39
Run 2: 41
Run 3: 39

Chrome (correct):
Run 1: 49
Run 2: 47
Run 3: 43

[2019-04-06 06:12] soulgalore commented on #2409
Hi @leathej1 this thanks for the report and the mail of how you run. Can you share the HAR from the failing run too? I did a quick test on my machine and there it looked ok, so wanna see if I can understand better what happened on the failing run. The number of request should come from the HAR originally (and then it's counted in PageXray), so either something is wrong in the HAR or we count it wr

[2019-04-06 07:35] soulgalore commented on #2409
Ah @leathej1 forget what I said. I could reproduce! Turning on the video recording also gives me the same error. Let me check ...

Best
Peter

[2019-04-06 10:12] soulgalore commented on #2409
The problem is that we In PageXray thought that all requests in the HAR would be in a specific order, but they are not. I'll have a fix but need to test it some more, will do a fix release tonight.

[2019-04-06 13:30] soulgalore commented on #2409
Pushed 8.10.1 that should fix the problem.

[2019-04-06 14:50] leathej1 commented on #2409
Cool - thanks!

[2019-04-08 05:09] kabilan-ravi commented on #2408
@soulgalore We have 6 urls configured in text file and 4 networks (native, 3g, 3gfast and cable). sitespeed runs infinitely in a loop. 3 iterations for each url. Prescript for login into our portal. Also we set the disk cache and media cache to 1 bytes and the firstparty set as --firstParty ".*(support|fassetsblue|fassetsgreen|fassets).freshdesk.com.*"

[2019-04-08 15:10] jyoprakashJP opened #2414 "Sitespeed - Issue with script , need help:- "commands.addText.byId""
Hi,
I am running following scripts and getting error for "commands.addText.byId", need help if I am doing anything wrong.

**This is the whole script:**

 module.exports = async function(context, commands)
   {
  await commands.measure.start('loginPage');
   await commands.navigate('https://en.wikipedia.org/w/index.php?title=Special:UserLogin&returnto=Main+Page');
  await commands.measure.stop();

[2019-04-08 16:00] Staicul commented on #2348
[chromePerflog-1.json.gz](https://github.com/sitespeedio/sitespeed.io/files/3055195/chromePerflog-1.json.gz)

I have attached the perf log of a run that triggered the error after login. Please let me know if there is anything else I can do.

[2019-04-08 17:59] soulgalore commented on #2364
Hi @PedroMSantosD I think you need to specify browsertime for the xvfb parameters, something like ` --browsertime.xvfbParams.display`? I could add an alias in coming releases maybe.

Best
Peter

[2019-04-08 18:05] soulgalore commented on #2414
Hi @jyoprakashJP thanks for the report.

 If you add` --verbose` to your run you will see the error you get. If I run your script naming it test.js: `--multi -n 1 test.js ` it works for me.

Best
Peter

[2019-04-08 19:14] jyoprakashJP commented on #2414
Thanks,
Its working now. Seems I was using 8.9, with 8.10 I did not see any issue

On Mon, Apr 8, 2019 at 2:05 PM Peter Hedenskog <notifications@github.com>
wrote:

[2019-04-09 04:54] MasonM opened #2415 "Proposal: Add option to allow overriding HTML templates"
The HTML templates are great, but it'd be nice if there was some way to customize or override them. This was brought up before in https://github.com/sitespeedio/sitespeed.io/issues/1400

I created a POC that implements this functionality by allowing users to modify the template search path: https://github.com/sitespeedio/sitespeed.io/compare/master...MasonM:override-templates

Since Pug doesn't na

[2019-04-09 05:31] soulgalore commented on #2415
Hi @MasonM ah cool. So what's the use case here? I'm thinking like this: if it is one or a couple of pages you wanna change, maybe we can fix it in another way? Today plugins can register their own pug files through the message queue, maybe we could fix so actually also could override the same way? https://github.com/sitespeedio/sitespeed.io/blob/master/lib/plugins/html/index.js#L77-L89

Meaning f

[2019-04-09 05:42] soulgalore commented on #2001
This is also on my top want at the moment, let me see how we can fix this the coming weeks.

[2019-04-09 05:47] #2408 closed

[2019-04-09 05:47] kabilan-ravi commented on #2408
@soulgalore Issue fixed.

[2019-04-09 06:00] softwareklinic commented on #2001
Awesome

Regards
Keyur

On Apr 8, 2019, at 10:42 PM, Peter Hedenskog <notifications@github.com>
wrote:

This is also on my top want at the moment, let me see how we can fix this
the coming weeks.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_sitespeedio_sitespeed.io_issues_2001-

[2019-04-09 11:48] washingon opened #2416 "ERROR: Could not load URLWebDriverError: chrome not reachable - docker sitespeedio/sitespeed.io:8.11.0-plus1"
On ubuntu 16.04:    -b firefox works, -b chrome does not
same error with sitespeedio/sitespeed.io:8.11.0

~$ docker run --shm-size=1g --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io:8.11.0-plus1 -b chrome http://www.sitespeed.io/
Google Chrome 73.0.3683.75
Mozilla Firefox 66.0
[2019-04-09 11:40:20] INFO: Versions OS: linux 4.4.0-143-generic nodejs: v10.13.0 sitespeed.io: 8.11.0 browsertime

[2019-04-09 12:07] washingon commented on #2416
docker -v
Docker version 18.06.1-ce, build e68fc7a

lsb_release -a
No LSB modules are available.
Distributor ID: Ubuntu
Description:    Ubuntu 16.04.5 LTS
Release:        16.04
Codename:       xenial

[2019-04-09 18:41] soulgalore commented on #2416
Hi @washingon thanks for the report. It was really long time ago since I saw that error. The containers work for me, so I wonder what it can be. Do you have anything else running on that machine? Thinking something breaks the communication between Chrome/Chromedriver?

Best
Peter

[2019-04-09 21:21] soulgalore commented on #2414
There was no related change between those release though. I'll close but let us know if it happens again.

[2019-04-09 21:21] #2414 closed

[2019-04-09 21:21] soulgalore commented on #2409
I verified and it worked for me. Please re-open if you still get this error.

[2019-04-09 21:21] #2409 closed

[2019-04-09 21:26] soulgalore commented on #2407
Hi @prsriniv thanks for the kind words. Sorry I missed your question.

We get the data in Browsertime https://github.com/sitespeedio/browsertime/blob/master/browserscripts/timings/userTimings.js#L21-L27 but I guess then we don't use it/show it in sitespeed.io? Yep that's it, let me fix that.

Best
Peter

[2019-04-09 21:43] soulgalore commented on #2407
I made a PR that shows the duration, this will come in the next release.

[2019-04-09 22:04] prsriniv commented on #2407
@soulgalore Thanks a lot for the PR, You are awesome!

[2019-04-10 00:13] washingon commented on #2416
thanks @soulgalore  I used exact same command on 2 different ubuntu boxes .. one is 16.04 and the other 18.04.  I wanted to keep the test for chrome as simple as possible.  the 16.04 is the GUI version and 18.04 is ubuntu server.  Its all II had available.   firefox browser works great.

If it helps, 8.7.5 works with -b chrome.  8.8.0 and later all fail.  I tried most of the tagged releases with e

[2019-04-10 06:05] soulgalore commented on #2416
Thanks for all the info @washingon !  8.8.0 upgraded to Chrome 73, that's the only thing I could see that could be related.  We run Ubuntu both on AWS and Digital Ocean on the test servers, and there it works so really strange, let me try a fresh box.

[2019-04-10 06:09] soulgalore commented on #2416
Ah I checked the coming Chromedriver (74):

https://chromedriver.storage.googleapis.com/74.0.3729.6/notes.txt

That could be it. Let me upgrade and see that the beta Chromedriver works for 73.

[2019-04-10 06:15] soulgalore commented on #2416
No that didn't work because nowadays the specific Chromedriver must match a specific Chrome version. Can you re-run and just remove `--shm-size=1g `, you shouldn't need that since 8.0 ? Or setup https://www.cyberciti.biz/tips/what-is-devshm-and-its-practical-usage.html

[2019-04-10 12:07] washingon commented on #2416
@soulgalore

on aws ubuntu 18.04 ec2 with sitespeed 8.11.1

sudo docker run --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io:8.11.1 -b chrome https://sitespeed.io -n 1
Unable to find image 'sitespeedio/sitespeed.io:8.11.1' locally
8.11.1: Pulling from sitespeedio/sitespeed.io
Digest: sha256:46cac9e3316e0de9d46a7c02b81b94aa4a089f5bbee45fafa60266ca635c50a5
Status: Downloaded newer image for s

[2019-04-10 12:28] soulgalore commented on #2416
I would guess then that you are using a too small instance, Chrome needs memory. I just tested on a c4.large with Ubuntu Server 18.04 LTS (HVM), SSD Volume Type, it worked.