[2017-05-15 18:01] fhemberger commented on #1612
@soulgalore Updated from 4.x, update went through without any errors. As I said: Not sure this is really related to sitespeed.io, may as well have been an npm hiccup. Just wanted to document it, in case anybody else stumbles over this issue.

[2017-05-16 03:22] beenanner opened #1613 "New plugin - top list per page summary for 3rd party audit / tracking"
Gather the following from a composite listing of all requests from every run for a particular page.

- A list of the top 10 heaviest requests in reverse order.
- A list of the top 10 slowest requests in reverse order.
- A list of the top 10 least performant requests in reverse order. This could be determined by Content Download (ms) / Bytes Downloaded = milliseconds per byte downloaded.

Possible

[2017-05-16 03:33] soulgalore commented on #1613
The lists are almost the same as we have on the "toplist page", maybe we could add those lists to the current assets plugin, if you just configure <code>--firstParty</code>? That would work out fine I think. Sending to Graphite/InfluxDB, let us work on that.

If you agree @beenanner let us setup another issue for what is needed for plugins to work as we want (add HTML/send to TSDB etc).

[2017-05-16 04:07] beenanner commented on #1613
That sounds good to me @soulgalore. :-)

[2017-05-16 04:10] beenanner commented on #1141
This would be nice to also somehow interface with the TSDB plugins so that these custom plugins can also send their data to the TSDB as well. So we have 2 pieces with the first one being a higher priority.

- The interface with outputting standard metrics/data and HTML reporting
- Sending those metrics/data to any of the configured TSDB if specified during the run.

[2017-05-16 04:11] beenanner commented on #1613
https://github.com/sitespeedio/sitespeed.io/issues/1141 for reference to plugin improvements. :-)

[2017-05-16 06:01] soulgalore commented on #1613
We should re-factor assets a little, I think there are room for improvements and make it a little cleaner than today, I can start with that later this week.

[2017-05-16 12:56] soulgalore commented on #1613
@beenanner made a shot at the first two lists, check if it is the way you want.

[2017-05-16 13:34] beenanner commented on #1613
@soulgalore Nice! I'll check it out and see. Thanks!

[2017-05-16 16:34] jffz opened #1615 "Running multiple carbon-cache.py"
I'm currently looking to implement graphite + grafana in my env but i'm actualyl facing a resources consumption issue.

As i gather informations from ~400 hosts, carbon-cache.py tends to eat all memory (16GB), i could add more memory to this host but from graphite documentation, we need to [run multiple carbon-cache.py](http://graphite.readthedocs.io/en/latest/carbon-daemons.html#carbon-cache-py).

[2017-05-16 18:18] jamiegood opened #1616 "config json file not found when using full path"
Hi,

When I run the following command using the full path to the config json file:

[code]
Sitespeed.io fails to run and the output is:

[code]

However when I run the command above with the .json file **relatively**.

[code]

Sitespeed.io runs normally.

[2017-05-16 18:36] beenanner commented on #1612
Thanks for the report @fhemberger I've seen this before with `npm install` where it just "forgets" to install one of the dependencies. I just haven't seen it in a while. I think last time I just ran `npm install` again and it installed the second time. :'(

[2017-05-16 18:37] beenanner commented on #1612
This is another reason we are pushing for using the docker image and be the default preferred install method, that way you don't have to worry about stuff not installing correctly. ;-)

[2017-05-16 18:43] beenanner commented on #1616
Thanks @jamiegood for the report this is the correct behavior as sitespeed will be relative to what's inside of the docker filesystem. `-v "$(pwd)":/sitespeed.io` is the magic that causes the full path to not work as you expect it.

When using docker you will need to specify the full path like so if you are in `/Users/me/sandbox/`:

`docker run  --privileged --shm-size=1g --rm -v "$(pwd)":/sitespe

[2017-05-16 18:44] beenanner commented on #1615
@jffz I have not, but this sounds super cool! Please share with us if you learn anything interesting! :-)

[2017-05-16 19:36] jamiegood commented on #1616
Thank you @beenanner

Yup it's working great now.

I've was working through the instructions on setting up the Performance Dashboard. I'd have some ideas from that experience on how to make the instructions clear. I'll send them on :)

Thanks again!

[2017-05-16 19:36] #1616 closed

[2017-05-17 18:46] beenanner opened #1617 "--mobile option not being passed through to the WPT options during run"
Was testing various options and it appears that `--mobile` is no longer being proxied to the WPT instances when including it in a run. I'll take a look at this later tonight if someone else doesn't grab it before me. :-)

`docker run --privileged --shm-size=1024m --rm -v $(pwd):/sitespeed.io sitespeedio/sitespeed.io:5.1.0  https://www.cnet.com/ --mobile --webpagetest.key xxxxxxxx --webpagetest.loc

[2017-05-17 19:11] soulgalore commented on #1617
Are you sure it ever has? :) I think (but not 100%) that you even in 3.x needed to set the config for WebPageTest, but maybe we could add it.

[2017-05-17 19:52] beenanner commented on #1617
Ah that would make sense. Looking at the code it seems you are right. I think we can convert this into a feature request then. ;-)

[2017-05-17 19:53] beenanner commented on #1617
Not needed right now since we have other more pressing things to work on. :-)

[2017-05-19 20:37] JeroenVdb opened #1618 "Also get WebPageTest HAR result analyzed by the Coach"
When you run browsertime the HAR result gets analyzed by the coach plugin (and others?).

Because I mainly use WebPageTest (which also provides a HAR file) it would be awesome to also have that HAR analyzed.

This doesn't look very hard when I just listen to the `'webpagetest.har'` message in the coach. All data is analyzed and stored correctly at first sight.

What can be a problem is when you wo

[2017-05-19 21:40] beenanner opened #1619 "Upgrade to latest videojs 6"
We should upgrade our videojs implementation to the latest version that was released last month.

http://videojs.com/
http://blog.videojs.com/Video-js-6-0-Release/

[2017-05-20 13:25] worenga commented on #1577
I came across this bug. Changing `--video` to `--videoRaw` helped.

[2017-05-20 18:39] soulgalore commented on #1577
The problem I've seen is that our current solution where we cut the video is pretty bound to the way we do it in Docker, if you record the video under other circumstances it can fail. We have a better solution coming out but that will probably happen after the summer. @worenga did you get the problem in Docker or standalone?

[2017-05-20 19:01] soulgalore commented on #1618
I'm not so into changing the namespace. Since browsertime is default, what about just adding an extra for webpagetest <code>webpagetest.coach.pageSummary</code>?

[2017-05-23 10:21] soulgalore opened #1621 "Many runs breaks the HTML"
I think we have some non breaking spaces:
<img width="1434" alt="screen shot 2017-05-23 at 12 18 57" src="https://cloud.githubusercontent.com/assets/540757/26350058/269cdcb2-3fb2-11e7-95ca-47bdd46044de.png">

[2017-05-23 11:36] gamerlv opened #1622 "summary option TypeError: Cannot read property 'label' of undefined"
When using just the `--summary` option pagespeed.io does not print any result or write any html files.
It does throws out a backtrace listed below.

Either I'm using the argument wrong or this is a bug, either way since it throws out an backtrace I decided to report it.

This was discovered using the official docker container.

I tried older versions but got the same result each time. I've seen th

[2017-05-23 11:39] soulgalore commented on #1622
Hi @gamerlv thanks for reporting, it's a bug lets fix that asap.

Best
Peter

[2017-05-23 19:39] soulgalore commented on #1619
done :)

[2017-05-23 19:39] #1619 closed

[2017-05-23 20:28] soulgalore commented on #1622
Thanks @gamerlv for the detailed bug report, I've fixed it now in master, new release coming up.

[2017-05-23 20:28] #1622 closed

[2017-05-23 20:28] soulgalore commented on #1621
Fixed in master.

[2017-05-23 20:28] #1621 closed

[2017-05-23 20:42] #1607 closed

[2017-05-24 05:05] beenanner opened #1626 "Convert documentation over to docker examples everywhere"

[2017-05-24 05:51] #1626 closed

[2017-05-24 07:37] soulgalore opened #1628 "Show exact browser version used in the HTML"
I think we missed adding the browser version in the HTML.

[2017-05-24 08:18] #1628 closed

[2017-05-24 14:27] rschoessler opened #1629 "performance overhead running sitespeed from docker container?"
@soulgalore
So we are testing out running sitespeed from our build system using the docker container running on a Linux VM.  Initially the VM had 1 cpu and 1GB RAM.  I saw some really slow times when compared to just running sitespeed on my local machine (4cpu and 16GB RAM).  So, we upped the resources to 2 cpu and 8GB ram.  This took my times for firstPaint from 2110ms down to 240ms on my desktop

[2017-05-24 17:53] soulgalore commented on #1629
Hi @rschoessler
normally I wouldn't worry too much of different timings on different machines but 10s is a looong time. You setup Docker networks and limit the connectivity on both machines (as in https://www.sitespeed.io/documentation/sitespeed.io/browsers/#change-connectivity)?

Do you watch the CPU? We run our instances on Digital Ocean (blog post coming up) on a 4gb memory, 2 CPUs, the CPU usa

[2017-05-24 19:13] rschoessler commented on #1629
Thanks @soulgalore. We are not using Docker networks.  We monitored cpu and memory during the tests and they would get to 90% at times for cpu.  ...we'll continue to do some testing here.

[2017-05-24 19:13] #1629 closed

[2017-05-25 03:45] beenanner commented on #1612
Closing as it appears this was a npm install hiccup with the chrome driver and alto-saxophone module. Feel free to reopen if this somehow becomes reproducible.

[2017-05-25 03:45] #1612 closed

[2017-05-25 03:48] beenanner commented on #1591
Closing since this is released an in master.

[2017-05-25 03:48] #1591 closed

[2017-05-25 03:49] beenanner commented on #1604
Closing feel free to reopen @lfventura if @soulgalore solution does not work for you, but it should. :-)

[2017-05-25 03:49] #1604 closed

[2017-05-25 04:02] beenanner commented on #889
With basic support for InfluxDB merged and released. I'm going to close this and we can create additional tickets for improvements. See #1385 for an example.

[2017-05-25 04:02] #889 closed

[2017-05-25 09:42] aliradd commented on #889
Hello Jonathan,

Thank you for the update.

Best,

Ali

On 25 May 2017 at 05:02, Jonathan Lee <notifications@github.com> wrote:

--
CONFIDENTIALITY: This email (including any attachments) may contain
confidential, proprietary and privileged information, and unauthorised
disclosure or use is prohibited. If you received this email in error,
please notify the sender and delete this email from your sy

[2017-05-27 01:12] ftore commented on #1062
Hi guys, I am interested on implementing this feature. Is anybody working on it already?

[2017-05-27 01:24] beenanner commented on #1062
@store I don't believe so. That's great we have a slack channel you can join and we can help and discuss implementation!

[2017-05-27 02:21] softwareklinic commented on #1062
I would join as well

On Fri, May 26, 2017 at 9:24 PM Jonathan Lee <notifications@github.com>
wrote:

--
Regards,
Keyur
Cell: 2147845203

[2017-05-27 02:44] beenanner commented on #1062
Great! :-)

[2017-05-29 03:22] beenanner commented on #1572
I ran this through simplecrawler and it didn't seem to crash for me and made it through almost 5k of URLs.

[code]

[2017-05-29 03:23] beenanner commented on #1572
oops just saw @kj-brown comment so it is giving fetch errors. :-)

[2017-05-29 04:38] beenanner commented on #1572
I ran this against a large sites and the fetch errors didn't seem to occur there around the 200 URL mark. I think this is specific to the www.which.co.uk domain.

[2017-05-29 04:41] beenanner commented on #1572
Here is the js file I threw together.

https://gist.github.com/beenanner/310812658c74f90af3c390809aab393f

[2017-05-29 11:02] krukru opened #1631 "Customize html report"
Is it possible to customise the summary, detailed summary and pages page with custom metrics?

I would like to add the gpsi score and some custom metrics to be displayed on the summary page and add new rows to the detailed summary and new columns to the pages page so I can quickly find problematic entries

[2017-05-29 13:05] soulgalore opened #1632 "Add domInteractive and domContentLoaded to the waterfall graph"
One thing I'm missing today is domInteractive and domContentLoaded in the waterfall graph, right now you need to go to the Browsertime tab, and then back and check the timeline and imagine when it happens.

[2017-05-29 13:08] soulgalore commented on #1631
Hi @krukru we had it in older 3.x versions but in the current version itsn't possible at the moment. By custom metrics, do you mean metrics that you fetched with JS? I think we should automagically add them (we use to do that) at least on some levels. For GPSI we need think about a generic way to handle so we can do it for all plugins.

[2017-05-29 13:14] soulgalore commented on #1632
let us find a nice color for the event too, right now they use the default one.

[2017-05-29 15:00] krukru commented on #1631
Hi @soulgalore

Yes, I wanted to add some custom JS metrics and the gpsi score since it's an important metric in our organisation. The custom JS metrics get added to the summary and detailed summary pages, which is great, but I would also need this for gpsi as well. Like you said, this should be true for other plugins, so it's something to put on the bucket list.

Also, neither JS metrics nor gpsi

[2017-05-29 19:39] soulgalore commented on #1631
cool, yep cool let see, for gpsi we don't do any summary at the moment (so we can push to details/summary page), I was kind of hoping for PRs for that :)

The "pages"-page is hardcoded but let me check the coming days if I can add custom metrics to it, it shouldn't be much work, the problem is more how we can make sure the layout is ok.

[2017-05-30 07:16] soulgalore commented on #1631
Let me push GPSI tonight, the code there is a little messy so I can just fix that.

[2017-05-30 07:31] krukru commented on #1631
Sure thing, no need to rush it :D

On May 30, 2017 09:16, "Peter Hedenskog" <notifications@github.com> wrote:

[2017-05-30 11:06] #1632 closed

[2017-05-31 19:29] softwareklinic commented on #1420
I thought / remember reading somewhere that now the summary is linked to the grafana charts???? === maybe im still dreaming...

[2017-05-31 19:30] soulgalore commented on #1420
No right now we only link from Grafana to the HTML result pages.

[2017-05-31 19:31] softwareklinic commented on #1420
how is it done -- which version?

On Wed, May 31, 2017 at 2:30 PM, Peter Hedenskog <notifications@github.com>
wrote:

--
Regards,
Keyur
Cell: 2147845203

[2017-05-31 19:36] soulgalore commented on #1420
It's done by sending annotations, check out https://dashboard.sitespeed.io/dashboard/db/page-timing-metrics?orgId=1 and check the checkbox "runs" and then click on an annotation. Checkout https://www.sitespeed.io/documentation/sitespeed.io/performance-dashboard/#annotations

[2017-05-31 19:40] softwareklinic commented on #1420
this is GREAT === thats all i need for now... Any example --- on how to
send the annotation (what parameters to configure) - while posting curl ---
to graphite?? especially how to send the url etc....

*resultBaseURL*

On Wed, May 31, 2017 at 2:36 PM, Peter Hedenskog <notifications@github.com>
wrote:

--
Regards,
Keyur
Cell: 2147845203

[2017-05-31 19:48] softwareklinic commented on #1420
I think i found it in documentation

$ docker run --privileged --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io -b firefox -n 1 --graphite.host <your graphite host>  --resultBaseURL https://example.yoursite.com https://www.sitespeed.io/

Question is if my base url is http://99.99.99.99:9090 (IP and port) --- is that all I need to pass ---- since im writing results in separate folder using t

[2017-05-31 19:48] soulgalore commented on #1420
The annotation will be sent automagically as long as you configure resultBaseURL and graphite auth, the docs I linked should do it:
https://www.sitespeed.io/documentation/sitespeed.io/performance-dashboard/#annotations

Also check our configuration we use at dashboard.sitespeed.io https://www.sitespeed.io/documentation/sitespeed.io/performance-dashboard/#get-the-metrics

[2017-06-01 04:40] InstyleVII commented on #1578
Following up here, while I can't speak for IEDriver, MicrosoftWebDriver.exe (which is for Edge) currently doesn't have this capability. While it might be interesting to add a command for this, or to allow automation of the devtools to do something like this it's not currently on our radar.

[2017-06-01 13:21] soulgalore commented on #1578
thanks @InstyleVII

For minimum support we need webdriver/Selenium bindings for Edge but that exists now right?

Then for getting a HAR out of Egde: For Chrome we parse the internal Chrome trace log, for Firefox we use [an extension](https://github.com/firebug/har-export-trigger) but later this year Firefox will only support [WebExtensions](https://developer.mozilla.org/sv-SE/Add-ons/WebExtensions

[2017-06-02 08:57] xavier-medioni commented on #1569
New bonus reference:
https://github.com/paulirish/automated-chrome-profiling/blob/master/get-timeline-trace.js

[2017-06-02 09:03] soulgalore commented on #1569
yes, been looking for adding one of Pauls libraries to the result pages when we collect the trace log to make something sane out of it, but haven't had the time yet. Not 100% sure which views that we should use

[2017-06-02 09:15] xavier-medioni opened #1634 "--speedIndex flag crashes sitespeed.io command line"
Hi Sitespeed team !

I wanted to report a quite annoying issue, i.e. the speedIndex does not work when adding the cli flag.

The required installations to use the speedIndex flag are OK, as:
<pre style="border: 1px solid #AAA; padding: 10px; background-color: #DDD;">
python visualmetrics.py --check
ffmpeg:   OK
convert:  OK
compare:  OK
Pillow:   OK
SSIM:     OK
</pre>

The following script runs p

[2017-06-02 09:43] xavier-medioni commented on #1569
Another very helpful Paul's lib is [pwmetrics](https://github.com/paulirish/pwmetrics).
And my Paul's top charted is [speedline](https://github.com/paulirish/speedline), cause it processes the whole "paint and detect changes" timeline !

So thanks by advance to @soulgalore to integrate @paulirish 's work into Sitespeed ! :-D

[2017-06-02 10:43] soulgalore commented on #1634
Hey @xavier-medioni I think the problem right now is that xvfb is hardcoded for Docker https://github.com/sitespeedio/browsertime/blob/2ba765e9562ae27ede83a86a6bf49c40ec34a1d5/lib/support/video/xvfb.js#L8 so you need to set it up exactly like that for it to work. We can fix that later on.

Best
Peter

[2017-06-02 10:43] soulgalore commented on #1634
And as always: it is best to run the Docker container :)

[2017-06-02 10:48] soulgalore commented on #1569
I think the video we record and using VisualMetrics as we do right now so we can use it for Firefox too is pretty good. For FirstMeaningFullPaint I suggest that you verify those values using for example WebPageTest before you actually use them. When I tried it I could see that values could be 500 ms off (happening before firstPaint) for Wikipedia, so I think you should treat it as experimental (th

[2017-06-02 11:56] xavier-medioni commented on #1569
Extra info / Update:

Using Sitespeed 5.2.1 nodejs lib:

According the brand new reference: (https://github.com/paulirish/automated-chrome-profiling/blob/master/get-timeline-trace.js)

I tried to set browsertime.chrome.traceCategories to the following value:

-*,devtools.timeline,disabled-by-default-devtools.timeline,disabled-by-default-devtools.timeline.frame,toplevel,blink.console,disabled-by-de

[2017-06-02 12:00] soulgalore commented on #1569
I think that then it is a bug in Chromedriver.

[2017-06-02 21:59] rcherny commented on #1452
Has anyone looked into this? I've got some tests run previously that I'd love to import into Graphite. Both sitespeed.io test output as HTML and of course some HAR files. I realize the HTML might be a lost cause but I already tried running the HAR files through pagexray. Nice output, but at a loss what to do next.

[2017-06-03 05:39] soulgalore commented on #1452
Hi @rcherny - @tobli started before but we have some things that we think has higher prio right now (we should add prio + close tasks that we will not do the coming year).

[2017-06-03 13:40] tobli commented on #1452
Yes, I looked at it a while back. For the most part, everything worked as is, however I had to hack around a few assumptions that data originated from a url that's being crawled. To make it work proper there are a few areas of sitespeed.io that needs to be rethought, and not something I'm working on right now.

So if you're prepared to get your hands dirty you should be able to put something toget

[2017-06-05 11:20] krukru commented on #1631
Hello again @soulgalore

First off thank you for the update :)

I think I found a bug in your latest commit, so I will just report it here.

The bug happens if for any reason (my reason was api quota exceeded) gpsi does not return a score.
The expected behaviour would be that the GPSI column would get greyed out and performance score should get displayed as normal, however really the two columns g

[2017-06-06 16:16] jaydub2099 opened #1635 "Unable to generate video on mobile viewport"
Yesterday I updated the docker container we have been using for nightly sitespeed.io runs to 5.2.1 and added the --video and --speedIndex parameters to generate said video and metrics. We do runs for a given URL using 3 viewports for desktop, tablet, and mobile. I have looked at the output from the runs last night and the output shows errors for the ffmpeg video generation for every URL for the mo

[2017-06-06 19:28] InstyleVII commented on #1578
Yes Selenium support for Edge has been there since our first release so you should be good to go there.

[2017-06-07 04:47] soulgalore commented on #1635
Hey @jaydub2099
think we have had something like this before, I've increased the probesize to 1M by default but it seems it was not enough then (https://ffmpeg.org/pipermail/ffmpeg-user/2014-May/021227.html). Lets make it configurable (or higher by default).

I tried to reproduce but worked on my local, do you run something like this:
`docker run --shm-size=1g --rm -v "$(pwd)":/sitespeed.io sitesp

[2017-06-07 04:50] soulgalore commented on #1631
Hi @krukru yes, I think we don't look for errors from GPSI. Can you see exactly what we get back when we hit the limit (so we can catch that)? Do we get an error or a result with some kind of message?

Best
Peter

[2017-06-07 09:58] krukru commented on #1631
Hi @soulgalore

Here is the error message I get, hope it helps. https://gist.github.com/krukru/3a7468546440920c027b05dd73a84c8d

[2017-06-07 23:44] abhagupta opened #1636 "--preScript fails on Docker sitespeed.io but works on just sitespeed.io"
Hi,
I am running a sitespeed.io test with `--preScript` option. The script enters the username , password etc. Works totally great if I use sitespeed.io command,
[code]
but fails when I use the same file in docker container:
[code]
The error is
[code]
My script is
[code]

I just pulled the latest docker container.

[2017-06-07 23:51] abhagupta commented on #1636
my chromedriver version that I am assuming sitespeed.io is using is
[code]
Docker is using 2.28 in latest . I tested with 2.24 in docker and still same issue

[2017-06-08 06:23] soulgalore commented on #1636
Hi @abhagupta
I think if you run sitespeed.io standalone without Docker you will still use the Chromedriver version that are installed using npm install (the same as Docker 2.28 (we don't use 2.29 since there's a bug there that makes it impossible for us to get the Chrometrace log)).

Can it be that you try to set the cookie on ip and not domain name in Docker?

Best
Peter

[2017-06-08 17:01] abhagupta commented on #1636
same issue when I use

[code]

Trying to decipher the error message:
`WebDriverError: <unknown>: Failed to set the 'cookie' property on 'Document': Cookies are disabled inside 'data:' URLs.`  .. how can I really intercept data: urls? I don't see them in Network tab of Chrome Dev tools.

[2017-06-08 17:06] L4ika opened #1637 "add cookie with --preScript"
I'm have try several times to run a script that close pop-ups or add cookies to avoid pop-ups before run the test.

The browsertime metrics change, so it takes effect, but I want to record the video and get visualmetrics and in the screenshots I'm still viewing the pop-ups in the screen.

Script (runs with no errors):

'use strict';
module.exports = {
  run(context) {
    return context.runWithDri

[2017-06-09 07:26] soulgalore commented on #1636
Hi @abhagupta if you to simplify the pre script, just finding if it is the cookie that doesn't work or the combination of click and then the cookie?

Best
Peter

[2017-06-09 11:05] soulgalore commented on #1637
Hi @L4ika
hmm not sure, could see that you should chain your addCookies (you got a promise back, even though it's not chained in the docs http://seleniumhq.github.io/selenium/docs/api/javascript/module/selenium-webdriver/lib/webdriver_exports_Options.html) so that the method returns when everything is finished.

Best
Peter

[2017-06-09 13:20] abhagupta commented on #1636
I tried that. Looks like the final page does not end up displaying after
button click. It does have some redirection logic that is getting messed up
because of being inside docker. I will set the Vnc server inside docker
today and try to view it.
On Fri, Jun 9, 2017 at 12:26 AM Peter Hedenskog <notifications@github.com>
wrote:

[2017-06-09 14:42] abhagupta commented on #1636
Not sure if anything is changed, but command to expose port 5900 returns

[code]

But when I start the docker container without exposing the port, I dont see port 5900 exposed. So I am not able to connect VNC server.

Any ideas?

[2017-06-09 14:45] soulgalore commented on #1636
hmm we haven't changed anything on purpose that I know about. We added your pr for what needed for vnc. I can check tomorrow.

[2017-06-09 15:00] abhagupta commented on #1636
It's alright.
I might be doing something wrong.
On Fri, Jun 9, 2017 at 7:45 AM Peter Hedenskog <notifications@github.com>
wrote:

[2017-06-09 15:25] soulgalore commented on #1636
Cool I'm away from the computer tonight :) Another thing we should add is debug mode for video so we could record the full run including pre/post ping @tobli @beenanner

[2017-06-09 16:04] abhagupta commented on #1636
That is an awesome idea. I will try that

On Fri, Jun 9, 2017 at 8:25 AM, Peter Hedenskog <notifications@github.com>
wrote:

--
Abha

[2017-06-09 16:18] abhagupta commented on #1636
None of the results are getting displayed, so no video is captured. The
sitespeed.io report comes out to be empty.   I think there is a
connectivity issue inside docker and this will be hard to troubleshoot. I
will think about another way. I will close the issue since I don't think
its a sitespeed's issue

On Fri, Jun 9, 2017 at 9:03 AM, abha gupta <abha.agupta@gmail.com> wrote:

--
Abha

[2017-06-09 16:18] #1636 closed

[2017-06-09 21:21] jaydub2099 commented on #1635
Just as a test I changed my viewport setting and reran the sitespeed.io runs and now the video is fine. Since the error message included this line:

[libx264 @ 0x577d720] width not divisible by 2 (375x601)

I thought maybe it was as simple as having a viewport that was an odd number. The viewport I had used was 375x667. I changed this to 376x668 and the runs completed with videos without error.

S

[2017-06-11 18:41] soulgalore commented on #1635
hey @jaydub2099 thanks, yep we should add a fix for that, it's how we configure ffmpeg/xvfb I guess.

[2017-06-12 21:03] mananpreetsingh opened #1638 "Not able to add Graphite datasource in Grafana"
I am running graphite and grafana on docker. For grafana I am using the latest image from grafana official docker image and for graphite I am using the image from sitespeedio.

so graphite is basic Auth protected "guest/guest" as per sitespeedio container. When I try to create datasource in grafana using basic auth it does not work gives Unknown error in Grafana but seems some issue with 'Access-C

[2017-06-13 02:24] soulgalore commented on #1638
Hi @mananpreetsingh
how did you start the containers? Usually, localhost inside a container is just inside that container = cannot reach the other containers.

We have a compose file ready with all the relations that you can use: https://www.sitespeed.io/documentation/sitespeed.io/performance-dashboard/#up-and-running-in-5-minutes

Hope it helps!
Best
Peter

[2017-06-13 13:19] mananpreetsingh commented on #1638
I wrote a compose file to start the containers, Both containers are on same network, Also they are linked to each other, So one containers can talk / ping to each other.

Only reason I put http://localhost:80 in grafana because it's the interface from where grafana is pulling the metrics data and its accessible, If I don't use basic auth in graphite container it is working fine with all the same s

[2017-06-13 16:25] mananpreetsingh commented on #1638
Found an error log on nginx server Even though username and pass is specified:

2017/06/13 16:19:57 [error] 185#0: *4 no user/password was provided for basic authentication, client: 172.18.0.1, server: , request: "OPTIONS /metrics/find/?query=* HTTP/1.1", host: "localhost", referrer: "http://localhost:3000/datasources/edit/1"

Below attachment gives you grafana config and error (on the left side),

[2017-06-13 17:05] mananpreetsingh commented on #1638
If I access via browser its working fine, First two are the logs if I access via browser and last two if I access via grafana.

<img width="693" alt="screen shot 2017-06-13 at 1 04 21 pm" src="https://user-images.githubusercontent.com/27379172/27094686-f7d2238c-5038-11e7-87d5-eb0fec01da15.png">

[2017-06-13 18:35] soulgalore commented on #1638
Hey @mananpreetsingh  if you use our Docker compose file the data sources are setup automatically with the bootstrap container, you can check out how it works: https://github.com/sitespeedio/grafana-bootstrap-docker

Best
Peter

[2017-06-13 19:36] mananpreetsingh commented on #1638
Ahhhh! compose file acts weirdly, If I use http://graphite:80 Its working but I use http://localhost:80 it does not in case of Auth.

If I don't use Auth it works with http://localhost:80 as well.

But thanks @soulgalore for your support.

Just wondering how regularly this docker image is maintained, I see the original image (hopsoft) is getting update every month but this is like once 6 months ?

[2017-06-13 19:58] soulgalore commented on #1638
We do changes if needed, but I would like to rollover and use Graphite 1.X in Docker if someone else could maintain it, let me know if you find a good image!

[2017-06-13 22:36] mananpreetsingh commented on #1638
Thanks, Will do that, Also I tried to create auto custom dashboard using your GitHub bootstrap container. You can see all the config here:

https://github.com/mananpreetsingh/monitoring

But auto dashboard and datasource is not get created, Did I do something wrong ?

[2017-06-13 23:24] mananpreetsingh commented on #1638
I think I am able to make it work, Now I believe the issue is what you mention about BUG in dashboard import, I did not get much information about that bug, Can you please provide me any link where I can read about it if I have to change value how should I and which ones ?

I created a templated dashboard.

[2017-06-14 08:45] soulgalore commented on #1638
Hey @mananpreetsingh what bug are you talking about? If you use our docker compose file and the instructions at https://www.sitespeed.io/documentation/sitespeed.io/performance-dashboard/#up-and-running-in-5-minutes it should just work. If it doesn't, there's bug, but I need more detailed info then to help. At least what doesn't work :)

If you run own compose files/setup, then look at our files as

[2017-06-14 13:17] mananpreetsingh commented on #1638
@soulgalore  Your compose file works absolutely fine, I am trying to make my own dashboard, So I exported Json file from Grafana Dashboard and put it under dashboards folder as per the instructions mentioned.

You mentioned about that BUG at the very end of page over here: https://github.com/sitespeedio/grafana-bootstrap-docker

This is the my exported json  file from Grafana for the custom dashbo

[2017-06-14 16:09] mananpreetsingh commented on #1638
Actually I make it worked everything, sorry to bother you with extra issues. Everything is working and good! thanks for writing the code :)

[2017-06-14 22:05] jeffdrumgod commented on #1637
Hello guys,
I used this, and works fine for me:

[code]
Or, using variable for cookie domain captured from window in URL source (from variable ou other custom script).

[code]
@soulgalore , did you can put this example in documentation ?(https://www.sitespeed.io/documentation/sitespeed.io/configuration/)
It will be really cool for help who looking for hours and hours a solution to this 👍

[2017-06-15 07:58] soulgalore commented on #1637
Thank you @jeffdrumgod for sharing! I'll do that.

[2017-06-15 08:16] TJ71 opened #1639 "QUESTION -"
Hi,

Hope someone may have already done this or can give some direction.

The 'Showing top 20 assets out of...' results, I'm wondering how easy it is to...

1) increase the top number from 20 to more
2) search for/show specific types

Any help, thoughts or guidance appreciated, thanks

[2017-06-15 08:21] soulgalore commented on #1639
Hey @TJ71

Let us make that configurable in the next release.

What do you want here, what types do you wanna show? Or how do you want it to work?

Best
Peter

[2017-06-15 08:46] soulgalore commented on #1638
Great, closing this then :)

[2017-06-15 08:46] #1638 closed

[2017-06-15 08:55] weliame opened #1640 "Is it possible to integrate result data with Kibana instead of Grafana"
Hi SiteSpeed team

First, I want to say that SiteSpeed is really cool, It helps me a lot. Thank you guys.
My question is, is it possible to integrate result data with Kibana instead of Grafana? If possible, how can I do that? Due to my work, I'd like to make Kibana as the UI monitor.

[2017-06-15 11:01] leeMoonpig opened #1641 "Question: plotting speed metrics by web site build number"
In Grafana, we'd like to see our changing metrics plotted by build number rather than by time.

Is there anyway we can call sitespeed.io and pass in our build number so that it ends up in Grafana?

[2017-06-15 11:17] tobli commented on #1641
Hi!
Could you embed the build number in the page, e.g. in a js variable or hidden node? If so you can add a custom browsertime script to read that. That would then be included in the 'browsertime.pageSummary' message that the graphite picks up. You should then be able to add that information to graphite using the --metrics.filter option. By default most data from browsertime is filtered out and no

[2017-06-15 12:26] soulgalore commented on #1640
Hey @weliame great that you like sitespeed.io :)

Kibana only supports ElasticSearch right? We don't have support that yet, there's been some discussion here: https://github.com/sitespeedio/sitespeed.io/issues/1062

Best
Peter

[2017-06-15 13:44] jeffdrumgod commented on #1637
but this have a problem: Using the code in my prev comment, the test is cached and results it's not real.
I'm testing alternatives...

[2017-06-15 21:12] kchoi01 opened #1642 "Question: params to WPT"
Hi, I am wondering how to pass more options to WPT than the ones specified in the help screen? Issue #1617 mentions that the mobile flag is not passed. How do I make WPT run with mobile emulation?

Thanks.

[2017-06-15 21:50] soulgalore commented on #1642
Hey @kchoi01 everything that you pre-pend with *webpagetest.* will be passed to the [Webpagetest API](https://github.com/marcelduran/webpagetest-api#test-works-for-test-command-only) as documented in https://www.sitespeed.io/documentation/sitespeed.io/webpagetest/#configuration (maybe we can make that cleaner for people to understand).
Best
Peter

[2017-06-16 07:17] weliame commented on #1640
Thank you very much @soulgalore. I went through #1062, at least there're some useful messages for me. BTW, another small question, can I customize metrics? I want calculate `p95` besides of `p90`.

[2017-06-16 10:36] TJ71 commented on #1639
I suppose this would only be a needed if the number of assets shown was a large number. I have one site which shows '20 of 2193'. I don't want to see them all, but I would want to for example see all of one type say 'JavaScript.

[2017-06-16 13:32] soulgalore commented on #1640
ok, we use fast-stats to get the stats, but I don't remember if also configured 95/99. But how many runs do you plan todo per URL? Will p95 give you any better values than p90? For synthetic testing I found it more valuable to be able to switch between median and min (to get more stable values etc).
Best
Peter

[2017-06-16 13:37] soulgalore commented on #1641
I really like @tobli approach, it's nice to get the value directly from the HTML of the pages, that will make easy in the future. Let us know @leeMoonpig if you need more help.

[2017-06-16 13:38] soulgalore commented on #1639
I think we can manage to get the size configurable for the next release. I'm waiting for https://bugs.chromium.org/p/chromium/issues/detail?id=727046 to land in m60 of Chrome (and that it is released to beta) then we can push a new release.

[2017-06-16 13:42] jeffdrumgod commented on #1637
The solution for me in this moment, is if I use `get` for a page without any static file.
Similar this example: https://www.sitespeed.io/documentation/sitespeed.io/prepostscript/#test-a-page-with-primed-cache
but, an empty page with status code 200.

[code]

[2017-06-16 16:22] kchoi01 commented on #1642
Hi Peter, thanks for the clarification. For the WPT "runs" param, is it per sitespeed.io iteration? So for example, if sitespeed.io iteration is 3 and WPT runs is 3, is it going to run WPT 9 times?

[2017-06-16 16:27] soulgalore commented on #1642
No. It is totally separeted. 3 wpt runs will be 3 runs, you can think of them as two different tools that you need to configure one by one.
Best
Peter

[2017-06-16 17:19] kchoi01 commented on #1642
Great thanks!

[2017-06-16 17:19] #1642 closed

[2017-06-19 02:30] weliame commented on #1640
Maybe 10 runs per URL. We already have some other monitors with p95 metric, and I'd like to keep in line with those monitors. That's my reason :). Yes, median and min metrics are important, too.

[2017-06-19 07:03] tobli commented on #1640
The percentile calculation is customisable, we just haven't hooked it up to the cli yet. Could you please open a new issue for it, so we don't forget.

Thanks,
/Tobias

[2017-06-19 07:03] tobli commented on #1640
The percentile calculation is customisable, we just haven't hooked it up to the cli yet. Could you please open a new issue for it, so we don't forget.

Thanks,
/Tobias

[2017-06-20 02:24] ftore commented on #1640
Hi @weliame, I created [this pull request](https://github.com/sitespeedio/sitespeed.io/pull/1644) for Elasticsearch plugin. I am willing to maintain it as a standalone plugin. I need help with creating a dashboard in Kibana. If you can help me, please, let me know..

[2017-06-20 04:51] weliame opened #1645 "Expect percentile calculation to be customizable"
For me, I have many monitors with p95 percentile metric and I'd like to keep all the monitors consistent. So I expect sitespeed could support customizable percentile calculation, thus I can customize p95 metric. Thanks team.

[2017-06-20 04:52] weliame commented on #1640
Thank you @tobli, I created a new issue #1645.

[2017-06-20 05:03] weliame commented on #1640
Hi @ftore, nice to see such a plugin. I'm not sure what I can help. But if you have any question, leave message to me, I will try for that. We may keep in touch offline.

[2017-06-20 05:03] weliame commented on #1640
Thank you guys, I think the ticker could be closed.

[2017-06-20 05:03] #1640 closed

[2017-06-20 07:37] Geekaylee commented on #1637
jeffdrumgod - In chrome to prevent the page under test being cached while setting cookies you can pass an argument to chrome that stops the browser caching, as per below

`{
	"browsertime": {
		"browser": "chrome",
		"chrome.args": "disk-cache-dir=/dev/null",
	},
	"utc": true
}
`

[2017-06-20 08:08] soulgalore commented on #1637
I haven't got the time yet to update the docs yet, will do it this weekend.

[2017-06-20 14:40] soulgalore opened #1646 "The InfluxDB annotation shows 3,3 runs instead of 3."
<img width="301" alt="screen shot 2017-06-20 at 4 39 23 pm" src="https://user-images.githubusercontent.com/540757/27339115-2f26dcee-55d7-11e7-9057-cd07a7a023ba.png">

[2017-06-20 15:23] soulgalore commented on #1646
Ok, this is wrong in the configuration on dashboard.sitespeed.io. @beenanner do you have time later this week and login to the server and change from 3,3 to 3? I don't have access the coming days. It is both for ryanair and the nytimes tests.

[2017-06-20 16:19] beenanner commented on #1646
Sure I'll take a look tonight.

[2017-06-20 19:16] jonthemiller opened #1647 "metrics filter not behaving as expected"
Having an issue when trying to send pagexray and other metrics into Graphite when using the metrics.filter options. I am running 5.3.0. This is what my configuration looks like:

    {
      "gzipHAR": true,
      "firstParty": ".*(cnet|cbsistatic).*",
      "browsertime": {
        "connectivity": {
          "engine": "external",
          "profile": "cable"
        },
        "viewPort": "1366x

[2017-06-20 19:35] jonthemiller commented on #1647
@beenanner had me try this set of filters and they work as expected:

    "metrics": {
      "filter": [
        "*-",
        "pagexray.pageSummary.assets.*",
        "pagexray.pageSummary.domains.*",
        "aggregateassets.summary.*.timing",
        "aggregateassets.summary.*.requestCount",
        "aggregateassets.summary.*.size",
        "domains.summary.*.requestCount"
      ]
    }

[2017-06-20 20:01] soulgalore commented on #1647
ping @tobli he is the filter expert :)

[2017-06-20 20:32] soulgalore commented on #1647
One thing that is hidden in the docs is https://www.sitespeed.io/documentation/sitespeed.io/metrics/#add-a-metric (scroll down to "The best way to test and verify on your local ..." is to run the tcp server on your local machine and check what kind of metrics that are actually sent.

[2017-06-20 20:37] jonthemiller commented on #1647
I used a unique namespace for graphite each run to verify the metrics sent.

"*+" works but sends all metrics, and "pagexray.pageSummary.assets.*" "pagexray.pageSummary.domains.*" works, but filtering for particular stats within the pagexray assets or domains does not.

[2017-06-21 02:29] beenanner commented on #1646
Fixed. Closing.

[2017-06-21 02:29] #1646 closed

[2017-06-21 03:22] beenanner commented on #1647
So looked into this more and this is a very specific bug with the filter for pageSummary and assets. i.e. pagexray.pageSummary.assets.*.<somekey>

pagexray.pageSummary.assets.*.url is required for https://github.com/sitespeedio/sitespeed.io/blob/master/lib/support/flattenMessage.js#L83

I think a fix to allow the indices to be sent to graphite is necessary as a fallback although that probably won'

[2017-06-21 06:04] #1647 closed

[2017-06-21 06:06] soulgalore commented on #1646
thanks @beenanner for fixing my mistake :)

[2017-06-27 18:51] soulgalore commented on #1555
Let do something like this: https://github.com/micmro/PerfCascade/issues/196#issuecomment-310901919 and then also add a filmstrip where we uses the same screenshots. 6.0 baby :)

[2017-06-27 20:15] soulgalore commented on #870
Added a branch where I tried out chartist, but could be chartjs would work better for us (there are still some fine tuning needed). I've added a size and a request graph on the PageXray tab:
<img width="958" alt="screen shot 2017-06-27 at 10 10 33 pm" src="https://user-images.githubusercontent.com/540757/27607919-cfc12c0a-5b85-11e7-8123-f4b0b1dcf517.png">

But we miss a way to see the exact value

[2017-06-28 03:26] soulgalore commented on #1386
I think the easiest way to do it is creating a standalone JavaScript pages that fetches multiple HAR files and compare them. We can do it something like this:

Autodeploy compare.html at the root of the domain when deploy to AWS. Add links from each run pointing to that file, so it's easy to start. When you go to the page, you need to add the path to two runs, when you submit the page, we will aut

[2017-06-28 03:59] soulgalore opened #1653 "Add screenshots to Slack"
If we configured a resultBaseURL we should be able to include the path to the screenshot for the tested page in the Slack message, that would make it easier to see things fast.

[2017-06-30 05:47] kchoi01 opened #1654 "Some pages causes JSON error"
Hi, it seems certain pages cause an 'unexpected token in JSON at position 0' error. An example is https://www.macys.com/. WPT also seems to not able to get screenshots and gives error.

Here is part of the log:
INFO - b'Google Chrome 58.0.3029.81 \n'
INFO - b'Mozilla Firefox 53.0\n'
INFO - b'[2017-06-29 21:33:27] INFO: Versions OS: linux 4.4.0-1018-aws nodejs: v6.9.1 sitespeed.io: 5.1.0 browsertim

[2017-06-30 06:24] soulgalore commented on #1654
Hi @kchoi01 thanks for reporting! Right now it works in Firefox, let us try to fix it this weekend for Chrome.

Best
Peter

[2017-06-30 12:13] soulgalore commented on #1654
Released a fix in 5.4.1 a minute a go. It works for me but please verify you too @kchoi01 so we can close the issue. The problem was that if the server sent a response as content type JSON, we parsed the JSON but it was either not JSON or had an illegal character in it, it failed hard. Now we catch that.

[2017-06-30 21:38] kchoi01 opened #1655 "Question: interpreting metrics in har"
Hi, this is a question about how to read the results in general. I am referring to the metrics in the har files (browsertime and webpagetest).

This question comes from the fact that when using multiple tools (e.g. Lighthouse, sitespeed.io, WPT) to measure the same page and then look at metrics that supposedly measure the same thing, they often have very different values. For example, all 3 have s

[2017-07-01 07:03] joychester opened #1656 "Feature: Capture page weight info till User defined mark name"
Wondering if sitespeed.io can Capture page weight info till User defined mark name rather than page fully loaded.
Page weights matters much mainly due to different network speed nowadays, the engineering team should keep a close eye on the page weights , and pay more attention to the page size until most critical stage (Engineer need to define this mark on his pages), the page size after this mark

[2017-07-01 12:56] soulgalore commented on #1655
Hi @kchoi01
first explaining the metrics etc: When you do a run there's a file called help.html where we have most definitions of the metrics (and if you click on the metric name from the detailed summary page etc you will end up there). You can check it out here https://examples.sitespeed.io/5.0/2017-04-24-04-44-04/help.html

All timing metrics is reported in ms and weight in kb (if it doesn't sa

[2017-07-01 16:36] pixlab opened #1657 "Testing url with more parameters in query string"
Hi,

I'm trying to test a page that it needs some parameters in query string like this:
https://www.mysite.com/hompage?parameter1=value1&parameter2=value2&parameter3=value3

I write this instruction:
docker run --privileged --shm-size=1g --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io https://www.mysite.com/hompage?parameter1=value1&parameter2=value2&parameter3=value3

but sitespeed goes t

[2017-07-01 16:54] tobli commented on #1657
Hi!
The & has a special meaning to your unix shell, so you need to put quotes around the url for them to be passed to sitespeed.io

/Tobias

[2017-07-01 17:01] pixlab commented on #1657
Hello Tobias,

yes it works....thanks for you suggestion :)

Roberto

[2017-07-01 17:08] tobli commented on #1657
My pleasure!

[2017-07-01 17:08] #1657 closed

[2017-07-01 21:00] kchoi01 commented on #1654
Hi, thanks for the fix. I confirm that it is working.

[2017-07-01 21:00] #1654 closed

[2017-07-06 10:37] vijaycs opened #1661 "Run sitespeed.io for user actions"
Would it be possible to measure the performance of web page for some user actions like clicks on login button or submit button using sitespeed.io.

Note: I tried with --PreScript which runs the selenium script before reaches the target URL. But actually i need to measure the perform of the page when click on login button.

[2017-07-06 11:38] soulgalore commented on #1661
Hi @vijaycs no it is not. We got that query sometimes and [I haven't seen a tool that can do that](https://github.com/sitespeedio/sitespeed.io/issues/1224#issuecomment-250416797), where it actually works and not too much noise. If you have an example for a tool where it works, would be cool! Measuring more than one page is hard, interactions even harder I think.

Best
Peter

[2017-07-07 04:36] vijaycs commented on #1661
Thank you Peter.

[2017-07-07 04:37] #1661 closed

[2017-07-11 08:04] UltraNemesis opened #1663 "Url list file vs standalone url testing feature parity(alias and preScript)"
I have a scenario where I need to test a bunch of url's some of which require a preScript and others don't. Based on the documentation, I don't see any way to pass preScript inside URL list file for selective URLs. On the other hand if I run the test for individual URLs, I don't seem to have a way to pass an alias name for the URL which is available with the URL list.

Shouldn't there be feature p

[2017-07-11 19:41] soulgalore commented on #1663
Hi @UltraNemesis I separate them by making different runs, invoking sitespeed for each use case. One without prescript(s) and one with, that is the only way to do it at the moment. I usually keep a default.json config file with my standard settings, that I always load, then the cli-options override the json config file, so in the second runs with preScripts I only override that one.

Yep I think y

[2017-07-12 08:57] benWrightSorenson opened #1664 "Cannot change URL at run-time"
We are trying to test aspects of a Restful API without automating too much of the user interface that sits on top of it. As such, we are driving API end points to create data, then using sitespeedio to test the subsequent page load for the resources that were created. This is currently impossible, since before the resources are created we don't know the index needed to access the appropriate page.

[2017-07-12 14:53] vijaycs opened #1665 "Unable to run on Chrome 59"
Hi,

After updating chrome to latest version, I'm getting the below error. could you help me to reslove it.

I'm using sitespeed.io on MAC system.

generated the following error in Browsertime BrowserError: unknown error: cannot get automation extension
from unknown error: page could not be found: chrome-extension://aapnijgdinlhnhlmodcfapnahmbfebeb/_generated_background_page.html
  (Session info:

[2017-07-12 17:59] soulgalore commented on #1664
Hey @benWrightSorenson I think it should be do-able if you create your own plugin. Look at the crawler plugin, it starts with a URL and then it [post URL messages](https://github.com/sitespeedio/sitespeed.io/blob/master/lib/plugins/crawler/index.js#L58) on the queue that other plugins will use to analyze. So for example I think you can supply a --browsertime.script  (that is a JavaScript that will

[2017-07-12 18:05] soulgalore commented on #1665
Hi @vijaycs what version of sitespeed.io are you using? I see that your Chromedriver is outdated (2.27), latest sitespeed.io uses 2.30.

Also in the Docker version, we rolled forward to Chrome 60 beta, since Chrome 59 has a bug that makes video/SpeedIndex not work for us: https://bugs.chromium.org/p/chromium/issues/detail?id=727046

Best
Peter

[2017-07-13 05:03] joychester opened #1667 "[Feature]: Leverage Performance Paint Timing API to get visual metrics from Chrome"
may consider to leverage Performance Paint Timing API to get the 'first-paint' and 'first-contentful-paint' metrics too from Chrome Browser:

performance.getEntriesByType('paint');

API intro URL:
https://github.com/WICG/paint-timing

[2017-07-13 05:06] vijaycs commented on #1665
Hi Peter,

Thank you for looking into this.

I have updated to chrome browser to 60 and also i have updated to chrome driver 2.30.***. Also my sitespeed.io version is 4.4.0.

But when i run the sitespeed.io command it's taking the older version of chrome driver as mentioned in the above. Please help to solve this.

Thanks,
Vijay M

[2017-07-13 06:33] soulgalore commented on #1667
Hi @joychester ,
it is there already when you use Chrome 60, added it a couple of releases ago :) However ALWAYS verify the metric that it works, I've had a bad experience with it see https://twitter.com/soulislove/status/878191034789838849

Best
Peter

[2017-07-13 06:33] #1667 closed

[2017-07-13 07:31] joychester commented on #1667
@soulgalore , peter, i missed your twitter ,lol thanks for the info 👍

[2017-07-13 07:53] Algram commented on #1499
@soulgalore What would be the best way for me to add functionality for a local nginx server instead of S3? I would like to submit the PR but don't know where to start.

[2017-07-13 08:20] tobli commented on #1499
@Algram if it's nginx serving local files (i.e. you don't need to upload files to a remote server) you don't need any additional functionality. Either configure nginx to serve files from the default output directory, or use --outputFolder to direct the output to where nginx is reading from. Then use --resultBaseURL to set whatever base URL you've set up for your local nginx.

[2017-07-13 08:24] Algram commented on #1499
@tobli that's exactly what I am doing. The local nginx is working and --resultBaseURL is set. Still I do not see annotations in Grafana.

[2017-07-13 08:25] benWrightSorenson commented on #1664
Hi @soulgalore, thanks for the speedy reply! Had a quick look at the plugin architecture, I can see how you would add additional URLs, is there a way of replacing the original URL instead?

The hack we've got locally at the moment is to have the url initialise a `targetURL` variable at the top of the `run` function, then add:
[code]
to the context for `preScript.run` and have the `runner.loadAndWa

[2017-07-13 21:01] DanielRuf opened #1668 "EACCES error using node 8 (npm 5)"
I get the following error during install which stops the install process.

`Error: EACCES: permission denied, mkdir '/usr/lib/node_modules/sitespeed.io/node_modules/webcoach/node_modules/soprano-saxophone/vendor'`

[2017-07-13 21:18] soulgalore commented on #1499
@Algram ok, can you check the log of sitespeed.io that the annotation is sent (if you use Graphite as backend you should see *Sent annotation to Graphite* in the log? Do you use the default Grafana templates or do you do your own (trying to track down the problem)?

[2017-07-13 21:31] soulgalore commented on #1668
Hey @DanielRuf
I think this could be a problem with the [Download package](https://github.com/tobli/soprano-saxophone/blob/master/install.js#L3) or with npm5? I know @tobli is using 5, can you try when you got the time? I personally have had such a bad experience with npm 5 so far so I rolled back a couple of weeks ago, but I can try again when I get back to a good internet connection.

Best
Peter

[2017-07-13 21:40] soulgalore commented on #1664
Hi @benWrightSorenson the plugin fix will help other plugins to also use that URL, not only Browsertime. Ping @tobli what do think?

Thanks for the note about the docs, will fix it later this week!

[2017-07-13 22:38] DanielRuf commented on #1668
Do you mean that I shall test if a newer version of the module fixes this?

https://github.com/tobli/soprano-saxophone/blob/master/package.json
https://github.com/kevva/download/releases

What is the best approch or way to test it locally?

[2017-07-13 22:39] kchoi01 commented on #1655
Hey Peter, thanks for your detailed reply.

Speaking of speed index, I wonder how we should interpret this metric and other visual metrics for pages with lots of animations? An example will be Amazon homepage. They have a large image at the top that auto scrolls. Looking at the video, I would consider the page to be visually complete at about 2.8s (in a particular WPT run I am looking at) but beca

[2017-07-13 22:51] tobli commented on #1664
NB: the incorrect docs link is here: https://www.sitespeed.io/documentation/sitespeed.io/plugins/#opencontext-options

[2017-07-13 22:58] DanielRuf commented on #1668
Some additional information: this only happens on a Debian 8.4 server. On Windows there was no problem with npm 5. I'm not yet sure if it is a problem with an installed system package, npm or the package. I have to recheck if the latest npm version was the culprit.

[2017-07-13 23:18] #1583 closed

[2017-07-13 23:23] abhagupta opened #1669 "Content metrics from pagexray does not appear when tests run on mobile"
Hello @soulgalore
I am running sitespeed.io on mobile device (locally connected). I get all metrics except the content size, javascript size etc.  I believe this metric is produced by pagexray.  When I looked into pagexray, nothing stood out to me which would cause issue. But can you think of any reason why pagexray would not be able to grab content asset data in mobile browser?
Thanks

[2017-07-14 01:18] beenanner commented on #1668
@DanielRuf can you attach the node version and npm version to this ticket with commands you executed? I'll try to reproduce.

[2017-07-14 06:50] soulgalore commented on #1669
Hey @abhagupta ok hmm, I don't have my Android phone with me so I can reproduce, but it works like this: We use Chome trace log to produce the HAR using https://github.com/sitespeedio/chrome-har then PageXray parse the HAR and get the size etc.

Is it both content and transfer size that doesn't work? Can you check if you see the size in the HAR file? Else if you could add --browsertime.chrome.coll

[2017-07-14 07:04] Algram commented on #1499
@soulgalore Thank you for the tip. Indeed it shows
[code]
in the log, although I do not know why I am not allowed to send annotations to Graphite but other data is okay.

[2017-07-14 07:12] soulgalore commented on #1499
I think your Graphite is behind basic auth? See https://www.sitespeed.io/documentation/sitespeed.io/performance-dashboard/#annotations

If you use our Graphite Docker container it is, check the docs for the container!

Best
Peter

[2017-07-14 07:26] Algram commented on #1499
@soulgalore I had that thought aswell, but even with `--graphite.auth sitespeedio:hdeAga76VG6ga7plZ1` added for the default user and pw, I still get the 401.

[2017-07-14 07:32] soulgalore commented on #1499
@Algram that is the default password for Grafana right, the default basic auth for Graphite can be found here: https://hub.docker.com/r/sitespeedio/graphite/ (and then you change it by feeding your own .htpasswd file).

[2017-07-14 07:39] Algram commented on #1499
Ah perfect, it is working now.
Thank you very much!

[2017-07-14 09:43] Gilumaro opened #1670 "Visual complete and blinking caret/cursor"
I've noticed in my the results of some of the pages I test, that sometimes they had very long last visual change times. When I looked into the reason for this, it seems this is caused by a blinking caret/cursor.

it happens also on google.com, where the search input field is focussed on page load (same happens on the site I test).

short fully loaded time (median 906 ms), but last visual change of

[2017-07-14 09:47] tobli commented on #1668
For permission issues with npm (specifically EACCES) I'd suggest looking at the npm docs on the subject: https://docs.npmjs.com/getting-started/fixing-npm-permissions

[2017-07-14 10:22] vijaycs commented on #1665
Hi Peter,

Issue got resolved by updating sitespeed.io to 5.4.1.

Thank you for helping :)

[2017-07-14 10:22] #1665 closed

[2017-07-14 11:23] soulgalore commented on #1670
Hi @Gilumaro
ok, I haven't seen it myself yet. Do you run our Docker container? The way to fix it would be to disable the cursor/pointer, I think we could do it in XVFB? Do you have time to check if you can find a solution? You should be able to test it out in https://github.com/sitespeedio/browsertime - I can help out pointing you in the right direction if you need!

Best
Peter

[2017-07-14 11:29] DanielRuf commented on #1668
It just happens with node 8, in node 6 this error is not thrown.

The latest node 8 and npm 5.2 versions were used. I've switched to node 6 shortly after this.

[2017-07-14 11:48] soulgalore commented on #1670
Ah sorry you mean the cursor and not the pointer, I see. I guess the best way is to just disable the cursor or set it to solid. Not sure though the best solution fo it.

[2017-07-14 11:54] Gilumaro commented on #1670
Hey Peter!

yes I use the docker container, sitespeed 5.4.1.

Definitely have time to see if I can find a solution. I think the best way would be to hide the caret with css. (by setting the color of the input fields to transparent)

I see that there is a userChrome.css that hides the statusbar in FF to get valid speedIndex. Something similar could be done for this?

not sure how I can test this in

[2017-07-14 13:26] Gilumaro commented on #1670
Best CSS solution I've found:
https://stackoverflow.com/questions/3671141/hide-textfield-blinking-cursor#answer-23472096
https://jsfiddle.net/jx6q1peo/

but how do I add this css to my docker image, and how will the tool pick this up?

[2017-07-14 14:13] soulgalore commented on #1670
Hi @Gilumaro cool!

I need to check how we can add it. If you clone git@github.com:sitespeedio/browsertime.git and then you can build the docker container and run it locally (and get the video and verify that it works):

[code]

Best
Peter

[2017-07-14 19:37] soulgalore commented on #1670
I think one way to do it is to add it in our Chrome/Firefox plugin: https://github.com/sitespeedio/browsertime-extension

It is used when we run the browser, right now only for Chrome but it is prepared for Firefox when the next Selenium version gets out. It's only triggered for some use cases at the moment though.

[2017-07-15 16:17] DanielRuf opened #1671 "current build is broken on Windows (10)"
The current build from master fails on Windows 10.

node: 8.1.2
npm: 5.0.3

<details>
<summary>debug.log</summary>

</details>

[2017-07-15 16:47] soulgalore commented on #1671
Hey @DanielRuf checking the log it seems to be a problem with node-sass?

We only support Windows using Docker see https://www.sitespeed.io/documentation/sitespeed.io/installation/#windows-1

I've spent so much time on older version tracking down Windows specific bugs that took my time of creating new functionality so it was not worth it, however, we would love someone to be responsible for a Wind

[2017-07-15 21:26] beenanner opened #1672 "summary vs pageSummary value types differ"
Moving this issue over from https://github.com/sitespeedio/pagexray/issues/30

Testings out the elasticsearch support I noticed these are storing their values differently one being a string and the other being a number. We should standardize on a number so pagexray.summary should be modified to cast it's values to numbers.

[2017-07-15 21:28] #1672 closed

[2017-07-15 22:03] DanielRuf commented on #1671
Right, I'll take a closer look at the dependency graph and identify the exact problem and possible solution.

I was just in a hurry and wanted to report and keep track of this issue to come back to it later and maybe you already knew it.

Can I donate some sum (with some other developers) to help with this (better Windows 10 and node 8 support)?

I'll try to find and solve this issue in the next w

[2017-07-16 07:34] soulgalore commented on #1671
@DanielRuf we surely want to fix node8, wonder if that is a problem in npm though, or Geckodriver (or was the problem in our installation of Geckodriver, I need to check). I can spend time on it when I'm [back from vacation](https://github.com/sitespeedio/sitespeed.io#vacation-july---august) but I think @beenanner is already looking at it. However we all will take it quite easy the coming months t

[2017-07-16 10:09] DanielRuf commented on #1671
Sure, enjoy your vacation =) I've saw this but just wanted to directly report the issue and keep track of this.

Well, Docker on Windows is not yet so easy to use (just with VMware and the old Docker tools, slower than the HyperV version and not an option). I also want to use sitespeed.io directly on some root servers. There are also some constraints by the OS regarding dependencies (Debian). Gene

[2017-07-16 11:47] DanielRuf commented on #1276
@huangyingja that does not work in the new versions.

[2017-07-16 12:34] soulgalore commented on #1276
@DanielRuf XVFB works. We dropped support for PhantomJS (since it doesn't support H2, has faulty size values etc). You can run Chrome headless with the new Chrome headless if you use the right parameters, however Chrome Headless doesn't support extensions so some functionality will not work.

[2017-07-16 12:36] soulgalore commented on #1671
Ok. There shouldn't be any constraints for it not to work on Debian or have you found something else than the npm 5 thing?

[2017-07-16 12:52] DanielRuf commented on #1276
Right, there is just the prebuilt PhantomJS version. I guess PhantomJS is dead.

Installed XVFB and it worked with Chromium. Would be great to have Chromium headless (native) nevertheless. Unfortunately Firefox, GeckoDriver and PhantomJS are not as smooth as Chromium with XVFB and so on.

I've also installed a Docker image in parallel, this works much better, especially on Debian.

[2017-07-16 13:27] DanielRuf commented on #1671
Nothing additional specific to npm but node-gyp (on Debian). For Debian I had to use Chrome 57 as Chrome 59 introduced conflicts.

Well, I think most things are just thirdparty dependencies which are known to be problematic in many environments. Like the node-sass dependeny and npm.

[2017-07-16 13:31] DanielRuf commented on #1671
But works great as Docker image so far =)

[2017-07-16 14:07] soulgalore commented on #1276
Ok, but Firefox should work with XVFB, what problem do you see? We have built in support in Browsertime for XVFB, add the --browsertime.xvfb flag and Browsertime handles that (but you need to install it etc). Could be though that some parts is hardcoded just for the setting we use in Docker, let me know if you run into problems so we can fix that.

I tried Chromium headless (native) a month ago an

[2017-07-16 16:17] DanielRuf commented on #1276
I did not try VisualMetrics with the non Docker version. I did not test Firefox on the root server. I think it was also another issue with a package dependency and it was not clear enought, that I do not need Selenium and the GeckoDriver (or do I?). Anyway, so far I have working setups.

[2017-07-18 07:57] soulgalore commented on #1655
Hey @kchoi01
I think [Sergey](https://twitter.com/sergeyche) has an idea how it can be solved in the future, there's no tool that supports it today: https://www.youtube.com/watch?v=t6l9U5bC8jA
Best
Peter

[2017-07-18 12:23] fbusse opened #1673 "Sitespeed metrics not reported"
Hi,

running the latest docker with Chrome I have issues with getting several speedindex parameters. They're missing 95% of the time, but sometimes get reported.
Any way I can debug this?

This is what happens most of the time:
_$ docker run --privileged --shm-size=1g --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io  -b chrome --speedIndex https://www.idealo.de_
Google Chrome 60.0.3112.66 b

[2017-07-18 13:33] soulgalore commented on #1673
Hi @fbusse
thanks for reporting. I'll try reproduce tonight, do you setup any connectivity with Docker networks or how do you handle connectivity? Did it start when you upgraded to latest version (meaning could it be something with latest Chrome beta)?

There's a hidden feature to keep the original video **--browsertime.keepOriginalVideo** , if you add that then if you can give me the original vid

[2017-07-18 13:35] fbusse commented on #1673
Hi @soulgalore,
It also happened with version 5.4.1 (from the drocker-compose install), I just upgraded to check for a bugfix in Chrome.
I'm using native docker networking, no shaping etc.
I'll try to get a video for you.

[2017-07-18 13:43] soulgalore commented on #1673
@fbusse thanks! We use VisualMetrics to analyze the video and get the metrics, so if we have a raw video its easier to test and report upstream if the problem isn't on our side.

[2017-07-18 14:12] fbusse commented on #1673
Had to add _--video_ to actually get video files, but here they are:
https://www.dropbox.com/s/gycbj40ut3hie0m/video.tar.gz?dl=1
Please let me know when you got the files.

[2017-07-18 14:37] soulgalore commented on #1673
Thanks, I've downloaded them now, do you know which run that failed (else I'll test all of them). I'll check tonight. I think it's something in our configuration for VisualMetrics that needs to be fine tuned.

I would use some kind of shaping (our docker networks shaping example works fine for me) to make it easier to find a regression and have consistent values, or how do you use the result/metri

[2017-07-18 14:40] fbusse commented on #1673
It's always the same ones: firstVisualChange, speedIndex and visualComplete. Either 0 or identical numbers.

[2017-07-18 15:23] beenanner commented on #1671
I'll try to poke around with Windows 10 this weekend and see if I can get it working with node 8 @DanielRuf. Stay tuned. I assume you were using Docker Toolbox?

[2017-07-18 15:55] DanielRuf commented on #1671
@beenanner nope, just node and npm on Windows 10. The Docker Toolbox is installed but I did not use it in this case. Sorry, will try to find some time today and help testing.

[2017-07-18 18:22] abhagupta commented on #1669
Hi @soulgalore  sorry for delay on this.  Thanks for the explanation. I do not see either content or transfer size. The only metric I see is `"name":"rapido.cloud.https_www_walmart_com.root.asset_data" `  . In desktop environment, I can see data  as follows
[code]

[2017-07-18 18:46] kapilsaxena commented on #1419
For the ugly fix, what if my password contains '@'? I tried to find out that it's not working. Appreciate any help here.

[2017-07-18 19:16] soulgalore commented on #1669
@abhagupta ok. Can you send me one HAR file from the run (located in the data folder for that page): peter [at]soulgalore[.]com - then I can see where the problem is.
Best
Peter

[2017-07-18 19:52] StevenUpForever opened #1674 "sitespeed 5.x Safari support"
Hi, may I know will sitespeed 5.x have extension to support Safari soon or no plan for it this version?

Thanks.

[2017-07-18 20:06] soulgalore commented on #1669
Thanks @abhagupta the size is in the HAR file so the Chrome trace is working (you can check by dropping it into https://micmro.github.io/PerfCascade/ (check the response).

Then it is something how the metrics are picked up and sent to your data storage?

[2017-07-18 20:09] abhagupta commented on #1669
I am investigating that as well. I woudn't really think so because I am not filtering any metrics between desktop runs vs mobile runs, but I am looking into that as well. Will keep you updated

[2017-07-18 20:19] soulgalore commented on #1674
Hi @StevenUpForever right now it will not work, but (there's always a but) I think we have everything that's needed except a way to get the HAR file. Meaning it should be possible (with some config change and testing) to run Safari to get VisualMetrics and all the data from JavaScript but we will miss the HAR file as now. So I guess the answer is no but it can in the future. What we really are wai

[2017-07-18 20:29] soulgalore commented on #1673
The problem is here (our hack to fix the problem with Chrome updating the screen partly):
https://github.com/sitespeedio/browsertime/blob/master/lib/support/video/visualMetrics.js#L17-L22

We have a long term fix coming up but that will take some time, so I'll check if I can do something simple the coming week.

[2017-07-18 20:31] soulgalore commented on #1669
I'll have a look also when I'm back have my android phone.

[2017-07-18 20:33] soulgalore commented on #1419
@kapilsaxena if you use Chrome we have a real fix now **--browsertime.basicAuth** (it will come to FF when Selenium support new WebExtensions). But I guess it will still be a problem because we split by the @-sign, hmm.

[2017-07-18 20:51] abhagupta commented on #1674
Hi Peter,
If not HAR file, is there a mechanism to get plain simple perf metric like DOMContentLoad , Page Load etc from Safari. According to MDN https://developer.mozilla.org/en-US/docs/Web/API/Performance, Safari 8 supports performance metrics.   At this point, we are looking for something very simple.

[2017-07-18 21:04] tobli commented on #1419
@kapilsaxena Since it's included in a URL, you just URL encode the username and password.

[2017-07-18 21:05] DanielRuf commented on #1671
Changing the node-sass dependency entry to `^4.0.0` (4.5.3) fixed it on Windows 10.

The problem is that node-sass 3 is not fully compatible with npm 5 / node 8.

[2017-07-18 21:09] tobli commented on #1419
That said, I'm not sure it'll work anymore. At least Chrome should disregard credentials passed in the URL, for security reasons (it's easy to trick users).

[2017-07-19 05:19] soulgalore commented on #1671
Hey @DanielRuf thanks, I'll push a branch upgrading and try tonight if generating the CSS works.

[2017-07-19 05:22] soulgalore commented on #1674
That will work, but it could be that we need some tuning/debugging first. The first thing would be to make it work in Browsertime, but I don't see that it will happen [during July/August](https://github.com/sitespeedio/sitespeed.io#vacation-july---august).

[2017-07-19 10:13] julrich opened #1676 "Intermittently missing data for largestassets.summary"
Since switching to 5.4.1 we've had some (seemingly random) failures on some test-runs relating to `largestassets.summary`.

The error displayed is the following:
[code]

A full log is attached, too [1]. Just re-running the failed one fixes it in all cases that happened so far (probably because the chance of failure itself is relatively low, we run ~30-50 tests per day).

[1][20170719-sitespeedio-e

[2017-07-19 11:05] fbusse commented on #1673
I switched to network shaping with docker (as per documentation).
This is the result:
_$ docker run --privileged --shm-size=1g --network cable --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io -c cable -b chrome --speedIndex https://www.idealo.de_
Google Chrome 60.0.3112.66 beta
Mozilla Firefox 54.0
[2017-07-19 11:03:03] INFO: Versions OS: linux 4.9.32-15.41.amzn1.x86_64 nodejs: v6.11.1 site

[2017-07-19 11:40] soulgalore commented on #1673
@fbusse if you check the HAR file, can you see if the docker network worked (you have a much longer download time on the first response)? I've seen that sometimes the network doesn't work. If that's the case, recreate it again!

[2017-07-19 14:05] fbusse commented on #1673
I haven't had time to look at the HAR files, but just from the run-time of the command I'm quite certain that shaping works. 3G takes well over 2 minutes and gives speedindex data. Cable and native don't, at least not reliably.

[2017-07-19 18:18] soulgalore commented on #1673
ok, cool, let me look into the video again then.

[2017-07-19 19:11] soulgalore commented on #1673
I've pushed a fix in browsertime and will let it run for a day before we can release a fix release in sitespeed.

[2017-07-19 19:12] soulgalore commented on #1671
Pushed and can release it tomorrow.

[2017-07-19 19:14] soulgalore commented on #1676
Thanks @julrich for reporting. @tobli or @beenanner do you see whats wrong? I can have a look later if you don't have time!

[2017-07-20 04:27] beenanner commented on #1676
Possible related to the code waiting for the first of a type before classifying remaining assets? The initial HTML page doesn't show up as the largest of it's kind for testing against https://www.sitespeed.io

https://github.com/sitespeedio/sitespeed.io/blob/master/lib/plugins/assets/aggregator.js#L36

[2017-07-20 07:27] fbusse commented on #1673
@soulgalore I'll happily test the fix as soon as it is available.
In the meantime, here's the archive from a run with wrong speed number (incl. browsertime.har):
https://www.dropbox.com/s/djb58me7nqj5y3r/video.tar.gz?dl=1
Please let me know when you got it.

The run itself:
_$ docker run --privileged --shm-size=1g --network cable --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io -b chrome -c

[2017-07-20 07:39] soulgalore commented on #1673
@fbusse hopefully the fix will also fix the wrong metrics. You can try it out now if you change to use the https://hub.docker.com/r/sitespeedio/sitespeed.io-autobuild/ Docker image, that is the one we use for https://dashboard.sitespeed.io to test our new builds.

[2017-07-20 08:11] fbusse commented on #1673
Autobuild looks better!
The run takes quite a bit longer, but the numbers seem sane.

[2017-07-20 13:26] fbusse commented on #1673
But I'm seeing quite a few of these:
[2017-07-20 11:56:28] ERROR: Couldn't generate the HAR from Firefox from the HAR
 Export Trigger.
[2017-07-20 11:56:28] ERROR: ScriptTimeoutError: Timed out
    at WebDriverError (/usr/src/app/node_modules/selenium-webdriver/lib/error.js:27:5)
    at ScriptTimeoutError (/usr/src/app/node_modules/selenium-webdriver/lib/error.js:203:5)
    at Object.throwDecodedE

[2017-07-20 19:52] soulgalore commented on #1673
You can increase the timeout for collecting the HAR with **--timeouts.script** but the default is set to 80 seconds so it is probably some problem in the [HAR Export Trigger](https://github.com/firebug/har-export-trigger), and I guess it could be some content on the page.  If you can track it down, please report it to the HAR export project.

[2017-07-20 20:00] soulgalore commented on #1676
@beenanner you are right, seems like a bug, I think I've missed checking in something in the past, the constructor misses some parameters, let me fix that.

[2017-07-20 20:53] tobli commented on #1664
Hi @benWrightSorenson!
You should consider messages to plugins in sitespeed.io, and urls in Browsertime, as immutable.

* In Sitespeed.io, the same identical message will be delivered to all plugins, to potentially act on (e.g. trigger a local browser or send a request to WebPageTest) asynchronously.
* In Browsertime, pre- and post-scripts are hooks for custom setup/teardown actions directly relat

[2017-07-21 13:11] soulgalore commented on #1676
Released this today, I'll close it now but please re-open @julrich if you still see it in the logs after upgrading to 5.4.4.

[2017-07-21 13:11] #1676 closed

[2017-07-21 13:15] soulgalore commented on #1671
Released 5.4.4 this morning, let me know if you have time to verify that it works @DanielRuf

[2017-07-21 20:11] abhagupta commented on #1669
You were right. This turned out to be an issue on how I am saving data. Everything looks good in mobile tests now.

[2017-07-21 20:11] #1669 closed

[2017-07-24 04:52] DanielRuf commented on #1671
@soulgalore will try to test it this evening.

[2017-07-24 07:46] julrich commented on #1676
Perfect, will give this a spin... and report back!

[2017-07-25 05:45] Gilumaro commented on #1670
Hi Peter,

I was on holiday the last week, so didn't have time to look into this until today :-)
I have no experience with nodejs but I managed to add some code that appends style tags to the head of the page I am testing and it works (more or less).
`driver.executeScript("var css = 'input[type=\"tel\"] { color: transparent; text-shadow: 0 0 0 #000; }'," +`
`"head = document.head || document.getEl

[2017-07-26 08:04] #1673 closed

[2017-07-26 19:36] DanielRuf commented on #1671
Sorry for the belated response. It works now, the issue is fixed.

[2017-07-26 19:51] stephendonner opened #1680 "Firefox times out trying to load some Mozilla sites (window.performance.timing.loadEventEnd times out)"
Steps to Reproduce:

[code]

Output:
[code]

[2017-07-26 20:13] stephendonner commented on #1680
I should also note that I've tried this successfully against www.mozilla.com / mozilla.org, but none of the following FQDNs work: addons.mozilla.org, addons-dev.allizom.org, addons.allizom.org

And I've tried this with 5.4.1 and 5.4.4 versions; it used to work, see https://bugzilla.mozilla.org/show_bug.cgi?id=1379348

[2017-07-26 20:42] stephendonner commented on #1680
Moar datapoints: browsertime 1.5.4 doesn't appear to be the issue (or its dependencies), as this works just fine:

[code]

[2017-07-26 20:48] soulgalore commented on #1680
Hey @stephendonner
I tested and you need to pass **--shm-size=1g** when you run sitespeed.io too (as you did with Browsertime), then it works (at least for me).

We updated Geckodriver to 0.18 in the latest release. Let me know it if works!

Best
Peter

[2017-07-26 21:10] stephendonner commented on #1680
Heya @soulgalore oh my, thanks!  That definitely fixed it - it's omitted from the Firefox section on https://hub.docker.com/r/sitespeedio/sitespeed.io/, so I'll see about getting a PR to add that back, in case other folks miss it, too!

[2017-07-26 21:16] soulgalore commented on #1680
Great! It was originally only needed for Chrome that was very picky for small memory sizes but seems it is needed for Firefox also nowadays.

[2017-07-26 21:16] stephendonner commented on #1680
❤️

[2017-07-26 21:16] #1680 closed

[2017-07-26 21:21] m0nkey opened #1681 "Add output support for Google Lighthouse"
SiteSpeed.io is already fantastic, and improving all the time. Out of the box support for Web Page Test and Google Page Speed Insights has been invaluable to compare and contrast different scorecards. Could support for output of Google Lighthouse CLI results be added to SiteSpeed.io reports?

[2017-07-26 21:25] m0nkey commented on #1681
@tobli [suggested](https://twitter.com/tobiaslidskog/status/890280343722500097) using Browsertime to produce the trace logs, then running Lighthouse analysis on the results.

[2017-07-26 22:35] tobli commented on #1681
Yes, I think that's the best way to start, since much of the work is already in place. Given the right options, the Browsertime plugin already posts trace messages for other plugins to digest. There might be some parts of Lighthouse we can't fully utilise, but I don't know enough to be sure.

For more reliable results, we only want to be running one browser instance at a time. That's enforced usin

[2017-07-26 22:47] #1671 closed

[2017-07-26 23:21] m0nkey commented on #1681
Cool, I didn't realize that regarding BT output traces (or haven't read the docs and code yet). As for what could or could not be compatible with Lighthouse stdin I don't really know yet either but I could do some investigation.

Re: concurrency it's probably OT for this thread but one example use case I was thinking of would involve running worker nodes to offload a queue or manifest of URLs. If

[2017-07-28 08:34] stephendonner opened #1683 "HTTP 500 returned on a POST to /api/datasources/proxy/1/render"
Steps to Reproduce:

1. Load https://dashboard.sitespeed.io/dashboard/db/webpagetest-page-summary?orgId=1, as an example
2. Look in the Network Console

Actual Results:

See http://www.webpagetest.org/result/170728_F5_MEC/1/details/#step1_request29 - there's an HTTP 500 returned, on a POST to /api/datasources/proxy/1/render

[2017-07-28 11:58] julrich commented on #1676
About 30-50 scans later, error gone 💯  :)

[2017-07-28 16:26] soulgalore commented on #1676
thanks @julrich for reporting back!

[2017-07-28 18:55] soulgalore commented on #1683
So I guess it is one query we do that doesn't get a result back from Graphite, I'll put this on low prio for now.

[2017-07-28 22:23] kchoi01 opened #1684 "WebDriverError when testing some pages"
Running from latest docker.
Getting this error when testing www.flipkart.com. Please see the following dump.

Google Chrome 60.0.3112.66 beta
Mozilla Firefox 54.0
[2017-07-28 21:17:44] INFO: Versions OS: linux 4.4.0-1018-aws nodejs: v6.11.1 si                                                 tespeed.io: 5.4.4 browsertime: 1.5.4 coach: 0.34.1
[2017-07-28 21:17:45] INFO: Starting chrome for analysing

[2017-07-29 04:43] soulgalore commented on #1684
Hey @kchoi01 thanks for the report. The pages crashes in Chrome, usually, that happens when there's not enough memory. How much memory do you have on the server that runs sitespeed.io?

Best
Peter

[2017-07-29 07:18] stephendonner commented on #1683
Yeah, looks like it.

[2017-07-30 03:36] kapilsaxena commented on #1419
I am aware of the *--browsertime.basicAuth *but as I mentioned it doesn't
work when password contains '@'. I tried encoding URL with
username/password but no success.

So, in short, I am unable to use it for SSO based authentication. I am
wondering if this can somehow be prioritized to fix.

*--  Regards, *

*Kapil Saxena*

On 19 July 2017 at 02:39, Tobias Lidskog <notifications@github.com> wrote:

[2017-07-31 04:58] soulgalore opened #1685 "WebPageTest missing data breaks a run"
We sometimes gets error when running WebPageTest against NYT:

<img width="497" alt="screen shot 2017-07-31 at 06 56 22" src="https://user-images.githubusercontent.com/540757/28763308-65117c46-75bd-11e7-8416-79edacb45534.png">

The problem is that WebPageTest [misses data from one run](https://www.webpagetest.org/result/170730_W6_6c0ba8a9efbf1193ccdde74d950ed0d5/).

We should check for that in the

[2017-07-31 05:05] soulgalore commented on #1685
Hmm, the status code in the JSON is 200 = everything working but the data looks like:

`"runs":{"1":{"firstView":{"numSteps":1,"run":1,"tester":"VM4-03-192.168.10.91","testTiming":{"ExtensionStart":2039,"ExtensionBlank":231,"WaitForIdle":1090,"MeasureStep":33666,"RunTest":303490,"UploadImages":0,"AllRunsDuration":303000},"cached":0,"step":1,"loadTime":0,"TTFB":0,"render":0,"fullyLoaded":0,"docTime

[2017-07-31 11:32] johnathan-wells opened #1686 "Prevent Sitespeed.io from refreshing page, if endpoint already accessed via pre-script"
Hi guys.

We have an operation we'd like to benchmark: generating a PDF from a page. This means we need to make a pre-script that clicks a button on the page, and start benchmarking from that point. Unfortunately, when Browsertime finishes its prescripts it loads the URL fresh, even if it's on that page already.

I understand that Browsertime is made for testing endpoints and static pages, but it

[2017-07-31 16:13] kchoi01 commented on #1684
Hi, the node is an AWS EC2 C4.large so 3.75GB mem. Also, this is the only page that crashes. Even other pages from the same site have no issues.

[2017-08-03 05:35] taurusismysign opened #1688 "Sitespeed.io on Google cloud"
Hi Peter,

I deployed sitespeed.io docker in Google cloud (Docker image + Kube). I want to integrate invoking the docker container running on a cluster via a say .. rails application.

Do you have any example/ documentation on how to go about it?

Thanks

[2017-08-03 13:48] beenanner commented on #1688
@taurusismysign that sounds really cool, but I don't think we have any setups that advance!  ;-)

When you say

Do you mean GKE or your own Kubernetes cluster running on compute instances? I know Kubernetes has the concept of jobs, so maybe that is a way to integrate sitespeed runs with it. If you wan to fire off a sitespeed run from another language I think interfacing with the Kubernetes API wou

[2017-08-03 13:48] #1685 closed

[2017-08-03 15:11] fbusse opened #1689 "S3 upload with SigV4 broken"
Uploading to S3 in newer regions[1] that need v4 authentication is not possible.
This happens when with sitespeed 5.4.4:

ERROR: Could not upload to S3 Error: Non-file stream objects are not supported with SigV4 in AWS.S3
    at Request.computeSha256 (/usr/src/app/node_modules/aws-sdk/lib/services/s3.js:200:18)

[1] http://docs.aws.amazon.com/general/latest/gr/rande.html#s3_region

[2017-08-03 15:22] beenanner commented on #1689
@fbusse thanks for reporting will take a look soon.

[2017-08-03 18:26] kkopachev opened #1690 "Chrome mobile emulation visually complete flicker between 99 and 100%"
Was not sure to what repo to post, but running latest sitespeed.io in docker container and VisuallyComplete metric on mobile emulation (Chrome). So VisuallyComplete happening at around 20 seconds for some reason, where Visuallycomplete85 is around 3-5 seconds or so. Then there is no visual changes happening on the page.
![image](https://user-images.githubusercontent.com/2279051/28937076-94252216-7

[2017-08-03 18:45] soulgalore commented on #1690
Hey @kkopachev are you really sure nothing is changing in the video? [VisualMetrics](https://github.com/WPO-Foundation/visualmetrics) also creates some small screenshots by default for each change, have you checked them too and can confirm?

Best
Peter

[2017-08-03 18:56] kkopachev commented on #1690
Checked screenshots and yes, there is a change - chrome shows "Loading blahblah.com" in left bottom corner. VisualMetrics seem to react on that and treat it as a page change. There is no visual changes to the rendered page itself.
These are last 3 screenshots it saved:

![ms_023166](https://user-images.githubusercontent.com/2279051/28938348-afec2112-7842-11e7-872f-8233222952d4.jpg)
---------------

[2017-08-03 19:30] soulgalore commented on #1690
ok thanks, think we need to check then if we can fine tune the configuration.

[2017-08-04 05:52] Gilumaro commented on #1670
Hey Peter!

Another way this issue pops up, is with flashing banners on a webpage. I was wondering how the tool handles these, so I tested it out on a dutch news website where I know there will be flashing banners: www.nu.nl.

basically the same happens here. visual progress goes from 99 to 100 to 99 to 100 to 99 to 100.
![image](https://user-images.githubusercontent.com/27728684/28955771-07097516

[2017-08-04 06:52] soulgalore commented on #1670
Hi Ivo,
I think the long term solution would be to add the functionality to blank out parts of the video as Sergey Chernyshev talks about here: https://www.youtube.com/watch?v=t6l9U5bC8jA since it will be different for different sites. There's sites out there that go up and down in progress and I think we need to be able to define which elements that not will be included.

Best
Peter

[2017-08-04 13:05] Gilumaro commented on #1670
Hey Peter,

really interesting stuff! Having a metric like time to primary content or something like that would be really useful to business.
for the issue of blinking/flashing banners/cursors/etc being able to blank out certain parts would certainly be the most elegant solution as it would (I hope) tell when that certain element shows on the page, and whatever fancy blinking and flashing that occ

[2017-08-05 13:08] soulgalore commented on #1690
I'll have a go with this when I'm back from vacation so it will take a week or so before I can start. If anyone else have the time, have a try in Browsertime (needs to be fixed there).

[2017-08-05 13:10] soulgalore commented on #1670
ping @tobli do you have a best way how we can help @Gilumaro with the blinking cursor problem?

[2017-08-08 13:07] benWrightSorenson commented on #1664
Hi @tobli,

Thanks for your advice. Yes, it does seem like we're working across a lot of the original design intent for sitespeedio. We chose sitespeedio after surveying a lot of the other tools available, and decided that it was closest to where we needed to be without needing to support another OS or pay out crazy amounts. We're now quite close to having the system we wanted, but it has required

[2017-08-08 14:22] fbusse opened #1691 "SpeedIndex metrics broken"
Hi,
I have another issue with SpeedIndex that looks very similiar to #1673.
It doesn't happen on every run, but very often. Other endpoints that were broken before the fix for 1673 still work just fine. So does "-c firefox".
I can provide the sitespeed-results on request.

$ docker run --network cable --privileged --shm-size=1g --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io -n 3 -b chrome

[2017-08-10 18:19] soulgalore commented on #1691
Hi @fbusse sorry for the late answer, I'l dig into it asap, probably early next week when I'm back from vacation.

Best
Peter

[2017-08-14 09:08] UltraNemesis commented on #1686
I too have a very similar requirement and facing problems accomplishing it. I have a page where clicking a button opens a overlay in which a form is loaded. I need to capture the time taken from clicking of button to loading complete.

I can do it using a very simple Webpagetest script, but could not find any way to do it with just sitespeed. Of course I can write selenium script preScript to clic

[2017-08-16 16:38] soulgalore commented on #1686
thanks @UltraNemesis ! I'm not 100% sure how we should implement it, we had some ideas in the past but haven't find the time yet to do it. I'll create an issue later with the main task and ping this issue.

[2017-08-17 08:29] johnathan-wells commented on #1686
Thanks @soulgalore, that's really great news.

[2017-08-18 04:48] soulgalore commented on #1690
Hey @kkopachev now I'm back. Can you show me your config how you run? I tried to reproduce but for me the last part of the screen isn't picked up, but I think then it is different depending on viewport. I tried with default setting mobile to iPhone 6 (I did it in Browsertime so it's easier for me to debug):

`docker run --privileged --shm-size=1g --rm -v "$(pwd)":/browsertime-results sitespeedio/b

[2017-08-18 04:50] soulgalore commented on #1691
Hi @fbusse I'm back now and have a look over the weekend. I saw my last fix has actually broken the runs for some of my test sites, so I will look for a new solution to fix this.

Best
Peter

[2017-08-18 12:53] soulgalore commented on #1691
I've pushed some changes today in a new Browsertime, but I want to keep it running for some days before we release sitespeed.io. You should be able to test it yourself if you have time in https://hub.docker.com/r/sitespeedio/sitespeed.io-autobuild/ when it is built in 10-15 min.

[2017-08-21 07:42] soulgalore commented on #1691
Pushing the release today (5.5.0), please get back to me when you have had time to try it out!

[2017-08-22 11:02] fbusse commented on #1691
Looks better on first sight, but I'll report back after a few more test have been run.

[2017-08-23 21:28] kkopachev commented on #1690
Hi @soulgalore I tried your command and it works fine, however, if I add viewport size to it [(as sitespeed.io adds)](https://github.com/sitespeedio/sitespeed.io/blob/3debfec0b4b2f721749ae197cc37e329a5afeae0/lib/plugins/browsertime/analyzer.js#L55) then that "Loading..." thing taken into account calculating last visual change. Here is command I ran to repro:

`docker run --privileged --shm-size=1g

[2017-08-24 04:46] soulgalore commented on #1690
Thanks @kkopachev I missed that, let me have a look asap!

[2017-08-24 09:57] fbusse commented on #1691
Works for me (tm). Thanks for the quick fix.

[2017-08-24 09:57] #1691 closed

[2017-08-26 13:47] soulgalore commented on #1690
Had a go at this today to check if there's something we could do just by configuring VisualMetrics but no look, I'll need to change where we set the offset for the video that adds some testing, let me continue with that.

[2017-08-27 17:17] soulgalore commented on #1653
this was released before 6.0 :)

[2017-08-27 17:17] #1653 closed

[2017-08-27 17:18] soulgalore commented on #1555
This has halted but lets take this up again the coming weeks, it's a really nice thing.

[2017-08-27 17:22] soulgalore commented on #1141
I think we can do this in at least two different ways:
* A super generic solution where every plugin can create a page, and everything today will use that new solution. This will need a lot of work.
* When we do the change for 6.0 renaming tabs to be more usable (video/waterfall etc) we add an extra tab called extras, where all plugins can report to. That will make it easier (I think) but not as o

[2017-08-27 20:51] rcherny opened #1694 "Feature: Import legacy Webpagetest results into Sitespeed.io and/or Graphite for migration"
Similar to what's noted in #1452 and #1384 — I'd like to be able to migrate to Sitespeed.io from using WebpageTest directly — particularly for the charting in the Graphite UI as the notion is to use this over time. But, the catch is I don't want to lose legacy test results.

[This is follow up to the discussion on twitter](https://twitter.com/SiteSpeedio/status/901871760890634242).

I could be mis

[2017-08-27 21:06] rcherny commented on #1694
An alternative might be to simply be able to extend Sitespeed's use of the Webpagetest-API wrapper, which itself is able to fetch results using the ID of a test result -- currently this doesn't seem to work.

The more I think about it, this may even be a better starting point.

[2017-08-29 04:36] soulgalore commented on #1694
Hey @rcherny thanks for adding the issue. I know @tobli started before on generating results from a HAR but I think he stopped with other things with higher prio. @tobli do you have any input?

Best
Peter

[2017-08-30 18:49] kohlmannj opened #1696 "Should the NPM `sitespeed` package carry a deprecation warning?"
A moment ago, I realized I was having issues with Sitespeed.io because I had (globally and locally) installed the `sitespeed` package from the NPM registry, rather than `sitespeed.io`.

Specifically, I encountered this issue thread (https://github.com/sitespeedio/sitespeed.io/issues/1665#issuecomment-315326329), ran `yarn info sitespeed`, and thought, "wait, I don't see any v5.4.x releases listed!

[2017-08-30 18:51] soulgalore commented on #1696
Hey @kohlmannj thanks for filing the issue. We (=the team) don't own *sitespeed* on npm, there's someone else that published that :(
Best
Peter

[2017-08-31 02:01] goblinbomb opened #1698 "SitespeedIO + Webpagetest(private instance) First View: Test Data missing"
Hi There,
I am trying to run a webpagetest script (contains user journey) using sitespeedio against a private webpagetest instance and keep getting the following error message(stacktrace below).  I have masked the key  host, API key, website name etc.  Below is the docker command to run webpagetest via sitespeed, script & stacktrace.

**_command:_** docker run --privileged --shm-size=1g --rm -v "$

[2017-08-31 06:13] soulgalore commented on #1698
Hi @goblinbomb and thanks for the report.

Ok, I think there's a couple of things we could fix on our side. The first error in the log comes from that the WebPageTest data is missing fullyLoaded:
https://github.com/sitespeedio/sitespeed.io/blob/c9c2f607d24966161c0cc992ad01dd78f6aec694/lib/plugins/webpagetest/aggregator.js#L31

We added that check because for some larger websites like cnet/nytimes

[2017-08-31 07:04] goblinbomb commented on #1698
Hi @soulgalore, yes everything looks ok on the result page for the webpagetest. Unfortunately, I am not able to share the webpage private instance information or result (after discussing with our security team). However is there any other information that I can share that could help you?

[2017-08-31 09:15] soulgalore commented on #1698
I've pushed one change in master and the other one I wanna have @beenanner check first. Can you run from a specific branch to test? Else if you look at the JSON from the WebPageTest API and confirm that fullyLoaded is 0, that would be cool.

But I'm not really sure fully understand what you want to measure? Like what metrics are important to you when you access multiple URLs? The total time?

[2017-08-31 18:23] UltraNemesis opened #1700 "Not able use sitespeed to run just WPT test"
It looks like it is not possible to use sitespeed to just run a test on Webpagetest. The URL field is mandatory making it impossible to pass a WebPageTest script and record result of the same.

I have situations where I need to be able to run a test on just WPT private instance,

[2017-08-31 20:26] soulgalore commented on #1700
I've made a fix now so it at least work for me, can you try from master?

`bin/sitespeed.js --plugins.disable browsertime --webpagetest.key SECRET https://www.sitespeed.io
`

[2017-09-01 01:08] goblinbomb commented on #1698
Hi @soulgalore, I am trying to get timing & resource information for a user journey across different pages. I am mainly looking for Load time, first byte, start render time and stats for document complete & Fully loaded.

In the above case, I have a user that
1: Navigates to our website home page
2: Types a search item and gets an auto suggested dropdown list
3: He then selects one of the item fro

[2017-09-01 05:52] soulgalore commented on #1698
Yes but do you get that separated in the JSON from WebPageTest? Like do you get TTFB for the first or the second page, or is that separated in the JSON from WebPageTest? I  don't think we handle that today in sitespeed.io. I think it will probably only work "right" if you turn off/on metrics with *logData*. But I could be wrong :)

[2017-09-03 11:04] mizbanpaytakht opened #1701 "Error when using sitespeed.io"
Hi,

I installed sitespeed.io by using npm and yarn but its not working !

`[root@sitespeed ~]# sitespeed.io -b chrome --browsertime.chrome.args no-sandbox http://google.com
[2017-09-03 07:02:24] INFO: Versions OS: linux 3.10.0-514.el7.x86_64 nodejs: v6.11.1 sitespeed.io: 5.5.0 browsertime: 1.6.1 coach: 0.36.0
[2017-09-03 07:02:24] INFO: Starting chrome for analysing http://google.com 3 time(s)
[2

[2017-09-03 19:30] soulgalore commented on #1701
HI @mizbanpaytakht
thanks for the report. What OS and what Chrome version are you using? I've seen the error before when Chromedriver (that starts/drives Chrome) miss-match the Chrome version.

Best
Peter

[2017-09-04 07:58] mizbanpaytakht commented on #1701
OS: CentOS 7.3.1611 x64
ChromeDriver: 2.29 on port 9515
SeLinux: Disabled
Google Chrome: 60.0.3112.113

[2017-09-04 10:54] soulgalore commented on #1701
Ok, and you run XVFB or do you have a screen (just making sure that everything is setup correctly).

[2017-09-04 12:32] mizbanpaytakht commented on #1701
I'm using sitespeed via command line and start Xvfb by this command
nohup Xvfb :99 > /dev/null 2>&1 &
also tried
xvfb-run --server-args='-screen 0' sitespeed.io -b chrome http://google.com

[2017-09-06 15:28] soulgalore commented on #1701
Hi @mizbanpaytakht sorry for not getting back. I haven't had time to test on CentOS. Are you able to test if it works with Firefox (then we know if it is a Chrome issue) or better to run in Docker, that's our recommended way.

Best
Peter

[2017-09-06 15:58] p3dro114 opened #1702 "Sitespeed.io + docker generate diff directory"
Hi,

I solved a problem with sitespeed.io + docker.

When you launch "docker run ...", it create diff file on this path /var/lib/docker/aufs/diff/

Some files can be delete, but not all !

rm -rf /var/lib/docker/aufs/diff/*-removing

Regards,

[2017-09-06 16:04] soulgalore commented on #1702
Hi @p3dro114
I think this is a Docker issue and not sitespeed.io related, so closing this. Have a look in the [Docker forums](https://forums.docker.com/) if you can find help. If you still find it sitespeed.io related, feel free to re-open the issue.

Best
Peter

[2017-09-06 16:04] #1702 closed

[2017-09-07 04:01] pi-bjl opened #1703 "Browsertime Docker image --preScript error "Couldn't run pre/post script file: /login.js Error: Cannot find module '/login.js'""
It seems like the --preScript option is parsed differently in the browsertime Docker image compared to the sitespeed.io one. I have a login.js for using with preScript which works with sitespeed.io but with browsertime it says it has prepended a '/' and can't find the file.

[code]

Thanks for providing these interesting tools :)

[2017-09-07 08:09] UltraNemesis commented on #1700
Thanks, This works for me now.

One issue that I noticed is that if I pass the --plugins.disable in command line, the order of args matters for some reason. Initially I tried putting it at the other of other command line args just before the URL, but it didn't work for me and I was getting the noURL/file error. Then when I tried moving it to the first command line arg, it worked then.

[2017-09-07 08:15] UltraNemesis opened #1704 "WPT loadTime not included in the default metrics captured."
I noticed that when testing with the WPT integration, the "loadTime" metric is not in the default metrics list and not present int the Grafana dashboard templates either.

Any reason for this. This metric is one of the reasons I use WPT because in 99% of the cases, it gives me the point when the page has become usable for the user. Value of "fullyLoaded" gets affected if you have any async scripts

[2017-09-07 09:46] soulgalore commented on #1700
@UltraNemesis yep, that is kind of an old bug, how we handle "arrays", but we haven't fixed it, we have an issue somewhere (I'm travelling at the moment). Lets see if we can fix it to 6.0, it is annoying.

[2017-09-07 09:50] soulgalore commented on #1704
Hi @UltraNemesis thanks for the report. The history is that we wanted to minimize data sent to Graphite so we focused on the "new" metrics like SpeedIndex since pageLoad isn't a perfect metric, see http://www.stevesouders.com/blog/2013/05/13/moving-beyond-window-onload/

But I agree we should add it, let me do that next week so it's there for the next release, then WPT and Browsertime metrics are

[2017-09-07 09:54] soulgalore commented on #1703
Hi @pi-bjl  I think we should change the workdir for Browserime in Docker (right now it is / so it's hard to link as a volume). Right now in your example, the result dir is mapped as a volume. This should be a browsertime issue, I can create one later this week and link it here.

Eh was that understandable? I agree it is kind of strange as it is now, and we should change it, thanks or letting us k

[2017-09-07 15:06] UltraNemesis opened #1705 "Collecting video of median run from WPT as part of the sitespeed report"
Would it be possible to collect the video generated by WPT for the median run and put it along with the html report. We get video with browsertime in the result, but not for WPT.

[2017-09-07 23:22] pi-bjl commented on #1703
That sounds great, thanks @soulgalore!

[2017-09-08 18:44] soulgalore commented on #1703
Merged in Browsertime, think we can roll it out early next week.

[2017-09-09 17:01] soulgalore commented on #1705
This is what the HTML code looks at the moment:
[code]

when we use the getEmbedVideoPlayer method.

[2017-09-12 09:52] tglanz opened #1707 "chrome fail to start when args provided"
Hi, thank you for the great tool!

I am trying to apply the following options to chrome, running sitespeed through docker container
[code]

using the configuration file, the browsertime section looks something like
[code]
when applying those configurations, the browser fail to start with the error
```Browser failed to start, trying one more time. TimeoutError: Failed to start browser in 60 seconds

[2017-09-12 11:35] soulgalore commented on #1707
Hi @tglanz thanks for the kind words. I think we need to add more documentation for this. One thing is that you don't need the "--" for the args (but that isn't obvious). I'll try tonight with a JSON to see how it works. Paremeters using the cli like *--browsertime.chrome.args "disk-cache-size=1"* works for me.

Best
Peter

[2017-09-13 11:08] maikelwever commented on #1459
A workaround that works for me, is to add the following at the bottom of `docker/scripts/start.sh`:

[code]

It's ugly but it works. I also don't use the --privileged flag since for me it doesn't seem to be needed.

[2017-09-13 11:13] talgsoluto commented on #1707
Hi @soulgalore as i can tell it still seems to crash the browser after removing the "--"
Thanks

[2017-09-13 11:14] tglanz commented on #1707
Hi @soulgalore as i can tell it still seems to crash the browser after removing the "--"
Thanks

[2017-09-13 13:31] moehlone opened #1708 "Invalid screen configuration error when using Android, Chrome and Docker"
Hi,

I followed all steps mentioned here: https://www.sitespeed.io/documentation/sitespeed.io/mobile-phones/.

When I run everything with docker:
`
$ docker run --privileged --shm-size=1g --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io --xvfb false --browsertime.chrome.android.package com.android.chrome https://www.sitespeed.io
`

I get the following output:

Google Chrome 60.0.3112.78
Moz

[2017-09-13 13:51] soulgalore commented on #1708
Hey @moehlone ,
hmm then I think we have introduced a bug. The error is from xvfb or? I'll have a look at it on Friday (busy until then).

Are you running on Ubuntu? I see that I've missed that in the documentation. Running Android in Docker only works on Linux, the mapping for USB doesn't work on Mac OS X (I'll update the docs then too).

Best
Peter

[2017-09-13 13:54] moehlone commented on #1708
Hi Peter,

yes, then this is the point.. I`m running Mac OS X :-)

[2017-09-13 14:29] soulgalore commented on #1708
I've updated the examples now and wrote about the Linux Docker only situation, the documentation on the site will be there in a couple of minutes. Sorry that I missed it before!

[2017-09-13 14:29] #1708 closed

[2017-09-13 16:05] soulgalore commented on #1690
Sorry for not getting back, I'll continue this weekend.

[2017-09-13 16:55] soulgalore commented on #1690
I actually tried it out and got a solution for it, but need to do a change in the VisualMetrics script. I'll do the change probably tomorrow but also wanna check if it can be changed upstream, that makes it easier in the future.

[2017-09-13 17:02] soulgalore commented on #1707
Hi @tglanz what OS and Chrome version are you using? I tested with Chrome 61 on my Mac and this works for me (tried to make a really simple test case):
[code]
And then run it:
`sitespeed.io --config config.json https://www.sitespeed.io`

[2017-09-13 17:19] soulgalore commented on #1690
I made a fix in master for browsertime: https://github.com/sitespeedio/browsertime/commit/a4c0d76e539383b2f19c50673a92fc44afbe4487

It works for me now. Roll it out in the next release (hopefully this weekend).

[2017-09-13 17:36] tglanz commented on #1707
Running on osx, using latest docker image. With standalone chrome, v60 i believe.
I will check again tommorow, reducing all other configurations and will try to add additional logs

[2017-09-13 17:42] soulgalore commented on #1707
Aha ok! Sorry I missed that and we need to add it to the documentation. Checkout the docker file:
https://github.com/sitespeedio/sitespeed.io/blob/master/Dockerfile#L4

In our Dockerfile we automatically set the no-sandbox argument to Chrome, when you add your chrome arguments on the same path, that one will be overridden. If you add no-sandbox to your JSON, I'm pretty sure it will work.

Best
Pet

[2017-09-14 07:09] soulgalore commented on #1707
Let me know if that was the case (when you have time to test)!

[2017-09-14 07:10] soulgalore commented on #1704
This was released yesterday, I've added it to our example dashboard:
https://dashboard.sitespeed.io/dashboard/db/webpagetest-page-summary

Dashboards will be updated next week.

[2017-09-14 07:10] #1704 closed

[2017-09-14 07:11] soulgalore commented on #1703
Released BT yesterday with the fix.

[2017-09-14 07:11] #1703 closed

[2017-09-14 07:11] soulgalore commented on #1700
I've released this yesterday. Let us fix the array problem for 6.0.

[2017-09-14 07:11] #1700 closed

[2017-09-14 07:13] soulgalore commented on #1690
Released this yesterday in sitespeed.io so I hope it will work now :)

[2017-09-14 08:22] tglanz commented on #1707
@soulgalore it works! indeed adding no-sandbox fixed the issue.
Thank you!

[2017-09-14 08:34] soulgalore commented on #1707
Great, I'll update the docs for that.

[2017-09-14 08:34] #1707 closed

[2017-09-14 08:48] Algram opened #1709 "How to use the number of third-party requests in the performance budget file"
Hello,
I want to configure a budget for the number of third-party requests. I generated the `metrics.txt` file and searched for it there, but it does not seem to be included. What would the correct string be that I need to add to the budget file so that it works for the third-party requests?

Thank you!

[2017-09-14 17:51] soulgalore commented on #1709
Hi @Algram yep that isn't perfectly clear. I would start with listing all the metrics to a file, checkout https://www.sitespeed.io/documentation/sitespeed.io/metrics/#list-metrics and then take it from there, I can help out this weekend. I'll update the issue when I have had time to check.

Best
Peter

[2017-09-15 05:52] moehlone opened #1710 "[Question] Get raw metrics of each measurement"
Hi,

sorry if I missed that in your great docs, but:

Is it possible to get a raw CSV, JSON or other format of all measurements for each page/iteration?

Thank you in advance.

Best regards
Philipp

[2017-09-15 07:50] soulgalore commented on #1710
Hi @moehlone I think we miss documentation about that, let me go through it this weekend. You can write all raw data (as JSON) to disk so get the data from each plugin (Browsertime, Coach WebPageTest etc). There's some info here: https://www.sitespeed.io/documentation/sitespeed.io/plugins/#add-a-plugin

We have a plugin (named analysisstorer (not the best name)) that you need to turn on:
`$ docker

[2017-09-15 18:05] kkopachev commented on #1690
Hi Peter!
Tried latest sitespeed.io image and it didn't solve the problem, but created other problems.
http://sitespeedio.sugarops.com/www.popsugar.com/2017-09-15-14-17-11/pages/www.popsugar.com/celebrity/Easy-Halloween-Costumes-Women-Color-42592271/query-3b2b8401/data/video/0.mp4

There are no ovelay "First/Last paint" timings on the video (didn't find in changelog if new flag was introduced?)
Vi

[2017-09-15 20:35] soulgalore commented on #1690
Hi @kkopachev
thanks for getting back. The timer was a mistake by me when I pushed the new version of Browsertime, pushing a fix release now.

The size, I think something has changed in Chrome 61, but I haven't looked into it yet: https://github.com/sitespeedio/browsertime/issues/367 - I'll look later, else I'll rollback the to Chrome 60.

For Visual Progress, hmm it worked when I tried it Browser

[2017-09-16 19:56] soulgalore commented on #1690
That upscaling, it doesn't happen when I try, it's strange.

I changed the margin again, now it is bigger and it will work for Linux but run on Mac it will still fail, I think the 2x DPI density is the problem. Is it easy for you to test from master (if you run on Linux but I guess you are)?

Best
Peter

[2017-09-16 22:52] soulgalore commented on #1690
When I looked closer I could reproduce, I'll rollback to 60 and if that works, I'll report a bug in Chrome.

[2017-09-17 12:39] debopambhattacherjee opened #1713 "Unable to enable chrome data compression proxy"
I am unable to load urls using chrome with the data compression proxy enabled although there exists a flag for doing so. I am using --browsertime.chrome.args for setting the flag. Below is the command followed by the output.

COMMAND:

sudo docker run --privileged --shm-size=1g --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io --speedIndex -n 1 -b chrome --browsertime.chrome.args enable-spdy

[2017-09-17 17:34] soulgalore commented on #1713
Hi @debopambhattacherjee ahh sorry, this isn't documented, let's see if we can fix this automatically: When you run in Docker [we set no-sandbox](https://github.com/sitespeedio/sitespeed.io/blob/master/Dockerfile#L4) to Chrome in the Docker file and that one is overwritten when you add extra Chrome args. If you **add --browsertime.chrome.args no-sandbox** to your parameters it will work.

Best
Pet

[2017-09-17 17:53] debopambhattacherjee commented on #1713
Thanks! It worked like a charm!

[2017-09-17 17:53] #1713 closed

[2017-09-17 21:01] taurusismysign opened #1714 "Information from Plugin (S3) in Postscript"
Can a plugin - say s3 - which is uploading the files to S3 bucket make the s3 path available in postscript (context.results)?

Or screenshot path be available in postscript?

Basically, postscript gives results but outputs/ results of these independent plugins is not available there to read. How can this be made possible?

[2017-09-17 21:20] tobli commented on #1714
Hi @taurusismysign!
Could you please describe your use case, what you'd like to achieve? Pre- and post scripts run before or after every url is loaded in your local browser (Browsertime running as one of the sitespeed.io plugins). The S3 plugin to sitespeed.io does its' work at the last stage of the plugin lifecycle, when all plugins have completed. Therefor there's no direct relationship between

[2017-09-17 21:29] taurusismysign commented on #1714
Thanks for the quick response @tobli

So here's what I am trying to do. I want ONE json output of all plugins - browsertime, s3 etc - so that I can take that information and process it.

I was hoping that postscript is that place - but looks like postscript is post browsertime (plugin) and doesn't have any relation with s3 or other plugins.

Is there any hook/ place which runs at the very end wher

[2017-09-17 21:42] tobli commented on #1714
There's no canonical JSON representation of plugin results. Some plugins (such as the s3 plugin) just logs some information as it runs. Others, such as the browsertime plugin, can store megabytes of data to disk for each url (including HAR files, screenshots etc.).

Not knowing what type of processing you're thinking of, it sounds like you might want to make a plugin of your own. Most plugins list

[2017-09-18 08:55] Algram commented on #1709
@soulgalore Thank you. That's what I did. In the documentation you mention

The command you provide below that statement does in fact **not** list **all** possible metrics. To list all the possible ones you also need to specify the `--firstParty` parameter.

After doing that, I am getting more metrics in the `metrics.txt`, but it seems the one that I need is still missing. There is `pagexray.pageS

[2017-09-18 11:26] mizbanpaytakht commented on #1701
Hi Again,
since I want to get the data by PHP code its not possible for me to run it via Docker.

`[root@sitespeed ~]# xvfb-run --server-args='-screen 0' sitespeed.io -b chrome h^Cp://google.com
[root@sitespeed ~]# nohup Xvfb :99 > /dev/null 2>&1 &
[1] 25179
[root@sitespeed ~]# xvfb-run --server-args='-screen 0' sitespeed.io -b firefox http://google.com
[2017-09-18 07:25:00] INFO: Versions OS: lin

[2017-09-18 20:38] soulgalore commented on #1701
Hi @mizbanpaytakht m
you can run from PHP shell I think?

If both browsers fail, then it seems to be something with XVFB, that is my guess.

Best
Peter

[2017-09-19 05:34] taurusismysign commented on #1714
This sounds great @tobli. Thanks for such a detailed answer.

[2017-09-19 05:34] #1714 closed

[2017-09-19 08:01] soulgalore commented on #1709
Ah sorry I see now.

Ok, could it be that if you don't have any third parties PageXray doesn't add it?

When I test `sitespeed.io  --metrics.list --firstParty .*cnet.* -n 1 https://www.cnet.com` I get pagexray.pageSummary.thirdParty.requests and pagexray.pageSummary.firstParty.requests

Best
Peter

[2017-09-19 21:20] kkopachev commented on #1690
5.6.2 fixed the main issue. Inappropriate scaling at the end of video gone as well. Timings are back.

[2017-09-20 07:08] soulgalore commented on #1690
Ok good. I'll increased the the diff now to 25 (that is the same as WebPageTest, it's different values in VisualMetrics and WebPageTest. For the scaling, I'll run a test on CHrome 62 in master for a while and hope that it is gone (there have been multiple problems with the emulated mobile in the past), if that still fails, I'll create a bug in Chrome.

[2017-09-20 07:33] soulgalore commented on #1690
No couldn't upgrade to 62 because of https://bugs.chromium.org/p/chromium/issues/detail?id=766674

[2017-09-21 06:58] Algram commented on #1709
Yeah that is a good guess. I tested it with sitespeed.io, which does not have any third parties. I will configure the budget with `pagexray.pageSummary.thirdParty.requests` and see if it works.

Thanks for your help!

[2017-09-21 08:25] SourabhKotnala opened #1715 "IE 11 Setup Details or Step"
Hi,

I am performance engineer and  trying to setup sitespeed for IE11, but not sure about the configuration steps for it. Is there a documentation around it which can be shared.
Thanks

[2017-09-21 11:53] soulgalore commented on #1715
Hi @SourabhKotnala we don't support Windows at the moment. With some changes it could work but we are too few people to keep a Windows version working. You can use a WebPageTest agent and pull the data from that or just run WebPageTest standalone if IE 11 metrics is the one you need

Best
Peter

[2017-09-21 11:53] #1715 closed

[2017-09-21 21:06] tufandevrim commented on #1710
This is very nice. I have tried following command:
[code]
it produces 7 json results, among one of them always has invalid json format: `largestassets.summary.json`

[2017-09-22 02:36] SourabhKotnala commented on #1715
Hi @soulgalore, thanks for quick response. I did try that but having issues for IE11 with uwebsockets.

Regards
Sourabh

[2017-09-22 06:56] soulgalore opened #1718 "largestassets.summary.json is broken (at least for yahoo.com)"
The JSON output is broken (at least for yahoo):
`sitespeed.io https://www.yahoo.com/ --plugins.load analysisstorer` as reported by @tufandevrim in #1710.

I did a quick check to verify and the output is broken.

[2017-09-22 06:56] soulgalore commented on #1710
thanks @tufandevrim I created a new issue for that, I'm closing this one.

[2017-09-22 06:56] #1710 closed

[2017-09-22 07:06] tobli commented on #1718
Could you please attach a broken file? Seems strange, since the file data is created using JSON.stringify(data)

[2017-09-22 07:08] soulgalore commented on #1718
https://gist.github.com/soulgalore/6ef372b929f48d6a084d80b544a26889

[2017-09-22 07:10] soulgalore commented on #1718
Maybe I should add the raw version to, unformated so my formatter doesn't some extra things.

[2017-09-22 07:10] tobli commented on #1718
😮

[2017-09-22 07:11] soulgalore commented on #1386
This done in https://compare.sitespeed.io

[2017-09-22 07:11] #1386 closed

[2017-09-22 07:24] soulgalore opened #1719 "sitespeed.io 6.0"
In November I will be on leave from work for a week to make the foundation for sitespeed.io 6.0. The project has been running for 5+ years and it's time for the next major release. I got some ideas what will be included but I want your input too. I will only have a week so I can only do a couple of tasks :)

Here's my top list want I want to do:
* Make it possible for plugins to add HTML [#1141](h

[2017-09-22 07:32] moehlone commented on #1719
If I got that right, sitespeed internally uses WPT API. So maybe it could be easily abstracted to drive iOS agents through WPT, like you said in Slack?

[2017-09-22 07:37] soulgalore commented on #1719
@moehlone yes you can do that right now, we push every config you add in --webpagetest.* to the WebPageTest NodeJS API so you can do whatever you want. However the NodeJS wrapper is lagging behind the WPT API but I think it's nothing special that needs to be done for WPT.

[2017-09-22 07:42] moehlone commented on #1719
Okay, so maybe this could be a good step by step guide for the documentation. Thanks!

[2017-09-22 07:44] soulgalore commented on #1719
Yeah can you give feedback what's missing: https://www.sitespeed.io/documentation/sitespeed.io/webpagetest/ (sometimes it's hard to see things when you write them yourself :))

[2017-09-22 09:36] kamilkrzeminski opened #1720 "404 when trying to download Grafana dashboards package"
Downloading dashboards package from https://www.sitespeed.io/documentation/performance-dashboard/dashboards.zip results in 404.

[2017-09-22 09:39] soulgalore commented on #1720
Hey @kamilkrzeminski thanks for reporting! We need to change the link. The correct way is to either use the docker image: https://www.sitespeed.io/documentation/sitespeed.io/performance-dashboard/#pre-made-dashboards or download them from that repo: https://github.com/sitespeedio/grafana-bootstrap-docker

Best
Peter

[2017-09-22 09:41] soulgalore commented on #1720
By the way, do you remember where you got to that link?

[2017-09-22 09:46] kamilkrzeminski commented on #1720
Actually - somewhere here in issues. But there's another 404 on this page: https://www.sitespeed.io/3.x/performance-dashboard/ (search "To get up and running fast we have a zip file") - URL targeting  https://www.sitespeed.io/dashboards.zip

[2017-09-22 09:49] soulgalore commented on #1720
Thanks that's the old (really old) version, I'll remove old that when we push 6.0. No one should run 3.x.

[2017-09-22 10:21] kamilkrzeminski commented on #1701
I had the same issue on Ubuntu 14.04, while I hadn't installed Chrome/Firefox yet ;)

[2017-09-22 13:08] kamilkrzeminski commented on #1720
Thanks for the answer, I got that working.

[2017-09-22 14:03] tobli commented on #1718
Ok, I think I understand what happens now. File names and paths are generated based on message type and (optionally url/run). Since some summary messages are sent once per group (per domain + “total”), a number of threads will try to write to the same file name (with different data) at the same time. Hence the mix of chunks from different json structures intermixed. Group needs to be included when

[2017-09-22 15:35] soulgalore commented on #1718
ah great @tobli ! I can have a look this weekend and see if there’s a easy fix.

[2017-09-22 16:07] soulgalore commented on #1718
Actually I think we should add the toplists to the ignore list in https://github.com/sitespeedio/sitespeed.io/blob/master/lib/plugins/analysisstorer/index.js#L8 since it is aggregated data @tobli . I missed that when I created the lists.

[2017-09-23 11:50] soulgalore opened #1722 "Custom metrics for WebPageTest breaks the HTML"
See https://results.sitespeed.io/www.nytimes.com/2017-09-23-06-46-50/pages/www.nytimes.com/#webpagetest

<img width="1196" alt="screen shot 2017-09-23 at 13 49 51" src="https://user-images.githubusercontent.com/540757/30772908-2ea1f4be-a066-11e7-9dbb-ee619a49e8ee.png">

[2017-09-25 18:33] #1722 closed

[2017-09-28 02:06] Mr0grog opened #1724 "Allow plugins to depend on other plugins"
Is there any way to specify that one plugin requires another to be loaded? For example, if I’ve written a plugin that processes messages from gpsi in order to do something special, I’d like to ideally ensure that gpsi gets loaded without having to tell a user to make sure they’ve set `--plugins.load gpsi my-plugin`.

Barring that, it would at least be nice to have a final list of loaded plugins so

[2017-09-29 15:26] soulgalore commented on #1724
Hi @Mr0grog thanks for sharing, sorry that it took a couple of days to get back.

I'm gonna put in some work for the plugin structure for 6.0 sometimes in October or early November, but my main focus will be to add support for HTML (so you, when you do a plugin, can add your result to the HTML pages), for me that is the feature I miss the most.

Plugin dependency will make things more complicated

[2017-09-29 15:44] Mr0grog commented on #1724
Yeah, I can’t disagree with that! Even if explicit dependencies aren’t possible, it would be helpful if the the plugin `open` method received a list of all the loaded plugins so I could log a meaningful error telling the user exactly what they need to set for their `plugins.load` argument if the plugin I depend on isn’t present.

That would be nice, too, but not quite what I was getting at. In my

[2017-09-30 08:26] soulgalore commented on #1724
Yep, lets aim for making the plugin list public. I can fix that for 6.0.

I understand. That would mean that your plugin would send a message that browsertime would pick up. I need to talk with @tobli about it, I like the idea but not sure how we would implement it.

Best
Peter

[2017-09-30 08:34] soulgalore opened #1726 "Allow plugins to know which other plugins configured"
Checkout https://github.com/sitespeedio/sitespeed.io/issues/1724

[2017-09-30 08:35] soulgalore opened #1727 "Breakout code that needs to be used by plugins and have it as a dependency"
So plugins easily can use the code. @tobli has some ideas about it.

[2017-09-30 13:19] soulgalore opened #1729 "Plugin hooks"
At the moment we have the following hooks for plugins:
* open - open/starts the plugin
* postOpen
* run
* close
* postClose
* final
We should go through it for 6.0 and check if we wanna add something or if it is perfect :)

[2017-09-30 13:23] soulgalore commented on #1724
@tobli I think a plugin could pass on a message in postOpen that Browsertime would pickup and then add it to the array of JavaScript that it runs with just open up https://github.com/sitespeedio/sitespeed.io/blob/master/lib/plugins/browsertime/analyzer.js#L49 ? That would make plugins really powerful and still easy to use for users.

[2017-10-03 08:28] soulgalore commented on #1729
Discussed it with Tobli and lets see if there's away to remove some of the hooks and send messages like "summarize" as we do today ... but we need to invest some time to make that happen.

[2017-10-03 08:28] #1729 closed

[2017-10-03 19:09] siteriaitaliana commented on #1719
What about a plugin to pull in new relic nrql results? Also wpt native support might be good the whole setup of pointing an external instance is pretty flaky right now, keep getting runs errors and test being queued due to slow to refresh php queues or when the fun result calculation in Wpt gets corrupted. Last yes the Lighthouse support is something useful as the brosertime and coach timing metri

[2017-10-03 20:14] soulgalore commented on #1719
thanks @siteriaitaliana !

I think the overall strategy is to make everything pluggable but not add more integration in sitespeed.io. So if you wanna pull in data from New Relic or Lighthouse that will work, but you need to find the plugin or create it yourself (that is possible in 5.x but we miss the possibility to add HTML, but that will come in 6.0). We gonna move out GPIS to a standalone plugi

[2017-10-04 06:43] siteriaitaliana commented on #1719
Thanks for your prompt answer @soulgalore

Would be interesting to find a way to have a plugin directory somewhere to avoid re-building a plugin that may be somebody has already built (RE.. new relic).

About WPT, we are using a private own instance in AWS but at some point I start to lose runs due to timeout (test get stuck in the pearstack queue in some ways and only recover when the queue gets

[2017-10-05 09:10] UltraNemesis commented on #1719
1. Resolving #1686 would be great. I think this is a very important feature.
2. Coach output from the WPT har would be nice.
3. Flimstrip and video in WPT result.

[2017-10-05 12:14] fbusse opened #1733 "logrotate in graphite docker image not working correctly"
In the current dockerized graphite container (sitespeed for docker-compose), the configuration for logrotate is broken.
_/etc/logrotate.d/graphite_ is configured to rotate /var/log/*.
This clashes with other logrotate configurations:

$ logrotate /etc/logrotate.conf
error: graphite:1 duplicate log entry for /var/log/alternatives.log

The files should be referenced individually (e.g. /var/log/carbo

[2017-10-05 15:11] JoaoGFarias opened #1734 "No page reload when accessing landing page"
Given that:
- Selenium is a great tool for performing complex interactions on web pages;
- Many interesting performance issues happen after AJAX requests (click on a button that loads a huge load of data);

One can use the _--preScript_'s to not only log in applications, but also to perform interactions on them. The problem lies on the fact the landing page is obligatorily accessed, reloading the

[2017-10-05 18:52] soulgalore commented on #1734
Hey @JoaoGFarias yes, I actually started on something like that in https://github.com/sitespeedio/browsertime/tree/selenium-script today but I need to find the time to discuss and sync with @tobli and @beenanner . I hope we can have something like that in 6.0 late November.

Best
Peter

[2017-10-05 18:57] soulgalore commented on #1733
hey @fbusse thanks for reporting! I've started to test out the official docker graphite container (there was no when we started): https://github.com/graphite-project/docker-graphite-statsd and it seems to work fine for me (plus then you get Graphite 1+) but I need a couple of more days to test it out and prepare the configuration. Could probably push a branch for that tomorrow night.

Best
Peter

[2017-10-05 19:06] soulgalore commented on #1719
@siteriaitaliana for WebPageTest: no haven't got that error (we've been running for two years now. we have other errors/problems but not that one :)). We have our setup described here https://wikitech.wikimedia.org/wiki/WebPageTest

No? Slow in the metrics are slow or slow to collect? Can you create a separate issue for that and we can try to help you there. We use c4.large on AWS (both for WebPag

[2017-10-05 19:09] soulgalore commented on #1719
@UltraNemesis thanks for the feedback

I did a POC for that today and need to sync with @tobli and @beenanner

Yes that would be cool. I need to try out if we can just push it as custom JavaScript to WebPageTest.

I started with the video but the current NodeJS API gave me some problem but maybe there's [a fix for that](https://github.com/tobli/node-wpt).

[2017-10-05 20:26] siteriaitaliana commented on #1569
hit by the same issue atm, anybody managed to get this? I'm trying to have the LH reports from the trace logs generated by browsertime but without screenshot there isn't much interesting being generated

[2017-10-05 20:33] siteriaitaliana commented on #1681
I've tried the BT tracing approach and works with very few LH audits, main issue is:
https://github.com/sitespeedio/sitespeed.io/issues/1569
Probably add proper LH support in a plugin would be better to get the full advantages of it. If I make any progress with this I will create a PR.

[2017-10-06 03:44] soulgalore commented on #1569
Ah thanks for that link.

[2017-10-07 14:00] pixlab opened #1736 "docker-compose and urls.txt"
Hello,

I'm trying to test some urls using urls.txt file and send it to grafana...but it doesn't work, this is the response in my terminal:

`$ docker-compose run sitespeed.io "$(pwd)"/urls.txt --graphite.host=graphite`
`Google Chrome 60.0.3112.78`
`Mozilla Firefox 54.0`

`/usr/src/app/lib/support/cliUtil.js:32`
`            throw new Error(`Couldn't find url file at ${filePath}`);`

[2017-10-07 14:19] soulgalore commented on #1736
Hi @pixlab you need to map your file/map into the container, checkout https://www.sitespeed.io/documentation/sitespeed.io/docker/#more-about-volumes

Best
Peter

[2017-10-07 14:20] soulgalore commented on #1736
I think you missed **-v** before your mapping.

Best
Peter

[2017-10-07 14:30] soulgalore commented on #1736
ah sorry you are running compose, need to google then how to map your dir correctly :)

[2017-10-07 20:14] soulgalore commented on #1736
Ok, the correct way is to add it to your docker-compose file:
[code]

and then `docker-compose run sitespeed.io urls.txt  ...`

Best
Peter

[2017-10-10 17:38] meetri opened #1737 "problem with median.customcus in webpagetest/index.pug"
I'm getting the following error on this latest docker version of sitespeed/sitespeed.io:5.6.3
I can't give you the url as these are part of internal tests but I can certainly do any debugging required to help solve this problem.

Looking at the code it seems a bit weird since it shouldn't even get to this part of the code, it may be related to the fix for https://github.com/sitespeedio/sitespeed.i

[2017-10-10 17:47] soulgalore commented on #1737
Hi @meetri ,
thanks for reporting!

Yep it is the check for custom metrics for WPT that fails, I'll look into it tonight or early tomorrow and do a fix release.

Best
Peter

[2017-10-10 17:48] meetri commented on #1737
cool, let me know if you'd like me to test it.

[2017-10-11 13:35] soulgalore commented on #1737
I've pushed the fix in the 5.x branch yesterday, I'll release it tonight.

[2017-10-11 17:17] soulgalore commented on #1737
Pushed 5.6.4 today. It works for me but please verify when you have time @meetri !

[2017-10-12 08:36] moehlone opened #1738 "Invalid data found when processing input"
Hi,

I get the following output/error after some tests ran successfully:

[code]

**mobile_chrome_lte_video_firstView.json**

[code]

**urls_async.txt**

[code]

Does anybody had this problem before?
Is this the correct relation: https://github.com/fluent-ffmpeg/node-fluent-ffmpeg/issues/638 ?

Thank you and best regards
Philipp

PS:

The error occures only sometimes, rerunning the test at this st

[2017-10-13 05:51] anandgoudp commented on #1471
Am running Protractor srcipts in chrome, form last two days am getting thie exception

Please help me out.
![screenshot from 2017-10-13 11-18-53](https://user-images.githubusercontent.com/29542941/31532063-aacad694-b008-11e7-8fc7-ff9da6b6ccf3.png)
![screenshot from 2017-10-13 11-19-57](https://user-images.githubusercontent.com/29542941/31532065-ab2f2734-b008-11e7-96f7-e5aacf675c56.png)

[2017-10-13 06:44] soulgalore commented on #1738
Hi @moehlone ,
I wonder if it is that the video isn't there (not moved from the phone to desktop)? Or is the video there, if that's the case and you could share it, it would be super.

Yep, I agree we should at least catch it, does it fail hard for all runs or just that one (=do you get the data from the other runs)?

Best
Peter

[2017-10-13 06:47] soulgalore commented on #1471
Hi @anandgoudp
I would say there maybe a mismatch between Chrome and your Chromedriver but you should ask in https://github.com/angular/protractor.

Best
Peter

[2017-10-13 11:28] moehlone commented on #1738
I`m not sure if the movie for this run was within the data folder or not, because this was a infrequent problem and I directly restarted the execution again. When the error happens again (just started new runs with video) I will look and provide it here. But definitely the process hang when this happened and no other runs were executed afterwards.

Best regards
Philipp

[2017-10-16 07:14] moehlone commented on #1738
Good morning,

the previous described error did not occured again, but I got another one:

[code]

The mobile device was fine and stopped loading the next page at this point.
The video was in this case not there, only a 0 byte `tmp.mp4`.

Best
Philipp

[2017-10-16 07:33] soulgalore commented on #1738
Hi Philipp,
usually "chrome not reachable" is a miss match between Chrome and Chromedriver (but it looks ok in your case). Have you turned you off as much as possible of other apps on your phone (and turned on Stay awake/stay alive etc)? Maybe you also have a list of more things we should add to https://www.sitespeed.io/documentation/sitespeed.io/mobile-phones/? We usually do a retry when we get a

[2017-10-16 08:02] moehlone commented on #1738
The phone (Samsung Galaxy S6) is only a test device with no apps installed except Chrome and Stay alive. The list worked great for me and I got the tests up and running within 15 minutes. But I think it would be useful (timesaving) to list this repo for the requirements: https://github.com/WPO-Foundation/visualmetrics, because the python file with command `$ python visualmetrics.py --check` was go

[2017-10-16 13:14] joside opened #1742 "Something is consuming to much Space on disk"
Hi,

I set up sitespeed to watch some metrics of some of our domains. I am using docker-compose, a urls file and a config.json.

In config.json I disabled the html plugin to save disk space (I just need some values for graphite) but the disk space is getting lower and lower.
Is there something else I should disable?

Every hint is welcome.

[2017-10-16 13:31] soulgalore commented on #1738
Good point, I'll add that the python check for the docs, that's good to verify that all works.

Ok, did the problem with Chrome happens once or do it continue to happen?

Best
Peter

[2017-10-16 13:36] soulgalore commented on #1742
Hi @joside
when I run sitespeed.io for myself I push to S3 and configure it to store the data for X days.

You can disable screenshot and harstorer but I think the best way is to keep the data for a couple days (depending on how much disk you have) and then remove the result dirs that are older than x days. I like to store the result so if I find a regression or a problem I can look at the result.

[2017-10-16 14:39] moehlone commented on #1738
It continued at this point. Since then I stopped the measurements so I can not say if it comes again :/ At the weekend I can start some more.

[2017-10-16 15:05] tglanz opened #1743 "Question - custom plugin dependencies"
Hi,

I have a custom plugin which has some npm dependencies (axios for example) not included in the sitespeed's main package.json.

My approach of enabling it in the plugin's code is by having a package.json inside the plugin's directory which contains those dependencies. When the container will run, it'll have the plugin with the required node_modules to include so everything works as expected.

[2017-10-16 16:19] lucaspouzac opened #1744 "Update log info - HTML stored"
Is it possible to update this log info (or add new log) when we run sitespeed ?

Actually log

Run sitespeed

config.json

...
  "resultBaseURL": "http://webperf.example.fr/"
}

Expected log

[2017-10-16 20:35] soulgalore commented on #1743
Hi @tglanz
no I don't have a better way to do it (except of copying node_modules from another machine if installing npm is the issue) @beenanner @tobli do you have any input?

Best
Peter

[2017-10-16 20:38] soulgalore commented on #1744
Hi @lucaspouzac thanks for the issue, yes that is a good idea, let us add that.

Peter

[2017-10-17 04:20] soulgalore commented on #1744
Pushed this to master (coming 6.0), if we do fix release of 5.x I'll make sure we include it. Trying to focus only on 6.0 now :)

[2017-10-17 04:20] #1744 closed

[2017-10-17 05:28] beenanner commented on #1743
@tglanz / @soulgalore  I think grafana does something similar with their plugin infrastructure. I'll take a peek this week and report back. If you are using docker containers for now would it be easier to just create an custom image with your plugin and dependencies already installed using a Dockerfile?

[2017-10-17 08:21] httpbob opened #1746 "Out of memory with docker and sitespeedio version 5.6"
Hi,

I'm trying to install your awesome since a week now.

Find below the versions I'm using:

[code]

I have a problem of memory when I crawl websites with 4000+ pages:
The error is the following: `Allocation failed - JavaScript heap out of memory`

Below is the command I'm launching from my VPS server:
`docker run --shm-size=4g --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io https://www.

[2017-10-17 08:27] soulgalore commented on #1746
Hi @httpways I would try to limit the amount of pages and make it in chunks :)

One thing: You are increasing shm-size but you should increase the memory for NodeJS, checkout the start script for the Docker container: https://github.com/sitespeedio/sitespeed.io/blob/master/docker/scripts/start.sh#L29-L31

By setting up MAX_OLD_SPACE_SIZE you can increase it. Still I would say testing 4000 pages in

[2017-10-17 09:02] soulgalore commented on #1746
Hi again @httpways
either if you use Docker compose you can follow this example https://www.sitespeed.io/documentation/sitespeed.io/performance-dashboard/#memory--cpu or if you run it command line just add **-e MAX_OLD_SPACE_SIZE=3072** after docker run.

There's no good way to do it in chunks except crawling just one depth and doing that for different start URLs, we use https://github.com/simplec

[2017-10-17 17:17] hunt3r commented on #1736
👍 Thanks!

[2017-10-17 19:31] #1736 closed

[2017-10-18 06:38] httpways commented on #1746
Hi,

I could not find any options in the simple crawler to manage batches...

The good news is that I the execution worked better now by increasing the NodeJS variable...
The script runned from 11am 17/10/2017 to 8am 18/10/2017 and I have new errors now:
[code]

Any ideas ?

[2017-10-18 09:43] tglanz commented on #1743
@beenanner creating a custom image is a great idea, thank you

[2017-10-18 18:00] hunt3r opened #1747 "Error: Tried to add NaN to stats for path expireStats"
Hello,

First, thank you for such a high quality FOSS project. I was about to build a very inferior version by wrapping lighthouse in some aggregation/Dashboarding before I stumbled onto this.  Although you guys may want to check out lighthouse for aggregation at some point.

Anyways, I'm running into this error on some of my URLs and some of my metrics end up empty on the dashboard. I haven't bee

[2017-10-18 20:05] tobli commented on #1747
Hi Chris!
Thanks for the kind words. The "Tried to add NaN to stats for path expireStats" error you're seeing is due to sitespeed.io (actually pagexray, one of our submodules we use inside sitespeed.io) not parsing invalid (wrong format) expire headers with enough care. This should be fixed in the upcoming sitespeed.io 6.

This would not explain however why things work for you when using an older

[2017-10-18 20:25] beenanner commented on #1747
@hunt3r I think for those top 4 N/As in the dashboard screenshot you posted you will need to enable the `--video` options to capture them.

[2017-10-19 03:06] soulgalore commented on #1747
Hey @hunt3r recently (a couple of days ago) we switched to the official Graphite docker container (instead of doing our own) running docker-compose v3, how did it break for you? One thing with the new one is that you need to configure your own setting for aggregation and how long time you want to store the data: https://github.com/sitespeedio/sitespeed.io/blob/master/docker/docker-compose.yml#L35-

[2017-10-20 08:05] xavier-medioni commented on #1719
- Resolving #1634 about hardcoded xvfb configuration, and #1418 about cumulative budget would help using sitespeed out of docker context (yes, shame, I know...), as node library, for instance :-)
- Maybe adding options to be able to retrieve data from Google Chrome profiling tools (https://github.com/paulirish/automated-chrome-profiling -> https://github.com/paulirish/automated-chrome-profiling/bl

[2017-10-20 09:17] soulgalore commented on #1719
Hey @xavier-medioni
thanks for your input!

Can you show exactly how you need it be done and I can have a go.

That I would solve right now by creating a new sitespeed object between runs?

You can get the trace log from Chrome today *--browsertime.chrome.traceCategories* but we don't do anything with the data (except creating the HAR). Using of Paul Irish libraries to parse would be fine, I think

[2017-10-20 16:40] Poytr1 opened #1748 "🤥Can sitespeed.io do page turn performance test?"
Hi,
In order to test the performance of our website, our team searched a lot of tools and finally found that `sitespeed.io` is the most suitable tools for us, because it is powerful by integrating enough tools, we really think it is an excellent tool😘.
But `sitespeed.io` cannot perfectly solve all of our problems😔. It seems not be good to deal with the page turn situation. For example, we have suc

[2017-10-20 23:30] soulgalore commented on #1748
Hi @Poytr1 I think that is described in the branch https://github.com/sitespeedio/browsertime/tree/selenium-script  however I'm not 100% sure the metrics will be measured, lets try out that first

If you know a tool where you tested and verified that it really picks up changes, that's really appreciated, since I haven't seen a tool that fixed this in a good way yet.

Best
Peter

[2017-10-21 03:39] markshao commented on #1748
Thanks @soulgalore  for your quick response . I am working on the same team with @Poytr1

I have reviewed the [browsertime] project (https://github.com/sitespeedio/browsertime/tree/selenium-script), looks like it doesn't meet out requirement.

Currently the `browsertime` gathering the metrics starts from an "HTTP Get" action ,  the selenium script here is only used for setting the authentication c

[2017-10-21 15:38] soulgalore commented on #1748
Hey @markshao I think the code is hard to read. That change would make it possible to run a selenium script instead of a URL so whatever you can do in Selenium you can do that here too (will open up to measure a full flow). However we haven't had time yet to synch within the project that is the way forward. Another solution would be to run navigate using raw JavaScript. Let me get back next weeken

[2017-10-21 15:39] soulgalore commented on #1748
@markshao and PR are of course always welcome, we just need to discuss how to solve it.

[2017-10-22 13:48] markshao commented on #1748
@soulgalore look forward to see some progress on this discussion next week .  We can provide more detail information from our requirement if it is helpful  @Poytr1 .

[2017-10-23 07:50] moehlone commented on #1738
Didn't had any time yet ;(

[2017-10-23 10:13] radum commented on #42
I know it is closed but is this possible?

[2017-10-24 15:43] marcokaiser commented on #1747
Hi, on some sites I am testing, I get a similar error:

`[2017-10-24 15:20:04] INFO: 300 requests, 7910.76 kb, backEndTime: 150ms, firstPaint: 1.15s, firstVisualChange: 2s, DOMContentLoaded: 5.84s, Load: 37.07s, speedIndex: 2368, visualComplete85: 2.55s, lastVisualChange: 3.27s, rumSpeedIndex: 2029
[2017-10-24 15:20:05] ERROR: Error: Tried to add NaN to stats for path lastModifiedStats
    at Obje

[2017-10-25 06:27] DanielRuf opened #1751 "minimum required Node.js version"
The docs say 4.3.0 is required but there is a spread operator and 6 is required as a minimum.

https://www.sitespeed.io/documentation/coach/how-to/

[2017-10-25 06:45] soulgalore commented on #1751
Hi @DanielRuf thanks for your finding. We use [LTS](https://github.com/nodejs/Release#release-schedule1) so current stable you should use latest 6.x and soon we will switch to 8.

Best
Peter

[2017-10-25 06:47] soulgalore commented on #1747
Thanks @marcokaiser for reporting. We have a problem as @tobli [said](https://github.com/sitespeedio/sitespeed.io/issues/1747#issuecomment-337711845) with dates from the server that is wrong (we should just swallow it), I'll check that we also fixed it for lastModified in the coming release.

Best
Peter

[2017-10-25 07:15] marcokaiser commented on #1747
@soulgalore thanks. any idea when that next release would be available? right now this kind of makes it impossible for us to use it, because this happens on about half the servers we are trying to monitor.

[2017-10-25 07:47] soulgalore commented on #1747
@marcokaiser can you give me a URL I can test with so I can verify that it works, then we can do a bug release the coming day(s)?

[2017-10-25 07:48] soulgalore commented on #1747
6.0 will be released after FF 57 is here (mid November something like that) so that's a long wait, lets do a fix first.

[2017-10-25 07:59] soulgalore commented on #1747
@marcokaiser if you don't wanna go public with the URL, you can email me peter [AT] soulgalore [dot] com

[2017-10-25 08:48] soulgalore commented on #1747
I pushed a new release (5.6.5) with a fix, let me know if it fixes the problem for you both and I'll close the issue.

[2017-10-25 11:11] marcokaiser commented on #1747
checked and verified that it does solve the problem for now. awesome! thanks again

[2017-10-25 22:07] krukru opened #1753 "Running headless?"
Is there an option to run chrome or firefox browsers in headless mode? I tried passing `--browsertime.chrome.args "headless" --browsertime.chrome.args "disable-gpu"` for chrome, but this just generated a bunch of errors.

[2017-10-26 04:02] soulgalore commented on #1753
Hi @krukru if you run from sitespeed.io `--browsertime.headless` it should work.

`sitespeed.io --browsertime.headless -n 1 https://www.sitespeed.io`

However some functionality will not work since headless in Chrome doesn't support WebExtensions.

Best
Peter

[2017-10-26 07:38] krukru commented on #1753
Thanks again Peter for the quick answer. I double checked the documentation and couldn't find any word about this option. It certainly has it's use case, maybe it would be a good idea to include it

[2017-10-26 07:50] soulgalore commented on #1753
Maybe. We don't expose every configuration from Browsertime to try to limit the chock when you run --help. To see them (the latest version) you can run `$ browsertime --help.`

We preparing everything for 6.0 that will be released sometime after FF 57.

[2017-10-26 07:50] #1753 closed

[2017-10-26 15:14] marcokaiser opened #1755 "--script only works with single JS file, not with directory"
Hi,

I am trying to run some custom scripts to collect additional metrics on the page I'm testing. According to the documentation, it should also be possible to supply a directory via  `--script`, but it only seems to collect any data if I supply a single JS file.

This works: `docker-compose run -v $(pwd):/sitespeed.io --rm sitespeed.io http://www.domain.com/ --script /sitespeed.io/scripts/test/m

[2017-10-26 22:39] soulgalore commented on #1755
Hi @marcokaiser
sorry I think there is a mismatch between Browsertime (where you can set a dir) and sitespeed.io where you need to point out each and every script (at least that's why I'm guessing). I did a quick test and got the same as you. Let me check that later this week.

Best
Peter

P.S Btw, I think the documentation isn't clear on that, but I personally always use docker run .. instead of

[2017-10-27 07:58] marcokaiser commented on #1755
@soulgalore thanks for your response - that's what I was guessing as well. I can list the scripts individually on the command line, but just throwing them into a directory would make things quite a bit easier, especially given that browsertime does seem to support this. So that makes this more of a feature request than a bug report ;)

As for docker vs. docker-compose - thanks for pointing that ou

[2017-10-27 09:48] soulgalore commented on #1755
I think it's bug since the behavior is different. I think only way is to keep the experience the same, since we wanna be able to point to the docs for Browsertime from sitespeed.io (adding *browsertime* to your cli parameter will push that param to browsertime.

Yes only one thing running on that host where you test. @beenanner tested out different cloud providers before and the winner for us was

[2017-10-27 13:09] bharat129 opened #1757 "Failed to load URL behind a corporate firewall"
1. Running Docker composed sitespeed.io using
https://www.sitespeed.io/documentation/sitespeed.io/performance-dashboard/#up-and-running-in-5-minutes
2. Sitespeed.io is able to launch **Public URLs** using docker commands but not able to launch the run for the **application hosted behind the firewall & inside same Env**.
3. Linux  VM can curl the application & also can ping the host.

Using below c

[2017-10-27 13:18] soulgalore commented on #1757
Hi @bharat129 can you try running with `--net=host` (Docker then share the same network as the host). It could be you need add it in your Docker compose file (I usually don't run sitespeed in docker compose).

best
Peter

[2017-10-27 16:32] bharat129 commented on #1757
@soulgalore : Thanks for replying. But adding `--net=host` did not work.

Could it be the reason?
The insecure cert on that application node is why I cant hit it with sitespeed
https://bugs.chromium.org/p/chromium/issues/detail?id=721739
its an open bug against the major headless browsers, not sitespeeds fault

I get SSL error (our connection is not secure) due to invalid certificate in browser. C

[2017-10-27 19:05] soulgalore commented on #1757
@bharat129 before at least Chrome had --ignore-certificate-errors (not sure if it's there in the current version. You can try with --browsertime.chrome.args ignore-certificate-errors

Best
Peter

[2017-10-29 05:42] soulgalore opened #1759 "Fix warnings"
Running a budget generates the following errors:

`
bin/sitespeed.js https://www.sitespeed.io -n 1 --budget.configPath budget.txt`

[code]

[2017-10-30 04:12] soulgalore commented on #1748
Hi @markshao @Poytr1 we did not get the time to fully discuss it last week (we moved on the fixes for the plugin structure). My feeling when I thought about is that it is complex. If you have time it would be great to explain your exact use case so we have the full picture.

Thanks!
Peter

[2017-10-30 07:15] Poytr1 commented on #1748
@soulgalore Thanks for replying, I will give you more details as follows.
Now `browsertime` gathers all metrics while visiting a specific URL and selenium just works for preparing cookies or cache.I think we can give selenium script more jobs like adding a hook attached to some specific operations of selenium driver so it can sniff URL change and gather browser's metrics during this process .
In o

[2017-10-30 07:43] bharat129 commented on #1757
@soulgalore , Chrome option did not work.

Firefox version : 54.0

Still, Production URL for the same application is working but the application URL hosted within client network does not work.

Something to do with network connectivity or anything else?

[2017-10-30 15:57] mvillarejo opened #1768 "separate Sitespeed executions using docker"
Hello,

first of all, congratulation for the tool, it's really great,

do you think is there any way I could run several checks using the same docker container but report them separatelly rather than all into the same report? i.e.
[code]
will create two separate reports rather than only one. The idea behind this is to reuse the actual dependencies: selenium, Xvfb, etc. so we can run checks sequent

[2017-10-30 16:11] soulgalore commented on #1757
Ah sorry I thought you where running Chrome! Did you find the corresponding config for Firefox?

[2017-10-30 16:15] soulgalore commented on #1768
Hi @mvillarejo thanks for the kind words.

I'm not sure I understand exactly how you wanna do it?

So you can test multiple URLs and they will be reported separately to Graphite/InfluxDB and each page to HTML, but the summaries will be for both URLs.

You can either use add the URLs `sitesepeed.io  http://www.google.com http://www.google.es` or the path to a file with each URL on one line. Then th

[2017-10-30 16:16] bharat129 commented on #1757
@soulgalore , No config seems to be working for Firefox.

For Chrome, I happen to get it working 1-2 time only with page is not loading it seems in browsers. Results shows only 2 requests in dashboard with no resources loaded.
Command : `docker-compose run sitespeed.io https://xxx.xxx.com/ -n 1 --graphite.host=graphite`

[2017-10-30 16:41] mvillarejo commented on #1768
thanks for the quick response! yes, it'll be great if the reports are generated separately.

feature request maybe? 🙈

[2017-10-30 19:07] soulgalore commented on #1768
I didn't fully get why it's important to reuse the same depennies as you say?

[2017-10-30 22:20] soulgalore commented on #1759
This was caused in master of the refactoring of plugins.

[2017-10-30 22:20] #1759 closed

[2017-10-31 08:06] mvillarejo commented on #1768
well, it'll be great if we could have those reports individually as the pages do not have relation between them.

[2017-10-31 11:41] michaelDomingues opened #1769 "Change admin credentials after grafana first start"
Hey guys,

First of all a huge cheers to the amazing project you have here and all the capabilities it has. Excellent! I've been using and really like the outcomes I constantly get. 👍

So far one of the things I'm not yet able to understand how it works is to change the admin credentials after the grafana first start. Using docker-compose I created and started the containers using a specific `ADMI

[2017-10-31 12:04] soulgalore commented on #1769
Hi @michaelDomingues thanks for the really kind words!

I think it works like this: At first startup the admin is stored in the Grafana database (sqllite?) so then when you change in Docker compose it doesn't have any effect (until you destroy the volume for that container). I think the easiest way is just to change it in the Grafana admin and then when you done that also make the same change in t

[2017-10-31 14:54] markmssd opened #1770 "Is it possible to use --s3.path or --outputFolder while keeping the timestamps subfolder?"
Use case would be when testing the url `www.mydomain.com` and another url, `www.mydomain.com/some/path/with/same/domain.html`. So both reports will be merging and overriding each other.
e.g.
[code]

So I'd like to give them each a custom name, while also keeping the timestamp:
[code]

From what I can see here: https://github.com/sitespeedio/sitespeed.io/blob/master/lib/core/resultsStorage/index.js

[2017-10-31 15:07] soulgalore commented on #1768
yes but I'm from Sweden: I must have a reason/a use case where it will help to be able to implement :) Like will it make it easier/save money etc?

[2017-10-31 15:10] soulgalore commented on #1770
Hi @markmssd
thanks for the report, 'm not sure, can you show me how you run, so I understand how they are overriding each other?
Best
Peter

[2017-10-31 16:33] markmssd commented on #1770
Sure,

I am passing in those arguments for a sitespeed report:
[code]

and another sitespeed report with those ones:
[code]

At the end, they are both being saved in `www.mydomain.com/2017-01-17-13-00-00`, because it is based on the `hostname` and not the full url (https://github.com/sitespeedio/sitespeed.io/blob/master/lib/core/resultsStorage/index.js#L11)

What I would need is to be able to spec

[2017-10-31 16:42] markmssd commented on #1770
My suggestion would be to recognize the placeholder `%timestamp%`, so we could pass e.g. `--s3.path CUSTOM_FOLDER/%timestamp%`, and inside of [this IF block] on line 25 (https://github.com/sitespeedio/sitespeed.io/blob/master/lib/core/resultsStorage/index.js#L24),
have is as
[code]

[2017-11-01 11:16] livyson opened #1771 "Is it possible to measure interactions within an already loaded page?"
Guys, good morning!

I wonder if it is already possible to perform the following interactions on a loaded page:

1. Clicking on any page element (page can't be reloaded)?
2. Fill in some inputToken and only go to measure the performance from the interaction of the click;
3. Click to open some interaction modal and only start to measure the performance from the moment of the click and finish this m

[2017-11-01 14:02] markshao commented on #1748
I think the problem is how to define the start and end point of the video recorded by the script. Under that circumstance, the video will not start from blank page . Looks like there also need a change on the `visualmetrics.py` project.

[2017-11-01 14:08] soulgalore commented on #1771
Hi @livyson I think starting by adding  [user timings](https://www.w3.org/TR/user-timing/) on your page could be the first thing, so whatever tool can pickup those metrics (RUM, sitespeed.io). Right now you can do that on a preTask but you need to do something smart to propagate it to the last page, not sure how I would do it with the current solution.

Best
Peter

[2017-11-01 14:14] soulgalore commented on #1770
So you mean they collide on S3? Or are you running them on the same time on the same server? For s3 I usually setup different buckets for different servers. I never run multiple tests on the same machine at the same time so that they don't disturb each other.

@tobli do you have any input?

[2017-11-01 16:54] markmssd commented on #1770
Ah! we have them all in the same bucket `sitespeed-reports`, to keep things organized. Yes they collide on S3 when getting saved...

[2017-11-01 18:46] jchoksi-whitbread commented on #1267
Do you think it would be possible to somehow check for the test URL failing to load in the --browsertime.preScript and do something in the script to stop the test? If so, what could we do to stop the sitespeed.io process from within the preScript?

I'm basically looking for a way to get notified when a Jenkins job running sitespeed.io against a URL fails because the target site is not up. Currentl

[2017-11-01 19:45] soulgalore commented on #1267
@jchoksi-whitbread I've totally missed this one, next week I'll work 100% with sitespeed.io projects, I'll fix this then.

[2017-11-03 11:08] moehlone commented on #1738
The problem with Chrome appears from time to time and it seems, that the video is not copied completely :/

[2017-11-03 12:43] soulgalore commented on #1738
@moehlone next week I'll work on the project. I'll add a task for tightening video handling for mobile,

[2017-11-03 13:59] joacim-boive opened #1774 "ERROR: Specified HTML directory '/var/jenkins_home/workspace/performance-tests/output' does not exist."
Tried following your guide here:
https://www.sitespeed.io/documentation/sitespeed.io/continuous-integration/

I set the properties in the Script Console of Jenkins 2.87:
` System.setProperty("hudson.model.DirectoryBrowserSupport.CSP", "sandbox allow-scripts; style-src 'unsafe-inline' *;script-src 'unsafe-inline' *;")`

And I trigger the job using:
`docker run --privileged -v ${WORKSPACE}:/sitespee

[2017-11-03 14:13] soulgalore commented on #1774
Hej @joacim-boive thanks for reporting, hmm I wonder if something changed in the HTML plugin? I'll add this to my task list for next week, I haven't had Jenkins up and running for a while now, so I need some time to just get it going.

Best
Peter

[2017-11-04 23:06] moix opened #1778 "FTP uploader plugin"
Hi!
I wanted to contribute with a simple ftp uploader plugin to publish the output of the executions into an ftp, I find it useful, so I send a pr some minutes ago, #1777, however the build failed. I'd be happy to fix it if is related, anyone can help here?

Thanks!

[2017-11-05 13:40] soulgalore commented on #1774
Hi @joacim-boive put some time on this yesterday, just getting Jenkins to work (upgrading Java 1.7 etc) took a while. I wonder if the HTML-plugin changed or else did something really stupid in the docs. The HTMLplugin reads the files relative to the workspace so changing to just include the output folder works for me:
<img width="855" alt="screen shot 2017-11-05 at 2 36 56 pm" src="https://user-im

[2017-11-06 08:33] soulgalore opened #1780 "Week 45 tracking issue"
This week I'm on leave working 100% with sitespeed.io. This is the tracking issue with the work I plan 2do.

## Bugs
- [x] Better handling of video from Android https://github.com/sitespeedio/sitespeed.io/issues/1738
- [x] Wrong exist status on errors https://github.com/sitespeedio/sitespeed.io/issues/1267
- [x] Jenkins problem https://github.com/sitespeedio/sitespeed.io/issues/1774

## Documentat

[2017-11-06 09:05] joacim-boive commented on #1774
Thanks for the input!

But after playing some more with this the actual problem seems to be that no files, or directories, are created.

If I run this on my mac it works as expected:
`docker run --privileged -v /var/run/docker.sock:/var/run/docker.sock --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io --outputFolder output https://www.sitespeed.io -n 1`

The output-folder is created, where I

[2017-11-06 09:12] soulgalore commented on #1774
Ok, if I understand correctly:
1. In Jenkins everything run (the user in Jenkins can use the Docker command) and when you check the logs on Jenkins you can see that everything is ok?
2. But then when you check the actual folder there is no data there?

Where you run the script in Jenkins, can you echo the workpace and ls the output dir? Something like echo ${WORKSPACE} and ls -la ${WORKSPACE}\outp

[2017-11-06 09:29] joacim-boive commented on #1774
To leave out any Jenkins config problems I'm issuing the commands manually in the terminal of the Jenkins Docker Container.

I do: pwd and it shows me that I'm in: ~/workspace/performance
Which is the correct catalog.

I can do sudo docker run hello-world and it works.

If I do:
`sudo docker run --privileged -v /var/jenkins_home/workspace/performance:/sitespeed.io sitespeedio/sitespeed.io --output

[2017-11-06 09:49] soulgalore commented on #1774
@joacim-boive in the example you mix paths both inside and outside the container. Let me try to explain it better. Inside the Docker container, the container has it own folder structure, with -v we map a folder from your physical server inside your container, so inside your container you cannot use the paths that you use on your physical server. Ehh, sorry bad explanation, let me show you instead:

[2017-11-06 11:19] joacim-boive commented on #1774
Nope, didn't work.

I created a docker image from what I base my Jenkins setup on to try and get to the root of the problem:

[code]

Build it:
`docker build -t debian-test .`

Then run it:
`docker run -it -v /var/run/docker.sock:/var/run/docker.sock debian-test`

Here I can do:
`docker run hello-world`

And it works. :)

But, if I try and do:
[code]

It runs the sitespeed test fine but doesn't cr

[2017-11-06 11:49] soulgalore commented on #1774
Hehe :)

But if the files isn't created you should get an error message from sitespeed? You don't get that?

Can we simplify by just removing as much as possible, so try:

`sudo docker run  -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io --outputFolder output https://www.sitespeed.io -n 1`

I've removed privileged because that's only needed when you changing networks and changed path to the fol

[2017-11-06 12:44] joacim-boive commented on #1774
Both run without any issues but none of the produce and folders or files.

Have you had a chance to test with the Dockerfile provided? Does that work for you?
I tried using Ubuntu as well as the "From", but no difference.

[2017-11-06 13:04] soulgalore commented on #1774
ping @beenanner do you have any fresh ideas why the mapping doesn't work for @joacim-boive

@joacim-boive can you try with an absolute path? so `-v /this/is/the/path:/sitespeed.io`. What OS do you run on your host server? Docker version?

[2017-11-06 13:18] livyson commented on #1771
Thanks, @soulgalore! I am starting this job.

[2017-11-06 13:18] #1771 closed

[2017-11-07 03:18] #1688 closed

[2017-11-07 10:08] joacim-boive commented on #1774
@soulgalore I use macOS High Sierra 10.13.1 with Docker CE Version 17.09.0-ce-mac35 (19611)

[2017-11-07 10:11] soulgalore commented on #1774
ok I thought the problem was on a production server. in the old days at least you could only mount files from your users home dir on Mac, but I think that has been fixed?

[2017-11-07 11:40] joacim-boive commented on #1774
@soulgalore That would be before my time. :)
Mounting volumes and directories work fine on Mac, it's what I use to run Jenkins and that works perfectly. Jenkins has no problem creating directories and files in my mounted volumes.

[2017-11-08 02:58] guohongjie commented on #1471
Hey @soulgalore
Can you help me ?
My computer is Centos7  in the VMware software(This linux was installed gnome),
I installed selenium3 + python2.5 +Chrome's version 62(64BIT) and Chromedriver's version 2.33，
I think they are compatible，I  am not use docker  and Jenkins , only run driver= selenium.webdriver.Chrome(), console was alert message to me :
"selenium.common.exceptions.WebDriverException:

[2017-11-08 03:00] beenanner commented on #1688
@taurusismysign did you get this working with k8 would be pretty cool if so and would a great blog post or addition to the documentation. If not I hope to spend some time in the coming months to investigate things like this. :-)

[2017-11-08 07:05] joacim-boive commented on #1774
Well, this was embarrassing... :)

I expected to see the output as you do above, in the directory you're executing the command.
But on Mac I need to do: `screen ~/Library/Containers/com.docker.docker/Data/com.docker.driver.amd64-linux/tty`

Then `cd /home/sitespeed`

And the files are created there.

[2017-11-08 07:05] #1774 closed

[2017-11-08 08:24] soulgalore commented on #1471
Hi @guohongjie make sure that you add **--no-sandbox** switch to Chrome. Else I think this question is better to ask on the Selenium user group: http://www.seleniumhq.org/support/
Best
Peter

[2017-11-08 14:16] rschoessler opened #1785 "Sitespeed and Quantum(?)"
So I downloaded Firefox Quantum beta in anticipation of next week's release.  I wanted to do a sitespeed comparison of pages in Chrome and Firefox.   When I ran in Firefox, I got the below error.  I'll admit that I don't typically run performance tests in Firefox with Sitespeed so I'm not sure if I'd get this error with another version.  So I thought I would post this in case it's something you ar

[2017-11-08 14:36] soulgalore commented on #1785
Hi @rschoessler short summary: Quantum (beta/nightly whatever) should work as long as you turn off collecting the HAR (**--browsertime.skipHar**). Firefox 55 broke the https://github.com/firebug/har-export-trigger/ that we use to collect the HAR. I've been asking for a while that there will be an version for 57 and they (Mozilla) has it on the 2do list for this quarter. The plan for us was to rele

[2017-11-08 14:59] rschoessler commented on #1785
I start my run from command line on my windows machine after doing a `git pull` so that I have the latest & greatest.  My command looks similar to:

```c:\sitespeed\sitespeed.io\bin>node sitespeed.js --preScript prescript.js https://page.to.test.com -n 5 -b firefox ```

[2017-11-09 00:36] beenanner commented on #1774
All good @joacim-boive let us know if you run into anything else!

[2017-11-09 17:09] raptor235 opened #1788 "Sitespeed vs WPT numbers..."
Hey there,

We're pulling our hair our trying to figure out why sitespeed numbers are so different from WPT...

If you take a look at these numbers

http://www.flowpress.com/screenshots/Screen%20Shot%202017-11-09%20at%2012.08.24.png

WPT SpeedIndex and Fully Loaded numbers are like 300% higher then what sitespeed is reporting.

Any help shining some light here would be amazing... thank you!

[2017-11-09 17:47] tobli commented on #1788
Hi!
Hard to say without more context, but one thing to start looking at are latency and bandwidth differences. Are you running the tests much “closer” to the site you’re accessing, compared to the where the WPT node is? If you’re running a private WPT instance, not having enough memory and cpu for that can have a huge impact on timings.
Use the HAR files (waterfalls in the sitespeed.io report) to

[2017-11-09 17:57] raptor235 commented on #1788
Thanks @tobli

That's actually one thing that we're going to test now... we were using sitespeed without any connection speed limits. The WPT test was run againts the public version and I just noticed they limit the speed to cable... so this would be the only explanation as to why there is such a massive difference in performance.

[2017-11-09 19:57] soulgalore commented on #1788
I can add a couple of things to the list (I'll update the docs in coming 6.0):

There's a couple of things to know that differs between WebPageTest and Browsertime/sitespeed.io but first I wanna say that it is wrong to compare between tools, it is right to continuously compare within the same tool to find regressions :)

WPT and sitespeed.io differs by default when they end the tests. WPT ends whe

[2017-11-10 18:17] jxbambrick opened #1792 "Problem with "Up and running in 5 minutes""
Hello Sitespeed,

I'm having trouble with the documentation and was hoping to get some help or clarification.

Using the steps provided here:
https://www.sitespeed.io/documentation/sitespeed.io/performance-dashboard/#configure-graphite

After completing step 4 and logging into the dashboard there is no data. The site summary page is empty.

I've also tried uninstalling everything using steps 5 and

[2017-11-10 19:34] soulgalore commented on #1792
Hey @jxbambrick
so did you get any result from the beginning and then when you changed the Graphite config they where removed? Or did you never get any data?

If they was removed when you reconfigured Graphite, you need to the last step in the paragraph of https://www.sitespeed.io/documentation/sitespeed.io/performance-dashboard/#configure-graphite ("One thing to know if you change your Graphite c

[2017-11-10 19:37] jxbambrick commented on #1792
In both situations, graphana had no results.
![screen shot 2017-11-10 at 1 36 39 pm](https://user-images.githubusercontent.com/5697044/32675351-3de61dac-c61c-11e7-9bea-f5076acf78ed.png)
![screen shot 2017-11-10 at 11 41 18 am](https://user-images.githubusercontent.com/5697044/32675352-3dfa4f48-c61c-11e7-8331-7a4d1b1e3f75.png)

[2017-11-10 19:42] soulgalore commented on #1792
What do you mean, in your example you have data :)

The missing ones with N/A is visual metrics, to get those you need to do your runs with --speedIndex (and --video if you want to keep the video). Sorry if that isn't clear. In the coming 6.0 those are turned on by default as long as you use Docker.

[2017-11-13 02:59] jxbambrick commented on #1792
Took me a minute to realize the data that was in the screenshot was from the first run and not default/initial data. I had been running various commands with and without --graphite.host and not seeing any updates (though, I've run into error messages when passing --graphite.host)

I think I've figured out what the problem is and can better articulate how I got there. Just to be safe, I nuked every

[2017-11-13 04:43] beenanner commented on #1792
Hi @jxbambrick sorry you are running into trouble. When starting up sitespeed.io with docker-compose you will need to issue your runs with docker-compose to make sure all the links and networks are setup correctly to communicate between containers (i.e. sitespeed.io to graphite). Try running the second command with the urls.txt like so.

[code]

If you want to attach the docker run to the graphite

[2017-11-13 06:12] soulgalore commented on #1792
@beenanner I think we can make the doc clearer here. In the example we use docker-compose but in practice I never use it since I have the browser running on another server. What do you think?

[2017-11-13 06:30] soulgalore commented on #1780
The week is over lets create a tracking issue what's needs to be done to release 6.0

[2017-11-13 06:30] #1780 closed

[2017-11-13 06:36] soulgalore opened #1793 "Release 6.0"
This is what we need to do to release 6.0:

## Documentation
- [x] Update documentation/sitespeed.io/documentation/sitespeed.io/upgrade/ (@soulgalore)
- [x] Add video tab in the documentation (with compare video as the first video)
- [ ] 6.0 Blog post (@beenanner)
- [ ] Update the README

## Changes
- [x] Release Coach 1.0
- [x] Move GPSI to plugin outside of sitespeed.io (and be a good example pl

[2017-11-13 09:02] mvillarejo commented on #1768
it's ok, I believe we will work out another implementation,

thanks anyway.

[2017-11-13 09:02] #1768 closed

[2017-11-13 16:29] jxbambrick commented on #1792
@beenanner, I think the second command you provided is working. What I've learned is that graphite/graphana doesn't timestamp every run but rather groups based on a 20-30 minute window. Need more time to test but initial results are working. Probably just a learning curve on my part with the tool.

I was running into an issue when previously when using `docker-compose run sitespeed.io urls.txt --s

[2017-11-13 16:45] jxbambrick commented on #1792
@soulgalore or @beenanner, I haven't been able to figure out how to populate the WebPageTest. Based on either

docker-compose run sitespeed.io urls.txt --speedIndex --video --graphite.host=graphite

or

docker run --network <current_folder>_default --privileged --shm-size=1g --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io urls.txt --speedIndex --video --graphite.host=graphite

how can I po

[2017-11-14 08:28] soulgalore commented on #1792
Hey @jxbambrick WebPageTest is optional since it is another service. It's more if you are already running WebPageTest you can drive it through sitespeed.io and have the metrics in the same place.

To populate you need to have your own WebPageTest.org server (you can deploy it in AWS, see https://wikitech.wikimedia.org/wiki/WebPageTest) or use the public one (with an API key).

Best
Peter

[2017-11-14 14:42] jxbambrick commented on #1792
@soulgalore @beenanner, Thanks for the help and the quick responses. We can close this ticket.

On another note, I have a couple recommendations for the docs and would like to help update them. The help links on the site give a 404, what's the best way to connect (email, twitter, new ticket)?

[2017-11-14 14:46] soulgalore commented on #1792
Perfect, create an issue or create PR that would be great. The docs in master isn't live yet since we are waiting on releasing 6.0. Follow the instructions in https://github.com/sitespeedio/sitespeed.io/blob/master/docs/README.md to get the docs running locally, and then send a PR to master and it will go live when 6.0 is released. Thanks a lot!

Best
Peter

[2017-11-14 14:46] #1792 closed

[2017-11-15 08:39] httpways commented on #1746
Hi there,

I bought a new server with 32GB of RAM and I'm using 32Gb of Swap space.

I can tell that the crawl works better but it still fails at the end.

The new error is:
FATAL ERROR: invalid table size Allocation failed

It seems to be another limitation of NODEJS.

Can you please tell me which version of NODEJS we're using ?

Thanks

[2017-11-15 09:50] soulgalore commented on #1746
Hi @httpways
when you start a run you should get the version in the log? For the current stable it is 6 something, for master that soonish will be released it is latest 8 (LTS).

What I would do is crawl the sites separately, write the URL to disk but split them in multiple files and then feed the lists to sitespeed.io one by one. Would that work for you?

Best
Peter

[2017-11-15 15:37] skeenerok opened #1796 "Is there any way to specify where tests start?"
Hi sitespeed.io team,
I'm looking for tools to measure the performance of Single Page Application written on Angular2 and sitespeed.io looks very interesting. To log in the application I use selenium in --preScript,  to define whether the application is loaded I use  --browsertime.pageCompleteCheck. However, I did not find the way to specify where tests start since the page is always reloaded afte

[2017-11-16 10:29] xavier-medioni commented on #1719
Hi performance buddies !

A few days ago, I found a very useful feature on [chrome-har-capturer](https://github.com/cyrus-and/chrome-har-capturer) tool.
It extends the HAR file with initiator data, such as:

[code]

or, according origin:

[code]

It is awesome when we "track the trackers", and we try to associate a request to a script (even if it does not cover every usecases) and could be a good

[2017-11-16 12:41] tobli commented on #1719
Hi!
We have a PR for that here: https://github.com/sitespeedio/chrome-har/pull/6. There are a few tweaks needed from the review, but it hasn't seen any activity. It'd be awesome if you'd like to adopt the PR and tweak it!

Thanks,
/Tobias

[2017-11-16 19:13] alexdangelo opened #1797 "Url with "=" causes Sitespeed container to crash or not report to Grafana"
Setup: Use the docker compose file to run Sitespeed + Grafana per https://www.sitespeed.io/documentation/sitespeed.io/performance-dashboard/#docker-compose-file
Windows 10 (build 15063.674)

**Good case**: "/research"
Data appears in Grafana for the "/research" url.
Everything works great (sitespeed/WPT files written to dish, Grafana dashboards are populated with Sitespeed and WPT data)
[code]

**

[2017-11-16 20:42] soulgalore commented on #1797
Hi @alexdangelo thanks for reporting!

@beenanner could this be a filename issue just for Windows? I haven't had time yet to test on Linux.

For Graphite, the workaround I think is to give the URL a name https://www.sitespeed.io/documentation/sitespeed.io/configuration/#analyze-by-urls "Another feature of the plain text file is you can add aliases ..."

Best
Peter

[2017-11-16 20:44] soulgalore commented on #1796
Hi @skeenerok sorry for the late reply. Yep this is something I also think is important, it doesn't work in the current version. @tobli and me try to find some time to discuss it but has failed so far, hope to do it early next week.

Best
Peter

[2017-11-16 20:59] alexdangelo commented on #1797
Thanks for the quick response and suggestion. No luck with using a url file with an alias for the url itself unfortunately.

[code]
**urls.txt**
[code]

[2017-11-16 21:05] alexdangelo commented on #1797
The issue here is that the external url file can't be found (per stack dump). I've tried giving all sorts of different paths (absolute, relative) and put the urls.txt file in different directories (root, current directory, creating a directory like c:\sitespeed.io\urls.txt, for example).

Examples:
[code]

[2017-11-16 21:14] alexdangelo commented on #1797
Using the instructions directly (on Windows) from https://www.sitespeed.io/documentation/sitespeed.io/configuration/#analyze-by-urls here's what I see:
[code]
so I've tried variations but get the "Couldn't find url file..." error (again, clearly I'm not passing in the correct path on Windows). One example is as follows
[code]
I'll keep exploring Docker documentation to see if I can find an example

[2017-11-16 21:19] soulgalore commented on #1797
@alexdangelo yep you need to map the volume, I think you need to have an absolute path: https://docs.docker.com/docker-for-windows/

Also not sure how it works with docker-compose (you might need to specify the volume inside the compose file).

The bug for = must be within sitespeed.io though I guess, I'll have a look tomorrow see if I can reproduce it (late here now).

Best
Peter

[2017-11-16 22:43] soulgalore commented on #1797
Yep I could reproduce the first bug with _Command failed: ffprobe_  - we need to check how we can fix that in Browsertime.

[2017-11-16 22:52] alexdangelo commented on #1797
I tried to repro cases using "docker run" (including getting the volume path correct on Windows) and have mixed results.

Sitespeed itself can handle the external urls.txt file just fine:
[code]
[code]

Using graphite with sitespeed is where the calls fail
[code]

The error log:
[code]

[2017-11-16 23:23] alexdangelo opened #1798 "Container crashes when using "docker run" and graphite (Error: getaddrinfo EAI_AGAIN graphite)"
Expectation: using the docker container to run sitespeed and graphite runs without errors
Actual: crashes ("_ERROR: Error: getaddrinfo EAI_AGAIN graphite_")

Setup: Use the docker compose file to run Sitespeed + Grafana per https://www.sitespeed.io/documentation/sitespeed.io/performance-dashboard/#docker-compose-file
Windows 10 (build 15063.674)

**Good case**:
[code]
Output:
[code]

**Bad case**:

[2017-11-16 23:23] alexdangelo commented on #1797
Regarding using "docker run" and mapping paths, these commands successfully let Sitespeed read the urls in the external urls.txt file:
[code]

but if graphite gets involved, it crashes, and down in the stack is the "Command failed: ffprobe" issue, which reaffirms the original bug.
[code]
[code]

[2017-11-16 23:25] alexdangelo commented on #1797
(accidentally closed this issue so I reopened it)
I also opened #1798 to track an issue relating to docker run and graphite related to the comment in the middle of this thread.

[2017-11-17 04:42] soulgalore commented on #1797
ffprobe can't handle = in the filename, I've escaped it now and it works. I hope we can roll it out next week.

[2017-11-17 04:44] soulgalore commented on #1798
If you use "graphite" as you do, you need to share the same network, checkout @beenanner answer here: https://github.com/sitespeedio/sitespeed.io/issues/1792#issuecomment-343811214

[2017-11-17 11:07] soulgalore commented on #1797
The fix is pushed to master.

[2017-11-17 12:08] httpways commented on #1746
Hi,
I just wanted to let you know that all my tests failed with 3000+ pages:

- NODE JS is out of memory by the crawling method
- NODE JS is out of memory by the urls.txt file too

I have splitted my urls.txt into files of 1000 urls max.
I was wondering how to avoid seperate folders at each session:
2017-11-15-21-01-42/                               15-Nov-2017 21:01                   -
2017-11-17

[2017-11-17 21:41] alexdangelo commented on #1797
Awesome, thanks so much @soulgalore .

[2017-11-17 23:37] alexdangelo commented on #1798
Thanks for the pointer. I haven't been able to get the "docker run" version to work even with the example in the thread but I'm sure it's how I'm passing graphite params to docker and not an issue with Sitespeed itself. (using `docker run` for Sitespeed works great when the graphite params aren't included). I'll use the docker-compose approach when using graphite instead.

(Here are my notes of wh

[2017-11-17 23:37] #1798 closed

[2017-11-18 00:34] alexdangelo commented on #1798
Turns out the solution I tried in https://github.com/sitespeedio/sitespeed.io/issues/1798#issuecomment-345394677 worked!

I was monitoring results in this dashboard: http://localhost:3000/dashboard/db/page-summary

Why didn't I see the results appear in Grafana before, even after pressing the Grafana refresh button?

The answer is that  pressing the refresh button in Grafana (shown below) didn't s

[2017-11-18 21:30] soulgalore opened #1801 "Tabs are broken for plugins since last tab fix"
Checkout WebPageTest here:

<img width="795" alt="screen shot 2017-11-18 at 22 28 28" src="https://user-images.githubusercontent.com/540757/32984918-e483b25c-ccaf-11e7-8757-49a4c843b0c4.png">

https://results5.sitespeed.io/www.nytimes.com/2017-11-18-21-04-09/pages/www.nytimes.com/

It's the same for GPSI. Before they were added in a tab the same way as other plugins.

[2017-11-18 21:43] #1801 closed

[2017-11-18 21:56] soulgalore opened #1804 "Make it possible for plugins to add start page boxes/detail page info"

[2017-11-18 22:49] tobli opened #1806 "Use ISO 8601 timestamps in browsertime plugin."
Currently timestamps in browsertime.pageSummary and browsertime.run message data are changed from ISO 8601 (in the Browsertime source data) to a "yyyy-MM-dd HH:mm:ss" format. This is so we can print a human friendly timestamp in the generated html.
However this is a backwards dependency. We should publish data in a standard format, and reformat it for humans only when we actually need to.

[2017-11-19 20:53] beenanner commented on #870
@soulgalore what's left for this one for 6.0? I should have time to focus on it over the next few weeks. Looks like we have a few things in master already. Just wasn't sure if we had some polishing to do or if this is good enough to close.

[2017-11-20 09:51] radum opened #1809 "Browsertime UrlLoadError: Failed to load"
Hello

I'm using the latest version docker mode and for some websites that I run sitespeed I get a `Browsertime UrlLoadError: Failed to load`

Here is a good example:

[code]

And the output:

[code]

The same setting was working fine before, not sure to be honest what version I had before I upgraded.

**Hardware:**
MacBook Pro with macOS Sierra
Cabled networked connection
Docker version: Version

[2017-11-20 09:54] radum commented on #1809
Testing with default settings it gives me the same results:

[code]

result:

[code]

[2017-11-20 10:54] radum commented on #1809
@soulgalore You are correct. There seems to be a problem when I'm running the tests over my cable connection. If I switch to WIFI in my Mac it works ok.

Thank you for your quick reply. If I find something other might be able to use with the same issue I will add a comment.

[2017-11-20 10:54] #1809 closed

[2017-11-21 13:38] soulgalore opened #1812 "The test without cli on Travis doesn't catch an error"
https://travis-ci.org/sitespeedio/sitespeed.io/builds/305264457

<img width="997" alt="screen shot 2017-11-21 at 14 37 10" src="https://user-images.githubusercontent.com/540757/33075384-91c767e0-cec9-11e7-807d-c22da43b44f8.png">

[2017-11-21 16:39] boutiqueone opened #1813 "invalid reference format"
Hi , i have installed the sitespeed via docker on a windows 10 64bit computer, then pulled sitespeed .
When i type
docker run --shm-size=1g --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io https://www.sitespeed.io/ --video --speedIndex

i get invalid reference format.
When i run  docker run sitespeedio/sitespeed.io
Google Chrome 60.0.3112.78
Mozilla Firefox 54.0
/usr/src/app/bin/sitespeed.j

[2017-11-21 19:49] rachitktesting opened #1814 "Running of Performance evaluation on iPhone/iPad Air2"
Environment:
iPhone 6, iPhone 8 Plus, iPhone X
iPad Air2, iPad Pro

Expected:
Should be able to plugin iPhone in USB mode and run the performance test on iOS / Safari.

Actual:
Execution is not happening on iOS devices.

[2017-11-21 20:14] soulgalore commented on #1814
Hey @rachitktesting we don't support iOS devices, when webdriver can, we can do it too. Checkout https://www.webpagetest.org/ that got nice support for iOS.

Best
Peter

[2017-11-21 20:14] #1814 closed

[2017-11-21 20:16] soulgalore commented on #1813
Hey @boutiqueone can you share the exact output you get (or was that it)? Pinging @beenanner if he knows.

Best
Peter

[2017-11-21 21:28] rachitktesting commented on #1814
Hey Peter,

First of all Sitespeed.io is awesome, I just configured docker and running the test generating dashboards hardly in <10 mins.

We are using several platforms like SauceLabs (Emulators), TestObject (Real devices), Local Selenium Grids etc.

Could there be a way somehow to run the performance test on these devices in SauceLabs, TestObject public clouds and getting the results pushed to a

[2017-11-21 21:42] soulgalore commented on #1814
Thanks @rachitktesting  :)

There are people that has done some  hacking and using SauceLabs (I think you can find some clues in issues in Browsertime and here), but there's nothing we officially support. I've seen that they are satisfied with the metrics they get, I'm personally a little skeptical until someone can show me some raw numbers. Another (better) way would be to build a plugin for Sauc

[2017-11-21 22:10] sergeychernyshev opened #1815 "HELP.md is missing"
Looks like HELP.md file was deleted a few days ago
https://github.com/sitespeedio/sitespeed.io/commit/698438863ced48fd04a195e35f3b1a47d7cbbfad

breaking some links
https://github.com/sitespeedio/sitespeed.io/search?q=%22HELP.md%22&type=Code

[2017-11-22 01:21] soulgalore commented on #1815
Thanks @sergeychernyshev I think (I hope) I hade some idea ... but I don't remember what so added it back :)

[2017-11-22 01:21] #1815 closed

[2017-11-22 05:39] beenanner commented on #1813
@boutiqueone it appears in powershell you can't use `$(pwd)` try passing the absolute path as that worked for me.

[2017-11-22 06:24] beenanner commented on #1813
You could also try running your commands inside the vm if you using docker toolbox via `docker-machine ssh default`

[2017-11-22 06:30] beenanner commented on #1813
[code]

[2017-11-22 07:45] Nuoky opened #1816 "Using Docker to test android does not work properly"
Hi.

os: ubuntu 16.04 TLS

run：
[code]

output：

Mozilla Firefox 54.0

GWY0216C09005039	device

[2017-11-22 15:12:02] INFO: Starting chrome for analysing https://www.sitespeed.io 3 time(s)

then stop at:

I tried Samsung S8, Nexus 6P and Huawei Mate 9 they all had the same problem. also I try to enter the docker container to use the adb shell command is working.

My English is not so good, Sorry a

[2017-11-22 08:05] soulgalore commented on #1816
Hi @Nuoky thanks for the report, I wonder if we have broken anything, let me try it later on today and get back.

Best
Peter

[2017-11-22 08:09] soulgalore commented on #1813
@beenanner when you have time, could add a specific Windows heading on https://www.sitespeed.io/documentation/sitespeed.io/docker/ with all your knowledge :)

[2017-11-22 09:15] soulgalore commented on #1816
Yep this is broken (+ wrong docs on www.sitespeed.io). I'll have a look at it tonight.

[2017-11-22 13:00] boutiqueone commented on #1813
Thanks guys , it looks like its working now , but now i cant find the output folder. I am totally new to docker and dev stuff sorry

PS C:\Users\douglas> docker run --shm-size=1g --rm -v /sitespeed.io sitespeedio/sitespeed.io http://www.sitespeed.io/ -b chrome --speedIndex --video

Google Chrome 60.0.3112.78
Mozilla Firefox 54.0
[2017-11-22 09:10:58] INFO: Versions OS: linux 4.9.49-moby nodejs: v6

[2017-11-22 13:00] #1813 closed

[2017-11-22 19:44] abhagupta commented on #1788
We had a similar discussion in the beginning when we started testing our front end apps. After multiple runs with both WPT and sitespeed.io, we saw different results and we didn't know which ones to trust.  As Peter mentioned, yes, these are 2 different tools whose results should not compared with each other.   We finally ended up creating a laboratory setup in which we run sitespeed.io in an isol

[2017-11-22 20:06] soulgalore commented on #1788
@abhagupta thanks for sharing! You don't use any replays like mahimahi or WebPageReplay? We've been testing out Browsertime with WebPageReplay at work with good results but we are still struggling on where we should deploy it. So far we get best stable metrics on a c4.large on AWS but would like to move the tests inhouse, but we haven't tried what you described, interesting!

[2017-11-22 20:43] khalmur opened #1817 "Grafana dashboard - Templating init failed [object Object]"
Using latest (https://raw.githubusercontent.com/sitespeedio/sitespeed.io/master/docker/docker-compose.yml), with grafana:4.6.2 , I get "Templating init failed [object Object]" when I open dashboard.

<img width="1439" alt="templating_init_failed" src="https://user-images.githubusercontent.com/33911616/33148921-ae1326aa-cf9b-11e7-9353-366b50faa8cd.png">

[2017-11-23 03:12] beenanner opened #1818 "Docker run on windows updates"
Update docs around using Docker on Windows. Requested from #1813.

https://www.sitespeed.io/documentation/sitespeed.io/docker/

[2017-11-23 03:30] beenanner commented on #1817
Hi @khalmur could you share what OS and version of Docker and Docker Compose are you running? I just tested on Ubuntu 16.04 with Docker 17.11 CE and Docker Compose 1.17 and everything is working as expected.

[code]

[2017-11-23 03:38] beenanner commented on #1813
All good @boutiqueone happy to help you get started. I think the `-v /sitespeed.io` will only expose it internally to the container and not save it to the host as you need to use `-v <HOST PATH>:<CONTAINER PATH>` for things to persist outside of the container. I need to update the docs around around Windows since we mostly develop on either Linux or Mac. If you have any thoughts on improvements fe

[2017-11-23 03:59] beenanner commented on #1788
I'm also very interested in how you all approached the mocking of ads services @abhagupta. If you have the time I'd love to touch base privately as we are looking to do something similar at my work!