[2021-01-23 15:23] soulgalore commented on #3263
Hi @ahoiroman not at the moment. But if you run multiple tests (one per domain/organisation) you could do that with `--grafana.annotationTag`(if you use Grafana tags) or `--graphite.annotationTag` if you use Graphite.

Then it would be like:
`docker run --rm -v "$(pwd):/sitespeed.io" sitespeedio/sitespeed.io:16.5.0 -b chrome https://www.sitespeed.io/ https://www.sitespeed.io/documentation/ --grafa

[2021-01-23 15:28] soulgalore commented on #3261
Hi @TusAuto do not GitLab have any documentation of mount directories, I'm thinking they maybe have a standard way of handling?

[2021-01-23 15:32] soulgalore commented on #2894
@AntoniusGolly yes that would be great! Maybe it could be a section on https://github.com/sitespeedio/sitespeed.io/edit/main/docs/documentation/sitespeed.io/graphite/index.md? Let me know if you need any help.

[2021-01-24 03:01] ZZsui commented on #3262
Thank you Peter for the response, after reading https://www.sitespeed.io/documentation/sitespeed.io/performance-budget/,  I do not think we have this feature in sitespeed now.

Since our team is actively using user journey(js scripts) to write sitespeed test, we found that when we ran Sitespeed test , it might exit or fail due to different reasons:

- UI Errors, this might cause certain page objec

[2021-01-24 11:09] AntoniusGolly commented on #2894
Ok, I'll do that.
It was actually quite a long journey. Easy steps in particular but many of them (installations, configs, firewalls, etc). I got it finally to work. ONCE. I got literally *one* data point into my Grafan Dashboard via Grafana Cloud. And then not any follow-up data point. Obviously, I checked `storage-schemas.conf` of carbon-relay-ng to decrease the interval to 10s, to no avail. I t

[2021-01-24 11:32] AntoniusGolly commented on #2894
I created a draft PR with just the outline.  https://github.com/sitespeedio/sitespeed.io/pull/3264
Please review whether this document would meet the scope of your documentation.

[2021-01-25 04:52] roshan02 commented on #3232
@soulgalore can you please confirm your observation if it was different than mine.

[2021-01-25 14:25] LuisOsv opened #3265 "RE: Cannot run sitespeed when using visual metrics on NodeJS"
Hi all I have the following issues when trying to run from Nodejs on Windows.

`PS C:\Users\LSerna07463\AppData\Roaming\npm\node_modules\sitespeed.io\bin> node sitespeed.js https://en.wikipedia.org/wiki/Barack_Obama -b firefox --video --visualMetrics -n 1

[2021-01-21 19:47:30] INFO: Versions OS: win32 10.0.19042 nodejs: v15.5.1 sitespeed.io: 16.5.0 browsertime: 11.1.2 coach: 6.0.1
[2021-01-21 19:

[2021-01-25 15:10] soulgalore commented on #3265
Hi @LuisOsv have you installed all the requirements for video/ffmpeg on Windows? I think the GitHub action for Browsertime is good example of how to get it right: https://github.com/sitespeedio/browsertime/blob/main/.github/workflows/windows.yml

[2021-01-25 15:11] LuisOsv commented on #3265
@soulgalore Yes I did

[2021-01-25 15:41] soulgalore commented on #3232
Sorry I haven't had time to look, hopefully I can have a go tomorrow.

[2021-01-25 18:12] soulgalore commented on #3265
Ah sorry, yeah I see now. The error comes from that the window size/ capture area do not match.

I don't use Windows but my guess is that there's a mismatch somewhere. If you try making the window smaller, do that work?

[2021-01-26 02:38] soulgalore commented on #3232
Hi @roshan02 so the HAR file only shows file that are made on the wire, in devtools you see also the ones servers from cache:
<img width="1068" alt="Screenshot 2021-01-26 at 03 37 38" src="https://user-images.githubusercontent.com/540757/105792569-f32d7b80-5f87-11eb-8fc6-29b3b1a1e209.png">

Could that be the thing?

[2021-01-26 07:49] IMT-happy opened #3266 "use "X-Forwarded-For""
Excuse me, but I'd like to ask you a question about using "X-ForwardeD-For" in requests. Looking forward to your reply

[2021-01-26 09:52] #3266 closed

[2021-01-27 08:02] ahoiroman commented on #3263
Thank you for your response.

This will work, although it's causing to start the container over and over again. But as there are not hundreds of websites (at the moment) it should be a valid workaround for now.

Thanks :-)

[2021-01-27 08:02] #3263 closed

[2021-01-27 14:50] LuisOsv commented on #3265
Hi @soulgalore I tried with lower screen resolution and works e.g.1280x720
`PS C:\Users\LSerna07463\AppData\Roaming\npm\node_modules\sitespeed.io\bin> node sitespeed.js https://uat-demo.myvistance.com/#/login -b chrome --video --visualMetrics --browsertime.viewPort 1280x720`

[2021-01-27 15:05] ZZsui commented on #3262
Hi @soulgalore Peter, any update or thoughts for this request?

[2021-01-27 19:59] soulgalore commented on #3262
Hi @ZZsui sorry I missed your response, let me think it through and get back tomorrow!

[2021-01-28 14:08] ZZsui commented on #3262
Thank you @soulgalore !

[2021-01-28 14:19] soulgalore commented on #3262
I'm thinking different solutions, but not sure what's the best one. When you say "flag" you mean and overall status in the JSON telling us if everything worked ok or not and preferable you could add to that status in scripting (like a new command or something), is that how you mean?

When I uses WebPageTest at work before I remember it had different status codes and the codes has different meaning

[2021-01-28 15:58] ZZsui commented on #3262
Hi @soulgalore , thank you for the response.

I agree with you, the "flag" is too general and too abstract for a test status. So I am thinking to divide the test status into different categories based on the execution facts.

Just like the status code you mentioned from WebPageTest, each test status category(or status code, we can discuss later) should has its own meaning of what happened to the s

[2021-01-28 20:24] soulgalore commented on #3262
Hi @ZZsui let me get back tomorrow again (I've got more time then), but I was thinking if maybe something super simple status flag for failure with a message would be enough? Then in when you run your own scripting you can choose to mark your test as a failure (and what failed in the message). Maybe something like `commands.failure.set(message)`

The message will be visible in the HTML and the sta

[2021-01-28 21:07] ZZsui commented on #3262
@soulgalore Thank you Peter, I think you are absolutely right! a status flag with a failure message should be good enough. we can based on the error from console to fill in the failure meesage.

If the test failed after X tries, we could mark test failed and make the status visible in HTML with red color background I am thinking?

Other than this, after reading the budget document, I am also think

[2021-01-29 14:36] soulgalore commented on #3262
@ZZsui I'm gonna work on a simple PR this weekend, "markAsFailure(message)", then we can discuss it on Monday, it's easier when we have the code and we can see if we miss any use case.

[2021-01-29 14:59] ZZsui commented on #3262
Thank you Peter @soulgalore, this is great.

[2021-02-01 04:55] soulgalore opened #3267 "Docs: Update instructions for Linux"
Make a full example of what you need to install on Ubuntu 20:
https://www.sitespeed.io/documentation/sitespeed.io/installation/#linux

[2021-02-01 15:37] ZZsui commented on #3262
Thank you @soulgalore for making the PR and adding this feature.

Do you have any plan when does this feature gonna release to browsertime? should we expect this feature in 16.8.0 or 16.7.1?

Appreciate your help!

[2021-02-01 18:58] soulgalore commented on #3262
16.8.0. I'm working on finalising iOS simulator first, after that I'll integrate the change in sitespeed.io, my guess is that it should happen this week.

[2021-02-02 07:22] olemal-wh opened #3270 "Is it possible to use JS6 features like import?"
Hi!

I want to write performance tests for our product, which is written using JS6 features. I want to re-use some of the staff from the project in the test. And while I can use "require" import in the tests I obviously cannot rewrite our whole UI project using "require". So the test throws me an error "SyntaxError: Cannot use import statement outside a module" for other files I imported into test

[2021-02-02 14:14] ZZsui commented on #3262
Thank you Peter, this is very nice!

[2021-02-04 11:33] soulgalore commented on #3262
Hi @ZZsui do you have time to test it out before I release it? It exists in the main branch + the autobuold container: `docker pull sitespeedio/sitespeed.io-autobuild:main`

If you use Graphite, the metric will end up on `...browsertime.pageSummary.markedAsFailure` and if its a 1 it means a failure. If it fails, there's info the the pageSummary page in HTML.

A simple test:
[code]

[2021-02-04 13:07] ZZsui commented on #3262
Hi @soulgalore sure, I would like to give it a try, I will pull the docker `docker pull sitespeedio/sitespeed.io-autobuild:main`, will let you know once tested.

[2021-02-04 15:42] deena9291 opened #3273 "Visual metrics not captured in SPA application"
I am executing a script with few user actions after login, the script is able to capture all the metrics in the application while there a change in the URL for every user action. It stops capturing the metrics when there is an user action on a modal popup with angular interface without the URL change. Scripts works fine from the bowser and it does all the scripted actions inside the modal pop-up,

[2021-02-08 14:50] deena9291 commented on #3273
@soulgalore , Please have a loot this when you get a chance !

[2021-02-08 19:46] soulgalore commented on #3273
@Icecold777 even though some logs look the same, the underlaying issue could be something else, so if you can create an issue for your case, that would be great, thanks. Usually new errors that happens come from that the HTML page changes on the page.

[2021-02-08 20:13] deena9291 commented on #3273
Hi @soulgalore,
Unfortunately I will not be able to share the logs or the video of the site which I am testing. The application I test is an SPA, it uses angular modal pop up and all the user action I do on the pop up will send requests to back end API's but there is no change in the main URL reflected in the browser.

I am trying to capture all the visual metrics like TTFB, TTLB, Page size etc..,

[2021-02-08 20:38] deena9291 commented on #3273
I believe [User Timing API](https://web.dev/user-timings/), will give us the timings for only java script execution in the page., but my use case to record the timing including API calls and its rendering.

[2021-02-09 02:02] deena9291 commented on #3273
I fixed the issue with the below code, essentially updating the URL history with empty values to force browsertime to start measuring metrics even though there is no change in the URL;

![image](https://user-images.githubusercontent.com/62435018/107305300-b9ad4380-6a50-11eb-9d0b-d50eb25c19e0.png)

Insert the below code after each start transaction;
`var currentURL = await driver.getCurrentUrl();
v

[2021-02-09 09:37] eserte opened #3275 "Unexpected preflight OPTIONS requests when using --browsertime.requestheader"
Starting with sitespeed.io:12.5.0 the bundled chrome browser makes preflight OPTIONS requests for resources like fonts or external json data if `--browsertime.requestheader` is used.
Depending on the server configuration, these requests may fail, which is causing the resource to not be loaded at all.

Steps to reproduce the problem:

A sitespeed run without `--browersertime.requestheader` is not p

[2021-02-09 09:53] eserte opened #3276 "Inconsistent replacing of characters in path names"
Starting with sitespeed.io:16.0.2, some characters (at least the colon) in path names are in some places replaced to a "-", in other places not replaced at all.

To reproduce the issue create an urls.txt file with a ":" in the alias part:
[code]

Looking at the result pages, it's not possible to access the screenshot image or video.

The file tree also shows the inconsistent replacing:
[code]

[2021-02-09 14:53] soulgalore commented on #3276
Hi @eserte thanks for filing the issue, let me fix that before the next release.

[2021-02-10 01:03] deena9291 commented on #3195
Closing this issue as the set up is working fine.

[2021-02-10 01:03] #3195 closed

[2021-02-11 08:53] SkynetKoks opened #3277 "Duplicated tags by default in Graphite annotations"
**Steps to reproduce:**
1. Use docker-compose for sitespeed.io that you provided for localhost testing
2. Run command `docker run --shm-size=1g --rm -v "C:/Users/mykola.panasiuk/myDockerVolumes/sitespeed:/sitespeed.io" sitespeedio/sitespeed.io:16.8.0 -n 1 --graphite.host=host.docker.internal --resultBaseUrl http://localhost:8081 https://www.sitespeed.io/`
3. Check event that has been created in Gr

[2021-02-11 15:01] Icecold777 commented on #3273
@deena9291, cool! it works for me too. The only thing I add logical page name eg. currentURL + /checkout. Now it creates folder with clear name at filesystem instead of 'query-6bc054f4'
@soulgalore is it possible to implement such behavior? smth like commands.setURL?

[2021-02-11 20:46] soulgalore commented on #3277
Hi @SkynetKoks thanks for adding the issue! Ah I see, this is in main but I haven't advertised the new feature yet, I was planning to do that for 17.0 that will be released soonish. The problem right now is that the domain and the slug/test name collide. You can overcome that by give the test a name, do that by use `--slug your-testname`. But the default behaviour where the same names collide isn'

[2021-02-12 03:24] deena9291 opened #3278 "How to properly setup tsproxy in K8?"
Hi @soulgalore @pmeenan

Thankyou for this amazing tool !!!

I am trying to run a sitespeed test with network throttling and using tsproxy to do so on a K8 cluster, I get different response time with different connectivity profiles (which is great !!);

Testing with this config "--browsertime.connectivity.engine tsproxy --rtt 10 --inkbps 25000 --outkbps 10000 -c **4g** --verbose" since the profile

[2021-02-12 05:00] soulgalore commented on #3278
Hi @deena9291 I think you need to set the connectivity profile to _custom_ for in/out to work. If you check `--help` you can see _This option requires --connectivity be set to "custom"._ but we should also have a warning.

Please let me know how it works out. I usually [don't recommend using TSProxy](https://www.sitespeed.io/documentation/sitespeed.io/connectivity/#tsproxy) but it would be interes

[2021-02-12 05:10] soulgalore commented on #3273
So I think the code should fix it it, else it is a bug. If someone can help me by sharing a reproducible example I'm happy to take look and try to fix it. I think it would be better if it just works, instead of that you as a developer needs to add something in your script.

[2021-02-12 08:50] SkynetKoks commented on #3277
Thanks for your quick answer and a workaround! Also thank you and your teammates for the amazing job you've done and continue to do. I have been playing with your solution for almost two weeks and I'm impressed

[2021-02-12 10:45] alextiley1 opened #3553 "Sitespeed docker container not working correctly for Apple Silicon (M1, arm64)"
Good day.

I recently changed to a new mac with the M1 Apple Chip.

Sitespeed.io via docker no longer seems to be working for this new architecture. Currently the Sitespeed.io docker containers are only built for the `linux/amd64` platform. This platform is not supported on the new Apple M1 arm64 architecture, and I cannot get the docker container to work correctly running `docker run --rm -v "$(p

[2021-02-12 15:25] soulgalore commented on #3277
Thanks :) I'm rolling out 16.8.1 with a fix .. now. If you have time verify that it works for you that would be great.

[2021-02-12 16:17] SkynetKoks commented on #3277
I've just checked with 16.8.1-plus1 and it works perfectly, thank you)

[2021-02-12 16:17] #3277 closed

[2021-02-12 16:46] deena9291 commented on #3278
Hi @soulgalore ,

Thanks for the info, I started using custom connectivity profiles along with tsproxy and getting proper results based on the respective network configuration;
![image](https://user-images.githubusercontent.com/62435018/107794805-e77eda80-6d25-11eb-9096-38d9c918d1d7.png)

Here we can see that the response time (page load time) differs for the same use case according to the setting

[2021-02-14 13:22] vishallanke opened #3280 "[help required] How to handle opening of new tab after clicking"
Click on 'https://twitter.com/Wikipedia
Click on Wiki hyper link
It opens new tab

[code]

ERROR
[2021-02-14 18:48:52] ERROR: Caught error from Browsertime Error: PageIndex out of range

[2021-02-17 01:32] inderpartap commented on #3241
@soulgalore If we update the [start.sh-L81](https://github.com/sitespeedio/sitespeed.io/blob/b9703742849a684b5e3a8d1fea1647d2879da455/docker/scripts/start.sh#L81) to have the EXCLUDE set to the URL we are testing (basically blocking 3rd party), it just throws an error during REPLAY `ERROR: Could not load URL https://www.realtor.com UrlLoadError: Could not load https://www.realtor.com is the web pa

[2021-02-18 07:58] soulgalore commented on #3241
Hi, at the moment `blockDomainsExcept` uses the same functionality we use internally to route the traffic back to the WebPageReplay server, so when you add that switch it collide and it don't work. To fix that we need a code change somewhere but I'm not sure at the moment how to do it the best way.

[2021-02-18 13:29] soulgalore commented on #3280
Hi @vishallanke I don't think there's a workaround to fix this, right now everything is focused on one tab.

[2021-02-18 13:33] soulgalore commented on #3267
Fixed in https://www.sitespeed.io/documentation/sitespeed.io/installation/#linux

[2021-02-18 15:44] soulgalore commented on #3241
I can have a look this weekend to see if I can find an easy fix.

[2021-02-20 21:01] inderpartap commented on #3241
Thanks a lot, Peter. I can help you with the fix if you could point out what needs to be done.

[2021-02-22 14:19] soulgalore commented on #3241
@inderpartap yes please. I had a quick check this weekend but couldn't find a good way, but maybe you can. Let me explain how it works:

When we do the testing with WebPageReplay we make sure Chrome changes the traffic for HTTP/HTTPS to go to localhost instead (where we run WebPageReplay), that happens in https://github.com/sitespeedio/sitespeed.io/blob/main/docker/scripts/start.sh#L81
That is nee

[2021-02-23 08:22] Icecold777 commented on #3273
@soulgalore, unfortunately I can't share the link I'm testing against and can't find any SPA app with similar behavior in public access. The key feature is no changing page URL during navigation from one "page" to another.

[2021-02-23 12:14] Icecold777 commented on #3280
@vishallanke, I pretty sure that it's possible to use selenium in this case

Something like this code should work
[code]

[2021-02-23 15:21] benboit opened #3285 "Budget-File not found when ran in Gitlab CI"
Hello,

im trying to use the browser performance-testing according to https://docs.gitlab.com/ee/user/project/merge_requests/browser_performance_testing.html

Gitlab CI is using this configuration to run a docker-based sitespeed.io instance: https://gitlab.com/gitlab-org/gitlab/-/blob/master/lib/gitlab/ci/templates/Verify/Browser-Performance.gitlab-ci.yml

When changing the SITESPEED_OPTIONS to **

[2021-02-23 16:57] SkynetKoks opened #3286 "Screenshots are missing in HTML report"
**Steps to reproduce:**
1. Run test with: `docker run --shm-size=1g --rm -v "C:/Users/mykola.panasiuk/myDockerVolumes/sitespeed:/sitespeed.io" sitespeedio/sitespeed.io:16.8.1-plus1 --plugins.remove /gpsi --plugins.remove /lighthouse -n 1 --html.showScript myscript.js --multi`
2. Once it's finished go to HMTL report -> then to Screenshots tab

**Actual result:**
Screenshots are missing in HTML repo

[2021-02-23 20:58] soulgalore commented on #3285
Hi @benboit I haven't used GitLab but lets see if I can help.

You are right, inside the container /sitespeed.io is used so mapping that directory is the right way to go (and have your budget file their) so if you run the Docker container standalone you should be able to follow the old docs for GitLab: https://docs.gitlab.com/ee/user/project/merge_requests/browser_performance_testing.html#gitlab-v

[2021-02-23 21:20] soulgalore commented on #3286
Hi @SkynetKoks thanks for the bug report. I fixed it in a PR and it will go out in the next release.

[2021-02-24 08:02] SkynetKoks commented on #3286
Thank you! Works for me now in sitespeedio/sitespeed.io:16.9.0-plus1

[2021-02-24 08:02] #3286 closed

[2021-02-24 11:23] paddy-hack opened #3289 "Please honour the *_proxy environment variables"
I guess I got spoiled by the many utilities that support `https_proxy`, `http_proxy` and `no_proxy` environment variables (or their uppercase cousins) out of the box.  I was surprised `sitespeed.io` doesn't and requires me to add command-line options to set the proxies.  These command-line option do not work when passed the typical values for the environment variables so these need some `sed` proc

[2021-02-24 18:24] whichfinder opened #3291 "Partially rebuilded image for Mac M1 (firefox only)"
Hello guys,

I've tried to build docker image for sitespeed.io for Mac m1 (arm64).

Steps that were performed:
1. build new ubuntu node image (like [this](https://hub.docker.com/layers/sitespeedio/node/ubuntu-20.04-nodejs-14.15.0/images/sha256-492e41e03493a91ae3b57a5298d40e499b91cd505300a0a81a0638f5037e9b1d?context=explore))
but, unfortunately, this didn't work. So I build it from scratch with rep

[2021-02-24 19:53] soulgalore commented on #3291
Hi @whichfinder thanks for creating the issue. I've briefly created ARM-builds (see https://github.com/sitespeedio/docker-browsers/issues/2) but never got around to get it to work. Best case I wanna find a way to use the same Docker files for both builds but not sure if its possible. Looks like you got further than me, great!

I think the error means that python is not found, checkout the Visual M

[2021-02-24 20:19] soulgalore commented on #3291
Had a quick try and I guess the best way is to add a arg `--build-arg PLATFORM=arm64` or do you see a better way of doing it @whichfinder ?

[2021-02-25 08:03] whichfinder commented on #3291
Hello @soulgalore
I will check python today, thank you for hint.
PS: +1 to `--build-arg PLATFORM=arm64`

[2021-02-25 08:44] soulgalore commented on #3291
I did quick test and visual metrics works, but got another problem, it seems like the [HAR export trigger](https://github.com/firefox-devtools/har-export-trigger) do not work:

[code]

That empty object as and error doesn't help so much :)

[2021-02-25 09:29] benboit commented on #3285
Hello, thanks for your comment, this ist related to volumes in docker-in-docker context in gitlab. So not your fault.

For everyone interested: https://gitlab.com/gitlab-org/gitlab-foss/-/issues/41227

You need to configure your runner.toml, to mount the build directory (see: https://gitlab.com/gitlab-org/gitlab-foss/-/issues/41227#note_292893514)

[2021-02-25 09:29] #3285 closed

[2021-02-25 12:31] soulgalore commented on #3291
@whichfinder FYI I tried some more with buildx and got the repo https://github.com/sitespeedio/docker-node built for different platforms, checkout https://github.com/sitespeedio/docker-node/blob/main/Dockerfile#L3 and the build instructions in the README. I'll try to fix a couple of the other containers to follow the same pattern tonight or the coming weekend.

[2021-02-25 14:30] soulgalore commented on #3291
I made branch for the container with the browsers: https://github.com/sitespeedio/docker-browsers/blob/multi-platform-support/Dockerfile

One thing that we need to look into is matching Chromedriver/Chrome version for arm.

[2021-02-26 06:16] rockstar690 opened #3292 "Getting error " TypeError: Cannot read property 'addDeep' of undefined""
Hi Team,

We are creating scripts for single page application on latest version of sitespeed 16.8 and getting "addDeep" issue frequently.

![image](https://user-images.githubusercontent.com/79684446/109262447-9263be00-7827-11eb-80d3-d51d086c5439.png)

After completing of all the transactions, this error "addDeep" is generating at last.
Due to security reason, I can't share URL and login creds.

ve

[2021-02-26 07:28] soulgalore commented on #3292
Hi @rockstar690 it's [super hard to reproduce without any more info](https://www.sitespeed.io/documentation/sitespeed.io/bug-report/#explain-how-to-reproduce-your-issue). Do you get it frequently or all the time? My guess is that the page/transaction isn't generating a request for each step. I can try to add some better error checks/usefuful error messages in the next release.

[2021-02-26 08:31] soulgalore commented on #3291
@whichfinder @alextiley1 I pushed a version sitespeedio/webbrowsers:chrome-88.0-firefox-84.0-edge-89.0-dev-multi (from the branch https://github.com/sitespeedio/docker-browsers/tree/multi-platform-support) and then Firefox works and I need help with Chromium (the current install do not work).

To try it, change the Dockerfile to depend on sitespeedio/webbrowsers:chrome-88.0-firefox-84.0-edge-89.0-

[2021-02-26 08:32] rockstar690 commented on #3292
Hi @soulgalore ,

Can you pls share your personal email id so that I can share my script for debugging the issue.

Thanks in advance.

[2021-02-27 14:47] whichfinder commented on #3291
ff works perfectly, thank you @soulgalore
I am trying to build using chromium and current idea is to make link chromium -> chrome so we don't need to change start.sh, what do you think?
AFAIK chrome and chromium commands are the same..

[2021-02-27 15:47] soulgalore commented on #3291
Yes sounds good. When I tried I sometimes get that HAR error from Firefox but not all the time. Do you get that error too?

[2021-02-27 15:49] whichfinder commented on #3291
no error at all on my end

[2021-03-01 05:53] rockstar690 commented on #3292
Hi @soulgalore,

Still I am waiting for your response, pls ack

[2021-03-02 06:54] Nuoky commented on #2193
Sorry, it took so long to reply.
I have now solved the problem by the following method:

[code]

[2021-03-03 10:02] Vout commented on #3273
I'm trying to use your solution but i'm getting the following error, `[2021-03-03 09:59:30] ERROR: ReferenceError: driver is not defined`

Do you have a more detailed example on how you did this?

[2021-03-03 11:37] pintiyas opened #3295 "InfluxDB seriesname data set as last metric field"
Hi all!

Using sitespeed.io:16.9.2-plus1 I get metric using config.json from GPSI such as:

[code]

When I see log by -v option it sends metrics to Influx and send something as follows, so there's no way to know which metric is send:

[code]

Is there any way for matching which data is send and metric belongs to?

Thanks!

[2021-03-03 14:26] whichfinder commented on #3291
Hi, @soulgalore
I've tried several ways of installing chromium on ubuntu arm image. One worked for me and I successfully installed chromium:
`apt-get install -y software-properties-common && \`
`apt-get install libgcc1 gcc-8-base && \`
`apt-key adv --fetch-keys "https://keyserver.ubuntu.com/pks/lookup?op=get&search=0xea6e302dc78cc4b087cfc3570ebea9b02842f111" && echo 'deb http://ppa.launchpad.net/c

[2021-03-03 16:46] SkynetKoks commented on #3295
Hi, u can use -vvv (more detailed debug output, but even it will not show you all metrics to send, at least I see only browsertime metrics to send to Graphite)

[2021-03-03 16:52] mklpanasiuk opened #3296 "Incorrect metric's name for PageXray assets (array index instead of full name)"
Hi, it should be similar to - https://github.com/sitespeedio/sitespeed.io/pull/1341
**Steps to reproduce:**
1. Run command: `docker run --shm-size=2g --rm -v "C:/Users/mykola.panasiuk/myDockerVolumes/sitespeed:/sitespeed.io" sitespeedio/sitespeed.io:16.9.2-plus1 --plugins.remove /gpsi --plugins.remove /lighthouse --config config.json -n 1 --graphite.host=host.docker.internal --graphite.namespace d

[2021-03-03 16:56] SkynetKoks commented on #3296
Sorry for off topic, but also a quick question: Is there a way to pass boolean value from CLI? So far it works for me only when I set it directly in config, otherwise I get it as string which is wrong, example:
![2021-03-02_09-00-29](https://user-images.githubusercontent.com/53987913/109841885-2e3f6080-7c52-11eb-92b3-52c6577d54b5.png)

[2021-03-03 19:23] stlukey opened #3297 "Clean Install: chromedriver does not exist"
Just tried to use this on a clean install of Node/NPM (attempting both NVM and system) on MacOS 11.2.2, Node v14.16.0 & NPM 7.6.0 resulting in the following:

[code]

Multiple browsers are installed on the system (chrome, edge, firefox) and the corresponding global node_modules/ (both in the case of with and without NVM) was deleted prior to performing a fresh Node/NPM install.

[2021-03-03 23:24] svn-deepak4 opened #3298 "FilmStrip and Last Visual Change not captured in the Html report"
Due to restriction on the ongoing issue with installing docker, we are running the test with NPM installed. We observed Film Strip and Last Visual change metrics not captured in Index.html. We have cloned from github 16.6 version

[2021-03-04 08:10] rockstar690 commented on #3292
hi @soulgalore

can you please respond to our query.

thanks

[2021-03-04 09:53] Icecold777 commented on #3273
Hi @Vout,
First of all you should initiate webdriver instance as we use it's API directly

const webdriver = context.selenium.webdriver;
const driver = context.selenium.driver;

Please refer to https://www.sitespeed.io/documentation/sitespeed.io/scripting/#use-selenium-directly

[2021-03-04 12:12] scrobertson commented on #3193
Same issue here

[2021-03-04 12:22] Icecold777 commented on #3298
Hello, @svn-deepak4
Please provide your start command.
Also you can get more info with -vvv flag. Maybe it'll be helpful

[2021-03-04 16:11] svn-deepak4 commented on #3298
Command used - $ bin/sitespeed.js C:\\Users\\Administrator\\Downloads\\Vaidy\\PLP_PROD\\PLP_S01_Instructor_CourseCreation.js --multi -b chrome -n 1
Below is the output of --
[CustExp_Filmstrip_Bug.txt](https://github.com/sitespeedio/sitespeed.io/files/6085031/CustExp_Filmstrip_Bug.txt)

[2021-03-04 20:01] newlook-admin opened #3299 "Lighthouse report inaccessible after run"
Hi,

After a performance test completes, we have Sitespeed configured to push the results to an S3 bucket for long-term storage.  When viewing the report, we have the lighthouse option however the report URL is unavailable (404) - having looked at the s3 bucket directly it appears that there is no report in the /data directory.

Steps to reproduce:

1. with the sitespeed.io:16.9.2-plus1 docker ima

[2021-03-04 20:03] #3299 closed

[2021-03-04 20:04] andyfrancis opened #3300 "Lighthouse report unavailable after run"
Hi,

After a performance test completes, we have Sitespeed configured to push the results to an S3 bucket for long-term storage.  When viewing the report, we have the lighthouse option however the report URL is unavailable (404) - having looked at the s3 bucket directly it appears that there is no report in the /data directory.

Steps to reproduce:

1. with the sitespeed.io:16.9.2-plus1 docker ima

[2021-03-05 04:54] soulgalore commented on #3291
Hi @whichfinder aha thanks for looking into it. Let me add then so at least we release the Firefox version next time + logs errors for Chrome until there's a way to fix it.

[2021-03-05 05:01] soulgalore commented on #3298
HI @svn-deepak4 when you run through npm you need to enable video and Visual metrics from the cli `--video --visualMetrics` do that help?

[2021-03-05 05:02] soulgalore commented on #3193
Hi @egouraud-claranet yes it is, they should be added by default, let me have a look.

[2021-03-05 05:10] soulgalore commented on #3193
If you check for the tags { statistics: 'timings', largestContentfulPaint: 'renderTime' } that is LCP. For CLS I think it should be visible with statistics: 'pageinfo', let me know if it works.

[2021-03-05 05:11] soulgalore commented on #3292
Hi @rockstar690 I've been offline for a couple of days. You can reach me at: peter [AT] souldgalore |DOT] com.

[2021-03-05 05:16] soulgalore commented on #3297
Hi @o4dev and no errors in the log when you installed? Can you add  _--loglevel verbose_ to your npn install command and look in the log. Chromedriver should be installed in that phase.

[2021-03-05 05:20] soulgalore commented on #3296
Hmm, what do you want to do? Like what so you want to accomplish with the data in Graphite? Keep track of an all assets sizes individually?

[2021-03-05 05:24] soulgalore commented on #3295
Hi @PIntiyas I think the conversion of the Lighthouse data to InfluxDB (and Graphite) is very limited today. The "magic" converting the data happens in https://github.com/sitespeedio/sitespeed.io/blob/main/lib/plugins/influxdb/data-generator.js#L197-L205 - if you could add a PR that take the metric name and add it as a tag I think that should work.

[2021-03-05 06:35] rockstar690 commented on #3292
Hi @soulgalore ,

Thanks for your response. I am trying to send you mail at "peter@souldgalore.com" but it is not working.

[2021-03-05 08:45] scrobertson commented on #3193
Hi yeah my bad.
renderTime = LCP
layoutShift = CLS

Those who use FID
measurement - duration
Tag - firstInput

[2021-03-05 08:59] PIntiyas commented on #3295
Hi @soulgalore !

I made the "magic" but with a hotfix in this file. I put key value instead of splitted last part when end of metric is not contained in conts list. It's working fine for me, but I think that it's no a real good job with setting parameters and those kind of things.
I will try to do something more elegant and pull it.

Thanks!

[2021-03-05 11:54] SkynetKoks commented on #3296
@soulgalore Hi, thank you for your response. I meant the next:
1. When looking at metrics.txt (with the command `--metrics.list`) I have found the metrics I was looking for:
`pagexray.pageSummary.assets.EXAMPLE_FILE_OR_LINK.contentSize`
2. Following to specs from Sitespeed.io I have an option to save it to Graphite like:
`--metrics.filter pagexray.pageSummary.assets.*.contentSize` or to be more sp

[2021-03-05 15:25] vishnusn656 opened #3301 "ERROR: Could not add meta data to the HAR, miss page<number>"
While running Sitespeed script for higher number of iterations(Greater than 20), result collation is failing with following messages in console: "ERROR: Could not add meta data to the HAR, miss page<Number>" ",  ERROR: Could not find the right index 145 for har for url<url>", and  "ERROR: Caught error from Browsertime Error: PageIndex out of range".  When same script is executed under exact same c

[2021-03-05 15:57] vishnusn656 commented on #3301
Latest Update: After verifying the logs of 30 iteration test, it was found that 8th iteration had an assertion error in it and hence script continued with 9th iteration and successfully completed up to 30th iteration. Failure in one iteration out of 30 iteration is causing the above mentioned errors. Data is not pushed to influxdb as well.

[2021-03-06 08:09] soulgalore commented on #3193
Yeah, sorry. Internally in Chrome LCP has many fields https://wicg.github.io/largest-contentful-paint/#largestcontentfulpaint. For CLS ity has changed name in Chrome and maybe we should double that metric so its named also after their new standard.

[2021-03-06 08:13] soulgalore commented on #3295
Cool, yeah so if I remember correctly the JSON result from Lighthouse is kind of bloated and we probably wanna avoid having direct conversions, more generic one that handles most of the cases so we don't need to change it so often. Haven't had a try though since I'm no Lighthouse user :)

[2021-03-06 08:17] soulgalore commented on #3296
Yes, but I meant your goal is to track the size of each file individually in Graphite? Isn't better to either track the total size for CSS or for first party content and then if you reach a threshold look in the HTML result to see what's has changed? For tracking individual assets I think another data storage will be better but I haven't implemented any yet.

[2021-03-06 08:19] soulgalore commented on #3301
Hi @vishnusn656 thanks for creating the issue, can you please follow https://www.sitespeed.io/documentation/sitespeed.io/bug-report/#explain-how-to-reproduce-your-issue and make a reproducible test case and I can have a look, thanks!

[2021-03-06 10:28] SkynetKoks commented on #3296
@soulgalore Total is good by default, my developers are very interested to track specific files (a few), mostly JS files, this should be a huge challenge for Graphite. It seems that Sitespeed is able to do that simple task out of the box, except proper naming of metric, at least index of an asset in the metric name is weird and useless at the moment

[2021-03-07 09:12] o4dev commented on #3297
No errors reported from what I can see. Bellow is the full output from npm:
[code]

[2021-03-07 22:29] Binayjojo opened #3303 "Unable to see metrics in graphana dashboard , could see those in graphite"
Have a separate server for graphana and graphite.

https://raw.githubusercontent.com/sitespeedio/sitespeed.io/main/docker/docker-compose.yml used this
Base OS Amazon linux

While i can see  metrics in graphite, not seen in graphana.
![graphite_data](https://user-images.githubusercontent.com/48512071/110257151-806de200-7fc2-11eb-96f9-c8c8ecd0a71e.png)
![graphana](https://user-images.githubuserconte

[2021-03-08 07:07] Binayjojo commented on #3303
Is this something to do with the variables defined for dashboard , as i see the same issue  in https://dashboard.sitespeed.io/d/000000043/page-summary?orgId=1 .

[2021-03-08 11:39] soulgalore commented on #3303
Hi @Binayjojo what dashboards did you use from the beginning? Did you download them from dashboard.sitesped.io or? And what config do you use?

So we are in the middle of releasing the next major version, where the dashboard will need to have the slug (see https://dashboard.sitespeed.io/d/000000064/page-metrics-mobile?orgId=1&var-base=sitespeed_io&var-path=emulatedMobileFirstView&var-testname=alex

[2021-03-08 11:46] Binayjojo commented on #3303
Hi @soulgalore  , Thanks for the reply ,

I am using Default sitespeed.io dashboards for Graphite . Got the answer. Will wait for the next version.

[2021-03-08 11:47] #3303 closed

[2021-03-08 12:57] parag85 opened #3304 "Unable to connect android device"
Hello Team,

Unable to connect my android device.

Ubuntu - 18.04.5 LTS
sitespeed.io: 16.9.2
browsertime: 11.5.0

Command to run:

docker run --privileged -v /dev/bus/usb:/dev/bus/usb -e START_ADB_SERVER=true --rm -v "$(pwd):/sitespeed.io" sitespeedio/sitespeed.io:16.9.2  -n 1 --android --browsertime.xvfb false https://www.sitespeed.io

Error:

ERROR: Caught error from Browsertime Error: No Androi

[2021-03-08 13:12] soulgalore commented on #3304
Hi @parag85 thanks for creating the issue. If you run ADB without Docker, is the device listed then? Thinking there's something going with the mapping of the USB port. I don't have access to Linux at the moment but if you cannot get it to work I can see if I can have a go the coming week or so.

[2021-03-09 01:59] inderpartap commented on #3241
@soulgalore
This is my solution to the above issue. If we replace [https://github.com/sitespeedio/sitespeed.io/blob/main/docker/scripts/start.sh#L81](https://github.com/sitespeedio/sitespeed.io/blob/main/docker/scripts/start.sh#L81) with the following code, it would dynamically generate the `execNode` command using the domains provided through the `--chrome.blockDomainsExcept` argument.

Now my qu

[2021-03-09 04:59] parag85 commented on #3304
Hi @soulgalore , Yes device is listing without running docker. I am able to install apk and other commands via adb command.

[2021-03-13 09:29] LuisBatistaEscobedo opened #3310 "Graphite Metrics - ERROR: Error: connect ETIMEDOUT"
I'm currently using Docker on Windows to make some tests with Sitespeed, Grafana and Graphite. I used the docker-compse.yml file attached for the configuration on the containers and everything seem to be working well; I modify the storage-schemas.conf and the storage-aggregation.conf files. I successfully ran the test using the lates Sitespeed distribution(16.10.0), but it seems that once I try to

[2021-03-15 13:21] TusAuto opened #3311 "Accessibility budget is not working with latest release 16.10.0"
1. I have upgraded sitespeed to latest v 16.10.0. Before this we were using 15.9.0 version.
2. In  v15.9.0 , we able make pass fail based on accessibility budget metrics.
3. But in latest v 16.10.0 , we are getting error for   **accessibility**  metrics. Error screenshot is attached.
4. Because of this we are unable to move forword.
5. Please fix the same as soon as possible.
![Accessibilty_error]

[2021-03-15 13:35] soulgalore commented on #3311
Hi @TusAuto see the changed section in 16.0: https://github.com/sitespeedio/sitespeed.io/blob/main/CHANGELOG.md#1600---2020-12-21

We dropped the support for accessibility in the Coach. The reason is that the advice was very very limited and its much better to run AXE-core using `--axe.enable`.

[2021-03-15 15:57] mploquin opened #3312 "Best plugin for CrUX data and Lighthouse scores"
Hi @soulgalore ,

What is the best way to get the crux data : with the crux plugin or the gpsi plugin? What is the differences between this two plugins ? Is there one more precise or more suitable in a particular situation ?

Same for lighthouse scores, what is the best use : the gpsi plugin or the standalone lighouse plugin ?

Thank you for your answers and your work !

[2021-03-16 01:04] soulgalore commented on #3312
Hi @mploquin for crux it seems to be better to use the CrUX API see https://groups.google.com/a/chromium.org/g/chrome-ux-report/c/TTL4HR8pCcE

For Lighthouse: If you use the Lighthouse plugin you can update Lighthouse versions if you want, GSPI you want to wait until they do. But on the other side: gpsi runs Lighthouse on someone else computer, the Lighthouse plugin on your own so it depends.

[2021-03-16 07:29] #3312 closed

[2021-03-16 10:48] mploquin opened #3313 "Cannot run crux plugin for various urls with the same origin"
I wanted to test various URLs with the same origin (https://www.sitespeed.io/ and
https://www.sitespeed.io/documentation/sitespeed.io/ for example), but when I run the test with the `collect` option set to `ALL or ORIGIN` I got this error:

[code]

[2021-03-16 12:38] soulgalore commented on #3313
Thanks @mploquin I see, I think it could be that I missed that use case (alway testing one URL). What happens is that it keeps trying to get origin data multiple times and passed that on. We should fix so that it only get data for the same origin once.

[2021-03-16 16:42] Ludovic33Fr opened #3314 "Cookie parameter doesn't work anymore"
Hello,

It seems there is a regression on the cookie parameter.

**how to reproduce your issue**

1. I have upgraded sitespeed to latest v 16.10.0
2. I switch on fiddler to catch the request
3. I run a test with the following command : node  bin/sitespeed.js https://www.sitespeed.io/ -n 1 --cpu --cookie TEST_PRIVACY=123456 -vvv
4. I  am looking for cookie into HTTP Header : TEST_PRIVACY into fiddl

[2021-03-16 16:43] Ludovic33Fr commented on #3314
![image](https://user-images.githubusercontent.com/39523675/111347027-19fe5900-867f-11eb-8b46-91b5b669130b.png)

[2021-03-16 17:58] soulgalore commented on #3314
Hi @Ludovic33Fr I usually [use httpbin to verify](https://www.sitespeed.io/documentation/sitespeed.io/bug-report/#explain-how-to-reproduce-your-issue). They have different URL that just echo back the values. https://httpbin.org/cookies will print all cookies on the screen:

` bin/sitespeed.js https://httpbin.org/cookies  -n 1 --cpu --cookie TEST_PRIVACY=123456`
<img width="358" alt="Screenshot 202

[2021-03-16 21:51] Ludovic33Fr commented on #3314
Hi @soulgalore ,

Thank you for your response. I try with httpbin and i think that the issue coming from the execution context.

In deed with your command : **node  bin/sitespeed.js https://httpbin.org/cookies -n 1 --cpu --cookie TEST-PRIVACY=123456**

- It works if i call it from Terminal powershell of visual studio code
- However : it fails and i reproduce everytime, if i call the command line i

[2021-03-17 10:03] Ludovic33Fr commented on #3314
To add more informations on this issue :

- We reproduce the same issue by calling httpbin in linux command line context
- We change the version of sitespeed io recently from 13.2.0 to 16.8.0. With this old version it works

[2021-03-17 10:16] soulgalore commented on #3314
Ok, can you help me how to reproduce it on Linux? Is it that example you showed or another that do not work?

When I tried the dockerized version it also works for me: `docker run --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io https://httpbin.org/cookies -n 1 --cpu --cookie TEST-PRIVACY=123456 -n 1`

Setting a cookie for Chrome uses the CDP protocol. this is the magic: https://github.com/

[2021-03-18 10:09] SkynetKoks commented on #3296
Hi, @soulgalore. Any hope to get it fixed in the near future?

[2021-03-18 14:19] soulgalore commented on #3296
No but PRs are open if you have rime :) I had a quick look and it looks like `--metrics.filter "pagexray.pageSummary.assets.*"` gets the asset name correct? But adding either the name or the metric makes it fails.

[2021-03-18 20:31] soulgalore commented on #3304
Hi @parag85 I think I may know what's happened. Some time ago I've updated to https://www.npmjs.com/package/@devicefarmer/adbkit and I wonder if this new:

I know I haven't done that in the Docker container, I wonder if that could be the problem?  There's a hack you could try to help me test. You can run a extra shell script before sitespeed.io starts:
https://www.sitespeed.io/documentation/sitesp

[2021-03-19 07:04] soulgalore commented on #3304
No that shouldn't be it. Let me install Linux, I can do that early next week, I'll ping the issue ASAP when I tried it out.

[2021-03-19 21:30] soulgalore commented on #3304
@parag85 Let me update the docs: You can only have the phone attached to one adb server at a time, so you need to make sure adb is not running on your host machine (`adb kill-server`).

[2021-03-22 07:35] TusAuto opened #3318 "<Query >How does Budget pass/fail works in case of Iteration run= 3."
We are executing each url for iteration count=3. Also we have Page load Time as budget configured metrics.  I want to know how page load time will be taken for 3 iteration ? Is it average time that calculated for 3 iterations or how does it calculate final page load time or other Coach metrics. ??

[2021-03-22 09:04] mploquin commented on #3314
Hi,

This works for me on Linux, but I also ran into some issues with cookies, especially when I am using `requestheader` option.
For example, httpbin shows cookies but they are not really in the broswer :
<img src="https://user-images.githubusercontent.com/19324133/111960333-e6448880-8aef-11eb-9aac-8f6d5213bdc1.png" width="480">

Overall I have encountered several issues with special characters e

[2021-03-22 14:30] soulgalore commented on #3314
Hi @mploquin yep its a limit today that you cannot set domain/path. If you have time I PR I can rewove it. In CDP it would be pretty straightforward, but for Firefox we still use https://github.com/sitespeedio/browsertime-extension to set cookies, that is little bit harder to test.

[2021-03-22 18:35] soulgalore commented on #3318
Hi @TusAuto it should be the median.

[2021-03-24 04:17] TusAuto opened #3319 "<Query> Does "await commands.wait.byTime(25000)" included in the Page load time if used in-between measure.start() and measure.stop()"
Our Application is taking more time for loading , hence we have added await commands.wait.byTime(25000) in between measure.start() and measure.stop(). So does it add 25sec in page load Time matrix ?

We have used different page load strategies  like --browsertime.pageCompleteCheckInactivity ,--pageCompleteWaitTime but we finalized to use  await commands.wait.byTime(25000) as our application is to

[2021-03-24 09:09] soulgalore commented on #3319
Hi @TusAuto the extra wait time will just wait, so after the extra wait time is finished all metrics are collected. If more JavaScript run under that time than it normally would and it will be long tasks you can see that in total blocking. But the actual wait will not add anything extra to any metric. That only happens if the page do something during that time.

[2021-03-24 09:24] TusAuto commented on #3319
Thank you @soulgalore :)  But if we remove that extra time , We can see in html report -->Page tab screenshot  , our page is not loaded and readings are captured for incomplete page.  Do we any other option that we can add instead of hard wait time ??. Because it will slow down our execution for all scripts.  I tried  --browsertime.pageCompleteCheckInactivity ,--pageCompleteWaitTime but not useful

[2021-03-24 13:18] eQza opened #3320 "Grafana Annotation timestamp is set to test start time"
Annotation is logged at the beginning instead of at the time the page is loaded. The gap between the metrics and the annotation in the dashboard can be confusing to readers.
![image](https://user-images.githubusercontent.com/21050380/112316643-344dbd80-8ca3-11eb-8548-2205b5f5ab86.png)

Annotation
![image](https://user-images.githubusercontent.com/21050380/112315997-9823b680-8ca2-11eb-929f-a0b5c34f

[2021-03-25 09:38] norbybaru opened #3321 "analysisstorer plugins throwing error"
I am getting this error when I enable `analysisstorer` plugin. I am not sure why it failing. `--plugins.add analysisstorer` I am running docker setup

[code]

[2021-03-25 09:47] soulgalore commented on #3321
Hi @norbybaru do you have any more information on how you run or does it fails with a simple test? I wanna see how I can reproduce, it looks like some data is passed on in the wrong format.

[2021-03-25 09:54] norbybaru commented on #3321
Hmm it fails with a simple test. On production we have few custom changes but on my local it still fails with simple test with just 1 url.

[2021-03-25 09:55] norbybaru commented on #3321
I am not sure if this will help but I am pretty much runs this script

[code]

[2021-03-25 10:07] soulgalore commented on #3321
OK then I guess it comes from the Lighthouse plugin, I did a quick try with the other settings and it works locally. Let me try Lighthouse later today.

[2021-03-25 10:41] norbybaru commented on #3321
Ok no problem then. I will see if I can pick anything.

Is there possibly a plugin that can allow one to post let say results of `gpsi` to a webhook after the run? I want to find a way to easy share those results via api or webhook to one of internal tool as well or reporting.

[2021-03-25 12:56] soulgalore commented on #3321
You need to build your own plugin for that. There's a queue where all messages/data is passed around. You can checkout the documentation: https://www.sitespeed.io/documentation/sitespeed.io/plugins/#how-to-create-your-own-plugin

And an example of a simple plugin: https://github.com/sitespeedio/sitespeed.io/blob/main/lib/plugins/analysisstorer/index.js#L39-L68

[2021-03-25 14:56] mitchellhwright opened #3322 "markdown v0.5.0 dependency fails npm security audit"
FAIL npm security audit
  ✖ 1330 : markdown (Regular Expression Denial of Service) - [https://npmjs.com/advisories/1330](https://npmjs.com/advisories/1330) severity: low

[2021-03-26 09:00] Ludovic33Fr commented on #3314
Thank you @soulgalore  for your advice. It helps me to troubleshoot.

Best,

[2021-03-26 09:00] #3314 closed

[2021-03-29 11:33] amitmalhotra-cell opened #3326 "Unable to run Sitespeed in parallel"
hi @soulgalore
Problem Statement : Unable to run Sitespeed in parallel.

### Prerequiste:
#Run the sitespeed docker image with customized entrypoint "/usr/bin/bash"
$ docker run -it --name sitespeedcustom --entrypoint "/usr/bin/bash" sitespeedio/sitespeed.io

### Steps :
1) ### Run multiple login script in parallel inside 1 container
create a shell script to run 2 commands in parallel inside a con

[2021-03-29 13:11] norbybaru opened #3327 "sitespeedio/sitespeed.io:17.0.0-alpha.2-plus1 lighthouse core web vital on Grafana/graphite don't seem to match with lighthouse.pageSummary.json"
Hi Peter, sorry to bother you.

I have been testing your alpha release you made to store lighthouse web vitals to graphite and display value on dashboard `sitespeedio/sitespeed.io:17.0.0-alpha.2-plus1` . I noticed weirdness with values, I am not sure if i am correct but i also understand that its not a stable release yet. I am able to display data in dashboard but those values do not match with `l

[2021-03-29 13:20] norbybaru commented on #3327
I am not too sure if it could be the way I am pulling data via Grafana. below is one example

<img width="1437" alt="image" src="https://user-images.githubusercontent.com/13020317/112842707-22ed2280-90a2-11eb-86f8-23ba29c127ae.png">

[2021-03-31 04:40] parag85 commented on #3304
New changes worked, thanks @soulgalore

[2021-03-31 04:40] #3304 closed

[2021-04-01 14:45] DmitriyStoyanov opened #3331 "S3 access via IAM instance profile"
For the moment there is no ability to use **IAM instance profile** for access to s3 bucket.
Could you add this ability, please?
It will increase security and secret key and access key will be not be used in this integration, only IAM Instance profile attached to EC2 instance where sitespeed.io is running.

[2021-04-01 15:07] soulgalore commented on #3331
Cool, this would be a good first issue for someone to take on. We use https://www.npmjs.com/package/aws-sdk and then the documentation needs to be updated:  https://www.sitespeed.io/documentation/sitespeed.io/s3/

[2021-04-01 15:07] DmitriyStoyanov commented on #3331
hm, but in code I see next part
https://github.com/sitespeedio/sitespeed.io/blob/f8fb300ce78cb58e4a0c400c17e2cb2e029b5d57/lib/plugins/s3/index.js#L97
[code]
in that case it will not throw exception if it is not set. and from documentation here https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/loading-node-credentials-iam.html and here https://docs.aws.amazon.com/sdk-for-javascript/

[2021-04-01 15:11] soulgalore commented on #3331
You mean it will be automatically picked up? Yep could be, haven't looked into the docs. Right now as you say it needs to have the cli params but that could be fixed.

[2021-04-03 19:35] #3267 closed

[2021-04-07 17:30] fkudla opened #3335 "Merging config json and cli arguments"
Hello and thank you for a great performance tool. Really appreciate your work and time to create such a complex thing! I've got some interesting issue to investigate. Probably nothing critical but may be worth to do 😄

## Context

I'm trying to configure some global config for performance testing which will be used in my project template. That's why I was following [these instructions](https://www

[2021-04-07 20:29] soulgalore commented on #3335
Hi @fkudla thanks for creating the issue! I think this something we missed for cli params that are arrays.I don't remember exactly how we do this, let me have a look the coming week.

[2021-04-08 02:26] inderpartap commented on #3241
This issue was fixed under Browsertime - [https://github.com/sitespeedio/browsertime/pull/1532](https://github.com/sitespeedio/browsertime/pull/1532)

[2021-04-08 07:19] LuisOsv opened #3336 "Not able to see the videos when using NodeJS"
I cannot see the video, when running on NodeJS+Windows with the following command:
`node sitespeed.js https://en.wikipedia.org/wiki/Barack_Obama -b firefox --video --visualMetrics -n 1`
![image](https://user-images.githubusercontent.com/1733890/113984370-04f98d80-9819-11eb-8881-72edae740b8f.png)

[2021-04-08 11:21] soulgalore commented on #3336
Hi @LuisOsv thanks for filing the issue. Do the file exist and do you get any errors in the log?

[2021-04-08 13:39] LuisOsv commented on #3336
Hi @soulgalore, nope the video does not exist, and the logs folder is empty

[2021-04-08 13:55] soulgalore commented on #3336
It doesn't log to file by default (to make sure you don't accidentally leak information if you run on a server etc). It should output the log when you run the command, can you check? Almost always you get a error log message if something is wrong.

[2021-04-09 05:59] soulgalore commented on #3336
The good news is that the video works since you get first visual change and speed index :) I wonder if the link somehow is wrong on Windows? Could you please check if the /data/video/ directory is empty?

[2021-04-09 07:24] svkrclg opened #3337 "Filmstrip for desktop (all browser) not perfect."
Hello Team,
We tried running a few sitespeed processes with visual metrics on desktop OSX, but there are the following issues regarding filmstrip,
- Orange screen being shown in filmstrips.
- TimeStamps are considering from the beginning (i.e from orange screen load)
- Overall the event and filmstrip are not matching.

Sitespeed version used: 16.3.2
node version: 12.19
browser: Chrome 88.0, 89.0
O

[2021-04-09 13:17] soulgalore commented on #3337
Hi @svkrclg thanks for creating the issue. Can you show me how you run your tests so I can reproduce it? There are an example of what I need here: https://www.sitespeed.io/documentation/sitespeed.io/bug-report/#explain-how-to-reproduce-your-issue

[2021-04-09 13:58] svkrclg commented on #3337
Added the steps to reproduce

[2021-04-09 19:05] LuisOsv commented on #3336
Yes the folder is empty. How can I check if the link is wrong?

El vie., 9 de abril de 2021 1:59 a. m., Peter Hedenskog <
***@***.***> escribió:

[2021-04-09 23:27] LuisOsv commented on #3336
[2021-04-08-09-57-57.zip](https://github.com/sitespeedio/sitespeed.io/files/6288873/2021-04-08-09-57-57.zip)
I'm adding the report

[2021-04-10 07:06] soulgalore commented on #3337
For the second filmstrip, what URL do you test? Can you verify that all dependencies are OK (what needs to be installed here https://www.sitespeed.io/documentation/sitespeed.io/installation/#mac). I tested https://flipkart.com and I didn't get the same (using Big Sur)

There's a way to keep the original video `--browsertime.videoParams.keepOriginalVideo`, can you do a run with that and share the v

[2021-04-10 07:44] soulgalore commented on #3337
You can also try that everything is installed ok for FFMPEG. Easiest is if you clone the sitespeed.io repo and run:
[code]

[2021-04-10 13:25] soulgalore commented on #3336
Hi @LuisOsv thanks for adding that. Hmm really strange. You are right there's nothing there, but you got the actual metrics. You can remove the video by setting `--video false `. Let me see if I can get Windows to work on Parallels and see if I get the same.

[2021-04-12 06:10] soulgalore opened #3339 "Week 15 work"
This week I'm off from work and gonna concentrate 100% on sitespeed.io. This is my plan:

- [ ] Issue cleanup - there's many issues that are fixed that can be closed and issues that never will be done, lets close them all.
- [x] Release sitespeed.io 17 and Browsertime 12 - there's new majors coming out!
- [x] Update documentation for the new major releases
- [ ] Rewrite Visual Metrics - we use a f

[2021-04-12 07:38] svkrclg commented on #3337
https://www.android.com
I have verified the dependencies, and it is showing OK for every package.

I tried using this flag, but I can't see any video generated, also this flag is not mentioned in sitespeed configuration [page](https://www.sitespeed.io/documentation/sitespeed.io/configuration/).
Instead I tried with flag `--video true --videoParams.addTimer false`. Attached video below

https://use

[2021-04-12 08:11] svkrclg commented on #3337
IMO, the issue is around cropping the orange part of the video. This orange part is getting considered in extracting the filmstrip.

[2021-04-12 09:35] soulgalore opened #3340 "Budget should fail if there's missing data"
I've been running budgets on Android phone and if the phone is not connected it looks like this:

[code]

I wonder if we can make the tests fail if we miss data? That should make sense so its easier to alert on failures.

[2021-04-12 13:21] soulgalore commented on #1863
People usually have a problem running Docker in Docker. GitLab uses that and run sitespeed.io so I think people interested in running Jenkins should have look there.

[2021-04-12 13:21] #1863 closed

[2021-04-12 13:21] soulgalore commented on #1418
This never gets prioritised so I'm closing this.

[2021-04-12 13:21] #1418 closed

[2021-04-12 13:23] soulgalore commented on #2083
I'm closing this because I don't think it will be implemented the coming year(s).

[2021-04-12 13:23] #2083 closed

[2021-04-12 13:25] soulgalore commented on #2313
I think this should work now, please re-open if it do not.

[2021-04-12 13:25] #2313 closed

[2021-04-12 13:26] soulgalore commented on #2324
I think should be fixed in https://github.com/micmro/PerfCascade

[2021-04-12 13:26] #2324 closed

[2021-04-12 13:28] soulgalore commented on #2331
I had a go a year ago and didn't get it to work.

[2021-04-12 13:28] #2331 closed

[2021-04-12 13:29] soulgalore commented on #2346
Oops, that PR never got merged, let me fix that tomorrow.

[2021-04-12 14:19] soulgalore commented on #2415
I'm closing this but re-open if you feel like implement it, I don't feel I have the time to do it the coming year.

[2021-04-12 14:19] #2415 closed

[2021-04-12 14:20] #2418 closed

[2021-04-12 14:24] soulgalore commented on #3291
So I've prepared everything except Browsertime/sitespeed.io containers, let me have another go and at least fix Firefox.

[2021-04-12 14:28] soulgalore commented on #3278
Sorry, I missed this one. Yes you can set a name for your profile by setting an alias ` --connectivity.alias`

[2021-04-12 14:28] #3278 closed

[2021-04-12 14:29] soulgalore commented on #3280
Right now we do not support measuring in other tabs. The Mozilla team maybe will implement it see https://github.com/sitespeedio/browsertime/issues/958

[2021-04-12 14:29] #3280 closed

[2021-04-12 14:34] soulgalore commented on #3310
Hi @LuisBatistaEscobedo I think that IP is not reachable from within the container. I've not used Graphite with Windows, but I think could get help at the Docker web site.

[2021-04-12 14:34] #3311 closed

[2021-04-12 14:34] #3318 closed

[2021-04-12 14:35] soulgalore commented on #3321
I tried with the Lighthouse plugin but couldn't reproduce, strange. Closing since there was another way to fix what's needed.

[2021-04-12 14:35] #3321 closed

[2021-04-12 14:36] #3322 closed

[2021-04-13 00:12] soulgalore commented on #2512
I think that work around is great.

[2021-04-13 00:12] #2512 closed

[2021-04-13 00:18] soulgalore commented on #2543
I'm pretty sure "initiated by" will show it. Please re-open if not the case.

[2021-04-13 00:18] #2543 closed

[2021-04-13 00:18] #2546 closed

[2021-04-13 00:24] soulgalore commented on #2591
I think this has been fixed as in https://github.com/sitespeedio/sitespeed.io/issues?page=6&q=is%3Aissue+is%3Aopen#issuecomment-554802351 - please let me know if I should re-open.

[2021-04-13 00:24] #2591 closed

[2021-04-13 00:25] #2614 closed

[2021-04-13 00:26] soulgalore commented on #2643
I think this works now.

[2021-04-13 00:26] #2643 closed

[2021-04-13 00:26] #2659 closed

[2021-04-13 00:28] soulgalore commented on #2548
Hi, sorry I missed replying. I think since nothing happened for two years, I'll just close this.

[2021-04-13 00:28] #2548 closed

[2021-04-13 00:30] soulgalore commented on #2652
I think this could be solved by using scripting.

[2021-04-13 00:30] #2652 closed

[2021-04-13 00:31] soulgalore commented on #2669
Since we haven't done anything with this for a +1 year I don't think it will be implemented the coming year(s) so closing.

[2021-04-13 00:31] #2669 closed

[2021-04-13 00:44] #3256 closed

[2021-04-13 00:46] soulgalore commented on #3261
There has been multiple issues for GitLab users, mounting when using Docker in Docker seems to be a problem. Please check with GitLab how they solve it.

[2021-04-13 00:46] #3261 closed

[2021-04-13 00:58] soulgalore commented on #3337
I's strange. I tried that video and it looked ok, but can you do one more try so I get the original video:

If I run like this:
`bin/sitespeed.js --browsertime.videoParams.keepOriginalVideo true https://www.sitespeed.io -n 1 --video --visualMetrics`

You will get the video in:
<img width="463" alt="Screenshot 2021-04-13 at 02 57 16" src="https://user-images.githubusercontent.com/540757/114481089-2

[2021-04-13 00:59] #3241 closed

[2021-04-13 00:59] soulgalore commented on #3239
This is low prio so closing.

[2021-04-13 00:59] #3239 closed

[2021-04-13 01:02] soulgalore commented on #3327
I think the problem here is that we don't push the median, just the first run.

[2021-04-13 01:09] soulgalore commented on #3326
I would use a load testing tool to run 20000 requests in stead of sitespeed.io I think it makes more sense.

For the web socket: I didn't fully follow with the multiple login in the same container, what do want to accomplish?

[2021-04-13 01:11] #3071 closed

[2021-04-13 01:12] soulgalore commented on #3077
Closing since we never got any feedback.

[2021-04-13 01:12] #3077 closed

[2021-04-13 01:13] soulgalore commented on #3075
The same with Python. It's always safest if you run your own version.

[2021-04-13 01:13] #3075 closed

[2021-04-13 01:15] soulgalore commented on #3104
For measuring Ajax request the new stop watch command will work great: https://github.com/sitespeedio/sitespeed.io/pull/3338., coming in the 17.0 release in two days.

[2021-04-13 01:15] #3104 closed

[2021-04-13 01:20] soulgalore commented on #3236
So you see a 20 times faster times with Lighthouse vs running browsertime without any connectivity engine? That seems really high. For Browsertime it just opens the browser and use the connectivity you have. For Lighthouse (do you use default settings) they use a guesstimate to get metrics for that connectivity speed. Can you share the examples so I can see?

[2021-04-13 01:22] soulgalore commented on #3115
Sorry I missed getting back. Yep stopping to early is probably the problem. Checkout https://www.sitespeed.io/documentation/sitespeed.io/browsers/#choose-when-to-end-your-test

[2021-04-13 01:23] soulgalore commented on #3041
Closing since we didn't get any feedback.

[2021-04-13 01:23] #3041 closed

[2021-04-13 01:23] #3039 closed

[2021-04-13 01:24] #3024 closed

[2021-04-13 01:25] #3015 closed

[2021-04-13 01:32] soulgalore commented on #3043
I catched the error in the coach, coming in the next release in two days.

[2021-04-13 01:32] #3043 closed

[2021-04-13 01:33] #2961 closed

[2021-04-13 01:40] soulgalore commented on #2963
That double reporting has been fixed so closing this issue.

[2021-04-13 01:40] #2963 closed

[2021-04-13 01:43] soulgalore commented on #3319
Hi @TusAuto when is your page finished loading? :) You can define your own page load complete check https://www.sitespeed.io/documentation/sitespeed.io/browsers/#choose-when-to-end-your-test `--browsertime.pageCompleteCheck`.

[2021-04-13 02:00] soulgalore commented on #3192
Hi @fabis94 that looks right. Let me add a verbose log for all arguments so its easier to verify.

[2021-04-13 02:53] AJ84064 commented on #3326
hi @soulgalore ,
I agree , load testing tool like jmeter should be used but it only captures server side performance not client side as sitespeed does.

**GOAL : Load testing for 20000 users login in parallel and capture sitespeed performance result.**

**I THINK THIS IS POSSIBLE WITH NEW AWS FEATURE : [AWS LAMBDA WITH CUSTOM (SITESPEED) IMAGE AS RUNTIME](https://docs.aws.amazon.com/lambda/latest/

[2021-04-13 02:55] amitmalhotra-cell commented on #3326
hi @soulgalore ,
I agree , load testing tool like jmeter should be used but it only captures server side performance not client side as sitespeed does.

**GOAL : Load testing for 20000 users login in parallel and capture sitespeed performance result.**

**I THINK THIS IS POSSIBLE WITH NEW AWS FEATURE : [AWS LAMBDA WITH CUSTOM (SITESPEED) IMAGE AS RUNTIME](https://docs.aws.amazon.com/lambda/latest/

[2021-04-13 06:30] pan-alexey opened #3342 "Problem with --browsertime.chrome.includeResponseBodies all"
For example comand
`docker run --rm -v "$(pwd):/sitespeed.io" sitespeedio/sitespeed.io:16.10.3 --browsertime.chrome.includeResponseBodies all --logToFile --cpu https://en.wikipedia.org/wiki/Barack_Obama`

In report file dont work waterfall.
<img width="1490" alt="Снимок экрана 2021-04-13 в 09 29 12" src="https://user-images.githubusercontent.com/17202913/114506612-b8f48180-9c3a-11eb-878d-98d8ed331

[2021-04-13 06:34] soulgalore commented on #3342
Hi @pan-alexey what browser do you use when viewing the result? I tried with latest Chrome, Firefox and Safari and there it seems to be displayed correctly.
<img width="1396" alt="Screenshot 2021-04-13 at 08 34 19" src="https://user-images.githubusercontent.com/540757/114507185-0ec52b80-9c33-11eb-9969-52a899ab3cfb.png">

[2021-04-13 17:32] soulgalore commented on #3331
@DmitriyStoyanov are you able to test if it work if you just remove the throw if missing? If you can verify that it works, I can do the tuning to fix it.

[2021-04-13 17:34] soulgalore commented on #3310
I usually test with curl just to see that the other server that runs Graphite is reachable by that IP etc, can you test that @LuisBatistaEscobedo

[2021-04-13 17:37] soulgalore commented on #3301
And there is not a more complicated flow than you explain? There's only one measure.start right. I think in the same where you get the failure your

doesn't seem to work, I would try to add some more try/catch there for those elements and try to see what goes wrong.

[2021-04-13 17:39] soulgalore commented on #3297
Hmm, I also run on a Mac but I do not install with NodeJS with nvm. Do Firefox work for you? That driver is also downloaded the same way.

[2021-04-13 17:52] soulgalore commented on #3270
No I don't think so, sorry!

[2021-04-13 17:52] #3270 closed

[2021-04-13 18:02] soulgalore commented on #3199
Did you ever get it to work @bro-ee ? I did some try and could not reproduce it :(

[2021-04-13 18:04] soulgalore commented on #3206
Hi @sathishkg901 sorry that I never got back at this. If this is still an issue can you help me create a reproducible test case, see https://www.sitespeed.io/documentation/sitespeed.io/bug-report/

[2021-04-13 18:08] soulgalore commented on #3147
This should automatically be sent when you enable `--cpu`

[2021-04-13 18:08] #3147 closed

[2021-04-13 18:11] soulgalore commented on #3145
In the new dashboards CLS and other Google Web Vitals are presented by default (when you use Chrome for testing).

[2021-04-13 18:11] #3145 closed

[2021-04-13 18:12] soulgalore commented on #3099
This is fixed.

[2021-04-13 18:12] #3099 closed

[2021-04-13 18:14] #2998 closed

[2021-04-13 18:15] soulgalore commented on #2990
The workaround is to use `--firefox.acceptInsecureCerts`

[2021-04-13 18:15] #2990 closed

[2021-04-13 18:16] soulgalore commented on #2987
Closing since lack of info.

[2021-04-13 18:16] #2987 closed

[2021-04-13 18:19] #2947 closed

[2021-04-13 18:20] soulgalore commented on #2835
Closing since no feedback.

[2021-04-13 18:20] #2835 closed

[2021-04-13 18:23] #2818 closed

[2021-04-13 18:24] #2809 closed

[2021-04-13 18:24] #3076 closed

[2021-04-13 18:27] soulgalore commented on #3034
Closing think its solved.

[2021-04-13 18:27] #3034 closed

[2021-04-13 18:29] soulgalore commented on #3047
Scripting is best for that.

[2021-04-13 18:29] #3047 closed

[2021-04-13 18:31] soulgalore commented on #3200
Hi @IngCesarPerf I think you should look at https://chromedevtools.github.io/devtools-protocol/ and use https://www.sitespeed.io/documentation/sitespeed.io/scripting/#chrome-devtools-protocol

[2021-04-13 18:31] #3200 closed

[2021-04-13 18:35] soulgalore commented on #2910
I think I will prio to fix this, so closing but feel free to do a PR if someone needs it.

[2021-04-13 18:35] #2910 closed

[2021-04-13 18:37] soulgalore commented on #2871
I think it work ok now, closing.

[2021-04-13 18:37] #2871 closed

[2021-04-13 18:41] soulgalore commented on #3070
I think this was fixed.

[2021-04-13 18:47] soulgalore commented on #3068
If you run` test1.js test2.js --multi -n 3 ` then test1.js will run, then test2.js in the same iteration (at least now when I tried), so I think this can have been fixed.

[2021-04-13 18:47] #3068 closed

[2021-04-13 18:49] soulgalore commented on #3275
This is an issue for Chrome right, there's been a change in Chrome that causing it?

[2021-04-13 18:54] soulgalore commented on #3292
Ooops, sorry the email adress was not correct, sorry: peter [AT] soulgalore |DOT] com.

[2021-04-13 21:47] inti-tui opened #3345 "urls alias + urls with amp"
Hi,

We have some urls with "&" and other reserved signs. When we trying to test them together with alias in script, always fail.

ex.
#! /bin/bash
.....
/usr/bin/docker run --rm -v /var/data/sitespeed:/sitespeed.io --sitespeedio/sitespeed.io:16.10.3-plus1 --config ./config-mobile-test.json --urlAlias search_result "https://www.mydomain.se/suchen/hotels/Mallorca/1197/list?searchScope=HOTEL&departu

[2021-04-14 03:47] soulgalore commented on #3345
Hi @inti-tui is that the exact example? The two dashes before _sitespeedio/sitespeed.io:16.10.3-plus1_ seems wrong.

I did a quick test and this works:
`docker run --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io:16.10.3-plus1  --urlAlias search_result --n 1 --gpsi.key XXXX "https://www.sitespeed.io/?searchScope=HOTEL&departureAirports=BRN;DUS;BRU&startDate=2022-04-01&endDate=2022-04-05&sho

[2021-04-14 04:51] TusAuto commented on #3319
Hi @soulgalore , Problem with pageCompleteCheck is it wait on all the pages ( for 10 sec if mentioned) like after login page then specific tab navigation. Its causing unnecessary slow execution.  I need to use  pageCompleteCheck  only for specific page or navigation.

[2021-04-14 09:21] inti-tui commented on #3345
Hi, thank you for a quick feedback.

The extra dashes was a copy/paste typo.

No, It was not a exact example.

I have tested your example and it work if you run it "manually" at the command line but not in bash script with loop for urls.

The urls with quotas will expand to something like '"url"' and sitespeed lighthouse don't like it.

Do you have some example with multiple urls and alias?

[2021-04-14 09:34] Bobrovskih commented on #3342
the same issue

[2021-04-14 09:38] pan-alexey commented on #3342
Problem with params --browsertime.chrome.includeResponseBodies all

[2021-04-14 09:53] eserte commented on #3275
@soulgalore : Yes, it seems that it's caused by a change between Chrome 80 and 81.

[2021-04-14 11:25] #2918 closed

[2021-04-14 11:26] soulgalore commented on #2878
No feedback so closing,

[2021-04-14 11:26] #2878 closed

[2021-04-14 11:26] soulgalore commented on #2856
Today you can only do that with scripting and CDP.

[2021-04-14 11:26] #2856 closed

[2021-04-14 11:33] sujin-sam opened #3346 "TypeError: result[resultIndex].files.screenshot[runIndex] is not iterable"
I have the following selenium script

[code]

when I run this, I'm getting the error at the `Search` page, while stopping the measure
The console log file with the error is in the attached doc
[Iterable_error_sitespeed.txt](https://github.com/sitespeedio/sitespeed.io/files/6310437/Iterable_error_sitespeed.txt)

If I comment this line ` await driver.wait(until.elementLocated(By.xpath("//a[starts-wi

[2021-04-14 11:37] soulgalore commented on #2836
Closing because didn't get any response.

[2021-04-14 11:37] #2836 closed

[2021-04-14 11:39] soulgalore commented on #2934
No there's no way at the moment.

[2021-04-14 11:41] soulgalore commented on #2962
No there's no way to do that today (getting details). It's hard to do too since graphite will have hard time to store those metrics.

[2021-04-14 11:41] #2962 closed

[2021-04-14 11:43] soulgalore commented on #3138
Hi @pan-alexey sorry for being so slow on this one. Today scripting only suports if you add the alias within the script.

How do you mean do it totally fails when you add an alias in the CLI and run the script?

[2021-04-14 11:45] soulgalore commented on #3118
I think its doable but we need to change a couple things: We need to start the browser, get the current user agent and then add the extra info. I see the use case but have hard time to estimate how much work it is.

[2021-04-14 11:48] soulgalore commented on #3346
Hi @sujin-sam thanks for the detailed bug report let me have a look.

[2021-04-14 12:09] soulgalore commented on #3346
Thanks again @sujin-sam for the bug report. It's super helpful when you write exactly how you run so we can recreate the issue. It seems that sometime the HAR exporter that we use for Firefox takes some extra time after the page has been loaded to be accessed. I fixed that now so that if it fails (like it did for you) it will wait some extra time until tries again.

I'm in the middle of doing a ne

[2021-04-14 12:23] sujin-sam commented on #3346
Thanks @soulgalore for the quickfix and the tip, I'll keep in mind when I write

[2021-04-14 12:26] soulgalore commented on #3346
@sujin-sam I meant your bug repot where perfect since I could recreate the issue with it :)

[2021-04-14 12:30] soulgalore commented on #3265
Aha so the default settings it too large then?

[2021-04-14 12:30] sujin-sam commented on #3346
Ah ok, I misunderstood the line :)

[2021-04-14 12:32] DmitriyStoyanov commented on #3331
I'm busy right now, and will be available for that next week, then i guess i can do that.

[2021-04-14 12:34] soulgalore commented on #2749
I wonder this has magically been fixed in GCS? Jonathan helped setup a test bucket a couple of months ago and it just worked as it should. Closing this issue but can re-open if someone else get the problem.

[2021-04-14 12:34] #2749 closed

[2021-04-14 12:36] soulgalore commented on #2757
This has been implemented as default for some time, so that the folder on disk is named with underscore. Now they have the same name in Graphite and on disk.

[2021-04-14 12:36] #2757 closed

[2021-04-14 12:42] soulgalore commented on #2765
I think the fix I added before is enough.

[2021-04-14 12:42] #2765 closed

[2021-04-14 13:52] inti-tui commented on #3345
test log from your example with a real url.
[test.log](https://github.com/sitespeedio/sitespeed.io/files/6311234/test.log)

[2021-04-14 16:31] kmaqsudi opened #3347 "Can the slack summary be sent to a generic webhook URL endpoint?"
is it possible to send the slack summary to a generic webhook such as the public URL provided by microsoft teams?

[2021-04-14 19:40] soulgalore commented on #3347
Hi @kmaqsudi we need to create a new plugin for that, but it should not be too hard. Checkout the Matrix plugin that I guess have most functionality that is needed: https://github.com/sitespeedio/sitespeed.io/tree/main/lib/plugins/matrix

Do you have time @kmaqsudi to give It a try? I can help guide you.

[2021-04-14 21:19] kmaqsudi commented on #3347
Yes I'll give it a try tonight and let you know how it goes.   Thanks

On Wed, Apr 14, 2021, 3:41 PM Peter Hedenskog ***@***.***>
wrote:

[2021-04-15 10:07] soulgalore commented on #3346
@sujin-sam I've just pushed 17.0.0 where the issue should be fixed (at least it works then for me when I tried).

[2021-04-15 14:32] soulgalore commented on #3193
With the new release 17.0.0  you can find all Google Web Vitals with the tag "statistics" set to "googleWebVitals".

[2021-04-15 14:32] #3193 closed

[2021-04-15 14:34] soulgalore commented on #3164
I think this has been fixed now right? Else let me know and I will re-open.

[2021-04-15 14:34] #3164 closed

[2021-04-15 14:34] soulgalore commented on #3115
Closing since I think when to stop is the key here.

[2021-04-15 14:34] #3115 closed

[2021-04-15 14:41] soulgalore commented on #3119
Sorry I missed this. Can you install it globally? I haven't used Azure Pipeline, but I guess they should have some documentation on how to run NodeJS applications?

[2021-04-15 14:41] soulgalore commented on #3119
Did you get it to work?

[2021-04-15 14:42] soulgalore commented on #3110
Let me add an example tomorrow so we have that.

[2021-04-15 14:52] soulgalore commented on #2773
Lets close this and focus on making Slack work exactly as Matrix.

[2021-04-15 14:52] #2773 closed

[2021-04-15 14:53] soulgalore commented on #2771
Closing since lack of feedback.

[2021-04-15 14:53] #2771 closed

[2021-04-15 14:54] soulgalore commented on #2786
This has been done a long time ago.

[2021-04-15 14:54] #2786 closed

[2021-04-15 14:55] soulgalore commented on #2821
I'm closing, I haven't run into those errors. Please let me know in a new issue if you ever have problems building the Docker containers.

[2021-04-15 14:55] #2821 closed

[2021-04-15 14:57] soulgalore commented on #2803
Closing because of lack of feedback.

[2021-04-15 14:57] #2803 closed

[2021-04-15 14:58] soulgalore commented on #2808
I think this is easy to do on the outside of sitespeed.io.

[2021-04-15 14:58] #2808 closed

[2021-04-15 14:59] soulgalore commented on #2776
I think these kind of things are better implemented as alerts directly in Grafana.

[2021-04-15 14:59] #2776 closed

[2021-04-15 15:01] soulgalore commented on #2945
I think this has changed over time but let me check the code.

[2021-04-15 15:02] soulgalore commented on #2945
No this is still an issue.

[2021-04-15 15:03] soulgalore commented on #3141
Did you get this to work?

[2021-04-15 15:47] sujin-sam commented on #3346
@soulgalore its working fine from my end as well
btw, I'm new to node how to upgrade sitespeed.io using npm command? I had to re-install

[2021-04-15 16:04] soulgalore commented on #3346
Yes you need to re-install!

[2021-04-15 16:04] #3346 closed

[2021-04-15 17:29] kissifrot opened #3350 "No "standard" video/screenshot produced"
Hello,

I'm trying to run the docker container (17.0.0 version)  with the following config:
[code]

Againts an URL list (in the same format as https://github.com/sitespeedio/dashboard.sitespeed.io/blob/main/tests/desktop/desktop.txt for example), however when I try to feed the results to the same dashboard as the one on https://dashboard.sitespeed.io/d/9NDMzFfMk/page-metrics-desktop?orgId=1 (Graph

[2021-04-15 18:39] soulgalore commented on #3350
Hi @kissifrot let me update the documentation how to debug and make it easier to understand how it work. Have you added the result base URL?

The path to the image is created using the following config in the panel:
<img width="907" alt="Screenshot 2021-04-15 at 20 37 30" src="https://user-images.githubusercontent.com/540757/114921129-7f826880-9e2a-11eb-86c4-9540f2b146b6.png">

To debug it, you ca

[2021-04-15 19:00] soulgalore commented on #3350
@kissifrot I updated the docs: https://www.sitespeed.io/documentation/sitespeed.io/performance-dashboard/#how-to-get-the-latest-videoscreenshot-visible-in-grafana - please let me know how it work out for you and I can have another go in making the docs better tomorrow.

[2021-04-15 19:06] soulgalore commented on #3192
@fabis94 the configuration is logged now. I created a config file as you described and named it *config.json* and then I run: `sitespeed.io --config config.json https://www.sitespeed.io -n 1 --verbose`

`[2021-04-15 21:01:43] DEBUG: [browsertime.chrome] Setting the following Selenium options: {"map_":{},"options_":{"prefs":{"profile.password_manager_enable":false,"profile.default_content_setting_v

[2021-04-15 19:07] kissifrot commented on #3350
@soulgalore Thanks for the insight, I fiddled a bit with the settings and along my tests I set `--outputFolder` which prevented the use of  `--copyLatestFilesToBase`.

However, as I used s3 I also had to set `--s3.path` for the screenshot to appear (as otherwise it would have been stored by default to a new timestamped-folder.

So what I would suggest is add this indication about the need to set `

[2021-04-15 19:08] soulgalore commented on #3192
Will come in next fix release, probably tomorrow.

[2021-04-15 19:15] soulgalore commented on #3350
So how do you set it @kissifrot :) I didn't fully follow. I use s3 and the configuration I use is:

[code]

[2021-04-15 19:15] kissifrot commented on #3350
EDIT: However when using S3 with the `--path`, slug isn't taken into account, so data is uploaded directly in the specified path and not in the path/`slug` subfolder

[2021-04-15 19:16] kissifrot commented on #3350
@soulgalore
I used
[code]

[2021-04-15 19:28] soulgalore commented on #3350
Thanks @kissifrot , any reason you use the path? I think I missed testing with that.

[2021-04-15 19:40] kissifrot commented on #3350
@soulgalore Well after cleaninp up all my previous (failed) tests from S3 the base S3 config works correctly, so path isn't needed at all, sorry for the noise 😞

All works well (except for the vitals and such but I guess I will have to wait for a few runs before having results to display within a long timeframe)

[2021-04-16 04:52] LuisBatistaEscobedo commented on #3310
After revisiting the documentation, I saw the section of "Up and running in (almost) 5 minutes" and check the step three, where it specifies to set de graphite host to "graphite.host=host.docker.internal" when you are using a localhost.

That finally worked and now I'm seeing my data on Grafana, thanks for the help.

https://www.sitespeed.io/documentation/sitespeed.io/performance-dashboard/#up-and

[2021-04-16 04:52] #3310 closed

[2021-04-16 12:57] soulgalore commented on #3339
So doing the new release took longer time than expected. There's a couple issues left to groom in sitespeed.io and the rest of the other issues I'll start doing in May.

[2021-04-16 12:57] #3339 closed

[2021-04-19 13:04] LuisOsv commented on #3265
hi @soulgalore I just ran with Firefox 84.0.1 and I don't face the issue anymore, maybe it was related to old version of browsers?
I can even run with larger viewport using the same version of sitespeed
`PS C:\Users\LSerna07463\AppData\Roaming\npm\node_modules\sitespeed.io\bin> node sitespeed.js https://en.wikipedia.org/wiki/Barack_Obama -b firefox --video --visualMetrics --browsertime.viewPort 19

[2021-04-19 13:29] KairatJC commented on #3206
Hi, @soulgalore I have the same Issue and can add additional information.
In my case STR:
1. In the prescript, send a request to the API and set the resulting token to cookies using driver.manage().addCookie ()
2. Use a txt file with multiple URLs.

We added logs in step 1 and everything is fine.
It looks like the error appears after the prescript when Sitespeed tries to open URLs in the txt file.

[2021-04-19 14:01] soulgalore commented on #3206
Hi @KairatJC thanks for adding info to the issue. So it looks like it happens when you start to measuring page and prepare for recording a video, To get the start of the video a orange layer is inserted, checkout: https://github.com/sitespeedio/browsertime/blob/main/lib/video/screenRecording/setOrangeBackground.js

I wonder, do you navigate to page before you test your page? It could be a generic

[2021-04-19 15:05] KairatJC commented on #3206
@soulgalore  thanks for the reply. Pages tested manually and work fine. We will wait for feedback to continue our performance work. If you need more information, please let me know.

[2021-04-19 18:38] ahoiroman commented on #3197
+1 for this. Unfortunately I cannot help with code but I would love to help by testing etc.

[2021-04-19 19:55] soulgalore commented on #3206
@KairatJC I couldn't see any generic that is broken in using preScript, I tried running an empty preScript, recording a video etc and it worked. Can you show me the preScript or a generic version so I can try to reproduce?

[2021-04-19 20:03] ahoiroman commented on #3197
As far as I know it's not - the read-API kinda is, but the write is not. But maybe a switch could be added (`--influx-version`)?

[2021-04-20 03:01] jamee-wang opened #3353 "The test result is slower than real experience"
I use docker to test my site, I always got slower metrics, say: Last Visual Change about 6s, I saw the vedio it's also 6s arond, however, I checked my stopwatch，the time should be 4s around.

My startup command
`
docker run -d  sitespeedio/sitespeed.io:17.0.1 https://xxx.com -b chrome --visualMetrics --spa --browsertime.chrome.CPUThrottlingRate=1
`

And even I set higher cpu and memory for docker

[2021-04-20 03:52] soulgalore commented on #3353
Hi @jamee-wang can you share the video? It could be that Visual Metrics (that analyse the video) pick up some artefacts maybe?

[2021-04-20 06:23] Lara2409 opened #3354 "HTML results include not only testing URLs"
Hi, @soulgalore. Could you help to figure out in the following case?
We run prescript for login like this:

`await commands.navigate(url);

  try {
    await commands.addText.byId(username, 'username');
    await commands.addText.byId(password, 'password');
    await commands.click.byXpathAndWait('//button[@data-automation-id="login-submit-button"]');
  } catch (e) {
    throw e;
  }`

URLs for te

[2021-04-20 06:34] soulgalore commented on #3354
Hi @Lara2409 I think the problem is that if you measure a page after you visited another page, the video can pickup small changes as first visual change like clicking on button etc? One trick I do is to change the color of the first page so it is not picked up in the video, here's an example: https://www.sitespeed.io/documentation/sitespeed.io/scripting/#measure-multiple-pages-and-start-white

Can

[2021-04-20 06:52] Lara2409 commented on #3354
I'll check it. Thank you.

[2021-04-20 07:30] KairatJC commented on #3206
@soulgalore
This is our preScript:
[code]
What mean "javascript error"?

[2021-04-20 09:27] Lara2409 commented on #3354
![image](https://user-images.githubusercontent.com/13214943/115372472-9a126400-a1d3-11eb-9b56-010189705fb5.png)
@soulgalore It's result after using document.body.style.backgroundColor = "white"

[2021-04-20 18:22] soulgalore opened #3355 "Firefox 88 introduced errors in the test log"
When I pushed Firefox 88 earlier today, we started to get errors from the tests, they looks like this:

[code]

Let me look into what's going on.

[2021-04-20 19:57] soulgalore commented on #3355
I could get the same on my local machine when I use 88 with Geckoprofiler and windowRecorder turned on (see the 0 visual metrics):

[code]

But running directly on my Mac with 88 works fine.

[2021-04-20 20:01] soulgalore commented on #3355
The video looks like this (black):
https://user-images.githubusercontent.com/540757/115456879-f9986000-a223-11eb-9ab3-08d72f9a03a2.mp4

[2021-04-20 20:06] soulgalore commented on #3354
Hi @Lara2409 can you share more how you run (what OS, if you use Docker etc) so I can see if I can reproduce. That orange frame is used to know when the tests starts, but it should be removed, so it looks like its off somehow.

[2021-04-20 20:53] soulgalore commented on #3206
It means when the tool try to run JavaScript in the browser and it throws an exception.

Just so understand, is the "test_url" the same URL that you test in the next step after the preScripting?

[2021-04-21 06:20] Lara2409 commented on #3354
Morning @soulgalore.

[2021-04-21 07:31] kissifrot commented on #3350
Since my original question was answered, I'm closing this issue, thanks a lot! 👍

BTW: How on  the [leaderboard ](https://dashboard.sitespeed.io/d/000000060/leaderboard?orgId=1&var-namespace=sitespeed_io&var-path=desktop&var-testname=firstView&var-domains=All&var-pages=All&var-browser=chrome&var-function=median&var-connectivity=cable) can you still have data with a 7 days timespan?

I only have va

[2021-04-21 07:31] #3350 closed

[2021-04-21 15:16] outdooricon opened #3356 "Trying for the first time, no data showing in grafana"
Hello, I just ran through the install instructions on https://www.sitespeed.io/documentation/sitespeed.io/performance-dashboard/#up-and-running-in-almost-5-minutes up to step 4. However, when I navigate to localhost grafana, all of the boards are showing no data.

If I navigate around in graphite on :8080, it does look like there is data stored in there currently. Also, if I test the Graphite Data

[2021-04-21 16:10] LuisOsv commented on #3110
hi @soulgalore did you add the example?

[2021-04-21 17:18] soulgalore commented on #3110
No sorry, I'm in the middle of rewriting visual metrics, but let me add an example tomorrow. We have some documentation about it at https://www.sitespeed.io/documentation/sitespeed.io/video/#collect-visual-elements-metrics but it would be nice to have an example.

[2021-04-21 18:50] soulgalore commented on #3356
Hi @outdooricon oops, I think I've missed update the 5 minutes run example: In 17.0.0 we introduced seeing the name of your test to Graphite and that needs to be included for the dashboards to work:  `--slug yourTestName --graphite.addSlugToKey true`, please try with that and let me know if it works. I'm gonna update the example now.

[2021-04-22 07:08] jamee-wang commented on #3353
Sorry, I can't upload file, maybe I found the reason, When I clear all cache of chrome, I browser the web page, the time is close to 6s, I think the sitespeed run the chrome in a clean environment, and when I add --preURL, the time is close to 4s.

Am I right?

[2021-04-22 07:32] soulgalore commented on #3110
@LuisOsv I've updated with an example: https://www.sitespeed.io/documentation/sitespeed.io/video/#collect-visual-elements-metrics

[2021-04-22 09:08] KairatJC commented on #3206
@soulgalore sorry for the long answer.

No, it's typo, and supposed to be the login page. I add this, because without opening url in prescript I got the
`ERROR: InvalidCookieDomainError: invalid cookie domain`

[2021-04-22 13:00] psyked opened #3357 "Error / Crash when testing multiple urls, and tracking cpu usage, with version 17+"
## Overview

Since version 17, I am seeing the following error when using a text file of URLs (with aliases) where there was previously no error (up to 16.10.3)

### Error details

[code]

Testing only a single URL at a time does not elicit this response.

## Replication steps

This is using the Docker images, so the steps to replicate would be:

1. Text file containing the following (urls.txt):
[

[2021-04-22 14:37] soulgalore commented on #3357
Hi @psyked thank you for creating the bug and writing exactly how you run, that helps a lot!

I could reproduce it with that URL when I enable the CPU options but only in the Docker container, not when I run on Mac OS.  I've seen more problems with Chrome/Chromedriver 90 (see for example https://github.com/sitespeedio/browsertime/issues/1548) so I think there has been undocumented (or un-communica

[2021-04-22 14:52] soulgalore commented on #3357
Checking the Chromdriver log:
[code]

I'm gonna see if I can debug further tonight and then create a upstream bug in Chromedriver and try to make smaller test case.

[2021-04-22 15:43] LuisOsv commented on #3110
Hi @soulgalore thanks for the adding a good example.

I have one question please, can I use the "scriptInput.visualElement" in my script?

[2021-04-22 20:22] soulgalore commented on #3357
Let me roll out an alternative docker container tomorrow with Chrome 89 and latest sitespeed.io and then I'll create the issue for Chromedriver/Chrome asap.

[2021-04-22 20:23] soulgalore commented on #3110
@LuisOsv ah you mean you want to dynamic choose in [scripting](https://www.sitespeed.io/documentation/sitespeed.io/scripting/)? No right now you need to get that before you do your run.

[2021-04-23 06:32] soulgalore commented on #3357
I did some more testing this morning at it seems this only happens in our Docker container, I tried with Ubuntu and it works fine there. Also could reproduce with https://www.sitespeed.io. I reverted to Chrome 89 (and Chromedriver 89) and I get it there too, so it must be something that has changed on our side. We changed the start flags for Chrome, I think that could be the thing.

[2021-04-23 06:36] soulgalore commented on #3357
I reverted the updated settings for Chrome and that fixed the problem. I wanna fund out exact which setting caused the breakage and then I will roll out a new version.

[2021-04-23 07:07] soulgalore commented on #3357
@psyked I've released 17.1.1 that at least fixes the problem for me, please let me know if it works for you!

[2021-04-23 08:51] psyked commented on #3357
@soulgalore that fix works for us - thank you 😄

[2021-04-23 09:00] #3357 closed

[2021-04-23 15:55] outdooricon commented on #3356
That did it, thanks @soulgalore!

[2021-04-23 15:55] #3356 closed

[2021-04-26 14:58] kmaqsudi commented on #3347
was not able to get it working

[2021-04-27 14:01] soulgalore commented on #2860
I've added some of this in the latest release (released this morning):
<img width="1203" alt="Screenshot 2021-04-27 at 15 59 45" src="https://user-images.githubusercontent.com/540757/116254433-a10c1a00-a771-11eb-9c3a-735d7910c277.png">

I'm gonna add some docs next week :)

[2021-04-27 14:01] #2860 closed

[2021-04-27 16:35] IngCesarPerf opened #3363 "Example Dashboard - Page Summary Dashboard not found(Grafana+Graphite)"
Hi everyone,

I'm looking at the page http://www.sitespeed.soulislove.com/examples/  some examples about to use performance dashboard with sitespeed and grafana, these dashboards are amazing, but in the web site i click on "Chechout our example dashboard" and i can't load the page
![image](https://user-images.githubusercontent.com/75047962/116278109-c8e88700-a74b-11eb-8794-145d71469a17.png)

in th

[2021-04-27 17:21] soulgalore commented on #3363
Hi @IngCesarPerf so I removed that part when I updated some versions ago, I wasn't using it, but let me add again. I can do it later this week and I will ping the issue when it's done.

[2021-04-27 18:50] IngCesarPerf commented on #3363
Thank you very much @soulgalore  I'll be attentive

[2021-04-28 18:11] jpalmer-miovision opened #3365 "Error: The coach got the following errors: {"info":{"sessionStorageSize":"Cannot read property 'length' of null"}} (browsertime)"
I am getting this error when loading pages on my application:

`The coach got the following errors: {"info":{"sessionStorageSize":"Cannot read property 'length' of null"}} (browsertime)`

Unfortunately I haven't been able to reproduce on other sites, and I can't share this URL.  Talking to Peter on Slack, he says:

"I checked the code and it looks like "window" is not defined on that page. If you

[2021-04-28 19:18] soulgalore commented on #3365
Hi @jpalmer-miovision can you try add one line so it looks like this:

[code]

That way, it will use the [regular check](https://www.sitespeed.io/documentation/sitespeed.io/scripting/#waitbypagetocomplete) to see that the page has finished loading before continue to the next step.

I think that `await commands.wait.byId('divMainContentFullScreen', 10000);` could return before everything on the pag

[2021-04-29 10:21] Icecold777 opened #3366 "LCP takes much longer than all other metrics"
Hello,

sitespeed.io version 17.2.0 (issue is reproduced on older versions too).
During scripted e2e scenario I've faced the issue with LCP takes much longer than all other metrics
Please see the screens below.
I don't have any idea of the reason. Chrome trace finishes at 11 sec.

![image](https://user-images.githubusercontent.com/10085700/116535888-f882c500-a8ec-11eb-9ace-07be4e2cfa11.png)
![imag

[2021-04-29 10:44] soulgalore commented on #3366
Hi @Icecold777 what did you see in the video/filmstrip? If I remember correctly there will be a screenshot in the filmstrip when the LCP happens. You can also check the metrics tab and go to the Largest Contentful Paint:
<img width="1221" alt="Screenshot 2021-04-29 at 12 42 01" src="https://user-images.githubusercontent.com/540757/116538996-8d36f400-a8e8-11eb-97fe-89cfe57989bc.png">

Can that help

[2021-04-29 11:43] Icecold777 commented on #3366
Thanks, your answer is really helpful. It's MasterCard logo svg.

But this element is not observed at measured page and there is no call for it when I check it manually in a browser.
More to say this element is from the previous page and it's loading is out of scope of measure.start .. measure.stop.
So I don't understand why his element is considered for LCP

![image](https://user-images.githubuse

[2021-04-29 11:49] soulgalore commented on #3366
LCP uses Chrome Largest Contentful API to get that https://wicg.github.io/largest-contentful-paint/. Maybe the previous page hasn't finished loading yet before the next navigation starts and it somehow gets confused? I would check the wait before the next page load and see if that seems to work correct.

[2021-04-29 12:51] Icecold777 commented on #3366
a bit of context
script fills in payment form where svg  logo is called.  Then there is 5 sec pause with wait command. After that measure.start is triggered and submit button pushed.

[2021-04-29 13:42] soulgalore commented on #3366
But its the same page load right, so the form is within the same navigation? Do you see the svg in the waterfall?

[2021-04-29 14:10] Icecold777 commented on #3366
I hope this piece of code should explain what I'm doing

[code]

[2021-04-29 15:10] Icecold777 commented on #3366
I'll try to wait but as I remember I began to wait for an element because PageComplete event is not fired and sitespeed crashed with OOM error.

[2021-04-29 15:10] ganeshcpote commented on #3347
Is there any blog available to use custom generic webhook endpoint?

[2021-04-29 16:44] soulgalore commented on #3366
Ok, but then you are on the same page right, there's no navigation involved (just popups/frames) so the LCP is tide to the first navigation that happens.

[2021-04-30 09:21] Icecold777 commented on #3366
Run has executed correctly but commands.click.bySelectorAndWait doesn't help.

That's the point, there is navigation as I wrote above I measure LCP for /confirmation page (page URL changes). But actually it's measured from the element located at /payment (page where I submit the form and start navigating to /confirmation).

[2021-05-03 09:32] rockstar690 commented on #3292
Hi @soulgalore,

Thanks for your reply.

Currently, the project is on hold and we have lost all access. So we can't proceed further.

Will intimate you, if we face this issue again in the future.

[2021-05-03 09:32] #3292 closed

[2021-05-03 19:39] soulgalore commented on #3347
@kmaqsudi let me have a go tomorrow. I'll start with a simple example and then maybe you can verify that it works for you and then we can add more functionality? For my use case I need only the URL of the result.

[2021-05-03 19:40] soulgalore commented on #3347
@ganeshcpote You mean blog how to use it from sitespeed.io? No not right now, but let me give it a try to see if I can add the functionality first and then some documentation.

[2021-05-03 19:52] kmaqsudi commented on #3347
Sounds good.  Thanks Peter.

On Mon, May 3, 2021, 3:40 PM Peter Hedenskog ***@***.***>
wrote:

[2021-05-04 11:27] kmaqsudi commented on #3347
@soulgalore for reference, this is what i'm trying to have the output of the sitespeed jobs go to with a link to the summary (same as what you do today for slack).

https://docs.microsoft.com/en-us/microsoftteams/platform/webhooks-and-connectors/how-to/connectors-using

[2021-05-04 12:39] ganeshcpote commented on #3347
Thanks @soulgalore .. I will wait for your response since this is something very interesting and want to use this for my most of the use cases

[2021-05-05 08:18] soulgalore commented on #3347
Hi @kmaqsudi is it easy for you to test a branch? https://github.com/sitespeedio/sitespeed.io/tree/webhook ?

I've made it as simple as possible for now and I've only tested it with https://requestbin.net

I've tested it like this:
`bin/sitespeed.js --webhook.url http://requestbin.net/r/ffx4mgqy https://www.sitespeed.io -n 1 --resultBaseURL https://myfiles.com/
`
It will post a JSON that looks lik

[2021-05-05 15:35] cutebadmash commented on #3326
@amitmalhotra-cell  very interesting throught. Please share your findings in case you are able to execute this successfully.

[2021-05-05 16:30] cutebadmash opened #3372 "Grafana Container unable to reach Graphite, gives 404"
Hi,

**SETUP**

1. I have installed sitespeed using the docker compose file as outlined in this [link](https://www.sitespeed.io/documentation/sitespeed.io/performance-dashboard/#up-and-running-in-almost-5-minutes).
2. This is on a single AL2 ec2 instance.
3. ALL TCP Ports are open on the security group for the instance.
4. Both the containers are present on the ec2-user-default network.
5. Public

[2021-05-09 12:45] AsWali opened #3375 "Survey on globally distributed software engineering"
Hey there.

We are doing a survey on globally distributed software engineering focused on open source projects. If you have some spare time we would really appreciate your response. The form takes about 10 minutes. Thanks in advance!
Survey can be found [here](https://forms.gle/N1TnifRuCYHrCY9JA)

[2021-05-11 14:58] ganeshcpote opened #3378 "Unable to run docker image (sitespeedio/sitespeed.io:17.3.1) on Centos 7"
I am having Centos 7 version with docker enabled and docker image sitespeedio/sitespeed.io:17.3.1 unable to execute the test. It exit the execution without any error message.

**OS version which I am using for the test :**
cat /etc/os-release
NAME="CentOS Linux"
VERSION="7 (Core)"
ID="centos"
ID_LIKE="rhel fedora"
VERSION_ID="7"
PRETTY_NAME="CentOS Linux 7 (Core)"
ANSI_COLOR="0;31"
CPE_NAME="cpe:/

[2021-05-11 15:00] ganeshcpote opened #3379 "How to disable the HTML output"
I am using InfluxDB as my data source and want to disable the default output (HTML/JSON) on storage/local. Is there any way to only push output to InfluxDB?

[2021-05-11 19:58] soulgalore commented on #3347
No @ganeshcpote I need someone to try it first.

[2021-05-11 20:01] soulgalore commented on #3378
Hi @ganeshcpote the output you get is from the start script (before sitespeed.io has started). After that there's a trick that try to fix so the output files are written for the user that you use https://github.com/sitespeedio/sitespeed.io/blob/main/docker/scripts/start.sh#L29-L43 , I'm thinking that goes wrong somehow? Can you check the owner and right privileges to the directory where you to run

[2021-05-13 05:58] ganeshcpote commented on #3378
Hi @soulgalore - It was permission issue on folder and this issue fixed. Thanks for your help

[2021-05-13 05:58] #3378 closed

[2021-05-14 09:38] lochy89 opened #3382 "Connection issue by AWS S3 upload"
Hi.

I have an issue.
We run the test from kubernetes cluster and everything works fine except one thing.
Uploading to S3. I tried many-many things out.

I am running the test internally, behind a corporate proxy and sitespeed can not upload the generated results to S3.
I tested everything out.

It is possible to upload files from the same sitespeed container with aws-cli. So there is no problem w

[2021-05-14 09:49] soulgalore commented on #3382
Hi @lochy89 I think you need set specific AWS properties to use the proxy.

Checkout how in https://www.sitespeed.io/documentation/sitespeed.io/s3/#extra-configuration and then you have the documentation of the AWS properties: https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/S3.html#upload-property

Best
Peter

[2021-05-14 10:40] lochy89 commented on #3382
Hi @soulgalore.

Thank you for the quick reply. Ok, i'm not a developer. :)
Should i give the script the following part?

--s3.params.httpOptions.proxy=http://proxy.xxxxx.de:80

Regards

[2021-05-14 10:53] lochy89 commented on #3382
Ok, i solved it with --s3.options.httpOptions.proxy
Thank you and habe a nice day!

[2021-05-15 12:14] soulgalore commented on #3382
Great!

[2021-05-15 12:14] #3382 closed

[2021-05-15 14:34] Andrei-Rudenka-bos opened #3384 "Lighthouse metrics in performance budget"
Please add lighthouse metrics to performance budget, such as :
First Contentful Paint
Speed Index
Largest Contentful Paint
Time to Interactive
Total Blocking Time
Cumulative Layout Shift

[2021-05-18 18:22] ganeshcpote commented on #3347
@soulgalore, where do I find the docker container image for this webhook branch? I want to try this tomorrow with some of the use cases I have on this.

[2021-05-18 18:26] ganeshcpote commented on #3379
Is there any way to push HAR file content as well to influxdb or graphite like other metrics? This will add additional value to the users who just want to use database driven approach and build their own dashboards.

[2021-05-19 06:45] soulgalore commented on #3347
Hi @ganeshcpote , cool, we auto build every branch so you can try the container: `sitespeedio/sitespeed.io-autobuild:webhook`

[2021-05-19 08:12] ganeshcpote commented on #3347
Hi @soulgalore, I was trying with my Jenkins generic webhook and it looks like port number is hardcoded in the file https://github.com/sitespeedio/sitespeed.io/blob/webhook/lib/plugins/webhook/send.js (line no: 13). We need to change the logic to get it from URL instead of.  I will try with https://requestbin.net and post you the request.

![image](https://user-images.githubusercontent.com/5691655

[2021-05-19 12:02] AnilkishoreReddy commented on #3007
@amitmalhotra-cell  Can you share the final script, please?

[2021-05-19 16:00] Icecold777 commented on #3366
Looks like app issue because local API call returns irrelevant metrics
new PerformanceObserver(entryList => {console.log(entryList.getEntries());}).observe({ type: "largest-contentful-paint", buffered: true })

[2021-05-20 10:02] ganeshcpote commented on #3347
Hi @soulgalore, I was able to successfully test this feature which sent the report URL through webhook.

Is there any chance to optimize this feature to include the following :

- port number to be parameterized
- send json formatted report to webhook (as additional storage if someone wants to read the json and store in their own database)

[2021-05-21 12:03] jajo-shubham opened #3388 "Exit sitespeed when page doesn't load"
When a URL is not found, Sitespeed keeps waiting for the page to load for 300 seconds.  I want to customise this to exit out If there is no load event end for even 15 seconds or so. I read the documentation and saw  the flag `--pageCompleteWaitTime ` but that is not making any difference. On code inspection I also saw the flags `timeouts.pageCompleteCheck` and `timeouts.pageLoad` but they are not

[2021-05-21 12:05] soulgalore commented on #3347
Hi @ganeshcpote I've fixed the port so it takes it from the URL, it will take X minutes before the container is rebuilt.

About what to send: not sure about what to send, but at least I should start by doing it configurable so you can choose. Lets see if I can find some time this weekend to start doing that.

[2021-05-21 12:13] kmaqsudi commented on #3347
Good start Peter. If the exact same summary as the default slack one can be
sent, it would be amazing

On Fri, May 21, 2021, 8:05 AM Peter Hedenskog ***@***.***>
wrote:

[2021-05-21 13:01] soulgalore commented on #3388
Hi @jajo-shubham it works like this:

First Selenium (webdriver) runs a JavaScript to go to the page and then you can use `--browsertime.pageLoadStrategy` to choose when sitespeed.io gets back control of the browser from the WebDriver. By default the page load strategy is "none" meaning we get control directly after the page started to navigate. Then the JavaScript configured by `--browsertime.pag

[2021-05-23 11:46] vshklianik opened #3389 "Chrome crashed when running sitespeed on Windows"
Hi! I need to use sitespeedio on windows, I can't use docker for my purposes. I installed the sitespeedio and  necessary dependencies according to these Github actions: [sitespeedio ](https://github.com/sitespeedio/sitespeed.io/blob/main/.github/workflows/windows.yml)and [browsertime](https://github.com/sitespeedio/browsertime/blob/main/.github/workflows/windows.yml).

When I run sitespeed using E

[2021-05-23 21:48] jajo-shubham commented on #3388
Hey @soulgalore , Thanks for the quick reply as usual. As you said It is very much possible loadEventEnd is not being triggered. So I want to customise `pageCompleteCheckTimeout` Is it possible to pass this as a flag?

[2021-05-25 14:50] Resolution-of opened #3391 "Need some information"
Hello, I've been working with your application for about a month on my current project and have several questions. It won't be a trouble if you don't answer them, nevertheless I can say that your application is pretty good. Particularly HTML report. So my questions:
1. Can run selenium python scripts in it (coded js selenium, but for some reasons need python)?
2. Grafana dashboard is cool too, but

[2021-05-25 14:55] Resolution-of commented on #3389
I am not a developer of this app, but faced with that issue too. Don't know how to solve it, but you can use Firefox instead of Chrome. But there are some problems too. For example you need to install Firefox 32-bit (only it)
If it will be useful just write in this issue and I will send you more instructions about this

[2021-05-26 02:35] soulgalore commented on #3389
Hi @Uladik I. wonder if something else is running on. your computer and the ports collide (_Only one usage of each socket address (protocol/network address/port_). Check if you can find what uses that port 54515, else. try to restart the machine and see if it works.

@Resolution-of is it. the exact same issue (ports collide)? Else another problem with Chrome is that Chrome and Chromedriver version

[2021-05-26 02:41] soulgalore commented on #3391
Hi @Resolution-of

No.

Yes there are but I. didn't fully understood. the use case? If you need every run in Graphite/Grafana you can add `--graphite.perIteration` then all the data per run is sent. Next step is to configure Graphite so.they are stored. Read https://www.sitespeed.io/documentation/sitespeed.io/graphite/#configure-graphite to get a feeling for what's needed.

Either you can pass on

[2021-05-26 04:52] Resolution-of commented on #3391
Thanks a lot for an answer. I will try.
One more time, your application is awesome

[2021-05-26 04:52] #3391 closed

[2021-05-26 15:30] bodtx opened #3395 "Selenium multiple click during journey needs wait.byTime"
Hi, I'm running sitespeedio/sitespeed.io:17.5.0

When I use directly the selenium driver, I often need to place a commands.wait.byTime to wait the real page load (dom + js)

if I don't, I have a problem with components rendered with javascript : bootstrap and other jquery select box....

My test is like this

    await commands.wait.byTime(2000);
    await driver.findElement(webdriver.By.css(".eve

[2021-05-26 19:33] soulgalore commented on #3395
Hi @bodtx I see. The default click commands has a clickAndWait alternative (see https://www.sitespeed.io/documentation/sitespeed.io/scripting/#click) that means that when you click a link etc the default  page complete check will run (waiting on load etc). If you do not use them, you can  use the waitByPageToComplete https://www.sitespeed.io/documentation/sitespeed.io/scripting/#waitbypagetocomple

[2021-05-27 10:11] bodtx commented on #3395
indeed great.

I need to launch the docker with the parameter

`--browsertime.pageLoadStrategy="normal"`

then I've replaced my

 await commands.wait.byTime(2000);

with

 await commands.wait.byPageToComplete();

this is great as it has shrunk the execution time of my tests to its minimum.

thx ❤️️

[2021-05-28 18:02] PagePerf2021 opened #3399 "Finding button with xpath failing"
SS,

I'm trying to click on a button via xpath. The xpath works in chrome, but fails in my script below. Also see elements of button.

<button name="Account_Plan_vod__c.Stakeholder_Navigator_Beta" type="button" class="slds-button slds-button_neutral">Stakeholder Navigator</button>

module.exports = async function(context, commands) {
context.log.info('Info logging from your script');
context.log.e

[2021-05-30 13:57] soulgalore commented on #3399
Hi @PagePerf2021 I use https://www.sitespeed.io/documentation/sitespeed.io/scripting/#debug when I try to debug scripts. For me both looking at the screen (to verify the test get the right element) and add some logging in a couple of steps usually helps me (get the the element, verify we have it, log every step etc).

Best
Peter

[2021-05-30 19:14] caiobegotti opened #3400 "Question: prometheus as metrics backend"
This question takes into consideration what was discussed in #987 already. Is it possible at all or did anyone actually used/built the available dashboards .jsons but using Prometheus as metrics backend, either with graphite-exporter or influxdb-exporter? The way I see it, ALL dashboards would need to be converted manually, one by one query... right? Is supporting Prometheus officially open to deb

[2021-06-01 04:39] kmaqsudi opened #3401 "Webpagetest plugin runs but throws error in summary page"
Hi Peter,

The webpagetest plugin runs with no issues but in the sitespeed.io summary page, it doesn't show up and throws an error.

![image](https://user-images.githubusercontent.com/1022410/120267314-b8a75880-c271-11eb-8344-d38b3f5e3e63.png)

TypeError: Cannot read property 'replace' of undefined (webpagetest)

[2021-06-01 07:24] soulgalore commented on #3401
Hi @kmaqsudi looking at the code it looks like the data from WebPageTest misses out on a location in the JSON back from WebPageTest? https://github.com/sitespeedio/plugin-webpagetest/blob/main/index.js#L247

If you have the test id of the test., you could go to the WebPageTest server and look at the JSON that is returned (I don't have the exact URL in my head but I think the WebPageTest team has i

[2021-06-01 11:54] kmaqsudi commented on #3401
Hi @soulgalore  Thanks for that info.   Thats exactly what my problem was.   Issue resolved now.  Thanks

[2021-06-01 11:54] #3401 closed

[2021-06-02 04:17] PagePerf2021 commented on #3399
Apologies, I re-confirmed my xpath. This finds the correct button in chrome dev tools - await commands.click.byXpathAndWait('//lightning-button//button[@name="Account_Plan_vod__c.Stakeholder_Navigator_Beta"]');
I still get this -
[2021-06-02 04:12:22] ERROR: Couldn't execute script named CUSTOM error:JavascriptError: javascript error: Cannot read property 'click' of null
  (Session info: chrome=88

[2021-06-08 14:02] caiobegotti commented on #3400
Thanks a lot for the detail explanation Peter! That makes sense and I think I got where the complexity is indeed, it would be a lot of work to maintain both formats/designs. I am not so sure though if I would have free time to help with this right now, honestly. I am considering using one of the exporters at the moment and cherry picking what is most important to my use case but it is a lot of wor

[2021-06-08 22:37] soulgalore commented on #3160
@jajo-shubham I've finally got some good news. I got some help from the Apple dev team with a workaround, I'm gonna implement it the coming days. The fix is easy but there are some problem (bug) with the video recording I implemented some time ago so let me try to fix that too.

[2021-06-09 07:11] jajo-shubham commented on #3160
Hey That is amazing @soulgalore .. Do let me know the workaround too!

[2021-06-09 07:20] soulgalore commented on #3160
Yeah sorry, I was so tired last night :). The workaround is like this: start the Safaridriver standalone and configure to use that. I've pushed a fix for that that I'm gonna release the coming days. However video is not working at the moment, but I plan to release this fix first since its still valuable.

[2021-06-10 07:00] soulgalore commented on #3160
@jajo-shubham I've just pushed 17.8.1 with the fix. Video do not work though.

[2021-06-10 07:33] jajo-shubham commented on #3160
Thanks a lot.. will try it out soon!

[2021-06-15 12:03] soulgalore commented on #3347
So I got stuck with this. I'm working on branch where you can configure if the message will be HTML/Markdown or plain text. I hope to be able to push that late this week.

[2021-06-15 15:04] kmaqsudi commented on #3347
Thanks Peter.  That is great news

On Tue, Jun 15, 2021, 8:03 AM Peter Hedenskog ***@***.***>
wrote:

[2021-06-16 11:37] amtanq commented on #2758
Please take a look at my pull request for the issue.
Thank you

[2021-06-17 04:47] amtanq opened #3410 "Slow triggering of DOMContentLoaded due to larger page size"
I have noted a large size of bundles, which cascades in the slow triggering of **DOMContentLoaded**. This in turn makes the page tab initialization slow for both non saved and saved tab routes.
![](https://i.imgur.com/Qbmg7ye.png)

**Benchmark**
![](https://i.imgur.com/ThC2rCv.png)

**Benifits**
Not only fixing this issue will speed up tab switches but also the overall initialization time of the p

[2021-06-17 13:30] soulgalore commented on #3410
Hi @amtanq I think the problem here is. that the HAR file is included in the HTML by default. As it is now the HAR file keeps all the runs in one file. If you do X runs, all those runs are in the same HAR and the HTML-blob becomes bigger.

if you serve the HTML result from a server, you can configure ` --html.fetchHARFiles true` to instead load the HAR from a URL instead.

[2021-06-17 15:24] amtanq commented on #3410
Yes! I checked out with multiple runs with different values of n and found out this is the case. So I'll close the issue, feel free to open it again if we need to do something else for the issue.

[2021-06-17 15:24] #3410 closed

[2021-06-20 17:29] soulgalore commented on #3347
I pushed a couple of changes today and it would be great if someone can help me try them out and fine-tune the output. I tried first using pug to generate different output (html/markdown/text) to separate the code from the look but no luck.

I used  https://webhook.site to try it out it would be great to test them in a real env. I haven't tested all different usecases yet so there are a lot that c

[2021-06-21 04:05] vishnusn656 opened #3411 "Usage of sitespeed.io for SPA."
Hi,
I have a react js application which works in spa model mostly. There will be few full page loads(with URL changes), and I also have to test clientside performance for various steps which doesnot have URL changes associated with them. Does sitespeed successfully records metrices(Web vitals) for UI changes which does not have URL changes? I noted in several instances that measure() is not design

[2021-06-21 06:57] soulgalore commented on #3411
Hi @vishnusn656 so browsers do not at the moment have a good support for measuring GoogleWebVitals or other metrics since they are focused on navigation. So for example first contentful paint  in Crome are tied to a navigation, so if you in a SPA navigate to multiple pages it will report that metric for the first navigation.

If you use sitespeed.io you should add `--spa` to your test, that will m

[2021-06-25 14:04] jajo-shubham opened #3414 "Firefox doesn't work in throttled mode"
Hey @soulgalore , I recently tried to check web performance while simulating low network conditions. I am unable to run tests on firefox whenever throttle is on. The browser window opens up but it freezes there.
Command  to reproduce`  bin/sitespeed.js -b firefox https://gmail.com/ --cpu --plugins.remove html --plugins.remove coach --plugins.add analysisstorer --visualMetrics true -n 1  --connecti

[2021-06-25 16:44] soulgalore commented on #3414
Hi @jajo-shubham thank you for creating the issue. I get the same thing, it works when I use cable connectivity. It seems like adding higher latency make Firefox not work. What's strange is that my feeling of the added latency do not correlate to a 60s timeout, but I haven't looked at the Geckodriver log. I can ask about it the coming week on the Browsertime/Mozilla Element channel (I'm away on ho

[2021-06-25 19:13] soulgalore commented on #3414
@jajo-shubham let me file a upstream bug: I just turned on the geckodriver log and this looks like another error I've seen when running Firefox on Android in an environment at work that never get solved. I'll cross reference to this issue.

[2021-06-26 18:11] jajo-shubham commented on #3414
Hey @soulgalore .. Just checked this.. Thanks for raising the issue.. Do enjoy your holidays 😄

[2021-07-01 14:44] hutemai commented on #3331
I've tested it. Actually it works using IAM instance role without specifying key id and access key.

[2021-07-02 07:27] DmitriyStoyanov commented on #3331
yes, it is tested and looks fine. So possibly need to add such info into documentation

[2021-07-04 16:30] ganeshcpote opened #3415 "Lighthouse, GPSI export to Influxdb"
Hello team,

I am using sitespeed.io and want to check if we have Lighthouse and GPSI metrics export to Influxdb. If yes, what are those measurements.

Thanks in advance.

[2021-07-04 20:01] soulgalore commented on #3415
Hi @ganeshcpote for Lighthouse look for the tag **audit** , for gpsi you should be able to see the ones with the tag **strategy**. We should probably add a tag per tool to make it easier to see where the metric origin.

[2021-07-05 11:41] ganeshcpote commented on #3415
Thanks @soulgalore. I can find the records under **score** with score.origin = "lighthouse" for lighthouse and for **gpsi** under accessibility, best-practices, seo, performance, pwa metrics.

We can arrange these scores under **score" measurement at consolidated place with CUxR score as well.

[2021-07-05 21:57] Icecold777 commented on #3395
Hello, @soulgalore please give a piece of advice. I faced pretty the same issue but using SPA app which sometimes doesn't return pageComplete event.
As workaround I wait for an element with wait.bySelector. Is it possible to use smth more universal as I have to update element selectors from tome to time?

[2021-07-05 22:10] Icecold777 commented on #3366
API is quite unsrable and supports 'hard navigations' only. https://github.com/WICG/largest-contentful-paint/issues/6

[2021-07-05 22:10] #3366 closed

[2021-07-06 08:59] pan-alexey commented on #3275
Any update?

[2021-07-06 11:06] bro-ee commented on #3199
Yep I did, but don't know how :dancers:

[2021-07-06 20:17] #3199 closed

[2021-07-06 20:20] soulgalore commented on #3275
I haven't looked. I would create an upstream issue for Chrome and ask there.

[2021-07-06 20:25] soulgalore commented on #3395
Hi @Icecold777 no there's no perfect way I think. One thing you could do is to increase the wait time for the page complete check,but that will make the test take longer time to run.

[2021-07-13 06:32] jajo-shubham commented on #3160
Hey @soulgalore .. Thanks for fixing this.. I tested this out but there are some issues I am facing

- When coach is enabled, the process breaks, get the error

[log.txt](https://github.com/sitespeedio/sitespeed.io/files/6806394/log.txt)

- When visual metrics is enabled, video breaks with following error

[2021-07-13 11:51:09] INFO: Running tests using Safari - 1 iteration(s)
[2021-07-13 11:51:13

[2021-07-13 06:46] soulgalore commented on #3160
For video the problem is https://github.com/sitespeedio/browsertime/issues/1598 ... waiting on an upstream fix for that. For the Coach https://github.com/sitespeedio/browsertime/issues/1275 it seems to depends on how large the page is (it works for some page). I'm gonna have a look later this week and try to fix that.

[2021-07-13 07:03] jajo-shubham commented on #3160
Ah got it.. I saw your video implementation and I thought it was done.. No issues.. Thanks for the quick reply as usual 👍

[2021-07-15 10:54] soulgalore opened #3422 "docs: Let the RSS feed include latest release notes"
At the moment we have a RSS feed so you can follow the latest releases. You can see what version that is released but we miss out of the content from the changelog.

[2021-07-16 07:04] soulgalore commented on #3422
Fixed

[2021-07-16 07:04] #3422 closed

[2021-07-16 07:54] jajo-shubham commented on #3388
Hello @soulgalore ... Any idea how to get the http response code and/or exit the process if it stuck ?

[2021-07-16 11:44] soulgalore commented on #3388
Sorry I missed your first question: `--browsertime.timeouts.pageCompleteCheck` is the way to set that timeout.

In the pageCompleteCheck? There's no way today to get the response code in JavaScript. There's an issue for adding it to the Resource Timing API but its needed in the Navigation Timing API for this to work.

[2021-07-22 22:17] jajo-shubham commented on #3388
Thanks for reverting on this.. ` --browsertime.timeouts.pageCompleteCheck`  checks out .. I was using `--timeouts.pageCompleteCheck` (non-docker) and that wasn't being passed on in the options..

Do you have the link for the issue so I can check it out?

[2021-07-26 07:46] joshuagibeonm commented on #3415
I tried to find web vitals field data distribution from GPSI in InfluxDB. But it's missing.

The only measurement that sent to InfluxDB is LCP distribution from all pages served from particular origin. Under fast, moderate, and slow metric.

Do you have any idea where I could find the rest of them?

[2021-07-26 07:49] soulgalore commented on #3415
Hi @joshuagibeonm I think we do not add them to influx by default, so we need to add that then in https://github.com/sitespeedio/sitespeed.io/blob/main/lib/plugins/influxdb/data-generator.js. Collecting them directly through the Crux plugin I think we add them but need to check.

[2021-07-27 14:37] soulgalore commented on #3160
I've updated the docs with instructions on how to disable the coach, gonna create an upstream issue when I get back from my vacation. Closing the issue since it works to run tests, and hope that the video gets fixed soon :)

[2021-07-27 14:37] #3160 closed

[2021-07-27 15:33] svkrclg opened #3427 "Accept chromedriver port or port range as cli param"
This is not a bug, but rather a **feature**. A feature to specify the Chromedriver **port** or port range through our **CLI** param.
This will eventually act as `--port ` for our Chromedriver process.

Use case:
- This can be used to identify and kill  (externally) the stray Chromedriver process in the situation when Sitespeed gets crashed for an unknown reason.
- Can be helpful in the automation

[2021-07-27 16:31] Icecold777 opened #3428 "video recording with green background"
Hello,

I've updated sitespeed.io to the 18.0.0 version recently.
Video recordings are coloured light green. Is it a planned feature?
Please find

![image](https://user-images.githubusercontent.com/10085700/127192112-967e3e69-448c-4e81-8dc3-b7d69bd4977f.png)

[2021-07-27 18:44] soulgalore commented on #3428
Hi @Icecold777 no that seems wrong. Can you share more how you run so I can reproduce? Also the FirstVisualChange of 34 ms seems broken. When Chrome 92 was released it seems that they changed the size of the URL part of the window (see https://github.com/sitespeedio/browsertime/issues/1614). That worked fine on my machine but on one of the test machine, I got the same error as you, so I increased

[2021-07-27 18:49] soulgalore commented on #3428
What would be great is if you could get the original video and share it with me, then I can fix the first visual change problem for sure as a start: `--browsertime.videoParams.keepOriginalVideo true` and then look for the video in the HTML result that is named something with the original.

[2021-07-28 04:22] joshuagibeonm commented on #3415
Hi @soulgalore. If sitespeed don't add them to influx by default, then I think readme file in plugin-gpsi needs some rewording.

At least for me, It implies that the plugin sends the loadingExperience by default.

[2021-07-28 07:13] soulgalore commented on #3415
I see, I think it does for Graphite but not for InfluxDB then. Let me fix that when I'm back from vacation in a couple of weeks.

[2021-07-28 07:27] soulgalore commented on #3415
Or even earlier, let me have a look tonight.

[2021-07-28 07:38] soulgalore commented on #3427
Hi @svkrclg yes sounds like a good idea!

[2021-07-28 07:55] svkrclg commented on #3427
Cool, so I will start with the dev of this.

[2021-07-28 10:32] Icecold777 commented on #3428
@soulgalore this screenshot is one of the scripted flow steps. Seems like FVC 34 ms is a button click.

I've recorded a video against https://sitespeed.io
That's what has been recorded
https://user-images.githubusercontent.com/10085700/127307926-029e9421-1539-4519-8a05-f8aea395913d.mp4

and how I see it in the browser
https://user-images.githubusercontent.com/10085700/127308085-619453dc-1d67-42f8-

[2021-07-28 10:42] Icecold777 commented on #3428
actually, I consider it's chrome issue
Both videos from the comment above are green for me but the first one is OK when I open in video player.

![image](https://user-images.githubusercontent.com/10085700/127309344-e2ffab96-ab2b-451c-ba50-0bcbfc092b85.png)
![image](https://user-images.githubusercontent.com/10085700/127309406-10421bcb-665f-4606-babb-02c23bf39d36.png)

I opened the report in Firefox

[2021-07-28 10:46] Icecold777 commented on #3428
update to Chrome 92.0.4515.107 solved the problem. Interesting why this happened

[2021-07-28 10:58] Icecold777 commented on #3411
Hello,

@vishnusn656 please take a look at https://github.com/sitespeedio/sitespeed.io/issues/3273#issuecomment-775598691 maybe you'll find it useful.
It solved the issue with no changing page URL for me.

[2021-07-28 14:34] soulgalore commented on #3428
Aha thanks @Icecold777 for looking into it.

[2021-07-28 14:55] #3337 closed

[2021-07-28 15:12] soulgalore commented on #3415
Hi @joshuagibeonm sorry I didn't fully understood what you meant. Had some time now and added a PR for fixing the problem with GPSI. The current released version do not add any good tags so you can separate the metrics.

Do you have time to check the PR and see if those new tags works fine for you?

[2021-07-28 17:10] joshuagibeonm commented on #3415
Hi @soulgalore. I checked the PR and It works very well. Except somehow I have to remove all metric that related to first input delay first because the result from PGSI didn't have first input delay.

Thank you for your time and the PR! I really appreciate it.

[2021-07-28 20:41] soulgalore commented on #3415
Thanks @joshuagibeonm for checking the out. I've merged the PR and hope to release it tomorrow. It seems like GPSI plugin is over optimistic that the data is always there (I did get the same when I tried www.sitespeed.io), let me fix that too.

[2021-07-29 08:01] soulgalore commented on #3415
@joshuagibeonm I've just released the fix, hope it works out fine for you!

[2021-07-29 08:14] joshuagibeonm commented on #3415
@soulgalore Thanks a lot!

[2021-07-31 06:12] jsbalasu opened #3431 "HTML reports not being written to Jenkins artificacts"
We are trying to run sitespeed via docker [latest image] via Jenkins and noticed its not writing HTML reports if I exceeds the url count 6 or 7.

Versions OS: linux 4.15.0-147-generic nodejs: v14.17.1 sitespeed.io: 18.0.0 browsertime: 13.1.2 coach: 6.4.3
Google Chrome 92.0.4515.107

**Error:**

**/start.sh: line 41:    41 Killed                  chroot --skip-chdir --userspec='sitespeedio:sitespee

[2021-07-31 06:42] jsbalasu commented on #3431
@soulgalore it would be great if we get guidance asap for this thanks

[2021-08-01 15:22] soulgalore commented on #3431
Hi @jsbalasu do I understand correctly that if you test more than X(6-7) URLs in your script, you get the error:

Is that correct? If you run outside of Jenkins do it work there? Or is this only when you kick off the jobs from Jenkins?

[2021-08-02 08:25] eQza opened #3432 "resultBaseURL is required when setting grafana.annotationTitles and grafana.annotationMessage"
resultBaseURL is required if you only want to set grafana.annotationTitles and grafana.annotationMessage.

Expected Result:
Should be able to set grafana.annotationTitles and grafana.annotationMessage without resultBaseURL

Our use case is the report is stored in azure pipeline as a artifact and we are setting the title to the repo name and the message as pipline ID and branch name. If further inv

[2021-08-03 19:46] soulgalore commented on #3432
Let me have a look at this early next week when I'm back, I think this should be doable with just a minor tweak.

[2021-08-04 07:34] jsbalasu commented on #3431
Hello @soulgalore,
Its working fine when I run locally in my machine [outof Jenkins].Issue is only when running via Jenkins.you can see I am using MAX_OLD_SPACE_SIZE=8192 while running Jenkins Pipeline.

Let me know how we can fix this.Thanks

[2021-08-05 07:03] jsbalasu commented on #3431
@soulgalore Could you please assist?Thanks

[2021-08-05 19:52] soulgalore commented on #3431
Is Jenkins using Docker so you run Docker in Docker?

[2021-08-09 10:33] jsbalasu commented on #3431
Yeah that's right @soulgalore

[2021-08-16 12:30] soulgalore opened #3435 "Show metrics for all iterations on a new summary page."
Today you can easily see the min/median/max in the summary:
<img width="1065" alt="Screenshot 2021-08-16 at 14 27 03" src="https://user-images.githubusercontent.com/540757/129563749-744d69fa-ce8b-4970-88b5-065c3109496e.png">

We should also show stdev (as you can see in Graphite etc) but we should also add a new page where you can see the data for all runs sorted by metrics. That would be super he

[2021-08-17 06:56] albertvilabsc opened #3436 "Make tests in a website with a lot of simultaneous connections"
Hi all,
I have a question regarding sitespeed.io.
Can you test how a website behaves with many simultaneous connections? sitespeed.io, can do this? Simulate many simultaneous connections and make the tests?
I use sitespeed.io with docker in Ubuntu 20.04 LTS.
Many thanks in advance,
Albert

[2021-08-17 08:39] soulgalore commented on #3436
Hi @albertvilabsc you mean like test for many users? I think its better to use a load test tool like K6 or something else and then at the same time run sitespeed.io with one instance to get a feeling of what it would look like for one user.

Best
Peter

[2021-08-17 09:31] albertvilabsc commented on #3436
Hi @soulgalore, yes test the page with a lot of load.
You know some free tool to make load tests in a webapge?
You mean that I need to use a tool to make a lot of connections in my website and at the same time use sitespeed.io?
Apache JMeter is a solution?
Thanks,
Albert

[2021-08-19 14:51] imakhnyboroda opened #3438 "Sitespeed.io report showing only few metrics after testing on safari"
Hi! I am doing a safari test and I am wondering if it is expected that I do not have as many metrics as in Chrome
![image](https://user-images.githubusercontent.com/89066077/130090214-bea85177-20a9-44b7-8402-a3e3730edc16.png)

I used for running test this command:
sitespeed.io --name "Desktop TU safari" -b safari -n 20 https://[my url]/

[2021-08-20 12:10] soulgalore commented on #3438
Hi @imakhnyboroda yes it is. We lack many metrics from Safari:
* Safari lack implementation of a lot of performance metrics direct in the browser
* We also miss out on getting a HAR file from Safari (I have an open feedback assistant number for that)
* On desktop you can get visual metrics if you follow the instructions on https://www.sitespeed.io/documentation/sitespeed.io/installation/#mac to ge

[2021-08-20 12:23] imakhnyboroda commented on #3438
Thank you so much for detailed information!

[2021-08-23 10:24] jsbalasu commented on #3431
We have fixed the issue the other way.thanks

[2021-08-23 10:24] #3431 closed

[2021-08-25 11:04] MichaelDally opened #3444 "Missing most active frame. Number of threads 0, Number of TraceEvents X and Threads []"
Hello,

I have a website which opens a new tab. I press a button and I want to wait for the task to process before asserting that the screen is loaded. Using the Firefox browser, I have been able to get metrics; however, with Chrome, I see the following error:

`Missing most active frame. Number of threads 0, Number of TraceEvents X and Threads []
`

Here is some sample code - for security reasons

[2021-08-25 11:39] soulgalore commented on #3444
Thank you @MichaelDally for the report!

What is suppose to happen when you run:
` await commands.wait.bySelector('.some-item',30000);`

Are you loading a new page with the click? Sometimes the select can be there but the page hasn't finished loading, can you try and change:
[code]
to
[code]
That will make sure that the default check for waiting for the page to load is used see https://www.sitespe

[2021-08-25 12:33] MichaelDally commented on #3444
My original intent was to wait for that page to load - the previous step clicks a Create button, which waits for some background processing before redirecting to a new page. I've since modified the wait code to

`await commands.measure.start('Project Creation');

      await commands.click.byLinkTextAndWait('Create');  // My assumption here is that it will wait for the redirect

      return comma

[2021-08-25 13:08] soulgalore commented on #3444
I see. Can you check if the _trace-1.json.gz_ file is saved in the data folder for the URL that you test? Then if you can please share that file (that's Chrome log) with me on Slack I can check if I understand what's going on. Thanks!

[2021-08-25 13:56] MichaelDally commented on #3444
@soulgalore the issue I was facing was due to the fact that my workflow was opening multiple tabs, so it was unable to collate all of the performance logs. To workaround this, I injected JS into elements which would open a new tab and force them to open in the same window:

`      await commands.js.run("$('.button-which-opens-new-tab').attr('target', '_self');");
`

This resolved my problem! Thank

[2021-08-25 13:56] #3444 closed

[2021-08-26 20:35] IngCesarPerf opened #3446 "TypeError: Cannot convert undefined or null to object - running in xcode using sustainable web plugin"
I am using xcode and the sitespeed version in npm, to run the test in the simulator provided by xcode.

I have MacOS BigSur 11.5.1 with M1 chip, I want also in that execution to make use of the sustainable web plugin, so I am running after all the specified configuration I am running in this way from the terminal.

`sitespeed.io https://www.sitespeed.io --sustainable.enable -b safari --safari.devi

[2021-08-27 07:42] vishallanke opened #3447 "[help required] Modify JUnit test suite name or test case class name"
Sitespeed generate below junit test cases after test execution -

[code]

[code]

Due to this after importing this test cases, I can see test case name ```sitespeed.io.account_apps_._```
Here, I want name of my script  file. Is there a way where I can replace these names with some user friendly tests case name.

![image](https://user-images.githubusercontent.com/46259109/131091340-afc1b549-7641-4f

[2021-08-27 09:13] zhouhana opened #3449 "Make the tutorial (especially on the sitespeed.io frontpage) more newbie-friendly"
Instead of just this line with little explanation:

    docker run --rm -v "$(pwd):/sitespeed.io" sitespeedio/sitespeed.io:19.1.0 https://www.sitespeed.io/

It would be great to have an example page that isn't sitespeed.io, like

    docker run --rm -v "$(pwd):/sitespeed.io" sitespeedio/sitespeed.io:19.1.0 https://www.sitetobetested.com/

And also a line about where the test result ends up on the

[2021-08-30 09:30] vishallanke commented on #3447
@soulgalore  Yes, its working ! :) Thanks

[2021-08-30 09:33] vishallanke commented on #3447
I can see some error like below-
ERROR: It seems like you configure a metric accessibility that we do not have a friendly name. Please check the docs if it is right.

Is this related to budget friendly name property ?

[2021-08-30 16:35] soulgalore commented on #3447
@vishallanke yes, can you check if there is a metric configured in your budget file that do not exist in https://www.sitespeed.io/documentation/sitespeed.io/performance-budget/#all-possible-metrics-you-can-configure ?

[2021-08-31 00:25] palanir2 opened #3450 "Getting ERROR: Error: connect ECONNREFUSED 127.0.0.1:2003 from Ubuntu"
Hi - Currently we are working on migrating the sitespeed to AWS Ubuntu instances. For POC purpose installed both sitespeed and docker compose on the same instances. When I ran the below commands i'm getting 2021-08-30 23:58:24] ERROR: Error: connect ECONNREFUSED 127.0.0.1:2003    at TCPConnectWrap.afterConnect [as oncomplete] (net.js:1148:16).
Commands i have tried:
docker run --rm -v "$(pwd):/sit

[2021-08-31 07:38] soulgalore commented on #3450
Hi @palanir2 when you run inside Docker, localhost/127.0.0.1 point inside the same container = sitespeed.io in this case, not the Graphite container. Here are docs depending on your OS: https://www.sitespeed.io/documentation/sitespeed.io/docker/#access-localhost

[2021-08-31 11:51] palanir2 commented on #3450
Hi @soulgalore - I'm new to docker, can you please help me with how/what (in the above command what I need to change) I need to run the command when sitespeed and docker compose on the same instance?

[2021-08-31 12:28] soulgalore commented on #3450
Hi @palanir2 it should be there in the docs I linked https://www.sitespeed.io/documentation/sitespeed.io/docker/#access-localhost ?  Depending if you use Linux or Mac/Windows its different ways of accessing localhost in the real machine from inside of docker. Either use `host.docker.internal` or  add `--network=host`

[2021-08-31 12:55] palanir2 commented on #3450
Hi @soulgalore - I'm using Linux (ubuntu), installed sitespeed and docker compose in the same machine for POC. when I ran the below command it's working
 **docker run --shm-size 2g --rm -v "$(pwd):/sitespeed.io" --network host sitespeedio/sitespeed.io:19.2.0 -b firefox https://www.sitespeed.io**
but how to send the metrics to graphite: what will be value for this **graphite.host=** whether I need

[2021-08-31 13:07] soulgalore commented on #3450
Hi @palanir2 in the docs  https://www.sitespeed.io/documentation/sitespeed.io/docker/#access-localhost you should use localhost on Linux, so add `--network=host` and use `--graphite.host localhost` hopefully that will fix it!

[2021-08-31 13:18] palanir2 commented on #3450
Hi @soulgalore - I have tried this command "**docker run --rm -v "$(pwd):/sitespeed.io" sitespeedio/sitespeed.io:19.2.0 --graphite.host=localhost --network host https://www.sitespeed.io/ --slug yourTestName --graphite.addSlugToKey true**". But still getting **[2021-08-31 13:16:55] ERROR: Error: connect ECONNREFUSED 127.0.0.1:2003
    at TCPConnectWrap.afterConnect [as oncomplete] (net.js:1148:16)*

[2021-09-01 15:38] iamlohith opened #3451 "Unable to see all test result data on grafana"
Hi , i did a setup of sitespeed.io ,webpagetest and graphite and grafana(i installed sitespeed using npm install -g and  i installed ,
wpt graphite and grafana using docker )

But the problem is when i run this command
`sitespeed.io --wpthost localhost --graphite.host localhost --graphite.port 2003  --graphite.httpPort 8080 -- graphite.namespace testing.wpt.v1 -n 1 -b chrome https://www.sitespeed.

[2021-09-01 16:28] soulgalore commented on #3451
Hi @iamlohith Graphite is a little special in how it stores the data: to make sure it not exceeds it limits you need to decide before you start how often you will store the data.  Start by reading https://www.sitespeed.io/documentation/sitespeed.io/graphite/#configure-graphite and https://github.com/statsd/statsd/blob/master/docs/graphite.md to get a feeling for how it works.

[2021-09-02 11:53] soulgalore commented on #3450
When I try top debug, I usually send metrics directly from the server to see that it works, something like  https://graphiteapp.org/quick-start-guides/feeding-metrics.html . If that works, then I would try to login to the container (https://www.sitespeed.io/documentation/sitespeed.io/docker/#inspect-the-container) and then to try send a test metric.

[2021-09-02 13:39] heavenmyth opened #3452 "Can sitespeed support playwright's js script？"
Can sitespeed support playwright's js script？

I use sitespeed to run playwright's js script prompt Cannot find module'playwright'

![image](https://user-images.githubusercontent.com/26155539/131853877-95dee0d6-2bf3-4b28-9831-defec9ecf5db.png)

[2021-09-03 06:16] soulgalore commented on #3452
Hi @heavenmyth the short answer is no. The long answer:
At the moment the backend for starting/driving/stopping the browser is Selenium that follows the WebDriver specification. The reason we started to use it is that when we first implemented puppeteer and playwright wasn't there yet. I've been looking into adding support for other backends, but since puppeteer do not work on mobile phones (or at

[2021-09-05 17:44] barryperez opened #3455 "Security warnings when running npm install"
Good evening!

I'm trying to build a Docker image for SiteSpeed.io to be internally hosted (client security requirement). In doing so, I've run into some issues during security scans on the resultant container.

There are a number of HIGH severity issues which impact downstream tar dependency required by SiteSpeed (dependency browsertime > @sitespeed.io/geckodriver > tar) version being used. Pleas

[2021-09-06 06:29] soulgalore commented on #3455
Hi @barryperez you can try the new 19.4.1 where it should be fixed.

[2021-09-06 06:49] barryperez commented on #3455
Hello @soulgalore - thank you so much for this! I can see now that the tar issue has been fixed.

There's something else flagged subsequently, which is more to do with some Ubuntu 20.0.4 libraries, but I'll raise a separate issue for that with the full details.

[2021-09-06 06:49] #3455 closed

[2021-09-06 09:52] barryperez opened #3456 "Docker - Underlying image has security vulnerabilities"
Hi!

In trying to build a Docker image to be stored internally, our security scanner has flagged that some library versions have HIGH severity vulnerabilities.

I've uploaded a snippet from the log showing the issues and the impacted libraries:

[Ubuntu-Security-Issues.txt](https://github.com/sitespeedio/sitespeed.io/files/7114962/Ubuntu-Security-Issues.txt)

As a workaround, I added the following

[2021-09-06 15:29] soulgalore commented on #3456
Thank for submitting the issue @barryperez ! What tool do you use, so I also can verify that it's fixed + I'm also interested if you see a use case how these security vulnerabilities will be used when you run sitespeed.io so I can set the right prio. With things like snyk and other automatic tools report, there's been kind of an overload of reports of vulnerabilities in open source, but as always

[2021-09-06 15:44] barryperez commented on #3456
Hi @soulgalore - no problem!

We're using Trivy (https://github.com/aquasecurity/trivy) for container scans as part of a pipeline.

I'm not aware of a specific use case for those exploits right now. Unfortunately the only way I am able to start using SiteSpeed for my current project is if I build the image myself and store it in an internally hosted repository, using a pre-defined pipeline (can't

[2021-09-07 15:31] soulgalore commented on #3456
I would personally run this outside of my own network if that would be a thing, just to make it easier :)

Ideally I want to get Trivy up and running then for each build of each container in the dependency list. When I tried it seems to only scan that exact container, not the others that is depending on? Do you know how that works @barryperez ?

[2021-09-07 16:24] barryperez commented on #3456
Absolutely, that had occurred to me - but unfortunately that's not an option right now. Would make my life a lot easier if I could, though!

In terms of Trivy, you're right; I believe it scans a single (built) image presented on the command line, and checks the versions of many different components for vulnerabilities.

Since you build a few different sitespeed containers with various dependencies

[2021-09-08 00:10] soulgalore commented on #3456
This should be fixed now in 19.4.2. It turned out that all of the major things could be fixed by upgrading the base image to a never version (I've missed that).

[2021-09-08 09:07] soulgalore commented on #3435
This is done on the new summary page that displays data from all runs.

[2021-09-08 09:07] #3435 closed

[2021-09-08 16:21] barryperez commented on #3456
Excellent - thank you very much for the prompt assistance!

[2021-09-08 16:21] #3456 closed

[2021-09-09 14:05] barryperez commented on #3331
Hi there! Just wonder how you guys were able to get this working? I've been struggling with this one today.

1) I've validated that I can write to the S3 bucket using AWS CLI from my host machine - so the correct IAM role is applied to the EC2 instance.

2) I run the sitespeed.io Docker image in interactive mode, with an AWS config file as follows:

[code]

3) I have then set the following environ

[2021-09-12 16:59] SriramIyengar2012 opened #3458 "This is not an issue but an approach for running sitespeed.io using k8s and Helm"
Hi All,

Sitespeed.io has been a great project that I have been using for web performance monitoring, it runs outbox in docker as per the documentation. but places, where application access is only restricted to k8s namespaces, below approach, might help us run the same module in k8s:

**(for Testing Url)**
apiVersion: apps/v1
kind: Deployment
metadata:
  name: sitespeed-io-deployment
  labels:

[2021-09-13 07:20] soulgalore commented on #3458
Hi @SriramIyengar2012 thanks for sharing, if you have time, could you do a PR to the docs, add a new section under https://github.com/sitespeedio/sitespeed.io/edit/main/docs/documentation/sitespeed.io/docker/index.md

Thanks again!
Peter

[2021-09-13 07:32] SriramIyengar2012 commented on #3458
sure @soulgalore will raise a PR request this week for the same, thank you

[2021-09-13 14:18] barryperez commented on #3331
Addendum - works fine if I use host network to run the container - it's only when using the bridge adapter that it fails. (i.e. standard bridge one or one that was created to simulate different network conditions)

Will try to look further when I have time - but maybe this rings a bell for someone in the meanwhile?

[2021-09-13 14:31] soulgalore commented on #3331
I can have try later this week, I want to get this documented.

[2021-09-13 16:18] zzhao2010 opened #3459 "Map the configured metrics to the measurement on InfluxDB"
Hi,
I was testing to feed specific sitespeed.io metrics to InfluxDB. Could anyone help me understand how do I map the configured metrics to the measurement on InfluxDB?
For example, I was using the default metric filter, and attached is the list of configured metrics [FilterMetricList.txt](https://github.com/sitespeedio/sitespeed.io/files/7155797/FilterMetricList.txt).
And on InfluxDB side, I see

[2021-09-15 13:54] barryperez opened #3460 "json config - multiple headers in config not being respected"
Hi,

I noticed some unexpected behaviour (to me!) when attempting to add more than one header in a json config:

Firstly, I added multiple headers in a json config for a site, as follows:

[code]

I saw some unexpected result, so I ran Sitespeed with -vvv and looked at the chromedriver.log which was generated. I could see that only the last header was being added to the request:

[code]

It appear

[2021-09-15 14:17] #3451 closed

[2021-09-15 18:26] soulgalore commented on #3460
Hi @barryperez sorry I think I've missed that part in the docs. I added it now (scroll down): https://www.sitespeed.io/documentation/sitespeed.io/configuration/#configuration-as-json

We use yargs as a cli/json parser and when you have multiple values, it need to be an array. So your example should be:
[code]

[2021-09-15 19:45] barryperez commented on #3460
Hi @soulgalore - thanks for this. I did wonder if it might be covered already!

Also, really graet work updating the doc so quickly - I'm sure it'll help others too!

[2021-09-15 19:45] #3460 closed

[2021-09-17 00:18] doffymingozzz opened #3461 "Catchpoint blog migration"
Hi!

It’s Gleb from Catchpoint.com.

I've noticed that your website links to our old blog, which we’re currently migrating from a subdomain to the main domain. The reason I’m reaching out is to make sure you won’t have a 404 error on your website.

You have a link to our old blog on the following pages:
https://www.sitespeed.io/documentation/sitespeed.io/mobile-phones/
I wonder if you’d be able to

[2021-09-17 03:50] soulgalore commented on #3461
Hi Gleb,
thanks, I fixed it with #3461.

Best
Peter

[2021-09-17 03:50] #3461 closed

[2021-09-21 13:58] jsbalasu opened #3463 "Possibility of updating Grafana Dashboard variables via source control"
Hi @soulgalore ,
We have Grafana Dashboards up and running and we used default docker images [used from https://github.com/sitespeedio/grafana-bootstrap-docker] to get remade custom dashboards.

**Major Requirement:**
We have requirement to add `All` option in Grafana LeaderBoard under testname and we are looking for possibility to add it via source code directly.Please let us know if this is feas

[2021-09-21 16:52] soulgalore commented on #3463
Hi @jsbalasu

How do you add the dashboards, do you have the Docker container in a Docker compose file? If that's the case, then I think the dashboards are inserted again when you restart compose (=your change is over written).

[2021-09-21 17:07] siriak opened #3464 "How to log in before crawling"
I'm testing an app that requires logging in through an SSO. I made it work by logging in with login/password in preStart script and it works. It doesn't see other pages though. From what I've read, crawling is done before the preStart script is run, so it just can't log in to crawl. What can I do? I can log in as in preStart script with login/password or I also can put a pre-baked JWT in local sto

[2021-09-21 17:24] KesavanGurusamy opened #3465 "Not able to generate report with multiple tab"
On clicking a button is opening a new tab in the browser. While generating report, we are getting error as
Could not generate url/summary/index

![image](https://user-images.githubusercontent.com/91149850/134218224-2e738ab9-3ee7-4b5f-8504-b99d3078e812.png)

[2021-09-21 18:27] soulgalore commented on #3465
Hi @KesavanGurusamy I think one of the limits today is that we can only measure things in one tab, but I'm not exactly sure what happens, can you share the use case so I can try?

Best
Peter

[2021-09-21 18:35] KesavanGurusamy commented on #3465
Hi @Peter,
We have a scenario like , clicking a button or link in current screen will open new tab in browser and in the new tab we have additional steps to continue.

We are able to execute script successfully by using the below code snipped, but while generating report we are getting the error message as mentioned above.

await command.click.byXpathAndWait("//*[@id='XXXXX']");
		await command.sw

[2021-09-21 18:46] soulgalore commented on #3464
Hi @siriak there's no ready made solution for that right now, only workarounds that maybe will work, not sure.  It works like this: the crawling uses https://www.npmjs.com/package/simplecrawler to crawl, so it doesn't use a browser or the same session as the actual test. The simplecrawl supports cookies/adding request headers, so maybe we could add that to the cli so you can set that (if that woul

[2021-09-21 19:12] siriak commented on #3464
Cookies and request headers won't help because we have a single-page app and it looks for a JWT stored in local storage. If it's missing, the user isn't authenticated. Could you recommend a crawler that I can use to scrape only URLs? I'd like to do that automatically in the Jenkins pipeline before running sitespeedio. If that doesn't work, I guess, my best option is just to use a maintained by han

[2021-09-21 19:13] siriak commented on #3464
Gotta go now, will get back and read your reply in ~9 hours, thanks :)

[2021-09-22 04:09] jsbalasu commented on #3463
Hi @soulgalore ,
yes we have docker container created out of yaml file [we segregated and running it in Openshift].
Is there a hack around apart from altering the values and save it as New Dashboard copy [which works as expected]?

[2021-09-22 04:45] jsbalasu commented on #3463
To be precise is it ok to enable these values as true for `testname` by default bu you on https://github.com/sitespeedio/grafana-bootstrap-docker/blob/44c3bb4659be3951aca4fe54dd24f38421c50c82/dashboards/graphite/Leaderboard.json#L3023 and https://github.com/sitespeedio/grafana-bootstrap-docker/blob/44c3bb4659be3951aca4fe54dd24f38421c50c82/dashboards/graphite/Leaderboard.json#L3025 so it will have

[2021-09-22 09:41] siriak commented on #3464
Thanks for your help, I'll stick to using a hand-made list of URLs. This should serve the purpose for now.

[2021-09-22 09:41] #3464 closed

[2021-09-22 23:03] KesavanGurusamy commented on #3465
Hi @soulgalore ,
Kindly let me know do we have any workaround for this issue to proceed.

Thanks & Regards
G.Kesavan

[2021-09-27 16:45] soulgalore commented on #3463
Hi @jsbalasu sorry for not responding earlier. I think the best way for you (and others) is not to run the Docker image with the dashboards in production because that way you cannot add your own changes (as you seen) and I think the real beauty with Grafana and the pre made dashboards is that they are just examples, so you can use them as a base and then remove/add/change what you need so it fits

[2021-09-28 05:22] jsbalasu commented on #3463
Hello @soulgalore thanks for the update.Yeah we planned to store the dashboards [which required changes] outside of container to achieve and injecting to container using configmap [as we are running in Openshift].I will revert if we come across any further issues.Thanks again.

[2021-09-28 06:32] soulgalore commented on #3465
As I said most things work in one tab for Chrome. If you try Firefox does it work there? Also if you could share a [reproducible test case](https://www.sitespeed.io/documentation/sitespeed.io/bug-report/#explain-how-to-reproduce-your-issue) that is super helpful, then I can have a look. Thanks!

[2021-09-30 07:43] zhouhana commented on #3449
Great, I can have a look at it when I have some time (unfortunately often busy with my small kids when not working). Adding a link to the video was a nice touch!

What do you think about something like this though? My idea here is that the URL in bot the command and the directory name below the command is updated with JavaScript to reflect the URL in the input field.

It would also be nice if the

[2021-09-30 09:56] kaurav1108 opened #3469 "Not able to get Sitespeed.io not loading pages correctly"
Hi Team,
sitespeed.io docker container is not able to load the endpoint URL properly, as every page getting this error.

so is there any change into image version.

please find the below details for more information

 docker run --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io https://flow.telefonica.de/login.jsp?nosso --preScript /sitespeed.io/loginProd.js --browsertime.iterations=1 --grap

[2021-09-30 11:15] soulgalore commented on #3469
Hi @kaurav1108 that means that your script `loginProd.js ` tries to find an element by id with id `login-form-username`.  You can follow our guide https://www.sitespeed.io/documentation/sitespeed.io/scripting/#debug to debug your scripting.

[2021-10-01 14:01] softwareklinic opened #3470 "About Cookie size report"
Is it possible to print or generate a report by cookie size

[2021-10-01 14:48] soulgalore commented on #3470
Hi @softwareklinic no we don't report that, only number of cookies etc. We could add that to PageXray, can you explain how you would use it?

[2021-10-01 15:10] softwareklinic commented on #3470
We have issues with sites having 8k or 16k as request headers limit and
want to know which cookies are offending.

It will be a great addition if we can report cookie inventory with size,
expiration , domain, etc details

On Fri, Oct 1, 2021 at 9:49 AM Peter Hedenskog ***@***.***>
wrote:

--
<http://www.verizon.com>

Keyur Shah

Associate Fellow - Enterprise Architecture
2147845203

"If you can me

[2021-10-06 12:15] soulgalore commented on #3463
@jsbalasu log into Grafana and edit the dashboards: https://grafana.com/docs/grafana/latest/dashboards/ and https://grafana.com/docs/grafana/latest/panels/panel-editor/

[2021-10-08 12:55] softwareklinic opened #3474 "Time to Interactive (TTI) - is it stable & adopted now in Sitespeed?"
Do you think TTI is stable in chrome and available for reporting in sitespeed... Or rather how do I find out in sitespeed report when the page was ready for interaction or something was blocking the page interaction for the user?

[2021-10-11 14:41] softwareklinic commented on #3474
What is the equivalent of time to interactive in browsertime metrics?

[2021-10-11 15:10] rdaytoncvent opened #3475 "Use custom metrics in the budget file"
We are using JS performance marks for measuring load times of dynamic content.  Typically a user would click a button, a spinner would appear for a few secs, then the content would be shown.  We would like to be able to fail the test based on the budget file for these custom values.

Sample script below:
[code]

Sample budget file usage would look something like:
[code]
This is similar to the Site

[2021-10-11 15:13] softwareklinic opened #3476 "Render blocking information - version # of sitespeed"
Which version did we introduce the render information section in sitespeed in page XRAY

[2021-10-11 16:11] rdaytoncvent opened #3477 "Use dynamic URLs in the budget file"
We would like to be able to set budget values dynamically for URLs.  We have many scripts/urls with uuids and/or query params that are difficult to use with the budget file.  I had started creating a plugin for this but wanted to check if it was feasible to add as part of the core Sitespeed functionality before proceeding further.

Example script below:
[code]

[2021-10-11 16:20] soulgalore commented on #3477
Hi @rdaytoncvent do you think alias in https://www.sitespeed.io/documentation/sitespeed.io/performance-budget/#override-per-url would fix your problem? Or at least make it easier?

[2021-10-11 19:05] soulgalore commented on #3477
Great, fixing support for alias should be pretty straightforward, let me look into it later this week.

[2021-10-12 11:43] ganeshcpote opened #3481 "Execution support to Elasticsearch OR flat JSON file"
Hello Team,

Is there any support for Elasticsearch or flat JSON as datastore as an alternate to InfluxDB or Graphite DB.

Thanks,
Ganesh Pote

[2021-10-13 08:15] soulgalore commented on #3481
Hi @ganeshcpote there's no pre built plugin for Elastic. All data collected is passed in queue that plugins use to get the data see https://www.sitespeed.io/documentation/sitespeed.io/plugins/ so it would be possible to build a plugin for that. I can guide  you if you need help.

Best
Peter

[2021-10-14 06:51] soulgalore commented on #3477
@rdaytoncvent checkout 20.2.0 that has support for alias in the budget file:
https://www.sitespeed.io/documentation/sitespeed.io/performance-budget/#override-per-url-or-alias

[2021-10-18 09:15] jajo-shubham opened #3487 "Issues with coach"
Hey @soulgalore!
I have been going through the coach recommendations and have some bugs/improvements to share

1)  Jquery issue

"jquery":
"Cannot read property 'jquery' of undefined"}
}

"jquery":
"Cannot read properties of undefined (reading 'jquery')"}
}

"jquery":
"undefined is not an object (evaluating 'n.fn.jquery')"}
}

Executing code console I saw that in https://github.com/sitespeedio/coa

[2021-10-19 01:06] #3476 closed, assigned to nobody

[2021-10-20 09:51] svkrclg opened #3488 "SiteSpeed fails for integer value of `android.deviceSerial`"
Although device serial-id connected through ADB are alphanumeric but there is no guarantee of it. Mostly it depends on android device manufacturers, for example, I use the OnePlus device and observed a couple of times when the device id is completely integer (ex: 4984986498).
For this case, sitespeed break with issue
[code]

sitespeed `cli.js` is parsing `--chrome.android.deviceSerial` as integer

[2021-10-20 13:19] Icecold777 opened #3489 "visualElements in scripts for different pages"
Hello,

Please shed some light on if this parameter --browsertime.scriptInput.visualElements works with a scripted scenario approach.
I mean is it possible to specify selectors of different pages' elements at the start command.

[2021-10-20 13:41] soulgalore commented on #3489
Hi @Icecold777 I think the best way is to annotate your elements with elementtiming instead if they change between different pages checkout https://www.sitespeed.io/documentation/sitespeed.io/video/#collect-visual-elements-metrics. Having different/multiple querySelectors per page seems complicated.

[2021-10-20 15:59] Icecold777 commented on #3489
got it. thanks @soulgalore

[2021-10-22 12:19] Miindaugas opened #3491 "Lighthouse report for pages that require authentication"
Hey, I been trying to use the sitespeed lighthouse plugin to generate reports for multiple pages that require authentication.

But every time lighthouse generates a report it tests "login page" and not the actual page.

There is no support to run lighthouse reports on pages that are under login form.?

[2021-10-25 11:41] zhouhana opened #3492 "Open test result page after test run"
Another thing that would make it easier for newbies to understand where to see the test result would be if after the test is run the result opened in the browser. At least on macOS, the terminal command `open <path to HTML file>` would open the page in the default browser.

[2021-10-29 19:52] soulgalore opened #3500 "Change CLI help to give help per module"
Running `--help` today gives you soooo many options. A better alternative could be to run help per category/group.

[2021-11-04 12:58] heavenmyth opened #3504 "graphite cannot receive sitespeed data"
graphite cannot receive sitespeed data

There is no error in the sitespeed execution log
![image](https://user-images.githubusercontent.com/26155539/140316790-3a707da7-57e9-48a2-855a-33d1b410322c.png)

Carbon did not receive performance indicator data
![image](https://user-images.githubusercontent.com/26155539/140317222-52e93bf7-1679-4370-84ae-c681f8eb4229.png)

I don't know where the problem is。

[2021-11-04 14:21] soulgalore commented on #3504
Hi @heavenmyth I need to add FAQ on how to debug, let me do that the coming days. For now checkout https://github.com/sitespeedio/sitespeed.io/issues/3094#issuecomment-662106784

[2021-11-05 21:06] rdaytoncvent opened #3505 "Analysis storer plugin throwing error when graphite is used"
When both the analysis storer plugin is enabled and a graphite host is set, the script throws an error due to `data` being undefined.

I believe the issue began in version 17.8.2.

I have tried the below example with/without using the slug and received the same error.

Example:
`yarn sitespeed.io https://sitespeed.io -n 1 --plugins.add analysisstorer --graphite.host <graphite-host>
`
[code]

[2021-11-06 08:38] soulgalore commented on #3505
Thank you @rdaytoncvent for creating the issue. It seems that I missed to add so we ignore graphite setup messages when storing data. I've made a PR and can release it tomorrow Sunday.

[2021-11-07 12:30] soulgalore commented on #3505
I released the fix in 20.4.2 a couple of minutes ago.

[2021-11-09 14:25] derekzernach opened #3507 "Analysis storer plugin throwing error when InfluxDB is used"
When both the analysis storer plugin is enabled and an InfluxDB host is set, the script throws an error due to data being undefined. Looks similar to this issue.....https://github.com/sitespeedio/sitespeed.io/issues/3505

I have also tested on the latest `20.4.2` tag and get the same result.

[code]

[2021-11-09 14:31] soulgalore commented on #3507
Thank you @derekzernach for creating the issue. I made a PR to fix it and can release it later today!

[2021-11-09 14:55] soulgalore commented on #3507
@derekzernach please try with 20.5.0 and see if it works for you!

[2021-11-09 15:38] derekzernach commented on #3507
@soulgalore Wow, that was fast!! Looks good on my end, thanks for the quick turnaround!

[2021-11-09 15:38] #3507 closed

[2021-11-12 12:22] barryperez opened #3509 "Unable to install plugin at runtime"
Hi!

I'm trying to load the WPT plugin at runtime, following the instructions on the site.

- I've cloned the WPT plugin repo into /sitespeedio/plugins/wpt

- I then try to run as follows (mapping the /sitespeedio folder in):

**docker run --rm -v /sitespeedio:/sitespeed.io:Z sitespeedio/sitespeedio:19.4.1 --plugins.add /sitespeed.io/plugins/wpt**

The following error occurs. Note that the error s

[2021-11-12 14:00] soulgalore commented on #3509
Hi @barryperez thanks for filing the issue, yep the docs (https://www.sitespeed.io/documentation/sitespeed.io/plugins/#mount-your-plugin-in-docker)  looks wrong or its a bug, let me have a go tonight and see what's wrong.

[2021-11-12 15:23] soulgalore commented on #3509
Are you sure you got everything right in your mapping for Docker and the names etc, the example doesn't look copy/pasted?
When I tried it works for me, I did it like this (trying to mimic your example):

[code]

[2021-11-12 17:48] CheRuisiBesares commented on #2652
I would also like to have one prescript that works for all the domains i supply in the url file. ATM I have a bash loop that pairs the url in the file list to the extra param i pass in. I would love to do something like in a prescript

[code]

[2021-11-12 20:28] soulgalore commented on #2652
@CheRuisiBesares can you share a little bit more on how you run, I didn't fully understood? Maybe there's a workaround or maybe we need to add something.

[2021-11-12 21:06] CheRuisiBesares commented on #2652
hey @soulgalore thanks for the response. I have three files in my setup. Here are some to the point versions for context:

`sites.txt` - This is just a list of URLs I want to test that look like this
[code]
`entrypoint.sh` - basically just for each of the sites on the list run the test and also set `--browsertime.url` to the test url.
[code]

`pre.js` - this prescript does something for each site

[2021-11-13 08:54] soulgalore commented on #2652
@CheRuisiBesares you can pass on your own options to your script see https://www.sitespeed.io/documentation/sitespeed.io/scripting/#pass-your-own-options-to-your-script

So I would do like this (testMultipleUrls.js):
[code]

Then you can run it with:
`sitespeed.io testMultipleUrls.js --multi --browsertime.urls https://www.sitespeed.io --browsertime.urls https://www.sitespeed.io/documentation -n 1`

[2021-11-14 11:07] barryperez commented on #3509
Hello @soulgalore - apologies, it was my incorrect usage here - I hadn't run "npm install" - although it wasn't clear that was the problem from the error.

[2021-11-14 11:07] #3509 closed

[2021-11-14 14:48] soulgalore commented on #3509
Np, glad that it works!

[2021-11-15 15:17] CheRuisiBesares commented on #2652
OK this works well enough for what I need. Thanks again!

[2021-11-16 17:47] squibbleFish commented on #3120
I have a very similar error, which I don't think is the user being run in docker, but the command on install not properly installing the chrome driver. After running `npm install` inside of my Dockerfile, this is the log output I get
[code]

This doesn't fail the `docker build` and my container on starting has a similar output of errors as @apache23 . Just some thoughts that for some reason, in an

[2021-11-16 17:54] squibbleFish commented on #3297
Similar error when running `npm install` in my Dockerfile. Running an Ubuntu Focal image. The error I see when running this step is
[code]

Would love to understand why. It's important to note, this error doesn't fail the `docker build` command.

[2021-11-16 18:07] soulgalore commented on #3120
Hi @squibbleFish can you share your Dockerfile so I can reproduce? Thanks!

[2021-11-16 18:17] squibbleFish commented on #3120
<Base Docker File> runs Ubuntu Focal and NodeJS 14.17
[code]

[2021-11-16 18:50] soulgalore commented on #3120
Thanks for sharing @squibbleFish let me have a try tonight and see if I can reproduce and fix it,

[2021-11-16 19:21] soulgalore commented on #3120
@squibbleFish I had a go and it worked for me but I added a work dir `WORKDIR /usr/app` else NoseJS will install in roots folder I think, can you try if that helps? I haven't tried without yet, my machine is slow and it takes a long time to build :)

[2021-11-16 19:23] soulgalore commented on #3120
Also I used  ubuntu:focal-20211006 and then installed NodeJS as in https://github.com/sitespeedio/docker-node/blob/main/Dockerfile

[2021-11-16 19:24] soulgalore commented on #3120
My full Dockerfile for test looks like:

[code]

[2021-11-17 08:01] soulgalore commented on #3120
Ah I see now, the installation gives no error but it fails when you try to start Chrome, let me try again.

[2021-11-17 08:20] soulgalore commented on #3120
@squibbleFish  Ok, running works for me, the thing is that to run Chrome inside docker, there's a couple of different hacks you can do. If you add the flag `--browsertime.docker` (="knowing" that we run in Docker) the Chrome flags  `--no-sandbox --disable-setuid-sandbox` is used.

[2021-11-19 13:02] Behoston opened #3511 "Graphite does not work when env variable set"
[code]

When `SITESPEED_IO_graphite.host` set, sitespeed saves only html reports. I thought it will be sending data to graphite when variable is set, but it's not a main problem.

When CLI argument  --graphite.host=graphite, it will try to connect to graphite, but it tries to connect to 127.0.0.1 (but debug message says that data will be sent to graphite host, but error tells that connection is re

[2021-11-19 14:19] soulgalore commented on #3511
Hi @Behoston thanks for filing the issue.
When the plugin starts, there should be a debug message like
`Setting up Graphite %s:%s for namespace %s`. what values do you get in that case?

When you use _- SITESPEED_IO_graphite.host=graphite_ I wonder if that is the correct path? If it would I think you should get send messages. For the cli, if I look at the code it looks like your parameter graphite

[2021-11-30 16:40] squibbleFish commented on #3120
@soulgalore apologize for the length of time to get back to you. Been away with the holiday and stuff. Is that flag set as part of the `sitespeed` `ENTRYPOINT`? Also, is the error thrown during `npm i sitespeed.io -g` just a red herring?

[2021-12-06 14:14] shaqb commented on #3118
+1 on this feature request! We have a number of sites that sit behind a bot protection manager, and our security team would like us to use add a token to our user agent so that they can whitelist. Currently we can use a hardcoded user agent with the token, but every time we upgrade the version of sitespeed.io (and subsequent browser) we have to change the user agent in our config. Being able to ap

[2021-12-06 20:08] soulgalore commented on #3118
Let me have a look later this week see if there's an easy way to implement it.

[2021-12-08 04:39] heavenmyth opened #3521 "Execute sitespeed in gitlab, the -d parameter is invalid"

[2021-12-08 04:42] heavenmyth commented on #3521
![image](https://user-images.githubusercontent.com/26155539/145149436-dd08d4e3-5e0c-450f-b998-90882aa2bcd8.png)

[2021-12-08 07:42] soulgalore commented on #3521
Hi @heavenmyth I don't follow, could you please help me by following https://www.sitespeed.io/documentation/sitespeed.io/bug-report/

Thanks!

[2021-12-19 07:32] RollerIn opened #3524 "[HELP] multi browser support and ramps users"
Hello,
can you please let me know ,will this framework supports

scope : desktop ? or includes mobile browsers?

scenarios: login to application—> traverse to multi pages like searching page, order page, …can we implement these kind of scenarios

Thanks

[2021-12-19 09:07] soulgalore commented on #3524
Hi @RollerIn
for scenarions its easiest if you use https://www.sitespeed.io/documentation/sitespeed.io/scripting/ and then if you need you can combine that with Selenium NodeJS browser. That will work for all browsers that sitespeed.io supports. Safari on iOS do not support video at the moment, for the rest of the browsers everything should work.

[2021-12-19 13:08] RollerIn commented on #3524
Thank you @soulgalore ,I will try and let you know

[2021-12-28 09:58] barryperez commented on #2145
Hello @soulgalore, good morning!

We are experiencing the above issue for our current project: we want to use Chrome emulated devices, but we also want to specify a UserAgent, in order to add a string given to us by our security team.

Having taken a look at the commit made in by @eserte to a private fork, referencing this issue - it appears that this change would allow us to optionally specify th

[2021-12-30 07:23] soulgalore commented on #2145
Hi @barryperez in https://github.com/sitespeedio/browsertime/pull/1688 I'm adding so you can append what you want to the user agent, let me do a follow up in browsertime and also fix so that if you set the --userAgent its automatically set for mobile emulation, then I can fix it in sitespeed.io. Hope to fix it the coming weekend.

[2022-01-01 22:53] soulgalore commented on #2145
I released 21.3.0 earlier today that fixes so that --userAgent also will be used for emulated devices.

[2022-01-01 22:54] soulgalore commented on #3118
I released a fix for this in 21.3.0 that works for Chrome and Edge. Use `--chrome.appendToUserAgent` to add extra string to the user agent.

[2022-01-01 22:55] soulgalore commented on #3118
For Firefox I haven't found an easy way to do this. I'll ask Mozilla but the only way I see it right now is to start the browser, get the user agent, stop the browser and start a new browser with the new user agent.

[2022-01-05 08:43] shaqb commented on #3118
This is awesome - thanks so much @soulgalore !

[2022-01-05 14:43] barryperez commented on #2145
Tested successfully - thank you very much for fixing this @soulgalore!

[2022-01-06 20:42] zer0kool opened #3527 "odd metrics when using --preURL"
## Use-case scenario
my intention was to fill the cache by loading the homepage and then running the test on a category page.

## Questionable metrics
Filmstrip:  [Bed Bath & Beyond](https://4007ftte7ouct8f30vts4rh1bapj7hl42ta3fda6esnb6581ffp2gb0.siasky.net/pages/www_bedbathandbeyond_com/store/category/kitchen/10002/index.html#filmstrip)
There are some metrics seen in the filmstrip that seem to be

[2022-01-07 12:21] soulgalore commented on #3527
Hi @zer0kool thanks for the bug report!  Your configuration looks good. I usually use the trick https://www.sitespeed.io/documentation/sitespeed.io/scripting/#measure-multiple-pages-and-start-white when I measure a page with filled cache. You need to change then so the first is just a navigation. That will fix your visual metrics (that comes from the video). For example in your filmstrip the first

[2022-01-11 19:56] zer0kool commented on #3527
Hi @soulgalore, that seems to be working. Thank you!

[2022-01-11 19:56] #3527 closed

[2022-01-14 10:21] gregorywolf opened #3531 "GPSI Module Errors"
Hi - I am getting the following error on a regular basis. The error has occurred with both 21.3.0-plus1 and 21.4.0. My testing consists of either 5 or 7 URLs at a time. I have reviewed https://github.com/sitespeedio/plugin-gpsi/issues/7 and it seems that the issue is that there were too many URLs for a given run, which is not my issue. I am storing the data in Graphite on a separate machine. The o

[2022-01-15 13:41] soulgalore commented on #3531
Hi @gregorywolf that error comes directly from Google Page Speed Insights (GPSI). The "Lighthouse returned error" is an error directly from them, see for example https://stackoverflow.com/questions/55826735/how-to-fix-lighthouse-returned-error-no-fcp-when-running-google-page-speed-t

The machine size will not matter for this error, the GPSI runs Lighthouse on Google servers. Can you reproduce it a

[2022-01-19 10:50] shawneenc opened #3533 "Select value from a html <option> dropdown list"
Hi,

How can i select an option from a dropdown list.  Have tried many things with regards, it is not possible using sitespeed.io commands directly (i.e. .click() on the options locator) and I cannot find a way to import the 'Select' library from selenium to use that code directly.

Have followed the guidelines on using selenium-webdriver with sitespeed.io, but it looks like the 'Select' command i

[2022-01-19 11:20] YuriyGuminskiy opened #3534 "The ChromeDriver could not be found"
Hello everyone!
I ran into the situation when after start of tests from console with node I see the next message "The ChromeDriver could not be found on the current PATH. Please download the latest version of the ChromeDriver from http://chromedriver.storage.googleapis.com/index.html and ensure it can be found on your PATH". I downloaded  chromedriver.exe for my version of Chrome (Version 97.0.469

[2022-01-19 11:48] Icecold777 opened #3535 "CrUX origin data is not fetched (or aggregated improperly)"
Hello,

I'm trying to fetch URL and ORIGIN data for a specific page with multiple form factors.

Here is my command which works fine (mean no any error is returned)
sudo docker run --rm -v /home/centos/web-perf/sitespeed:/sitespeed.io sitespeedio/sitespeed.io:21.5.0 --crux.key AIzaSyALNYAZNdEoU0HIlgwYtSooC7r_jbbYq04 --crux.collect ALL --crux.formFactor DESKTOP --crux.formFactor PHONE --crux.formFa

[2022-01-19 12:09] soulgalore commented on #3533
Hi @shawneenc I usually follow https://www.sitespeed.io/documentation/sitespeed.io/scripting/#finding-the-right-element to find the elect and then click by xpath. In one of our current tests we do that with our Grafana instance checkout https://github.com/sitespeedio/dashboard.sitespeed.io/blob/main/tests/desktop/spa.js

[2022-01-19 12:15] soulgalore commented on #3534
Hi @YuriyGuminskiy hmm Chromedriver should be downloaded automatically when you run `npm install`, did you see anything in the install log?

You can try to point out the Chromedriver directly using: `--browsertime.chrome.chromedriverPath` and then add the exact path to your downloaded version, hope that helps!

[2022-01-19 12:19] soulgalore commented on #3535
Hi @Icecold777 I think only per page is implemented for Influx, I haven't done anything for https://github.com/sitespeedio/sitespeed.io/issues/3106 hoping there will come a PR one day :)

[2022-01-19 12:41] shawneenc commented on #3533
Hi soulgalore,

I have tried every locator possible with .click(), full xpath, rel xpath, id, selector, etc.  None are recognised and that specific command is ignored.  I also tried all the locators with the code from here : https://github.com/sitespeedio/dashboard.sitespeed.io/blob/main/tests/desktop/spa.js:

[code]

No joy

I can select the parent field for the dropdown and expand it, but am not

[2022-01-19 12:53] soulgalore commented on #3533
Can try with just running JavaScript directly (https://www.sitespeed.io/documentation/sitespeed.io/scripting/#jsrunjavascript)?

For example if I go to:
https://www.w3schools.com/tags/tryit.asp?filename=tryhtml_select - the id of the select is _cars_.

I can change/choose the dropdown with `document.getElementById("cars").value = "saab";`

[2022-01-19 12:58] shawneenc commented on #3533
I have tried using javascript directly with document.  - I had many errors on trying to set this up to run properly.

Can you let me know the code to insert to run this within my script?  I.e. the command that will actually allow me to use and import document. ?

[2022-01-19 13:06] soulgalore commented on #3533
If you run `commands.js.run('window,document.getElementById("cars").value = "saab"'); ` that will run directly in the browser, so that document should be defined.

[2022-01-19 13:15] shawneenc commented on #3533
Thanks @soulgalore, I can see that this is navigated to, but not actually selected the option I require.  When I perform the next action, it switches back to the default selection.  How can I actually select this option when I have navigated to it?

[2022-01-20 10:26] Icecold777 commented on #3535
ah, forgot about that. Thanks, @soulgalore :)
and thanks me for providing a workaround in #3106 :D

[2022-01-20 16:34] Icecold777 commented on #3535
Hey, @soulgalore
Please help with adding Graphite tags

Here is my command:
sudo docker run --rm -v /home/centos/web-perf/sitespeed:/sitespeed.io sitespeedio/sitespeed.io:14.1.0 --crux.key AIzaSyALNYAZNdEoU0HIlgwYtSooC7r_jbbYq04 --crux.collect ALL --crux.formFactor DESKTOP --crux.formFactor PHONE --crux.formFactor ALL https://www.sitespeed.io/ -n 1 **--graphite.host 173.35.28.183 --graphite.port 3

[2022-01-20 18:49] shawneenc commented on #3533
Hi @soulgalore,

Do you have any other suggestions?  Is there any way to import the library and use the 'Select' command from selenium-webdriver

[2022-01-20 20:04] soulgalore commented on #3533
Hi @shawneenc you can use https://www.sitespeed.io/documentation/sitespeed.io/scripting/#use-selenium-directly. I haven't used "Select"-command can you share a link to it in the docs, I cannot find it in https://www.selenium.dev/selenium/docs/api/javascript/ ?

[2022-01-21 09:52] shawneenc commented on #3533
Hi @soulgalore,

I have gone through those links last week, not useful, or helpful.  From here (https://www.selenium.dev/selenium/docs/api/javascript/) there is no command available to use 'Select' from the selenium-webdriver libraries.  Just to confirm from sitespeed's point of view, there is no way to complete what I am trying to do?

[2022-01-21 10:24] soulgalore commented on #3533
Hi @shawneenc that second link I shared is from Selenium, that's why I asked you to show me the 'Select' command so I can help you how to use it? If you can do that please, I can show you how to import/use it.

Most is doable with straight JavaScript or Selenium, but its hard to help you if I don't have a full working example following https://www.sitespeed.io/documentation/sitespeed.io/bug-report

[2022-01-21 10:35] shawneenc commented on #3533
Apologies @soulgalore ,

The following is the selenium-webdriver code that works (I have run this code):

[code]
This is the library used to import 'Select' for selenium-webdriver: import org.openqa.selenium.support.ui.Select;

I have shared the code i am running in a previous comment.  Here it is again, please note that I cannot provide details from my company's system, i.e. login details, or act

[2022-01-21 11:55] soulgalore commented on #3533
Ah I see, it's implemented in the Java flavour but not for JavaScript/NodeJs version of Selenium.

I think in pure JavaScript this would work:
[code]

[2022-01-21 12:18] soulgalore commented on #3533
If this works I can add a command for it in sitespeed.io to make it easier to use.

[2022-01-21 13:26] YuriyGuminskiy commented on #3534
Hi @soulgalore! Your solving with directly exact path of chromedriver.exe is working. Thanks for the help!)))

But when I installed with "npm install" I don't remember something wrong in install logs. Maybe reinstalling will help me?

[2022-01-21 14:09] shawneenc commented on #3533
Hi @soulgalore ,

Unfortunately that doesn't work :-(.  It does not make the selection on the value I have asked for.

I will go away and try to figure out another work around

[2022-01-21 14:26] soulgalore commented on #3533
@shawneenc can you share a simplified HTML page of your use case that fail when you test? When I tested the code on my tests it worked, so it's  something that differs.

[2022-01-21 14:39] shawneenc commented on #3533
Hi @soulgalore,

Here is the HTML code:
![image](https://user-images.githubusercontent.com/55998417/150545646-3628b247-0283-4d7f-8dc3-baae3f2175b5.png)

[2022-01-21 14:40] shawneenc commented on #3533
Hi @soulgalore ,

Here is the HTML code:
![image](https://user-images.githubusercontent.com/55998417/150545824-7cacf9d9-7da9-4618-be92-aab397505c72.png)

[2022-01-21 14:46] shawneenc commented on #3533
When a user navigates to the page I am testing, the dropdown has a default value set within it, a user has to manually expand the dropdown and select another value to change it.

When I run the code and watch it, I can see that it hovers over the selection I want, **but it doesn't actually select, or click on it.**  When the next action is performed within the code, i.e. clicking on a different fi

[2022-01-21 15:10] alexvolk001 opened #3542 "The Cumulative Layout Shift doesn't follow Web Vitals limits. What limits does it use?"
Hi,
I compared the Web Vitals limits and the results I'm getting in reports. I noticed that the Cumulative Layout Shift doesn't follow Web Vitals limits. What limits does it use?
The google document says the way to calculate CLS was updated.
It would be great to add more information on how the metrics are calculated to the metrics section on the website.

Thank you.

[2022-01-21 20:49] soulgalore commented on #3534
@YuriyGuminskiy if you have time and could try to reinstall and check the logs it would be great. Maybe there's a bug that needs to be fixed :)

[2022-01-21 21:13] soulgalore commented on #3533
Hmm, I did a simple test and it work for me. I have a select that looks like this:

[code]

I serve the page locally and run a script like this (just to see that the values changes):

[code]

[2022-01-21 21:18] soulgalore commented on #3542
Hi @alexvolk001 I think I missed update the documentation the code was changed with the 5s limit in 17.8 https://github.com/sitespeedio/sitespeed.io/blob/main/CHANGELOG.md#1780---2021-06-04. Let me update the docs this weekend and thanks for the ping.

[2022-01-21 23:10] shawneenc commented on #3533
Hi @soulgalore ,

Are you performing another action after the select?  Also does the dropdown you are working with have a default value?

You need to run your code against a dropdown list that has a default value in place, then you need to select a different value.  You then need to perform another action on the page, i.e. by select another element on the page.  Then verify that the default value

[2022-01-22 13:40] soulgalore commented on #3533
Yes it all works for me. Maybe you have some JavaScript that runs on the site that changes it back? If you could share a full example that I can run locally where it do not work, then I can help you fix it.

[2022-01-23 13:50] shawneenc commented on #3533
Hi @soulgalore ,

I have found a method that works, it is navigating to each report, setting the values at the end of the URL, like :
'https://my-url-dev.com/val/rep/report-type?start=2021-05-03&end=2021-08-05&preset=presetCustom'.  I have done this once with 1 report, setting the full url once at the start of the script.  The problem is that there are 19 reports.

Would need to iterate through ea

[2022-01-25 09:59] Icecold777 commented on #3535
Hi, @soulgalore. Please help with the question above. I still can't sort out this problem.

[2022-01-25 10:12] soulgalore commented on #3535
Hi @Icecold777 sorry I missed your question. In your screenshot , that are the keys for the metrics that are sent to Graphite. Graphite use keys to store data. Annotations are events (see https://www.sitespeed.io/documentation/sitespeed.io/graphite/#annotations) so when you add `--graphite.annotationTag ssv=SSV-20.4.1` the actual metric key will not change.

[2022-01-25 11:59] Icecold777 commented on #3535
@soulgalore, so if I use Influxdb graphite endpoint it's pretty expected, that annotation events won't be populated into the database?
My screenshot shows the output of tcp-server.js (from sitespeed.io repository). I thought that it catches everything sent by sitespeed.io but there is no sight of annotations. That's why I have a question if I configured the start command correctly.

[2022-01-25 13:08] soulgalore commented on #3535
Ah I see. Graphite has two different end points, for one metrics and one for annotations. To send annotation you need set the `--resultBaseURL ` (see https://www.sitespeed.io/documentation/sitespeed.io/graphite/#annotations). The reason is that the annotation includes a link to the HTML result, so it needs to know where the HTML is stored. If you you need annotations with just some specific tags,

[2022-01-31 15:35] vishallanke opened #3548 "[Help Required] Is there a way to import Selenium Library in Sitespeed"
### Your question

Is there a way to import Selenium Library in Sitespeed ?
Automation code working inside Selenium does not directly work in Sitespeed

[2022-01-31 17:25] soulgalore commented on #3548
Hi @vishallanke sitespeed.io needs to be in control of starting the browser, control the settings etc so using a pre-made Selenium script that runs directly with only Selenium will not work.

Checkout the documentation https://www.sitespeed.io/documentation/sitespeed.io/scripting/#use-selenium-directly where we provide the driver and selenium driver object. Is that enough for you or do you need so

[2022-01-31 21:01] #3542 closed

[2022-01-31 22:24] alexvolk001 opened #3550 "The "Pages" report in the header says 5 reports analyzed, but only shows the results of 4 measurements."
### Your question

I'm running the script. Script is below. It has to do 5 measurements (4 web pages and 1 site search). The script runs, I can see it in Command Prompt window it does all the measurements. But at the end it gives me errors, see below.  In "Page" report header says 5 pages measured, but I can see only 4 results.
What do I need to change to make it work?

Thank you.
Alex.

==Script=

[2022-02-01 07:25] soulgalore commented on #3550
Hi @alexvolk001 my guess is that one of the clicks do not generate a new page? How the HAR is generated depends on what browser you use. Firefox generates the HAR through a plugin, for Chrome and Edge it's generated through the trace log. If you run the test on your local computer and watch the screen, do the script do what's intended?

[2022-02-01 16:30] alexvolk001 commented on #3550
Hi, I'm using the Chrome. I'm also suspecting the XPath (I'm planning to do selenium). But usually when XPath is wrong I get an Error message that either element can't be located or something else (don't remember the message).
I changed the script a little. I broke it in two scripts. Now the first scrip is doing the measurements of the pages, the second one navigates to the same pages and then tak

[2022-02-01 18:25] soulgalore commented on #3550
Ok, hmm I wonder if there's a bug when you hit the same URL twice? I tried reproduce with
[code]
but that worked for me. If you leave out that last step _Site450_  does it work?  Is the  _Site450_ the same URL as the one exact before? I tries with

[code]

And that also worked. Any chance you can share a full working example so I can reproduce?

[2022-02-01 20:39] alexvolk001 commented on #3550
It is the same page. The idea of the app is to display all different Metrics in the same page. The application is using ReactJS. Every time I'm selecting a new Site, the new results are displayed in the same page, the url doesn't change.
I tried again. Only the second part of the script. Navigating to URLs and then performing Site450 metrics test. Result is below.
I also created the Selenium-Java

[2022-02-01 22:43] gregorywolf opened #3551 "Font Data Not Collected"
### Have you read the documentation?

- [X] Yes, I've read the [how to make a reproducable bug guide](https://www.sitespeed.io/documentation/sitespeed.io/bug-report/)
- [X] Yes, I've read the [how to debug my script guide](https://www.sitespeed.io/documentation/sitespeed.io/scripting/#debug)

### URL

https://www.ferguson.com

### What are you trying to accomplish

My goal is to run a sitespeed te