[2018-05-07 08:50] soulgalore commented on #2020
Hi @amic81
yes I thinks so but I haven't tested it. The context that is passed into the pre/post script holds the options object, that is the parsed version of what you add in the CLI. We don't verify the parameters so you could (probably) add your own. Like `--browsertime.myplugin.hepp paramValue` would then be available as **context.options.browsertime.myplugin.hepp** in your plugin. At least I

[2018-05-07 12:53] #2019 closed

[2018-05-07 14:03] amic81 opened #2021 "Post script"
Hi,

could you add the possibility to run a script at the end of the whole analysis?

Virtually after

Example
**Finished analysing http://www.sitespeed.io**

a type parameter

**- postScript**

(and maybe even a generic **--preScript** ...)

Best
amic81

[2018-05-07 14:34] scabenga opened #2022 "Issue with --browsertime.pageCompleteCheck"
Hi,

I've got a problem with the --browsertime.pageCompleteCheck option.  It seems that when building the docker image myself from the published dockerfile, this option is not working:

As you can see from the below the JQ is not wrapped by single quotes (bold) and thus gives the error

`docker run --shm-size=1g --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeedio sitespeed.io/urls.txt --browser

[2018-05-08 05:06] amic81 commented on #2021
Hi,

I would need to be able to run my own script at the end to perform various final operations (for example save me only the browsertime, call my API for data processing, etc ...)

In the sitepeed project I could not find the file context.index, where is it?

Buy and thank you for the support.

amic81

[2018-05-08 05:14] amic81 commented on #2011
Hello,

it would be possible to overwrite (from the outside) the regular expression

[code]

so that people like me do not pass from Graphite but only use influxdb can save $group with the character **'.'** and not **'_'**?

Thank you
amic81

[2018-05-08 06:13] soulgalore commented on #2011
No but I think we can do it configurable, so we keep it as default and then by config you can change to a dot? Do you have time to do a PR, I can guide you?

Best
Peter

[2018-05-08 06:17] soulgalore commented on #2021
Checkout https://github.com/sitespeedio/sitespeed.io/blob/master/test/prepostscripts/postSample.js#L2 that's the context object where we pass on data to pre/post taska. So try it out, write a simple post task and log the index (the iteration, we should rename that so it is clear):

[code]

Best
Peter

[2018-05-08 07:07] TJ71 opened #2023 "Browserify - conflict of interests"
So I have a small challenge... A developer has recently added [Browserify](http://browserify.org/) to a few of the sites that we monitor with Sitespeed.

The outcome of using it is I'm getting very little sight of whats actually loading on the page. The HARs show 5-6 items when I know the pages contain far more.

My 'toplist' and 'assets' show plenty, so I'm maybe being overly concerned when there

[2018-05-08 07:25] amic81 commented on #2021
Ok,

but (for example) I would need browsertime.har and this file is not present on the container at the time of the postscript launch... I think it would serve a command like --finalScript launched after (at the end of the analysis ... - Finished analysing http://www.sitespeed.io -)
Do you think it's a good idea?

Thanks
amic81

[2018-05-08 07:29] soulgalore commented on #2021
I see, then you can build a plugin: https://www.sitespeed.io/documentation/sitespeed.io/plugins/#how-to-create-your-own-plugin - then you can pickup the metrics you want and do whatever you need. All functionality in sitespeed is built upon plugins, so you can find inspiration there.

Best
Peter

[2018-05-08 10:59] amic81 commented on #2021
Thank you,

I'll try the way of the plugin. In this regard, is it possible to pass external parameters to the plugin?

Example
--plugins.add /myplugin **param1**

Thank you
amic81

[2018-05-08 13:51] guifreitag commented on #915
Is there a way to provide first party regex when using url's in a separate file?

[2018-05-08 13:58] soulgalore commented on #2021
Hi @amic81
pass them like `--myplugin.param1`, the options object is passed to the plugin. Check the plugins folder for inspiration: https://github.com/sitespeedio/sitespeed.io/tree/master/lib/plugins

Best
Peter

[2018-05-08 14:01] soulgalore commented on #915
Hi @guifreitag yep that should just work out of the box? `sitespeed.io myFile.txt --firstParty ".*sitespeed.*"` but the regex is the same for all URLs.

Best
Peter

[2018-05-08 14:43] Icecold777 opened #2024 "InfluxDB annotation tags"
Hi there,

Could you please explain why do you append (actually rewrite) category influxdb tag in annotations only?
That means it's not possible to add manually submitted tags with --influxdb.tags

[2018-05-09 06:31] fayazmd commented on #1490
I have similar issue, I am currently using windows OS, so using oracle VM toolbox, and trigger the sitespeed.io and wiki_barack_obama tests. Looks like I am able to run the test, but unable to view the reports.

Note: I have mounted my local drive on the virtual toolbox and copied the reports and trying to open those reports in my local machine (windows) to view reports, but not opening.

[2018-05-09 06:45] soulgalore commented on #1490
@fayazmd and the fix in https://github.com/sitespeedio/sitespeed.io/issues/1265 didn't help?

[2018-05-09 06:47] soulgalore commented on #2024
Hi @Icecold777
I'm not following completely. Do you mean that when you add --influxdb.tags they aren't added to the  metrics at all until you add annotations? Can show us how you run (what parameters you use)? And also if you can show the result so I understand what's wrong :)

Best
Peter

[2018-05-09 09:20] aprak7 opened #2025 "How to get WebPageTest Script data in grafana ?"
Hi -
I have done the setup for WebPageTest + Sitespeed + Graphite + Grafana.

Issue -->  I am not able to see metrics for URLs passed in WPT Script in grafana. Metrics are visible only for the URL that is passed with sitespeed. WPT Script has a user journey in continuation with the URL being passed in Sitespeed {{URL}}. Below is the configuration and the command which are being used to trigger the

[2018-05-09 10:26] soulgalore commented on #1490
Yes please open a separate issue. It seems it cannot reach the IP you are using?

[2018-05-09 10:35] fayazmd commented on #1490
IP is reachable and I am able to login to my application manually. And yes, will open a separate ticket, as my purpose is fulfilled at this thread (i.e., viewing reports)

[2018-05-09 11:26] soulgalore commented on #1490
Yeah but you are hijacking a closed issue :) Please create a new issue where you explain your problem and verify that you had done the fix for CSP referenced in this thread.

Thanks
Peter

[2018-05-09 22:01] soulgalore commented on #2025
Hi @aprak7
by default we only send a couple of cherry picked metrics to Graphite to not overload it, but you can choose what metrics to send, here's the documentation: https://www.sitespeed.io/documentation/sitespeed.io/metrics/

It's a little bit tricky so let me know how it works out, but now when I think about it I wonder if we don't send user defined metrics by default? If you open Grafana and

[2018-05-10 06:59] amic81 commented on #2011
Hi, that's great. I have time to manage a PR.
Guide me as well.

amic81

[2018-05-10 09:31] Icecold777 commented on #2024
Hi,
I mean that tags added with --influxdb.tags are not added to annotations at all.
When I use _--influxdb.tags category=APAC,build=2.12.2_ category tag is updated while build tag don't appear in events table and appear in all other tables.

it happens because of following lines in send-annotation.js
const keyAndValue = row.split('=');
if (keyAndValue[0] === 'category')tags += `,${keyAndValue[1]}

[2018-05-10 21:45] GeekZebre opened #2027 "Node.Js Windows 10 x11grab x11grab dont work on windows"
Hello,

**This is the error.**

[2018-05-10 21:44:06] DEBUG: [root] Change background color to orange
[2018-05-10 21:44:07] TRACE: [root] Unknown input format: 'x11grab'

    at Socket.readableStream.on.data (C:\sitespeed.io\node_modules\browsertime\lib\video\screenRecording\desktop\ffmpegRecorder.js:43:13)
    at emitOne (events.js:121:20)
    at Socket.emit (events.js:211:7)
    at addChunk (_st

[2018-05-11 06:58] amic81 commented on #2011
Hi,
I made the requested changes, currently in my local branch.

I would like to be able to push this branch so that I can request the PR ... or I have to open a fork of the project (https://help.github.com/articles/creating-a-pull-request-from-a-fork/) and then request the PR later?

Let me know how you prefer it to proceed.

Thank you
amic81

[2018-05-11 07:02] soulgalore commented on #2011
Cool, I think the easiest way is to do it like this: Fork the project, create a branch in your fork, add your changes there, push your branch to Github, and then you can use the Github gui to make the PR to sitespeed.io

[2018-05-11 07:14] soulgalore commented on #2024
Aha I see, we miss out on them. Is it possible for you to do a PR to master (and then I can cherry pick and also add it to the current 6.x) and I can release it?

[2018-05-11 07:16] soulgalore commented on #2027
Hey @GeekZebre
we only support Windows through Docker (https://www.sitespeed.io/documentation/sitespeed.io/installation/#windows-1). The reason is that we don't have a core contributor that runs Windows.

Best
Peter

[2018-05-11 08:59] amic81 commented on #2011
Done.

I hope I have done everything correctly. ;-)

[2018-05-11 18:21] abhinavn opened #2029 "[Feature Request] Ability to view browser console log errors in HTML report and Grafana"
Currently sitespeed.io doesn't have ability to show errors from browser console log. However browsertime does have ability to capture this data(using --chrome.ConsoleLog flag). Request is to parse this data from browsertime and add the details to 1)HTML report 2) Graphite. One can build Grafana page to show errors and link reports to the HTML report over period of time.

I would visualize being ab

[2018-05-12 20:11] idristarwala opened #2036 "Slack Summary - ERROR: Error: read ECONNRESET"
I am trying to run the following command :-
docker run --shm-size=1g --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io:6.5.4 https://www.sitespeed.io/ --slack.hookUrl <WEB HOOK URL> --slack.type summary

and I am running into the following errors :-
at _errnoException (util.js:1022:11)
    at TLSWrap.onread (net.js:615:25)
    at TLSSocket.Readable.on (_stream_readable.js:772:35)
    at tick

[2018-05-12 20:28] soulgalore commented on #2036
Hi @idristarwala

Inside the Docker container? Is your configuration pointing to localhost? Localhost inside your container means only in the container, not the physical server. Or what does your config look like?

Best
Peter

[2018-05-12 20:34] idristarwala commented on #2036
so I am setting following environment variable :-
export http_proxy=<proxy>
export https_proxy=<proxy>
but for some reason the slack API within the container is not picking up the proxy ... I was referring to the guide on https://slackapi.github.io/node-slack-sdk/web_api section #Custom agent for proxy support... I am not sure though how to apply it to sitespeed package.. I am quite new to this pl

[2018-05-13 06:07] soulgalore commented on #2036
I think you can think about the container as an isolated world: things you have set on the host machine isn't reachable. You need either feed the container the configuration at startup.

Also in the example you need install a custom library:  `npm install --save https-proxy-agent` and that needs to also happens in the container + you need to modify the code right?

`const web = new WebClient(token

[2018-05-13 08:45] soulgalore commented on #2024
@Icecold777 that was perfect thanks a lot!

[2018-05-14 15:07] gpapis opened #2038 "Error with graphite"
Hi, I created a VM with Ubuntu 17.10. On this VM I installed sitespeed.io and work correctly. Unfortunately, my VM arrived to the max of memory and I can't extend it. So I've delete folders with results... Now I've a problem when I launch the command
`sudo docker-compose run sitespeed.io http://www.google.com --graphite.host=graphite --cacheClearRaw`

I've this error (and I don't understand why?):

[2018-05-14 17:40] soulgalore commented on #2038
Sorry I accidentally closed the issue. Can you check if Graphite is running? `docker ps`

Best
Peter

[2018-05-15 07:50] gpapis commented on #2038
Hi, I have no container

[2018-05-15 07:59] soulgalore commented on #2038
so hou run Graphite standalone without Docker or how do you mean? Or is not the Graphite container started?

[2018-05-15 08:03] gpapis commented on #2038
The Graphite container is not started

[2018-05-15 08:36] soulgalore commented on #2038
Ah I see. You need to start that first with Docker compose. But first I think you should read https://www.sitespeed.io/documentation/sitespeed.io/performance-dashboard/#production-guidelines - that's guidelines, things to think about when you setup to collect metrics.

Best
Peter

[2018-05-15 09:09] gpapis commented on #2038
Ok, I'm going to see your link, but why can't I use this method ?
[https://www.sitespeed.io/documentation/sitespeed.io/performance-dashboard/#up-and-running-in-almost-5-minutes](https://www.sitespeed.io/documentation/sitespeed.io/performance-dashboard/#up-and-running-in-almost-5-minutes)

[2018-05-15 10:04] soulgalore commented on #2038
Ok, then follow the instructions and start Graphite :)

First make sure that you have started Graphite/Grafana etc
`docker-compose up -d`

Verify that they are running with `docker ps`. If they do not run, you cannot send metrics to it.

Then fetch metrics and send them to Graphite:
`docker-compose run sitespeed.io https://www.sitespeed.io/ --graphite.host=graphite
`

[2018-05-15 11:28] gpapis commented on #2038
I have a new error when made :-(
`docker-compose up -d`

`ERROR: for graphite  Cannot start service graphite: driver failed programming external connectivity on endpoint test_graphite_1 (14f9c2bf85d04adc259cfe1cec94024cdbb31b5e872eb2f4d1fa1371646abe50): Bind for 0.0.0.0:2003 failed: port is already allocated
ERROR: Encountered errors while bringing up the project.`

It's good for the first : test_

[2018-05-15 12:30] gpapis commented on #2038
It's good now, I've changed ports in docker compose file.
Thank you very much for your help

[2018-05-15 12:30] #2038 closed

[2018-05-15 22:34] stephendonner opened #2040 "Sitespeed 7.0.0-alpha.2 hanging in DEBUG: [root] Converting video to viewable format."
Hello!  I was trying out 7.0.0-alpha.2 today, and it's still hanging on this line:

[code]
I'm running with the following commands in Jenkins:

[code]
I've attached a screenshot of it in Jenkins, as well as the full logfile.

<img width="1792" alt="screen shot 2018-05-15 at 3 29 11 pm" src="https://user-images.githubusercontent.com/387249/40086962-6bfbcf54-5855-11e8-91a2-ada21a5d656e.png">

[sites

[2018-05-16 05:53] soulgalore commented on #2040
Hey @stephendonner thanks for the report!

There's two errors, I will look at why it hangs and try to reproduce. The first error in the log is that the URL hasn't loaded. In Browsertime 3 we switched default pageLoadStrategy to use **none** from **normal**. I wonder if that could be the original problem? Can you help me by trying again and adding one extra flag `--browsertime.pageLoadStrategy norm

[2018-05-16 06:00] soulgalore commented on #2040
Ohh I could actually reproduce the error (not loaded), but the loadStrategy didn't help. Let me look into it.

Btw you can skip running  **--privileged** it could be some old documentation left somewhere that needs to be changed.

[2018-05-16 06:15] soulgalore commented on #2040
It works when running standalone nodejs (both stable/beta/nightly) and rolling back to old Firefox 54 in Docker. But for FF beta-3 61 it fails. I wonder if it could have something to do with the popup. I'll have a look again tonight.

[2018-05-16 07:26] soulgalore commented on #2040
No the problem was like this: In Browsertime 3.0 we introduced JavaScript navigation (instead of WebDriver). For Chrome it seems that waiting 1s before navigation has started is enough but for Firefox (at least in Docker) you need to wait longer (that was the case in your situation @stephendonner ). I've updated so wait longer for Firefox to get ready. Released 7.0.0-alpha.3 just now.

[2018-05-16 15:57] stephendonner commented on #2040
@soulgalore thanks, as always; and I'll see if I can find and fix the doc(s) which referenced --privileged!

[2018-05-16 20:42] jab2805rakuten opened #2041 "Cert issue on internal url."
Trying to test internal dev site with no cert  I get the belo errors.

docker run --shm-size=1g --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io:6.5.4  https://dev1.nj01/index.jsp --browsertime.chrome.args ignore-certificate-errors --firefox.acceptInsecureCerts --browsertime.firefox.acceptInsecureCerts
Google Chrome 63.0.3239.132
Mozilla Firefox 54.0.1
[2018-05-16 20:40:42] INFO: Versions O

[2018-05-16 20:57] soulgalore commented on #2041
Hi @jab2805rakuten is the URL you use reachable from within Docker?

Best
Peter

[2018-05-16 22:12] stephendonner commented on #2040
Hrm; just tried with 7.0.0-alpha.3, and have the same/similar issue:

[code]

[2018-05-16 22:16] stephendonner commented on #2040
Also, did you want me to remove --privileged from https://github.com/search?q=org%3Asitespeedio+privileged&type=Code or just certain files?

[2018-05-16 23:30] GeekZebre commented on #2027
I understand.

Since those few days, I'm trying to run on Windows 10 with NodeJs.

I can contribute my work but I think I need help to finish.
I can not determine the expected results of ffmeg commands.

What a core contributor must do ?

Thanks.

[2018-05-17 03:50] soulgalore commented on #2040
Thanks for testing again @stephendonner ! From the log it seems like the first error (navigating to the page) is fixed, so far so good.

I haven't looked into the other thing yet (that it got stuck), I couldn't reproduce yesterday. But I didn't look through that code either. What base OS are you using?

No you don't need to fix those privileged: some are from an old repo, when we push the next ver

[2018-05-17 12:51] jab2805rakuten commented on #2041
Yes it is. Thanks

On Wed, May 16, 2018 at 4:57 PM, Peter Hedenskog <notifications@github.com>
wrote:

[2018-05-17 13:08] soulgalore commented on #2040
@stephendonner could you try again when you have time? I've added some more logging and a try catch but I couldn't see anything wrong with the code, but if you could run and catch the log it would be really helpful.  I haven't done a release but if you can try our autobuild:

`docker run --rm --privileged --shm-size=1g -v ${WORKSPACE}:/sitespeed.io sitespeedio/sitespeed.io-autobuild:latest --outpu

[2018-05-17 21:58] stephendonner commented on #2040
@soulgalore absolutely; sorry for the delay!  Here's the full log, so far:  https://gist.github.com/stephendonner/486337f21d0548fd8798dce94807940a

Snippet:

[code]

[2018-05-18 05:51] amic81 opened #2043 "Display har - PerfCascade"
Hi,

I saw that to display the har used perf-cascade.

But on various browsers (Edge 41.x, chrome 66.x) I detected various anomalies ... is there a reason why you chose this library?

thanks
amic81

[2018-05-18 05:56] soulgalore commented on #2040
Thanks @stephendonner hmm no luck there but it looks like it could help by turning off stdin, we missed that https://stackoverflow.com/questions/16523746/ffmpeg-hangs-when-run-in-background

I'll make a patch later today. Thanks for taking the time to try things out.

[2018-05-18 06:54] stephendonner commented on #2040
@soulgalore anytime!

[2018-05-18 07:45] soulgalore commented on #2043
Hi @amic81 ,
PerfCascade is the only modern open source HAR viewer I know about that displays the HAR waterfall using SVG, I think it's pretty awesome!

I haven't seen any bugs with Chrome 66. Could you please create one individual issue for each browser in https://github.com/micmro/PerfCascade/issues/new

Please provide a screenshot if that will help, describe the error and check if you see an er

[2018-05-18 08:31] soulgalore commented on #2040
There's a new version on Docker hub, just make sure you pull the latest again.

[code]
Annoying that I cannot reproduce. The fix is ignoring stdin for ffmpeg when we convert the videos, hope that it will make things better.

[2018-05-18 13:35] amic81 commented on #2043
Ok,

I proceed to open a issue.

Thanks Peter
amic81

[2018-05-18 13:40] amic81 opened #2044 "custom plugin - API rest upload file in docker container"
Hi,

I have created a script (launched as a plugin) that starts with the message 'html.finished' just before the end of the processing of sitespeed (INFO: Finished analysing).

This script makes an API call rest that as an operation uploads the file browsertime.har (POST).

[code]

I verified launching the same script on the container (without the processing of sitespeed) and the API works correct

[2018-05-18 14:49] soulgalore commented on #2044
Hi @amic81
no no proxy.

So what does your plugin look like? What message do you act on (https://www.sitespeed.io/documentation/sitespeed.io/plugins/#important-messages)?

FYI  you can use the sitspeed.io log and log what's happening in your plugin. Checkout this plugin how you can get hold of the log https://github.com/sitespeedio/plugin-third-party-decode/blob/master/lib/index.js#L15 - then when

[2018-05-18 18:05] stephendonner commented on #2040
Thanks, @soulgalore - it's now running and failing, but at least doesn't hang any longer!

Full log: https://gist.github.com/stephendonner/9966d3b3dad2ee9da08b818297881c50

[2018-05-18 19:14] soulgalore commented on #2040
Ah ok thanks again @stephendonner . Wanted to check, are you sure that you cleaned the result dir before you run so you don't have the old data there? The error looks like the video failed because it already exists (since when we set the output dir, we disable the unique directory structure by date. We should maybe add a check for that.

[2018-05-18 20:02] soulgalore commented on #2040
Yep that is the problem, I can reproduce it now. So either if you try to clean the output dir, or use one of Jenkins build number environment variables so each run has it own folder.

I'll do a couple of things: First, try to fix the original problem, then I'll update the Jenkins doc and better help when you set `--outputFolder`.

[2018-05-18 20:09] stephendonner commented on #2040
Yeah, sorry; just back from lunch.  That's definitely the issue.

1. We get an exception when I try to manually delete the workspace
2. I don't see an option to "Clear workspace [before|after] build," for this job, as I've seen in others
3. Trying now to work around this issue more, but am running out of time before PTO!

<img width="1481" alt="screen shot 2018-05-18 at 1 05 26 pm" src="https://us

[2018-05-18 21:13] soulgalore commented on #2040
Pretty confident now that I fixed it when I could reproduce the issue so I released a new alpha:  7.0.0-alpha.4

[2018-05-18 21:53] stephendonner commented on #2040
@soulgalore confirmed FIXED; thanks!

https://gist.github.com/stephendonner/8856e3c2e1f3db6cf2074a44a8f36b7a

<img width="1792" alt="screen shot 2018-05-18 at 2 52 30 pm" src="https://user-images.githubusercontent.com/387249/40259494-27d8a254-5aab-11e8-90ac-be2bbc1d42ca.png">

[2018-05-18 22:00] GeekZebre commented on #2027
Hello @soulgalore

I now run browsertime on Windows with NodeJs. (with chrome and firefox)

But now, I have an issue :
Windows NodeJs visualmetrics.py ffmpeg Segmentation fault
https://github.com/sitespeedio/browsertime/issues/595

I close this issue.

[2018-05-18 22:00] #2027 closed

[2018-05-19 07:13] #2043 closed

[2018-05-19 08:30] soulgalore commented on #2040
Great thanks for testing!

[2018-05-19 08:30] #2040 closed

[2018-05-19 09:59] Icecold777 commented on #2024
Hi, @soulgalore. I see it's merged to master but when I install sitespeed.io with npm or pull the latest Docker image the code is not changed ( there is no fix). Could you clarify this please?

[2018-05-19 10:05] soulgalore commented on #2024
Hi @Icecold777 **latest** we try to keep at the latest stable release. We haven't released any stable since the merge. Master in git is the coming 7.0-

If you wanna try what's in master, use the Docker tag 7.0.0-alpha.4.

With npm it is also an alpha tag, so you need to specify that tag when you install.

Best
Peter

[2018-05-23 02:26] PerfRobo opened #2054 "Sitespeed, Graphite and Grafana in Windows"
Can some one provide us with a quick link to the steps to configure and run the Sitespeed along with the performance dashboard in a windows environment?

Thanks.

[2018-05-23 05:51] soulgalore commented on #2054
Hi @PerfRobo best is to use Docker containers. I think Docker on windows handles paths a little different so you need to read up on https://docs.docker.com/docker-for-windows/

Best
Peter

[2018-05-23 10:04] PerfRobo commented on #2054
Hello Peter, docker is not allowed yet in my workplace environment. Is there any other alternative?

[2018-05-23 11:49] soulgalore commented on #2054
Docker as is or ready made Docker containers? I guess it''s hard to not use the first layer with the OS.

Installing npm works but there's a lot of decencies to keep track of, you can see them if you start in the https://github.com/sitespeedio/sitespeed.io/blob/master/Dockerfile and walk upwards in the FROM section.

[2018-05-24 12:33] livyson opened #2057 "[QUESTION] Is it possible to do interactions?"
Guys,

Is it possible to do interactions after loading a page?

I have a scenario where I need to load a page and measure the loading time to appear a popover after the click on a button. It is possible?

Thank you!

[2018-05-24 12:38] livyson opened #2058 "[QUESTION] Network time influences the test time?"
Guys,

Does sitespeed.io add network time at test times? It is bad because the application may be good in the times, but the bad network ends up influencing the execution time of the application.
If so, how can I separate these times?

[2018-05-24 12:43] soulgalore commented on #2057
Hi @livyson no, try with WebPageTest.org and https://sites.google.com/a/webpagetest.org/docs/using-webpagetest/scripting maybe it can work.

Best
Peter

[2018-05-24 12:43] #2057 closed

[2018-05-24 12:47] soulgalore commented on #2058
Hi @livyson what do you want to measure? :)

Either you set connectivity (try to emulate a specific network time) https://www.sitespeed.io/documentation/sitespeed.io/connectivity/ or if you want to make sure to eliminate network/backend problems as much as possible, try out WebPageReplay - https://www.sitespeed.io/documentation/sitespeed.io/webpagereplay/

Best
Peter

[2018-05-25 16:28] skhilko commented on #1911
The issue has been fixed in 7.0.0

[2018-05-25 16:28] #1911 closed

[2018-05-25 18:16] abhinavn commented on #1987
@soulgalore i see the issue linked to this is closed, is there documentation i can refer to for passing s3 URL in 7.0?

[2018-05-25 18:19] soulgalore commented on #1987
@abhinavn yes sorry: https://www.sitespeed.io/documentation/sitespeed.io/configuration/#the-options scroll to the s3 params:

Checkout --s3.params (https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/S3.html#upload-property) and --s3.options (https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/S3.html#constructor-property) I hope they will help?

Best
Peter

[2018-05-25 18:51] abhinavn commented on #1987
@soulgalore yes, got it by looking as S3 documentation. what i did was use --s3.options.endpoint <custom s3 endpoint>

Closing this as fixed! Thank you!

[2018-05-25 18:51] #1987 closed

[2018-05-25 19:03] soulgalore commented on #1987
thanks @abhinavn for adding how you did it!

[2018-05-26 16:55] soulgalore commented on #2024
This is released in 7.0

[2018-05-26 16:55] #2024 closed

[2018-05-26 16:57] soulgalore commented on #2021
Closing this, let me know @amic81 if it didn't work out for you.

[2018-05-26 16:57] #2021 closed

[2018-05-26 16:58] soulgalore commented on #2020
Closing but let me know if my example didn't work out.

[2018-05-26 16:58] #2020 closed

[2018-05-26 16:58] #2012 closed

[2018-05-26 16:58] soulgalore commented on #2011
Released in 7.0

[2018-05-26 16:58] #2011 closed

[2018-05-26 16:59] #2000 closed

[2018-05-26 17:00] soulgalore commented on #1978
Closing but let me know @DanielRuf if you have other use cases that you think would benefit from Puppeteer.

[2018-05-26 17:00] #1978 closed

[2018-05-26 17:02] soulgalore commented on #1963
Released some time ago, hope it works fine :)

[2018-05-26 17:02] #1963 closed

[2018-05-26 18:53] DanielRuf commented on #1978
What a coincidence. Finished a blog article (currently draft) with some Puppeteer examples beyond my projects which already use Puppeteer.

I also saw that Firefox also has a headless flag on the terminal and already has some headless functions.

Hopefully the others and the webdriver implementation(s) get(s) widely adopted.

[2018-05-28 21:06] mscrivo opened #2060 "selenium selectors not working in 7.0 preScript"
Just upgraded to 7.0 (using the docker image) and discovered our pre scripts stopped working.  It seems that the selenium selectors are not working any more.  I am using using essentially an exact copy of https://www.sitespeed.io/documentation/sitespeed.io/prepostscript/ and it's throwing errors like this:

`[2018-05-28 20:55:15] ERROR: NoSuchElementError: no such element: Unable to locate element

[2018-05-29 05:19] soulgalore commented on #2060
Hi @mscrivo for Firefox and Chrome or one of them? One [change](https://github.com/sitespeedio/browsertime/pull/501) is that we have changed Selenium pageLoadStrategy to none, meaning the driver get hold of the page direct after the navigation instead of waiting for page load, I've missed that in the login script.

Either in your script you can add a wait/test for an element on the page (that shou

[2018-05-29 11:46] fayazmd commented on #1506
Is is still in unresolved state.? Currently, I am using url as follows,

And failing. Is there any work around.?

Note: here **abcuser@xyzcompany.com** is the username and **passwordtest** is the password

[2018-05-29 12:13] shiouen opened #2061 "Basic auth not working in pre-scripts"
Basic auth credentials are not used by pre-script driver.get(<url>).

- Sitespeed 6.2.3: pre script gets stuck at driver.get() forever.
- Sitespeed 7.0.0: pre script continues past driver.get() but the page is not loaded and the driver will be unable to do anything page related (e.g.: add a cookie).

Temporary solution: format the url with basic auth credentials https://username:password@www.examp

[2018-05-29 13:36] mscrivo commented on #2060
Thank you @soulgalore that worked!  I'm running into another issue now ffmpeg, will open a new issue for that one.

[2018-05-29 13:36] #2060 closed

[2018-05-29 13:39] mscrivo opened #2062 "FFmpeg: Invalid duration specification for ss: NaN"
Running the SiteSpeed 7.0.0 docker container with the following params:

`docker-compose run sitespeed.io --graphite.host=graphite -n 3 -d 1 --preScript /preScript/login.js -b chrome <url> -c cable --visualMetrics --video --browsertime.connectivity.engine tc --browsertime.viewPort 1920x1200 --browsertime.chrome.args disk-cache-dir=/dev/null --browsertime.chrome.args disk-cache-size=1 --browsertime

[2018-05-29 16:35] bjacobel opened #2063 "Multi-URL run with network throttling crashes in Docker: "RTNETLINK answers: No such file or directory""
Hello,

I'm using Docker to run Sitespeed with 3G network throttling, and am able to get the run to successfully pass for a single URL. However, the run always fails if I add an additional URL.

I am using:
- ECS-optimized`*` Amazon Linux (RHEL-based) (`amzn-ami-2018.03.a-amazon-ecs-optimized (ami-5253c32d)`)

	  [ec2-user@ip-10-10-1-102 ~]$ uname -a
	  Linux ip-10-10-1-102 4.14.33-51.37.amzn1.x86

[2018-05-29 17:21] Icecold777 opened #2064 "execute sitespeed.io with docker-compose"
Hello,
By default docker-compose.yml contains _command: -V_ line which works as expected. Then I can easily do _docker-compose run sitespeed.io https://sitespeed.io_ and it works perfect but creates new container.

I'm trying to run sitespeed.io reusing the same container after _docker-compose up -d sitespeed.io_.
So I replaced docker-compose.yml line with _command: https://sitespeed.io_ passing t

[2018-05-30 06:33] soulgalore commented on #1506
It should be implemented in the crawler https://github.com/sitespeedio/sitespeed.io/blob/master/lib/plugins/crawler/index.js - and I think Simplecrawler, do you have time to have a go @fayazmd ? I can help out test it?

[2018-05-30 06:40] soulgalore commented on #2063
Hi @bjacobel thanks for all the details in the issue, really good! It really helps when you put so much effort in it. I've been sick the last couple of days and are behind but will have a look asap.

I could reproduce what do running in Docker, running Throttle standalone on Ubuntu works for me. The problem is somewhere in the code where we try to remove all existing interface before we start a ne

[2018-05-30 06:48] soulgalore commented on #2062
Hi @mscrivo thanks for the report.

There couple things here: First there's a bug that we don't find the start of the video, it has happened before but it will be easier to fix now in Browsertime 3.0 because the flow is easier. The thing is though it happens when you run on a really fast connection meaning no connectivity is set.

In your config you run configuration for setting up connectivity fo

[2018-05-30 06:49] soulgalore commented on #2061
Thanks @shiouen let us have look, this should actually be in Browsertime, I will link an issue there. Need to find a good example page(s) behind basic auth so we can have a working example.

[2018-05-30 06:56] soulgalore commented on #2064
Hi @Icecold777
I'm not sure, I need to look into it. Our current Docker setup is built upon creating a new container per test you run. What worked well with that approach is that everything is cleaned up and we know that we start with a new fresh container for each run.

So we don't recommend people running sitespeed.io with docker compose (I'll update the docs, I know its there) since then you pr

[2018-05-30 06:57] soulgalore commented on #2029
This was released in 7.0 but I need to verify that errors in Graphite work as it should. I think we maybe don't send any metrics if it is 0, but let me have a look at that later.

[2018-05-30 07:06] soulgalore commented on #2063
Don't auto close until we verified that it works.

[2018-05-30 12:15] soulgalore commented on #2063
Hi @bjacobel I tried now with our latest build and it works for me, could you verify that it works? We have an autobuild container: **sitespeedio/sitespeed.io-autobuild** so if you run:

[code]
I hope it will work. Then I can make a release ASAP. The root problem is that we have alternative code paths if we run inside of Docker or on Linux and I missed to test the Docker path. I've updated a simpl

[2018-05-30 13:04] mscrivo commented on #2062
Thanks @soulgalore, the only reason we still use tc is because I wasn't aware that it no longer worked.  I changed it to use throttle and that got rid of the above error, but I'm left with a video that is 1s long and essentially empty.  Is that the bug you're talking about?

I'm playing around with the settings, including `--browsertime.pageLoadStrategy normal` to see what the results are.

[2018-05-30 13:36] bjacobel commented on #2063
Heck yeah, that works! Thank you for the quick response!

I'll keep an eye out for the `:latest` build.

[2018-05-30 13:42] soulgalore commented on #2063
Ah good! Actually, we don't recommend using the latest tag :) You can do on your local/testing etc but for putting prod you need to do a exact version so that you know which version you are running (when upgrading etc). I'll push 7.0.1 soon.

Thanks again for the really good bug report, it helps so much when you as a reporter show exactly what you are doing.

[2018-05-30 14:03] soulgalore commented on #2063
I'll push it tonight or whenever npm is up (right now the registry is down). The last couple of weeks has been problems pushing new releases ... I'll ping the thread when the new release is there.

[2018-05-30 18:24] soulgalore commented on #2063
So now 7.0.1 is released: https://hub.docker.com/r/sitespeedio/sitespeed.io/tags/

[2018-05-30 18:36] soulgalore commented on #2062
Hi @mscrivo no the video should be ok. So you got an empty (white?) video that is 1 second long? I wonder if there's then a bug with how we handle preScriptst etc. Yep can you try just changing the pageLoadStategy , if that works, I'll have a look to revert that to using it by default. If not, I'll have a go at it the problem.

Best
Peter

[2018-05-30 18:53] soulgalore commented on #2061
It looks like the problem is in the Browsertime extension: We set the basic auth for the specific URL that you are testing:
https://github.com/sitespeedio/browsertime-extension/blob/master/background.js#L27-L59

But in your case with a login URL that will not work.

@tobli @beenanner do you have an idea of how we can fix that? Can the URL have wildcards or just set on the top domain?

https://deve

[2018-05-30 19:10] abhinavn commented on #2029
@soulgalore let me try this and update you

[2018-05-30 19:32] soulgalore commented on #2058
Closing, let me know if you need more info than the docs.

[2018-05-30 19:32] #2058 closed

[2018-05-30 19:35] soulgalore commented on #1939
In 7.0.0 we (right now) run with pageLoadStrategy none = you can end the test whenever you want (you don't need to wait on onLoad). We maybe will change that, but we will always keep --browsertime.pageLoadStrategy to choose between none and normal.

[2018-05-30 19:35] soulgalore commented on #1939
ping @tufandevrim

[2018-05-30 20:07] mscrivo commented on #2062
Yeah, using 7.0.1, if I don't set pageLoadStrategy to normal, I get a short 2-3s video with mostly orange frames and then the last frame is the beginning of the app loading.  I also get the following errors:

[2018-05-30 19:50:25] ERROR: Error: Command failed: ffmpeg -nostdin -ss NaN -t NaN -i /sitespeed.io/sitespeed-result/app.domain.com/2018-05-30-19-49-33/pages/app.domain.com/mobileui/data/vide

[2018-05-31 12:31] soulgalore commented on #2062
And you added the wait in the login script? I've pushed the change (having normal as default) to dashboard.sitespeed.io and will let it run until tomorrow to know that I didn't introduce something new. Then we can push a new release and rollback to make it easier for everyone.

[2018-05-31 12:36] mscrivo commented on #2062
I did add the wait in the login script.  I'll double check that's working
properly.

On Thu, May 31, 2018, 8:31 AM Peter Hedenskog <notifications@github.com>
wrote:

[2018-05-31 14:03] Icecold777 commented on #2054
I've installed sitespeed.io using npm to Win7 without any problem.
1. download latest LTS .msi (https://nodejs.org/en/download/) and install nodejs
2. npm install --global --production windows-build-tools
3. npm install -g sitespeed.io
4. c:\Users\${USER_NAME}\AppData\Roaming\npm\sitespeed.io.cmd -help

Chrome and Firefox were preinstalled preliminary. Basic functionality works the same way but vi

[2018-05-31 14:19] PerfRobo commented on #2054
Hello Icecold..

Are you running graphite and grafana on win7 as well?

Regards, PK

On Thu, May 31, 2018, 10:03 AM Icecold777, <notifications@github.com> wrote:

[2018-05-31 20:49] tufandevrim commented on #1939
thank you @soulgalore

[2018-05-31 21:08] Icecold777 commented on #2054
Hi PerfRobo. I use influxDB + Grafana installed from some random web guide

[2018-06-01 05:04] soulgalore commented on #2062
We changed now so 7.0.2 use the old pageLoadStrategy, that makes things easier for users in the long run.

[2018-06-01 05:08] soulgalore commented on #1939
FYI @tufandevrim we rollbacked the change since it caused problems for people using preScripts (#2062). But you can still set it yourself, so `--browsertime.pageLoadStratege none` will do the trick!

[2018-06-01 10:51] fayazmd commented on #1506
Hey, I have tried to analysis the index.js file started with question, how are we passing creds..?? and found the lines.. (line no 46 - line no 51),
[code]
 we are basically splitting based on '@' for the input value, https://u:p@domain.com, doesn't it end up at like,  https://u:p in index 0th position and domain.com at index 1st position.?

My query is,
    1) Is that how we really need to consid

[2018-06-01 11:01] soulgalore commented on #1506
Hey @fayazmd you are right, there is an implementation but maybe then not working, sorry I forgot about it and didn't check the code :(

No it should work like this: You supply the basicAuth on the side so you add the URL and the --basicAuth userName@password or --browsertime.basicAuth (we got a shorthand for that) and then we take that option from browsertime and use it in the crawler: https://gi

[2018-06-01 13:38] mscrivo commented on #2062
thanks @soulgalore, appreciate all the help on this.  I'm still struggling to get get consistent runs as I had on 6.5.4, but I'm convinced the problems are on my end, so you can close this if you like.

[2018-06-01 15:51] calebcassel commented on #2060
I had this issue, and as of today it's working again with the latest docker image. :+1:

[2018-06-01 17:26] calebcassel opened #2068 "ERROR: Cannot read property 'pushStart' of undefined"
I'm running with these versions:
 Versions OS: linux 4.15.0-22-generic nodejs: v8.11.1 sitespeed.io: 7.0.2 browsertime: 3.0.16 coach: 2.0.2

Yet for certain pages I'll get the following error:
[code]

This is on Chrome. If I disable HAR then it goes away. I wasn't having this issue on the latest 6.x version.

[2018-06-01 19:06] soulgalore commented on #2062
@mscrivo ok but please open another task if the metrics aren't consistent . I've seen that Firefox gives much more unstable metrics for Wikipedia (even though never version of FF is faster) but I mostly think that's because of how we load our JavaScript, the metrics are also more unstable on a C4.large on AWS than on a 2 cpu optimized droplet on DO. Chrome however are the same as before.

[2018-06-01 19:06] #2062 closed

[2018-06-01 19:11] soulgalore commented on #2068
Hi @calebcassel thanks for reporting the issue. We did [one fix](https://github.com/sitespeedio/chrome-har/pull/21/files) in the Chrome HAR that converts the Chrome trace log to a HAR file that have introduced it. I can make a quick fix now but it would be super if you could provide the URL/or a trace log so we could add a test case. I'll ping the thread when we released a fix.

Thanks again for r

[2018-06-01 19:22] soulgalore commented on #2068
Lets wait with closing until it's in sitespeed.io

[2018-06-01 19:45] soulgalore commented on #2068
The fix is pushed in master now. We also upgraded Chrome 67 but I could see now that metrics increased on one of our instances, so I reverted that change and will wait for that [everything looks ok](https://www.sitespeed.io/releasing-with-confidence/) then I'll push a new release and have a look at the 67 problem later.

[2018-06-01 20:20] calebcassel commented on #2068
Thanks for the quick response!
I'm able to see these errors on this URL: https://www.hudl.com/video/59e9139c02b1c80a5034323e

[2018-06-01 20:36] soulgalore commented on #2068
Ah thanks. I wanna make sure that the metrics goes down so I can see that it is Chrome 67 and not the new version of the Chromedriver, I'll know for sure tomorrow will do the release sometimes this weekend.

[2018-06-02 07:26] soulgalore commented on #2068
Pushed 7.0.3 just now so it should be in the Docker hub in a couple of minutes.

[2018-06-02 14:09] soulgalore opened #2069 "Chrome 67 seems to increase First Visual Change and Speed Index"
Yesterday we pushed latest Chrome on the test servers on dashboard.sitespeed.io, preparing for the next release. However the [alerts](https://dashboard.sitespeed.io/d/000000010/alerts?panelId=6&fullscreen&orgId=1) we have fired for the tests we run on Wikipedia. At the moment we also pushed Chromedriver (or at least something like one hour later).

I reverted back to Chrome 66 (by switching the ta

[2018-06-02 14:13] soulgalore commented on #2069
I added a new annotation at [the dashboard](https://dashboard.sitespeed.io/d/000000044/page-timing-metrics?orgId=1) ... it will take a couple of minutes for the new container to build and then one hour or so until it's there on the test servers.

[2018-06-02 17:58] soulgalore commented on #2069
Yep it happened again so it looks like it is related to Chrome 67. I also looked at RUM first paint this time and I see the same pattern (=it's not only Visual Metrics):

![facebook-chrome67](https://user-images.githubusercontent.com/540757/40879297-fc3f9a7c-669d-11e8-94b4-b20836176d31.png)

The only thing changed between these are the Chrome version. I can only see the change for Wikipedia though

[2018-06-02 19:40] soulgalore opened #2070 "Cleanup and speedup how we handle data from Browsertime"
If you do a lot of runs (and collect a lot of extra metrics for Chrome) it's quite slow to make summary of a run (2m for some pages, 11 runs on AWS C4). We can cleanup the code and do some promise all to make things faster.
https://github.com/sitespeedio/sitespeed.io/blob/master/lib/plugins/browsertime/index.js#L125-L266

[2018-06-03 16:36] soulgalore commented on #2069
I've added an upstream issue (could see the same at work): https://bugs.chromium.org/p/chromium/issues/detail?id=849108

[2018-06-04 16:32] garnaud opened #2071 "proxy option not configured for webpagetest results polling"
Hi,

I would like to use a webpagetest server behind my company proxy but the result polling is blocked.
It seems that the proxy parameter is well configured for the webpagetest server call (I can see the launched job on the server) but not for retrieving the test result.

I use docker image `sitespeedio/sitespeed.io:7.0.1`.

My configuration file is:
[code]

The stack error:
[code]

[2018-06-04 18:51] soulgalore commented on #2071
Hi @garnaud thanks for creating the issue. Hmm we use https://github.com/marcelduran/webpagetest-api in the backend to connect with the WebPageTest server but I don't see a proxy option in the documentation for that, can you show we where you found it we can look into it?

Best
Peter

[2018-06-04 19:19] garnaud commented on #2071
Hi,

I had to investigate code but I hadn't see it was an external library.

You can see the executed code [here](https://github.com/marcelduran/webpagetest-api/blob/6bac270b59c44f1f4841231db14c16b8544e44ca/lib/webpagetest.js#L59
). And the call to the method [here](https://github.com/marcelduran/webpagetest-api/blob/6bac270b59c44f1f4841231db14c16b8544e44ca/lib/webpagetest.js#L198):

[code]

I was

[2018-06-04 19:21] garnaud commented on #2071
gasp, an issue since 2014 :(

 [https://github.com/marcelduran/webpagetest-api/issues/31](https://github.com/marcelduran/webpagetest-api/issues/31)

[2018-06-05 02:13] beenanner opened #2072 "Test out s3 plugin compatibility with DO Spaces"
It looks like we could possible add documentation around the use of DO spaces since they are compatible with the S3 API. This would be good to get our users another option for html storage.

https://www.digitalocean.com/products/spaces/

[2018-06-05 07:19] soulgalore commented on #2071
@garnaud the webpagetest api is often open for PRs so if you have time and try to fix it I think Marcel can merge it.

[2018-06-06 14:20] senthilr2k opened #2074 "Using --block options"
Hi,

 Could you please help in using --block option for blocking few domains in my url. Please let know how i can specify multiple domain names that has to ignored

Thanks

[2018-06-06 16:33] soulgalore commented on #2074
Hi @senthilr2k
it should work that you add the domain with block parameter. If you wanna block multiple domains you add the block param multiple times:
`sitespeed.io https://en.wikipedia.org/wiki/Main_Page --block upload.wikimedia.org`

multiple domains:
`sitespeed.io https://en.wikipedia.org/wiki/Main_Page --block upload.wikimedia.org --block login.wikimedia.org`

Please let me know if it works f

[2018-06-08 11:57] senthilr2k commented on #2074
Hi Thanks. When i used --block domainname, i am still seeing sitespeed making request for those urls and able to see those in the waterfall graph in sitespeed output

[2018-06-08 12:18] soulgalore commented on #2074
Hi @senthilr2k can you please share exactly how you run and screenshots so I can try to reproduce.

Thanks
Peter

[2018-06-08 12:39] senthilr2k commented on #2074
I am using docker. sitespeed/sitespeed.io -b chrome --block ss7.vzw.com https://www.verizonwireless.com

[2018-06-08 13:08] soulgalore commented on #2074
ok, when I run `docker run --shm-size=1g --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io --block ss7.vzw.com https://www.verizonwireless.com -n 1` I cannot see a request to that domain in the HAR? Switched changing to `--block ss71.vzw.com` I see that domain is blocked (and a request to the ss7 domain popped up in the HAR).

[2018-06-08 13:34] senthilr2k commented on #2074
I am using the same but have browsertime proxy. Iam seeing request is made to scache.vzw.com even though i have added --block scache.vzw.com . I am seeing the request made in har as well as water fall graph. I also tried blocking ss7.vzw.com but same result. Is it like i am using a different version of sitespeed. How can i check the version in docker

[2018-06-08 14:10] soulgalore commented on #2074
just run with —version. best is to always specify the version when running docker with :7.0.3 ... sorry for not doing that in my example!

[2018-06-08 14:11] soulgalore commented on #2074
brw your log should also show which version you are using.

[2018-06-11 18:43] Icecold777 opened #2075 "Performance budget analysis"
Hi there,

I've configured small budget file
`{
	"browsertime.pageSummary": [{
		"metric": "statistics.timings.firstPaint.mean",
		"max": 500
	},
	{
		"metric": "statistics.visualMetrics.FirstVisualChange.mean",
		"max": 1000
	},
	{
		"metric": "statistics.timings.pageTimings.backEndTime.mean",
		"max": 10
	}]
}`

There are the first two metrics in configuredMetrics but FirstVisualChange rule is n

[2018-06-11 21:18] soulgalore commented on #2075
Hi @Icecold777
can you show me how you run? Do you collect visual metrics (either by running in Docker where it is turned on by default or by adding --visualMetrics)?

I tried with `docker run --shm-size=1g --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io https://www.sitespeed.io/ --budget.configPath budget.json` (with your budget file as budget.json) and then I get all three rules. What's

[2018-06-12 09:31] Icecold777 commented on #2075
oh, shame on me(
I'm validating this budget file on Windows machine out of Docker. And it's pretty obvious that visualMetrics are not available.

Thank you, Peter

[2018-06-12 14:38] Icecold777 commented on #2075
Another question)

I'm running following command in Jenkins
docker run --shm-size=1g --rm -v $sitespeed_home:/sitespeed.io sitespeedio/sitespeed.io:7.0.2 https://sitespeed.io --config /sitespeed.io/configs/conf.json  --budget.configPath /sitespeed.io/budget/budget.json

One of the rules is failing but Jenkins job is finished with SUCCESS status. --budget.suppressExitCode is not used in config file

[2018-06-12 16:56] Icecold777 commented on #2075
I've found the reason. docker run should be the latest action in Jenkins build.
As I understand that means if I execute two docker run commands and the first one has failed budget and the second one not the build won't be FAILED status.
My use case:
I run the same pages with different connectivity profile

[2018-06-12 20:13] soulgalore commented on #2075
Hi @Icecold777 you can collect the result code from each run and then exit on the sum. If everything is ok it will be 0 = pass. Something like:

[code]
Is that what you need?

Best
Peter

[2018-06-12 21:33] Icecold777 commented on #2075
That's exactly what I need. Thank you!

[2018-06-13 10:00] scabenga opened #2078 "Send metrics/video on timeout"
Hi Guys,

Once again, thanks so much for this valuable application 👍
This isn't so much an issue, just a query.

Is it possible to send/save metrics/annotations/video/har etc even though there is a timeout when the page is loading.  I think this is useful to see if there are any errors in the page during the loading process to assist with troubleshooting.

Forgive me if this has been asked before

[2018-06-13 17:55] scabenga commented on #2078
Hi @soulgalore

Thanks for the information.  I am currently stating my test should end using "--browsertime.pageCompleteCheck".  This happens when a specific class is available.  However the problem comes in when there is an error prior to the class is available and the test times-out and ends, thus we are unsure what exactly caused the page to not load fully.

Would the pageLoadStrategy help in t

[2018-06-13 18:36] soulgalore commented on #2078
Yes try out just change the pageLoadStrategy. You can also increase the timeouts:
https://www.sitespeed.io/documentation/browsertime/configuration/ (checkout timeouts section and add a browsertime before the timeouts). Else if you could share the URL and the check I can have a look if I understand what goes wrong.

Best
Peter

[2018-06-14 06:54] scabenga commented on #2078
Hi @soulgalore , i've tried this out and it doesn't seem to do what i need.  In essence, i would like still collect all stats, video and screenshot when the error "{ "browsertime": "UrlLoadError" }" is thrown.  Currently it doesn't send any metrics to Graphite/InfluxDB and doesn't create a video or screenshot.

[2018-06-14 06:56] soulgalore commented on #2078
Yeah but I don't know if it works or not, can you share the URL and the script you are running so we can help you?

[2018-06-14 08:45] scabenga commented on #2078
Hi @soulgalore , i've substituted my URI for another one, however it has the same results.

`docker run --shm-size=2g --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io:7.0.0 https://news.sky.com --browsertime.viewPort 1334x750 --browsertime.userAgent "Mozilla/5.0 (iPhone; CPU iPhone OS 10_0 like Mac OS X) AppleWebKit/602.1.38 (KHTML, like Gecko) Version/10.0 Mobile/14A5297c Safari/602.1" -n

[2018-06-14 11:54] soulgalore commented on #2078
Hi @scabenga thanks, I'll try to break it down step by step:

If the pageCompleteCheck never will be true, the page will timeout = the page wasn't loaded according to the rules we have setup. So in the case of trying to get the element on sitespeed.io it will always timeout since the criteria in the check will never be true. Browsertime will run that script in the browser over and over until the t

[2018-06-14 20:21] Adesh opened #2080 "Taking a long time to perform tests on Android"
Setup:
Host - Ubuntu 18.04
Sitespeed - docker version 7.1.2

When running sitespeed on Android, the process takes around 10 minutes on an average.
Most of the time is taken by analysing the web and converting videos on 30 fps format.

The average page load times are in minutes, which otherwise opening on the android chrome browser does not take so long to be loaded.

Can anyone provide a solution

[2018-06-14 20:37] soulgalore commented on #2080
Hey @Adesh what kind of hardware are you using and what URL are you using?

Best
Peter

[2018-06-14 20:49] Adesh commented on #2080
@soulgalore i am using Samsung galaxy note 4 and using https://www.wikipedia.com/ page for testing

[2018-06-15 05:54] soulgalore commented on #2080
Hi again,
can you show me how you run? I tested now on Ubuntu 16 running in Parallels on my Mac, so it isn't super fast:

[code]
Converting the video happens on your machine not the phone so it depends on the host you use.

Best
Peter

[2018-06-15 08:00] #2075 closed

[2018-06-15 13:34] Adesh commented on #2080
Hi @soulgalore,

I
I think the problem is with my setup it Ubuntu is running with in the Windows through virtual box because of organizational restriction. And in virtual box 3d acceleration is off for our setup, which causes the video conversion a lengthy process.

Apart from that the loading time of a web page using chrome driver is also slow.

I am running the following command in a cron job.

[2018-06-15 14:38] soulgalore commented on #2080
Ok so is there anything we can do for you in this issue @Adesh ?

[2018-06-15 14:39] soulgalore commented on #2069
We have released DOcker with 67 so close this but remember the upstream issue.

[2018-06-15 14:39] #2069 closed

[2018-06-15 14:40] soulgalore commented on #1979
This runs now on our DO environment.

[2018-06-15 14:40] #1979 closed

[2018-06-15 14:42] soulgalore commented on #1962
In 7.x I've rewrote the S3 client, so we skipped using node-s3-client. So far I haven't seen any errors. Let me know if you still have the problem.

[2018-06-15 14:42] #1962 closed

[2018-06-15 14:43] soulgalore commented on #1916
When I updated the s3 plugin (to use our own impl) I haven't seen this problem, so closing this, but please re-open if you have problem with 7.x

[2018-06-15 14:43] #1916 closed

[2018-06-15 14:43] soulgalore commented on #1474
We now gzip most files, think that is enough.

[2018-06-15 14:43] #1474 closed

[2018-06-15 16:13] Adesh commented on #2080
Hi @soulgalore,

I will later post the output logs here (i don't have the access to the system for now).
We can close this issue for now.

Kind regards,
Adesh

[2018-06-15 16:13] #2080 closed

[2018-06-15 16:40] soulgalore commented on #1293
We have more docs now.

[2018-06-15 16:40] #1293 closed

[2018-06-15 16:41] soulgalore commented on #1376
This is done since ... a long time.

[2018-06-15 16:41] #1376 closed

[2018-06-15 16:42] soulgalore commented on #1420
This was implemented a long time ago.

[2018-06-15 16:42] #1420 closed

[2018-06-15 16:43] soulgalore commented on #1506
Could someone help us test if this work or not?

[2018-06-15 16:45] soulgalore commented on #1618
This is done for PageXray but I think for implementing this for the coach we should also implement getting the doc tests. However I personally don't feel the need to do this in WPT since we have this in BT.

[2018-06-15 16:45] #1618 closed

[2018-06-15 16:46] soulgalore commented on #1635
See https://github.com/sitespeedio/browsertime/issues/565

[2018-06-15 16:46] #1635 closed

[2018-06-15 16:47] soulgalore commented on #1738
I've changed this in BT 3.0 and sitespeed.io 7.0, please re-open if this is still an issue.

[2018-06-15 16:47] #1738 closed

[2018-06-15 16:50] soulgalore commented on #1830
Please retest this with 7.x, I've been using Moto G5 and it works fine for me.

[2018-06-15 16:50] #1830 closed

[2018-06-15 16:51] soulgalore commented on #1947
Proxy problems is out of sitespeed.io scope.

[2018-06-15 16:51] #1947 closed

[2018-06-15 16:52] soulgalore commented on #1865
This has changed in Bt 3 and sitespeed.io 7.0, please re-open if this is still an issue.

[2018-06-15 16:52] #1865 closed

[2018-06-15 17:41] soulgalore commented on #1892
Didn't get any feedback in this, disabling browsretime should work. Please show exactly how you run so we can reproduce.

[2018-06-15 17:41] #1892 closed

[2018-06-15 17:42] soulgalore commented on #2025
You can choose what to send, please let us know if it didn't work out for you.

[2018-06-15 17:42] #2025 closed

[2018-06-15 17:42] soulgalore commented on #2068
Released and should work now.

[2018-06-15 17:42] #2068 closed

[2018-06-15 17:43] soulgalore commented on #2054
Closing this since we officially only support Linux.

[2018-06-15 17:43] #2054 closed

[2018-06-15 17:44] soulgalore commented on #2036
Closing this since it's a proxy issue.

[2018-06-15 17:44] #2036 closed

[2018-06-15 17:44] soulgalore commented on #2029
Fixed in 7.x

[2018-06-15 17:44] #2029 closed

[2018-06-15 19:27] soulgalore commented on #1921
Closing this since we didn't get any feedback.

[2018-06-15 19:27] #1921 closed

[2018-06-15 19:29] soulgalore commented on #1907
The new version of the HAR export trigger should fix @Pe4enie problem. For Chrome we still need to have the exact way to reproduce. Please re-open if you have a way to reproduce.

[2018-06-15 19:29] #1907 closed

[2018-06-15 19:30] soulgalore commented on #1939
See https://www.sitespeed.io/documentation/sitespeed.io/browsers/#choose-when-to-end-your-test

[2018-06-15 19:30] #1939 closed

[2018-06-15 19:34] soulgalore commented on #1889
Following https://www.sitespeed.io/documentation/sitespeed.io/docker/#access-localhost should just work.

[2018-06-15 19:34] #1889 closed

[2018-06-15 19:35] soulgalore commented on #2071
Closing this but if it's fixed in the webpagetest api we can implement it here too.

[2018-06-15 19:35] #2071 closed

[2018-06-15 19:36] soulgalore commented on #2022
Hey @scabenga did this work out for you? Else could you please add exact how you run so we can reproduce.
Thanks
Peter

[2018-06-15 19:37] soulgalore commented on #1949
Do this work for you @Pe4enie in 7.x?

[2018-06-15 19:42] soulgalore commented on #2044
Did this work out for you @amic81 ? Else let us know if you need help.

[2018-06-15 19:42] soulgalore commented on #2041
So can you help us how we should do to reproduce this issue?
Thanks
Peter

[2018-06-15 19:44] soulgalore commented on #1906
This was fixed some time ago and should just work in 7.x

[2018-06-15 19:44] #1906 closed

[2018-06-15 19:46] soulgalore commented on #1785
This should be fixed now.  Use FF 60 or 61.

[2018-06-15 19:46] #1785 closed

[2018-06-16 16:47] soulgalore commented on #1210
This has been fixed with plugins.add and plugins.remove.

[2018-06-16 16:47] #1210 closed

[2018-06-16 16:49] soulgalore commented on #1348
I think we can close this: the problem is the JSON from WPT and if that is fixed in the future, we can fix that here too.

[2018-06-16 16:49] #1348 closed

[2018-06-17 14:19] scabenga commented on #2078
Hi @soulgalore the page has the element which is presented when the page becomes interactive.  During the loading process there is a login which happens amongst other things.  If there is an error during on of these the class will never be true.  Which is why i'm after a way for browsertime to still gather the har, screenshot etc even though there is a timeout.

[2018-06-19 00:34] beenanner commented on #2078
@scabenga I think the pageCompleteCheck needs to finish successfully for the graphite plugin to kick in. Could you try tweaking your browsertime.pageCompleteCheck to make sure it always returns true by adding the timeout logic to it?

Something like
[code]
See if that gets you closer to your goal and let us know!

[2018-06-19 08:57] scabenga commented on #2022
Sorted!

[2018-06-19 08:57] #2022 closed

[2018-06-20 09:01] gpapis opened #2082 "How see datas in Graphite ?"
Hi !
I don't understand how can I see my test datas in graphite interface (and clean or purge old datas).
For the moment, I'm using test with this procedure : https://www.sitespeed.io/documentation/sitespeed.io/performance-dashboard/#up-and-running-in-almost-5-minutes
When this step will be done I'm going to begin steps to production use (today not so clear for me...)
Can you help me ?
Best

[2018-06-20 13:45] softwareklinic commented on #2082
If you are using the graphite.host, port, and namespaces correctly in your cron / sitespeed.io run... your data would be getting posted to graphite correctly.

Your best bet would be to view this data in Grafana instead of graphite web UI itself... which is kind of tedious ....

If you need further help let me know...  Below is how the data in graphite appears -- TREE View

![image](https://user-i

[2018-06-20 13:48] softwareklinic commented on #2074
Hey Senthil --- I'm here to post exactly same question :) I tried it again using 6.4.1 sitespeed.io and am seeing one particular domain which I want to block... still loads all resources from that domain...

Peter - do u want me to try out another sitespeed version?

[2018-06-20 13:58] softwareklinic opened #2083 "Response times for individual Resource URLs e.g. images, css, js"
Is there a sample chart/table showing how to present the response times for images, css, js etc...

[2018-06-20 14:08] softwareklinic commented on #2074
Tried using 7.1.2 sitespeed docker as well.. the same outcome - doesn't block here is a sample command

and a screenshot showing it's not being blocked

docker run --shm-size=1g --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io https://www.verizonwireless.com -n 1 --mobile --browsertime.block tags.tiqcdn.com

![image](https://user-images.githubusercontent.com/7537289/41663609-72047628-7469-1

[2018-06-20 14:13] softwareklinic commented on #2074
Also, let me add something more --- couple of months back using the same 6.4.1 version i have indeed seen it blocking.. but something was changed in the way these tags are fired... after which it stopped blocking.... But, could be a similar issue for companies using tag injection tools such as Tealium etc... if moving from head to body etc... or async or defer... being used for loading these?

[2018-06-20 14:17] soulgalore commented on #2083
No you can only see that in the HAR/waterfall today, not one by one in a table. Maybe it would add value? Right now you can only see the slowest one in https://examples.sitespeed.io/6.0/2017-11-23-23-43-35/toplist.html

[2018-06-20 14:21] soulgalore commented on #2074
@softwareklinic let me try to reproduce tonight, thanks for sharing exact how you run :)

The blocking happens in the web extension so it shouldn't matter how the request is done (see https://github.com/sitespeedio/browsertime-extension/blob/master/background.js).

[2018-06-20 14:24] softwareklinic commented on #2074
Only more thing is we are behind proxy so we are using browsertime proxy parameters to reach out to internet... again as I said i was certainly working with same docker 6.4.1 -- but not anymore... so our business team moving around the external vendor tags from head to body or using async -- might have caused it.. just in case if this input is useful for your diagnosis...

[2018-06-20 14:29] softwareklinic commented on #2083
I think it will certainly add value to see how the size is impacting the response times... and also, just the slowest # of resources is not per URL... Usually we run a test for a LIST of URLS... so the slowest will be across all ursl... we run about 190 or 200 urls per run... (from a text file) --- so that will defeat the slowest purpose

Example below

![image](https://user-images.githubuserconte

[2018-06-20 14:38] soulgalore commented on #2074
Could it be the proxy that mess things up? When I tried it seems to work:

`docker run --shm-size=1g --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io https://www.verizonwireless.com -n 1 --mobile --browsertime.block tags.tiqcdn.com`

<img width="1089" alt="screen shot 2018-06-20 at 3 36 56 pm" src="https://user-images.githubusercontent.com/540757/41665437-e1c12174-749f-11e8-9d35-4746ff2a414

[2018-06-20 14:40] softwareklinic commented on #2074
I think it could be proxy... let me try it out without PROXY... using
hotspot and get back... If its proxy.. do you think we will need a fix in
code? or is it fixable?

On Wed, Jun 20, 2018 at 9:38 AM, Peter Hedenskog <notifications@github.com>
wrote:

--
Regards,
Keyur
Cell: 2147845203

[2018-06-20 14:43] softwareklinic commented on #2074
CONFIRMED - its the proxy... i moved around the parameters as well but no luck... so as far as proxy is present --- its not working... So, now I remember that when i initially tried it out --- i tried from home.. but never worked from our internal server... atleast we know now for sure.

[2018-06-20 18:11] amic81 commented on #2044
Yes, it worked. Thank you so much for the support. ;-)

[2018-06-20 19:54] soulgalore commented on #2044
great!

[2018-06-20 19:54] #2044 closed

[2018-06-22 14:17] jholsgrove commented on #1506
Hi @soulgalore - I was looking for something else and decided to get distracted with this. It does work when tested against [The Internet](https://the-internet.herokuapp.com/basic_auth) - but browsertime did throw an error though.

I'm using windows/ docker/ latest sitespeed as of time of writing.

**Cmd:**

"{ "browsertime": "Error" }"

**From the log:**

When run with video enabled, the Docker c

[2018-06-22 21:07] soulgalore commented on #1506
Hi @jholsgrove thanks for trying it out!

First about the video: It fails when we try to find the first frame that isn't orange ... Think something goes wrong with the URL (I can see it is orange and then only one frame that changes). If you have time you can add `--browsertime.videoParams.keepOriginalVideo` to your run, then the original (uncut) video will be saved, and then we can see what's goi

[2018-06-24 08:55] jholsgrove commented on #1506
Thanks @soulgalore - seems to have cleared that part up! The video just gave me a white screen/ no visuals with `--browsertime.videoParams.keepOriginalVideo`, fully disabling got rid of the errors, yay!

With regard to the original bug it doesn't seem to crawl the additional links to elemental selenium and the github fork using the `-d 2` param. Verbose log doesn't seem to indicate anything going

[2018-06-25 12:56] shiouen opened #2084 "Configuring pageCompleteCheck as a script"
Hello,

I am running Sitespeed with AWS Batch jobs. I recently added a pageCompleteCheck parameter, which worked perfectly when used on an EC2 machine using ssh. Strangely enough, it does not work with AWS Batch and I have found the reason why. AWS Batch adds extra quotations to the container parameter. This causes the piece of javascript code to simply be a string, which will result in a false ne

[2018-06-25 17:51] softwareklinic opened #2085 "About Proxy adding latency to tests"
Hello Peter,

Is there a way Sitespeed can be enhanced to exclude the latency added by proxy.... we are running sitespeed from non-prod AWS servers to hit our production site and have to go via proxy....

[2018-06-25 19:36] softwareklinic commented on #2085
Yes, we have RUM and synthetic... but i see a huge difference in response
times when I compare a Sitespeed run directly from Azure/AWS (hosted
sitespeed) - vs.. the same hosted behind proxy... here are examples

Considering below to are far apart - thought of sharing this with you and
getting your inputs...

FROM AZURE HOSTED SITESPEED

FROM INTERNAL AWS HOSTED (BEHIND PROXY)

On Mon, Jun 25, 2018

[2018-06-25 19:49] softwareklinic commented on #2083
@soulgalore I will try this out and let you know how it works

https://github.com/gvalkov/harstats-graphite

[2018-06-26 08:45] gpapis commented on #2082
Thanks for your answer, it's very clear,
the only datas I see is Carbon, stats, stats_counts and statsd, I don't see sitespeedio... However in Grafana it's good...
And now, I've new problem, my hard drive (500GB) is almost full (it remains 94GB) because for my tests I use cron service to automatise mesures and when I'm doing docker build -t sitespeedio_dashboards . (I stopped it since this morning

[2018-06-26 09:44] soulgalore commented on #2082
Hi @gpapis checkout point 4 and 5 [here](https://www.sitespeed.io/documentation/sitespeed.io/performance-dashboard/#setup-important), that's how you configure Graphite of what to store and for how long. And read how to configure Graphite https://www.sitespeed.io/documentation/sitespeed.io/performance-dashboard/#configure-graphite

Hope that helps!
Best
Peter

[2018-06-26 11:51] scabenga commented on #2078
Hi @soulgalore and @beenanner this is now working as i expected.  Thanks for the assist.
On another note, are there any plans to add 4G/LTE to Throttle?

[2018-06-26 12:35] soulgalore commented on #2078
Great! No, but we can do that, but you should be able to set your own settings, so you can choose upstream/downstream?

Best
Peter

[2018-06-26 12:37] soulgalore commented on #1506
Thanks @jholsgrove hmm ok, but that URL, does it have any URLS to crawl? It will only crawl on the same host if I remember correctly.

Best
Peter

[2018-06-26 12:42] soulgalore commented on #2085
@softwareklinic so what diff do you see for backend time etc?

[2018-06-26 12:50] soulgalore commented on #2084
Hi @shiouen most use case this be fixed with backslashing the right way but I guess not this way right? So I actually kind of like setting the JS in CLI since if you use a config file as default JSON, I keep most of my special configurations there. But I see your point, lets see if we have pattern for doing both (I would for example also want to add it as a CLI the script parameter so it's easy to

[2018-06-26 13:02] scabenga commented on #2078
Cool, thanks, yeah i've been reading up.
Just to confirm, i can add an alias by adding the below?
--browsertime.connectivity.alias 4G

[2018-06-26 13:12] jholsgrove commented on #1506
Ah yes, a slight oversight on my part there. I rigged up my own basic auth site and added a link and it crawled just fine. I think you can safely close this particular issue @soulgalore :)

[2018-06-26 13:13] softwareklinic commented on #2085
Will share in few

Regards
Keyur

On Jun 26, 2018, at 7:42 AM, Peter Hedenskog <notifications@github.com>
wrote:

@softwareklinic
<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_softwareklinic&d=DwMCaQ&c=udBTRvFvXC5Dhqg7UHpJlPps3mZ3LRxpb6__0PomBTQ&r=QdU9ynK_Pna3a4TlNm0IqSkTvAoOvgSYGNrfxhJcJgM&m=XhYWHsMLosmXIieH34z6l5CXZ6PlaGb9gSp6e9dR7u4&s=sK0rqpqhWZhpDU4ZzNRpNDA3mk8HSekI3WebIVuTY

[2018-06-26 16:04] softwareklinic commented on #2085
Here is how it looks in AZURE - no proxy

![image](https://user-images.githubusercontent.com/7537289/41924790-8ae38050-7930-11e8-8c23-cd6d27655b98.png)

And below is with PROXY

![image](https://user-images.githubusercontent.com/7537289/41924833-9fe1b968-7930-11e8-95f4-d2199d774908.png)

[2018-06-26 16:06] softwareklinic commented on #2082
Maybe you can remove any dangling images

$ docker rmi $(docker images --quiet --filter "dangling=true")

OR

$ docker images -qf dangling=true | xargs docker rmi

OR

$ docker images --quiet --filter=dangling=true | xargs --no-run-if-empty docker rmi -f

to free up the space,..

[2018-06-26 17:00] scabenga commented on #2078
Confirmed, this is how i add the alias :)

[2018-06-26 17:00] #2078 closed

[2018-06-27 02:45] aerwin commented on #2016
@soulgalore Thanks for the response... many apologies in my delay. Somehow I missed the @-mention from you back in May.

Anyway, I was able to reproduce with the following where I put the CRN in the URL path, rather than in the args:

`docker run --rm -v /Users/aerwin/git-ACE_MICRO/bluemix-sitespeed-driver:/sitespeed.io sitespeedio/sitespeed.io:6.5.1 https://example.com/services/crn:v1:bluemix:pub

[2018-06-27 05:20] soulgalore commented on #2016
Thanks @aerwin , I could reproduce with 6.5.1. With 7.1.2 it works :)

Best
Peter

[2018-06-27 06:34] scabenga opened #2086 "--add-host not working"
Hi guys,

Apologies if this has been answered before.
I've noticed that using the docker flag --add-host does not seem to be working.  Is this due to the way sitespeed.io launches and does not take into account /etc/hosts?

This would be great to have the ability to tests to different CDN's.

Thanks,
scabs

[2018-06-27 10:29] soulgalore commented on #2085
Yeah but as long as you get reasonable stable metrics and the proxy doesn't do anything with the traffic, that's ok I think? Or how do you feel @softwareklinic ?

[2018-06-27 10:31] soulgalore commented on #2086
Hey @scabenga I haven't tried, can you add an example so we can try? What host OS are you using?

Best
Peter

[2018-06-27 17:14] sureshkrishnaselvam commented on #2060
Hi @soulgalore I am using sitespeed.io 7.0 and executing prescripts, but I am getting NoSuchElementError:
Here is the error log,

ERROR: NoSuchElementError: no such element: Unable to locate element: {"method":"xpath","selector":"//div[@id='product-row-0']/div/div[1]/div/div/div/div/div[2]/div[7]/button[2]"}
  (Session info: chrome=66.0.3359.33)
  (Driver info: chromedriver=2.38.552522 (437e6fbedf

[2018-06-27 17:15] sureshkrishnaselvam commented on #2060
Can you please suggest me to resolve the issue.

[2018-06-28 13:03] soulgalore commented on #2060
Hi @sureshkrishnaselvam do you run latest 7? looks like your Selenium code isn't working, like the button you try to find isn't there.

Can you verify that the Selenium xpath code works outside of sitespeed.io? You can make sure your code catch these errors when you test and then you can also use the log to get some more info from your runs, like fetching different dom objects in Seleneium and ver

[2018-06-28 14:06] sureshkrishnaselvam commented on #2060
Hi @soulgalore thanks for you comments, I tried in both 7.1.3 and 7.0.0 versions using docker. used different dom objects changed id, name, used xpath in different ways. Its works in selenium scripts but when we run through sitespeed.io its getting error.

**Here is the script,**
module.exports = {
  run(context) {
    return context.runWithDriver((driver) => {
      return driver.get('https://www

[2018-06-28 18:55] soulgalore commented on #2060
You can add `--browsertime.videoParams.keepOriginalVideo` to keep the video from both pre and post scripts, that way you can see what's actually is happening, or run with npm on your local desktop and check the browser and see that you really pick the right element.

In your script:` continueButton.click()` does that load a new page or what happens? If so then you need to wait for the page to load

[2018-06-28 19:29] softwareklinic commented on #2074
@soulgalore Can this be patched quickly?

[2018-06-28 19:38] soulgalore commented on #2074
@softwareklinic I'm not sure if it is in (our) extension or in Chrome/Firefox or where the problem is?

[2018-06-28 19:39] softwareklinic commented on #2074
will try to find that

On Thu, Jun 28, 2018 at 2:38 PM Peter Hedenskog <notifications@github.com>
wrote:

--
Regards,
Keyur
Cell: 2147845203

[2018-06-28 20:02] softwareklinic commented on #2074
@soulgalore check this when u have a chance

https://github.com/Codeception/CodeceptJS/issues/561

Does this relate or feel connected by any means

[2018-06-28 20:15] softwareklinic commented on #2074
tried this on local browser with proxy enabled will try this on without proxy as well and see if any difference...

chrome://net-internals/#events

[2018-06-29 03:21] aerwin commented on #2016
thanks, @soulgalore -- I've confirmed the fix.

I opened this long enough ago, I should have tried the latest version myself in the first place. :)

[2018-06-29 03:21] #2016 closed

[2018-06-29 04:33] soulgalore commented on #2074
No. I don't think so.

Let explain better how it works: We use a [WebExtension](https://github.com/sitespeedio/browsertime-extension/blob/master/background.js) to block the traffic, so either we have setup the blocking wrong there (see for example https://developer.mozilla.org/en-US/Add-ons/WebExtensions/API/webRequest/onAuthRequired), like we need to give more permissions but I'm not sure, or it

[2018-06-29 07:20] scabenga commented on #2086
HI @soulgalore

I using the following to launch:
docker run -it --add-host news.sky.com:98.54.85.5 --shm-size=2g --rm -v "$(pwd)":/sitespeed.io

When i open a shell to the running container i can see the host has been added, but it seems the test ignores this.

*Domain and IP above are an example.

[2018-06-29 09:43] VarunRaje opened #2087 "[sitespeedio.queuehandler] TypeError: Cannot read property 'id' of undefined"
Hi Team,

Hello Team,
I am facing below error while running sitespeed.io docker.

I am running below command

`docker run --shm-size=1g --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io:7.1.3 --preScript preScript.js --video --speedIndex --browsertime.pageCompleteCheck 'return (function() {try { return (Date.now() - window.performance.timing.loadEventEnd) > 10000;} catch(e) {} return true;})

[2018-06-29 11:04] soulgalore commented on #2087
Hey @VarunRaje it looks like we somehow doesn't create the HAR file correct for Chrome, is it possible to share some code or at least some pseudo code for what you do in the prescript, that would make it easier to find the bug?

Best
Peter

[2018-06-29 13:32] Kristy59 opened #2088 "[Resolved]Trouble launching sitespeed.io just after install"
Hi guys, i installed this package just now. So maybe it's a trouble with the way i install it, but well i'm having this error when i try the sample command and i don't understand what can i do for fixing it. I googled it and don't find anything, so i'm posting this out here,  so maybe someone can help me.

`root@webp02:~# sitespeed.io http://www.google.com
/root/.nvm/versions/node/v6.10.0/lib/node

[2018-06-29 14:50] softwareklinic opened #2089 "Yellow highlighted ROW - in waterfall"
Whats the significance of the yellow highlighted rows in waterfall

![image](https://user-images.githubusercontent.com/7537289/42098909-cfb0be48-7b81-11e8-88cd-9cb5f80e8ecd.png)

[2018-06-29 15:00] soulgalore commented on #2088
Hi @Kristy59 you need to update your node version to latest version 8 https://nodejs.org/en/download/ . We moved to 8 when it became LTS (it makes our code easier to understand).

Best
Peter

[2018-06-29 15:01] soulgalore commented on #2089
Hey @softwareklinic sorry, maybe that isn't clear. The yellow and the little round arrow means a redirect. If you click on the row you should see the response code.

Best
Peter

[2018-06-29 15:04] softwareklinic commented on #2089
Thank you  - closing

[2018-06-29 15:04] #2089 closed

[2018-06-30 09:06] primehaxor opened #2090 "Unable to send data to graphite when using --preScript - "ERROR: Error: No data to send to graphite for message""
Hello,

  I'm trying to use the preScript and also store the results inside graphite and I'm receiving this kind of error, here is more information:

Testing Env:

docker-compose.yml
[code]

[code]
**Firefox Testing**
$ docker run --privileged --shm-size=1g --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io --preScript test.js -b firefox https://www.mysite.com -n 1 --graphite.host 192.168.1.1

[2018-06-30 09:19] primehaxor commented on #2090
Just an update, I can see the data inside the graphana dashboard, comparing the results with details.html looks like it is valid data.

[2018-06-30 13:19] soulgalore commented on #2090
Hi @primehaxor and thanks for the detailed bug report!

It seems that we don't handle everything correctly, lets see when we can fix that we just moved into vacation mode: https://github.com/sitespeedio/sitespeed.io#vacation-july---august

One thing you can do  I think is to set the cookie directly with request header, then you will not need to access the URL twice (where you set the cookie first)

[2018-06-30 14:10] soulgalore commented on #2090
Cool I will have a look. The cookie trick I said didn't work, we have PR to fix it in https://github.com/sitespeedio/browsertime-extension/pull/4 but I haven't got around to test, but when I got a good URL, I can do it. I could reproduce your errors so I will try more tonight.

Best
Peter

[2018-06-30 15:02] soulgalore commented on #2090
Hm, I fixed the extension so it's now easy to add one cookie like --cookie name=value and it works fine in Chrome but not Firefox ...  I'll probably release it anyhow as Chrome only as it will help, and then I also fix that other. That should make it much easier to just remove that first screen.

[2018-06-30 16:53] primehaxor commented on #2090
Alright, thank you @soulgalore for the update.

[2018-06-30 20:34] soulgalore commented on #2090
@primehaxor  I pushed 7.2.0 just now that hopefully fix your problem. Remove your preScript and add the cookie like this: `--cookie name=value`

Let me know if it fixes the problem!
Best
Peter

[2018-07-01 08:21] primehaxor commented on #2090
@soulgalore I ran about eight times with the setup ( firefox, chrome ) ( 3g, 3gfast, 3gslow, cable ) also I recorded a video to make sure that I won't see the poup-up anymore, so far it is working perfectly, i just had one issue but i think it isn't related i've paste in the end. Thank you!!

$ docker run --privileged  --shm-size=1g --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io:latest --

[2018-07-01 09:17] soulgalore commented on #2090
Hi @primehaxor hmm the first one it seems that Firefox doesn't create a valid har (`Tried to add NaN to stats for path contentSize` if I understand correctly). And the other error is on our side (`Cannot read property 'image' of undefined`). Is that the same URL that you sent me yesterday? If that's the case let me check again tonight, else if you can send me the URL.

Best
Peter

[2018-07-01 15:47] beenanner commented on #2078
Yep you got it! Glad everything is working for you. Happy testing! :-)

[2018-07-01 16:32] primehaxor commented on #2090
Hello @soulgalore yes it is the same one, but there is no pattern to happen, after this error, I've tried to run again and it didn't happen.

[2018-07-01 19:10] soulgalore commented on #2090
There's some content (I guess) but not 100%, the problematic HAR is annoying. I'll be away the coming week but maybe @beenanner or @tobli can have a look if they have time (I shared the URL privately to them).

[2018-07-02 04:07] Nuoky commented on #2060
https://github.com/SeleniumHQ/selenium/issues/2969#issuecomment-339432453
Try use promise

[2018-07-02 04:54] VarunRaje commented on #2087
@soulgalore in pre-script we simply login to our testing website with username and password. This script written in selenium and java script. elements are located by xpath. I am sure that xpaths are valid. because same is working in other scripts as well

[2018-07-02 07:35] Nuoky opened #2091 "Prescript does not work properly under hash route"
Hello,

I use preScript to complete the login operation, But if the test target switches routes through **hash change** and login page and test page are in the **same domain**, the system cannot jump to the test page after running Prescript.

The selenium script is working properly under Sitespeed 6.3.5.

Version: Sitespeed 7.2.0

Docker:
[code]

Selenium script:
[code]

Sorry for my bad English.

[2018-07-02 09:15] Kristy59 commented on #2088
Hi @soulgalore thanks for your quick reply.
I reinstall it with nodejs 8.11.1 and now install is OK.
I'm facing some issue with chrome doesn't starting, but well i guess i need to install some X-env there.

[2018-07-02 11:20] scabenga commented on #2086
@soulgalore , it seems an intermediate proxy was interfering here.  Thanks for checking it out, it's working after bypassing the proxy...

[2018-07-02 11:20] #2086 closed

[2018-07-04 07:32] tobli commented on #2090
This is interesting, it exposes a few flaws in error handling on unexpected/missing content. Sitespeed.io should not spew errors in the log like that, regardless of other issues. An opportunity for some hardening.

[2018-07-04 12:46] soulgalore commented on #2090
@primehaxor is it possible for you to share the HAR file from a failing run? that will help us to fix the problem in pagexray.

Best
Peter

[2018-07-05 12:09] primehaxor commented on #2090
@soulgalore sure I will provide it to you.

[2018-07-06 08:50] Nuoky commented on #2091
@soulgalore
Hi,

[https://github.com/sitespeedio/browsertime/commit/d7fefe3984b9d598087994d8ba11cde9d06910b7]
(url)

I think this is the commit, changing
```await driver.get(url);```

to

[code]

causes an error in the page that jumps to the hash route.

You can reproduce the problem by doing the following:

1) Chrome Browser opens [https://preview.pro.ant.design/#/dashboard/analysis](url)

2) Exe

[2018-07-06 09:40] primehaxor commented on #2090
@soulgalore just one update I noticed during the error time the website wasn't working ( it was "waiting for connection" for more than 60 seconds )

[2018-07-06 11:16] scabenga opened #2092 "FullyLoaded Issue"
Hi Guys,

I'm using a --browsertime.pageCompleteCheck to say when the test should stop, however i've noticed that the fully loaded metric is sometimes a few seconds after the point at which i have requested the test to stop.  Is fullyLoaded not the point the actual test completes.

I've also noticed that the time on the video does not match the output metrics.
E.G: i'ved noticed that the test comp

[2018-07-09 05:58] Nuoky commented on #2091
[code]
This code removes the root node, causing single-page applications like React and Vue to not work properly.

[2018-07-09 08:06] ant71 opened #2093 "ERROR: EISDIR: illegal operation on a directory for images in page data"
Using the latest version (7.2.0) via docker-compose on MacOS 10.12.6, and for every version tested that is newer than 6.5.3, the following error is returned for each iteration run;

ERROR: Error: EISDIR: illegal operation on a directory, unlink '/[PATH]/[TO]/[TEST]/[RESULTS]/[TEST DATETIME]/pages/[HOST]/data/video/images''

(yes, there is an extra trailing ' - it is not a typo).

I tested working

[2018-07-09 20:04] soulgalore commented on #1506
Closing, please re-open if you have any issues :)

[2018-07-09 20:04] #1506 closed

[2018-07-09 20:07] soulgalore commented on #2087
Hmm could this be the same as #2091 ? @VarunRaje do you have a couple of URLs so I can test to reproduce?

[2018-07-09 20:10] soulgalore commented on #2091
HI @Nuoky

ok, hmm, we use that to make sure that the background is empty and white (so the video is easy to extract), but we could change that to be a layer on top of all other things on the screen. Let me test the coming days how it all works out.

Best
Peter

[2018-07-09 20:23] soulgalore commented on #2093
Hi @ant71 thanks for the report.

Could it be that the URLs you are testing are the same except that they have different hashes at the end? The name of the dirs are generated from the file name but the hashes are skipped. I don't remember though that that should have been changed between 6 and 7 (do you @tobli?).

If that's the case you should try to give each URL a alias, checkout the alias secti

[2018-07-09 20:35] soulgalore commented on #2088
Great!

[2018-07-09 20:35] #2088 closed

[2018-07-09 20:51] soulgalore commented on #2091
Yeah ok, so if I understand correctly we introduced in 7 but it was only working in 6.x if you wasn't using video, is that right @Nuoky ? I think we always used that approach for video. I can make a fix the coming days but need your help @Nuoky to try it out.

[2018-07-09 20:58] soulgalore commented on #2090
thanks @primehaxor yeah but we should take care of the broken HAR anyway, thanks for providing them!

[2018-07-09 21:05] soulgalore commented on #2092
Hi @scabenga
at the moment fullyLoaded uses the resource timing API (I think we set max value to 600 requests), so it isn't perfect. Been thinking about moving the fully loaded to check the HAR (we got that implemented in PageXray but we haven't moved that on yet to sitespeed.io, I guess that could be something for sitespeed.io 8).

ok, can you provide an example so we can reproduce, it will make

[2018-07-09 21:17] soulgalore commented on #2087
I tried and I can reproduce this when using hash-URLs, so I think one of the problems is that we then create one HAR file with page (and maybe that is right?). Need to sync this with @tobli.

[2018-07-09 23:52] ant71 commented on #2093
Thanks for the quick reply @soulgalore .

I am only running it locally at the moment, so docker-compose is a great, simple way to spin it up in that scenario.

URLs that were tested were;
https://iview.abc.net.au/
https://iview.abc.net.au/channel/abc1
https://iview.abc.net.au/channel/abc2
https://iview.abc.net.au/shows
https://iview.abc.net.au/shows/cc
https://iview.abc.net.au/show/peppa-pig

None

[2018-07-10 02:05] ant71 commented on #2093
Further info, and apologies, but I omitted that I was using a config.json and did not include the information from that. I have been able to identify the change to a config that causes the error.

By simplifying the config, I can regularly have the error occur by the following changes.

This config throws the error on each iteration;

`{
  "browsertime": {
    "visualMetrics": true,
    "video": f

[2018-07-10 06:02] soulgalore commented on #2091
One more thing, what kind of error do you get @Nuoky ? Is it #2087 ?

[2018-07-10 06:12] soulgalore opened #2094 "[meta] Fix hash URLs"
Let us collect the problems we have with hash URLs here:

1. By default, we strip everything after a hash in a URL when we create the file path. That works perfectly for the web by default but not with some of the frameworks.

If we have two URLs like this:
https://preview.pro.ant.design/#/dashboard/monitor
https://preview.pro.ant.design/#/dashboard/analysis

They will be the same URL on disk. Wha

[2018-07-10 06:18] Nuoky commented on #2091
Sorry, I don't quite understand it. I can use video and prescript when I use 6.x. However, as long as the prescript is used in 7.2.0, the browser will be stuck in white screen (observed by x11vnc). I also tried to close video (--video false --browsertime.visualMetrics false) and the same problem will occur.

[2018-07-10 06:18] Nuoky commented on #2091
@soulgalore
Is the same error
[code]

[2018-07-10 08:08] scabenga commented on #2092
Thanks @soulgalore, i'll see if i can get an example together.
With regards to the --browsertime.pageCompleteCheck, does this stat get recorded, so when we can see exactly when we stopped the test?

[2018-07-10 09:03] soulgalore commented on #2091
Ah sorry I wasn't being clear plus I was being wrong :)

What I meant was that before it worked like this:
- the pre script  accessed one URL.
- then we navigate to the new URL (=writing the URL in the browser window and hit return).
That generated a new request and everything work fine. But you tested doing a new navigation.

I've added a meta task (#2094) for tracking what we need to fix.

[2018-07-10 15:52] BPrathap opened #2095 "NEW Plugin with Docker not able to create"
In Dockerfile

FROM sitespeedio/sitespeed.io:latest

# TODO <CUSTOMIZED PLUGIN>
COPY ./plugin/sample test

VOLUME /test.ui

WORKDIR /test.ui

/*sample/index.js*/

const path = require('path');

module.exports = {
  name() {
    // This is ... shocking news: the name of the plugin
    return path.basename(__dirname);
  },

  open(context, options) {
    // when sitespeed.io start it calls the open

[2018-07-10 19:30] soulgalore commented on #2095
Hi @BPrathap thanks for creating the issue. It works like this (I'll update the docs to makes it easier to understand later on): if the path to the plugin is without any path at all, sitespeed.io will look for the plugin in the plugin folder (that what happens now). If you change the path to be absolute, it will find the plugin wherever you put it inside of the container.

Best
Peter

[2018-07-11 07:02] BPrathap commented on #2095
Thanks @soulgalore.   I just copied ,ENV PLUGINDIR=/usr/src/app/lib/plugins

COPY ./plugin/test $PLUGINDIR/test and start using  without path.

[2018-07-11 11:35] primehaxor commented on #2090
@soulgalore wy, btw after many tests I was able to see this problem is only happening with firefox, on the chrome side no errors atm.

[2018-07-11 19:03] #2095 closed

[2018-07-11 20:29] soulgalore commented on #2091
Just want to say I haven't forgotten about this, but need to sync with @tobli so we can discuss how to move on.

[2018-07-11 20:31] soulgalore commented on #2092
no.

[2018-07-11 20:55] soulgalore commented on #2093
Hi @ant71 thanks for sharing the URLs. Ah I see now, sorry I didn't follow the path structure that you should with the error. It comes from when Visual Metrics creates the filmstrip from the video (we produce the strip but do not use them). As a quick fix, could you try to disable the filmstrip by adding `--browsertime.videoParams.createFilmstrip false`?

I tried to reproduce on my Mac:
`docker ru

[2018-07-11 20:57] soulgalore commented on #2090
@primehaxor yes that would be super, thanks!

[2018-07-11 20:57] #2090 closed

[2018-07-11 21:02] soulgalore commented on #2090
One more thing: I looked at the HAR and I'm pretty sure this is an upstream issue in Firefox/https://github.com/devtools-html/har-export-trigger (that generates a faulty HAR), so we can reference the new issue when we create the upstream one. I'll do a fix in PageXray (that's create the error on our side) so we handle the broken HAR.

[2018-07-12 00:46] ant71 commented on #2093
I just tried running with `--browsertime.videoParams.createFilmstrip false` and can confirm I am not setting `--outputFolder` at all. The error still occurred.

I did try simplifying things as much as possible, by removing config json and running directly with the docker command you used.

I can reproduce the error in this way;

`docker run --shm-size=1g --rm -v "$(pwd)":/sitespeed.io sitespeedio/

[2018-07-12 05:32] soulgalore commented on #2093
Ok. @ant71 can you share exactly how you run with full config?

@tobli @beenanner do you have a quick look and check if I have missed something?

[2018-07-12 07:58] primehaxor opened #2097 "ERROR: Error: Tried to add NaN to stats for path contentSize"
Hello, when I try to run the sitespeed with the Firefox browser sometimes it receives this error, I've created one script to workaround it retrying if I receive some error but even with this error the data has been sent to graphite messing with the metrics.

**Docker command**
`docker run --privileged --network=3gslow --shm-size=1g --rm -v /opt/sitespeed/utils:/sitespeed.io sitespeedio/sitespeed.i

[2018-07-12 19:47] soulgalore commented on #2097
Thanks @primehaxor for opening the issue! Hopefully this will be fixed by https://github.com/sitespeedio/sitespeed.io/pull/2096

[2018-07-12 19:47] soulgalore commented on #2097
Fixed on our side I mean, the original issue will still be there in Firefox.

[2018-07-13 11:29] sureshkrishnaselvam opened #2098 "Ignore SSL certificate"
Hi Peter,

I want to ignore ssl certificate using docker command, Tried few things but dosen't worked out. Please see the docker command and error log,

Docker Command:
docker run --shm-size=1g --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io:7.2.0 --browsertime.chrome.args ignore-certificate-errors https://www.xxxx.com

Error Log:
ERROR: UrlLoadError: Failed to load/verify https:xxxx.com u

[2018-07-13 11:44] soulgalore commented on #2098
Hi @sureshkrishnaselvam thanks for reporting the issue! Is your URL internal or can you share it? Tried with `docker run --shm-size=1g --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io:7.2.0 --browsertime.chrome.args ignore-certificate-errors https://www.sitespeed.io` and it worked.

Also just want to verify that the URL works if you skip the ignore parameter?

Best
Peter

[2018-07-13 11:50] sureshkrishnaselvam commented on #2098
Thanks for looking into this issue, Its internal url.

[2018-07-13 11:53] soulgalore commented on #2098
Ok, and it works without the ignore param? Can you also try with Firefox? `-b firefox --browsertime.firefox.acceptInsecureCerts`

[2018-07-13 12:07] sureshkrishnaselvam commented on #2098
Yes tried without ignore param also in chrome and getting same, now with the firefox browser getting below error,

ERROR: Could not load URLBrowserError: Running page complete check
return (function() {
    try {
        var end = window.performance.timing.loadEventEnd;
        return (end > 0) && (Date.now() > end + 2000);
    } catch(e) {
        return true;
    }
})();
 took too long for https

[2018-07-13 12:13] soulgalore commented on #2098
Ok, then I think the problem is that the URL isn't reachable from within your Docker container. Do you have host file on your computer with the domain, can you reach the server by IP?

[2018-07-13 13:18] sureshkrishnaselvam commented on #2098
Hi Peter,
Thanks for your comments, I got the IP address and checked it, its not reachable but I am able to hit the url in browser and the page is loading fine. Any idea on this.

[2018-07-13 19:32] roymartinezblanco opened #2099 "Adding Multiple Cookies"
Hi,

I need to add multiple cookies to the test that I want to do but I can't seem to find a way.
I've tried to use the following:
`--browsertime --cookie`
`--browsertime.cookie`
`-r`

But I can't seem find a way to add more than one cookie without getting the error "ERROR: TypeError: options.cookie.substring is not a function"
`docker run --shm-size=2g --rm -v "$(pwd)":/sitespeed.io sitespeedio/s

[2018-07-13 19:44] soulgalore commented on #2099
Hi @roymartinezblanco yep at the moment we only support one cookie. I pushed the change on my way to the vacation and did not have the time to fix multiple support. Feel free to do a PR in https://github.com/sitespeedio/browsertime-extension (that what's we use to set the cookie). Else I will have a look asap when I have the time.

Best
Peter

[2018-07-13 19:48] soulgalore commented on #2098
Hi @sureshkrishnaselvam do you have anything special in your host file? Maybe try add `--net=host` to Docker when you run (docker run --net=host ...).

Best
Peter

[2018-07-13 19:49] soulgalore commented on #2099
Btw I could probably fix it the coming days, it's a little hacky to jump into the extensions ... I'll keep you posted when I start.

[2018-07-13 20:57] roymartinezblanco commented on #2099
Thanks, that confirms that am not doing something wrong 👍. For the sake of speed I'll just use a local webproxy to do all the header handling. thanks

[2018-07-13 20:57] #2099 closed

[2018-07-14 20:43] soulgalore commented on #2099
FYI @roymartinezblanco I pushed a updated version of Browsertime (3.2.1) today and will let it run on our test server tonight and then push a new version tomorrow of sitespeed.io with multiple cookies support.

[2018-07-16 05:35] soulgalore commented on #2099
@roymartinezblanco we released 7.2.1 yesterday that fixes the multiple cookie issue, tanks for filing the task!

[2018-07-16 05:36] soulgalore commented on #2097
@primehaxor this should be fixed in 7.2.1, let me know if you have time to upgrade and if you still see it.
Best
Peter

[2018-07-16 15:13] sureshkrishnaselvam commented on #2098
Hi @soulgalore Docker is not recognising any url when I connect to VPN network, is there any possible options to resolve this issue.

**Error Log:**
ERROR: UrlLoadError: Failed to load/verify https:xxxx.com uri:chrome-error://chromewebdata/
at SeleniumRunner.loadAndWait (/usr/src/app/node_modules/browsertime/lib/core/seleniumRunner.js:194:15)
at
at process._tickCallback (internal/process/next_tick

[2018-07-16 16:03] sureshkrishnaselvam opened #2100 "Unrecognized option 'draw_mouse' error"
I am getting the following error while running the site speed to capture visual metrics.

bin/sitespeed.js --visualMetrics https://www.sitespeed.io/

**_Error_**
Unrecognized option 'draw_mouse'.
Error splitting the argument list: Option not found

ffmpeg -hide_banner -video_size 1366x642 -f x11grab -framerate 30 -probesize 1M -y -draw_mouse 0 -i :99.0+0,66 -codec:v libx264rgb -crf 0 -preset ultra

[2018-07-16 20:04] soulgalore commented on #2098
Hi @sureshkrishnaselvam maybe something like this https://stackoverflow.com/questions/33904647/docker-container-and-host-network-vpn#36185896 else had over to the [Docker forums](https://forums.docker.com/) and check there.

Best
Peter

[2018-07-16 20:06] soulgalore commented on #2100
Hi @sureshkrishnaselvam at the moment you need to run on Linux to get video to work. We used to kind of had support a version or two ago but I think that ever actually worked 100%.

Best
Peter

[2018-07-17 00:07] sureshkrishnaselvam commented on #2100
Thank You will do it in Linux..Will it work in Windows?

[2018-07-17 07:00] quartex commented on #2098
Hi,
use NODE_TLS_REJECT_UNAUTHORIZED=0 in docker enviroment ?

[2018-07-17 09:44] soulgalore commented on #2100
Hey @sureshkrishnaselvam sorry no Windows, only Windows through Docker. Keeping a Windows version up to date is to much work for our small team, we need to have one that is Windows dedicated to make that happen. For Mac, I would like to make that work again (it's good for testing) but I'm not sure when.

Best
Peter

[2018-07-17 10:12] sureshkrishnaselvam commented on #2098
Hi @soulgalore Thanks for the update, I have tried restarting docker after connecting to VPN but that doesn't worked getting the same error.

Hi @quartex Thanks for ur suggestion, could you help me how to use NODE_TLS_REJECT_UNAUTHORIZED=0

docker run -e http_proxy='http://xxxx.com:8080' -e https_proxy='http://xxxx:8080' node_tls_reject_unauthorized=0 --privileged --shm-size=1g --rm -v "$(pwd)":/s

[2018-07-18 07:41] Svampen opened #2102 "Annotation/event/tag graphite question"
Hi
Is it possible to add custom annotation/event/tag during runs to the wards graphite, to build dashboard on grafana?
Our scenario is that we want to track site speed changes on different development branches. Where we would run builds every x hour from different branches and the same url.
Right now I have build id and url on grafana with the help of graphite.namespace but it's not enough... Is i

[2018-07-18 08:07] soulgalore commented on #2102
Hi @Svampen thanks for the kind words :)

There's no way to add extra things than to change the namespace (we haven't added support for tags yet) but it would be great to add. Let us iterate together how we can solve this. Right now most of us are [on vacation](https://github.com/sitespeedio/sitespeed.io#vacation-july---august) but maybe we can do a PR together if we can finalize exactly how it wo

[2018-07-18 08:43] Svampen commented on #2102
Hi

Sure, sounds great.
In the mean time I will look into adding extra tags to existing events in graphite so that we can start using sitespeed :)

[2018-07-18 09:19] soulgalore commented on #2102
So do you mean that adding tags to the current annotation would help (the annotation with the link to the HTML result)? Or do you need tag support for Graphite? The first one would be easy (I can guide you to do a PR for that if you need), the other one needs more work (I think).

[2018-07-18 09:57] jagyandeep commented on #1757
try adding proxy in the command:
-e http_proxy=http://xxxxx:xxxx -e https_proxy=https://xxxxxx:xxxx

[2018-07-18 10:26] amic81 opened #2103 "Total requests - (XHR)"
Hi,

I noticed a difference in the number of requests passing from sitespeed instead of making them directly to the browser (chrome).
Are the ajax requests (XHR) not counted (if any) in sitespeed?

Docker: sitespeedio / sitespeed.io: 7.2.1
OS: Windows 10

I remain available if you need more information.

Thanks

[2018-07-18 10:29] soulgalore commented on #2103
Hi @amic81 you can check the HAR file and see if the request is included (we take the total from the HAR if I remember it correctly). Use pageCompleteCheck to choose when to end the test.
Best
Peter

[2018-07-18 19:30] sureshkrishnaselvam commented on #2100
Thanks Peter

[2018-07-19 07:45] quartex opened #2104 "Scan does not end"
Hi,
we have more site where we launch a scan but process never finish (more precisely on 10 scans 2 works and 8 never finish for the same site)

I run the scan with Sitespeed 7.2.1 on Docker and I see in the log (The last line with "upload success" are a log for an internal plugin)

When works :

Google Chrome 67.0.3396.99
Mozilla Firefox 61.0
[2018-07-19 08:47:48] INFO: Versions OS: linux 3.10.0-

[2018-07-19 14:41] soulgalore commented on #2104
Hi @quartex thanks for creating the issue! Historically we have had a couple of problems like this that mostly was because of merging large JSONs that could take many minutes, but I think we fixed most
of them ... but it could of course be some place left to fix.

There's a couple of things you can do to help so we can try to reproduce/find the issue:
* Can you get the same problem with other URLs

[2018-07-19 14:45] soulgalore commented on #2104
Ah sorry I see now. Do I understand correctly that all tests that freezes looks like this ate the end:
[code]

Best
Peter

[2018-07-19 21:30] Sly777 commented on #2093
hey @soulgalore. I'm also getting the same error on the latest version of Sitespeed on docker-compose (with graphite). You can find the full config below.

`
{
    "browsertime": {
        "connectivity": {
            "profile": "3gfast"
        },
        "video": false,
        "visualMetrics": true,
        "iterations": 5,
        "chrome": {
            "timeline": true
        }
    },

[2018-07-20 06:03] quartex commented on #2104
Hi,
I ran only 1 scan for the single url (we scan all sites with this setting)
The docker machine used is a part of cluster with 3 servers used in round robin and the problem is the same on all cluster. The same cluster is used for more site without any similar problem with other site.
The problem is present both when only this scan run in the machine or with other scans run in the same time.
All

[2018-07-20 06:04] quartex commented on #2104
Hi,
I ran only 1 scan for the single url (we scan all sites with this setting)
The docker machine used is a part of cluster with 3 servers used in round robin and the problem is the same on all cluster. The same cluster is used for more site without any similar problem with other site.
The problem is present both when only this scan run in the machine or with other scans run in the same time.
All

[2018-07-20 07:10] soulgalore commented on #2093
Hi @Sly777 and @ant71 seems there's some mismatch when turning off the video but keeping visual metrics, I could reproduce it now and could best case roll out a fix tonight.

Best
Peter

[2018-07-20 07:42] soulgalore commented on #2104
Yeah I tried but I couldn't reproduce hmm.

`docker run --shm-size=1g --rm sitespeedio/sitespeed.io:7.2.1 http://www.test.it -b chrome --video -n1`

For me it exit directy after the last log line. So you get the same problem without your plugin?

I'm using Docker version `18.03.1-ce, build 9ee9f40` on OS X when I tested. What's your base OS and what Docker version are you using?

Best
Peter

[2018-07-20 07:56] soulgalore commented on #2093
I've pushed a new version of Browsertime with a fix, it work on my local but I'm having very limited internet connectivity so I couldn't run too many test.

Do you have the time to verify that it works for you before I release a new version of sitespeed.io? You can either build the docker container from your checkout (master): `docker build -t sitespeedio/sitespeed.io .`

Or you can use our auto-b

[2018-07-20 10:58] primehaxor commented on #2097
Hello, @soulgalore I leave it running for 2 hours and I didn't see any problem related to this issue.
But now I'm seeing this one.

[code]
`[2018-07-20 09:32:31] WARN: Non-finite number 'NaN' found at path 'contentSize' for 'pagexray.pageSummary' message (url = undefined)
`
During the test time i saw this error two times

[2018-07-20 13:08] soulgalore commented on #2097
Hi @primehaxor it's unrelated, but I've seen the error myself, I'll create an issue in Browsertime tonight and ping you in the issue. I think there could be a timeout issue on our side when we run on a too small instance but I'm not 100% sure, let me look into it.

Best
Peter

[2018-07-20 13:41] soulgalore commented on #2104
Thanks :) The URL doesn't matter for me, it still works when I try it:
[code]

Just to verify: You get the same problem if you run without your plugin?

[2018-07-20 19:02] soulgalore commented on #2093
Released 7.2.2, please have a go when you have time.

[2018-07-20 19:03] soulgalore commented on #2097
@primehaxor pushed a fix for https://github.com/sitespeedio/sitespeed.io/issues/2097#issuecomment-406567113 in 7.2.2. Closing this since the original issue seems fixed, but please ping https://github.com/sitespeedio/browsertime/issues/622 if you still see the new problem.

Best
Peter

[2018-07-21 06:53] mdasifazhar opened #2105 "sitespeed.io ERROR: ElementNotVisibleError: element not visible: Element is not currently visible and may not be manipulated"
Hi I'm new to sitespeed and trying to run prescript .
Which actually select the value from the drop down and click on submit button. I've tested on my local windows machine using chrome driver and its able to identify the xpath.
Sample Code:-
--------------------------------------------------
System.setProperty("webdriver.chrome.driver", driverPath + "chromedriver.exe");
ChromeOptions chromeOption

[2018-07-21 07:39] soulgalore commented on #2105
Hi @mdasifazhar just want to verify that you checked the [example code](https://www.sitespeed.io/documentation/sitespeed.io/prepostscript/#login-example) for logging in to Wikipedia?

When I debug I add things [to the log](https://www.sitespeed.io/documentation/sitespeed.io/prepostscript/#debuglog-from-your-script) from the Selenium script and try to verify step by step that I select the right ele

[2018-07-21 16:37] mdasifazhar commented on #2105
Hi @soulgalore
I'm following the same here is my node module and prescript.
I'm still getting the same error.

**command**
/usr/src/app/bin/sitespeed.js --preScript test/performance/myScript.js
--config=test/performance/config.json my_application_url

**myScrupt.js:**
-----------------------------------------------------------------------
module.exports = {
  run(context) {
    return context.runW

[2018-07-21 20:21] soulgalore commented on #2105
Hi @mdasifazhar I think the best way is to:
* log what you get back from Selenium (verify that each findElement works)
* Record a video of the full run (including your pre script). Do that by adding `--browsertime.videoParams.combine` and then check your video: is the page(s) loading as they should?

Best
Peter

[2018-07-22 02:19] mdasifazhar commented on #2105
Hi @soulgalore

I've tried after enabling capture video option for prescript, found video did not get captured.
	"videoParams": {
		"combine": true
		}
	},.

I can see logger info and tried printing the WebElement content. pasted below for the ref..

[2018-07-22 02:00:12] INFO: Versions OS: linux 4.15.0-1014-azure nodejs: v8.9.4 sitespeed.io: 7.0.0 browsertime: 3.0.13 coach: 2.0.2
[2018-07-22 02:0

[2018-07-22 07:18] soulgalore commented on #2105
Hi @mdasifazhar ah maybe I missed that you don't run video on by default? The setting also need to be in the browsertime context: `--browsertime.videoParams.combine` in your config file that corresponds to something like this:
[code]

The logging from Selenium was more for your help :) If there's problem getting the right element, the Selenium slack channel och Selenium forums is the best place fo

[2018-07-22 14:39] ant71 commented on #2093
Sorry I have only just got back now, I've been out of action.

I have just tried 7.2.2 and can report that the error is no longer appearing.

Thanks for all your great work on this project!

[2018-07-22 14:39] #2093 closed

[2018-07-23 05:34] quartex commented on #2104
Hi,
this is my report for 4 scans consecutive launched  on my pc

Google Chrome 67.0.3396.99 Mozilla Firefox 61.0
[2018-07-23 05:01:33] INFO: Versions OS: linux 4.9.87-linuxkit-aufs nodejs: v8.11.1 sitespeed.io: 7.2.1 browsertime: 3.2.1 coach: 2.0.6
[2018-07-23 05:01:34] INFO: Starting chrome for analysing https://www.fiat.it 1 time(s)
[2018-07-23 05:01:34] INFO: Testing url https://www.fiat.it it

[2018-07-23 07:49] marceloboeira opened #2106 "statsd weird formatting"
I want to push sitespeed.io to datadog, which uses mostly the standard statsd protocol.

I've tried to use the config as:

[code]

And it didn't work. So, I've tried to push to my localhost and monitor the statsd port with netcat:

[code]

However, it looks like the formatting is wrong, I am not sure about that timestamp at the end. The `1532331394`.

If I manually push `sitespeed_io.default.pageS

[2018-07-23 09:01] soulgalore commented on #2106
Hi @marceloboeira thanks for creating the issue! hmm yes lets see, I can have a look later (https://github.com/sitespeedio/sitespeed.io#vacation-july---august) but if you could do some background research what's right or make a PR I can merge/release it. Ping @omrilotan do you know, you use that functionality right?

Best
Peter

[2018-07-23 09:03] soulgalore commented on #2105
I see, the best there is to try to look into each step and see what could be wrong. We stay out of Selenium since there hopefully is a big community that can help, but what's weird is that it works for you standalone right but not in sitespeed.io, that's why I suspected the page wasn't loading correctly.

[2018-07-23 09:06] marceloboeira commented on #2106
@soulgalore the issue is somewhere around here: https://github.com/sitespeedio/sitespeed.io/blob/8193a31245b5bf963aecd692c486ac4fa79e3c35/lib/plugins/graphite/index.js#L79

I am trying to debug to figure

[2018-07-23 09:12] omrilotan commented on #2106
I think I know what the issue is. I'll run a couple of tests and suggest a solution today

[2018-07-23 09:14] marceloboeira commented on #2106
@omrilotan thanks a lot!

[2018-07-23 10:40] omrilotan commented on #2106
@marceloboeira Do you have an option to test the PR I've posted fixes your issue?
If it does, I will also copy this fix into the stable version. (6.x)

[2018-07-23 11:15] marceloboeira commented on #2106
@omrilotan thanks for the fix, I've approved the PR. I will build the PR and try to run here.

[2018-07-23 11:57] marceloboeira commented on #2106
@omrilotan I've tested here, looks like its working properly now:

[code]

[2018-07-23 11:59] marceloboeira commented on #2106
Thanks a lot for fixing it.

[2018-07-23 11:59] #2106 closed

[2018-07-23 14:03] Svampen commented on #2102
Hi

I worked out a solution that works for us and I will try to explain it.

We want to see the trend of our feature branches, to keep track of any degradation or improvements that happens during development. We run this through Jenkins every 3h towards the same AWS instance (by just changing the build). At the moment we have 4 branches but new ones are created as we go a long in our development c

[2018-07-23 16:01] mdasifazhar commented on #2105
could it be an issue of headlesss browser for ElementNotVisibleError?

[2018-07-23 16:20] softwareklinic commented on #2085
I agree it atleast gives us comparable metrics before and after scenario.. but would definitely want to see if you can replicate this at your end.. and see whats adding the delay....

[2018-07-23 16:56] soulgalore commented on #2102
Ok cool. Two things:
* If it's possible to add tags to the current annotation that we send, would that help you so you could skip your event?
<img width="487" alt="screen shot 2018-07-23 at 18 52 16" src="https://user-images.githubusercontent.com/540757/43091119-98210bb4-8ea9-11e8-9552-a6463c1892a7.png">
* Another solution that I know people use is to put the build number in the HTML, so it' reach

[2018-07-23 17:11] softwareklinic commented on #2074
The issue i'm seeing is with both FF and Chrome.. not just related to FF

[2018-07-23 18:18] quartex commented on #2104
Yes,
and then my answer :
how is possile different scans for the same site on a row (with the same watefall examined for a human) takes load time from 3  seconds to 219 seconds (and total scan time is more long)?
If I run the same series with another site I do not have the same variance .. and this is right.
If you get the same action with a browser directly in the same time with SIteSpeed with a

[2018-07-23 18:32] soulgalore commented on #2106
I pushed 7.2.3 just now. Thanks @omrilotan for fixing this so fast!!!

[2018-07-23 18:53] soulgalore commented on #2104
In your examples, if you check the waterfall (the HAR file) you should be able to see which asset that takes soo long time since the **Load: 212.37s** is the onLoad event that is fired when all requests/responses are done, or if you could share it?

To skip the video in Docker (sorry that isn't so obvios) you need to:
`--video false --visualMetrics false`

Best
Peter

[2018-07-24 02:48] Tangyiming opened #2111 "confuse about getting summary scores from influxdb"
![_20180724104435](https://user-images.githubusercontent.com/18328731/43113961-2312690e-8f2f-11e8-9b2a-a74564a496f5.png)
i want to get the four scores show in summary page from influxdb ,so i query with this:
`select * from score where category='Test_180724100930' and summaryType='summary'`

but there are two group of scores as below:

![_20180724104603](https://user-images.githubusercontent.com/1

[2018-07-24 07:15] soulgalore commented on #2111
Hi @Tangyiming sorry for the confusion. If I remember correctly we only send per domain/group to influxdb/graphite.  In the HTML I need to check, either we cheat and only show one of them (we don't have "multiple" domains level at the moment) or we have a total.

The idea we had from the beginning was that if you need stats from multiple domains in Graphite/InfluxDB you could calculate them yourse

[2018-07-24 07:21] Tangyiming commented on #2111
@soulgalore thank you for the explaination!
i will run test one domain one time 😄

[2018-07-24 07:21] #2111 closed

[2018-07-24 08:44] Svampen commented on #2102
Yes and also if it would be possible to extend/customize the data field in the event. For our example to have links directly to to GitHub commit and/or branch

Thanks for the info about the build number in the HTML, I will investigate that a bit too

[2018-07-24 11:18] quartex commented on #2104
Hi Peter,
I try this parameters but the load time is always not "deterministic"  from 3 to 200 seconds from different scans for www.fiat.it.
Do you have another suggestions for this type of problem ?

Thank you for your quickly support.

[2018-07-24 15:00] #2098 closed

[2018-07-24 15:00] #2100 closed

[2018-07-24 19:19] mdasifazhar commented on #2105
@soulgalore ,
Thank you for your support and guideline.
I'm closing the discussion as its not the issue with sitespeed.
I'm working with selenium team to get this fix.
Regards

[2018-07-24 19:19] #2105 closed

[2018-07-24 20:06] soulgalore commented on #2102
Ah I see! That is a really good idea, I've pushed a branch just now where you can append HTML to the annotation message (the link that today show Result X run(s)). I'll merge that ASAP, could you try it out before I release it?

You can test it with using our auto build container **sitespeedio/sitespeed.io-autobuild:latest**   with `--graphite.annotationMessage` - the message can be HTML so you co

[2018-07-24 20:16] soulgalore commented on #2104
Yes can you show me the HAR file from when you get 200 seconds? IMHO this sounds like a really slow 3rd party assets or a problem server side. Could you spot any request beeing really slow?

Best
Peter

[2018-07-25 10:07] quartex commented on #2104
Of course, running now using latest sitespeed with 2.63 and 212 and with har for 212 scan:

[2018-07-25 06:43:52] INFO: Versions OS: linux 4.9.87-linuxkit-aufs nodejs: v8.11.1 sitespeed.io: 7.2.3 browsertime: 3.2.3 coach: 2.0.6
[2018-07-25 06:43:52] INFO: Starting chrome for analysing https://www.fiat.it 1 time(s)
[2018-07-25 06:43:52] INFO: Testing url https://www.fiat.it iteration 1
[2018-07-25

[2018-07-25 11:11] quartex commented on #2104
Sorry , this is the har for the short response:
C:\Users\ganda>docker run --shm-size=1g --rm -v d:/:/sitespeed.io sitespeedio/sitespeed.io:7.2.3 https://www.fiat.it -b chrome --video -n1
Google Chrome 67.0.3396.99
Mozilla Firefox 61.0
[2018-07-25 11:09:26] INFO: Versions OS: linux 4.9.87-linuxkit-aufs nodejs: v8.11.1 sitespeed.io: 7.2.3 browsertime: 3.2.3 coach: 2.0.6
[2018-07-25 11:09:27] INFO: S

[2018-07-25 15:38] scabenga opened #2115 "Error on pageCompleteCheck"
Hi Guys,

I wonder if you can assist with this, i'm using the following code to stop a test:

`--browsertime.pageCompleteCheck "return (((Date).getTime() - window.performance.timing.loadEventEnd > 3000 ) && (document.getElementsByClassName("logo").length == 0 ))"`

The idea here is that it will return true once both conditions are met.

However i'm receiving the following error:

`TypeError: Path

[2018-07-25 16:24] soulgalore commented on #2115
Hi @scabenga best way to debug is to add the verbose flag, then you can check if all params in to sitespeed.io looks ok (all options will be in the log). You can add `-vv` and then you will get something like this in the log: ` ... VERBOSE: [sitespeedio] Config options ...`  with all the options logged.

In your case the the CLI handling doesn't understand when your string ends since you also use

[2018-07-25 16:30] soulgalore commented on #2104
Thanks! It looks like the page has some kind carousel on the page or what do you see when you check that 200s video?

The HAR also contain the visual progress and it looks like this:
<img width="1162" alt="screen shot 2018-07-25 at 18 26 40" src="https://user-images.githubusercontent.com/540757/43214053-711c86e8-9038-11e8-90be-aa371faa3d69.png">

If you run the test with Chrome and enable devtools

[2018-07-25 19:03] soulgalore opened #2117 "Add specific Graphite docs"
Today the Graphite docs are hidden in https://www.sitespeed.io/documentation/sitespeed.io/performance-dashboard/#configure-graphite but let us move all Graphite docs to its own section in the docs.

[2018-07-25 19:11] soulgalore commented on #2102
Released both of those in 7.3.0 just now.

[2018-07-25 21:03] soulgalore opened #2118 "Add tag support in Graphite"
In the current version, we use the (old) namespace structure for metrics. We should make it configurable to also add tags.

[2018-07-26 06:40] scabenga commented on #2115
Hi @soulgalore, many thanks for your reply.

I am using the verbose tag, however it errors right away.

`docker run --shm-size=1g --rm -v /Users/xxx/:/sitespeed.io sitespeedio/sitespeedio sitespeed.io/urls-1.txt --browsertime.viewPort 960x640 --browsertime.userAgent "Mozilla/5.0 (iPhone; CPU iPhone OS 10_0 like Mac OS X) AppleWebKit/602.1.38 (KHTML, like Gecko) Version/10.0 Mobile/14A5297c Safari/

[2018-07-26 07:30] soulgalore commented on #2115
So what did you see in the log where the *Config options* does the pageCompleteCheck look like how you configure it?

For me this works (except that the JavaScript that you configured for the complete check gives errors:
`docker run --shm-size=1g --rm sitespeedio/sitespeed.io:7.3.0 https://www.sitespeed.io --browsertime.viewPort 960x640 --browsertime.userAgent "Mozilla/5.0 (iPhone; CPU iPhone OS 1

[2018-07-26 07:48] Svampen commented on #2102
Nice. I will try to give it a try later today if I get the chance.

[2018-07-26 07:58] soulgalore commented on #2102
Cool, wait for 7.3.1 because of a bug ...

[2018-07-26 12:07] sureshkrishnaselvam opened #2119 "Unable to select a element from drop-down using Pre-Script"
Hi @soulgalore Thanks for all the support, I am facing a issue in selecting a element in dropdown say like selecting a state or city.
I have tried Select option, Document.getElementById but nothing worked out. When I run the Java/selenium script in local machine browser its working fine. When the same tried with sitespeed.io getting error.

Could you please help me to fix the issue

**Script:**
mo

[2018-07-26 15:00] scabenga commented on #2115
Thanks @soulgalore, i've resolved my issues and it is working as expected.

Apologies for waisting time.

[2018-07-26 15:01] #2115 closed

[2018-07-26 16:35] soulgalore commented on #2115
Np, great that it worked out!

[2018-07-27 05:38] quartex commented on #2104
Hi Peter,
thanks to you for long explain and the desire to understand this worst case (x100 on time)

Thanks a lot again for all

[2018-07-27 05:38] #2104 closed

[2018-07-27 07:39] soulgalore commented on #2104
Ok cool! :)

[2018-07-27 07:40] soulgalore commented on #2119
Hi @sureshkrishnaselvam in your code:
[code]
you have select and Select?

Best
Peter

[2018-07-27 07:42] soulgalore opened #2120 "Document navigation"
Today the user flow of how pre/navigation/post scripts work is not so clear. Let us fix that.

[2018-07-27 10:16] sureshkrishnaselvam commented on #2119
Hi @soulgalore thanks for the suggestion, I have tried the same and its getting Unexpected identifier.

**Script:**

      var Select = webdriver.Select;
      Select state = new Select(driver.findElement(webdriver.By.xpath("xxxx")));
      state.selectByIndex("1");

**Error Log:**

ERROR: Couldn't run pre/post script file: /sitespeed.io/finaldrop.js SyntaxError: Unexpected identifier
[2018-07-27

[2018-07-28 19:07] soulgalore commented on #2119
It looks like there are a couple of things that are the wrong syntax? Are you sure you are using the JavaScript version of Selenium (check out the docs here: https://seleniumhq.github.io/selenium/docs/api/javascript/module/selenium-webdriver/index.html) and not Java?

Best
Peter

[2018-07-30 07:18] #2117 closed

[2018-07-30 12:18] obihill opened #2122 "Error when trying to disable multiple plugins"
Hi,

I'm using the docker version of sitespeed, version 7.2.0 [running on my Mac OS], and it's working quite well.

However, I have an issue when trying to remove multiple plugins [following the instructions in the documentation]. When I run the code below:

[code]

I get the following error:

[code]

The reason I'm trying to disable these plugins is because I have a custom plugin that generates t

[2018-07-30 14:14] soulgalore commented on #2122
Hey @obihill ah sorry I think the documentation page is wrong, the --help option is right though:

[code]
This should work:
`docker run --shm-size=1g --rm -v "$(pwd)":/sitespeed.io -v "/path/to/my/custom/volume:/custom_vol" sitespeedio/sitespeed.io:7.2.0 http://www.anydomain.com --plugins.add /custom_vol/my_custom_plugin --plugins.remove html --plugins.remove harstorer --plugins.list -b chrome -n

[2018-07-30 16:39] Svampen commented on #2102
I've pulled in the 7.3.4 docker now and updated my script to use it, so I will try it out tomorrow with the new flags

[2018-07-31 19:46] soulgalore commented on #2102
Hi @Svampen let me update the docs. The easiest way (always) to get parameters with " or ' is to start with a " (that starts the String as the parameter in) and then inside the HTML always use '. That way the CLI tool we use now that it's one String that comes and will pass that into sitespeed.io.

So for example:
`--graphite.annotationMessage "Mobile_1022  <a href='https://github.com/***' target=

[2018-07-31 20:00] soulgalore commented on #2102
https://www.sitespeed.io/documentation/sitespeed.io/best-practice/#how-do-you-pass-html-as-a-cli-parameter

[2018-08-01 05:58] jayanathkarunarathna opened #2124 "How to control preScript execution before every url"
Hi,
I am using sitespeed.io to measure our application performance. It requires login before visiting urls. I have written preScript to login. But that preScript executes before each url which should not happen. Can you please guide me how to control this.  Following is the docker command and console out I got.
bold numbers are console outs for debugging.

docker run --shm-size=1g --rm -v "$(pwd)"

[2018-08-01 07:55] soulgalore commented on #2124
Hi @jayanathkarunarathna

I'm not sure I fully understand? Each time the browser test each URL (and each run per URL), the browser cache is cleared and the browser starts with a new session, you can see the flow here:
https://www.sitespeed.io/documentation/sitespeed.io/browsers/#how-does-it-work-behind-the-scene

So if you test multiple URLs, it will always run the preScript per run per URL. If yo

[2018-08-01 09:00] jkar9328 commented on #2124
hi @soulgalore
Thanks for the quick reply. My requirement was to test multiple pages of same application. That's why I had above requirement. I have overcome my issue by adding a postScript. Thank you again.

[2018-08-01 18:54] soulgalore commented on #2094
For step 1:
Make sure we can configure to use the hash in https://github.com/sitespeedio/sitespeed.io/blob/master/lib/core/resultsStorage/pathToFolder.js#L7-L28 and in https://github.com/sitespeedio/sitespeed.io/blob/master/lib/support/flattenMessage.js#L15 - I think that will do it? But want your input @tobli before I do anything.

[2018-08-06 11:54] Vickgrego opened #2125 "Running tests with a connectivity profile "3g" and "cable" gives the same result"
Hi!
I run sitespeed.io tests with config.json
`{"browsertime":{"browser":"chrome","iterations":1,"connectivity":{"profile": "cable" }}`
and another test with config.json
`{"browsertime":{"browser":"chrome","iterations":1,"connectivity":{"profile": "3g" }}`

The command is the basic one
` docker run --shm-size=1g --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io --config config.json url.txt `

[2018-08-06 11:56] Vickgrego commented on #2125
Full config.js file
`{"browsertime":{"browser":"chrome","iterations":1,"connectivity":{"profile": "cable" },"viewPort":"1920x1080","delay":"3000"},"crawler":{"depth":1}, "outputFolder":"output/1","utc":true,"webpagetest":{"key":"A.11111111111111111","connectivity": "Cable", "location": "Dulles"}}`

[2018-08-06 12:09] soulgalore commented on #2125
Hi @Vickgrego
the connectivity is only affecting if you run your test with Browsertime (the tool provided by sitespeed.io), for WebPageTest you need to configure it in the wpt config (I can show that later when I’m back on my computer).

For setting connectivity you need to either setup different docker networks or use throttle, I didn’t see anything of that in your config. The docs at https://www

[2018-08-06 12:28] Vickgrego commented on #2125
I run
`docker run --shm-size=1g --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io --config config.json url.txt`
Where config.json provided above.
And Browsertime metrics were the same for 3g and cable profile.

After implementing https://www.sitespeed.io/documentation/sitespeed.io/connectivity/  the metrics became different for 3g and cable.

I just don't get why I need provide `"connectivit

[2018-08-06 13:58] soulgalore commented on #2125
Ah I see. `"profile": "cable" ` is just the name, so we internally can use it for keys in graphite or friendly name when we display the connectivity setting. It isn't needed for actually setting the connection, you are right.  In older versions of sitespeed.io we changed the connectivity inside the container with tools like TSProxy or tc but they wasn't working correctly for us (so the naming is k

[2018-08-06 21:54] magimenon opened #2126 "TypeError: preScript.run is not a function"
I'm getting a typeError while running the below command.
docker run --shm-size=1g --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io:latest  --config config.json https://www.diverchev.com --preScript test.js

ERROR: TypeError: preScript.run is not a function
    at Iteration.run (/usr/src/app/node_modules/browsertime/lib/core/engine/iteration.js:105:25)
    at <anonymous>
    at process._tick

[2018-08-07 04:25] soulgalore commented on #2126
HI @magimenon without your preScript it is super hard to know what's wrong, is it possible for you to include it? Have you followed the examples at https://www.sitespeed.io/documentation/sitespeed.io/prepostscript/#debuglog-from-your-script ?

Best
Peter

[2018-08-07 12:36] soulgalore opened #2127 "Add possibility to add alias for URL from the command line"
This will also make it possible to use the functionality directly from a config.json.

[2018-08-07 18:15] soulgalore commented on #2125
I've updated the docs and the cli-help, the cli help and config section (auto-generated) will pop up at next release.

[2018-08-07 18:15] #2125 closed

[2018-08-07 23:47] magimenon opened #2128 "Sending metrics to graphite"

[2018-08-07 23:48] #2128 closed

[2018-08-07 23:49] magimenon opened #2129 "Send Metrics to Graphite"

[2018-08-07 23:50] magimenon opened #2130 "Getting error while sending metrics to graphite"
I'm trying to send the metrics to graphite. I followed the below documentation: https://www.sitespeed.io/documentation/browsertime/graphite/

I can the below command - docker run --shm-size=1g --rm -v "$(pwd)":/browsertime-results sitespeedio/browsertime:3.3.0 --video --visualMetrics  --resultDir ~/tmpDir  https://www.sitespeed.io/ -n 5

After running 5 interations I get a message in my console Wr

[2018-08-07 23:50] magimenon commented on #2130
I'm trying to send the metrics to graphite. I followed the below documentation: https://www.sitespeed.io/documentation/browsertime/graphite/

I can the below command - docker run --shm-size=1g --rm -v "$(pwd)":/browsertime-results sitespeedio/browsertime:3.3.0 --video --visualMetrics  --resultDir ~/tmpDir  https://www.sitespeed.io/ -n 5

After running 5 interations I get a message in my console Wr

[2018-08-08 05:56] soulgalore opened #2131 "InfluxDB error on dashboard.sitespeed.io - unable to parse … invalid boolean"
We got errors on dashboard.sitespeed.io sending metrics to influxdb:

`2018-08-08 02:24:58] ERROR: Error: A 400 Bad Request error occurred: {“error”:“unable to parse … invalid boolean”`

Check the full message: https://gist.github.com/soulgalore/c4811c536bc9d873ceafa1341c51115f

[2018-08-08 06:09] soulgalore commented on #2130
Hi @magimenon
when you run Docker all files are created within the Docker container. To get the files out of Docker, you can then mount volumes from your host OS to the Docker container. That is what you do with `-v "$(pwd)":/browsertime-results ` - It means that you map your current dir (pwd) to the /browsertime-results folder inside of the container. So everything inside the container inside of

[2018-08-08 08:33] soulgalore commented on #2131
Fixed with https://github.com/sitespeedio/sitespeed.io/commit/102472867fcd31e21ff6c27eb3b696b36ed11d0b

[2018-08-08 08:33] #2131 closed

[2018-08-08 11:26] jtcosta opened #2132 "Unhandled rejection TypeError: Cannot read property 'SpeedIndex' of undefined"
Hello,

Trying to put the logs and the line of execution from my jenkins instance...

docker run --rm --shm-size=1g -v /sitespeedio:/sitespeed.io sitespeedio/sitespeed.io URL --speedIndex --graphite.host=graphiteHost --outputFolder output/ -n 3 -d 2 -m50 --basicAuth x@x
Google Chrome 68.0.3440.75
Mozilla Firefox 61.0
[2018-08-08 10:06:54] INFO: Versions OS: linux 4.15.0-29-generic nodejs: v8.11.1

[2018-08-08 12:09] soulgalore commented on #2132
Hi @jtcosta thanks for submitting the issue!

Hm I wonder, it looks like the Visual Metrics isn't created for one URL, can you see if that happens for one specific URL (if you check earlier in the log)? That should also be other errors in that case. We can make sure we catch the error better but I want to fix the original issue.

Best
Peter

[2018-08-08 12:16] jtcosta commented on #2132
Hello again,

ERROR: Error: Command failed: /usr/src/app/node_modules/browsertime/vendor/visualmetrics.py --dir /sitespeed.io/output/pages/baseurl/category/page/data/video/images/3 --video /sitespeed.io/output/pages/baseurl/category/page/data/video/3.mp4 --orange --perceptual --force --startwhite --renderignore 5 --json --viewport -q 75

ffmpeg version 4.0-static https://johnvansickle.com/ffmpeg/

[2018-08-08 12:20] soulgalore commented on #2132
Yeah, it seems like Visual Metrics fails, but I need the original video to be able to recreate the problem. Usually, this happens when you run without setting any connectivity https://www.sitespeed.io/documentation/sitespeed.io/connectivity/ ... somehow the site loads too fast or we do something stupid with the video, however we should fix that but if you don't use any connectivity setting I recom

[2018-08-08 12:37] jtcosta commented on #2132
Ok will set the connectivity - thank you for the fastest reply ever! 👍

[2018-08-08 16:10] magimenon commented on #2130
Thanks for the explanation. I tried creating the resultDir tmp but still not luck when I run the below command:
echo "browsertime.your.key.SpeedIndex.median" $(cat /tmpDir/browsertime.json | jq .statistics.visualMetrics.SpeedIndex.median) "date +%s" | nc -q0 my.graphite.com 2003

I still see the same error:
cat: /tmpDir/browsertime.json: No such file or directory
nc: invalid option -- q
Try `nc --

[2018-08-08 18:53] soulgalore commented on #2130
Hey @magimenon yes I think the default netcat (nc) on Mac miss -q feature (how long time to wait for stdin before quitting). You can just try without it. I think the example is from Ubuntu. If you want to run Browsertime continuously you probably wanna set it up on a standalone Linux machine.

Best
Peter

[2018-08-09 10:58] soulgalore opened #2134 "Detailed and summary page show wrong metrics if you test on multiple domains"
This is an annoying bug:
If you test multiple domains: `sitespeed.io https://www.aftonbladet.se https://www.expressen.se` the [detailed summary page](https://examples.sitespeed.io/7.x/en.wikipedia.org/2018-06-27-05-33-14/detailed.html) and the [summary page](https://examples.sitespeed.io/7.x/en.wikipedia.org/2018-06-27-05-33-14/index.html) show the content from the last tested domain instead of me

[2018-08-09 18:15] soulgalore commented on #2134
Fixed in 7.3.6.

[2018-08-09 18:15] #2134 closed

[2018-08-10 09:53] primehaxor opened #2136 "Wait for background requests"
Hello,

  We are trying to collect metrics in one specific application, the page receive some inputs and move to a next screen with a message "We are processing your request", but the test ends in this screen, it wasn't able to recognize that has more things happening in the background before consider the test as a finished. Just to make sure I was testing with our previous tool and this behavior

[2018-08-10 10:02] soulgalore commented on #2136
Hi @primehaxor thanks for creating the issue! You can choose when to end your test with `--pageCompleteCheck` see https://www.sitespeed.io/documentation/sitespeed.io/browsers/#choose-when-to-end-your-test

By default the tests ends 2s after the onload has happens, but we also have another prepared config that you turn on with `--pageCompleteCheckInactivity` - then we wait for 5 s of no request end

[2018-08-10 14:32] montells opened #2137 "Deeper documentation for differents Criterias"
How is the tool for calculating the ratio for drawing red, yellow or green the indexes? I want to know what numbers I need to reach for having in green the different indexes?
    • Fast Render advice
    • Optimal CSS size advice
    • Image size (transfer)
    • CSS size (transfer)
    • Javascript size (transfer)

[2018-08-10 20:30] soulgalore commented on #2137
Hey @montells thanks for creating the issue! Yes we lack documentation for that, I'll add a doc section asap, still in vacation for a while though, see https://github.com/sitespeedio/sitespeed.io#vacation-july---august.

For all the scores the rules are like this <80 red, <80<90 yellow and >=90 green. And the scores are calculated in the Coach ([here](https://github.com/sitespeedio/coach/blob/mast

[2018-08-10 20:59] soulgalore commented on #2120
Documented https://www.sitespeed.io/documentation/sitespeed.io/browsers/#how-does-it-work-behind-the-scene

[2018-08-10 20:59] #2120 closed

[2018-08-13 09:08] Tangyiming opened #2138 "Missing other url's Detail Page Summary"
Hi,Dear @soulgalore
![image](https://user-images.githubusercontent.com/18328731/44022655-ca079716-9f1a-11e8-911a-1c21448d114a.png)
As you can see, i tested 3 urls.
So when i check out each url's Page Summary,the report always shows THE LAST URL‘S Page summary Report , is this a bug?
and i also checkout the html report folder  xx/pages/seal.uat1.rs.com/data/video/
![image](https://user-images.githu

[2018-08-13 15:18] montells commented on #2137
Thanks a lot, Peter:

Your answer is very clear and helpful to me. [thumb up]

Best Regards,

Montells

On Friday, August 10, 2018, Peter Hedenskog <notifications@github.com>
wrote:

--
Michel Sánchez Montells

[2018-08-14 11:04] Tangyiming commented on #2138
today i updated to the version 7.3.6 and test again. but got the error the same as #2087

`18:39:26 + docker run --shm-size=1g --rm -v /home/workspace:/sitespeed.io sitespeedio/sitespeed.io:7.3.6 --preScript preScript.js --config config.json --influxdb.tags category=seal-h5_20180814183036 --mobile false --browser chrome -n 3 --connectivity native --viewPort 1366x708 --video true --outputFolder ./t

[2018-08-14 11:32] Tangyiming commented on #2091
@soulgalore hope hash routes can be tested by sitespeed in next update

[2018-08-14 12:28] Tangyiming commented on #2138
hope sitespeed can support hash routes soon,thank you @soulgalore

[2018-08-16 08:33] Icecold777 opened #2139 "Set performance budget to each URL"
Hi there,

In scope of testing integrated in CI/CD process I have to test several URLs generating single HTML report. Those pages has absolutely different page load time making performance budget useless.

I propose to enhance performance budget functionality applying it to each URL specified. In other case default values will be used.
e.g.

[code]
Please let me know if it makes sense or there are

[2018-08-16 18:08] soulgalore commented on #2137
Perfect, I'll close this for now then.

[2018-08-16 18:08] #2137 closed

[2018-08-16 18:09] soulgalore commented on #2091
Yep lets see when we can make #2094 happen, I want to spend some time with @tobli first before we do any changes though, see https://github.com/sitespeedio/sitespeed.io#vacation-july---august

[2018-08-16 18:12] soulgalore commented on #2138
@Tangyiming thanks for sharing exactly how you run, that helps a lot! I was of the impression that it would work as long as you set a name/alias per URL but then I understand that we still link to the same page then? I'll test this again ASAP (after the weekend).

Best
Peter

[2018-08-16 18:18] soulgalore commented on #2139
Hi @Icecold777
if I remember correctly we simplified this and implemented only per run and not per URL ... that maybe was to simplify it too much.

I think the only workaround at the moment is to have multiple budget files and start sitespeed.io per URL.

Best
Peter

[2018-08-20 13:26] amic81 opened #2140 "Metrics - onLoad field value"
Hi,

I generated the file with the list of metrics, but I can not find the value of the **onLoad** metric in the waterfall. Is it not present or is it identified in another way?

Thank you

[2018-08-21 07:07] #2132 closed

[2018-08-21 07:17] jtcosta opened #2141 "TypeError: The header content contains invalid characters"
Hello,

docker run --rm --shm-size=1g --network=cable -v /var/lib/jenkins/workspace/SiteSpeedio:/sitespeed.io sitespeedio/sitespeed.io https://website.com/ --basicAuth user@pass --speedIndex --video --graphite.host=graphiteHost --outputFolder output/ -n 3 -d 2 -m 50

Google Chrome 68.0.3440.75
Mozilla Firefox 61.0
[2018-08-21 07:10:38] INFO: Versions OS: linux 4.15.0-29-generic nodejs: v8.11.1 sit

[2018-08-24 06:56] soulgalore commented on #2141
Hi @jtcosta sorry for the late answer, seems to be something wrong with how we pass on basic auth to the crawler. Any chance you can share the URL so I can test and try to fix it? You can email me the URL if that's ok: peter[AT]soulgalore[dot]com

Thanks
Peter

[2018-08-31 11:02] Pe4enie commented on #1949
Hi @soulgalore, sorry for taking so long to answer. This error doesn't appear anymore, but I do have the same issue as described [here](https://github.com/sitespeedio/sitespeed.io/issues/2062) now. Only for runs with a 'login' preScript

[2018-09-01 15:42] mani619cash commented on #1707
I tried the above mentioned config but it didnt work.

[code]
`which google-chrome`
`/usr/bin/google-chrome`

[2018-09-01 17:16] soulgalore commented on #1707
@mani619cash did you try adding `--chrome.args no-sandbox`  ?

Best
Peter

[2018-09-02 17:10] soulgalore commented on #1949
ok @Pe4enie do you run with any [connectivity setup](https://www.sitespeed.io/documentation/sitespeed.io/connectivity/)?

[2018-09-02 17:12] Pe4enie commented on #1949
Hi @soulgalore, yes, I do run it with connectivity. Exactly same config as in the one you just linked.

[2018-09-02 17:13] soulgalore commented on #1949
ok thanks @Pe4enie . And the problem is the exactly "Invalid duration specification for ss: NaN"? Just wanted to be 100% sure :) Thanks.

[2018-09-02 17:25] Pe4enie commented on #1949
@soulgalore , just to make sure ran it right now, here's the output:
[code]

[2018-09-02 19:43] soulgalore commented on #1949
Thanks @Pe4enie ! Ok, something goes wrong when we try to determine the start of the video, is it possibel for you to share either the original video or the URL and setup so  I can test (easier to fix if I can reproduce). You can email me at: peter [AT] soulgalore [dot] com

Thanks!

[2018-09-03 11:50] Pe4enie commented on #1949
Hi @soulgalore , sent you all required information on an email.

Thanks!

[2018-09-05 03:06] Tangyiming opened #2143 "Specific method of calculating the score"
hi @soulgalore ,
could you tell me where i can find the specific method of calculating the score?
Thanks 👍

[2018-09-05 06:44] soulgalore commented on #2143
Hi @Tangyiming that happens in the Coach: https://github.com/sitespeedio/coach/tree/master/lib/dom and https://github.com/sitespeedio/coach/tree/master/lib/har/performance (parts are calculated running JS, the other from evaluating the HAR file). Let me know if you cannot find what you are looking for.

Best
Peter

[2018-09-05 07:11] Tangyiming commented on #2143
@soulgalore  that's what i want, thank you for your  answering 🥇 👍

[2018-09-05 07:11] #2143 closed

[2018-09-13 08:06] eserte opened #2145 "Make it possible to set browsertime.chrome.mobileEmulation.* options"
Currently it's not possible to overwrite the hardcoded `deviceName='iPhone 6'` (reason is that in `analyzeUrl()` in `plugins/browsertime/analyzer.js` `chromeIphoneEmulationOptions` containing the defaults comes after `btOptions.chrome`).

Additionally, it's also not possible to unset the default `deviceName`, and use other possibly conflicting mobileEmulation options like `userAgent` (if `deviceNa

[2018-09-13 08:11] soulgalore commented on #2145
Hi @eserte thanks for reporting! Any change you can do a PR? I was planning on pushing a new release of sitespeed.io tomorrow (with updated browsers) and we can probably just fix this first then.

Best
Peter

[2018-09-13 11:58] soulgalore commented on #2145
@eserte I've pushed a fix so we at least can change device name.

Workaround for the other is at the moment to not set --mobile, instead use viewport and user agent.

Best
Peter

[2018-09-13 22:57] createandcode opened #2147 "Slack messages not being received when resultBaseURL is set"
Hey guys,

strange issue for you!

When I run this:

`docker run --shm-size=1g --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io:7.3.6 https://sitespeed.io -n 1 http://sitespeed.commercegurus.com/speedreports --slack.hookUrl https://snip --slack.type summary`

I get a Slack message (webook address snipped above)

When I add a `resultBaseURL` as follows:

`docker run --shm-size=1g --rm -v "$(

[2018-09-14 05:52] soulgalore commented on #2147
Hi @createandcode thanks for reporting the issue!

Yep I checked the code and right now the Slack message isn't sent if you set a result URL and don't use s3/gc/ftp etc see:
https://github.com/sitespeedio/sitespeed.io/blob/master/lib/plugins/slack/index.js#L139-L162

Let me have a look and fix that.

Best
Peter

[2018-09-14 06:28] soulgalore commented on #1949
Hey @Pe4enie I've just pushed 7.4.0 that includes the fix. It works for me now ... but let keep this open until you have time to confirm that it works for you. Thanks again for sharing the full setup, that helps so much!!

Best
Peter

[2018-09-14 07:01] soulgalore commented on #1826
It looks like Grafana will support this in the next release (or it will sooon be merged).

[2018-09-14 07:47] eserte commented on #2145
If I do so, then the sitespeed result pages show the "... runs with desktop profile ..." text instead of "mobile profile" --- which is at least confusing. It's also not clear if `--mobile` enables some other mobile emulation features in the browser.

[2018-09-14 09:36] createandcode commented on #2147
ah ok thanks @soulgalore ! I suspected it was a bug but wasn't sure. If I configure s3 will it work in 7.3.6?

[2018-09-14 10:28] soulgalore commented on #2147
Yes that will work.

[2018-09-14 12:43] pats commented on #1464
Nope, full path on windows doesn't work. Neither of these method works. I've tested -v /c/Users(....):/sitespeed.io  , -v c:/Users ... :/sitespeed.io, same goes to "%cd%" etc.

[2018-09-14 13:02] pats commented on #1813
Nope, unfortunettly, neither of options doesn't work. -v C:/Absolutepath:/sitespeed.io doesn't work

[2018-09-14 17:46] soulgalore commented on #2145
Yeah I see your point. I think the only way to get it right at the moment is to use Firefox.

[2018-09-14 17:49] soulgalore commented on #1464
@pats can you share some more info (versions etc)? The example in the docs doesn't work for you? https://www.sitespeed.io/documentation/sitespeed.io/installation/#windows

Best
Peter

[2018-09-18 05:37] Pe4enie commented on #1949
Hey @soulgalore, had few successful full runs without any issues now. Thank you!

[2018-09-18 08:42] litterbugkid commented on #1863
@soulgalore Thanks for that. Does this mean that if the docker is torn down after all 'work' has completed, we're deleting the logs too?

[2018-09-18 11:44] soulgalore commented on #1863
hey @litterbugkid sorry I'm a little slow today, how do you mean? You run sitespeed.io inside your own Docker or? Can you show?
Thanks
Peter

[2018-09-19 20:41] tomthedude opened #2149 "Some test takes over 10 minutes for 1 trip, any ideas?"
Hello guys,
i am using ubuntu 16 vps, but running docker, system have 4 cpu and 10 ram, should be enough for just 1 test.
some websites it takes around 1.5 for a trip of collecting data (i use only 1 trip every time)
some trips take over 10 minutes even though the site actually gets loaded after 1 min tops.
it keeps running 3 instances of chrome for 1 test, also FFMPEG is taking up a lot of proces

[2018-09-20 05:50] soulgalore commented on #2149
Hey @tomthedude
it's not obvious but to fully remove the video you need to disable getting visualMetrics too.

[code]
The wording there isn't optimal, lets change that to the next release. So to fully exclude using ffmpeg add `--video false --visualMetrics false`.

In your example the last visual change is 130.17s = 2 minutes, then the video will be quite large so it takes a lot of processing. I a

[2018-09-20 12:19] tomthedude commented on #2149
yeah, that was probably the the issue, here is the command with --visualmetrics false and the result (over all test time went down from 10 minutes to 2 minuts~ :) ):
:~# docker run --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io https://ynet.co.il -n 1 --video false --visualMetrics false
Google Chrome 69.0.3497.81
Mozilla Firefox 62.0
[2018-09-20 12:11:10] INFO: Versions OS: linux 4.4.0-11

[2018-09-21 10:51] capearlman opened #2151 "browsertime basic authentication not working through Apache 2.4"
Hello!

I am having trouble getting basic auth to work with our setup. We have a couple applications sitting behind HTTPD (Apache 2.4) that we are tying to run sitespeed against. Here is the command I am running:

`docker run --shm-size=1g --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io:7.4.0  --basicAuth XXX@XXX https://mytestingurl`

The result of running this is always sitespeed being p

[2018-09-21 10:58] soulgalore commented on #2151
Hey @capearlman if you check the video/sceenshot what do you see (do you get a video)?

I've tested basic auth at httpbin and that seems to work for me:
`docker run --shm-size=1g --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io:7.4.0 --basicAuth user@passwd https://httpbin.org/basic-auth/user/passwd`

I can see in the screenshot that I get to the final page.

Best
Peter

[2018-09-21 13:22] capearlman commented on #2151
Hi @soulgalore, thanks for the quick response!

The video shows our login page. I should justify that the URL I am testing against goes deeper than https://mytestingurl and we should never see that login page. Please let me know what other info might help.

--Chris

[2018-09-21 14:30] capearlman commented on #2151
I should also add that it doesn't seem that sitespeed/browsertime is passing up an authorization header. Doing a tcpdump over port 80 and comparing the curl call with the sitespeed call; the curl call includes an authorization header and sitespeed does not.

[2018-09-21 16:20] soulgalore commented on #2151
Hmm could it be the username/pw that causes some problems? If you try the same I showed you, does that work for you:

`docker run --shm-size=1g --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io:7.4.0 --basicAuth user@passwd https://httpbin.org/basic-auth/user/passwd` ?

https://httpbin.org/basic-auth is behind basic auth and you choose the user/password yourself.

Is this the exact parameter

[2018-09-22 00:34] tomthedude opened #2153 "saving --preURL test metrics"
Hello,
I was wondering why when i use --preURL, the results that are exported to json files are only for the second address, after the cache was filled. but from what i see it does make test and take metrics on the preURL as well, so why not save them anywhere? could be useful .
because now if i want to know the difference between cache and no cache i have to run a test with --preURL and then a te

[2018-09-24 09:51] primehaxor commented on #2136
Just a heads up, I was able to collect the metrics in our search page, the solution was the use of `--browsertime.pageCompleteCheck` with a custom javascript to monitor for an element.

[2018-09-24 09:56] primehaxor opened #2154 "multiple paths in the grafana query"
Hello,

  I have more than one path/uri to check on the same page, during the tests locally I can see both being populated in the path menu, now I can't see in the production data, i'm unable to see multiple paths in the grafana dashboard, but i can see it in the graphite as well, maybe it can take some time to scrape this new data?

[2018-09-24 10:45] primehaxor commented on #2154
nvm, it was a misunderstanding on my part, it took 1 hour to see this new data.

[2018-09-24 11:14] raman26192 opened #2155 "Can we use java with selenium to write pre/post script while using sitespeed in docker"

[2018-09-24 12:08] soulgalore commented on #2155
No you need to use the NodeJS version of Selenium see https://seleniumhq.github.io/selenium/docs/api/javascript/index.html

[2018-09-24 12:08] #2155 closed

[2018-09-24 12:09] soulgalore commented on #2154
so does it work for you, can close the issue, I didn't fully understand :)

[2018-09-24 12:34] #2154 closed

[2018-09-25 12:35] capearlman commented on #2151
Yes, that works for me. I obviously think it's an issue with how our environment is set up (Apache and the application). I just assumed if I can use curl successfully with basic auth, then sending basic auth up with sitespeed should work as well. The authorization header seems like the only outlier here. Is there a reason sitespeed does not send up this header when using basic auth?

[2018-09-25 21:32] Giners commented on #2091
Hi @soulgalore,

Just learned about sitespeed and am really excited to try to get it working. I believe I am running into this problem. I just wanted to:
1) Confirm I am having the same problem
2) If so, when is an ETA on a fix

In terms of confirmation Im looking to test a page with a URL of `https://mysite.com/index.html#/foo/bar` and am trying to login via a pre-script that accesses the login p

[2018-09-26 06:40] soulgalore commented on #2091
Hi @Giners perfect, it's always good to confirm (and it helps us too).

Yep it looks like that. The error is fixed in latest Browsertime but we haven't released sitespeed.io yet. Or it's actually two problems: 1. The error you got (that is fixed in Browsertime) 2. In Chrome navigating in Chrome in some circumstances doesn't generates a new page in the HAR file (that is not fixed in master release

[2018-09-26 18:18] Giners commented on #2091
Using the `-b firefox` option worked. Thanks Peter.

We are going to look to start measuring our production environment with this. We will focus on using Firefox while we get acclimated to sitespeed.io and be on the look out for the 7.5.0 release.

[2018-09-27 11:11] capearlman commented on #2151
I can confirm that if I put the basic auth header into the sitespeed run it works:

-r "Authorization:Basic xxxxxxxxxxxxxxxxxxxxxx"

I just assumed that a basic auth header should be passed when sending basic auth (I could be wrong through).

[2018-09-27 12:40] soulgalore commented on #2091
Also @Giners if you could share two URLs that are public (and not behind any login) that would help me so I can make sure it works as it should peter [AT] soulgalore [dot] com.

Thanks :)

[2018-09-27 16:08] capearlman commented on #2151
Interesting. Yes, this might be the case. Referring to their [documentation](https://developer.chrome.com/extensions/webRequest#implementation) they provided from their code, and this section with inside that:

"The following headers are currently not provided to the onBeforeSendHeaders event"

The authorization header is part of that group (that is not sent up).

[2018-09-27 17:52] soulgalore commented on #2151
I wonder if it works with Firefox then maybe (if you can just switch with `-b firefox`). Any change you could share the URL with me (peter [at] soulgalore [dot] com) then I can have try at my end over the weekend.

Best
Peter

[2018-09-28 08:19] soulgalore commented on #2151
@capearlman I've changed so we send a basic auth request header instead of using the extension built in. It works for me (tm) and it would be great if you could test it before I merge it. Right now we set the basic auth for just that URL and I'm not 100% sure that's the best.

In a couple of minutes there will be a new Docker container ready for test:

`$ docker run --shm-size=1g --rm -v "$(pwd)":

[2018-09-29 20:14] sdjayna opened #2157 "Can't retrieve/find/enable browsertime.json raw metric results for loading into TSDB"
Running the following on macOS High Sierra (Docker 18.06.1)

`docker run --shm-size=1g --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io:7.4.0 https://www.sitespeed.io/`
`find . | grep json`

I would expect the raw .json from Browsertime to be available somewhere amongst the results. I can't find an option for the life of me to retrieve them (I want to feed the raw data into another TSDB).

[2018-09-30 05:29] soulgalore commented on #2157
Hi @sdjayna
if you just run Browsertime and map your current dir (`-v "$(pwd)":/browsertime-results`) you don't need to change the resultdir, just do:

`docker run --shm-size=1g --rm -v "$(pwd)":/browsertime sitespeedio/browsertime:3.5.0 https://www.sitespeed.io/` then your file will end up in **$(pwd)/browsertime/www.sitespeed.io/**.

If you want to skip the folder creation you can choose to writ

[2018-09-30 07:42] sdjayna commented on #2157
Thank you -- really appreciate it -- and thanks for a great project.

[2018-09-30 07:42] #2157 closed

[2018-09-30 16:18] handre opened #2158 "Measuring specific request triggered by selenium"
Firstly, I really got impressed by sitespeed capabilities when I first saw it, so thanks for such an amazing tool!

I would like to know if its possible to start measuring a specific javascript request triggered by selenium after the page is loaded.
I.e.
1. Load a "generic result" page
2. Change results filter that triggers XHR
3. Start sitepeed measuring

Thanks in advance!

[2018-09-30 16:32] soulgalore commented on #2158
Hi @handre thanks for the kind words!

It depends. You can use the --preScript to run your own Selenium scripts (https://www.sitespeed.io/documentation/sitespeed.io/prepostscript/) that will access the generic result page and do stuff there. Today the "Change results filter that triggers XHR" needs to be done by access the URL with specific parameters. At the moment you cannot choose how to naviga

[2018-10-02 08:53] ckhampus opened #2159 "Error: Failed to calculate min for stats"
Hi!
When running tests with `preURL` (or `preScript`) we get the following error:

[code]

We started getting this issue when we added a Service Worker to our site, and we had difficulty to reproduce it. But I have since managed to reproduce the issue in the following https://github.com/ckhampus/sitespeed-error-repro on this url: https://ckhampus.github.io/sitespeed-error-repro/

I used the follow

[2018-10-02 10:01] soulgalore commented on #2159
Hi @ckhampus wow 1000*thanks for taking the time to create an example to recreate the bug, that is so valuable!

I think there's a bug where we create the HAR from Chrome that sets one of the timings wrong. I'll work around that for now and just make that we even closer verify that all metrics are ok before we use them.

I'll merge the fix in master later today, then maybe you can try it out if yo

[2018-10-02 11:18] soulgalore commented on #2159
I've merged it now, in 10 minutes or so you can try it out by using
sitespeedio/sitespeed.io-autobuild

`docker run --shm-size=1g --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io-autobuild https://ckhampus.github.io/sitespeed-error-repro/ -b chrome --preURL https://ckhampus.github.io/sitespeed-error-repro/`

[2018-10-02 11:40] ckhampus commented on #2159
It works now 👍 Thank you for the quick response on this issue 😄

[2018-10-02 11:42] soulgalore commented on #2159
Perfect, we will release it in a couple of days. The 10th of October it is 6 years ago we released 1.0 so we want to do the next release around that date :)

[2018-10-02 11:43] ckhampus commented on #2159
Awesome! Looking forward to it 🎉

[2018-10-02 11:48] #2159 closed

[2018-10-02 16:38] capearlman commented on #2151
Hi @soulgalore,

I just tested this and it is working correctly and as I would expect it to.

Thanks!!

[2018-10-02 16:39] soulgalore commented on #2151
Perfect, thank you @capearlman for taking the time to test! It's merged in master of sitespeed.io and will be released in a couple of days.

Best
Peter

[2018-10-03 19:46] donwalling opened #2164 "npm install not working"
Per https://www.sitespeed.io/documentation/sitespeed.io/installation/#npm  I'm trying to install sitespeed globally using npm but its failing with the error below. Is this error expected? Docker works ok so far. Full log attached
[2018-10-03T19_41_50_031Z-debug.log](https://github.com/sitespeedio/sitespeed.io/files/2443566/2018-10-03T19_41_50_031Z-debug.log)

macOs High Sierra 10.13.6 (17G65)

dwa

[2018-10-03 20:01] soulgalore commented on #2164
Hi @donwalling does it work if you install something else from npm? It looks like permission issues on your machine (`gyp ERR! stack Error: EACCES: permission denied, mkdir '/usr/local/lib/node_modules/sitespeed.io/node_modules/sleep/build'`)?

Best
Peter

[2018-10-04 06:03] quartex opened #2165 "Google Tag Manager and Google Analytics"
Hi,
we are using the SiteSpeed 7.3.6 and the coach reports very often on real site scan

"The page is using Google Tag Manager, this is a performance risk since non-tech users can add JavaScript to your page." (with weight: 5 in the code)
or
"The page is using Google Analytics meaning you share your users private information with Google" (with weight: 8 in the code)

with 0/100 score

All the exce

[2018-10-04 07:17] soulgalore commented on #2164
Can you try to fix so you don't need to use sudo when installing with npm? There's a fix [here](https://stackoverflow.com/questions/16724259/npm-command-sudo-or-not) you can try.

Best
Peter

[2018-10-04 08:28] soulgalore commented on #2165
Hey @quartex
Google Tag Manager hurt the performance score, because of the risk that people will actually use it to add dependencies. The manager is a performance risk. So the Tag Manager itself doesn't hurt the performance (at least I don't think so but I haven't looked closely at it).

Where I worked before the Tag Manager was the marketing departments way of side step developers to push whateve

[2018-10-04 13:44] soulgalore opened #2167 "Video/screenshot missmatch on summary page"
The video and screenshot are hardcoded to use the first one, but the metric we show in metrics are picking the metrics from the median run. Worst case we can show one screenshot/video that isn't the same as the metrics. We should fix that so most of the data on the summary page uses the median run.

[2018-10-04 21:31] clsahu25 opened #2170 "Volume mount issue"
Hi Team,

Just started using site speed and facing an issue while using it. When I run site speed on my local its mounting the volume and I am able to see the reports.

However, when I run the same command through Jenkins slave, I am not able to archive the folder because of volume, not mount issue.

Below is the command which I am running on Jenkins slave

[code]
**"$(pwd)"/reports/sitespeed** do

[2018-10-04 22:03] donwalling commented on #1827
@soulgalore  has there been any additional thinking on this topic. We've just picked up sitespeed a few days ago, and made amazing progress using the pageCompleteCheck strategy mentioned above. But this will soon become a maintenance burden as we scale. We'd like to keep pageCompleteCheck lightweight as the simple timer that it is today, and use a different for driving the user flow.

What would m

[2018-10-05 01:15] idristarwala opened #2171 "How to get the advice.json from sitespeed.io run"
Hi ,

is it possible to obtain the advice.json file from a regular sitespeed.io run instead of doing the sitespeed.io/coach run ?

[2018-10-05 04:30] soulgalore commented on #2170
Hi @clsahu25
ok can you try to make the output folder absolute? Try
`--outputFolder /sitespeed.io/output` (since you are inside the container).

Best
Peter

[2018-10-05 04:32] soulgalore commented on #2171
Hi @idristarwala either you can enable to store all individual data from sitespeed.io with the analysisstorer plugin:
`docker run --shm-size=1g --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io:7.4.0 https://www.sitespeed.io --plugins.add analysisstorer` (i'll update the FAQ later today) or you can run the coach standalone https://github.com/sitespeedio/coach

Best
Peter

[2018-10-05 05:18] idristarwala commented on #2171
Thanks Peter , I found that in the docs right after I posted here.. I think whats missing in the docs is where all the data goes. For example part of the /data is in the data directory and other other half is in the /pages/data directory..

[2018-10-05 05:18] #2171 closed

[2018-10-05 05:26] idristarwala opened #2172 "passing proxy to coach"
Hi ,
I am currently behind a company firewall and trying to make site-speed work in our environment. Although I was able to make sitespeed to work using the following command

`docker run --shm-size=1g --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io:7.4.0 https://www.yahoo.com -n 1 --plugins.add analysisstorer --browsertime.proxy.http=xxx.xxx:yyyy --browsertime.proxy.https=xxx.xxx.com:yyyy

[2018-10-05 06:45] soulgalore commented on #2172
Hi @idristarwala I've just updated the documentation, the data for each page is stored in `$RESULT/data/pages/$PAGE/data` see https://www.sitespeed.io/documentation/sitespeed.io/best-practice/#i-want-a-json-from-browsertimecoach-other-tools-how-do-i-get-that

There you should have one coach file per run, and one coach.pageSummary.json file that is the summary for all run.

Best way to verify that

[2018-10-05 06:59] idristarwala commented on #2172
so you are saying that if browsertime data is correct with the proxy , then the coach data also has to be correct ?

[2018-10-05 06:59] soulgalore commented on #1827
Hey @donwalling not sure I follow 100%. Can you show me step by step how you mean?

Best
Peter

[2018-10-05 06:59] soulgalore commented on #2172
yep

[2018-10-05 08:01] quartex commented on #2165
ok thank you for your explain

[2018-10-05 08:01] #2165 closed

[2018-10-05 08:09] quartex opened #2173 "Domain name on Influxdb"
Hi,
we are using Influxdb to save scan report data and we have a problem on domain name because the saved value for domain is in IDN format (example edonè.com became xn--edon-8oa.com) and this is a problem for a Db to have a right order or search not using specific function in where clause.
The last db (Influxdb e Graphite too) can save the plain format without a problem.

Is it a bug or a or some

[2018-10-05 08:34] soulgalore commented on #2173
It needs to be behind a switch/cli flag so it is backward compatible. One way could be to just fix it for Graphite/Grafana probably somewhere in https://github.com/sitespeedio/sitespeed.io/blob/master/lib/support/tsdbUtil.js

[2018-10-05 08:47] quartex commented on #2173
Ok ... we try to find best solution and we want to use punycode.js library to fix it
Is it ok ?

[2018-10-05 09:10] mendaomn commented on #2173
Hey,

an idea would be to simply call `punycode.toUnicode(idn_encoded_url)` (or something similar), but I'm struggling to find where that line may go. Where is the "wrongly formatted" url in [that](https://github.com/sitespeedio/sitespeed.io/blob/master/lib/support/tsdbUtil.js#L19)?

Do you have any ideas?

[2018-10-05 12:31] soulgalore commented on #2173
Hey @mendaomn it's the group. The idea from the beginning was to call it "group" to be able to group URLs on other ways that domains but in practice we only group by domain so group is domain.

Best
Peter

[2018-10-05 12:34] soulgalore commented on #2170
Have you checked the Jenkins docs? I'm no Jenkins user but I remember that you have env variables that point out different dirs. In your example you use pwd (current dir) but that can be anywhere right? In our example https://www.sitespeed.io/documentation/sitespeed.io/continuous-integration/#setup we use $WORKSPACE but maybe it's better variables to use on the slave.

Best
Peter

[2018-10-05 15:05] clsahu25 commented on #2170
Hi Peter,

I checked every possible thing and I know where it should mount the volume. I put sleep time on my slave and tried with the find command to search reports and directories and there is no luck. I am using docker version 17 and I hope this is fine.

Any help is appreciated :)

Thanks,

[2018-10-05 15:12] soulgalore commented on #2170
Hi @clsahu25 are your agent also a Docker container? Have you tried something like this:

[2018-10-05 16:40] clsahu25 commented on #2170
Hi Peter,

It's working now. My jenkins slave is a docker container and inside that, site speed again a docker container. But now it's working through below steps

[code]
It's working for me now, and I am getting reports from Jenkins.

Thanks,
Chhannu

[2018-10-05 16:40] #2170 closed

[2018-10-05 18:52] donwalling commented on #2164
@soulgalore  I can install sitespeed using the prefix approach (using the second answer in the stackoverflow thread, since I don't agree with the first answer on shared machines). Closing this issue.

[2018-10-05 18:52] #2164 closed

[2018-10-06 22:02] soulgalore commented on #2127
Merged an coming in 7.5

[2018-10-06 22:02] #2127 closed

[2018-10-07 19:41] xanderstephens125 opened #2174 "Modifying Coach Locally"
Hi,

I am attempting to change some of the scoring in the Coach for our personal use case. I am able to build the standalone Coach docker image locally and get the information in the format I want. I am wondering how I would use this updated coach code and Docker image with the existing SiteSpeed repo. Where does the SiteSpeed Repo call the Coach repo?

Thank you

[2018-10-07 19:42] xanderstephens125 commented on #2174
@soulgalore

[2018-10-08 08:50] soulgalore commented on #2091
This will roll out in 7.5.0 later this week, please let me know if it works :)

[2018-10-09 04:01] donwalling commented on #2084
@soulgalore  proposed fix for this https://github.com/sitespeedio/browsertime/pull/646
Please let me know your thoughts

[2018-10-10 09:09] mendaomn commented on #2173
Alright, I'll put together a PR (:

[2018-10-10 09:13] Nuoky commented on #2091
Hi @soulgalore

I tried 7.5.0, there was no previous error, but another error occurred.

[code]

[2018-10-10 11:56] soulgalore commented on #2091
Hi @Nuoky thanks for getting back. I've fixed so it works with a preURL but then it's still a problem with preScript. I can also see that the firstVisualChange is wrong in your log, so there are more things that aren't working. Any chance you can share a full use case with me so that I can reproduce and fix it? peter [at] soulgalore [dot] com.

Best
Peter

[2018-10-10 13:54] sureshkrishnaselvam opened #2178 "Timeout loading page in Firefox browser."
@soulgalore I am facing issue in Firefox browser when I execute test from config.json file, but the same config.json file works fine for chrome browser. Do I need to change anything in configuration, can you please help me to find out the issue in this.

Here is the **config.json**,

{
  "browsertime": {
  "iterations": 1,
  "browser": "firefox",
  "visualMetrics" : true,
  "connectivity" :{
    "

[2018-10-10 15:19] xanderstephens125 commented on #2174
@soulgalore,

Thank you for the quick reply. So, if I pull the coach.js out of the dist folder from building Coach locally, can I place that somewhere in the sitespeed.io project in order to use that instead of pulling the centralized node module?

Thank you

[2018-10-10 15:57] soulgalore opened #2179 "Adopt coming budget.json"
There's a proposal in Lighthouse for a budget configuration setup that will be crossover between tools. https://github.com/GoogleChrome/lighthouse/issues/6053

We should adopt this since it will make it easier for users to define the budget ([today it is more work](https://www.sitespeed.io/documentation/sitespeed.io/performance-budget/)) and easier for users to change tools. Would be nice if some

[2018-10-11 08:43] sureshkrishnaselvam commented on #2178
Hi @soulgalore thanks for looking into this issue, even I too got the same error for mobile breakpoint. Its working for desktop breakpoint.

**TypeError:** Cannot read property '2' of null
    at FirefoxDelegate.onStopIteration (/usr/src/app/node_modules/browsertime/lib/core/engineDelegate/firefoxDelegate.js:58:33)
    at <anonymous>

**config.json:**

{
  "browsertime":{
    "iterations":1,
    "

[2018-10-11 08:54] soulgalore commented on #2178
@sureshkrishnaselvam I did a fix release yesterday 7.5.1 where that problem is fixed.

[2018-10-11 09:06] sureshkrishnaselvam commented on #2178
@soulgalore Thanks for the immediate fix, I am able to execute the test now in firefox, but getting error for chrome. Could you please help on this.

**Error Log:**
[2018-10-11 09:05:25] ERROR: TypeError: Cannot read property '_meta' of undefined
    at Object.processMessage (/usr/src/app/lib/plugins/browsertime/index.js:137:58)
    at <anonymous>

[2018-10-11 09:41] soulgalore commented on #2178
It looks like https://github.com/sitespeedio/sitespeed.io/issues/2091#issuecomment-428498331 ? Are you using a prescript? The problem there is that we don't create a new page object in the HAR from Chrome. I could probably fix that but I need reproducible code so I can fix and verify that it works. Can you help with that? We have a section in the documentation that can help: https://www.sitespeed.

[2018-10-11 11:02] Nuoky commented on #2091
Hi @soulgalore

The website I tested is not publicly available on the internet, so use other websites here as an example.

./selenium/hackernews.js
[code]

run
[code]

output
[code]

[2018-10-11 17:39] soulgalore commented on #2091
Thanks @Nuoky !! Thanks again for taking the time to make a reproducible case, I'll look into it asap.

Best
Peter

[2018-10-11 17:45] soulgalore commented on #2091
This is the minimal to reproduce in Browsertime:
`docker run --shm-size=1g --rm -v "$(pwd)":/browsertime sitespeedio/browsertime 'https://dvajs.github.io/dva-hackernews/#/show' --preScript ./hackernews.js -n 1 -b chrome --videoParams.keepOriginalVideo --chrome.collectPerfLog`

[2018-10-11 22:42] soulgalore commented on #2167
fixed in 7.5

[2018-10-11 22:42] #2167 closed

[2018-10-11 22:42] soulgalore commented on #2151
This is released in 7.5.

[2018-10-11 22:42] #2151 closed

[2018-10-12 07:12] soulgalore commented on #2091
@Nuoky Ok, I think I got a fix now. I've changed how we handle how we record the video and changed how we create the HAR from Chrome. I've pushed it to a branch in Browsertime, any chance you can try that with your real page so we know that it works before I move the code forward to a new release?

You can test it like this:
`docker run --shm-size=1g --rm -v "$(pwd)":/browsertime sitespeedio/brows

[2018-10-12 18:34] skhilko opened #2180 "Performance report is broken with sitespeed.io v7.5.x"
The new sitespeed.io v7.5.x is not working for me.

I use `sitespeedio/sitespeed.io:7.5.1` docker container.

Configuration file:
[code]

## Error
Getting this error at the end of the execution. The report file is broken.
[code]

[2018-10-12 18:54] soulgalore commented on #2180
Hi @skhilko
it looks like it's content related (=something on the URL that breaks), any chance you can show me which URL that gives the error? It's super helpful for us if you can make the bug reproducible see https://www.sitespeed.io/documentation/sitespeed.io/bug-report/#explain-how-to-reproduce-your-issue

I can see from the stack trace that it's a redirect that somehow causes the problem but i

[2018-10-15 09:28] soulgalore commented on #2091
Great @Nuoky I'be just released the changes in 7.6.0, hope it works for real this time.

[2018-10-16 03:54] Nuoky commented on #2091
I tried 7.6.2 and I can successfully output the result.

[2018-10-16 06:59] soulgalore commented on #2091
Perfect, lets close this now and hope that it will continue to work :)

[2018-10-16 06:59] #2091 closed

[2018-10-16 08:06] HackXiong commented on #2091
Hi soulgalore,
I tried 7.6.2 with multiple urls and there are 2 issues:
1. All the video is the same on each pages;
2. The <h5> title is the same(last one) on each pages.

Here is my result:
[https://onevmw-my.sharepoint.com/:u:/g/personal/qinh_vmware_com/EVW3NUD47UJBlA6QcS0FMf8BImkt35ouwpSqfW-KHNrkvg?e=tFd5DP](url)
Can you take look this? thanks.

[2018-10-16 08:51] soulgalore commented on #2091
Hi @HackXiong any chance you could open a separate issue + if you can share a little more on how you run your test so I best case can reproduce the issue?

Thanks
Peter

[2018-10-16 11:36] soulgalore opened #2181 "Page not created from Chrome on navigation with pre script"
See https://github.com/sitespeedio/sitespeed.io/issues/2091#issuecomment-430141618

[2018-10-16 11:46] soulgalore commented on #2091
Hi again @HackXiong I've open https://github.com/sitespeedio/sitespeed.io/issues/2181 for you. Has this ever worked? If you add the new --useHash to your cli param, it will work. Or are you using that already?

Best
Peter

[2018-10-16 20:50] marty90 opened #2183 "Not working on fresh ubuntu"
Hi, just installed sitespeedio with npm.
I have Ubuntu 16.04.5 LTS
Nodejs v8.12.0

I get the following error:
[code]

[2018-10-17 01:39] HackXiong commented on #2181
Hi soulgalore,

Thank you for your quick reply. I add the new --useHash to my cli param and Alias is OK. But I got a error: TypeError: Cannot read property '_meta' of undefined in one of the test url(total 4 url), strange, you can see from the logs.
Here is the detail:
CLI:
`docker run --shm-size=1g --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io:7.6.2 DxPress_stage_urls.txt --preScript ./

[2018-10-17 03:04] soulgalore commented on #2183
Hi @marty90 I wonder if this could be a temporary glitch in npm (seen that before)? Did you see anything more when you run `npm install`? Any chance you can try again?

Best
Peter

[2018-10-17 03:12] soulgalore commented on #2181
Hi @HackXiong thanks for sharing!

Yes that is a bug: I'll take care of the error better but the problem is that we don't take care of the navigation from Chrome and a page isn't created in the HAR (so there must be another case that we missed).

No, not at the moment. Here's docs that explains the flow: https://www.sitespeed.io/documentation/sitespeed.io/browsers/#how-does-it-work-behind-the-scen

[2018-10-17 10:02] scabenga opened #2184 "Chrome HAR - Bodies"
Hi Guys,

Please confirm if it is possible to get the request and response bodies in the HAR file when using Chrome?

I see that Firefox has the following flag --firefox.includeResponseBodies

Thanks!

[2018-10-17 10:03] soulgalore commented on #2184
Yep not at the moment, see https://github.com/sitespeedio/chrome-har/issues/8#issuecomment-430381519

Best
Peter

[2018-10-17 10:03] scabenga commented on #2184
Perfect, thanks @soulgalore

[2018-10-17 14:01] liranGlik opened #2185 "Backend request doesn't contains cookie when cookie configured in browsertime"
Hi,
I trying to use browsertime's cookie parameter in order to send all the requests with this cookie.
The problem is, when printing the request at the server side, I'm not getting the cookie information.

the config.json looks like this:

[code]
- i'm testing it locally (macOS)
- in my Node.js package.json using version `"^7.3.4"`
- browser: chrome Version 69.0.3497.100 (Official Build) (64-bit)

[2018-10-17 15:10] soulgalore commented on #2185
Hi @liranGlik but you see it in the HAR? Let me try to reproduce it tonight.
Best
Peter

[2018-10-17 16:43] soulgalore commented on #2185
Hi @liranGlik this seems to work for me:
`docker run --shm-size=1g --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io:7.6.3 https://httpbin.org/cookies -n 1 --browsertime.cookie apa=hepp`

Best
Peter

[2018-10-18 08:02] omrilotan commented on #2185
Found the issue with Liran: The option `browsertime.cacheClearRaw` cleared the cookies set previously.
Is this considered expected behaviour or would you consider a "fix" for this @soulgalore ?

[2018-10-18 08:06] soulgalore commented on #2185
Thanks @omrilotan then it is a bug, the extension (that both clear the cache and add the cookie) does things in the wrong order then. I'll make a fix for this later today. Sorry!

Best
Peter

[2018-10-18 08:11] soulgalore commented on #2185
I checked the code and that's the problem. For Firefox we do a promise.all on all things that need to be done in the extension (but that's wrong) we should of course clear the cache first. For Chrome we just use the old callbacks instead of promised. I wanna clean this up with the fix, so it will take some time. I'll start tonight.

[2018-10-18 08:13] omrilotan commented on #2185
Sounds good. LMK if you want help

[2018-10-18 08:31] omrilotan commented on #2185
Moving this issue to the extension repo https://github.com/sitespeedio/browsertime-extension/issues/12

[2018-10-18 19:00] soulgalore commented on #2185
I've pushed a new version in master, thank you @omrilotan for the fix!

[2018-10-19 18:24] skhilko opened #2186 "Multiple issues when trying to measure performance of landing page after login"
I can only reliably use sitespeed.io v7.2.1 with my setup. I'm not sure whether that's me doing something wrong or sitespeed.io is not handling my use case correctly. I appreciate any help!

I'm trying to measure the performance of the landing page the user is redirected to after submitting their credentials.

## Scenario
1. Navigate to https://domain/page/login/goHome (`preScript`)
2. Submit logi

[2018-10-19 20:14] soulgalore commented on #2186
Hi @skhilko
thanks for the report!

First I wonder about the wrong visual metrics: In [7.6.0](https://github.com/sitespeedio/sitespeed.io/blob/master/CHANGELOG.md#760---2018-10-15) I did a fix that removed the "white" screen between preScript and the actual tested page. Before it worked like this:
1. Run preScript
2. We removed the current HTML and made the background white.
3. The screen turn ora

[2018-10-19 22:14] skhilko commented on #2186
- The video from 7.5.2 starts with the white screen.
- The video from 7.6.3 starts with the page I'm doing the performance test, not the `preScript` one. After the landing page shows for a split second, it follows by a page reload. At that moment all visual metrics fire up at once.

If I understand correctly what happens, `preScript` detects that we're logged in via `return driver.wait(until.urlCo

[2018-10-22 06:16] soulgalore commented on #2185
Released this early this morning in 7.7.0! I'll close the issue but please let me know if you still have a problem.

[2018-10-22 06:16] #2185 closed

[2018-10-22 06:19] soulgalore commented on #2185
Released the fix in 7.7.0 early this morning, thank you again @omrilotan !

[2018-10-24 16:00] Icecold777 opened #2190 "Annotations issue [InfluxDB]"
Hi there,

Sitespeed 7.7.1
Grafana 5.3.0

Please shed some light on annotation mechanism of sitespeed 7.7.1
As I understand if I set --grafana.host it will send data to Grafana and I should use built-it annotations either if -grafana.host is not set old annotations way will be used (Influxdb events table).
but it seems that events table is not created no more even when -grafana.host is not set.
Pl

[2018-10-24 16:39] soulgalore commented on #2190
Hi @Icecold777
I think it's a bug then. InfluxDB should work as before. I did some refactoring and it must have gone wrong for Influx, let me have a look in a couple of hours.

For Grafana, it should work if you just change to Grafana as Data source. Have you looked at what it looks like for Grafana?
<img width="1078" alt="screenshot 2018-10-24 at 18 37 43" src="https://user-images.githubuserconte

[2018-10-24 18:12] soulgalore commented on #2190
@Icecold777 I've fixed two issues now. I wanna wait until I can verify that it looks ok on dashboard.sitespeed.io and then I'll push a release.

[2018-10-25 06:46] soulgalore commented on #2190
I've just released 7.7.2. It works there for me but please confirm that works for you too @Icecold777 and we can close this issue.

Best
Peter

[2018-10-25 08:29] Nuoky opened #2193 "clear "from memory cache" and "from disk cache" after prescript"
Hi @soulgalore

Is it possible to add a switch to clear the "from memory cache" and "from disk cache" caches after executing prescript?

Because most of the spa resources will be loaded and cached on the login page and the home page that automatically jumps after login.

This will not simulate a user entering the test page directly when they are logged in.

Thanks!

[2018-10-25 08:46] soulgalore commented on #2193
Hi @Nuoky do you use Chrome? I've seen people try to running without a cache, checkout for example https://github.com/sitespeedio/sitespeed.io/issues/1707 - could that help you (I haven't tried it myself).

Best
Peter

[2018-10-25 08:59] Icecold777 commented on #2190
Hi @soulgalore. Thank you for such quick response! It works now as before)

Best Regards.

[2018-10-25 10:34] soulgalore commented on #2190
Great!

[2018-10-25 10:34] #2190 closed

[2018-10-25 14:31] Dineshm90 opened #2194 "Error : "could not find url" when tried with option --browsertime.pageCompleteCheck"
Steps:
Pulled docker image sitespeed.io:7.7.2
Tired to run following command
no error is observed when tired with out the option --browsertime.pageCompleteCheck

- sitespeed.io:7.7.2

Attached screen shot for reference
![url not found](https://user-images.githubusercontent.com/16046720/47507833-974b8800-d890-11e8-8ec4-9ef853db0a21.png)

[2018-10-25 14:42] soulgalore commented on #2194
Hi @Dineshm90
so if I understand correctly:  the first red one, it looks like Windows is handling the CLI parameters differently (sitespeed.io tries to find a file instead of using the JS in the parameter. I just tested on my Mac and there it works. Have you tried using double instead of single quotes?

Best
Peter

[2018-10-25 15:03] Dineshm90 commented on #2194
@soulgalore

Thank you. I tired with double quotes and it worked fine.

[2018-10-25 15:03] #2194 closed

[2018-10-25 21:53] soulgalore commented on #2193
Hi @Nuoky also seen people tried with:
`--browsertime.chrome.args disk-cache-dir=/dev/null`

At the moment we clear the following caches: https://github.com/sitespeedio/browsertime-extension/blob/master/background.js#L184-L198  but that happens before preScript.

About the tab, I'm not sure exactly what you mean, can you show me some more?

Best
Peter

[2018-10-25 22:48] soulgalore opened #2195 "Implement support for Mac OS x dark mode"
We should give the CSS some love for www.sitespeed.io and implement a Dark mode: https://paulmillr.com/posts/using-dark-mode-in-css/

[2018-10-26 13:50] skhilko commented on #2186
I'll be happy to help! Thanks!

[2018-10-28 14:43] prem5192 opened #2196 "json output format"
I have been trying to get the sitespeed.io output in a JSON format/files instead of HTML files.
No output configuration available to obtain it when checked with sitespeed.io --help in command line interface.
Is there a way to obtain the result in json files instead of HTML files.

[2018-10-28 14:55] soulgalore commented on #2196
Hi @prem5192 checkout https://www.sitespeed.io/documentation/sitespeed.io/best-practice/#i-want-a-json-from-browsertimecoach-other-tools-how-do-i-get-that

Best
Peter

[2018-10-29 12:48] soulgalore commented on #1827
I've been rethinking this and started to try out a new implementation. Easiest is to do it by two steps. The first step would make it possible for people to measure one page (as today) but where you can run whatever selenium script you want (meaning you can test login to a page, add to your cart, clicking a popu and then move etc). This will be non breaking change and we could release it in the ne

[2018-10-29 20:05] donwalling commented on #1827
We're happy to help test. The first step described is what we're looking for. I haven't figured out how to implement, but will try to help in any way we can

[2018-10-29 20:51] soulgalore commented on #1827
@donwalling cool, I'll share the branch in this issue when I push it, I wanna discuss it with @tobli and @beenanner first.

[2018-10-30 19:28] idristarwala opened #2197 "lighthouse plugin results"
Hi Team,
I am evaluating the new lighthouse plugin which is added to the site-speed docker image, I am using the following command :-
docker run --shm-size=1g --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io:7.5.0-plus1 https://www.sitespeed.io/ --plugins.add analysisstorer
Could you help me figure out where the lighthouse results go ?

[2018-10-31 11:10] marty90 commented on #2183
Hi,
tried again on a different machine and I get the same output :(
Installed with:
[code]

[2018-10-31 19:31] soulgalore commented on #2197
Hi @idristarwala you will find in the data folder of the URL with the name **lighthouse.pageSummary.json** but there's one thing missing in the documentation. That Docker container (+1) has a default env setting so that both Lighthouse and GPSI runs automatically, but when you add another plugin, the default is removed. I'll update the docs later. You can just add the Lighthouse plugin and it will

[2018-10-31 19:46] soulgalore commented on #2183
Hi @marty90 let me try on AWS. I usually always use the Docker container (and haven't seen that failed when we create it).

Do you get an error for that module (sharp) when you run npm install?

Best
Peter

[2018-11-02 10:12] sureshkrishnaselvam opened #2198 "Clear text is not working in preScript"
@soulgalore I am executing prescript for clearing zip-code in text box and entering new zip-code but clear text is not working, can you please help me in this issue. Here is my script,

**Pre-Script:**
module.exports = {
    run(context) {
      return context.runWithDriver((driver) => {
        var cookie;
        return driver.get('https://XXXXXX')
          .then(() => {
            // we fetch

[2018-11-02 10:29] marty90 commented on #2183
Running without sudo made it work.
Thank You

[2018-11-02 10:30] marty90 commented on #2132
I'm having the same issue on browsertime, with Android test agents :(

[2018-11-02 11:39] soulgalore commented on #2132
Hi @marty90 could you please open a new issue, add as much info as possible so we can recreate and have a look!
Thanks
Peter

[2018-11-02 11:40] marty90 commented on #2132
Sure

[2018-11-02 11:45] marty90 opened #2199 "visualmetrics.py fails"
Hi,
I'm running browsertime (updated version from `git`) on Ubuntu 16, and collecting data from an Android emulated phone. The test works fine, but it fails in calculating visual metrics.
My command line `browsertime/bin/browsertime.js --visualMetrics -n 1 --chrome.android.package com.android.chrome https://www.repubblica.it`

And my output:
[code]

The output generated, including the video:
[2018

[2018-11-02 12:07] soulgalore commented on #2199
Hi @marty90 thanks for creating the issue!

Can you make one more run and add `--videoParams.keepOriginalVideo ` then the original video from the phone is kept, and I can use that to recreate the issue with visual metrics (and create an upstream issue).

Thanks
Peter

[2018-11-05 08:45] sureshkrishnaselvam commented on #2198
@soulgalore Can you please help me on this issue, I have tried all possible options. But still nothing worked out.

[2018-11-05 13:31] soulgalore commented on #2198
Hi @sureshkrishnaselvam checkout https://www.sitespeed.io/documentation/sitespeed.io/prepostscript/#debuglog-from-your-script

Use the log to check what happens + use the video to see what happens.

Best
Peter

[2018-11-05 19:16] thedaviddias commented on #987
@beenanner Any news / option from that feature?

[2018-11-06 12:11] zunjooo opened #2201 "Is it possible to see details of 404 pages inside Detailed Summary section of HTML report"
I think it would be a great thing to see details about 404 pages inside HTML report for URLs + inlinks and outlinks maybe also.
Is that an option in the moment right now? All I see for now is "404 responses" under Detailed Summary section in HTML report.

Here is a screenshot:

<img width="1196" alt="sitespeed" src="https://user-images.githubusercontent.com/22975725/48063414-3c395f80-e1c5-11e8-81b

[2018-11-06 14:14] soulgalore commented on #2201
Hi @zunjooo the 404 is responses for requests so it could be a missing image, font etc. The only way to see them today is to go to the HAR file and check it out in the waterfall. So you need to do an extra step. One way to do it could be to have a "error" summary for each run ... but there no easy way to link to it directly.

Best
Peter

[2018-11-07 09:54] zunjooo commented on #2201
Greetings,

I downloaded HAR file from one result of sitespeed.io test, and tried it on "G Suite Toolbox HAR Analyzer" and "Compare.sitespeed.io", but it seems it's not working right, the errors I get are:
On Compare site - "Cannot read property 'id' of undefined";
On G Suite Toolbox HAR Analyzer site - "Errors found when processing the HAR file: No log entries found in the file."

Best
Vanja

[2018-11-07 09:57] soulgalore commented on #2201
Hi @zunjooo
can you share the HAR file and how you run so I can try to reproduce?

Best
Peter

[2018-11-07 21:03] SowmyaMastaiah opened #2202 "Favicon coach score"
When executing sitespeed coach under performance advice -- "favicon" always has score "0" even though favicons are present on page. I tried to execute on many other URL's and faced same issue.

[2018-11-08 08:09] Nuoky commented on #2193
Hi @soulgalore

Sorry for replying so long.

It has now been confirmed that the problem is not caused by caching.

In the past version of bt (2.5.0) use driver.get (url) to open the test page, and after the 3.xx version use window.location to open the test page, using driver.get (url) is similar to browsing The new tab of the device opens the url. Using window.location runs the page within the cur